Repository oxc-project/oxc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @overlookmotel, @dunqing, @Boshen

clippy
  crates/oxc_linter/src/rules/eslint/prefer_spread.rs
Owners: none

oops
  crates/oxc_linter/src/rules.rs
Owners: none

oops
  crates/oxc_linter/src/rules.rs
Owners: none

style(traverse): fix indentation in codegen (#7475)
  crates/oxc_traverse/scripts/lib/walk.mjs
Owners: @overlookmotel

refactor(transformer/exponentiation-operator): correct comment (#7476)
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Owners: @overlookmotel, @dunqing

refactor(transformer/class-properties): safer use of `GetAddress` (#7474)
  crates/oxc_transformer/src/es2022/class_properties/class.rs
Owners: @overlookmotel, @dunqing

chore(coverage): update runtime.snap
  tasks/coverage/snapshots/runtime.snap
Owners: none

chore(deps): update rust crates (#7467)
  Cargo.lock
  deny.toml
Owners: none

refactor(transformer/class-properties): rename var (#7477)
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
Owners: @overlookmotel, @dunqing

docs(transformer/class-properties): document transform options (#7478)
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
Owners: @overlookmotel, @dunqing

feat(linter): add the eslint/no_duplicate_imports rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/snapshots/no_duplicate_imports.snap
Owners: none

feat(linter): add a config option to the no_duplicate_imports rule
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/snapshots/no_duplicate_imports.snap
Owners: none

feat(linter / no_duplicate_imports): change the rule category to "style"
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
Owners: none

feat(linter / no_duplicate_imports): add rules for the includeExports option
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
Owners: none

refactor(linte / no_duplicate_imports): improve code style and performances with clippy
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
Owners: none

reactor(linter / no_duplicate_imports): use only module_record instead of iterating on all AST nodes
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
Owners: none

feat(linter / no_duplicate_imports): fix last test cases and clean code
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
Owners: none

feat(linter / no_duplicate_imports): use with_labels instead of with_label to give more info
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/snapshots/no_duplicate_imports.snap
Owners: none

fix(transformer/class-properties): stop searching for `super()` in `TSModuleBlock`s (#7480)
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
Owners: @overlookmotel, @dunqing

fix(transformer/class-properties): transform `this` in static prop initializers (#7481)
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/static_prop.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/babel_exec.snap.md
Owners: @overlookmotel, @dunqing

refactor(transformer/class-properties): placeholder method for transforming private field assignment patterns (#7482)
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Owners: @overlookmotel, @dunqing

feat(linter): add the eslint/no_duplicate_imports rule (#7309)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/snapshots/no_duplicate_imports.snap
Owners: none

fix(language_server): calculate correct column when Unicode chars
  crates/oxc_language_server/src/linter.rs
Owners: none

fix(language_server): calculate correct column when Unicode chars (#7484)
  crates/oxc_language_server/src/linter.rs
Owners: none

chore(transformor): disable class properties transform (#7486)
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/tests/integrations/es_target.rs
  crates/oxc_transformer/tests/integrations/snapshots/es_target.snap
  napi/transform/test/transform.test.ts
Owners: @overlookmotel, @dunqing

chore(transformer): disable class properties transform from the target API (#7487)
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/tests/integrations/es_target.rs
Owners: @overlookmotel, @dunqing

release(oxlint): v0.13.2
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/CHANGELOG.md
  editors/vscode/package.json
  npm/oxlint/package.json
Owners: none

release(crates): v0.38.0
  Cargo.lock
  Cargo.toml
  crates/oxc/CHANGELOG.md
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/CHANGELOG.md
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_cfg/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_data_structures/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_ecmascript/Cargo.toml
  crates/oxc_estree/Cargo.toml
  crates/oxc_isolated_declarations/CHANGELOG.md
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_mangler/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_regular_expression/CHANGELOG.md
  crates/oxc_regular_expression/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  napi/transform/CHANGELOG.md
  napi/transform/Cargo.toml
  npm/oxc-parser/package.json
  npm/oxc-transform/package.json
  npm/oxc-types/package.json
  wasm/parser/package.json
Owners: @overlookmotel, @dunqing, @Boshen

release(crates): v0.38.0 (#7490)
  Cargo.lock
  Cargo.toml
  crates/oxc/CHANGELOG.md
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/CHANGELOG.md
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_cfg/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_data_structures/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_ecmascript/Cargo.toml
  crates/oxc_estree/Cargo.toml
  crates/oxc_isolated_declarations/CHANGELOG.md
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_mangler/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_regular_expression/CHANGELOG.md
  crates/oxc_regular_expression/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  napi/transform/CHANGELOG.md
  napi/transform/Cargo.toml
  npm/oxc-parser/package.json
  npm/oxc-transform/package.json
  npm/oxc-types/package.json
  wasm/parser/package.json
Owners: @overlookmotel, @dunqing, @Boshen

release(oxlint): v0.13.2 (#7489)
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/CHANGELOG.md
  editors/vscode/package.json
  npm/oxlint/package.json
Owners: none

fix(linter): fix `jsx_no_script_url` doc failed to build
  crates/oxc_linter/src/rules/react/jsx_no_script_url.rs
Owners: none

chore(Cargo.toml): remove `incremental = true` because it uses too much disk space
  Cargo.toml
Owners: none

feat(linter): add eslint/prefer-spread (#7112)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/prefer_spread.rs
  crates/oxc_linter/src/snapshots/prefer_spread.snap
Owners: none

refactor(prettier): Refactor IR related macros (#7491)
  crates/oxc_prettier/src/comments/print.rs
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/format/array.rs
  crates/oxc_prettier/src/format/arrow_function.rs
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/format/binaryish.rs
  crates/oxc_prettier/src/format/block.rs
  crates/oxc_prettier/src/format/call_arguments.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/class.rs
  crates/oxc_prettier/src/format/function.rs
  crates/oxc_prettier/src/format/function_parameters.rs
  crates/oxc_prettier/src/format/misc.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  crates/oxc_prettier/src/format/object.rs
  crates/oxc_prettier/src/format/statement.rs
  crates/oxc_prettier/src/format/template_literal.rs
  crates/oxc_prettier/src/format/ternary.rs
  crates/oxc_prettier/src/ir/builder.rs
  crates/oxc_prettier/src/ir/display.rs
  crates/oxc_prettier/src/ir/doc.rs
  crates/oxc_prettier/src/ir/mod.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/needs_parens.rs
  crates/oxc_prettier/src/printer/command.rs
  crates/oxc_prettier/src/printer/mod.rs
  crates/oxc_prettier/src/utils/document.rs
Owners: none

.github/CODEOWNERS:

# Default to project owner @Boshen

@Boshen

# Ignore lock files

Cargo.lock
pnpm-lock.yaml

# Crates

/crates/oxc_transformer @overlookmotel @dunqing
/crates/oxc_semantic @Boshen @dunqing
/crates/oxc_data_structures @overlookmotel
/crates/oxc_traverse @overlookmotel
/crates/oxc_isolated_declarations @dunqing
/tasks/ast_tools
