Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

perf: test with simple `is_reachabale` test.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

revert: last 2 perf commits.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/snapshots/no_unreachable.snap
Labels: A-linter

perf(transformer): faster checks if JSX plugin enabled
  crates/oxc_transformer/src/options/transformer.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

perf: use short circuting iteration.
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-semantic

improve(transformer): create `Atom` for react import source lazily
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

perf: test without closure.
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-semantic

deploy: f2113aea2737347a7a0f9daf0159dc8527a508bc
  assets/playground-BBWEJSX4.js
  assets/playground-D8xMNCbb.js
  playground/index.html
Labels: none

perf(transformer): faster checks if JSX plugin enabled (#3577)
  crates/oxc_transformer/src/options/transformer.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

feat(transformer/typescript): remove typescript ast nodes (#3559)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

feat(coverage): second transformer build does not print typescript (#3561)
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-codegen

feat(transformer/typescript): remove more typescript ast nodes (#3563)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-ast, A-transformer

feat(linter/jsdoc): Implement require-param rule (#3554)
  .typos.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/snapshots/require_param.snap
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter

improve(transformer): create `Atom` for react import source lazily (#3578)
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

ci: pass changelog to action-gh-release
  .github/workflows/release_oxlint.yml
Labels: none

Release oxlint
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/package.json
  npm/oxlint/package.json
Labels: A-cli, A-linter

chore: fix build-wasm command
  justfile
Labels: none

ci: fix release oxlint
  .github/workflows/release_oxlint.yml
Labels: none

ci: fix release oxlint
  .github/workflows/release_oxlint.yml
Labels: none

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

ci: fix tag push for release_crates
  .github/workflows/release_crates.yml
Labels: none

perf: remove implicit error path completly to test the performance.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
Labels: A-linter, A-semantic

perf: lower the allocations.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/pg.rs
Labels: A-linter, A-semantic

up(linter): add fixer for no-useless-spread
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/tester.rs
Labels: A-ast, A-linter

style: clippy fixes
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

fix: remove reference to Fix from doc comments
  crates/oxc_linter/src/context.rs
Labels: A-linter

cleanup
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
Labels: A-linter

deploy: 532510d7143b1c6010cf078cd158a8af17bc982d
  assets/playground-D8xMNCbb.js
  assets/playground-DBSpQNfw.js
  playground/index.html
Labels: none

update
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/span.rs
Labels: A-ast

up(linter): add fixer for no-useless-spread (#3583)
  crates/oxc_ast/src/span.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/tester.rs
Labels: A-ast, A-linter

fix: relax `unicode-id-start` version so user can decide which unicode version to use
  Cargo.toml
Labels: none

chore: format toml files
  cliff.toml
  oxc_release.toml
Labels: none

fix(traverse): do not publish the build script
  crates/oxc_traverse/Cargo.toml
  crates/oxc_traverse/build.rs
Labels: none

chore: only publish src
  crates/oxc_index/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
Labels: none

feat: add new rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
  crates/oxc_linter/src/snapshots/max_nested_describe.snap
Labels: A-linter

chore: crates should only publish src and examples directory
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_js_regex/Cargo.toml
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_macros/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_prettier/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_wasm/Cargo.toml
Labels: A-ast, A-prettier, A-transformer, A-linter, A-parser, A-codegen, A-semantic

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

ci: use personal access token to push tag
  .github/workflows/release_crates.yml
Labels: none

refactor(semantic): pass `Rc` by value (#3586)
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
Labels: A-semantic

refactor(linter): pass `Rc` by value (#3587)
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

refactor(transformer): remove dead code (#3588)
  crates/oxc_transformer/src/typescript/annotations.rs
Labels: A-transformer
