Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

refactor(transformer): pass `Rc`s by value (#3550)
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

fix(transformer): store `react_importer` in `Bindings` in JSX transform (#3551)
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

feat(linter/jsdoc): Implement require-param rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/snapshots/require_param.snap
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter

refactor(coverage): use code without meta options in TypeScriptSuite (#3552)
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_typescript.snap
  tasks/coverage/src/typescript.rs
Labels: none

feat(coverage/transformer): handle @jsx option (#3553)
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

improvement(semantic/cfg): better control flow for `WhileStatement`s. (#3451)
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-semantic

improvement(semantic/cfg): better control flow for `DoWhileStatement`s. (#3452)
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
Labels: A-semantic

improvement(semantic/cfg): better control flow for `ForStatement`s. (#3453)
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

feat(linter): add fixer for no-useless-fallback-in-spread rule (#3544)
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

feat(linter/jsdoc): Implement require-returns-type rule (#3458)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns_type.rs
  crates/oxc_linter/src/snapshots/require_returns_type.snap
Labels: A-linter

ci: update prepare release crates; regenerate the changelogs
  .github/workflows/prepare_release_crates.yml
  cliff.toml
  crates/oxc/CHANGELOG.md
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_sourcemap/CHANGELOG.md
  crates/oxc_span/CHANGELOG.md
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_traverse/CHANGELOG.md
  editors/vscode/CHANGELOG.md
Labels: A-ast, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

chore(coverage, transformer_conformance): print all AST whether or not they are Typecript AST
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

chore: update cliff.toml
  .github/workflows/prepare_release_crates.yml
  cliff.toml
Labels: none

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/CHANGELOG.md
  crates/oxc/Cargo.toml
  crates/oxc_allocator/CHANGELOG.md
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/CHANGELOG.md
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/CHANGELOG.md
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/CHANGELOG.md
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/CHANGELOG.md
  npm/oxc-parser/package.json
  wasm/parser/CHANGELOG.md
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

Update tasks/coverage/src/transformer.rs
  tasks/coverage/src/transformer.rs
Labels: none

chore(coverage, transformer_conformance): print all AST whether or not they are Typecript AST (#3556)
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

chore: regenerate changelogs
  apps/oxlint/CHANGELOG.md
  crates/oxc/CHANGELOG.md
  crates/oxc_allocator/CHANGELOG.md
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast_macros/CHANGELOG.md
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_index/CHANGELOG.md
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_sourcemap/CHANGELOG.md
  crates/oxc_span/CHANGELOG.md
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_traverse/CHANGELOG.md
  editors/vscode/CHANGELOG.md
  npm/oxc-parser/CHANGELOG.md
  npm/oxlint/CHANGELOG.md
  wasm/parser/CHANGELOG.md
Labels: A-ast, A-cli, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic

improvement(semantic/cfg): better `break` and `continue` flow. (#3462)
  Cargo.lock
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/context.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@break_from_a_label_in_global_scope.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@break_from_a_label_in_global_scope.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
Labels: A-linter, A-semantic

improvement(semantic/cfg): better CFG API (#3472)
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-linter, A-semantic

improvement(linter/react): use CFG for detecting cyclic subgraphs in `rules-of-hooks`. (#3454)
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
Labels: A-linter

improvement(semantic/cfg): better throw control flow. (#3473)
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

ci: prepare release oxlint
  .github/workflows/prepare_release_oxlint.yml
  .github/workflows/reusable_prepare_release.yml
  cliff.toml
Labels: none

Release oxlint
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/package.json
  npm/oxlint/package.json
Labels: A-cli, A-linter

Intro spellchecker:disable-line
  .typos.toml
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

ci: only run "update rules" when rules.rs changes
  .github/workflows/lint-rules.yml
Labels: none

ci: prepare release oxlint
  .github/workflows/prepare_release_oxlint.yml
  .github/workflows/reusable_prepare_release.yml
Labels: none

Fix perf?
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

Fix perf?: avoid format
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

Revert "Fix perf?: avoid format"
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

Fix perf?: Early return on diagnostic
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/snapshots/require_param.snap
Labels: A-linter

Revert "Fix perf?: Early return on diagnostic"
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/snapshots/require_param.snap
Labels: A-linter

Fix perf
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

chore: update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release Test
  test.md
Labels: none

Release Test
  test.md
Labels: none

Release Test
  test.md
Labels: none

Fix perf: use cache for regex
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

Release Test
  test.md
Labels: none

fix: program node CFG.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']
