Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-ast-tools, A-cfg, A-cli, A-editor, A-formatter, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking, A-isolated-declarations

feat(napi/parser): export visitor keys (#13927)
  .github/generated/ast_changes_watch_list.yml
  .github/workflows/ci.yml
  Cargo.lock
  napi/parser/README.md
  napi/parser/generated/visit/keys.mjs
  napi/parser/package.json
  napi/parser/scripts/visitor-keys.mjs
  napi/parser/src-js/index.mjs
  napi/parser/test/parse.test.ts
  pnpm-lock.yaml
  tasks/ast_tools/Cargo.toml
  tasks/ast_tools/src/generators/estree_visit.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/utils.rs
Labels: A-ast-tools, A-parser

feat(napi/parser): add AST walker (#13930)
  .github/generated/ast_changes_watch_list.yml
  napi/parser/README.md
  napi/parser/generated/visit/types.mjs
  napi/parser/generated/visit/visitor.d.ts
  napi/parser/generated/visit/walk.mjs
  napi/parser/package.json
  napi/parser/src-js/header.d.ts
  napi/parser/src-js/header.js
  napi/parser/src-js/index.d.ts
  napi/parser/src-js/index.mjs
  napi/parser/src-js/visit/index.mjs
  napi/parser/src-js/visit/visitor.mjs
  napi/parser/test/parse.test.ts
  napi/parser/test/visit.test.ts
  tasks/ast_tools/src/generators/estree_visit.rs
Labels: A-ast-tools, A-parser

feat(napi/parser): add `deserializeProgramOnly` deserializer function (#13940)
  napi/parser/generated/deserialize/js.mjs
  napi/parser/generated/deserialize/ts.mjs
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: A-ast-tools, A-parser

feat(linter/plugins): ESTree-compatible AST for JS plugins (#13942)
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/src-js/plugins/visitor.ts
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  apps/oxlint/test/compile-visitor.test.ts
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/basic_custom_plugin_multiple_rules/.oxlintrc.json
  apps/oxlint/test/fixtures/basic_custom_plugin_multiple_rules/test_plugin/index.js
  apps/oxlint/test/fixtures/estree/.oxlintrc.json
  apps/oxlint/test/fixtures/estree/index.ts
  apps/oxlint/test/fixtures/estree/test_plugin/index.js
  apps/oxlint/tsconfig.json
Labels: A-cli, A-linter

release(crates): v0.91.0 (#14000)
  crates/oxc/CHANGELOG.md
  crates/oxc_allocator/CHANGELOG.md
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast_macros/CHANGELOG.md
  crates/oxc_ast_visit/CHANGELOG.md
  crates/oxc_cfg/CHANGELOG.md
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_compat/CHANGELOG.md
  crates/oxc_data_structures/CHANGELOG.md
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_ecmascript/CHANGELOG.md
  crates/oxc_estree/CHANGELOG.md
  crates/oxc_isolated_declarations/CHANGELOG.md
  crates/oxc_mangler/CHANGELOG.md
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_napi/CHANGELOG.md
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_regular_expression/CHANGELOG.md
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_span/CHANGELOG.md
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer_plugins/CHANGELOG.md
  crates/oxc_traverse/CHANGELOG.md
  napi/minify/CHANGELOG.md
  napi/parser/CHANGELOG.md
  napi/transform/CHANGELOG.md
  npm/oxc-types/CHANGELOG.md
  npm/runtime/CHANGELOG.md
Labels: A-ast, A-cfg, A-transformer, A-minifier, A-parser, A-codegen, A-semantic, A-isolated-declarations

feat(linter/plugins): add `createOnce` API (#13944)
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/load.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/createOnce/.oxlintrc.json
  apps/oxlint/test/fixtures/createOnce/files/1.js
  apps/oxlint/test/fixtures/createOnce/files/2.js
  apps/oxlint/test/fixtures/createOnce/test_plugin/index.js
Labels: A-cli, A-linter

Revert "ci(release): use the `cargo publish --workspace` directly (#13943)"
  .github/workflows/prepare_release_crates.yml
  .github/workflows/release_crates.yml
Labels: none

DEMO: break tsdown
  apps/oxlint/src-js/index.ts
  apps/oxlint/tsdown.config.ts
Labels: A-cli, A-linter

DEMO: fix tsdown
  package.json
  pnpm-lock.yaml
Labels: none

DEMO: break tsdown again
  package.json
  pnpm-lock.yaml
Labels: none

chore(pnpm): exclude more packages that we maintain in `minimumReleaseAgeExclude`
  pnpm-workspace.yaml
Labels: none

refactor(linter): make disable directives own the rule name (#13987)
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/context/mod.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/rules/unicorn/no_abusive_eslint_disable.rs
Labels: A-linter

perf(linter): add node type codegen support for `match node.kind()` (#13736)
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rule.rs
  tasks/linter_codegen/src/main.rs
  tasks/linter_codegen/src/match_detector.rs
Labels: A-linter

feat(linter): make disable directives work for type aware rules
  Cargo.lock
  Cargo.toml
  apps/oxlint/Cargo.toml
  apps/oxlint/fixtures/tsgolint_disable_directives/test.ts
  apps/oxlint/fixtures/tsgolint_disable_directives/tsconfig.json
  apps/oxlint/fixtures/tsgolint_disable_directives/unused.ts
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/_--type-aware test.ts@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__tsgolint_disable_directives_--type-aware --report-unused-disable-directives unused.ts@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__tsgolint_disable_directives_--type-aware test.ts@oxlint.snap
  crates/oxc_language_server/Cargo.toml
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/linter/tsgo_linter.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options/mod.rs
  crates/oxc_linter/src/service/mod.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_linter/src/tsgolint.rs
Labels: A-cli, A-editor, A-linter

fix(linter): support let-chains in codegen node type detection (#14006)
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  tasks/linter_codegen/src/if_else_detector.rs
Labels: A-linter

fix(language_server): output correct position for parser & semantic errors (#14010)
  crates/oxc_language_server/src/snapshots/fixtures_linter_invalid_syntax@debugger.ts.snap
  crates/oxc_linter/src/lsp.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: A-editor, A-linter

.github/labeler.yml:

A-ast:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_ast/**"]

A-ast-tools:
  - changed-files:
      - any-glob-to-any-file: ["tasks/ast_tools/**"]

A-cfg:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_cfg/**"]

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["apps/oxlint/**", "apps/oxfmt/**"]

A-editor:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_language_server/**", "editors/**"]

A-formatter:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_formatter/**", "tasks/prettier_conformance/**", "apps/oxfmt/**"]

A-transformer:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_transformer/**", "tasks/transform_conformance/**", "napi/transform/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_linter/**", "apps/oxlint/**"]

A-minifier:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_minifier/**", "napi/minify/**"]

A-parser:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_parser/**", "napi/parser/**"]

A-codegen:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_codegen/**"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_semantic/**"]

A-type-checking:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_type_synthesis/**"]

A-isolated-declarations:
  - changed-files:
      - any-glob-to-any-file: ["crates/oxc_isolated_declarations/**"]
