Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

feat(linter): eslint/no-constructor-return (#3321)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_constructor_return.rs
  crates/oxc_linter/src/snapshots/no_constructor_return.snap
Labels: A-linter

chore: oxc-browserslist to v0.16.2 (#3466)
  Cargo.lock
  Cargo.toml
Labels: none

fix(transformer/jsx-source): add filename statement only after inserting the source object (#3469)
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
Labels: A-transformer

fix(parser): should parser error when function declaration has no name (#3461)
  crates/oxc_linter/src/rules/eslint/array_callback_return/return_checker.rs
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
  crates/oxc_linter/src/rules/jsdoc/require_yields.rs
  crates/oxc_linter/src/snapshots/no_obj_calls.snap
  crates/oxc_linter/src/snapshots/require_yields.snap
  crates/oxc_module_lexer/tests/esm.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser

feat(tasks/coverage): turn on idempotency testing for transformer (#3470)
  crates/oxc_transformer/src/lib.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

fix: cr
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
Labels: A-linter

fix: cr
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
Labels: A-linter

ci: clean up the `bloat` action
  .github/workflows/bloat.tmpl
  .github/workflows/bloat.yml
  Cargo.toml
Labels: none

ci: fix cache for clippy and docs
  .github/workflows/ci.yml
Labels: none

ci: speed up windows build
  .github/workflows/ci.yml
Labels: none

refactor(transformer): remove unreachable code from TS namespace transform (#3475)
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer

refactor(transformer): shorten code in TS namespace transform (#3468)
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer

deploy: 0f69ffda5fd0eacfaa5f091e4b6243379f694402
  assets/playground-BxKfat70.js
  assets/playground-DY78zlhG.js
  playground/index.html
Labels: none

update
  .github/workflows/ci.yml
Labels: none

u
  .github/workflows/ci.yml
Labels: none

ci: speed up windows build (#3474)
  .github/workflows/ci.yml
Labels: none

ci(): install rust before cache in windows-test
  .github/workflows/ci.yml
Labels: none

refactor(transformer): rename var (#3476)
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer

refactor(transformer): panic on illegal cases in TS namespace transform (#3477)
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer

refactor(transformer): shorter code in TS namespace transform (#3478)
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer

refactor(transformer): explicit skip TS statements in TS namespace transform (#3479)
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer

fix(transformer/typescript) if this statement is typescript syntax, replace it with a BlockStatement (#3480)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-ast, A-transformer

refactor(transformer/typescript): use a memory-safe implementation instead
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

feat(tasks/coverage): use the classic runtime to rerun the transformer
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

refactor(transformer/typescript): use a memory-safe implementation instead (#3481)
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

fix(ast): UsingDeclaration is not a typescript syntax (#3482)
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

refactor(ast): remove defunct hashing of `Span` (#3486)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast

refactor(ast): rename function params (#3487)
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
Labels: A-ast

refactor(ast): move scope from `TSModuleBlock` to `TSModuleDeclaration` (#3488)
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast, A-transformer, A-semantic

fix(traverse): exit scope early if enter it late (#3493)
  crates/oxc_traverse/scripts/lib/walk.mjs
  crates/oxc_traverse/src/walk.rs
Labels: none

refactor(ast): update scope attrs (#3494)
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

deploy: ff7e8c7448b3c781166b4634b06491b37fdc8535
  assets/playground-CYrRkbTZ.js
  assets/playground-DY78zlhG.js
  playground/index.html
Labels: none

chore: bump oxc-browserslist to 0.17.0
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_wasm/Cargo.toml
Labels: A-transformer

chore: bump oxc-browserslist to 0.17.0 (#3495)
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_wasm/Cargo.toml
Labels: A-transformer

fix(semantic): set program scope_id for TS definition files (#3496)
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

chore: bump criterion2 to 0.10.0
  Cargo.lock
  Cargo.toml
Labels: none

chore: bump criterion2 to 0.10.0 (#3499)
  Cargo.lock
  Cargo.toml
Labels: none

deploy: ac66de651b9098d9e61ebf4ab8a8f75d7529d4f9
  assets/playground-CYrRkbTZ.js
  assets/playground-vY3gfahF.js
  playground/index.html
Labels: none

fix: remove snap type
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
  crates/oxc_linter/src/snapshots/no_large_snapshots.snap
  crates/oxc_span/src/source_type.rs
Labels: A-linter

feat(linter/tree-shaking): support options
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter
