Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

fix: update `get_line_count` method
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
Labels: A-linter

feat(linter): eslint-plugin-jest/no-large-snapshot (#3436)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
  crates/oxc_linter/src/snapshots/no_large_snapshots.snap
Labels: A-linter

ci: add prepare release workflow
  .github/workflows/prepare_release_crates.yml
Labels: none

Publish crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

Publish crates
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_span/CHANGELOG.md
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_traverse/CHANGELOG.md
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

ci: add prepare release workflow
  .github/workflows/prepare_release_crates.yml
Labels: none

deploy: fabe7d02aef97af3d370ec27be5810034c8d73e7
  assets/playground-R0aEGh4d.js
  assets/playground-vY3gfahF.js
  playground/index.html
Labels: none

feat(linter/tree-shaking): support options (#3504)
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

Publish crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

fix(codegen): wrong escape string
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

fix(codegen): wrong escape string (#3514)
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

chore(codegen): print typescript code for typescript files (#3515)
  crates/oxc_codegen/src/lib.rs
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/src/codegen.rs
Labels: A-codegen

fix(codegen): should be double quote for jsx attribute value (#3516)
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

deploy: 98c90291b0c6d53330f3cece472616f7b9d7c972
  assets/playground-DKpz1AUT.js
  assets/playground-MyYopd_7.js
  playground/index.html
Labels: none

fix(transformer): output empty file for TS definition files
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-declaration-empty-output/input.d.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-declaration-empty-output/output.js
Labels: A-transformer

fix(transformer): output empty file for TS definition files (#3500)
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-declaration-empty-output/input.d.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-declaration-empty-output/output.js
Labels: A-transformer

fix(transformer): use correct scope for TS namespaces (#3489)
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer

fix(transformer): TS namespace transform do not track var decl names (#3501)
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/constants.rs
Labels: A-transformer

chore(ISSUE_TEMPLATE): remove the assignees
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

chore: git cliff configure bump strategy
  cliff.toml
Labels: none

deploy: a5276c3be252add1e8985d078849828e9b4acda3
  assets/playground-BJlgOOtd.js
  assets/playground-DKpz1AUT.js
  playground/index.html
Labels: none

refactor(traverse): `generate_uid` return `SymbolId` (#3520)
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-transformer, A-semantic

perf(transformer): React JSX reuse same `Atom`s (#3521)
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

perf(transformer): React JSX reduce allocations (#3522)
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

fix(transformer): JSX set `symbol_id` on imports (#3523)
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

chore: format top level toml files
  .taplo.toml
  .typos.toml
  cliff.toml
  deny.toml
  oxc_release.toml
Labels: none

chore: add oxc_release.toml
  .github/workflows/prepare_release_crates.yml
  oxc_release.toml
Labels: none

refactor(codegen): reduce allocation for print_unquoted_str
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

ci: adjust publish workflow
  .github/workflows/release_crates.yml
Labels: none

refactor(codegen): reduce allocation for print_unquoted_str (#3525)
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

Publish crates
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/CHANGELOG.md
  npm/oxc-parser/package.json
  wasm/parser/CHANGELOG.md
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

chore: update Cargo.lock
  .github/workflows/prepare_release_crates.yml
  .github/workflows/release_crates.yml
  Cargo.lock
Labels: none

ci: fix release crate push tag permission
  .github/workflows/release_crates.yml
Labels: none

ci: fix mac build in release_napi_parser
  .github/workflows/prepare_release_crates.yml
  .github/workflows/release_napi_parser.yml
Labels: none

chore: 🤖 Pass trivias reference instead of ownership
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

feat: default config path for linter
  apps/oxlint/src/lint/mod.rs
Labels: A-cli

chore(oxc_codegen): Pass trivias reference instead of ownership in `CommentGenRelated` (#3529)
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

fix(transformer): JSX set `reference_id` on refs to imports
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_syntax/src/node.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-transformer, A-semantic

Fix issue with path checking
  apps/oxlint/src/lint/mod.rs
Labels: A-cli

Fix formatting
  apps/oxlint/src/lint/mod.rs
Labels: A-cli
