Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

fix: generate cfg for lsp, wasm and linter benchmarks.
  crates/oxc_language_server/src/linter.rs
  crates/oxc_wasm/src/lib.rs
Labels: none

feat(linter): add `use_cfg` attribute.
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_macros/src/declare_oxc_lint.rs
Labels: A-linter

chore: lower the diff.
  crates/oxc_wasm/src/lib.rs
Labels: none

chore: cleanup.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_macros/src/declare_all_lint_rules.rs
  crates/oxc_macros/src/declare_oxc_lint.rs
Labels: A-linter

perf: reflect the same change in the lsp.
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/lib.rs
Labels: A-linter

perf(linter): only generate `cfg` when we have a rule which depends on it.
  crates/oxc_linter/src/service.rs
Labels: A-linter

refactor: separate context data.
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_macros/src/declare_all_lint_rules.rs
Labels: A-linter

chore: cleanup.
  crates/oxc_linter/src/context.rs
Labels: A-linter

feat(linter): add `CFGLintContext` for rules with `#[use_cfg]`.
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
  crates/oxc_linter/src/utils/jsdoc.rs
  crates/oxc_linter/src/utils/nextjs.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_linter/src/utils/tree_shaking.rs
  crates/oxc_linter/src/utils/unicorn/boolean.rs
  crates/oxc_linter/tests/integration_test.rs
  crates/oxc_macros/src/declare_all_lint_rules.rs
  crates/oxc_macros/src/declare_oxc_lint.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

feat: add `impl_lint_ctx` macro to simplify the boilerplate.
  crates/oxc_linter/src/context.rs
Labels: A-linter

chore(benchmark): use a more complated file for codegen_sourcemap
  tasks/benchmark/benches/codegen_sourcemap.rs
Labels: none

chore(oxc-transform): update README
  npm/oxc-transform/README.md
Labels: none

chore(isolated-declarations): add snapshot testing (#3756)
  Cargo.lock
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_isolated_declarations/tests/fixtures/complex.ts
  crates/oxc_isolated_declarations/tests/fixtures/simple.ts
  crates/oxc_isolated_declarations/tests/mod.rs
  crates/oxc_isolated_declarations/tests/snapshots/complex.snap
  crates/oxc_isolated_declarations/tests/snapshots/simple.snap
Labels: none

chore(justfile): add a pre-commit hook
  justfile
Labels: none

chore: update MAINTENANCE.md
  MAINTENANCE.md
Labels: none

refactor(transformer): move and simplify TS enum transform entry point (#3760)
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

refactor(transformer): simplify TS export assignment transform (#3762)
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

refactor(transformer): move TSImportEqualsDeclaration transform code (#3764)
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
Labels: A-transformer

feat(oxc): export isolated-declarations (#3765)
  Cargo.lock
  crates/oxc/Cargo.toml
  crates/oxc/src/lib.rs
Labels: none

refactor(linter): `LintContext` can now only be constructed with a cfg enabled semantic. (#3761)
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_macros/src/declare_all_lint_rules.rs
  crates/oxc_wasm/src/lib.rs
Labels: A-linter

test(linter): enable `no-fallthrough` test with `disable-next-line`. (#3766)
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
Labels: A-linter

feat(isolated-declarations): treat AssignmentPattern as optional (#3748)
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/tests/fixtures/complex.ts
  crates/oxc_isolated_declarations/tests/fixtures/function-parameters.ts
  crates/oxc_isolated_declarations/tests/fixtures/simple.ts
  crates/oxc_isolated_declarations/tests/mod.rs
  crates/oxc_isolated_declarations/tests/snapshots/complex.snap
  crates/oxc_isolated_declarations/tests/snapshots/function-parameters.snap
  crates/oxc_isolated_declarations/tests/snapshots/simple.snap
Labels: none

feat(isolated-declarations): improve inferring the type of accessor (#3749)
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/fixtures/set-get-accessor.ts
  crates/oxc_isolated_declarations/tests/snapshots/set-get-accessor.snap
Labels: none

feat(isolated-declarations): improve inferring the return type from function (#3750)
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/tests/fixtures/infer-return-type.ts
  crates/oxc_isolated_declarations/tests/snapshots/infer-return-type.snap
Labels: none

fix(isolated-declarations): false positives for non-exported binding elements (#3751)
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/tests/fixtures/non-exported-binding-elements.ts
  crates/oxc_isolated_declarations/tests/snapshots/non-exported-binding-elements.snap
Labels: none

feat(isolated-declarations): shrink span for arrow function that needs an explicit return type (#3752)
  crates/oxc_isolated_declarations/src/types.rs
  crates/oxc_isolated_declarations/tests/fixtures/arrow-function-return-type.ts
  crates/oxc_isolated_declarations/tests/snapshots/arrow-function-return-type.snap
Labels: none

fix(isolated-declarations): transform incorrectly when there are multiple functions with the same name (#3753)
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/tests/fixtures/function-overloads.ts
  crates/oxc_isolated_declarations/tests/snapshots/function-overloads.snap
Labels: none

feat(isolated-declarations): add `export {}` when needed (#3754)
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/tests/fixtures/empty-export.ts
  crates/oxc_isolated_declarations/tests/snapshots/empty-export.snap
Labels: none

feat(isolated-declarations): add ts error code to the error message (#3755)
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/types.rs
  crates/oxc_isolated_declarations/tests/snapshots/arrow-function-return-type.snap
  crates/oxc_isolated_declarations/tests/snapshots/function-parameters.snap
  crates/oxc_isolated_declarations/tests/snapshots/infer-return-type.snap
  crates/oxc_isolated_declarations/tests/snapshots/non-exported-binding-elements.snap
  crates/oxc_isolated_declarations/tests/snapshots/set-get-accessor.snap
Labels: none

ci: try graphite ci optimizer
  .github/workflows/ci.yml
Labels: none

fix(linter): false positives with setters in the `getter-return` rule. (#3714)
  crates/oxc_linter/src/rules/eslint/getter_return.rs
Labels: A-linter

feat(ast,parser): add `intrinsic` keyword (#3767)
  crates/oxc_ast/src/ast/macros.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_traverse/src/traverse.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast, A-prettier, A-parser, A-codegen

ci: try graphite ci optimizer (#3770)
  .github/workflows/ci.yml
Labels: none

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']
