Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

ci: fix release oxlint missing target dir
  .github/workflows/release_oxlint.yml
Labels: none

ci: add `workflow_dispatch` to release oxlint
  .github/workflows/release_oxlint.yml
Labels: none

chore(linter): add description to website rules generator (#3670)
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/table.rs
Labels: A-linter

fix(semantic/cfg): discrete finalization path after `NewFunction`s. (#3671)
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
Labels: A-linter, A-semantic

fix(linter): edge case with infinite loops. (#3672)
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

feat(transformer-dts): `--isolatedDeclarations` dts transform (#3664)
  Cargo.lock
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer_dts/Cargo.toml
  crates/oxc_transformer_dts/examples/transformer.rs
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/context.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/function.rs
  crates/oxc_transformer_dts/src/inferrer.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_transformer_dts/src/module.rs
  crates/oxc_transformer_dts/src/return_type.rs
  crates/oxc_transformer_dts/src/scope.rs
  crates/oxc_transformer_dts/src/types.rs
Labels: A-ast, A-transformer, A-codegen

feat(codegen)!: remove `CodegenOptions::enable_typescript`
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
  crates/oxc_minifier/tests/oxc/precedence.rs
  crates/oxc_transformer_dts/examples/transformer_dts.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, A-minifier, A-codegen

feat(codegen)!: remove `CodegenOptions::enable_typescript` (#3674)
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
  crates/oxc_minifier/tests/oxc/precedence.rs
  crates/oxc_transformer_dts/examples/transformer_dts.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, A-minifier, A-codegen

feat(coverage): add dts transform coverage test (#3675)
  Cargo.lock
  Cargo.toml
  crates/oxc_transformer_dts/Cargo.toml
  crates/oxc_transformer_dts/examples/transformer_dts.rs
  crates/oxc_transformer_dts/src/context.rs
  crates/oxc_transformer_dts/src/lib.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/src/lib.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/coverage/transpile.snap
Labels: none

fix(semantic/cfg): issue in unlabeled `Ctx`s. (#3678)
  crates/oxc_semantic/src/control_flow/builder/context.rs
Labels: A-semantic

refactor(semantic/cfg): remove unused types. (#3677)
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-semantic

perf(semantic/cfg): lower the visits in `neighbors_filtered_by_edge_weight`. (#3676)
  crates/oxc_semantic/src/pg.rs
Labels: A-semantic

deploy: 2717a1a5b7b48f4607209771d9240af3863f22a5
  assets/playground-Cvfw8Wse.js
  assets/playground-vMllbHQd.js
  playground/index.html
Labels: none

refactor(transformer_dts): create a `Program` for codegen (#3679)
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_transformer_dts/src/lib.rs
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: A-codegen

refactor(codegen): move `gen_ts` into `gen` to make searching things easier (#3680)
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
Labels: A-codegen

fix(codegen): various fixes
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/coverage/transpile.snap
Labels: A-codegen

fix(ast): incorrect visit order in function (#3681)
  crates/oxc_ast/src/visit/visit.rs
Labels: A-ast

feat(transformer-dts): transform namespace support (#3683)
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/inferrer.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_transformer_dts/src/module.rs
  crates/oxc_transformer_dts/src/scope.rs
Labels: A-ast

feat(coverage): use oxc printend text for comparing dts transform (#3686)
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/coverage/transpile.snap
Labels: none

fix(traverse): change visit order for `Function`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast

refactor(codegen): add `gen` method to ast nodes (#3687)
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_codegen/src/gen.rs
Labels: A-ast, A-codegen

feat(transformer-dts): report error for async function and generator (#3688)
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
  crates/oxc_transformer_dts/src/inferrer.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_transformer_dts/src/return_type.rs
  crates/oxc_transformer_dts/src/scope.rs
  tasks/coverage/transpile.snap
Labels: A-ast

feat(transformer-dts): remove type annotation from private field (#3689)
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer_dts/src/class.rs
Labels: A-ast

feat(codegen): print accessibility for MethodDefinition (#3690)
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

feat(coverage): transformer idempotency test (#3691)
  crates/oxc_transformer/examples/transformer.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

fix(linter): do not run getter-return in typescript
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/snapshots/getter_return.snap
  crates/oxc_linter/src/tester.rs
Labels: A-linter

fix(linter): do not run getter-return in typescript (#3693)
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/snapshots/getter_return.snap
  crates/oxc_linter/src/tester.rs
Labels: A-linter

refactor(semantic): expose 1 checker function instead of 2
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
Labels: A-semantic

refactor(semantic): expose 1 checker function instead of 2 (#3694)
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
Labels: A-semantic

feat(codegen): print TSImport remaining fields (#3695)
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

feat(parser): display jsx mismatch error, e.g. `<Foo></Bar>`
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/jsx/mod.rs
  tasks/coverage/misc/fail/oxc-3528.jsx
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser

feat(parser): display jsx mismatch error, e.g. `<Foo></Bar>` (#3696)
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/jsx/mod.rs
  tasks/coverage/misc/fail/oxc-3528.jsx
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser

deploy: d65c652700663b64b673da9329f1569a0c7de38e
  assets/playground-Bgmpq-Be.js
  assets/playground-Cvfw8Wse.js
  playground/index.html
Labels: none

feat(transformer-dts): report error for invalid signature property key
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
  crates/oxc_transformer_dts/src/module.rs
  crates/oxc_transformer_dts/src/types.rs
Labels: none

feat(transformer-dts): report error for invalid signature property key (#3698)
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
  crates/oxc_transformer_dts/src/module.rs
  crates/oxc_transformer_dts/src/types.rs
Labels: none

fix(traverse): change visit order for `Function` (#3685)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast

feat(linter): add `@typescript-eslint/no-import-type-side_effects` (#3699)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_import_type_side_effects.rs
  crates/oxc_linter/src/snapshots/no_import_type_side_effects.snap
Labels: A-linter

feat(linter): add `oxc/no-optional-chaining` rule (#3700)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/no_optional_chaining.rs
  crates/oxc_linter/src/snapshots/no_optional_chaining.snap
Labels: A-linter

feat(transformer-dts): transform enum support (#3710)
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_transformer_dts/Cargo.toml
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
  crates/oxc_transformer_dts/src/enum.rs
  crates/oxc_transformer_dts/src/lib.rs
Labels: A-ast

feat(transformer-dts): report error for super class (#3711)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
Labels: A-ast

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']
