Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

fix: rules to work with the new CFG.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@function_in_finally.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
Labels: A-linter, A-semantic

fix: typo.
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
Labels: A-linter

fix: `try-catch` statement control flow. [no ci]
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-ast, A-semantic

fix: typo.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
Labels: A-linter

chore: cleanup and add some comments.
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-linter, A-semantic

chore: merge with downstack
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-semantic

fix: typo
  crates/oxc_semantic/src/control_flow/builder/mod.rs
Labels: A-semantic

chore: update snapshots.
  tasks/coverage/parser_test262.snap
Labels: none

fix: change catch block join edge to be `normal`.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-semantic

chore: update snapshot.
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
Labels: A-semantic

fix: fmt issue.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

ci: trigger ecosystem ci and website task from prepare_release_crates
  .github/workflows/prepare_release_crates.yml
  .github/workflows/prepare_release_oxlint.yml
  .github/workflows/reusable_prepare_release.yml
Labels: none

Release oxlint
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/package.json
  npm/oxlint/package.json
Labels: A-cli, A-linter

Release oxlint
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/package.json
  npm/oxlint/package.json
Labels: A-cli, A-linter

Release oxlint
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/package.json
  npm/oxlint/package.json
Labels: A-cli, A-linter

ci: trigger ecosystem ci and website task from prepare_release_oxlint
  .github/workflows/prepare_release_crates.yml
  .github/workflows/prepare_release_oxlint.yml
  .github/workflows/reusable_prepare_release.yml
Labels: none

chore: change no-constructor-return to pedantic
  crates/oxc_linter/src/rules/eslint/no_constructor_return.rs
Labels: A-linter

refactor(transformer): reduce cloning and referencing `Rc`s
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/options.rs
Labels: A-transformer

chore: regenerate changelogs with commit id and author
  apps/oxlint/CHANGELOG.md
  cliff.toml
  crates/oxc/CHANGELOG.md
  crates/oxc_allocator/CHANGELOG.md
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast_macros/CHANGELOG.md
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_index/CHANGELOG.md
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_sourcemap/CHANGELOG.md
  crates/oxc_span/CHANGELOG.md
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_traverse/CHANGELOG.md
  editors/vscode/CHANGELOG.md
  npm/oxc-parser/CHANGELOG.md
  npm/oxlint/CHANGELOG.md
  wasm/parser/CHANGELOG.md
Labels: A-ast, A-cli, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic

refactor(transformer): reduce cloning and referencing `Rc`s (#3576)
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/options.rs
Labels: A-transformer

fix: more correct try catch finally join.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

feat(semantic/cfg): add `Condition` instruction.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js.snap
Labels: A-linter, A-semantic

fix: fmt issues.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

fix: default switch case.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
Labels: A-semantic

fix: fmt issues.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

fix: clippy warnings.
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-semantic

improvement(semantic/cfg): better control flow for switch statements.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
Labels: A-semantic

feat(semantic/cfg): add iteration instructions.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-linter, A-semantic

fix: merge with downstack.
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
Labels: A-semantic

fix: edge case with infinite loops and add test for it.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-linter, A-semantic

fix: condition if and ternaries.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js.snap
Labels: A-semantic

chore: fix clippy warn.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

test: add test for previously failing edge case.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

test: add test for a previously failing edge case.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

fix: try-catch-finally edge case and add test for it.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-linter, A-semantic

feat(linter/eslint): add `no_unreachable` rule.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/snapshots/no_unreachable.snap
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-ast, A-linter, A-semantic

test: add test for previously failing edge case.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

test: add test for previously failing edge case.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

perf: remove redundant check.
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-semantic

perf: test performance with noop.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/snapshots/no_unreachable.snap
Labels: A-linter

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']
