Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

fix(codegen): improve typescript codegen (#3708)
  .gitignore
  crates/oxc_ast/src/precedence.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/src/codegen.rs
Labels: A-ast, A-parser, A-codegen

chore(deps): update rust crates (#3709)
  Cargo.lock
  Cargo.toml
Labels: none

chore: make `println` and `eprintln` opt-in (#3712)
  Cargo.toml
  apps/oxlint/src/lint/mod.rs
  apps/oxlint/src/result.rs
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_diagnostics/src/reporter/checkstyle.rs
  crates/oxc_diagnostics/src/reporter/json.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_module_lexer/examples/module_lexer.rs
  crates/oxc_parser/examples/multi-thread.rs
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/examples/visitor.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_sourcemap/src/sourcemap_visualizer.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer_dts/examples/transformer_dts.rs
  tasks/common/src/lib.rs
  tasks/coverage/src/lib.rs
  tasks/javascript_globals/src/main.rs
  tasks/minsize/src/lib.rs
  tasks/prettier_conformance/src/lib.rs
  tasks/rulegen/src/main.rs
  tasks/transform_conformance/src/lib.rs
  tasks/website/src/lib.rs
  tasks/website/src/main.rs
Labels: A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic

chore(transformer-dts): change crate to `oxc_isolated_declarations` (#3713)
  Cargo.lock
  Cargo.toml
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/context.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_isolated_declarations/src/types.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: none

refactor(isolated-declarations): decouple codegen (#3715)
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_isolated_declarations/src/lib.rs
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: A-codegen

feat(linter): add `no-fallthrough`. (#3673)
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/snapshots/no_fallthrough.snap
Labels: A-linter

chore(oxlint): remove unused code (format command) (#3716)
  apps/oxlint/src/command/format.rs
  apps/oxlint/src/command/ignore.rs
  apps/oxlint/src/command/lint.rs
  apps/oxlint/src/command/mod.rs
  apps/oxlint/src/lint/mod.rs
  apps/oxlint/src/main.rs
  tasks/website/Cargo.toml
  tasks/website/src/linter/cli.rs
  tasks/website/src/linter/snapshots/cli.snap
  tasks/website/src/linter/snapshots/cli_terminal.snap
Labels: A-cli

feat(napi): isolated-declaration (#3718)
  Cargo.lock
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/types.rs
  napi/.gitignore
  napi/isolated-declarations/Cargo.toml
  napi/isolated-declarations/build.rs
  napi/isolated-declarations/index.d.ts
  napi/isolated-declarations/index.js
  napi/isolated-declarations/package.json
  napi/isolated-declarations/pnpm-lock.yaml
  napi/isolated-declarations/src/lib.rs
  napi/isolated-declarations/test.mjs
  napi/parser/.gitignore
  napi/parser/README.md
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: none

refactor(isolated-declarations): remove `TransformDtsCtx` (#3719)
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/context.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_isolated_declarations/src/types.rs
Labels: none

feat(isolated-declarations): report errors that are consistent with typescript. (#3720)
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/types.rs
Labels: none

refactor(napi): change "isolated declarations" to "transform" (#3721)
  Cargo.lock
  napi/transform/Cargo.toml
  napi/transform/build.rs
  napi/transform/index.d.ts
  napi/transform/index.js
  napi/transform/package.json
  napi/transform/pnpm-lock.yaml
  napi/transform/src/lib.rs
  napi/transform/test.mjs
Labels: none

refactor(semantic/cfg)!: re-export `petgraph` as `control_flow::graph`. (#3722)
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/control_flow/visit.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

feat(isolated-declarations): inferring set accessor parameter type from get accessor return type (#3725)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/scope.rs
Labels: A-ast

fix(minifier): respect `join_vars: false` option (#3724)
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/tests/oxc/folding.rs
Labels: A-minifier

fix(isolated-declarations): should be added to references, not bindings (#3726)
  crates/oxc_isolated_declarations/src/scope.rs
  tasks/coverage/transpile.snap
Labels: none

fix(coverage/transpiler): diff comparison results are reversed (#3727)
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/suite.rs
Labels: none

feat(coverage): snapshot isolated declarations dts emit (#3723)
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/coverage/transpile.snap
Labels: none

deploy: 41b3c24f98d49b6167bc66f913aef674438e4e81
  assets/playground-Bgmpq-Be.js
  assets/playground-DTC-Cgv3.js
  playground/index.html
Labels: none

feat(coverage): improve codegen (#3729)
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_minifier/tests/closure/fold_conditions.rs
  crates/oxc_minifier/tests/closure/fold_constants.rs
  crates/oxc_minifier/tests/closure/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
  crates/oxc_minifier/tests/oxc/code_removal.rs
  crates/oxc_minifier/tests/oxc/folding.rs
  crates/oxc_minifier/tests/oxc/precedence.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  crates/oxc_minifier/tests/tdewolff/mod.rs
  crates/oxc_minifier/tests/terser/fixtures/debugger.js
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/transpile.snap
Labels: A-minifier, A-codegen

feat(isolated-declarations): create unique name for `_default` (#3730)
  crates/oxc_isolated_declarations/src/module.rs
Labels: none

feat(codegen): improve codegen formatting (#3731)
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_runtime_test262.snap
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/src/runtime/v8_test262.status
  tasks/coverage/transpile.snap
Labels: A-codegen

feat(playground): support modify compressor's options
  crates/oxc_wasm/src/lib.rs
  crates/oxc_wasm/src/options.rs
  website/playground/index.html
  website/playground/index.ts
Labels: none

feat(playground): support modify compressor's options (#3734)
  crates/oxc_wasm/src/lib.rs
  crates/oxc_wasm/src/options.rs
  website/playground/index.html
  website/playground/index.ts
Labels: none

feat(codegen): improve codegen formatting (#3735)
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/transpile.snap
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer, A-codegen

chore: remove npm/oxc package
  npm/oxc/bin/oxc
  npm/oxc/package.json
  npm/oxc/scripts/generate-packages.mjs
Labels: none

feat(npm/oxc-transform): setup npm/oxc-transform and publish
  .github/workflows/release_napi_transform.yml
  npm/oxc-transform/README.md
  npm/oxc-transform/package.json
  npm/oxc-transform/scripts/generate-packages.mjs
Labels: none

feat(codegen)!: new code gen API (#3740)
  Cargo.lock
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_wasm/src/lib.rs
  napi/transform/Cargo.toml
  napi/transform/src/lib.rs
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/benchmark/benches/sourcemap.rs
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/sourcemap.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, A-linter, A-minifier, A-codegen

refactor(cfg)!: move control flow to its own crate. (#3728)
  Cargo.lock
  Cargo.toml
  crates/oxc_cfg/Cargo.toml
  crates/oxc_cfg/src/builder/context.rs
  crates/oxc_cfg/src/builder/mod.rs
  crates/oxc_cfg/src/dot.rs
  crates/oxc_cfg/src/lib.rs
  crates/oxc_cfg/src/visit.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/dot.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/node.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
Labels: A-linter, A-semantic

refactor(semantic): make control flow generation optional. (#3737)
  crates/oxc_cfg/src/lib.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
Labels: A-linter, A-semantic

chore(semantic)!: no longer generate CFG by default.
  crates/oxc_linter/src/service.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/cfg.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
Labels: A-linter, A-semantic

chore(semantic)!: no longer generate CFG by default. (#3738)
  crates/oxc_linter/src/service.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/cfg.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
Labels: A-linter, A-semantic

fix(isolated-declarations): function overloads reaching unreachable (#3739)
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
Labels: none

Update README.md
  README.md
Labels: none

chore: add oxc-transform to oxc_release.toml
  oxc_release.toml
Labels: none

chore: fix some nightly clippy warnings
  Cargo.toml
  crates/oxc_linter/src/rules/unicorn/no_zero_fractions.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/options.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
  crates/oxc_traverse/src/ancestor.rs
  tasks/coverage/src/suite.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-prettier, A-transformer, A-linter, A-semantic

refactor(semantic): rename `cfg` macro to `control_flow`. (#3742)
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

chore: oxc_cfg.publish = true
  Cargo.toml
  crates/oxc_cfg/Cargo.toml
Labels: none

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/CHANGELOG.md
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_cfg/CHANGELOG.md
  crates/oxc_cfg/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_isolated_declarations/CHANGELOG.md
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  npm/oxc-transform/CHANGELOG.md
  npm/oxc-transform/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

deploy: 1b3cd6c24d273188b100e3139bd82cc3d07cdcfa
  assets/playground-DTC-Cgv3.js
  assets/playground-Dw5t87ET.js
  playground/index.html
Labels: none

chore(benchmark): enable `cfg` for linter benchmarks. (#3746)
  tasks/benchmark/benches/linter.rs
Labels: none
