Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

fix(linter): panic in jsdoc/require-param
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

fix(linter): panic in jsdoc/require-param (#3590)
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: A-linter

deploy: f0b689d115d16cac6155a97ada4386a65b5e0451
  assets/playground-DBSpQNfw.js
  assets/playground-DOXXlejV.js
  playground/index.html
Labels: none

test(linter): add linter to coverage task
  Cargo.lock
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/linter_babel.snap
  tasks/coverage/linter_misc.snap
  tasks/coverage/linter_test262.snap
  tasks/coverage/linter_typescript.snap
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/lib.rs
  tasks/coverage/src/linter.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/test262.rs
Labels: A-linter

style: clippy + rustfmt fixes
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  tasks/coverage/src/linter.rs
Labels: A-linter

feat(linter): add `eslint/sort-imports` rule
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
  crates/oxc_linter/src/snapshots/sort_imports.snap
Labels: A-ast, A-linter

up(span): port over more methods from TextRange
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/span.rs
Labels: none

feat(span): port over more methods from TextRange (#3592)
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/span.rs
Labels: none

feat(linter): add eslint/no-useless-constructor
  Cargo.toml
  crates/oxc_allocator/src/arena.rs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
  crates/oxc_linter/src/snapshots/no_useless_constructor.snap
Labels: A-ast, A-linter

chore: remove impl_get_span macro
  crates/oxc_ast/src/span.rs
Labels: A-ast

docs(linter): add rule documentation
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter

refactor(transformer): reduce branching in JSX transform
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

TODO comments
  crates/oxc_semantic/src/scope.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer, A-semantic

remove commented code
  crates/oxc_ast/src/span.rs
Labels: A-ast

fix: cr
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
Labels: A-linter

refactor(transformer): reduce branching in JSX transform (#3596)
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

feat(tasks/rulegen): support generate fix cases
  tasks/rulegen/src/main.rs
  tasks/rulegen/template.txt
Labels: none

chore: update Cargo.lock
  Cargo.lock
  Cargo.toml
Labels: none

feat(linter/jsdoc): Implement require-param-type rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_type.rs
  crates/oxc_linter/src/snapshots/require_param_type.snap
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter

feat(tasks/rulegen): support generate fix cases (#3600)
  tasks/rulegen/src/main.rs
  tasks/rulegen/template.txt
Labels: none

feat(linter/jsdoc): Implement require-param-type rule (#3601)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_type.rs
  crates/oxc_linter/src/snapshots/require_param_type.snap
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter

feat(ast): derive Clone trait for Trivias
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, A-linter, A-semantic

refactor(ast): make `AstBuilder` `Copy` (#3602)
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/typescript/annotations.rs
Labels: A-ast, A-transformer

refactor(minifier): make `Prepass` `Copy` (#3603)
  crates/oxc_minifier/src/compressor/prepass.rs
Labels: A-minifier

feat(linter): typescript-eslint no-useless-empty-export
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
  crates/oxc_linter/src/snapshots/no_useless_empty_export.snap
Labels: A-linter

refactor(transformer): flatten file structure for React transform (#3604)
  crates/oxc_transformer/src/react/diagnostics.rs
  crates/oxc_transformer/src/react/display_name.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_self.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/mod.rs
Labels: A-transformer

refactor(transformer): remove outdated comment (#3606)
  crates/oxc_transformer/src/react/jsx_self.rs
Labels: A-transformer

ci: use node-version-file
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/lint-rules.yml
  .github/workflows/release_napi_parser.yml
  .github/workflows/release_oxlint.yml
  .github/workflows/release_vscode.yml
  .github/workflows/release_wasm.yml
  .github/workflows/website.yml
  .node-version
Labels: none

ci: use node-version-file (#3607)
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/lint-rules.yml
  .github/workflows/release_napi_parser.yml
  .github/workflows/release_oxlint.yml
  .github/workflows/release_vscode.yml
  .github/workflows/release_wasm.yml
  .github/workflows/website.yml
  .node-version
Labels: none

fix(span): correct doc comments
  crates/oxc_span/src/span.rs
Labels: none

fix(span): correct doc comments (#3608)
  crates/oxc_span/src/span.rs
Labels: none

fix: add fixer
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter

TODO comments 2
  crates/oxc_transformer/src/react/display_name/mod.rs
Labels: A-transformer

refactor(transformer): fix indentation (#3617)
  crates/oxc_transformer/src/options/transformer.rs
Labels: A-transformer

refactor(transformer): comment for unimplemented `spec` option in arrow fns transform (#3618)
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer

fix(transformer): arrow functions transform find all functions
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

deploy: 509871f47871499ffc20e498ae936d246cbd19b2
  assets/playground-Cmp1C4sD.js
  assets/playground-qiYFqW74.js
  playground/index.html
Labels: none

refactor(transformer): replace `&’a Trivias` with `Rc<Trivias>` (#3580)
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, A-linter, A-semantic

refactor(transformer): move `BoundIdentifier` into helpers (#3610)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/helpers/bindings.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx.rs
Labels: A-ast, A-transformer

refactor(traverse): `generate_uid_in_root_scope` method (#3611)
  crates/oxc_semantic/src/scope.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-transformer, A-semantic
