Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

up(linter): add fixer for no-single-promise-in-promise-methods
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
Labels: A-linter

deploy: 9fe08634795166cb0c2adf7f56480b86ba032aa0
  assets/playground-BJlgOOtd.js
  assets/playground-xlycQTd8.js
  playground/index.html
Labels: none

fix(transformer): JSX set `reference_id` on refs to imports (#3524)
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_syntax/src/node.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-transformer, A-semantic

Simplified code
  apps/oxlint/src/lint/mod.rs
Labels: A-cli

fix: revert
  crates/oxc_codegen/src/lib.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-minifier, A-codegen

feat(codegen): remove redundant semicolons from the directive and print indentation
  crates/oxc_codegen/src/lib.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-minifier, A-codegen

Fixed clippy issue
  apps/oxlint/src/lint/mod.rs
Labels: A-cli

fix(codegen): print indentation before directive (#3512)
  crates/oxc_codegen/src/lib.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  tasks/coverage/codegen_sourcemap.snap
Labels: A-minifier, A-codegen

Update README.md
  README.md
Labels: none

feat(transformer/typescript): handle namespace directive correctly (#3532)
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

refactor(transformer/typescript): replace reference collector with symbols references (#3533)
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/collector.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_traverse/src/lib.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer, A-semantic

perf(transformer): JSX parse pragma only once
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

perf(transformer): JSX parse pragma only once (#3534)
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

perf(transformer): avoid fragment update where possible
  crates/oxc_span/src/atom.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

perf(transformer): avoid fragment update where possible (#3535)
  crates/oxc_span/src/atom.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

improve(transformer): improve validation of JSX pragma options
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

improve(transformer): validate JSX import source option
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

perf(transformer): reduce string allocations in JSX transform
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

chore: change website url to https://oxc.rs
  CONTRIBUTING.md
  Cargo.toml
  README.md
  editors/vscode/CONTRIBUTING.md
  npm/oxc-parser/package.json
  npm/oxc/package.json
  npm/oxlint/README.md
  npm/oxlint/package.json
  tasks/rulegen/template.txt
  tasks/website/src/linter/cli.rs
  tasks/website/src/linter/rules.rs
  wasm/parser/package.json
  website/playground/index.html
Labels: none

up(semantics): add method to print dot graphs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_span/src/span.rs
Labels: A-semantic

chore: remove unrelated span changes
  crates/oxc_span/src/span.rs
Labels: none

docs(span): add doc comments to `oxc_span::Span`
  crates/oxc_span/src/span.rs
Labels: none

style: cargo fmt
  crates/oxc_span/src/span.rs
Labels: none

Added test cases for default path
  apps/oxlint/fixtures/default_path/test.js
  apps/oxlint/oxlintrc.json
  apps/oxlint/src/lint/mod.rs
Labels: A-cli

docs(span): add doc comments to `oxc_span::Span` (#3543)
  crates/oxc_span/src/span.rs
Labels: none

Update crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
Labels: A-linter

chore: regenerate changelog
  apps/oxlint/CHANGELOG.md
  cliff.toml
  crates/oxc/CHANGELOG.md
  crates/oxc_allocator/CHANGELOG.md
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_index/CHANGELOG.md
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_sourcemap/CHANGELOG.md
  crates/oxc_span/CHANGELOG.md
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_traverse/CHANGELOG.md
  editors/vscode/CHANGELOG.md
  npm/oxc-parser/CHANGELOG.md
  npm/oxlint/CHANGELOG.md
  oxc_release.toml
  wasm/parser/CHANGELOG.md
Labels: A-ast, A-cli, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic

chore: remove commented code
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
Labels: A-linter

feat(linter): add fixer for no-single-promise-in-promise-methods (#3531)
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
Labels: A-linter

up(linter): add fixer for no-useless-fallback-in-spread rule
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

ci: update prepare release crates
  .github/workflows/prepare_release_crates.yml
Labels: none

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

ci: update prepare release crates
  .github/workflows/prepare_release_crates.yml
  cliff.toml
Labels: none

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

deploy: 6506d086b3f14c156a219003930bde9df66669b9
  assets/playground-BBWEJSX4.js
  assets/playground-xlycQTd8.js
  playground/index.html
Labels: none

improve(transformer): validate JSX pragma options (#3536)
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

improve(transformer): validate JSX import source option (#3537)
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

refactor(transformer): combine import and usage in JSX transform (#3540)
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

refactor(transformer): remove `update_fragment` from JSX transform (#3541)
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

fix(transformer): correct spans for JSX transform (#3549)
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer
