Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

update
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
Labels: A-linter

update
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
  crates/oxc_linter/src/snapshots/no_useless_empty_export.snap
Labels: A-linter

feat(linter): typescript-eslint no-useless-empty-export (#3605)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
  crates/oxc_linter/src/snapshots/no_useless_empty_export.snap
Labels: A-linter

fix(transformer): arrow func transform use correct spans (#3630)
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer

refactor(linter): add a `ctx.module_record()` method (#3637)
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/import/default.rs
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/rules/import/no_default_export.rs
  crates/oxc_linter/src/rules/import/no_duplicates.rs
  crates/oxc_linter/src/rules/import/no_named_as_default.rs
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
  crates/oxc_linter/src/rules/import/no_self_import.rs
  crates/oxc_linter/src/rules/import/no_unused_modules.rs
  crates/oxc_linter/src/rules/jest/no_export.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
  crates/oxc_linter/src/rules/unicorn/no_process_exit.rs
  crates/oxc_linter/src/utils/nextjs.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

feat!(ast): make `Trivias` clonable by adding `Arc`
  crates/oxc_ast/src/trivia.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
  tasks/benchmark/benches/prettier.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/prettier.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/prettier_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-ast, A-prettier, A-transformer, A-linter, A-codegen, A-semantic

feat!(ast): make `Trivias` clonable by adding `Arc` (#3638)
  crates/oxc_ast/src/trivia.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
  tasks/benchmark/benches/prettier.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/prettier.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/prettier_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-ast, A-prettier, A-transformer, A-linter, A-codegen, A-semantic

fix(transformer): arrow func transform maintain scope ID (#3633)
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

fix(transformer): arrow function transform use UIDs for `_this` vars (#3634)
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/helpers/bindings.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

chore: remove trailing whitespaces for all files; add editorconfig
  .editorconfig
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/rules/react/no_find_dom_node.rs
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_remove_event_listener.rs
  crates/oxc_linter/src/snapshots/jsx_key.snap
  crates/oxc_linter/src/snapshots/max_nested_describe.snap
  crates/oxc_linter/src/snapshots/no_duplicate_hooks.snap
  crates/oxc_linter/src/snapshots/prefer_hooks_on_top.snap
  crates/oxc_linter/src/snapshots/require_hook.snap
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
  crates/oxc_traverse/scripts/lib/parse.mjs
  tasks/minsize/minsize.snap
  tasks/transform_conformance/typescript.snap.md
  website/playground/symbols.js
Labels: A-transformer, A-linter, A-semantic

chore: remove trailing whitespaces for all files; add .editorconfig (#3639)
  .editorconfig
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/rules/react/no_find_dom_node.rs
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_remove_event_listener.rs
  crates/oxc_linter/src/snapshots/jsx_key.snap
  crates/oxc_linter/src/snapshots/max_nested_describe.snap
  crates/oxc_linter/src/snapshots/no_duplicate_hooks.snap
  crates/oxc_linter/src/snapshots/prefer_hooks_on_top.snap
  crates/oxc_linter/src/snapshots/require_hook.snap
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
  crates/oxc_traverse/scripts/lib/parse.mjs
  tasks/minsize/minsize.snap
  tasks/transform_conformance/typescript.snap.md
  website/playground/symbols.js
Labels: A-transformer, A-linter, A-semantic

fix!(codegen): remove the unecessary 4th argument from `Codegen::new` (#3640)
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/benchmark/benches/sourcemap.rs
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/sourcemap.rs
  tasks/coverage/src/transformer.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, A-linter, A-minifier, A-codegen

feat(linter): implement @typescript-eslint/explicit-function-return-type
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/snapshots/explicit_function_return_type.snap
Labels: A-linter

Add allowIIFEs to typos extend-identifiers
  .typos.toml
Labels: none

Fix ancestor_has_return_type to cover test case
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/snapshots/explicit_function_return_type.snap
Labels: A-linter

update
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
Labels: A-linter

feat(linter): implement @typescript-eslint/explicit-function-return-type (#3455)
  .typos.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/snapshots/explicit_function_return_type.snap
Labels: A-linter

chore: relax rustc-hash version
  Cargo.toml
Labels: none

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

chore: features_always_bump_minor = true for changelog
  cliff.toml
Labels: none

Release crates
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/CHANGELOG.md
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/CHANGELOG.md
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/CHANGELOG.md
  crates/oxc_traverse/Cargo.toml
  npm/oxc-parser/package.json
  wasm/parser/package.json
Labels: A-ast, A-transformer, A-minifier, A-parser, A-codegen, A-semantic

ci: add `actions: write` permission to release_crates
  .github/workflows/release_crates.yml
Labels: none

chore: bump test262, babel and TypeScript submodules
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/README.md
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_test262.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/minifier_babel.snap
  tasks/coverage/minifier_test262.snap
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_babel.snap
  tasks/coverage/prettier_test262.snap
  tasks/coverage/prettier_typescript.snap
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_test262.snap
  tasks/coverage/transformer_typescript.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/oxc_exec.snap.md
Labels: A-transformer

chore: bump test262, babel and TypeScript submodules (#3644)
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/README.md
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_test262.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/minifier_babel.snap
  tasks/coverage/minifier_test262.snap
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_babel.snap
  tasks/coverage/prettier_test262.snap
  tasks/coverage/prettier_typescript.snap
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_test262.snap
  tasks/coverage/transformer_typescript.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/oxc_exec.snap.md
Labels: A-transformer

feat(linter): add `parserOptions.emitDecoratorMetadata` and `parserOptions.experimentalDecorators` for config file
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/parser_options.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: A-linter

ci: pin typos to a specific version
  .github/workflows/ci.yml
Labels: none

ci: pin typos to a specific version (#3647)
  .github/workflows/ci.yml
Labels: none

Fix Typescript types for parser
  napi/parser/index.d.ts
  napi/parser/src/lib.rs
Labels: none

fix(napi/parser): typescript types for `Comment` is out of order (#3646)
  napi/parser/index.d.ts
  napi/parser/src/lib.rs
Labels: none

deploy: dbf7c3aaa23c670b26fc9c202e21f1d31cd0bac2
  assets/playground-2U5McHGs.js
  assets/playground-DmElv4ij.js
  playground/index.html
Labels: none

fix(semantic): Add Eq to CtxFlags
  crates/oxc_semantic/src/control_flow/builder/context.rs
Labels: A-semantic

clippy fix
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter

taplo fmt
  .typos.toml
Labels: none

docs(README): change the website domain.
  README.md
Labels: none

build(website): use typescript
  website/package.json
  website/playground/editor.ts
  website/playground/index.html
  website/playground/index.ts
  website/playground/symbols.js
  website/playground/symbols.ts
  website/playground/traverseJson.ts
  website/pnpm-lock.yaml
Labels: none

build: more type improvements
  website/package.json
  website/playground/editor.ts
  website/playground/index.ts
  website/playground/symbols.ts
  website/pnpm-lock.yaml
  website/tsconfig.json
Labels: none

chore: more cleanup
  website/playground/index.ts
  website/playground/symbols.ts
Labels: none

chore: change all usages of `static_assertions` to dev-dependencies
  .typos.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/lexer/number.rs
  crates/oxc_parser/src/lexer/token.rs
Labels: A-ast, A-linter, A-parser

Update Cargo.toml
  Cargo.toml
Labels: none

fix(semantic): Add Eq to CtxFlags (#3651)
  crates/oxc_semantic/src/control_flow/builder/context.rs
Labels: A-semantic
