Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

fix(transformer): use UID for JSX source filename var (#3612)
  crates/oxc_transformer/src/helpers/bindings.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/mod.rs
Labels: A-transformer

perf(transformer): create `Vec` with capacity (#3613)
  crates/oxc_transformer/src/react/jsx_source.rs
Labels: A-transformer

fix(transformer): do not add `__source` for generated nodes (#3614)
  crates/oxc_span/src/span.rs
  crates/oxc_transformer/src/react/jsx_source.rs
Labels: A-transformer

fix(transformer): JSX source calculate correct column when Unicode chars (#3615)
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/utils.rs
Labels: A-transformer

perf(transformer): React display name transform reduce Atom allocations (#3616)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/react/display_name.rs
Labels: A-ast, A-transformer

feat(linter/jsdoc): Implement require-param-description
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_description.rs
  crates/oxc_linter/src/snapshots/require_param_description.snap
Labels: A-linter

feat(coverage): add `--debug` option for finding crash scene (#3622)
  tasks/coverage/README.md
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/suite.rs
Labels: none

fix(transformer): do not rename accessible identifier references
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/output.js
Labels: A-transformer

fix(diagnostics): do not print ansi color codes in non-terminals
  crates/oxc_diagnostics/src/graphical_theme.rs
Labels: none

fix: update snap
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
  crates/oxc_linter/src/snapshots/max_nested_describe.snap
Labels: A-linter

fix(diagnostics): do not print ansi color codes in non-TTYs (#3624)
  crates/oxc_diagnostics/src/graphical_theme.rs
Labels: none

fix: fmt
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
Labels: A-linter

feat(linter): add `eslint/sort-imports` rule (#3568)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
  crates/oxc_linter/src/snapshots/sort_imports.snap
Labels: A-ast, A-linter

feat(linter/jsdoc): Implement require-param-description (#3621)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_description.rs
  crates/oxc_linter/src/snapshots/require_param_description.snap
Labels: A-linter

chore(linter): fix merge conflict
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
  crates/oxc_linter/src/snapshots/sort_imports.snap
Labels: A-linter

chore(linter): fix clippy
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
Labels: A-linter

fix(coverage): fix clippy
  tasks/coverage/src/lib.rs
Labels: none

fix: add fast path
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
Labels: A-linter

feat(linter): eslint-plugin-jest/max-nested-describes (#3585)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
  crates/oxc_linter/src/snapshots/max_nested_describe.snap
Labels: A-linter

refactor(ast): replace recursion with loop
  crates/oxc_ast/src/ast/jsx.rs
Labels: A-ast

refactor(ast): replace recursion with loop (#3626)
  crates/oxc_ast/src/ast/jsx.rs
Labels: A-ast

chore(coverage): ignore `eval` related code in codegen runtime (#3628)
  tasks/coverage/codegen_runtime_test262.snap
  tasks/coverage/src/runtime/mod.rs
Labels: none

perf: branch for benchmarking, please ignore me^_^
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/snapshots/no_unreachable.snap
Labels: A-linter

fix(transformer): arrow func transform use correct spans
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer

fix(transformer): arrow function transform alter `</this>`
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

refactor(traverse): expose `TraverseCtx::find_uid_name`
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: none

WIP 1
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-transformer

Multiple UIDs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer

feat(conformance): run test cases in series in debug mode
  tasks/coverage/src/suite.rs
Labels: none

Comment about error
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer

fix(ast): correct `visited_node` attr for strict mode of arrow fns (#3635)
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

deploy: f8f6d33722952f1a999b22af3b4eecd9b48f3ffb
  assets/playground-2U5McHGs.js
  assets/playground-qiYFqW74.js
  playground/index.html
Labels: none

feat(linter/jsdoc): Implement require-param-name rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_name.rs
  crates/oxc_linter/src/snapshots/require_param_name.snap
Labels: A-linter

feat(linter/jsdoc): Implement require-param-name rule (#3636)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_name.rs
  crates/oxc_linter/src/snapshots/require_param_name.snap
Labels: A-linter

feat(linter): add eslint/no-useless-constructor
  Cargo.toml
  crates/oxc_allocator/src/arena.rs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
  crates/oxc_linter/src/snapshots/no_useless_constructor.snap
Labels: A-ast, A-linter

fix: add fixer
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter

docs(linter): add rule documentation
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter

Update Cargo.toml
  Cargo.toml
Labels: none

u
  Cargo.toml
Labels: none

fix(transformer): arrow function transform alter `</this>` (#3627)
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']
