Repository oxc-project/oxc, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ast, A-cli, A-prettier, A-transformer, A-linter, A-minifier, A-parser, A-codegen, A-semantic, A-type-checking

.github/labeler.yml:

A-ast:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_ast/**']

A-cli:
- changed-files:
  - any-glob-to-any-file: ['apps/oxlint/**']

A-prettier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_prettier/**', 'tasks/prettier_conformance/**']

A-transformer:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_transformer/**', 'tasks/transform_conformance/**']

A-linter:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_linter/**']

A-minifier:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_minifier/**']

A-parser:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_parser/**']

A-codegen:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_codegen/**']

A-semantic:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_semantic/**']

A-type-checking:
- changed-files:
  - any-glob-to-any-file: ['crates/oxc_type_synthesis/**']

docs(README): change the website domain. (#3652)
  README.md
Labels: none

feat(linter): add eslint/no-useless-constructor (#3594)
  .typos.toml
  crates/oxc_allocator/src/arena.rs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
  crates/oxc_linter/src/snapshots/no_useless_constructor.snap
Labels: A-ast, A-linter

u
  website/tsconfig.json
Labels: none

chore: change all usages of `static_assertions` to dev-dependencies (#3654)
  crates/oxc_ast/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/lexer/number.rs
  crates/oxc_parser/src/lexer/token.rs
Labels: A-ast, A-linter, A-parser

build(website): use typescript (#3653)
  website/package.json
  website/playground/editor.ts
  website/playground/index.html
  website/playground/index.ts
  website/playground/symbols.js
  website/playground/symbols.ts
  website/playground/traverseJson.ts
  website/pnpm-lock.yaml
  website/tsconfig.json
Labels: none

fix(transformer): do not rename accessible identifier references (#3623)
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/output.js
Labels: A-transformer

improvement(semantic/cfg): better control flow for switch statements. (#3547)
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
Labels: A-semantic

feat(semantic/cfg): add iteration instructions. (#3566)
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-linter, A-semantic

feat(semantic/cfg): add `Condition` instruction. (#3567)
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js.snap
Labels: A-linter, A-semantic

feat(semantic/cfg): add `Condition` instruction. (#3567)
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js.snap
Labels: A-linter, A-semantic

feat(semantic/cfg): propagate unreachable edges through subgraphs. (#3648)
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@break_from_a_label_in_global_scope.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@class_extend_super.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@fn_return_obj_expr_with_computed_key.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@member_access_with_numbered_index.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@member_access_with_unreachable.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@nested_computed_member_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@private_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@simple_spread.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@spread_in_a_spread.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@two_functions.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-semantic

feat(semantic/cfg): propagate unreachable edges through subgraphs. (#3648)
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@break_from_a_label_in_global_scope.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@class_extend_super.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@fn_return_obj_expr_with_computed_key.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@member_access_with_numbered_index.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@member_access_with_unreachable.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@nested_computed_member_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@private_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@simple_spread.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@spread_in_a_spread.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@two_functions.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-semantic

feat(linter/eslint): add `no_unreachable` rule. (#3238)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/snapshots/no_unreachable.snap
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/node.rs
Labels: A-ast, A-linter, A-semantic

refactor(semantic/cfg): cleanup control flow and it's builder. (#3650)
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-linter, A-semantic

refactor(semantic/cfg): cleanup control flow and it's builder. (#3650)
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-linter, A-semantic

feat(linter/eslint): add `no_unreachable` rule. (#3238)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/snapshots/no_unreachable.snap
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/node.rs
Labels: A-ast, A-linter, A-semantic

feat(linter/eslint): add `no_unreachable` rule. (#3238)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/snapshots/no_unreachable.snap
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/node.rs
Labels: A-ast, A-linter, A-semantic

refactor(semantic/cfg): cleanup control flow and it's builder. (#3650)
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-linter, A-semantic

refactor(coverage): move test runners to their own modules (#3658)
  tasks/coverage/src/babel/mod.rs
  tasks/coverage/src/lib.rs
  tasks/coverage/src/test262/meta.rs
  tasks/coverage/src/test262/mod.rs
  tasks/coverage/src/typescript/mod.rs
Labels: none

refactor(coverage): align to typescript's test harness (#3659)
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/mod.rs
Labels: none

feat(coverage): TypeScript transpile runner prototype
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/mod.rs
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: none

feat(coverage): TypeScript transpile runner prototype (#3660)
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/mod.rs
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: none

deploy: c522796adebc8913b57fc7ad35c69a8e86106282
  assets/playground-DmElv4ij.js
  assets/playground-vMllbHQd.js
  playground/index.html
Labels: none

chore: fix cargo doc
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: none

chore(deps): update dependency rust to v1.79.0 (#3661)
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_index/src/example_generated.rs
  crates/oxc_index/src/macros.rs
  crates/oxc_index/tests/test.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
  crates/oxc_transformer/src/env/targets/query.rs
  rust-toolchain.toml
  tasks/coverage/src/typescript/meta.rs
Labels: A-transformer, A-linter, A-codegen

chore(linter): move no-unreachable to nursery
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

chore(linter): move no-useless-constructor to nursery
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter

chore(linter): fix whitespace in no-useless-constructor
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter

chore(ast): remove ExportDefaultDeclarationKind::TSEnumDeclaration
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_prettier/src/format/module.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast, A-prettier, A-codegen, A-semantic

fix: remove
  crates/oxc_ast/src/span.rs
Labels: A-ast

fix: remove
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

fix(semantic/cfg): correct unreachability propagation in try-finally.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
Labels: A-linter, A-semantic

chore: fix fmt.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter

fix: use short-circuting binary or.
  crates/oxc_semantic/src/control_flow/builder/mod.rs
Labels: A-semantic

fix(semantic/cfg): correct unreachability propagation in try-finally. (#3667)
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
Labels: A-linter, A-semantic

refactor(ast)!: remove `ExportDefaultDeclarationKind::TSEnumDeclaration` (#3666)
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast, A-prettier, A-codegen, A-semantic

chore: cliff.toml `features_always_bump_minor = false`
  cliff.toml
Labels: none

ci: simplify release scripts
  .github/workflows/release_crates.yml
  .github/workflows/release_oxlint.yml
  .github/workflows/reusable_prepare_release.yml
Labels: none

Release oxlint
  Cargo.lock
  apps/oxlint/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/package.json
  npm/oxlint/package.json
Labels: A-cli, A-linter

chore(linter): add description to website rules generator
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/table.rs
Labels: A-linter
