Repository oxc-project/oxc, pull requests merged in 2023-11, with the labels that each got.

#1128 fix(linter): fix covered span of eslint-disable-next-line comments
  crates/oxc_linter/src/disable_directives.rs
Labels: A-linter

#1130 refactor(transformer): move Semantic into Transformer
  crates/oxc_semantic/src/lib.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/tester.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/transformer.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-semantic

#1126 feat(linter): Add rule `eslint-plugin-jsx-a11y(alt-text)`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/snapshots/alt_text.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1133 feat(transformer/react): read comment pragma @jsxRuntime classic / automatic
  crates/oxc_ast/src/trivia.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  crates/oxc_transformer/src/react_jsx/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-semantic, A-ast

#1139 fix(linter/jsx_key): ignore ObjectProterty nodes
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter

#1143 ci: check unused dependencies via `cargo machete`
  .github/workflows/ci.yml
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_napi/Cargo.toml
  tasks/transform_conformance/Cargo.toml
Labels: A-linter

#1145 feat(linter) parse configuration for unicorn/filename-case
  crates/oxc_linter/src/rules/unicorn/filename_case.rs
Labels: A-linter

#1147 feat(linter) eslint plugin unicorn: no invalid remove evt listner
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_remove_event_listener.rs
  crates/oxc_linter/src/snapshots/no_invalid_remove_event_listener.snap
Labels: A-linter

#1148 feat(linter) eslint plugin unicorn prefer string trim start end
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_trim_start_end.rs
  crates/oxc_linter/src/snapshots/prefer_string_trim_start_end.snap
Labels: A-linter

#1150 feat(linter) eslint plugin unicorn: prefer date now
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_date_now.rs
  crates/oxc_linter/src/snapshots/prefer_date_now.snap
Labels: A-linter

#1149 feat(linter) eslint plugin unicorn Prefer TypeError
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_type_error.rs
  crates/oxc_linter/src/snapshots/prefer_type_error.snap
Labels: A-linter

#1151 refactor(eqeqeq) rename eq_eq_eq to eqeqeq
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/eqeqeq.rs
  crates/oxc_linter/src/snapshots/eqeqeq.snap
Labels: A-linter

#1152 refactor: split parse_jest_fn_call
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
Labels: A-linter

#1154 feat: basic enable plugin
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#1155 refactor: change jest rule's category
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_alias_methods.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/rules/jest/no_confusing_set_timeout.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_done_callback.rs
  crates/oxc_linter/src/rules/jest/no_export.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/rules/jest/no_interpolation_in_snapshots.rs
  crates/oxc_linter/src/rules/jest/no_jasmine_globals.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#1157 chore: 🤖 make FileSystem trait object safe
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/file_system.rs
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#1159 feat(linter) eslint plugin unicorn: new-for-builtins
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/new_for_builtins.rs
  crates/oxc_linter/src/snapshots/new_for_builtins.snap
Labels: A-linter

#1160 feat(linter) eslint plugin unicorn: no new array
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_new_array.rs
  crates/oxc_linter/src/snapshots/no_new_array.snap
Labels: A-linter

#1163 chore: 🤖 remove generic in FileSystem trait
  crates/oxc_resolver/src/file_system.rs
  crates/oxc_resolver/src/tests/memory_fs.rs
Labels: A-resolver

#1065 feat(linter): jest/prefer-todo rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_todo.rs
  crates/oxc_linter/src/snapshots/prefer_todo.snap
Labels: A-linter

#1162 feat(linter): eslint-plugin-unicorn no-object-as-default-parameter
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_object_as_default_parameter.rs
  crates/oxc_linter/src/snapshots/no_object_as_default_parameter.snap
Labels: A-linter

#1161 feat(linter) eslint-plugin-unicorn no-static-only-class
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_static_only_class.rs
  crates/oxc_linter/src/snapshots/no_static_only_class.snap
Labels: A-linter

#1166 chore: 🤖 impl fileSystem for `Arc<T>`
  crates/oxc_resolver/src/file_system.rs
Labels: A-resolver

#1167 feat(linter) eslint-plugin-unicorn: prefer code point
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_code_point.rs
  crates/oxc_linter/src/snapshots/prefer_code_point.snap
Labels: A-linter

#1168 feat(linter) eslint-plugin-unicorn: prefer blob reading methods
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_blob_reading_methods.rs
  crates/oxc_linter/src/snapshots/prefer_blob_reading_methods.snap
Labels: A-linter

#1169 chore(benchmark): reopen jest and jsx-a11y for benchmark
  crates/oxc_linter/src/options.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

#1156 feat(linter): support eslint(default-case-last)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/default_case_last.rs
  crates/oxc_linter/src/snapshots/default_case_last.snap
Labels: A-linter

#1174 feat(linter) eslint plugin unicorn: no new buffer
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_new_buffer.rs
  crates/oxc_linter/src/snapshots/no_new_buffer.snap
Labels: A-linter

#1175 feat(linter) eslint plugin unicorn: prefer add event listener
  .typos.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_add_event_listener.rs
  crates/oxc_linter/src/snapshots/prefer_add_event_listener.snap
Labels: A-linter

#1176 feat(linter) eslint plugin unicorn: no useless fallback
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/rules/unicorn/throw_new_error.rs
  crates/oxc_linter/src/snapshots/no_useless_fallback_in_spread.snap
Labels: A-linter

#1171 feat(linter) eslint-plugin-import: no-amd
  crates/oxc_linter/fixtures/import/no-amd.js
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_amd.rs
  crates/oxc_linter/src/snapshots/no_amd.snap
Labels: A-linter

#1172 feat(linter): eslint-plugin-jest: no-hooks
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_hooks.rs
  crates/oxc_linter/src/snapshots/no_hooks.snap
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#1185 feat(lint): remove unnecessary check
  crates/oxc_linter/src/rules/jest/no_hooks.rs
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#1184 refactor(linter): reduce the lookup times of Call Expression in Jest rules
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#1187 feat(linter) eslint plugin unicorn: prefer regex test
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_regexp_test.rs
  crates/oxc_linter/src/snapshots/prefer_regexp_test.snap
Labels: A-linter, A-ast

#1198 feat(resolver): strip trailling commas from tsconfig.json
  crates/oxc_resolver/fixtures/parcel/tsconfig/trailing-comma/tsconfig.json
  crates/oxc_resolver/src/json_comments.rs
  crates/oxc_resolver/src/tsconfig.rs
Labels: A-resolver

#1200 fix(linter): fix handling of repeated eslint-disable comments
  crates/oxc_linter/src/disable_directives.rs
Labels: A-linter

#1188 feat(linter) eslint plugin unicorn: prefer optional catch binding
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_optional_catch_binding.rs
  crates/oxc_linter/src/snapshots/prefer_optional_catch_binding.snap
Labels: A-linter

#1186 feat(linter) eslint plugin unicorn prefer spread
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
  crates/oxc_linter/src/snapshots/prefer_spread.snap
Labels: A-linter

#1202 fix(linter): detect assert function in Await Expression
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/snapshots/expect_expect.snap
Labels: A-linter

#1214 fix(parser): ASI of async class member
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/misc/pass/swc-8253.js
Labels: A-parser

#1223 feat(resovler): impl Into for IOError
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/tests/imports_field.rs
Labels: A-resolver

#1208 refactor(linter): remove unused logic in `resolve_to_jest_fn`
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/prefer_todo.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn_new.rs
Labels: A-linter

#1225 refactor(lint): migrate eslint-plugin-jest(expec-expect)
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/snapshots/expect_expect.snap
Labels: A-linter

#1125 feat(linter): eslint-plugin-unicorn/no-abusive-eslint-disable
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_abusive_eslint_disable.rs
  crates/oxc_linter/src/snapshots/no_abusive_eslint_disable.snap
Labels: A-linter

#1226 refactor(linter): migrate eslint-plugin-jest(no-alias-method)
  crates/oxc_linter/src/rules/jest/no_alias_methods.rs
Labels: A-linter

#1228 refactor(linter): replace all `is_type_of_jest_fn_call`
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/rules/jest/no_hooks.rs
  crates/oxc_linter/src/rules/jest/prefer_todo.rs
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#1229 feat(linter): reimplement eslint-plugin-jest(no-identical-title)
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/snapshots/no_identical_title.snap
  crates/oxc_linter/src/utils/jest/parse_jest_fn_new.rs
Labels: A-linter

#1231 refactor(lint): replace `parse_jest_fn_*` methods in eslint-plugin-jest(no-standalone-expect) rule
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#1230 fix(parser): Disallow ReservedWord in NamedExports
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/module.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
Labels: A-parser, A-ast

#1232 refactor(linter): remove all old `parse_general_jest_fn_call` in jest rules
  crates/oxc_linter/src/rules/jest/no_done_callback.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/snapshots/no_done_callback.snap
  crates/oxc_linter/src/snapshots/valid_describe_callback.snap
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#1237 chore(linter): replace with `parse_general_jest_fn_new`
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_done_callback.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#1241 fix(linter) Fix prefer logical operator error with parenthesis
  crates/oxc_linter/src/rules/unicorn/prefer_logical_operator_over_ternary.rs
  crates/oxc_linter/src/snapshots/prefer_logical_operator_over_ternary.snap
Labels: A-linter

#1240 fix(linter) Fix prefer type error with parenthesis
  crates/oxc_linter/src/rules/unicorn/prefer_type_error.rs
  crates/oxc_linter/src/snapshots/prefer_type_error.snap
Labels: A-linter

#1242 fix(linter) Fix catch error name with parenthesis
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/snapshots/catch_error_name.snap
Labels: A-linter

#1243 fix(linter) Fix no instanceof array with parenthesis
  crates/oxc_linter/src/rules/unicorn/no_instanceof_array.rs
  crates/oxc_linter/src/snapshots/no_instanceof_array.snap
Labels: A-linter

#1244 fix(linter) Fix no object as default param with parenthesis
  crates/oxc_linter/src/rules/unicorn/no_object_as_default_parameter.rs
  crates/oxc_linter/src/snapshots/no_object_as_default_parameter.snap
Labels: A-linter

#1245 fix(linter) Fix prefer date now with parenthesis
  crates/oxc_linter/src/rules/unicorn/prefer_date_now.rs
  crates/oxc_linter/src/snapshots/prefer_date_now.snap
Labels: A-linter

#1246 feat(linter) eslint plugin unicorn: prefer string starts ends with
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/snapshots/prefer_string_starts_ends_with.snap
Labels: A-linter

#1250 feat(linter) eslint plugin unicorn: no this assignment
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_this_assignment.rs
  crates/oxc_linter/src/snapshots/no_this_assignment.snap
Labels: A-linter

#1255 feat(linter) eslint plugin unicorn: no document cookie
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/new_for_builtins.rs
  crates/oxc_linter/src/rules/unicorn/no_document_cookie.rs
  crates/oxc_linter/src/snapshots/no_document_cookie.snap
Labels: A-linter

#1256 feat(linter) eslint plugin unicorn: prefer dom node append
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_append.rs
  crates/oxc_linter/src/snapshots/prefer_dom_node_append.snap
Labels: A-linter

#1259 refactor(linter): remove all old `parse_expect_jest_fn_call`
  crates/oxc_linter/src/rules/jest/no_alias_methods.rs
  crates/oxc_linter/src/rules/jest/no_interpolation_in_snapshots.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
Labels: A-linter

#1248 feat(linter) eslint plugin unicorn: prefer string replace all
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_control_regex.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_replace_all.rs
  crates/oxc_linter/src/snapshots/prefer_string_replace_all.snap
Labels: A-linter

#1253 feat(linter) eslint plugin unicorn: no negated condition
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_negated_condition.rs
  crates/oxc_linter/src/snapshots/no_negated_condition.snap
Labels: A-linter

#1247 feat(linter) eslint-plugin-unicorn: prefer string slice
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_slice.rs
  crates/oxc_linter/src/snapshots/prefer_string_slice.snap
Labels: A-linter

#1251 feat(linter) eslint plugin unicorn: no typeof undefined
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_typeof_undefined.rs
  crates/oxc_linter/src/snapshots/no_typeof_undefined.snap
Labels: A-linter

#1252 feat(linter) eslint plugin unicorn: no lonely if
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_lonely_if.rs
  crates/oxc_linter/src/snapshots/no_lonely_if.snap
Labels: A-linter

#1249 feat(linter) eslint plugin unicorn: empty-brace-spaces
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/empty_brace_spaces.rs
  crates/oxc_linter/src/snapshots/empty_brace_spaces.snap
Labels: A-linter

#1257 feat(linter) eslint plugin unicorn: prefer dom node dataset
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_dataset.rs
  crates/oxc_linter/src/snapshots/prefer_dom_node_dataset.snap
Labels: A-linter

#1254 feat(linter) eslint plugin unicorn: no useless promise resolve reject
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_promise_resolve_reject.rs
  crates/oxc_linter/src/snapshots/no_useless_promise_resolve_reject.snap
Labels: A-linter

#1267 refactor(linter): replace the old parse_expect_jest_fn.rs file
  crates/oxc_linter/src/rules/jest/no_confusing_set_timeout.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn_new.rs
Labels: A-linter

#1239 feat(linter): eslint-plugin-jest/max_expects
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/max_expects.rs
  crates/oxc_linter/src/snapshots/max_expects.snap
Labels: A-linter

#1303 feat(ast): add to_string function to VariableDelcartionKind
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic, A-ast

#1313 feat(prettier): add the basics of comment printing
  crates/oxc_ast/src/trivia.rs
  crates/oxc_cli/src/format/mod.rs
  crates/oxc_prettier/Cargo.toml
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_prettier/src/comment.rs
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/format.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  tasks/benchmark/benches/prettier.rs
  tasks/prettier_conformance/src/lib.rs
Labels: A-semantic, A-ast

#1321 refactor(ast): VariableDeclarationKind::to_string -> as_str
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_prettier/src/format.rs
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic, A-ast

#1271 feat(linter): eslint-plugin-unicorn/number-literal-case
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/number_literal_case.rs
  crates/oxc_linter/src/snapshots/number_literal_case.snap
Labels: A-linter

#1129 feat(linter): Add rule `eslint(no_regex_spaces)`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_regex_spaces.rs
  crates/oxc_linter/src/snapshots/no_regex_spaces.snap
Labels: A-linter

#1342 rust: do not compile libs and bins that do not have tests
  crates/oxc/Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_type_synthesis/Cargo.toml
  crates/oxc_wasm/Cargo.toml
  editors/vscode/server/Cargo.toml
  napi/parser/Cargo.toml
  napi/resolver/Cargo.toml
  tasks/benchmark/Cargo.toml
  tasks/common/Cargo.toml
  tasks/coverage/Cargo.toml
  tasks/minsize/Cargo.toml
  tasks/rulegen/Cargo.toml
  tasks/transform_conformance/Cargo.toml
Labels: A-type-checking

#1354 feat(pretter): start formatting `ModuleDeclaration` and `ArrowExpression`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_prettier/src/format/arrow_function.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-ast

#1357 Rust v1.74.0
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/return_checker.rs
  crates/oxc_linter/src/rules/eslint/default_case_last.rs
  crates/oxc_linter/src/rules/import/default.rs
  crates/oxc_linter/src/rules/import/no_amd.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/rules/react/jsx_no_useless_fragment.rs
  crates/oxc_linter/src/rules/react/no_children_prop.rs
  crates/oxc_linter/src/rules/react/no_find_dom_node.rs
  crates/oxc_linter/src/rules/typescript/adjacent_overload_signatures.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/no_var_requires.rs
  crates/oxc_linter/src/rules/unicorn/new_for_builtins.rs
  crates/oxc_linter/src/rules/unicorn/no_abusive_eslint_disable.rs
  crates/oxc_linter/src/rules/unicorn/no_document_cookie.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_remove_event_listener.rs
  crates/oxc_linter/src/rules/unicorn/no_lonely_if.rs
  crates/oxc_linter/src/rules/unicorn/no_negated_condition.rs
  crates/oxc_linter/src/rules/unicorn/no_new_array.rs
  crates/oxc_linter/src/rules/unicorn/no_new_buffer.rs
  crates/oxc_linter/src/rules/unicorn/no_object_as_default_parameter.rs
  crates/oxc_linter/src/rules/unicorn/no_static_only_class.rs
  crates/oxc_linter/src/rules/unicorn/no_this_assignment.rs
  crates/oxc_linter/src/rules/unicorn/no_typeof_undefined.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_promise_resolve_reject.rs
  crates/oxc_linter/src/rules/unicorn/prefer_add_event_listener.rs
  crates/oxc_linter/src/rules/unicorn/prefer_blob_reading_methods.rs
  crates/oxc_linter/src/rules/unicorn/prefer_code_point.rs
  crates/oxc_linter/src/rules/unicorn/prefer_date_now.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_append.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_dataset.rs
  crates/oxc_linter/src/rules/unicorn/prefer_optional_catch_binding.rs
  crates/oxc_linter/src/rules/unicorn/prefer_regexp_test.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_replace_all.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_slice.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_trim_start_end.rs
  crates/oxc_linter/src/rules/unicorn/prefer_type_error.rs
  crates/oxc_linter/src/rules/unicorn/text_encoding_identifier_case.rs
  crates/oxc_query/src/tests.rs
  crates/oxc_resolver/src/json_comments.rs
  crates/oxc_semantic/src/jsdoc/parser.rs
  crates/oxc_semantic/tests/scopes.rs
  crates/oxc_wasm/src/lib.rs
  rust-toolchain.toml
Labels: A-linter, A-semantic, A-resolver

#1362 chore(resolver): remove tracing_subscriber
  Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tracing_subscriber.rs
Labels: A-resolver

#1367 feat(prettier): print statements with newlines
  crates/oxc_ast/src/span.rs
  crates/oxc_prettier/src/format/block.rs
  crates/oxc_prettier/src/format/function.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  crates/oxc_prettier/src/format/statement.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-ast

#1372 feat(prettier): sort regex flags
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-ast

#1381 feat(prettier): print `ExportAllDeclaration`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
Labels: A-ast

#1390 feat(prettier) TSInferType, TSIndexAccessType
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#1316 feat(linter): eslint-plugin-jest: no-deprecated-function
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_deprecated_functions.rs
  crates/oxc_linter/src/snapshots/no_deprecated_functions.snap
Labels: A-linter

#1410 feat(linter): eslint-plugin-unicorn: no-hex-escape
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_hex_escape.rs
  crates/oxc_linter/src/snapshots/no_hex_escape.snap
Labels: A-linter

#1415 feat(prettier): start adding parent stack
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/format/block.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/macros.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1418 feat(linter): for-direction rule add check for condition in reverse o…
  crates/oxc_linter/src/rules/eslint/for_direction.rs
  crates/oxc_linter/src/snapshots/for_direction.snap
Labels: A-linter

#1417 feat(linter): eslint-plugin-unicorn/no-nested-ternary
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_nested_ternary.rs
  crates/oxc_linter/src/snapshots/no_nested_ternary.snap
Labels: A-linter

#1419 fix(prettier) Print intend in doc debug view
  crates/oxc_prettier/src/doc.rs
Labels: A-prettier

#1422 feat(prettier): add trailing comma
  crates/oxc_prettier/src/format/array.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1424 feat(prettier): support format function for ImportDefaultSpecifier
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1416 Add base to AST BigintLiteral
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_syntax/src/lib.rs
Labels: A-parser, A-minifier, A-ast

#1420 feat(prettier) Add IndentIfBreak support
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/printer/mod.rs
Labels: A-prettier

#1425 feat(prettier): format with and if statements
  crates/oxc_prettier/src/format/block.rs
  crates/oxc_prettier/src/format/misc.rs
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1426 feat(prettier): basic print of `TemplateLiteral`
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/template_literal.rs
Labels: A-prettier

#1427 feat(prettier): format for loop and update expression
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1428 task(prettier): add diff view
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier

#1429 feat(prettier): format `for((let) of ..`
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1430 feat(prettier): format empty try catch
  crates/oxc_prettier/src/format/block.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/lib.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1432 chore(prettier_conformance): ignore stage3 and multiparser tests
  tasks/prettier_conformance/prettier.snap.md
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier

#1433 refactor(prettier): comment flags should be bigflags
  Cargo.lock
  crates/oxc_prettier/Cargo.toml
  crates/oxc_prettier/src/comment.rs
Labels: A-prettier

#1431 feat(linter): `anchor-has-content` for eslint-plugin-jsx-a11y
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_has_content.rs
  crates/oxc_linter/src/snapshots/anchor_has_content.snap
Labels: A-linter

#1434 feat(prettier): print leading comments with newlines
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/snapshots/ban_ts_comment.snap
  crates/oxc_linter/src/snapshots/no_abusive_eslint_disable.snap
  crates/oxc_linter/src/snapshots/no_commented_out_tests.snap
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_prettier/src/comment.rs
  crates/oxc_prettier/src/lib.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-linter, A-parser, A-prettier

#1435 refactor(prettier): improve comment handling API
  crates/oxc_prettier/src/comment.rs
  crates/oxc_prettier/src/lib.rs
Labels: A-prettier

#1437 chore(prettier_conformance): ignore more non-es6 syntax
  tasks/prettier_conformance/prettier.snap.md
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier

#1436 feat(linter): html-has-lang for eslint-plugin-jsx-a11y
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/html_has_lang.rs
  crates/oxc_linter/src/snapshots/html_has_lang.snap
Labels: A-linter

#1438 feat(prettier) Support should_break option for group doc
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/format/array.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/object.rs
  crates/oxc_prettier/src/format/statement.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/printer/mod.rs
Labels: A-prettier

#1439 feat(prettier) check original state for new lines when formatting properties
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_prettier/src/format/misc.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/object.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-ast, A-prettier

#1440 feat(prettier) print `?.` when a printing an optional call expression
  crates/oxc_prettier/src/format/call_expression.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1444 refactor(rust): move to workspace lint table
  .cargo/config.toml
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_formatter/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter_plugin/Cargo.toml
  crates/oxc_macros/Cargo.toml
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_prettier/Cargo.toml
  crates/oxc_query/Cargo.toml
  crates/oxc_resolver/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_type_synthesis/Cargo.toml
  crates/oxc_wasm/Cargo.toml
  editors/vscode/server/Cargo.toml
  napi/parser/Cargo.toml
  napi/resolver/Cargo.toml
  napi/resolver/src/lib.rs
  tasks/benchmark/Cargo.toml
  tasks/common/Cargo.toml
  tasks/coverage/Cargo.toml
  tasks/minsize/Cargo.toml
  tasks/prettier_conformance/Cargo.toml
  tasks/rulegen/Cargo.toml
  tasks/transform_conformance/Cargo.toml
Labels: A-linter, A-parser, A-semantic, A-cli, A-minifier, A-ast, A-type-checking, A-resolver, A-transformer, A-codegen, A-prettier

#1447 feat(prettier): add spacing before empty bracket in ImportDeclaration
  crates/oxc_prettier/src/format/module.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1443 feat(prettier): support format function for ImportNamespaceSpecifier
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1449 fix(parser): correct `import_kind` of `TSImportEqualsDeclaration`
  crates/oxc_parser/src/ts/statement.rs
Labels: A-parser

#1441 feat(prettier): when calculating the remaining width, the docs of the remaining commands should be included
  crates/oxc_prettier/src/printer/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1448 feat(prettier): implement should_break in CallExpression and Object
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/object.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1450 feat(prettier): add infra for need_parens
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/need_parens.rs
Labels: A-ast, A-prettier

#1451 chore(prettier): fix typo in function name
  crates/oxc_prettier/src/doc.rs
Labels: A-prettier

#1453 fix(prettier): print_method
  crates/oxc_prettier/src/format/function.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1455 fix(prettier): class without name
  crates/oxc_prettier/src/format/class.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1456 fix(prettier): class extends clause
  crates/oxc_prettier/src/format/class.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1457 fix(prettier): async arrow expression
  crates/oxc_prettier/src/format/arrow_function.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1454 feat(prettier): add `should_break` for array
  crates/oxc_prettier/src/format/array.rs
Labels: A-prettier

#1459 fix(prettier): Private Field Expression
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#1463 feat(linter): eslint plugin unicorn: no useless switch case
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_switch_case.rs
  crates/oxc_linter/src/snapshots/no_useless_switch_case.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter

#1473 feat(prettier): support format commonjs and amd call
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/object.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1464 feat(linter) eslint plugin unicorn: no zero fractions
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_zero_fractions.rs
  crates/oxc_linter/src/snapshots/no_zero_fractions.snap
Labels: A-linter

#1452 feat(cli): add `--deny-warnings` flag
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/result.rs
Labels: A-cli

#1465 feat(linter) eslint plugin unicorn: prefer event target
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_event_target.rs
  crates/oxc_linter/src/snapshots/prefer_event_target.snap
Labels: A-linter

#1466 feat(linter) eslint plugin unicorn: prefer math trunc
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_math_trunc.rs
  crates/oxc_linter/src/snapshots/prefer_math_trunc.snap
Labels: A-linter

#1467 feat(linter) eslint plugin unicorn: prefer array some
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_some.rs
  crates/oxc_linter/src/snapshots/prefer_array_some.snap
Labels: A-linter

#1469 refactor(linter) Use `is_method_call` in more places
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_some.rs
Labels: A-linter

#1470 refactor(linter) Use `is_method_call` in no_console_spaces
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/unicorn/no_console_spaces.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_some.rs
Labels: A-linter

#1471 feat(linter) eslint plugin unicorn: prefer includes
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_includes.rs
  crates/oxc_linter/src/snapshots/prefer_includes.snap
Labels: A-linter

#1472 feat(linter) eslint plugin unicorn: prefer dom node remove
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_append.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_remove.rs
  crates/oxc_linter/src/snapshots/prefer_dom_node_remove.snap
Labels: A-linter

#1474 feat(parser): add `preserve_parens` option (default: true)
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lib.rs
Labels: A-parser

#1475 feat(prettier): support print inner comment in CallExpression
  crates/oxc_prettier/src/comment.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier

#1480 perf(resolver): do not search for package.json inside non-existing directories
  crates/oxc_resolver/src/cache.rs
Labels: A-resolver

#1478 feat(prettier): support longer source in ImportExpression
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1481 fix(resolver): make sure package.json path is inside the resolved path
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#1479 feat(prettier): print inner comment in PropertyKey
  crates/oxc_prettier/src/comment.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1482 refactor(resolver): do not search for package.json inside non-existing directories
  crates/oxc_resolver/src/cache.rs
Labels: A-resolver

#1483 chore(linter): uncomment test case for `no-func-assign` rule
  crates/oxc_linter/src/rules/eslint/no_func_assign.rs
  crates/oxc_linter/src/snapshots/no_func_assign.snap
Labels: A-linter

#1485 feat(prettier): print multiple variable declarator correctly in VariableDeclaration
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#1488 chore(transformer): 🤖 add diff section when conformance failed in filter mode
  Cargo.lock
  tasks/common/Cargo.toml
  tasks/common/src/diff.rs
  tasks/common/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#1486 feat(prettier): basic `TaggedTemplateExpression` printing
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#1458 feat(transformer): add transform property-literal plugin
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/es3/mod.rs
  crates/oxc_transformer/src/es3/property_literals.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/utils.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#1487 feat(prettier): turn off preserve_parens and start working on need-parens
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_cli/src/format/mod.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/need_parens.rs
  tasks/prettier_conformance/prettier.snap.md
  tasks/prettier_conformance/src/lib.rs
Labels: A-cli, A-ast, A-prettier
