Repository oxc-project/oxc, pull requests merged in 2023-10, with the labels that each got.

#954 test(semantic): add scoping test cases
  crates/oxc_semantic/tests/scopes.rs
  crates/oxc_semantic/tests/symbols.rs
  crates/oxc_semantic/tests/util/expect.rs
  crates/oxc_semantic/tests/util/mod.rs
  crates/oxc_semantic/tests/util/symbol_tester.rs
  crates/oxc_span/src/source_type.rs
Labels: A-semantic

#953 feat(linter) Add ban_types typescript eslint rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/ban_types.rs
  crates/oxc_linter/src/snapshots/ban_types.snap
Labels: A-linter

#941 feat(linter): add `eslint(jest/valid-expect)` rule
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/snapshots/valid_expect.snap
Labels: A-linter

#958 Rust 1.73.0
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_parser/src/js/list.rs
  rust-toolchain.toml
Labels: A-linter, A-parser

#961 ci: turn off doc tests because they are slow to compile and run
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_formatter/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter_plugin/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_napi/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_query/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_type_synthesis/Cargo.toml
  crates/oxc_wasm/Cargo.toml
  editor/vscode/server/Cargo.toml
  fuzz/Cargo.toml
  tasks/benchmark/Cargo.toml
  tasks/common/Cargo.toml
  tasks/coverage/Cargo.toml
  tasks/minsize/Cargo.toml
  tasks/transform_conformance/Cargo.toml
Labels: A-linter, A-parser, A-semantic, A-minifier, A-ast, A-type-checking

#960 feat(transformer): Shorthand Properties
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/es2015/shorthand_properties.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-ast

#957 feat(linter): add `jest/no-identical-title` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/snapshots/no_identical_title.snap
Labels: A-linter

#962 feat(transformer): Class Static Block
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/es2022/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast

#963 feat(minifier): partially re-enable minifier
  Cargo.lock
  Cargo.toml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/compressor/ast_util.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/util.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/printer/gen.rs
  crates/oxc_minifier/src/printer/mod.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_syntax/src/reference.rs
Labels: A-parser, A-semantic, A-minifier, A-ast, A-printer

#965 feat(resolver): configurable tsconfig project references
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/tests/tsconfig_paths.rs
  crates/oxc_resolver/src/tests/tsconfig_project_references.rs
  crates/oxc_resolver/src/tsconfig.rs
Labels: A-resolver

#966 feat(linter): add `eslint(jest/valid-title)` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/snapshots/valid_title.snap
Labels: A-linter

#969 feat(minifier): reenable minifier tests
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/prepass.rs
  crates/oxc_minifier/src/printer/gen.rs
  crates/oxc_minifier/tests/mod.rs
Labels: A-minifier, A-printer

#971 fix(resolver): resolve tsconfig extend that are extensionless
  crates/oxc_resolver/fixtures/parcel/tsconfig/extends-extensionless/foo.js
  crates/oxc_resolver/fixtures/parcel/tsconfig/extends-extensionless/tsconfig.json
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/tsconfig_paths.rs
Labels: A-resolver

#938 feat(linter): add `jest/no-confusing-set-timeout`
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_confusing_set_timeout.rs
  crates/oxc_linter/src/snapshots/no_confusing_set_timeout.snap
Labels: A-linter

#972 feat(minifier): re-enable mangler
  Cargo.lock
  Cargo.toml
  crates/oxc_ast/src/visit.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_exports.rs
  crates/oxc_linter/src/snapshots/no_redeclare.snap
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/prepass.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/mangler/mod.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/minifier.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/minifier_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/minifier.rs
  tasks/minsize/minsize.snap
Labels: A-linter, A-semantic, A-minifier, A-ast

#973 refactor(ast): fix the lifetime annotations around Vist and VisitMut
  Cargo.lock
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/prepass.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/lib.rs
  tasks/rulegen/src/main.rs
Labels: A-semantic, A-minifier, A-ast

#978 feat(linter): eslint-plugin-unicorn(filename-case)
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/filename_case.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter_plugin/src/test.rs
  crates/oxc_wasm/src/lib.rs
  editor/vscode/server/src/linter.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

#985 feat(codegen): move minifying printer to codegen crate
  .github/labeler.yml
  Cargo.lock
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/context.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/operator.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/printer/mod.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/terser/mod.rs
  tasks/coverage/minifier_test262.snap
Labels: A-minifier, A-printer

#986 feat(transform_conformance): move Formatter to codegen
  Cargo.lock
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/prepass.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/examples/transformer.rs
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-minifier

#984 feat(linter) eslint-unicorn catch error name
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/snapshots/catch_error_name.snap
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

#987 feat(codegen): implement the basics of non-minifying codegen
  Cargo.lock
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_formatter/src/gen.rs
  crates/oxc_formatter/src/lib.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/examples/transformer.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_test262.snap
  tasks/coverage/formatter_babel.snap
  tasks/coverage/minifier_babel.snap
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-minifier, A-ast, A-codegen

#989 fix(codegen): fix some typescript codegen problems
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  tasks/coverage/codegen_typescript.snap
Labels: A-ast, A-codegen

#990 refactor(minifier): make the minifier api only accept an ast
  Cargo.lock
  crates/oxc_codegen/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/oxc/code_removal.rs
  crates/oxc_minifier/tests/terser/mod.rs
  crates/oxc_transformer/Cargo.toml
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/minifier.rs
  tasks/coverage/src/minifier.rs
  tasks/minsize/Cargo.toml
  tasks/minsize/src/lib.rs
Labels: A-minifier, A-codegen

#993 feat(playground): add transform and minify
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc/src/lib.rs
  crates/oxc_codegen/Cargo.toml
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/options.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_wasm/Cargo.toml
  crates/oxc_wasm/src/lib.rs
  crates/oxc_wasm/src/options.rs
  website/playground/index.html
  website/playground/index.js
Labels: A-minifier, A-codegen

#991 feat(linter): eslint-plugin-unicorn no console spaces
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_console_spaces.rs
  crates/oxc_linter/src/snapshots/no_console_spaces.snap
Labels: A-linter

#992 feat(linter) eslint-plugin-unicorn error message
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/error_message.rs
  crates/oxc_linter/src/snapshots/error_message.snap
Labels: A-linter

#994 feat(semantic): check non-simple lhs expression of assignment expression
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_syntax/src/operator.rs
  tasks/coverage/parser_babel.snap
Labels: A-semantic, A-ast

#995 feat(codegen): beauty class print
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_typescript.snap
Labels: A-ast, A-codegen

#996 feat(transformer): finish 2016 exponentiation operator
  Cargo.lock
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/no_constant_binary_expression.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/regexp/regexp_flags.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/transformer.rs
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-linter, A-semantic, A-minifier, A-ast

#997 feat(linter): eslint-plugin-unicorn(prefer-array-flat-map)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
  crates/oxc_linter/src/snapshots/prefer_array_flat_map.snap
Labels: A-linter

#1003 feat: adjust the order of print semicolon
  crates/oxc_codegen/src/gen.rs
  crates/oxc_minifier/tests/closure/fold_conditions.rs
  crates/oxc_minifier/tests/closure/fold_constants.rs
  crates/oxc_minifier/tests/closure/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
  crates/oxc_minifier/tests/oxc/code_removal.rs
  crates/oxc_minifier/tests/oxc/folding.rs
  crates/oxc_minifier/tests/oxc/precedence.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  crates/oxc_minifier/tests/tdewolff/mod.rs
  crates/oxc_minifier/tests/terser/fixtures/debugger.js
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_typescript.snap
Labels: A-minifier, A-codegen

#1004 feat(transformer): ES2020 Nullish Coalescing Operator
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2020/mod.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/tester.rs
  crates/oxc_transformer/src/utils.rs
  crates/oxc_wasm/src/lib.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-semantic, A-minifier, A-ast, A-codegen

#1005 feat(linter): eslint-plugin-unicorn(throw-new-error)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/throw_new_error.rs
  crates/oxc_linter/src/snapshots/throw_new_error.snap
Labels: A-linter

#1013 fix(linter): fix panic with `strip_prefix`
  crates/oxc_linter/src/service.rs
Labels: A-linter

#1016 feat(linter) eslint-plugin-react/jsx-key
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/snapshots/jsx_key.snap
Labels: A-linter, A-ast

#1017 feat(transformer): add utils to make logical_assignment_operators pass
  crates/oxc_ast/src/syntax_directed_operations/gather_node_parts.rs
  crates/oxc_ast/src/syntax_directed_operations/mod.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/utils.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-semantic, A-ast, A-codegen

#1020 fix(linter): incorrect reporting for jsx_key
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter

#1014 fix(linter) Fix panic when linting declaration files
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#1021 feat(linter): eslint-plugin-react/no-useless-fragment
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_no_useless_fragment.rs
  crates/oxc_linter/src/snapshots/jsx_no_useless_fragment.snap
Labels: A-linter

#633 feat(linter): eslint/no-fallthrough [BLOCKED]
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/trivia.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_alias_methods.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/rules/jest/no_confusing_set_timeout.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_done_callback.rs
  crates/oxc_linter/src/rules/jest/no_export.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/rules/jest/no_interpolation_in_snapshots.rs
  crates/oxc_linter/src/rules/jest/no_jasmine_globals.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/rules/react/no_children_prop.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/ban_types.rs
  crates/oxc_linter/src/rules/typescript/prefer_as_const.rs
  crates/oxc_linter/src/snapshots/ban_types.snap
  crates/oxc_linter/src/snapshots/expect_expect.snap
  crates/oxc_linter/src/snapshots/jsx_key.snap
  crates/oxc_linter/src/snapshots/no_alias_methods.snap
  crates/oxc_linter/src/snapshots/no_children_prop.snap
  crates/oxc_linter/src/snapshots/no_commented_out_tests.snap
  crates/oxc_linter/src/snapshots/no_conditional_expect.snap
  crates/oxc_linter/src/snapshots/no_confusing_set_timeout.snap
  crates/oxc_linter/src/snapshots/no_disabled_tests.snap
  crates/oxc_linter/src/snapshots/no_done_callback.snap
  crates/oxc_linter/src/snapshots/no_export.snap
  crates/oxc_linter/src/snapshots/no_focused_tests.snap
  crates/oxc_linter/src/snapshots/no_identical_title.snap
  crates/oxc_linter/src/snapshots/no_interpolation_in_snapshots.snap
  crates/oxc_linter/src/snapshots/no_jasmine_globals.snap
  crates/oxc_linter/src/snapshots/no_mocks_import.snap
  crates/oxc_linter/src/snapshots/no_standalone_expect.snap
  crates/oxc_linter/src/snapshots/no_test_prefixes.snap
  crates/oxc_linter/src/snapshots/prefer_as_const.snap
  crates/oxc_linter/src/snapshots/valid_describe_callback.snap
  crates/oxc_linter/src/snapshots/valid_expect.snap
  crates/oxc_linter/src/snapshots/valid_title.snap
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter, A-ast

#1024 feat(linter): eslint-plugin-react: jsx-no-duplicate-props
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_no_duplicate_props.rs
  crates/oxc_linter/src/snapshots/jsx_no_duplicate_props.snap
Labels: A-linter

#1030 fix(lexer) Fix spans for jsx children
  crates/oxc_linter/src/snapshots/jsx_key.snap
  crates/oxc_linter/src/snapshots/jsx_no_useless_fragment.snap
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-linter, A-parser

#1029 feat(linter) eslint-plugin-react: no dangerously set inner html
  crates/oxc_ast/src/span.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_dangerously_set_inner_html.rs
  crates/oxc_linter/src/snapshots/no_dangerously_set_inner_html.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter, A-ast

#1027 feat(linter) eslint-plugin-react(jsx-no-comment-text-nodes)
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_no_comment_text_nodes.rs
  crates/oxc_linter/src/snapshots/jsx_no_comment_text_nodes.snap
Labels: A-linter, A-ast

#1039 feat(codegen): json strings proposal
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/lexer/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-parser, A-codegen

#1040 fix(linter) Improve span for jsx key
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/snapshots/jsx_key.snap
Labels: A-linter

#1031 feat(linter): eslint-plugin-react/no-find-dom-node
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_find_dom_node.rs
  crates/oxc_linter/src/snapshots/no_find_dom_node.snap
Labels: A-linter

#1043 reactor(linter): Refactor jsx key rule to use static_property_info
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter

#1044 feat(linter): eslint-plugin-react(no-unescaped-entities)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_unescaped_entities.rs
  crates/oxc_linter/src/snapshots/no_unescaped_entities.snap
Labels: A-linter

#1049 feat(semantic): bind function expression name
  crates/oxc_semantic/src/binder.rs
  tasks/coverage/src/test262.rs
Labels: A-semantic

#1047 feat(transformer): implement some of needs_explicit_esm for typescript
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/syntax_directed_operations/bound_names.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_formatter/src/gen.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_query/src/edges.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-linter, A-parser, A-semantic, A-ast, A-codegen

#1042 feat(linter): support react/no-render-return-value
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_render_return_value.rs
  crates/oxc_linter/src/snapshots/no_render_return_value.snap
  crates/oxc_span/src/span.rs
Labels: A-linter

#1053 feat(linter): eslint-plugin-react no-string-refs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/snapshots/no_string_refs.snap
Labels: A-linter

#1052 feat(linter): eslint-plugin-unicorn - no-empty-file
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/snapshots/no_empty_file.snap
Labels: A-linter

#1055 feat(linter): support react/no-string-refs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/snapshots/no_string_refs.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1064 feat(linter) eslint-plugin-unicorn - prefer-logical-operator-over-ternary
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_logical_operator_over_ternary.rs
  crates/oxc_linter/src/snapshots/prefer_logical_operator_over_ternary.snap
Labels: A-linter

#1063 fix(linter): noTemplateLiterals configuration in no_string_refs rule not working
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/snapshots/no_string_refs.snap
Labels: A-linter

#1062 fix(linter) fix incorrect reporting for no_useless_escape
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
Labels: A-linter, A-ast

#1057 feat(transformer): start implementing react jsx transform
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  crates/oxc_transformer/src/react_jsx/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-ast

#1054 feat(linter): eslint-plugin-unicorn switch-case-braces
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/switch_case_braces.rs
  crates/oxc_linter/src/snapshots/switch_case_braces.snap
Labels: A-linter

#1073 feat(linter): eslint-plugin-unicorn require-number-to-fixed-digits-argument
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/require_number_to_fixed_digits_argument.rs
  crates/oxc_linter/src/snapshots/require_number_to_fixed_digits_argument.snap
Labels: A-linter

#1076 feat(transformer): implement react get_attribute_name
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast

#1077 feat(transformer): implement key extraction for react automatic
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast

#1079 refactor(transformer): remove returning None from transform functions
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast

#1081 feat(transformer): implement more of react transform attributes
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast

#1084 feat: support filter exec snap
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_typescript.snap
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-codegen

#1086 feat(transformer): implement some of jsx decode entities
  crates/oxc_codegen/src/gen.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-codegen

#1085 feat(codegen): indent inner class
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

#1089 fix(ast): jsx attribute value and text child should be jsx string
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_formatter/src/gen.rs
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
  crates/oxc_linter/src/rules/react/jsx_no_comment_text_nodes.rs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/rules/react/no_unescaped_entities.rs
  crates/oxc_linter/src/rules/unicorn/text_encoding_identifier_case.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_query/src/edges.rs
  crates/oxc_query/src/util.rs
  crates/oxc_query/src/vertex.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
Labels: A-linter, A-parser, A-ast, A-codegen

#1094 fix(linter) Fix panic on no_mixed_operators rule
  crates/oxc_linter/src/rules/eslint/no_mixed_operators.rs
  crates/oxc_linter/src/snapshots/no_mixed_operators.snap
Labels: A-linter

#1092 fix(linter) Fix panic on no useless escape
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
  crates/oxc_linter/src/snapshots/no_useless_escape.snap
Labels: A-linter

#1097 fix(linter) Fix panic when using ban ts comment on conformace tests
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
Labels: A-linter

#1098 fix(linter) Report error instead of panicing if the file fails to open
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter

#1101 fix(linter): revert changes to JSX attribute strings
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_formatter/src/gen.rs
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
  crates/oxc_linter/src/rules/react/jsx_no_comment_text_nodes.rs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/rules/react/no_unescaped_entities.rs
  crates/oxc_linter/src/rules/unicorn/text_encoding_identifier_case.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_query/src/edges.rs
  crates/oxc_query/src/util.rs
  crates/oxc_query/src/vertex.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  tasks/coverage/codegen_typescript.snap
Labels: A-linter, A-parser, A-ast, A-codegen

#1104 chore(litner): demote some of the rule from correctness
  crates/oxc_linter/src/rules/eslint/no_case_declarations.rs
  crates/oxc_linter/src/rules/typescript/no_duplicate_enum_values.rs
  crates/oxc_linter/src/rules/typescript/no_unnecessary_type_constraint.rs
  crates/oxc_linter/src/rules/unicorn/prefer_logical_operator_over_ternary.rs
  crates/oxc_linter/src/rules/unicorn/switch_case_braces.rs
Labels: A-linter

#1105 fix(linter/no_empty_file): point to start of file instead of the entire file
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/snapshots/no_empty_file.snap
Labels: A-linter

#1106 feat(linter/no_children_prop): point the span to "children"
  crates/oxc_linter/src/rules/react/no_children_prop.rs
  crates/oxc_linter/src/snapshots/no_children_prop.snap
Labels: A-linter

#1068 feat(linter): support unicorn/prefer-query-selector
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_query_selector.rs
  crates/oxc_linter/src/snapshots/prefer_query_selector.snap
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter

#1108 feat(linter): demote prefer_array_flat_map to style
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
Labels: A-linter

#1109 fix(linter/no_render_return_value): fix false positive when nested inside an arrow expression
  crates/oxc_linter/src/rules/react/no_render_return_value.rs
  crates/oxc_linter/src/snapshots/no_render_return_value.snap
Labels: A-linter

#1110 chore(linter/no_unescaped_entities): demote to pedantic
  crates/oxc_linter/src/rules/react/no_unescaped_entities.rs
Labels: A-linter

#1111 fix(linter/no-render-return-value): remove duplicate test case
  crates/oxc_linter/src/rules/react/no_render_return_value.rs
Labels: A-linter

#1112 feat(linter): change some rules pedantic and improve help message
  crates/oxc_linter/src/rules/eslint/no_prototype_builtins.rs
  crates/oxc_linter/src/rules/unicorn/no_instanceof_array.rs
  crates/oxc_linter/src/rules/unicorn/require_number_to_fixed_digits_argument.rs
  crates/oxc_linter/src/snapshots/require_number_to_fixed_digits_argument.snap
Labels: A-linter

#1113 chore(linter): move all import plugin rules to nursery
  crates/oxc_linter/src/rules/import/default.rs
  crates/oxc_linter/src/rules/import/named.rs
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/rules/import/no_self_import.rs
Labels: A-linter
