Repository oxc-project/oxc, pull requests merged in 2023-09, with the labels that each got.

#821 perf(resolver): stop descending into node_modules when possible
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#822 refactor(linter): use a global hashmap to reduce rule timer macro expansion
  Cargo.lock
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule_timer.rs
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
Labels: A-linter

#833 feat(resolver): add an option to turn off builtin_modules
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/tests/builtins.rs
Labels: A-resolver

#834 fix(resolver): add test case for resolve_to_context
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/resolve.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/lib.js
Labels: A-resolver

#832 feat(linter): add eslint-plugin-jest/no-conditional-expect rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/snapshots/no_commented_out_tests.snap
  crates/oxc_linter/src/snapshots/no_conditional_expect.snap
Labels: A-linter

#835 fix(resolver): fix cases with conflicting node_modules path
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/resolve.rs
Labels: A-resolver

#836 fix(resolver): fix a case where an alias is part of a dashed package name
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/alias.rs
Labels: A-resolver

#837 fix(resolver): fix a case where ignored package has a fallback
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/browser_field.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/crypto-js/index.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/crypto-js/package.json
Labels: A-resolver

#838 chore(resolver): benchmark with codspeed
  .github/workflows/benchmark_resolver.yml
  Cargo.lock
  Cargo.toml
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/benches/resolver.rs
Labels: A-resolver

#839 refactor(benchmark): use codspeed for all benchmarks
  .github/workflows/benchmark.yml
  .github/workflows/benchmark_cache.yml
  .github/workflows/benchmark_resolver.yml
  .github/workflows/ci.yml
  Cargo.lock
  crates/oxc_parser/fuzz/Cargo.lock
  crates/oxc_resolver/Cargo.toml
  tasks/benchmark/Cargo.toml
  tasks/benchmark/README.md
  tasks/benchmark/benches/minifier.rs
  tasks/benchmark/benches/parser.rs
  tasks/benchmark/benches/resolver.rs
  tasks/benchmark/benches/semantic.rs
  tasks/benchmark/src/lib.rs
  tasks/benchmark/src/main.rs
  tasks/libs.txt
Labels: A-parser, A-resolver

#840 chore: clean up deps
  Cargo.lock
  Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_formatter/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_parser/fuzz/Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_type_synthesis/Cargo.toml
  crates/oxc_wasm/Cargo.toml
  tasks/benchmark/benches/minifier.rs
  tasks/benchmark/benches/resolver.rs
  tasks/benchmark/benches/semantic.rs
Labels: A-linter, A-parser, A-type-checking, A-resolver

#841 perf(lexer): reduce an extra branch from peek
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#843 fix(semantic): symbol of identifier of top level function declaration should be in the root scope
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-semantic

#844 perf(linter): swap the order of checks for no_caller
  crates/oxc_linter/src/rules/eslint/no_caller.rs
Labels: A-linter

#845 perf(linter): parse ts-directive manually
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
Labels: A-linter

#847 feat(resolver): add thiserror
  Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/README.md
  crates/oxc_resolver/examples/resolver.rs
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#848 chore(linter): downgrade category of `expect-expect` and `no-alias-methods`
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_alias_methods.rs
Labels: A-linter

#849 refactor(resolver): remove unnecessary `RefCell`
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/exports_field.rs
  crates/oxc_resolver/src/tests/imports_field.rs
Labels: A-resolver

#850 fix(resolver): fix collision on hash entries
  crates/oxc_resolver/src/cache.rs
Labels: A-resolver

#854 chore(linter): move all jest rules to restriction
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_alias_methods.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
Labels: A-linter

#857 chore(linter): change no-disabled-tests error message's position
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/snapshots/no_disabled_tests.snap
Labels: A-linter

#856 feat(linter): implement unicorn/no-unnecessary-await
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_unnecessary_await.rs
  crates/oxc_linter/src/snapshots/no_unnecessary_await.snap
Labels: A-linter

#858 feat(linter): add runner for import-plugin
  Cargo.lock
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/snapshots/oxc_cli__command__snapshot__default.snap
  crates/oxc_cli/src/snapshots/oxc_cli__command__snapshot__help_help.snap
  crates/oxc_cli/src/walk.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/tester.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/modules.rs
  crates/oxc_semantic/tests/util/mod.rs
  tasks/benchmark/benches/semantic.rs
  tasks/coverage/src/suite.rs
Labels: A-linter, A-semantic

#846 feat(linter): add `eslint-plugin-jest/no-done-callback` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_done_callback.rs
  crates/oxc_linter/src/snapshots/no_done_callback.snap
Labels: A-linter

#862 feat(resolver): tsconfig project references
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/mod.rs
  crates/oxc_resolver/src/tests/tsconfig_project_references.rs
  crates/oxc_resolver/src/tsconfig.rs
  crates/oxc_resolver/tests/tsconfig_project_references/app/aliased/index.ts
  crates/oxc_resolver/tests/tsconfig_project_references/app/index.ts
  crates/oxc_resolver/tests/tsconfig_project_references/app/tsconfig.json
  crates/oxc_resolver/tests/tsconfig_project_references/project_a/aliased/index.ts
  crates/oxc_resolver/tests/tsconfig_project_references/project_a/conf.json
  crates/oxc_resolver/tests/tsconfig_project_references/project_a/index.ts
  crates/oxc_resolver/tests/tsconfig_project_references/project_b/src/aliased/index.ts
  crates/oxc_resolver/tests/tsconfig_project_references/project_b/tsconfig.json
  crates/oxc_resolver/tests/tsconfig_project_references/project_c/index.ts
  crates/oxc_resolver/tests/tsconfig_project_references/project_c/tsconfig.json
Labels: A-resolver

#867 feat: add jest/no-interpolation-in-snapshots rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_interpolation_in_snapshots.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/snapshots/no_interpolation_in_snapshots.snap
Labels: A-linter

#871 perf(resolver): avoid double hashing by memoizing the hash
  crates/oxc_resolver/src/cache.rs
Labels: A-resolver

#874 fix(parser): parse [+In] in object binding initializer
  crates/oxc_parser/src/js/binding.rs
  tasks/coverage/misc/pass/oxc-255.js
Labels: A-parser

#875 refactor(resolver): clean up `load_alias`
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#877 feat(linter): implement re-exports
  crates/oxc_linter/src/rules/import/named.rs
  crates/oxc_linter/src/snapshots/named.snap
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/src/module_record/mod.rs
Labels: A-linter, A-semantic

#878 feat(linter): eslint-plugin-import/no-self-import
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/named.rs
  crates/oxc_linter/src/rules/import/no_self_import.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/snapshots/named.snap
  crates/oxc_linter/src/snapshots/no_self_import.snap
  crates/oxc_linter/src/tester.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/util/mod.rs
  crates/oxc_syntax/src/module_record.rs
  tasks/benchmark/benches/semantic.rs
  tasks/coverage/src/suite.rs
Labels: A-linter, A-semantic

#881 feat(linter): add typescript/no-explicit-any
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_explicit_any.rs
  crates/oxc_linter/src/snapshots/no_explicit_any.snap
Labels: A-linter

#885 perf(linter): early bail out if not jest fn
  crates/oxc_linter/src/jest_ast_util.rs
Labels: A-linter

#890 feat(linter): eslint-plugin-import(no-cycle)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/snapshots/no_cycle.snap
Labels: A-linter

#882 feat(minifier): constant addition expression folding
  Cargo.lock
  crates/oxc_hir/src/hir_util.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/oxc/folding.rs
  crates/oxc_minifier/tests/oxc/mod.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  crates/oxc_span/src/atom.rs
  tasks/coverage/src/minifier.rs
  tasks/minsize/src/lib.rs
Labels: A-minifier

#899 perf(resolver): do not search inside non-existent directories for scoped packages
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#901 perf(resolver): used cached node_modules in `package_resolve`
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#902 perf(resolver): use system canonicalize to reduce total number of path hashes
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/file_system.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/memory_fs.rs
  crates/oxc_resolver/src/tests/symlink.rs
Labels: A-resolver

#903 perf(parser): lazily build trivia map instead of build in-place
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast/src/trivia.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-parser, A-semantic

#900 fix(resolver): fix tsconfig lookup when a directory is provided
  .config/nextest.toml
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/tsconfig_project_references.rs
  crates/oxc_resolver/tests/tsconfig_project_references/app/tsconfig.json
  crates/oxc_resolver/tests/tsconfig_project_references/tsconfig.base.json
Labels: A-resolver

#904 feat(resolver): add tracing-subscriber feature
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/README.md
  crates/oxc_resolver/examples/resolver.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tracing_subscriber.rs
Labels: A-resolver

#905 feat(resolver): add TsconfigNotFound error
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#907 feat(resolver): add more tracing events to resolver
  Cargo.lock
  crates/oxc_cli/Cargo.toml
  crates/oxc_cli/src/lint/main.rs
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tracing_subscriber.rs
Labels: A-resolver

#895 feat(linter): add eslint-plugin-import/default
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/default.rs
  crates/oxc_linter/src/snapshots/default.snap
Labels: A-linter

#887 feat(linter): add no-console rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/snapshots/no_console.snap
Labels: A-linter

#912 perf(lexer): remove an extra branch from `identifier_name_handler`
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#914 feat(linter): add eslint-plugin-jest/no-jasmine-globals
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_jasmine_globals.rs
  crates/oxc_linter/src/snapshots/no_jasmine_globals.snap
Labels: A-linter

#918 feat(transformer): transformer prototype
  Cargo.lock
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2016/mod.rs
  crates/oxc_transformer/src/es2019/mod.rs
  crates/oxc_transformer/src/es2019/optional_catch_binding.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-ast

#910 feat(linter): implement eslint-plugin-unicorn/no-thenable rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_thenable.rs
  crates/oxc_linter/src/snapshots/no_thenable.snap
Labels: A-linter

#923 feat(transformer): logical assignment operators
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_linter/src/rules/eslint/no_constant_binary_expression.rs
  crates/oxc_syntax/src/operator.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/es2021/mod.rs
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/README.md
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-linter, A-ast

#924 feat(linter): add eslint(jest/no-mocks-import)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
  crates/oxc_linter/src/snapshots/no_mocks_import.snap
Labels: A-linter

#928 fix(semantic): make ExportDeclaration span accurate
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/src/module_record/mod.rs
Labels: A-semantic

#925 feat(linter): add eslint(jest/no-export)
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_export.rs
  crates/oxc_linter/src/snapshots/no_export.snap
Labels: A-linter

#931 feat(linter): add eslint(jest/no-standalone-expect)
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/snapshots/no_standalone_expect.snap
Labels: A-linter

#683 feat(linter): add no-redeclare rule.
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
  crates/oxc_linter/src/snapshots/no_redeclare.snap
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

#940 fix: ts parsing error
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/parser_typescript.snap
Labels: A-parser, A-ast
