Repository oxc-project/oxc, pull requests merged in 2023-12, with the labels that each got.

#1597 feat(prettier): binaryish expressions with parens
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/precedence.rs
  crates/oxc_prettier/src/binaryish.rs
  crates/oxc_prettier/src/format/binaryish.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/needs_parens.rs
  crates/oxc_syntax/src/operator.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-ast, A-prettier

#1598 fix(prettier) use `print_assignment` for `ObjectProperty`
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1599 fix(prettier) print computed object property key correctly
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1602 feat(prettier): add parens to left of `instanceof`
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/needs_parens.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1600 feat(prettier): print blank lines when printing array concisely
  crates/oxc_prettier/src/format/array.rs
Labels: A-prettier

#1601 feat(prettier): implement `has_comment`, improve blank lines when printing arrays
  crates/oxc_prettier/src/comments/mod.rs
  crates/oxc_prettier/src/comments/print.rs
  crates/oxc_prettier/src/format/array.rs
Labels: A-prettier

#1603 feat(prettier): handle parens for `(x % y) % z`
  crates/oxc_prettier/src/binaryish.rs
  crates/oxc_prettier/src/needs_parens.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1605 fix(prettier) fix use chain formatting
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/lib.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1608 feat(linter): eslint-plugin-unicorn require-array-join-separator(style)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/require_array_join_separator.rs
  crates/oxc_linter/src/snapshots/require_array_join_separator.snap
Labels: A-linter

#1606 feat(prettier) port `should_break_after_operator`
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/format/binaryish.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1596 fix(tasks): find the right output to diff
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier

#1589 feat(linter): eslint-plugin-jsx-a11y iframe-has-title rule (correctness)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/iframe_has_title.rs
  crates/oxc_linter/src/snapshots/iframe_has_title.snap
Labels: A-linter

#1615 fix(tasks): escape more special characters
  tasks/prettier_conformance/prettier.snap.md
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier

#1610 feat(linter) eslint plugin unicorn: no array reduce
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_array_reduce.rs
  crates/oxc_linter/src/rules/unicorn/require_array_join_separator.rs
  crates/oxc_linter/src/snapshots/no_array_reduce.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter

#1616 feat(tasks): ignore some invalid cases and support read parser from source text
  tasks/prettier_conformance/prettier.snap.md
  tasks/prettier_conformance/src/lib.rs
  tasks/prettier_conformance/src/spec.rs
Labels: A-prettier

#1613 feat(linter) eslint plugin unicorn: no array foreach
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_array_for_each.rs
  crates/oxc_linter/src/snapshots/no_array_for_each.snap
Labels: A-linter

#1614 feat(linter) eslint plugin unicorn: prefer number properties
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_number_properties.rs
  crates/oxc_linter/src/snapshots/prefer_number_properties.snap
Labels: A-linter

#1627 chore: fix typo
  tasks/prettier_conformance/src/spec.rs
Labels: A-prettier

#1628 feat(linter): eslint-plugin-unicorn prefer-reflect-apply(style)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_reflect_apply.rs
  crates/oxc_linter/src/snapshots/prefer_reflect_apply.snap
Labels: A-linter

#1617 feat(linter): eslint-plugin-unicorn: explicit-length-check
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/explicit_length_check.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_some.rs
  crates/oxc_linter/src/snapshots/explicit_length_check.snap
  crates/oxc_linter/src/utils/unicorn.rs
  crates/oxc_linter/src/utils/unicorn/boolean.rs
Labels: A-linter

#1630 refactor: improve pattern match of prefer-reflect-apply
  crates/oxc_linter/src/rules/unicorn/prefer_reflect_apply.rs
Labels: A-linter

#1607 feat(linter): cxc: no accumulating spread
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/snapshots/no_accumulating_spread.snap
Labels: C-enhancement, A-linter

#1632 refactor(prettier): add `print_method_value`
  crates/oxc_prettier/src/format/arrow_function.rs
  crates/oxc_prettier/src/format/function.rs
  crates/oxc_prettier/src/format/function_parameters.rs
Labels: A-prettier

#1633 feat(prettier): wrap parameters in `indent`
  crates/oxc_prettier/src/format/function_parameters.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1634 feat(resolver): add a `realpath` to package.json
  crates/oxc_resolver/examples/resolver.rs
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/package_json.rs
Labels: A-resolver

#1609 feat(linter): eslint-plugin-jsx-a11y scope rule (correctness)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/scope.rs
  crates/oxc_linter/src/snapshots/scope.snap
Labels: A-linter

#1629 feat(semantic): support scope descendents starting from a certain scope.
  crates/oxc_minifier/src/mangler/mod.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/es2015/function_name.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-semantic, A-minifier, A-transformer

#1639 refactor(prettier): move the format of Function's key to `PropertyKey`
  crates/oxc_prettier/src/format/function.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#1638 feat(linter) eslint plugin unicorn: no useless spread
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/snapshots/no_useless_spread.snap
Labels: A-linter

#1635 feat(prettier): add ConditionalGroup command
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/printer/mod.rs
Labels: A-prettier

#1641 feat(linter): eslint-plugin-jsx-a11y no-autofocus
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_autofocus.rs
  crates/oxc_linter/src/snapshots/no_autofocus.snap
Labels: A-linter

#1631 feat(prettier): print CallExpression arguments correctly
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/function_parameters.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/printer/mod.rs
  crates/oxc_prettier/src/utils/document.rs
  crates/oxc_prettier/src/utils/mod.rs
  tasks/prettier_conformance/prettier.snap.md
  tasks/prettier_conformance/src/lib.rs
Labels: A-ast, A-prettier

#1646 feat(linter): eslint-plugin-unicorn prefer-modern-dom-apis(style)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_modern_dom_apis.rs
  crates/oxc_linter/src/snapshots/prefer_modern_dom_apis.snap
Labels: A-linter

#1025 feat(linter) eslint-plugin-react: react-in-jsx-scope
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/react_in_jsx_scope.rs
  crates/oxc_linter/src/snapshots/react_in_jsx_scope.snap
Labels: A-linter

#1645 fix: remove escapes in prefer regexp test test cases
  crates/oxc_linter/src/rules/unicorn/prefer_regexp_test.rs
  crates/oxc_linter/src/snapshots/prefer_regexp_test.snap
Labels: A-linter

#1647 fix: remove escapes in no array reduce test cases
  crates/oxc_linter/src/rules/unicorn/no_array_reduce.rs
  crates/oxc_linter/src/snapshots/no_array_reduce.snap
Labels: A-linter

#1649 feat(transformer): duplicate keys
  crates/oxc_transformer/src/es2015/duplicate_keys.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#1644 fix: improve span for no accumulating spread
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/snapshots/no_accumulating_spread.snap
Labels: A-linter

#1650 feat(linter) eslint plugin unicorn: prefer array flat
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_array_reduce.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat.rs
  crates/oxc_linter/src/snapshots/prefer_array_flat.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter

#1661 feat(transformer/react-jsx): returns ThisExpression when identifier is this
  crates/oxc_transformer/src/react_jsx/mod.rs
Labels: A-transformer

#1657 perf(linter/react): find class node by symbols in get_parent_es6_component
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_semantic/src/symbol.rs
Labels: A-linter, A-semantic

#1662 feat(ast): support visit more jsx ast in visit
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
Labels: A-ast

#1663 feat(transformer): add arrow_functions plugin
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#1664 feat(prettier): add `print_binaryish_expressions`
  crates/oxc_prettier/src/binaryish.rs
  crates/oxc_prettier/src/format/binaryish.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#1654 feat(linter): add eslint-plugin-import(export) rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_linter/src/snapshots/export.snap
  crates/oxc_syntax/src/module_record.rs
Labels: A-linter

#1666 refactor(linter): make some jest rules report more detailed
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/rules/jest/no_export.rs
  crates/oxc_linter/src/snapshots/expect_expect.snap
  crates/oxc_linter/src/snapshots/no_conditional_expect.snap
  crates/oxc_linter/src/snapshots/no_export.snap
Labels: A-linter

#1660 feat(linter): eslint-plugin-unicorn/prefer-prototype-methods
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_prototype_methods.rs
  crates/oxc_linter/src/snapshots/prefer_prototype_methods.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter

#1673 fix(linter): excape_case
  crates/oxc_linter/src/rules/unicorn/escape_case.rs
Labels: A-linter

#1676 feat(tasks/transformer): add function name plugin
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-transformer

#1684 fix(linter): Panic in prefer string starts, ends with
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/snapshots/prefer_string_starts_ends_with.snap
Labels: A-linter

#1686 fix(linter) false positive in jsx key
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter

#1688 fix(linter): Don't check for multiple bits at once.
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
Labels: A-linter

#1689 fix(linter) Fix false positives in prefer string start, ends with, port more test cases
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/snapshots/prefer_string_starts_ends_with.snap
Labels: A-linter

#1668 feat(linter): add jsx-a11y settings
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_autofocus.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/snapshots/no_autofocus.snap
  crates/oxc_linter/src/tester.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_linter_plugin/src/test.rs
  crates/oxc_wasm/src/lib.rs
  editors/vscode/server/src/linter.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

#1695 fix(linter) remove parsing of `extends` eslint config
  crates/oxc_linter/src/config/mod.rs
Labels: A-linter

#1698 fix(linter) improve diagnostic for no useless spread
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/snapshots/no_useless_spread.snap
Labels: A-linter

#1700 chore(linter) convert catch error name to a warning
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/snapshots/catch_error_name.snap
Labels: A-linter

#1705 feat(linter): eslint-plugin-unicorn no-null(style)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_null.rs
  crates/oxc_linter/src/snapshots/no_null.snap
Labels: A-linter

#1707 refactor(linter): use fxHashMap in jsx-a11y settings
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/lib.rs
  napi/parser/Cargo.toml
Labels: A-linter

#1713 feat(semantic): add SymbolFlags::Function for FunctionDeclaration
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/tests/symbols.rs
Labels: A-semantic

#1708 feat(linter): `no-access-key` for eslint-plugin-jsx-a11y
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_access_key.rs
  crates/oxc_linter/src/snapshots/no_access_key.snap
Labels: A-linter

#1724 fix(parser): false postive for "Missing initializer in const declaration" in declare + namespace
  crates/oxc_parser/src/context.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/parser_babel.snap
Labels: A-parser

#1729 fix(cli): conflict between `--import-plugin` and `-D correctness`
  crates/oxc_cli/src/lint/mod.rs
Labels: A-cli

#1730 fix(linter) shrink span for `prefer-string-starts-with-ends-with`
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/snapshots/prefer_string_starts_ends_with.snap
Labels: A-linter

#1731 feat(linter) improve span for `no useless catch`
  crates/oxc_linter/src/rules/eslint/no_useless_catch.rs
  crates/oxc_linter/src/snapshots/no_useless_catch.snap
Labels: A-linter

#1732 fix(linter) improve span for `no-unneccessary-await`
  crates/oxc_linter/src/rules/unicorn/no_unnecessary_await.rs
  crates/oxc_linter/src/snapshots/no_unnecessary_await.snap
Labels: A-linter

#1734 fix(linter) improve span of `bad-remove-event-listener`, merge rules
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/deepscan/bad_remove_event_listener.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_remove_event_listener.rs
  crates/oxc_linter/src/snapshots/bad_remove_event_listener.snap
  crates/oxc_linter/src/snapshots/no_invalid_remove_event_listener.snap
Labels: A-linter

#1737 feat(linter): correct example and docs url for number_arg_out_of_range
  crates/oxc_linter/src/rules/deepscan/number_arg_out_of_range.rs
Labels: A-linter

#1728 refactor(ast): introduce `ThisParameter`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-parser, A-ast, A-transformer

#1738 fix(linter/eslint/no-obj-calls): correctly resolves the binding name
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
Labels: A-linter

#1710 feat(linter) no const comparisons
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/rules/unicorn/prefer_logical_operator_over_ternary.rs
  crates/oxc_linter/src/snapshots/const_comparisons.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter

#1739 feat(linter/eslint/no-cond-assign): span points to the operator
  crates/oxc_linter/src/rules/eslint/no_cond_assign.rs
  crates/oxc_linter/src/snapshots/no_cond_assign.snap
Labels: A-linter

#1742 fix(linter) false positives for empty brace spaces
  crates/oxc_linter/src/rules/unicorn/empty_brace_spaces.rs
  crates/oxc_linter/src/snapshots/empty_brace_spaces.snap
Labels: A-linter

#1747 fix(cli) skip run lint when `--rules` is passed
  crates/oxc_cli/src/lint/mod.rs
Labels: A-cli

#1749 feat(linter) deepscan: bad replace all arg
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/deepscan/bad_replace_all_arg.rs
  crates/oxc_linter/src/snapshots/bad_replace_all_arg.snap
Labels: A-linter

#1750 feat(linter) deepscan: bad char at comparison
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/deepscan/bad_char_at_comparison.rs
  crates/oxc_linter/src/snapshots/bad_char_at_comparison.snap
Labels: A-linter

#1759 perf(linter): precompute `rule.name()`
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/lib.rs
Labels: A-linter

#1764 fix(linter): improve the help message for const-comparisons
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/snapshots/const_comparisons.snap
Labels: A-linter

#1766 perf(linter): use simd (memchr) for no-useless-escape search
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
Labels: A-linter

#1771 fix(linter): support read the third item in config file
  crates/oxc_linter/fixtures/eslint_config.json
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/snapshots/oxc_linter__config__test__parse_rules.snap
Labels: A-linter

#1779 docs(linter): update comments
  crates/oxc_linter/src/config/mod.rs
Labels: A-linter

#1767 feat(linter): eslint-plugin-jsx-a11y no-distracting-elements rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_distracting_elements.rs
  crates/oxc_linter/src/snapshots/no_distracting_elements.snap
Labels: A-linter

#1743 feat(linter/eslint/no-useless-escape): support auto fix
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
Labels: A-linter

#1783 perf(linter): reduce the `RuleEnum` enum size from 168 to 16 bytes
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rules/eslint/no_bitwise.rs
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/rules/eslint/no_global_assign.rs
  crates/oxc_linter/src/rules/eslint/no_mixed_operators.rs
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_deprecated_functions.rs
  crates/oxc_linter/src/rules/jest/no_hooks.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/jsx_a11y/heading_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/no_this_alias.rs
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
Labels: A-linter

#1786 fix(prettier) add missing closing brace for dock debug
  crates/oxc_prettier/src/doc.rs
Labels: A-prettier

#1789 fix(linter): fix a typo in no_redeclare message
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
Labels: A-linter

#1788 refactor(parser): report `this` parameter error
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#1796 fix(linter) fix incorrect report in `prefer-string-replace-all`
  crates/oxc_linter/src/rules/unicorn/prefer_string_replace_all.rs
  crates/oxc_linter/src/snapshots/prefer_string_replace_all.snap
Labels: A-linter

#1795 feat(linter): eslint-plugin-jsx-a11y no-aria-hidden-on-focusable
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_aria_hidden_on_focusable.rs
  crates/oxc_linter/src/rules/jsx_a11y/tab_index_no_positive.rs
  crates/oxc_linter/src/snapshots/no_aria_hidden_on_focusable.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1797 feat(linter): eslint-plugin-jsx-a11y aria-props
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_props.rs
  crates/oxc_linter/src/snapshots/aria_props.snap
Labels: A-linter

#1801 Fix misspelled var name in parser
  crates/oxc_parser/src/js/statement.rs
Labels: A-parser

#1792 feat(ast): enter/leave ClassBody and PrivateInExpression
  crates/oxc_ast/src/visit.rs
  crates/oxc_linter/src/rules/eslint/constructor_super.rs
Labels: A-linter, A-ast

#1802 WIP: feat(transformer): add support for babel-plugin-transform-instanceof
  crates/oxc_transformer/src/es2015/instanceof.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#1812 feat(linter): eslint-plugin-jsx-a11y lang
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/snapshots/lang.snap
Labels: A-linter

#1813 chore: better diagnostic when config is not a json file
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/mod.rs
Labels: A-linter

#1793 feat(semantic): add ClassTable
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/class/builder.rs
  crates/oxc_semantic/src/class/mod.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/tests/classes.rs
  crates/oxc_semantic/tests/util/class_tester.rs
  crates/oxc_semantic/tests/util/mod.rs
  crates/oxc_semantic/tests/util/symbol_tester.rs
  crates/oxc_syntax/src/class.rs
  crates/oxc_syntax/src/lib.rs
Labels: A-linter, A-semantic, A-ast

#1817 feat(linter) handle more cases for `const-comparisons`
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/snapshots/const_comparisons.snap
Labels: A-linter

#1818 feat(linter) oxc: approx constant
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/approx_constant.rs
  crates/oxc_linter/src/snapshots/approx_constant.snap
Labels: A-linter

#1816 feat(linter): refine jsx-a11y settings
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/snapshots/lang.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1785 feat(linter) eslint plugin react: button has type
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/button_has_type.rs
  crates/oxc_linter/src/snapshots/button_has_type.snap
Labels: A-linter

#1824 feat(linter): Refine test for no-distracting-elements
  crates/oxc_linter/src/rules/jsx_a11y/no_distracting_elements.rs
  crates/oxc_linter/src/snapshots/no_distracting_elements.snap
Labels: A-linter

#1822 feat(linter): eslint-plugin-jsx-a11y media-has-caption
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
  crates/oxc_linter/src/snapshots/media_has_caption.snap
Labels: A-linter

#1794 refactor(semantic): improve check private identifier implementation
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/class/builder.rs
  crates/oxc_semantic/src/class/table.rs
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-semantic

#1829 refactor(linter): Simplify Parent Node Access in MediaHasCaption Rule
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
Labels: A-linter

#1820 feat(linter): support eslint/no-unused-private-class-members rule
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_linter/src/snapshots/no_unused_private_class_members.snap
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/class/builder.rs
  crates/oxc_semantic/src/class/table.rs
Labels: A-linter, A-semantic, A-ast

#1832 feat(linter) oxc: misrefactored assign op
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/misrefactored_assign_op.rs
  crates/oxc_linter/src/snapshots/misrefactored_assign_op.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter

#1826 feat(semantic): support get node id by scope id
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/scope.rs
Labels: A-semantic

#1833 feat(linter) oxc: only used in recursion
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/snapshots/only_used_in_recursion.snap
Labels: A-linter

#1827 feat(semantic): improve check super implementation, reduce access nodes
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_syntax/src/scope.rs
Labels: A-semantic

#1843 feat(linter): complete eslint-plugin-jsx-a11y/html_has_lang
  crates/oxc_linter/src/rules/jsx_a11y/html_has_lang.rs
  crates/oxc_linter/src/snapshots/html_has_lang.snap
Labels: A-linter

#1846 fix(semantic): remove duplicate errors in ModuleDeclaration::ImportDeclaration
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/parser_test262.snap
Labels: A-semantic

#1847 refactor(semantic): rename `add_node_id` to `add_current_node_id_to_current_scope`
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#1848 refactor(linter): extract common code
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/src/rules/jsx_a11y/anchor_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/html_has_lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
Labels: A-linter

#1834 feat(linter) oxc: erasing op
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/erasing_op.rs
  crates/oxc_linter/src/snapshots/erasing_op.snap
Labels: A-linter

#1844 feat(linter) deepscan: bad object literal comparison
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/deepscan/bad_object_literal_comparison.rs
  crates/oxc_linter/src/snapshots/bad_object_literal_comparison.snap
Labels: A-linter

#1620 feat(linter) eslint plugin unicorn: prefer modern math apis
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/prefer_modern_math_apis.rs
  crates/oxc_linter/src/snapshots/prefer_modern_math_apis.snap
Labels: A-linter, A-ast

#1850 Remove redundant code from lexer
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#1851 perf(semantic): reduce calls to span()
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic

#1852 perf(semantic): just need to find the AstKind::FormalParameter in is_in_formal_parameters
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic

#1853 chore: upgrade rustc toolchain to stable 1.75.0
  crates/oxc_diagnostics/src/graphic_reporter.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/rules/deepscan/bad_array_method_on_arguments.rs
  crates/oxc_linter/src/rules/deepscan/uninvoked_array_callback.rs
  crates/oxc_linter/src/rules/eslint/no_regex_spaces.rs
  crates/oxc_linter/src/rules/jest/no_done_callback.rs
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/rules/react/button_has_type.rs
  crates/oxc_linter/src/rules/react/jsx_no_useless_fragment.rs
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/rules/unicorn/escape_case.rs
  crates/oxc_linter/src/rules/unicorn/filename_case.rs
  crates/oxc_linter/src/rules/unicorn/no_array_reduce.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_remove_event_listener.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat.rs
  crates/oxc_linter/src/rules/unicorn/prefer_date_now.rs
  crates/oxc_linter/src/rules/unicorn/prefer_native_coercion_functions.rs
  crates/oxc_linter/src/rules/unicorn/prefer_query_selector.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_linter/src/utils/unicorn.rs
  crates/oxc_minifier/src/compressor/ast_util.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/needs_parens.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/tests/util/mod.rs
  crates/oxc_transformer/src/es2015/template_literals.rs
  rust-toolchain.toml
  tasks/common/src/babel.rs
Labels: A-linter, A-parser, A-semantic, A-minifier, A-transformer, A-prettier

#1849 feat(linter): eslint-plugin-jsx-a11y aria-role
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_role.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_autofocus.rs
  crates/oxc_linter/src/snapshots/aria_role.snap
Labels: A-linter

#1858 fix(linter): ignore anonymous functional components in arrays for eslint-plugin-react(jsx-key)
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter

#1859 refactor(linter) remove duplicated code in media-has-caption
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
Labels: A-linter

#1855 feat(linter): eslint-plugin-jsx-a11y: aria-unsupported-elements
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_props.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_unsupported_elements.rs
  crates/oxc_linter/src/snapshots/aria_unsupported_elements.snap
  crates/oxc_linter/src/utils/jsx_a11y.rs
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#1835 feat(linter): no-irregular-whitespace rule
  crates/oxc_ast/src/trivia.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_prettier/src/lib.rs
Labels: A-parser, A-ast, A-prettier

#1856 fix(linter): unexpected unwrap panic
  crates/oxc_linter/src/rules/jsx_a11y/no_autofocus.rs
Labels: A-linter

#1864 fix(linter): error rule config in media_has_caption
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
Labels: A-linter

#1862 feat(linter): jsx-no-undef for eslint-plugin-react
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
  crates/oxc_linter/src/snapshots/jsx_no_undef.snap
Labels: A-linter

#1861 fix(ast): implement `GetSpan` for `JSXElement`
  crates/oxc_ast/src/span.rs
Labels: A-ast

#1745 feat(cli): support walk vue and astro
  crates/oxc_cli/fixtures/walk_dir/bar.vue
  crates/oxc_cli/fixtures/walk_dir/foo.js
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/walk.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/partial_loader/mod.rs
Labels: A-linter, A-cli

#1854 refactor(semantic): improve check function declaration implementation
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic

#1760 feat(lint): add partial loader register
  crates/oxc_cli/fixtures/walk_dir/bar.vue
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter, A-cli

#1814 feat(linter): add Vue loader
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/vue_partial_loader.rs
Labels: A-linter

#1863 test(cli): add simple integration test for vue file
  crates/oxc_cli/fixtures/linter/debugger.js
  crates/oxc_cli/fixtures/linter/debugger.vue
  crates/oxc_cli/fixtures/linter/nan.js
  crates/oxc_cli/fixtures/linter/no_extension
  crates/oxc_cli/src/lint/mod.rs
Labels: A-cli
