Repository oxc-project/oxc, pull requests merged in 2023-08, with the labels that each got.

#674 feat(resolver): finish most of exports field
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/exports_field.rs
Labels: A-resolver

#673 feat(linter): enable module record builder
  crates/oxc_cli/src/lint/isolated_handler.rs
  crates/oxc_linter/src/tester.rs
  tasks/benchmark/src/main.rs
Labels: A-linter

#681 feat(resolver): imports field
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/exports_field.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/imports_field.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/mod.rs
Labels: A-resolver

#682 refactor(resolver): change internal funcs to non-pub by moving to unit tests
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/src/tests/alias.rs
  crates/oxc_resolver/src/tests/browser_field.rs
  crates/oxc_resolver/src/tests/exports_field.rs
  crates/oxc_resolver/src/tests/extension_alias.rs
  crates/oxc_resolver/src/tests/extensions.rs
  crates/oxc_resolver/src/tests/fallback.rs
  crates/oxc_resolver/src/tests/imports_field.rs
  crates/oxc_resolver/src/tests/incorrect_description_file.rs
  crates/oxc_resolver/src/tests/memory_fs.rs
  crates/oxc_resolver/src/tests/mod.rs
  crates/oxc_resolver/src/tests/resolve.rs
  crates/oxc_resolver/src/tests/roots.rs
  crates/oxc_resolver/src/tests/scoped_packages.rs
  crates/oxc_resolver/src/tests/simple.rs
  crates/oxc_resolver/src/tests/symlink.rs
  crates/oxc_resolver/tests/description_file.rs
  crates/oxc_resolver/tests/enhanced_resolve/mod.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/mod.rs
  crates/oxc_resolver/tests/mod.rs
Labels: A-resolver

#687 feat(resolver): implement fully specified
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/tests/exports_field.rs
  crates/oxc_resolver/src/tests/full_specified.rs
  crates/oxc_resolver/src/tests/mod.rs
Labels: A-resolver

#677 feat(linter): add no-extra-boolean-cast rule
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_extra_boolean_cast.rs
  crates/oxc_linter/src/snapshots/no_extra_boolean_cast.snap
Labels: A-linter

#689 feat(semantic): add `node_id` to `Reference`
  crates/oxc_ast_lower/src/lib.rs
  crates/oxc_minifier/src/mangler/mod.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/reference.rs
Labels: A-semantic, A-minifier

#691 feat(resolver): implement the basics of ESM
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/exports_field.rs
  crates/oxc_resolver/src/tests/imports_field.rs
  crates/oxc_resolver/src/tests/resolve.rs
Labels: A-resolver

#690 feat: vscode extension
  .gitignore
  .taplo.toml
  .vscode/launch.json
  .vscode/tasks.json
  Cargo.lock
  Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/fixer.rs
  editor/vscode/.vscodeignore
  editor/vscode/README.md
  editor/vscode/client/extension.ts
  editor/vscode/package.json
  editor/vscode/pnpm-lock.yaml
  editor/vscode/server/Cargo.toml
  editor/vscode/server/src/linter.rs
  editor/vscode/server/src/main.rs
  editor/vscode/server/src/options.rs
  editor/vscode/server/src/walk.rs
  editor/vscode/tsconfig.json
  editor/vscode/webpack.config.js
Labels: A-linter

#679 test(semantic): test harness
  Cargo.lock
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_semantic/tests/modules.rs
  crates/oxc_semantic/tests/symbols.rs
  crates/oxc_semantic/tests/util/mod.rs
Labels: A-semantic

#693 feat(resolver): implement restrictions (path only)
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/tests/mod.rs
  crates/oxc_resolver/src/tests/restrictions.rs
Labels: A-resolver

#694 feat(resolver): implement resolveToContext
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/tests/alias.rs
  crates/oxc_resolver/src/tests/fallback.rs
  crates/oxc_resolver/src/tests/full_specified.rs
  crates/oxc_resolver/src/tests/resolve.rs
  crates/oxc_resolver/src/tests/roots.rs
Labels: A-resolver

#672 feat(linter): implement `no-undef`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_undef.rs
  crates/oxc_linter/src/snapshots/no_undef.snap
Labels: A-linter

#695 feat(resolver): implement recursive alias, file as alias and exports field with query / fragment
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/alias.rs
  crates/oxc_resolver/src/tests/exports_field.rs
  crates/oxc_resolver/src/tests/fallback.rs
  crates/oxc_resolver/src/tests/roots.rs
Labels: A-resolver

#697 refactor(resolver): improve code by looking at the code coverage
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/resolution.rs
Labels: A-resolver

#701 feat(ast): use `atom` for `Directive` and `Hashbang`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_ast_lower/src/lib.rs
  crates/oxc_formatter/src/gen.rs
  crates/oxc_hir/src/hir.rs
  crates/oxc_hir/src/hir_builder.rs
  crates/oxc_hir/src/hir_kind.rs
  crates/oxc_hir/src/visit.rs
  crates/oxc_hir/src/visit_mut.rs
  crates/oxc_minifier/src/printer/gen.rs
  crates/oxc_parser/src/js/statement.rs
Labels: A-parser, A-minifier, A-printer

#702 refactor(resolver): return package json error immediately instead of saving it
  Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#704 fix(resolver): fix a case with multi-dot file extensions
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/extensions.rs
Labels: A-resolver

#710 feat(resolver): add tracing
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
Labels: A-linter, A-resolver

#707 feat(linter): implement @typescript-eslint/prefer-as-const
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/prefer_as_const.rs
  crates/oxc_linter/src/snapshots/prefer_as_const.snap
Labels: A-linter

#712 chore(parser): add an AST `Send` example
  Cargo.lock
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/examples/multi-thread.rs
Labels: A-parser

#714 feat(resolver): check for infinite recursion
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/alias.rs
Labels: A-resolver

#721 refactor: improve code coverage in various places
  .github/codecov.yml
  crates/oxc_allocator/src/arena.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_hir/src/precedence.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_syntax/src/module_record.rs
  crates/oxc_syntax/src/precedence.rs
  crates/oxc_syntax/src/scope.rs
Labels: A-resolver

#706 feat(linter): valid-describe-callback(eslint-plugin-jest)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/snapshots/valid_describe_callback.snap
  tasks/rulegen/src/main.rs
Labels: A-linter

#727 feat(resolver): resolve `#` as path instead of a fragment
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/specifier.rs
  crates/oxc_resolver/src/tests/resolve.rs
Labels: A-resolver

#726 feat(linter): implement @typescript-eslint/no-duplicate-enum-values
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_duplicate_enum_values.rs
  crates/oxc_linter/src/snapshots/no_duplicate_enum_values.snap
Labels: A-linter

#728 feat(linter): implement @eslint/no-shadow-restricted-names (#617)
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_linter/src/snapshots/no_shadow_restricted_names.snap
Labels: A-linter

#733 feat(resolver): implement configurable `exports_fields` option
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/src/tests/exports_field.rs
Labels: A-resolver

#738 feat(resolver): expose raw package_json value; improve print debug
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/src/resolution.rs
Labels: A-resolver

#739 feat(resolver): handle path alias with `#`
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/specifier.rs
  crates/oxc_resolver/src/tests/alias.rs
Labels: A-resolver

#741 feat(linter): implement typescript-eslint/ban-ts-comment
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/snapshots/ban_ts_comment.snap
Labels: A-linter

#745 fix(eslint/no-obj-calls): should resolve non-global binding correctly
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
Labels: A-linter

#723 feat(linter): add no-commented-out-tests
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/snapshots/no_commented_out_tests.snap
Labels: A-linter

#743 fix(linter): perf @eslint/no-shadow-restricted-names check (#617)
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
Labels: A-linter

#750 feat(resolver): implement tsconfig-paths
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/json_comments.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/tests/memory_fs.rs
  crates/oxc_resolver/src/tests/mod.rs
  crates/oxc_resolver/src/tests/tsconfig_paths.rs
  crates/oxc_resolver/src/tsconfig.rs
  crates/oxc_resolver/tests/parcel/foo.js
  crates/oxc_resolver/tests/parcel/nested/index.js
  crates/oxc_resolver/tests/parcel/nested/test.js
  crates/oxc_resolver/tests/parcel/nested/tsconfig.json
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-exports/conf.json
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-exports/foo.js
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-exports/package.json
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-field/conf.json
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-field/foo.js
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-field/package.json
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-index/foo.js
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-index/package.json
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-index/tsconfig.json
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-not-used/foo.js
  crates/oxc_resolver/tests/parcel/node_modules/tsconfig-not-used/tsconfig.json
  crates/oxc_resolver/tests/parcel/package.json
  crates/oxc_resolver/tests/parcel/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/builtins/thing.js
  crates/oxc_resolver/tests/parcel/tsconfig/builtins/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/exports/index.js
  crates/oxc_resolver/tests/parcel/tsconfig/exports/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/extends-extension/base-tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/extends-extension/foo.js
  crates/oxc_resolver/tests/parcel/tsconfig/extends-extension/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/extends-not-found/index.js
  crates/oxc_resolver/tests/parcel/tsconfig/extends-not-found/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/field/index.js
  crates/oxc_resolver/tests/parcel/tsconfig/field/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/index/index.js
  crates/oxc_resolver/tests/parcel/tsconfig/index/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/suffixes/a.ios.ts
  crates/oxc_resolver/tests/parcel/tsconfig/suffixes/a.ts
  crates/oxc_resolver/tests/parcel/tsconfig/suffixes/b.ts
  crates/oxc_resolver/tests/parcel/tsconfig/suffixes/c-test.ts
  crates/oxc_resolver/tests/parcel/tsconfig/suffixes/index.ts
  crates/oxc_resolver/tests/parcel/tsconfig/suffixes/tsconfig.json
  crates/oxc_resolver/tests/parcel/tsconfig/trailing-comma/bar.js
  crates/oxc_resolver/tests/parcel/tsconfig/trailing-comma/index.js
  crates/oxc_resolver/tests/parcel/tsconfig/trailing-comma/tsconfig.json
Labels: A-resolver

#752 feat(linter): implement eslint-plugin-unicorn/no-instanceof-array
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_instanceof_array.rs
  crates/oxc_linter/src/snapshots/no_instanceof_array.snap
  justfile
  tasks/rulegen/src/main.rs
  tasks/rulegen/src/template.rs
Labels: A-linter

#753 refactor(cli,linter): move LintOptions from cli to linter
  crates/oxc_cli/src/lib.rs
  crates/oxc_cli/src/lint/command.rs
  crates/oxc_cli/src/lint/isolated_handler.rs
  crates/oxc_cli/src/lint/main.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/lint/options.rs
  crates/oxc_cli/src/main.rs
  crates/oxc_cli/src/runner.rs
  crates/oxc_cli/src/type_check/mod.rs
  crates/oxc_cli/src/walk.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter

#757 refactor(cli): isolate WalkOptions for walk logic
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/isolated_handler.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/walk.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter

#759 refactor(cli): clean up lint and cli options
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/isolated_handler.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
  editor/vscode/server/src/linter.rs
Labels: A-linter

#760 refactor(cli): split out group options
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/isolated_handler.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/runner.rs
  crates/oxc_cli/src/type_check/mod.rs
  crates/oxc_cli/src/walk.rs
  crates/oxc_linter/src/lib.rs
Labels: A-linter

#755 feat(ast): add `SymbolId` and `ReferenceId`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast_lower/src/lib.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/reference.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/test262.rs
Labels: A-parser, A-semantic

#764 refactor(cli,linter): move the lint runner from cli to linter
  crates/oxc_cli/src/lint/isolated_handler.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter

#766 refactor(cli,linter): move path processing logic from cli to linter
  Cargo.lock
  crates/oxc_cli/Cargo.toml
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/tester.rs
  justfile
Labels: A-linter

#767 chore: clean up Cargo.toml with `cargo machete`
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_parser/fuzz/Cargo.lock
  crates/oxc_parser/fuzz/Cargo.toml
  crates/oxc_query/Cargo.toml
  crates/oxc_type_synthesis/Cargo.toml
  editor/vscode/server/Cargo.toml
Labels: A-linter, A-parser, A-minifier, A-type-checking

#773 refactor(linter): clean up tester with fixes
  crates/oxc_linter/src/rules/eslint/eq_eq_eq.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/typescript/prefer_as_const.rs
  crates/oxc_linter/src/rules/unicorn/no_instanceof_array.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#748 feat(linter): implement no-unsafe-declaration-merging
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
  crates/oxc_linter/src/snapshots/no_unsafe_declaration_merging.snap
Labels: A-linter

#775 refactor `loss-of-precision` rule to remove the slow regex
  crates/oxc_linter/src/rules/eslint/no_loss_of_precision.rs
Labels: A-linter

#778 feat(linter): detect import
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/snapshots/no_disabled_tests.snap
  crates/oxc_linter/src/snapshots/no_test_prefixes.snap
  crates/oxc_linter/src/snapshots/valid_describe_callback.snap
Labels: A-linter

#779 perf(lexer): jump table
  crates/oxc_parser/src/lexer/constants.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#783 perf(lexer): reduce checks on ident -> keyword
  .typos.toml
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#784 Rust 1.72.0
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules/deepscan/bad_array_method_on_arguments.rs
  crates/oxc_linter/src/rules/deepscan/bad_bitwise_operator.rs
  crates/oxc_linter/src/rules/deepscan/bad_min_max_func.rs
  crates/oxc_linter/src/rules/deepscan/missing_throw.rs
  crates/oxc_linter/src/rules/deepscan/number_arg_out_of_range.rs
  crates/oxc_linter/src/rules/deepscan/uninvoked_array_callback.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/return_checker.rs
  crates/oxc_linter/src/rules/eslint/constructor_super.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_async_promise_executor.rs
  crates/oxc_linter/src/rules/eslint/no_caller.rs
  crates/oxc_linter/src/rules/eslint/no_compare_neg_zero.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_else_if.rs
  crates/oxc_linter/src/rules/eslint/no_loss_of_precision.rs
  crates/oxc_linter/src/rules/eslint/no_mixed_operators.rs
  crates/oxc_linter/src/rules/eslint/no_self_compare.rs
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_linter/src/rules/eslint/no_unsafe_negation.rs
  crates/oxc_linter/src/rules/eslint/no_useless_catch.rs
  crates/oxc_linter/src/rules/eslint/valid_typeof.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_exports.rs
  crates/oxc_linter/src/rules/typescript/prefer_as_const.rs
  crates/oxc_query/src/vertex.rs
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/json_comments.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/src/resolution.rs
  crates/oxc_resolver/src/tsconfig.rs
  crates/oxc_wasm/src/lib.rs
  rust-toolchain.toml
  tasks/rulegen/src/main.rs
Labels: A-linter, A-resolver

#785 feat(ast): Add to ChainExpression and ExpressionArrayElement to ASTKind
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
  crates/oxc_linter/src/rules/eslint/no_extra_boolean_cast.rs
  crates/oxc_linter/src/rules/typescript/no_var_requires.rs
Labels: A-linter

#790 fix(linter): show the escaped span for no-useless-escape
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
  crates/oxc_linter/src/snapshots/no_useless_escape.snap
Labels: A-linter

#791 feat(cli): use insta_cmd for cli snapshot testing
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  Cargo.lock
  Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/snapshots/oxc_cli__command__snapshot__default.snap
  crates/oxc_cli/src/snapshots/oxc_cli__command__snapshot__help_help.snap
  crates/oxc_linter/Cargo.toml
  justfile
Labels: A-linter

#802 feat(linter): eslint-plugin-jest/expect-expect
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/snapshots/expect_expect.snap
Labels: A-linter

#800 improve README
  .github/CODE_OF_CONDUCT.md
  .github/SECURITY.md
  README.md
  crates/oxc_parser/README.md
  crates/oxc_parser/src/lib.rs
Labels: A-parser

#799 fix(linter): no-var-requires not warning if has bindings in ancestors
  crates/oxc_linter/src/rules/typescript/no_var_requires.rs
  crates/oxc_linter/src/snapshots/no_var_requires.snap
Labels: A-linter

#798 feat(linter_plugin): Add linter plugin crate
  .typos.toml
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter_plugin/Cargo.toml
  crates/oxc_linter_plugin/examples/queries/next/google-font-display/display-has-bad-value.yml
  crates/oxc_linter_plugin/examples/queries/next/google-font-display/font-display-param-missing.yml
  crates/oxc_linter_plugin/examples/queries/next/google-font-preconnect/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/inline-script-id/dangerouslySetInnerHTML.yml
  crates/oxc_linter_plugin/examples/queries/next/inline-script-id/more-than-one-child.yml
  crates/oxc_linter_plugin/examples/queries/next/no-assign-module-variable/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-before-interactive-script-outside-document/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-css-tags/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-document-import-in-page/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-duplicate-head/rule.DOESNTRUN
  crates/oxc_linter_plugin/examples/queries/next/no-head-element/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-head-import-in-document/match-_document-then-index.yml
  crates/oxc_linter_plugin/examples/queries/next/no-head-import-in-document/match-starts-with-_document.yml
  crates/oxc_linter_plugin/examples/queries/next/no-img-element/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-script-component-in-head/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-styled-jsx-in-document/match-_document-then-index.yml
  crates/oxc_linter_plugin/examples/queries/next/no-styled-jsx-in-document/match-starts-with-_document.yml
  crates/oxc_linter_plugin/examples/queries/next/no-sync-scripts/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/no-title-in-document-head/rule.yml
  crates/oxc_linter_plugin/examples/queries/next/script-for-ga/src-check.yml
  crates/oxc_linter_plugin/examples/queries/next/script-for-ga/src-with-dangeroushtml.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/ban-types/BigInt.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/ban-types/Boolean.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/ban-types/Number.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/ban-types/String.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/ban-types/Symbol.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/explicit-member-accessibility/constructor.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/explicit-member-accessibility/getter.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/explicit-member-accessibility/method.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/explicit-member-accessibility/property.yml
  crates/oxc_linter_plugin/examples/queries/tseslint/explicit-member-accessibility/setter.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-prototype-methods/array-directly.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-prototype-methods/array-reflect.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-prototype-methods/object-directly.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-prototype-methods/object-reflect.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-set-size/direct.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-set-size/indirect.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-string-slice/rule.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/prefer-string-trim-start-end/rule.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/require-array-join-separator/array_dot_join_dot_call.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/require-array-join-separator/array_dot_prototype_dot_join_dot_call.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/require-array-join-separator/dotjoin.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/require-number-to-fixed-digits-argument/rule.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/text-encoding-identifier-case/rule.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/throw-new-error/throw-fncall-on-ident.yml
  crates/oxc_linter_plugin/examples/queries/unicorn/throw-new-error/throw-fncall-on-membexpr.yml
  crates/oxc_linter_plugin/src/errors.rs
  crates/oxc_linter_plugin/src/lib.rs
  crates/oxc_linter_plugin/src/plugin.rs
  crates/oxc_linter_plugin/src/raw_diagnostic.rs
  crates/oxc_linter_plugin/src/spans.rs
  crates/oxc_linter_plugin/src/test.rs
Labels: A-linter

#804 TSTypeName change identifer name to identifier reference
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_linter/src/rules/typescript/no_misused_new.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_type_synthesis/src/interfaces.rs
  crates/oxc_type_synthesis/src/types.rs
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser, A-semantic, A-type-checking

#806 rename get_node_by_ident to get_declaration_of_variable
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/typescript/no_var_requires.rs
Labels: A-linter

#810 fix(resolver): make sure package name is valid when loading package self
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/simple.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/node_modules/dash-name/index.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/node_modules/dash-name/package.json
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/node_modules/dash/index.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/node_modules/dash/package.json
Labels: A-resolver

#816 fix(resolver): do not resolve browser field that are strings
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/src/tests/browser_field.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/node_modules/browser-module-broken/browser.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/node_modules/browser-module-broken/main.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/node_modules/browser-module-broken/package.json
Labels: A-resolver

#820 fix(resolver): resolve exports field that are directories
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/tests/exports_field.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field3/node_modules/exports-field/package.json
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field3/node_modules/exports-field/src/index.js
Labels: A-resolver
