Repository oxc-project/oxc, pull requests merged in 2023-04, with the labels that each got.

#233 fix(parser): fix panic on multi-byte characaters
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lib.rs
  tasks/coverage/babel.snap
  tasks/coverage/test262.snap
  tasks/coverage/typescript.snap
Labels: C-bug, A-parser

#239 refactor(oxc_parser): clean up doc
  crates/oxc_parser/src/context.rs
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/operator.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/declaration.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_parser/src/ts/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#242 fix(parser): clean up type arguments parsing
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#259 fix(parser): fix additional char being consumed in JSXText
  crates/oxc_parser/src/lexer/mod.rs
Labels: first-pr, A-parser

#277 feat(linter): implement no-shadow-restricted-names
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/no_shadow_restricted_names.rs
  crates/oxc_linter/src/snapshots/no_shadow_restricted_names.snap
Labels: first-pr, A-linter

#285 feat(printer,semantic): mangler
  Cargo.lock
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/no_class_assign.rs
  crates/oxc_linter/src/rules/no_const_assign.rs
  crates/oxc_linter/src/rules/no_function_assign.rs
  crates/oxc_linter/src/rules/no_shadow_restricted_names.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_printer/Cargo.toml
  crates/oxc_printer/src/gen.rs
  crates/oxc_printer/src/lib.rs
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/symbol/builder.rs
  crates/oxc_semantic/src/symbol/mangler.rs
  crates/oxc_semantic/src/symbol/mod.rs
  crates/oxc_semantic/src/symbol/table.rs
  tasks/minsize/minsize.snap
  tasks/minsize/src/lib.rs
Labels: A-semantic, A-minifier
