Repository oxc-project/oxc, pull requests merged in 2023-07, with the labels that each got.

#552 feat(minifier): drop console statements and exprs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/util.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/oxc/code_removal.rs
Labels: A-minifier

#545 refactor(linter): run eq_eq_eq fix in some condition
  crates/oxc_linter/src/rules/eslint/eq_eq_eq.rs
  crates/oxc_linter/src/snapshots/eq_eq_eq.snap
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#563 test: add tests for boolean related comparison
  crates/oxc_minifier/tests/closure/fold_constants.rs
Labels: A-minifier

#578 feat(linter): implement `adjacent-overload-signature`
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/adjacent_overload_signatures.rs
  crates/oxc_linter/src/snapshots/adjacent_overload_signatures.snap
Labels: A-linter

#575 feat(linter): implement no-var-requires
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_var_requires.rs
  crates/oxc_linter/src/snapshots/no_var_requires.snap
Labels: A-linter

#580 feat(minifier): fold NaN comparison
  crates/oxc_hir/src/hir.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_minifier/tests/closure/fold_constants.rs
Labels: A-minifier

#581 perf(resolver): use `fs::symlink_metadata`, which doesn't traverse symlinks
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/file_system.rs
  crates/oxc_resolver/tests/memory_fs.rs
Labels: A-resolver

#582 feat(resolver): implement symlinks
  Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/file_system.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/.gitignore
  crates/oxc_resolver/tests/enhanced_resolve/test/mod.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/symlink.rs
  crates/oxc_resolver/tests/memory_fs.rs
Labels: A-resolver

#584 perf(resolver): cache canonicalized path
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#585 perf(resolver): improve cache hit for package.json
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/tests/description_file.rs
Labels: A-resolver

#586 chore(resolver): add more data to benchmark
  crates/oxc_resolver/benches/resolver.rs
Labels: A-resolver

#588 chore(resolver): add multi-threaded benchmark
  Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/benches/resolver.rs
Labels: A-resolver

#589 refactor(resolver): improve how browser field is resolved
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/package_json.rs
Labels: A-resolver

#590 feat(resolver): check for directory before loading a directory
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/file_system.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/tests/memory_fs.rs
Labels: A-resolver

#591 chore(resolver): improve documentation
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/path.rs
Labels: A-resolver

#592 refactor(resolver): improve browser_field lookup
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/package_json.rs
Labels: A-resolver

#593 refactor(resolver): make the global cache hold less memory
  crates/oxc_resolver/src/cache.rs
Labels: A-resolver

#594 refactor(semantic): symbol declarations and references
  crates/oxc_linter/src/rules/eslint/no_class_assign.rs
  crates/oxc_linter/src/rules/eslint/no_const_assign.rs
  crates/oxc_linter/src/rules/eslint/no_ex_assign.rs
  crates/oxc_linter/src/rules/eslint/no_func_assign.rs
  crates/oxc_linter/src/rules/eslint/no_import_assign.rs
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_minifier/src/mangler/mod.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/symbol.rs
Labels: A-linter, A-semantic, A-minifier, C-cleanup

#600 chore(resolver): add a alias test and check resolution is the same in benchmark
  crates/oxc_resolver/benches/resolver.rs
  crates/oxc_resolver/examples/resolver.rs
Labels: A-resolver

#601 perf(resolver): do not read package_json of a file
  crates/oxc_resolver/src/cache.rs
Labels: A-resolver

#602 perf(resolver): reduce the total number of hashes by passing the cached value around
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/roots.rs
Labels: A-resolver

#603 perf(resolver): allocate less when resolving extensions
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#535 feat(cli): add support for `TIMING` env var
  Cargo.toml
  crates/oxc_cli/src/lint/command.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/lint/options.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule_timer.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
Labels: A-linter

#605 refactor(resolver): use DashSet for the cache
  crates/oxc_resolver/src/cache.rs
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#606 perf(resolver): hash once for the `get` + `insert` case
  Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/src/cache.rs
Labels: A-resolver

#608 perf(resolver): reduce memory allocation when resolving node_modules
  crates/oxc_resolver/src/lib.rs
Labels: A-resolver

#630 feat(resolver): initialize implementation of package.json exports field
  Cargo.lock
  crates/oxc_resolver/Cargo.toml
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/exports_field.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/mod.rs
Labels: A-resolver

#629 refactor: remove unstable feature const_trait_impl & const_slice_index & slice_group_by
  Cargo.lock
  crates/oxc_linter/src/lib.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/mangler/mod.rs
Labels: A-linter, A-minifier

#632 refactor: remove unstable feature slice_as_chunks
  crates/oxc_parser/src/lexer/simd.rs
  crates/oxc_parser/src/lib.rs
Labels: A-parser

#641 refactor(linter): remove `Box::leak`
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
Labels: A-linter

#635 feat(linter): eslint/no-empty-character-class
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_empty_character_class.rs
  crates/oxc_linter/src/snapshots/no_empty_character_class.snap
Labels: C-enhancement, A-linter

#645 refactor(parser): remove portable simd because it is not stable Rust
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/simd.rs
  crates/oxc_parser/src/lib.rs
Labels: A-parser

#647 feat(linter): add a `run_once` callback
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules/eslint/no_unused_labels.rs
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
Labels: A-linter

#648 feat(resolver): implement more of exports field
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/exports_field.rs
Labels: A-resolver

#624 feat(linter): implement no-global-assign
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_global_assign.rs
  crates/oxc_linter/src/snapshots/no_global_assign.snap
Labels: A-linter

#649 feat(linter): eslint/no-loss-of-precision
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_loss_of_precision.rs
  crates/oxc_linter/src/snapshots/no_loss_of_precision.snap
Labels: A-linter

#654 perf(linter): reduce mallocs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_keys.rs
  crates/oxc_linter/src/rules/eslint/no_global_assign.rs
  crates/oxc_linter/src/rules/eslint/no_loss_of_precision.rs
  crates/oxc_syntax/src/lib.rs
Labels: A-linter, C-performance

#658 feat(minifier): initialize conditions folding
  crates/oxc_hir/src/span.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/tests/closure/fold_conditions.rs
  crates/oxc_minifier/tests/closure/mod.rs
  crates/oxc_syntax/src/operator.rs
Labels: A-minifier

#659 feat(resolver): port the rest of the exports field tests
  crates/oxc_resolver/README.md
  crates/oxc_resolver/src/error.rs
  crates/oxc_resolver/src/lib.rs
  crates/oxc_resolver/src/options.rs
  crates/oxc_resolver/src/package_json.rs
  crates/oxc_resolver/src/path.rs
  crates/oxc_resolver/src/request.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/exports_field.rs
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field-and-extension-alias/node_modules/@org/pkg/dist/string.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field-and-extension-alias/node_modules/@org/pkg/dist/string.test.d.ts
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field-and-extension-alias/node_modules/@org/pkg/package.json
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field-and-extension-alias/node_modules/pkg/dist/string.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field-and-extension-alias/node_modules/pkg/dist/string.test.d.ts
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/exports-field-and-extension-alias/node_modules/pkg/package.json
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/package.json
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/features/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/features/internal/file.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/features/y/y.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/internal/i.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle-1/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle-1/nested/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle-2/nested/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle-3/nested/f/nested/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle-4/f/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle-5/f$/$.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle-5/f/$.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/fixtures/imports-exports-wildcard/node_modules/m/src/middle/nested/f.js
  crates/oxc_resolver/tests/enhanced_resolve/test/roots.rs
Labels: A-resolver

#609 feat(linter): no-focused-test(eslint-jest-plugin)
  crates/oxc_linter/src/jest_ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/snapshots/no_disabled_tests.snap
  crates/oxc_linter/src/snapshots/no_focused_tests.snap
Labels: A-linter

#661 fix(semantic): nested references
  Cargo.lock
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/node.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/scope.rs
Labels: C-bug, A-semantic

#667 Adding types to the symbol table - consistent export type sample rule implemented
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_ast_lower/src/lib.rs
  crates/oxc_hir/src/hir.rs
  crates/oxc_hir/src/hir_builder.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_exports.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_syntax/src/symbol.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: C-enhancement, A-linter, A-parser, A-semantic

#664 fix(linter): fix false positives in loss-of-precision lint
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/eslint/no_loss_of_precision.rs
Labels: A-linter

#671 refactor(linter): manually declare lint rules because `cargo fmt` breaks
  CONTRIBUTING.md
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_keys.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_exports.rs
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
  crates/oxc_macros/src/declare_all_lint_rules/trie.rs
Labels: A-linter
