Repository oxc-project/oxc, pull requests merged in 2024-07, with the labels that each got.

#3999 fix(codegen): print `TSFunctionType` inside `TSTypeAssertion`
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_typescript.snap
Labels: A-codegen

#4003 refactor(parser): use function instead of trait to parse normal lists
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/list.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#3997 fix(transformer/typescript): `declare class` incorrectly preserved as runtime class
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/elimination-declare/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/elimination-declare/output.js
Labels: A-transformer, merge

#3994 refactor(ast): reorder fields to reflect their visit order.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast, merge

#4004 fix(semantic): resolve reference incorrectly when a parameter references a parameter that hasn't been defined yet
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/scopes.rs
  crates/oxc_syntax/src/node.rs
Labels: A-semantic, A-ast, merge

#4014 refactor(parser): use function instead of trait to parse delimited lists
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_parser/src/ts/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#3995 refactor(ast)!: rename `visit_arrow_expression` to `visit_arrow_function_expression`.
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_linter/src/rules/eslint/require_await.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-linter, A-semantic, A-ast, merge, A-isolated-declarations

#3998 refactor(ast)!: rename `visit_enum` to `visit_ts_enum_declaration`.
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-semantic, A-ast, merge

#4000 refactor(ast)!: rename `visit_enum_memeber` to `visit_ts_enum_member`.
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, A-ast, merge

#4001 improvement(ast): generate the `visit.rs` file.
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast/src/visit/mod.rs
  crates/oxc_ast/src/visit/visit.rs
Labels: A-ast, merge

#4007 improvement(ast): generate `visit_mut.rs`.
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/src/ast_passes/remove_parens.rs
  crates/oxc_minifier/src/ast_passes/replace_global_defines.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_transformer/src/typescript/enum.rs
Labels: A-minifier, A-ast, A-transformer, merge

#4008 refactor(ast_codegen): no longer outputs discard variable for empty visitors.
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: A-ast, merge

#4009 pref(ast): inline visit walks with small bodies.
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: C-performance, A-ast, merge

#4011 improvement(ast_codegen): use `visit_as` attribute to create aliased `AstKind`s.
  crates/oxc_ast/src/generated/ast_kind.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
Labels: A-linter, A-semantic, A-minifier, A-ast, A-transformer, merge, A-isolated-declarations

#4012 feat(ast_codegen): introduce the `#[span]` hint.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/span.rs
  crates/oxc_ast_macros/src/lib.rs
  tasks/ast_codegen/src/generators/impl_get_span.rs
Labels: A-semantic, A-minifier, A-ast, A-transformer, merge

#4010 fix(linter): find disabled directives using the message's `Span`.
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/snapshots/no_empty_file.snap
Labels: C-bug, A-linter, merge

#4021 fix(codegen): missing TypeParamters in TSCallSignature
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen, merge

#4028 refactor(parser): use function instead of trait to parse list with rest element
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/mod.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/list.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_typescript.snap
Labels: A-parser, merge

#4022 fix(codegen): missing const keyword in TSTypeParamter
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen, merge

#4024 fix(isolated-declarations): method following an abstract method gets dropped
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/fixtures/class.ts
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
Labels: A-ast, merge, A-isolated-declarations

#4025 fix(isolated-declarations): binding elements with export should report an error
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/tests/fixtures/non-exported-binding-elements.ts
  crates/oxc_isolated_declarations/tests/snapshots/non-exported-binding-elements.snap
Labels: merge, A-isolated-declarations

#4026 fix(isolated-declarations): should emit `export {}` when only having `ImportDeclaration`
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/tests/fixtures/empty-export2.ts
  crates/oxc_isolated_declarations/tests/snapshots/empty-export2.snap
Labels: merge, A-isolated-declarations

#4027 fix(isolated_declarations): inferring literal types for readonly class fileds
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/fixtures/class.ts
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
Labels: A-isolated-declarations

#4030 fix(isolated_declarations): Fix readonly specifier on class constructor params
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/tests/fixtures/class.ts
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
Labels: A-isolated-declarations

#4037 fix(isolated_declarations): add mapped-type constraint to the scope
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_isolated_declarations/tests/fixtures/mapped-types.ts
  crates/oxc_isolated_declarations/tests/snapshots/mapped-types.snap
Labels: A-isolated-declarations

#4035 feat(isolated-declarations): support optional class methods
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/fixtures/class.ts
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
Labels: A-codegen, A-isolated-declarations

#4042 fix(codegen): correct accessibility emit for class formal-parameters/methods/properties
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#4043 fix(isolated-declarations): eliminate imports incorrectly when they are used in `TSInferType`
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_isolated_declarations/tests/fixtures/eliminate-imports.ts
  crates/oxc_isolated_declarations/tests/snapshots/eliminate-imports.snap
Labels: merge, A-isolated-declarations

#4045 refactor(ast)!: store trivia comments in a sorted slice
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast/src/trivia.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
Labels: A-parser, A-ast

#4041 feat(linter): add rule no-undefined
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_undefined.rs
  crates/oxc_linter/src/snapshots/no_undefined.snap
Labels: A-linter

#4055 fix(codegen): preserve parentheses from AST instead calculating from operator precedence
  Cargo.lock
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/tests/mod.rs.off
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/minifier_test262.snap
  tasks/coverage/misc/pass/oxc-4054.js
  tasks/coverage/parser_misc.snap
  tasks/coverage/prettier_misc.snap
  tasks/coverage/transformer_misc.snap
  tasks/coverage/transformer_typescript.snap
  tasks/coverage/transpile.snap
  tasks/transform_conformance/babel.snap.md
Labels: A-minifier, A-transformer, A-codegen

#4057 refactor(minifier): add a folder struct for constant folding
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/folder/mod.rs
  crates/oxc_minifier/src/folder/tri.rs
  crates/oxc_minifier/src/folder/ty.rs
  crates/oxc_minifier/src/folder/util.rs
  crates/oxc_minifier/src/lib.rs
Labels: A-minifier

#4061 fix(ast_codegen, ast): visit `ExpressionArrayElement` as `Expression`.
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: A-ast

#4053 feat(linter): eslint-plugin-jest/consistent-test-it
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/consistent_test_it.rs
  crates/oxc_linter/src/rules/jest/prefer_jest_mocked.rs
  crates/oxc_linter/src/snapshots/consistent_test_it.snap
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#4064 fix(isolated_declarations): correct emit for private static methods
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/fixtures/class.ts
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
Labels: A-isolated-declarations

#4063 fix(codegen): missing TypeParameters in TSConstructSignature
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#4066 refactor(ast): inline trivial functions and shorten code
  crates/oxc_ast/src/trivia.rs
Labels: A-ast, merge

#4067 perf(parser): do not copy comments
  crates/oxc_parser/src/lexer/trivia_builder.rs
Labels: A-parser, merge

#4038 feat(linter/eslint): Implement no-multi-str
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_multi_str.rs
  crates/oxc_linter/src/snapshots/no_multi_str.snap
Labels: A-linter

#4070 refactor(isolated-declarations): reorganize scope tree
  crates/oxc_isolated_declarations/src/scope.rs
Labels: A-isolated-declarations

#4065 fix(isolated_declarations): Don't report an error for parameters if they are ObjectPattern or ArrayPattern with an explicit type
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/tests/snapshots/function-parameters.snap
Labels: A-isolated-declarations

#4073 fix(minifier): omit dce `undefined` which can be a shadowed variable
  crates/oxc_minifier/src/compressor/ast_util.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
Labels: A-minifier

#4076 chore(tasks/rulegen): generate `options` for fix cases
  tasks/rulegen/src/main.rs
Labels: merge

#4080 fix(linter): fix panic in import/namespace
  crates/oxc_linter/src/rules/import/namespace.rs
Labels: A-linter, merge

#4074 perf(isolated-declarations): use `FxHashSet` instead of `Vec` to speed up the `contain`
  crates/oxc_isolated_declarations/src/lib.rs
Labels: A-isolated-declarations

#4068 fix(isolated_declarations): Infer type of template literal expressions as string
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/tests/fixtures/arrow-function-return-type.ts
  crates/oxc_isolated_declarations/tests/fixtures/infer-return-type.ts
  crates/oxc_isolated_declarations/tests/fixtures/infer-template-literal.ts
  crates/oxc_isolated_declarations/tests/snapshots/arrow-function-return-type.snap
  crates/oxc_isolated_declarations/tests/snapshots/infer-return-type.snap
  crates/oxc_isolated_declarations/tests/snapshots/infer-template-literal.snap
Labels: A-isolated-declarations

#4094 fix(linter): incorrect fix in `no-single-promise-in-promise-methods` rule;
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
  crates/oxc_linter/src/snapshots/no_single_promise_in_promise_methods.snap
Labels: C-bug, A-linter, merge

#4077 fix(isolated_declarations): Remove nested AssignmentPatterns from inside parameters
  crates/oxc_isolated_declarations/src/formal_parameter_binding_pattern.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/tests/fixtures/function-parameters.ts
  crates/oxc_isolated_declarations/tests/snapshots/function-parameters.snap
Labels: A-isolated-declarations

#4097 feat(semantic): check for invalid type import assignments
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_babel.snap
Labels: C-enhancement, A-semantic, A-ast

#4103 fix(transformer): missing initializer for readonly consructor properties
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/class-constructor-arguments/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/class-constructor-arguments/output.js
Labels: C-bug, A-transformer

#4100 fix(semantic): bind `TSImportEqualsDeclaration`s
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/modules.rs
  tasks/coverage/parser_typescript.snap
Labels: C-bug, A-linter, A-semantic

#4105 fix(isolated-declarations): do not infer type for private parameters
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
Labels: merge, A-isolated-declarations

#4106 fix(isolated-declarations): keep literal value for readonly property
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
Labels: merge, A-isolated-declarations

#4088 feat(allocator): introduce `FromIn` and `IntoIn` traits.
  crates/oxc_allocator/src/convert.rs
  crates/oxc_allocator/src/lib.rs
Labels: merge

#4107 perf(semantic): keep a single map of unresolved references
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/scope.rs
Labels: A-semantic

#4108 refactor(react): use find_binding helper for finding React binding
  crates/oxc_linter/src/rules/react/react_in_jsx_scope.rs
Labels: A-linter

#4090 feat(span): add various implementations of `FromIn` for `Atom`.
  Cargo.lock
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/atom.rs
Labels: merge

#4119 feat(oxc_codegen): generate annotation comments before `CallExpression` and `NewExpression`
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_comment.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#4125 feat(semantic): check for abstract initializations and implementations
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: C-enhancement, A-semantic, A-ast

#4123 fix(linter): incorrect fixer for `no-unused-labels`
  crates/oxc_linter/src/rules/eslint/no_unused_labels.rs
Labels: A-linter

#4098 feat(ast_codegen): add ast builder generator.
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/generators/visit.rs
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/util.rs
Labels: merge

#3890 feat(ast)!: generate `ast_builder.rs`.
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/types.rs
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/folder/mod.rs
  crates/oxc_parser/src/js/arrow.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/react/display_name.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_self.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-parser, A-minifier, A-ast, A-transformer, merge, A-isolated-declarations

#4126 feat(parser): check for illegal modifiers in modules and namespaces
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/parser_typescript.snap
Labels: C-enhancement, A-parser, merge

#4121 fix(linter): panic in `get_enclosing_function`
  crates/oxc_linter/src/ast_util.rs
Labels: C-bug, A-linter

#4127 feat(semantic): check for abstract ClassElements in non-abstract classes
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: C-enhancement, A-linter, A-parser, A-semantic, A-minifier, A-ast, A-transformer, A-isolated-declarations

#4116 refactor(ast_codegen): cleanup usages of the generated outputs.
  tasks/ast_codegen/src/generators/ast.rs
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
  tasks/ast_codegen/src/generators/impl_get_span.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/generators/visit.rs
  tasks/ast_codegen/src/main.rs
Labels: merge

#4117 feat(ast_codegen): add cli arguments to use with `oxc_ast_codegen` executable.
  Cargo.lock
  tasks/ast_codegen/Cargo.toml
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/util.rs
Labels: merge

#4130 fix(isolated-declarations): remove the `async` and `generator` keywords from `MethodDefinition`
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/tests/fixtures/async-function.ts
  crates/oxc_isolated_declarations/tests/fixtures/generator.ts
  crates/oxc_isolated_declarations/tests/snapshots/async-function.snap
  crates/oxc_isolated_declarations/tests/snapshots/generator.snap
Labels: merge, A-isolated-declarations

#4135 feat(minifier): dce all conditional expressions
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
Labels: A-minifier

#4122 refactor(ast/ast_builder)!: shorter allocator utility method names.
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_isolated_declarations/src/types.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/folder/mod.rs
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/arrow.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/helpers/bindings.rs
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/react/display_name.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-parser, A-minifier, A-ast, A-transformer, merge, A-isolated-declarations

#4124 feat(ast): allow conversion from `Expression` into `Statement` with `FromIn` trait.
  crates/oxc_ast/src/ast_impl/js.rs
Labels: A-ast, merge

#4132 refactor(ast)!: store span details inside comment struct
  crates/oxc_ast/src/trivia.rs
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/rules/eslint/default_case.rs
  crates/oxc_linter/src/rules/eslint/max_lines.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/ban_tslint_comment.rs
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
  crates/oxc_linter/src/rules/typescript/prefer_ts_expect_error.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/utils/tree_shaking.rs
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_prettier/src/comments/print.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_transformer/src/react/options.rs
  crates/oxc_transformer/src/typescript/options.rs
  crates/oxc_wasm/src/lib.rs
  napi/parser/src/lib.rs
  tasks/coverage/src/suite.rs
Labels: A-linter, A-parser, A-semantic, A-ast, A-transformer, A-codegen, A-prettier

#4149 docs(ast): update the note regarding the `ast_codegen` markers.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast, merge

#4140 perf(semantic): faster search for leading comments
  crates/oxc_semantic/src/jsdoc/builder.rs
Labels: A-semantic

#4143 fix(ast): put `decorators` before everything else.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-parser, A-ast, A-transformer, merge, A-isolated-declarations

#4150 feat(linter): better schemas for allow/warn/deny
  crates/oxc_linter/src/config/rules.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
Labels: A-linter

#4157 refactor(semantic): tweak comment argument type
  crates/oxc_semantic/src/jsdoc/builder.rs
Labels: A-semantic, merge

#4155 feat(minifier): implement return statement dce
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
Labels: A-minifier, merge

#4160 feat(minifier): implement dce with var hoisting
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
Labels: A-minifier, merge

#4133 feat(napi/transformer): add `jsx` option to force parsing with jsx
  napi/transform/index.d.ts
  napi/transform/index.js
  napi/transform/src/transformer.rs
Labels: merge

#4153 chore(ci): fix the formatting issues on `AST Changes`.
  .github/workflows/ci.yml
Labels: merge

#4147 feat(ast_codegen): add `#[visit(enter_before)]` hint.
  tasks/ast_codegen/src/generators/visit.rs
Labels: merge

#4052 feat(linter): eslint-plugin-jest/prefer-hooks-in-order
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_hooks_in_order.rs
  crates/oxc_linter/src/snapshots/prefer_hooks_in_order.snap
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#4163 fix(parser): fix asi error diagnostic pointing at invalid text causing crash
  crates/oxc_linter/src/snapshots/button_has_type.snap
  crates/oxc_linter/src/snapshots/consistent_indexed_object_style.snap
  crates/oxc_parser/src/cursor.rs
  tasks/coverage/misc/fail/oxc-4111-1.js
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser, merge

#4165 fix(linter): fix fixer panic in typescript/consistent_indexed_object_style
  crates/oxc_linter/src/rules/typescript/consistent_indexed_object_style.rs
Labels: A-linter, merge

#4162 perf(semantic): store unresolved refs in a stack
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4166 fix(linter): fix panic with unicode in unicorn/prefer_dom_node_dataset
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_dataset.rs
Labels: A-linter, merge

#4168 feat(ast, ast_codegen): pass the `scope_id` to the `enter_scope` event.
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_semantic/src/builder.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: A-semantic, A-ast, merge, A-isolated-declarations

#4167 fix(linter): fix top level return panic in eslint/array_callback_return
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
Labels: A-linter, merge

#4072 fix(lexer): incorrect lexing of large hex/octal/binary literals
  crates/oxc_parser/src/lexer/number.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/oxc-4072.ts
  tasks/coverage/parser_misc.snap
  tasks/coverage/transformer_misc.snap
Labels: C-bug, A-parser, merge

#4172 refactor(tasks): clean up test files and remove libs.txt
  tasks/common/src/test_file.rs
  tasks/coverage/src/sourcemap.rs
  tasks/libs.txt
  tasks/minsize/minsize.snap
  tasks/minsize/src/lib.rs
Labels: merge

#4177 fix(cfg): double resolution of labeled statements.
  crates/oxc_cfg/src/builder/context.rs
  crates/oxc_cfg/tests/builder.rs
Labels: merge, A-cfg

#4175 perf(diagnostic): use `Cow<'static, str>` over `String`
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_linter/src/rules/oxc/no_optional_chaining.rs
Labels: A-linter, C-performance, merge

#4181 fix(tasks/ast_codegen): run `cargo fmt` synchronously
  .github/workflows/ci.yml
  tasks/ast_codegen/src/fmt.rs
  tasks/ast_codegen/src/main.rs
Labels: merge

#4087 feat(linter/eslint): Implement no-label-var
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_label_var.rs
  crates/oxc_linter/src/snapshots/no_label_var.snap
Labels: C-enhancement, A-linter

#4176 feat(linter): add fixer for jsx-a11y/aria-props
  .typos.toml
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_props.rs
  crates/oxc_linter/src/snapshots/aria_props.snap
Labels: A-linter, merge

#4184 fix(linter): fixer for no-debugger creates incorrect code
  crates/oxc_linter/src/rules/eslint/no_debugger.rs
Labels: C-enhancement, A-linter, merge

#4190 feat(minifier): dce conditional expression `&&` or `||`
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/src/folder/mod.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
Labels: A-minifier

#3984 feat(linter): add fixer for @typescript-eslint/consistent-type-imports
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
Labels: A-linter, merge

#4191 fix(linter/tree-shaking): avoid recursive function stackoverflow
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter, merge

#4178 feat(linter): add vitest/no-focused-tests rule
  crates/oxc_linter/src/rules/jest/consistent_test_it.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/jest/prefer_hooks_in_order.rs
  crates/oxc_linter/src/snapshots/no_focused_tests.snap
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#4196 refactor(codegen): improve print API
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_linter/src/rules/eslint/no_unsafe_negation.rs
  crates/oxc_linter/src/rules/jest/no_untyped_mock_factory.rs
  crates/oxc_linter/src/rules/jest/prefer_comparison_matcher.rs
  crates/oxc_linter/src/rules/jest/prefer_expect_resolves.rs
  crates/oxc_linter/src/rules/jest/prefer_mock_promise_shorthand.rs
  crates/oxc_linter/src/rules/jest/prefer_spy_on.rs
  crates/oxc_linter/src/rules/jest/prefer_to_have_length.rs
  crates/oxc_linter/src/rules/jest/prefer_todo.rs
  crates/oxc_linter/src/rules/unicorn/explicit_length_check.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/rules/unicorn/require_number_to_fixed_digits_argument.rs
  crates/oxc_linter/src/rules/unicorn/switch_case_braces.rs
Labels: A-linter, A-codegen

#4192 refactor(semantic): correct scope in CatchClause
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_linter/src/rules/eslint/no_empty.rs
  crates/oxc_linter/src/rules/unicorn/empty_brace_spaces.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/labeled_block_break.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-semantic, A-ast, merge

#4193 refactor(semantic): set `current_scope_id` to `scope_id` in `enter_scope`
  crates/oxc_semantic/src/builder.rs
  tasks/coverage/parser_typescript.snap
Labels: A-semantic, merge

#4197 feat(mangler): initialize crate and integrate into minifier
  Cargo.lock
  Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_mangler/Cargo.toml
  crates/oxc_mangler/src/lib.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/lib.rs
  tasks/minsize/minsize.snap
  tasks/minsize/src/lib.rs
Labels: A-minifier, A-codegen, merge

#4199 fix: avoid print extra semicolon after accessor property
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
  tasks/coverage/codegen_sourcemap.snap
Labels: A-codegen

#4202 feat(tasks/minsize): include esbuild minified size
  tasks/minsize/minsize.snap
  tasks/minsize/src/lib.rs
Labels: merge

#4079 feat(linter): implement unicorn/no-useless-undefined
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_undefined.rs
  crates/oxc_linter/src/snapshots/no_useless_undefined.snap
Labels: A-linter

#4206 perf(semantic): reuse existing map of unresolved refs
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4209 fix(linter): global variables should always check the builtin variables
  crates/oxc_linter/src/context.rs
Labels: A-linter

#4210 feat(linter): let fixer functions return a `None` fix
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule.rs
Labels: C-enhancement, A-linter

#4213 perf(semantic): recycle unresolved references hash maps
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4214 perf(semantic): reduce lookups
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4216 perf(semantic): reduce memory copies
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4182 feat(linter): support eslint-plugin-vitest/no-test-prefixes
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/snapshots/no_test_prefixes.snap
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#4219 feat(codegen): add option for choosing quotes; remove slow `choose_quot` method
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_isolated_declarations/tests/snapshots/as-const.snap
  crates/oxc_isolated_declarations/tests/snapshots/class.snap
  crates/oxc_isolated_declarations/tests/snapshots/eliminate-imports.snap
  crates/oxc_isolated_declarations/tests/snapshots/infer-template-literal.snap
  crates/oxc_isolated_declarations/tests/snapshots/mapped-types.snap
  crates/oxc_linter/src/fixer.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
  crates/oxc_minifier/tests/oxc/replace_global_defines.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/transpile.snap
Labels: A-linter, A-minifier, A-codegen, merge, A-isolated-declarations

#4183 feat(linter): support eslint-plugin-vitest/valid-expect
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/snapshots/valid_expect.snap
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#4203 refactor(ast/visit): fire node events as the outermost one.
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_semantic/src/builder.rs
  tasks/ast_codegen/src/generators/visit.rs
  tasks/coverage/parser_typescript.snap
Labels: A-semantic, A-ast, merge

#4185 feat(linter): support eslint-plugin-vitest/valid-describe-callback
  crates/oxc_linter/src/rules/jest/valid_describe_callback.rs
  crates/oxc_linter/src/snapshots/valid_describe_callback.snap
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#4205 feat(semantic): add `ScopeFlags::CatchClause` for use in CatchClause
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_syntax/src/scope.rs
  tasks/coverage/parser_typescript.snap
Labels: A-semantic, A-ast

#4208 refactor(semantic): convert scope fields to IndexVecs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/scope.rs
Labels: A-semantic, merge

#4230 fix(oxc_codegen): avoid print same pure comments multiple time
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#4231 fix(codegen): print `JSXAttributeValue::StringLiteral` directly
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_typescript.snap
Labels: A-codegen, merge

#4236 fix(codegen): choose the right quote for jsx attribute string
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_typescript.snap
Labels: A-codegen, merge

#4217 fix(linter): not ignore adjacent spans when fixing
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
  crates/oxc_linter/src/snapshots/no_useless_escape.snap
Labels: A-linter, merge

#4226 refactor(semantic)!: simplify node creation
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/node.rs
Labels: A-semantic, merge

#4222 refactor(linter): split up fixer code into separate files
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/fixer/mod.rs
Labels: A-linter, merge

#4198 fix(linter): correct find first non whitespace logic in @typescript-eslint/consistent-type-imports
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
  crates/oxc_linter/src/snapshots/consistent_type_imports.snap
Labels: A-linter, merge

#4235 feat(transformer): decode xml character entity `&#xhhhh` and `&#nnnn;`
  crates/oxc_transformer/src/react/jsx.rs
Labels: A-transformer, merge

#4241 fix(semantic): do not resolve references after `FormalParameters` in TS type
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4195 feat(semantic): align class scope with typescript
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_linter/src/snapshots/ban_types.snap
  crates/oxc_parser/src/js/class.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser, A-semantic, A-ast, A-transformer, merge, A-isolated-declarations

#4156 refactor(semantic): add strict mode in scope flags for class definitions
  crates/oxc_semantic/src/builder.rs
  tasks/coverage/parser_test262.snap
Labels: A-semantic, merge

#4246 refactor(ast): move `enter_scope` after `visit_binding_identifier`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-semantic, A-ast, merge

#4245 fix(codegen): print parenthesis properly
  Cargo.lock
  crates/oxc_ast/src/precedence.rs
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_minifier/src/compressor/mod.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/minifier_test262.snap
  tasks/coverage/transformer_typescript.snap
  tasks/coverage/transpile.snap
  tasks/transform_conformance/babel.snap.md
Labels: A-minifier, A-ast, A-transformer, A-codegen, merge

#4249 refactor(semantic): simplify adding `SymbolFlags::Export`
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4248 refactor(semantic): update the order of `visit_function` and `Visit` fields in the builder to be consistent
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_linter/src/snapshots/ban_types.snap
  crates/oxc_parser/src/js/function.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser, A-semantic, A-ast, merge, A-isolated-declarations

#4244 feat(linter): add fixer for unicorn/no_useless_promise_resolve_reject
  crates/oxc_linter/src/rules/unicorn/no_useless_promise_resolve_reject.rs
Labels: A-linter

#4254 fix(parser): fix tests for number parsing
  crates/oxc_parser/src/lexer/number.rs
Labels: A-parser, merge

#4265 refactor(semantic): directly record `current_node_id` when adding a scope
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-semantic, merge

#4257 perf(parser): faster parsing decimal numbers
  crates/oxc_parser/src/lexer/number.rs
Labels: A-parser, merge

#4258 perf(parser): speed up parsing octal literals
  crates/oxc_parser/src/lexer/number.rs
Labels: A-parser, merge

#4259 perf(parser): speed up parsing numbers with `_` separators
  crates/oxc_parser/src/lexer/number.rs
Labels: A-parser, merge

#4262 perf(semantic): reduce overhead of cfg recording ast nodes
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4263 perf(semantic): do not record ast nodes for cfg if cfg disabled
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4264 perf(semantic): reduce `AstNodeId` to `u32`
  crates/oxc_syntax/src/node.rs
Labels: merge

#4268 fix: RemoveDeadCode should visit nested expression
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
Labels: A-minifier, merge

#4267 fix(parser): avoid crashing on invalid const modifier
  crates/oxc_parser/src/modifiers.rs
  tasks/coverage/misc/fail/oxc-4212-1.ts
  tasks/coverage/parser_misc.snap
Labels: A-parser, merge

#4272 perf(semantic): inline ast record functions
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4275 refactor(semantic): alter syntax of `control_flow!` macro
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#4277 refactor(semantic): rename function param
  crates/oxc_semantic/src/binder.rs
Labels: A-semantic, merge
