Repository oxc-project/oxc, pull requests merged in 2024-05, with the labels that each got.

#3142 feat(transformer/jsx-source): get the correct lineNumber and columnNumber from the span.
  Cargo.lock
  crates/oxc_span/src/span.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/utils.rs
Labels: A-ast, A-transformer

#3134 feat(linter): @typescript-eslint/prefer-literal-enum-member
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/prefer_literal_enum_member.rs
  crates/oxc_linter/src/snapshots/prefer_literal_enum_member.snap
Labels: A-linter

#3147 feat(linter/jsdoc): Support settings.ignore(Private|Internal)
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/settings/jsdoc.rs
  crates/oxc_linter/src/config/settings/mod.rs
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/rules/jsdoc/check_property_names.rs
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
  crates/oxc_linter/src/rules/jsdoc/implements_on_classes.rs
  crates/oxc_linter/src/rules/jsdoc/no_defaults.rs
  crates/oxc_linter/src/rules/jsdoc/require_property.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_name.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_type.rs
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter

#3154 feat(linter/tree-shaking): support SequenceExpression
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#3155 feat(linter/tree-shaking): support While/Switch/Yield Statement
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#3158 fix(linter): handle named export default in import-plugin/named
  crates/oxc_linter/fixtures/import/typescript-export-default/index.ts
  crates/oxc_linter/src/rules/import/named.rs
Labels: A-linter

#2841 feat(linter/import): move some rules out of nursery
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/default.rs
  crates/oxc_linter/src/rules/import/named.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/import/no_duplicates.rs
  crates/oxc_linter/src/rules/import/no_named_as_default.rs
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
Labels: A-linter

#3160 feat(linter/import): improve multiple exports error message
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_linter/src/snapshots/export.snap
Labels: A-linter

#3171 refactor(linter): clean up prefer_node_protocol and move to restriction
  crates/oxc_linter/src/rules/unicorn/prefer_node_protocol.rs
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/node.rs
Labels: A-linter

#3174 feat(linter): eslint-plugin-next/no-duplicate-head
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_duplicate_head.rs
  crates/oxc_linter/src/snapshots/no_duplicate_head.snap
Labels: A-linter

#3176 feat(linter) improve `prefer-string-starts-ends-with` rule
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/snapshots/prefer_string_starts_ends_with.snap
Labels: A-linter

#3175 feat(linter/tree-shaking): add `isPureFunction`
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
  crates/oxc_linter/src/utils/tree_shaking/pure_functions.rs
Labels: A-linter

#3184 feat(linter): eslint-plugin-next/no-styled-jsx-in-document
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_styled_jsx_in_document.rs
  crates/oxc_linter/src/snapshots/no_styled_jsx_in_document.snap
Labels: A-linter

#3181 feat(linter/eslint): Implement no-empty-function rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
  crates/oxc_linter/src/snapshots/no_empty_function.snap
Labels: A-linter

#3186 perf(lexer): improve comment building performance by using a vec instead of btreemap
  crates/oxc_parser/src/lexer/trivia_builder.rs
Labels: A-parser

#3187 feat(linter): eslint/no-new-native-nonconstructor
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_new_native_nonconstructor.rs
  crates/oxc_linter/src/rules/eslint/no_new_symbol.rs
  crates/oxc_linter/src/snapshots/no_new_native_nonconstructor.snap
  crates/oxc_linter/src/snapshots/no_new_symbol.snap
Labels: A-linter

#3188 feat(linter): remove deprecated eslint v9 rules `no-return-await` and `no-mixed-operators`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_mixed_operators.rs
  crates/oxc_linter/src/rules/eslint/no_return_await.rs
  crates/oxc_linter/src/snapshots/no_mixed_operators.snap
  crates/oxc_linter/src/snapshots/no_return_await.snap
Labels: A-linter

#3185 feat(linter): eslint-plugin-next/no-page-custom-font
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_page_custom_font.rs
  crates/oxc_linter/src/snapshots/no_page_custom_font.snap
Labels: A-linter

#3190 refactor(diagnostics): use a trait to implement the reporters
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/reporter.rs
  crates/oxc_diagnostics/src/reporter/checkstyle.rs
  crates/oxc_diagnostics/src/reporter/graphical.rs
  crates/oxc_diagnostics/src/reporter/json.rs
  crates/oxc_diagnostics/src/reporter/mod.rs
  crates/oxc_diagnostics/src/reporter/unix.rs
  crates/oxc_diagnostics/src/service.rs
Labels: A-cli

#3192 docs(ast): document enum inheritance
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/macros.rs
  crates/oxc_ast/src/ast/mod.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast

#3193 chore(linter): shorten eslint/eqeqeq rule error message's span
  crates/oxc_linter/src/rules/eslint/eqeqeq.rs
  crates/oxc_linter/src/snapshots/eqeqeq.snap
Labels: A-linter

#3182 refactor(transform): transformer use `Traverse`
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

#3205 chore: update babel repo
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/parser_babel.snap
  tasks/coverage/prettier_babel.snap
  tasks/coverage/transformer_babel.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3207 refactor(linter): reduce llvm lines generated by `RuleEnum::read_json`
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_role.rs
  crates/oxc_linter/src/rules/react/jsx_no_useless_fragment.rs
  crates/oxc_linter/src/rules/typescript/no_empty_interface.rs
  crates/oxc_linter/src/tester.rs
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
Labels: A-linter

#3183 fix(transform): implement `transform-react-display-name` with bottom-up lookup
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3167 feat(linter): add `radix` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/radix.rs
  crates/oxc_linter/src/snapshots/radix.snap
Labels: A-linter

#3208 fix(parser): correctly parse cls.fn<C> = x
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/macros.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/oxc/misrefactored_assign_op.rs
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/lexer/typescript.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/needs_parens.rs
  crates/oxc_traverse/src/walk.rs
  tasks/coverage/parser_babel.snap
  tasks/transform_conformance/babel.snap.md
Labels: A-linter, A-parser, A-ast, A-transformer, A-codegen, A-prettier

#3210 refactor(transformer): remove no-op scopes code
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

#3143 feat(transformer/react): support development mode
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3122 fix(semantic): connect `test` expression of `for` statements to the cfg.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#3127 fix(semantic): add `cfg` nodes for `ConditionalExpression`s.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@cond_expr_in_arrow_fn.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@cond_expr_in_arrow_fn.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@conditional_expression.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@conditional_expression.js.snap
Labels: A-semantic

#3223 improvement(semantic/cfg): add explicit break block element.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow.rs
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@break_from_a_label_in_global_scope.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@break_from_a_label_in_global_scope.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labelled_try_break.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labelled_try_break.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@switch_statement.js.snap
Labels: A-linter, A-semantic

#3224 fix(transformer): correctly jsx-self inside arrow-function
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3227 refactor(ast): add `is_strict` methods
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_span/src/source_type.rs
Labels: A-ast

#3228 refactor(ast): order AST type fields in visitation order
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast

#3229 feat(traverse): add scope flags to `TraverseCtx`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_traverse/scripts/lib/parse.mjs
  crates/oxc_traverse/scripts/lib/walk.mjs
  crates/oxc_traverse/src/context.rs
  crates/oxc_traverse/src/lib.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast

#3214 refactor(parser,diagnostic): one diagnostic struct to eliminate monomorphization of generic types
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/jsx.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/numeric.rs
  crates/oxc_parser/src/lexer/regex.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lexer/string.rs
  crates/oxc_parser/src/lexer/template.rs
  crates/oxc_parser/src/lexer/unicode.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_span/src/span.rs
  crates/oxc_wasm/src/lib.rs
  napi/parser/src/lib.rs
  tasks/coverage/src/suite.rs
  wasm/parser/src/lib.rs
Labels: A-linter, A-parser, merge

#3233 feat(transformer_conformance): correct source type
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, merge

#3234 fix(traverse): create scope for function nested in class method
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast

#3240 feat(rulegen): support filename option
  tasks/rulegen/src/main.rs
  tasks/rulegen/template.txt
Labels: merge

#3237 feat(transformer): do not elide jsx imports if a jsx element appears somewhere
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/options.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer, merge

#3243 chore(linter): change the category of all react-perf rules to perf
  crates/oxc_linter/src/rules/react_perf/jsx_no_jsx_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_array_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_function_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_object_as_prop.rs
Labels: A-linter

#3244 feat(cli): add `--symlinks` to allow symbolic walking
  crates/oxc_cli/src/command/ignore.rs
  crates/oxc_cli/src/walk.rs
Labels: A-cli

#3220 feat(linter): unicorn/no-anonymous-default-export
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_anonymous_default_export.rs
  crates/oxc_linter/src/snapshots/no_anonymous_default_export.snap
Labels: A-linter

#3239 feat(linter/eslint): Implement unicode-bom rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/unicode_bom.rs
  crates/oxc_linter/src/snapshots/unicode_bom.snap
Labels: A-linter

#3071 feat(linter/react): add the `rules_of_hooks` rule.
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/rules_of_hooks.snap
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_semantic/src/pg.rs
Labels: A-linter, A-semantic, merge

#3253 feat(transformer): report ambient module cannot be nested error
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer/src/typescript/diagnostics.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer, merge

#3255 fix(linter): handle `import { default as foo }` in import/named
  crates/oxc_linter/src/rules/import/named.rs
Labels: A-linter

#3241 feat(linter/eslint): Implement max-classes-per-file
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/max_classes_per_file.rs
  crates/oxc_linter/src/snapshots/max_classes_per_file.snap
  crates/oxc_semantic/src/class/table.rs
Labels: A-linter, A-semantic

#3256 feat(ast): add type to AccessorProperty to support TSAbractAccessorProperty
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_traverse/src/ancestor.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-parser, A-ast, A-transformer, A-codegen, merge

#3259 feat(linter/eslint): Implement fixer for unicode-bom rule
  crates/oxc_linter/src/rules/eslint/unicode_bom.rs
Labels: A-linter

#3265 fix(parser): parse `DecoratorCallExpression` when `Arguments` contains `MemberExpression`
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/oxc-3262.js
  tasks/coverage/parser_misc.snap
  tasks/coverage/prettier_misc.snap
  tasks/coverage/transformer_misc.snap
Labels: A-parser

#3266 refactor(parser): simplify `Context` passing
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#3268 chore(linter): expose `Message:start` and `Message:end`
  crates/oxc_linter/src/fixer.rs
Labels: A-linter

#3267 chore(tasks): add commit sha to snapshots to make sure submodules are not outdated
  tasks/common/src/lib.rs
  tasks/common/src/snapshot.rs
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_test262.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/minifier_babel.snap
  tasks/coverage/minifier_test262.snap
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_babel.snap
  tasks/coverage/prettier_test262.snap
  tasks/coverage/prettier_typescript.snap
  tasks/coverage/src/suite.rs
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_test262.snap
  tasks/coverage/transformer_typescript.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/oxc_exec.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-transformer, merge

#3273 fix(traverse): create scopes for functions
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast

#3277 fix(traverse): set `ScopeFlags::Function` bit for class methods
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#3258 fix(transformer): do no add __self when the jsx is inside constructor
  crates/oxc_syntax/src/scope.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#3282 refactor(transformer): improve indentation
  crates/oxc_transformer/src/react/mod.rs
Labels: A-transformer, merge

#3283 perf(lexer): dedupe numeric separator check
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/number.rs
  crates/oxc_parser/src/lexer/numeric.rs
  crates/oxc_parser/src/lexer/token.rs
Labels: A-parser, C-performance

#3284 feat(linter): add use-isnan fixer for (in)equality operations
  crates/oxc_linter/src/rules/eslint/use_isnan.rs
Labels: C-enhancement, A-linter

#3285 fix(codegen): using declaration in for statement
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/codegen_typescript.snap
Labels: C-bug, A-codegen

#3276 refactor(linter): rewrite react/require-render-return
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/snapshots/require_render_return.snap
Labels: A-linter

#3287 feat(transformer): do not add self attribute in react/jsx plugin
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3293 feat(transformer_conformance): skip some tests that are known to fail
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/constants.rs
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3294 fix(linter/no-direct-mutation-state): false positive when class is declared inside a `CallExpression`
  crates/oxc_linter/src/rules/react/no_direct_mutation_state.rs
Labels: A-linter

#3295 perf(ast): inline all `ASTBuilder` methods
  crates/oxc_ast/src/ast_builder.rs
Labels: A-ast

#3297 fix(linter/react): fix loop hooks false positives.
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/rules_of_hooks.snap
Labels: A-linter

#3275 feat(linter): no-barrel-file
  crates/oxc_linter/src/rules/oxc/no_barrel_file.rs
  crates/oxc_linter/src/snapshots/no_barrel_file.snap
  crates/oxc_syntax/src/module_graph_visitor.rs
Labels: A-linter, A-ast, merge

#3305 feat(cli,linter): add `--disable`-react/unicorn/typescript-`plugin`
  crates/oxc_cli/fixtures/typescript_eslint/test.ts
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter, A-cli, merge

#3299 fix(linter/react): `rules_of_hooks` resolve false positives with conditional hooks.
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
Labels: A-linter

#3302 refactor(ast): store `ScopeId` in AST nodes
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_traverse/scripts/lib/ancestor.mjs
  crates/oxc_traverse/src/ancestor.rs
Labels: A-ast

#3303 refactor(semantic): semantic populate `scope_id` fields in AST
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#3304 refactor(traverse): `Traverse` produce scopes tree using `Semantic`
  Cargo.lock
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_traverse/Cargo.toml
  crates/oxc_traverse/scripts/lib/walk.mjs
  crates/oxc_traverse/src/context.rs
  crates/oxc_traverse/src/lib.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-transformer

#3312 feat(traverse): pass `&mut TraverseCtx` to visitors
  crates/oxc_transformer/src/lib.rs
  crates/oxc_traverse/scripts/lib/traverse.mjs
  crates/oxc_traverse/src/context.rs
  crates/oxc_traverse/src/lib.rs
  crates/oxc_traverse/src/traverse.rs
  crates/oxc_traverse/tests/compile_fail/ancestor_lifetime1.rs
  crates/oxc_traverse/tests/compile_fail/ancestor_lifetime1.stderr
  crates/oxc_traverse/tests/compile_fail/ancestor_lifetime2.rs
  crates/oxc_traverse/tests/compile_fail/ancestor_lifetime2.stderr
  crates/oxc_traverse/tests/compile_fail/ancestor_lifetime3.rs
  crates/oxc_traverse/tests/compile_fail/ancestor_lifetime3.stderr
Labels: A-transformer

#3300 fix(linter/react): `rules_of_hooks` add support for property hooks/components.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/rules_of_hooks.snap
Labels: A-linter, A-ast

#3306 fix(linter/react): better detection for hooks in the `rules_of_hooks`.
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#3307 fix(linter/react): fix false positives for async components in `rules_of_hooks`
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
Labels: A-linter

#3296 perf(lexer): use bitshifting when parsing known integers
  Cargo.lock
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/number.rs
Labels: A-parser, C-performance

#3324 fix(linter): fix panic in jest/expect-expect
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/snapshots/expect_expect.snap
Labels: A-linter, merge

#3327 refactor(linter): merge deepscan rules into oxc rules
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/bad_array_method_on_arguments.rs
  crates/oxc_linter/src/rules/oxc/bad_bitwise_operator.rs
  crates/oxc_linter/src/rules/oxc/bad_char_at_comparison.rs
  crates/oxc_linter/src/rules/oxc/bad_comparison_sequence.rs
  crates/oxc_linter/src/rules/oxc/bad_min_max_func.rs
  crates/oxc_linter/src/rules/oxc/bad_object_literal_comparison.rs
  crates/oxc_linter/src/rules/oxc/bad_replace_all_arg.rs
  crates/oxc_linter/src/rules/oxc/missing_throw.rs
  crates/oxc_linter/src/rules/oxc/number_arg_out_of_range.rs
  crates/oxc_linter/src/rules/oxc/uninvoked_array_callback.rs
  crates/oxc_linter/src/snapshots/bad_array_method_on_arguments.snap
  crates/oxc_linter/src/snapshots/bad_bitwise_operator.snap
  crates/oxc_linter/src/snapshots/bad_char_at_comparison.snap
  crates/oxc_linter/src/snapshots/bad_comparison_sequence.snap
  crates/oxc_linter/src/snapshots/bad_min_max_func.snap
  crates/oxc_linter/src/snapshots/bad_object_literal_comparison.snap
  crates/oxc_linter/src/snapshots/bad_replace_all_arg.snap
  crates/oxc_linter/src/snapshots/missing_throw.snap
  crates/oxc_linter/src/snapshots/number_arg_out_of_range.snap
  crates/oxc_linter/src/snapshots/uninvoked_array_callback.snap
  justfile
  tasks/lint_rules/src/oxlint-rules.cjs
  tasks/rulegen/src/main.rs
  tasks/rulegen/src/template.rs
Labels: A-linter

#3328 feat(cli,linter): add `--disable-oxc-plugin`
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter, A-cli, merge

#3330 fix(linter): avoid infinite loop when traverse ancestors in `jest/no_conditional_expect`
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/snapshots/no_conditional_expect.snap
Labels: A-linter, merge

#3331 fix(linter/jsx-no-undef): check for globals when an identifier is undefined
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
Labels: A-linter

#3332 fix(linter): avoid infinite loop in `jest/expect-expect`
  crates/oxc_linter/src/rules/jest/expect_expect.rs
Labels: A-linter, merge

#3334 feat(linter): backward compability for `react-hooks` and `deepscan` plugins
  crates/oxc_linter/src/config/rules.rs
Labels: A-linter, merge

#3335 refactor(linter): remove `with_rule_name` from the tight loop
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_linter/src/lib.rs
Labels: A-linter, merge

#3336 perf(linter): use `usize` for `RuleEnum` hash
  crates/oxc_linter/src/options.rs
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
Labels: A-linter

#3337 feat!(linter): enforce rule severity from the cli and configuration file
  crates/oxc_cli/fixtures/eslintrc_env/eslintrc_no_env.json
  crates/oxc_cli/fixtures/no_empty_disallow_empty_catch/eslintrc.json
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_diagnostics/src/service.rs
  crates/oxc_language_server/src/linter.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/rules_of_hooks.snap
  crates/oxc_linter/src/tester.rs
Labels: A-linter, A-cli

#3338 feat(cli): add `--silent` to disable all diagnostics printing
  crates/oxc_cli/fixtures/linter/eslintrc.json
  crates/oxc_cli/src/command/mod.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/service.rs
Labels: A-cli, merge

#3340 refactor(parser): start porting arrow function parsing from tsc
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/src/js/arrow.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/mod.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/misc/fail/oxc-3320.tsx
  tasks/coverage/parser_misc.snap
Labels: A-parser, A-codegen

#3341 refactor(paresr): move some structs to js module
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/mod.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/ts/statement.rs
Labels: A-parser, merge

#3343 refactor(parser): improve is_parenthesized_arrow_function_expression
  crates/oxc_parser/src/js/arrow.rs
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser, merge

#3344 perf(parser): use `FxHashSet` for `not_parenthesized_arrow`
  crates/oxc_parser/src/state.rs
Labels: A-parser

#3322 feat(transformer): report errors when options have unknown fields
  Cargo.lock
  crates/oxc_transformer/src/compiler_assumptions.rs
  crates/oxc_transformer/src/es2015/options.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/react/options.rs
  crates/oxc_transformer/src/typescript/options.rs
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3345 refactor(parser): clean up `ParserState`
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/state.rs
  crates/oxc_parser/src/ts/statement.rs
Labels: A-parser

#3346 refactor(ast): fix clippy lint on nightly
  crates/oxc_ast/src/ast/macros.rs
Labels: A-ast, merge

#3349 refactor(parser): improve `parse_simple_arrow_function_expression`
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/arrow.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/mod.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser, merge

#3354 fix(semantic) incorrect reference flag caused by MemberExpression
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-semantic, merge

#3353 refactor(linter): find return statement by using CFG in `react/require-render-return`
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/snapshots/require_render_return.snap
  tasks/transform_conformance/Cargo.toml
Labels: A-linter, A-transformer, merge

#3358 feat(linter): eslint-plugin-jest/no-duplicate-hooks
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
  crates/oxc_linter/src/snapshots/no_duplicate_hooks.snap
Labels: A-linter

#3364 feat(linter/eslint): Implement symbol-description
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/symbol_description.rs
  crates/oxc_linter/src/snapshots/symbol_description.snap
Labels: A-linter

#3367 refactor(traverse): split context code into multiple files
  crates/oxc_traverse/src/context/ancestry.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: merge

#3368 feat(linter/eslint): Implement no-new
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_new.rs
  crates/oxc_linter/src/snapshots/no_new.snap
Labels: A-linter

#3369 refactor(transformer): correct spelling of var name
  crates/oxc_transformer/src/typescript/enum.rs
Labels: A-transformer

#3342 perf(parser): more efficient number parsing
  crates/oxc_parser/src/lexer/number.rs
Labels: A-parser

#3377 feat(tasks): add website tasks
  Cargo.lock
  crates/oxc_cli/src/command/mod.rs
  tasks/website/Cargo.toml
  tasks/website/src/lib.rs
  tasks/website/src/linter.rs
  tasks/website/src/main.rs
Labels: A-cli, merge

#3380 refactor(semantic/cfg): alias petgraph's `NodeIndex` as `BasicBlockId`.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/control_flow/builder.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/node.rs
  crates/oxc_semantic/src/pg.rs
Labels: A-linter, A-semantic, merge

#3383 fix(linter/next): false positives for non-custom font link
  crates/oxc_linter/src/rules/nextjs/no_page_custom_font.rs
Labels: A-linter

#3384 feat(syntax): export `is_reserved_keyword` and `is_global_object` method
  crates/oxc_codegen/src/gen.rs
  crates/oxc_minifier/tests/closure/substitute_alternate_syntax.rs
  crates/oxc_syntax/src/keyword.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/website/Cargo.toml
Labels: A-minifier, A-codegen

#3379 feat(linter/eslint): Implement default_case rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/default_case.rs
  crates/oxc_linter/src/snapshots/default_case.snap
Labels: A-linter

#3386 feat(tasks/website): start generating linter config markdown from json schema
  Cargo.lock
  crates/oxc_linter/src/config/env.rs
  tasks/website/Cargo.toml
  tasks/website/src/linter.rs
  tasks/website/src/linter/cli.rs
  tasks/website/src/linter/json_schema.rs
  tasks/website/src/linter/mod.rs
  tasks/website/src/linter/rules.rs
  tasks/website/src/main.rs
Labels: A-linter, merge

#3218 feat(linter/jsdoc): Implement require-returns rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns.rs
  crates/oxc_linter/src/snapshots/require_returns.snap
  crates/oxc_linter/src/utils/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
Labels: A-linter, A-semantic

#3389 fix(linter): only report issues on top-level fragment
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/snapshots/jsx_key.snap
Labels: A-linter

#3390 feat(linter): eslint/no-restricted-globals
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_restricted_globals.rs
  crates/oxc_linter/src/snapshots/no_restricted_globals.snap
Labels: A-linter, merge

#3391 refactor(linter): remove unnecessary check in `eslint/no-global-assign`
  crates/oxc_linter/src/rules/eslint/no_global_assign.rs
Labels: A-linter, merge

#3397 feat(linter/jsdoc): Implement require-returns-description
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns_description.rs
  crates/oxc_linter/src/snapshots/require_returns_description.snap
Labels: A-linter

#3400 fix(parser): fix lexer error while parsing parenthesized arrow expressions
  crates/oxc_parser/src/js/arrow.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/oxc-3399.js
  tasks/coverage/parser_misc.snap
  tasks/coverage/prettier_misc.snap
  tasks/coverage/transformer_misc.snap
Labels: A-parser

#3408 fix(linter): Accept more valid regex
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
Labels: A-linter

#3409 docs(linter): add docs for consistent-indexed-object-style
  crates/oxc_linter/src/rules/typescript/consistent_indexed_object_style.rs
Labels: A-linter

#3363 feat(linter/eslint): Implement no-useless-concat
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_useless_concat.rs
  crates/oxc_linter/src/snapshots/no_useless_concat.snap
Labels: A-linter

#3406 feat(lint/eslint): implement require-await
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/require_await.rs
  crates/oxc_linter/src/snapshots/require_await.snap
Labels: A-linter

#3411 feat(linter) eslint-plugin-unicorn no magic array flat depth
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_magic_array_flat_depth.rs
  crates/oxc_linter/src/snapshots/no_magic_array_flat_depth.snap
Labels: A-linter

#3412 chore(cli): remove the regex feature from `tracing_subscriber`
  Cargo.lock
  crates/oxc_cli/Cargo.toml
  crates/oxc_cli/src/lint/main.rs
Labels: A-cli, merge

#3413 refactor(cli): move crates/oxc_cli to apps/oxlint
  .github/labeler.yml
  .github/workflows/bloat.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_oxlint.yml
  Cargo.lock
  Cargo.toml
  apps/oxlint/Cargo.toml
  apps/oxlint/fixtures/astro/debugger.astro
  apps/oxlint/fixtures/eslintrc_env/eslintrc_env_browser.json
  apps/oxlint/fixtures/eslintrc_env/eslintrc_no_env.json
  apps/oxlint/fixtures/eslintrc_env/test.js
  apps/oxlint/fixtures/eslintrc_off/eslintrc.json
  apps/oxlint/fixtures/eslintrc_off/test.js
  apps/oxlint/fixtures/linter/.customignore
  apps/oxlint/fixtures/linter/debugger.js
  apps/oxlint/fixtures/linter/eslintrc.json
  apps/oxlint/fixtures/linter/nan.js
  apps/oxlint/fixtures/linter/no_extension
  apps/oxlint/fixtures/no_console_off/eslintrc.json
  apps/oxlint/fixtures/no_console_off/test.js
  apps/oxlint/fixtures/no_empty_allow_empty_catch/eslintrc.json
  apps/oxlint/fixtures/no_empty_allow_empty_catch/test.js
  apps/oxlint/fixtures/no_empty_disallow_empty_catch/eslintrc.json
  apps/oxlint/fixtures/no_empty_disallow_empty_catch/test.js
  apps/oxlint/fixtures/no_undef/eslintrc.json
  apps/oxlint/fixtures/no_undef/test.js
  apps/oxlint/fixtures/svelte/debugger.svelte
  apps/oxlint/fixtures/test.min.js
  apps/oxlint/fixtures/tsconfig/tsconfig.json
  apps/oxlint/fixtures/typescript_eslint/eslintrc.json
  apps/oxlint/fixtures/typescript_eslint/test.ts
  apps/oxlint/fixtures/vue/debugger.vue
  apps/oxlint/fixtures/vue/empty.vue
  apps/oxlint/fixtures/walk_dir/bar.vue
  apps/oxlint/fixtures/walk_dir/foo.js
  apps/oxlint/src/command/format.rs
  apps/oxlint/src/command/ignore.rs
  apps/oxlint/src/command/lint.rs
  apps/oxlint/src/command/mod.rs
  apps/oxlint/src/git.rs
  apps/oxlint/src/lib.rs
  apps/oxlint/src/lint/mod.rs
  apps/oxlint/src/main.rs
  apps/oxlint/src/result.rs
  apps/oxlint/src/runner.rs
  apps/oxlint/src/walk.rs
  crates/oxc_cli/src/format/main.rs
  crates/oxc_cli/src/format/mod.rs
  crates/oxc_cli/src/main.rs
  justfile
  tasks/website/Cargo.toml
  tasks/website/src/linter/cli.rs
Labels: A-cli, merge

#3415 refactor(macros): remove the redundant trie builder
  crates/oxc_macros/src/declare_all_lint_rules.rs
  crates/oxc_macros/src/declare_all_lint_rules/trie.rs
Labels: merge

#3416 ci: apply default `shell: bash` to all CI jobs
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/release_napi_parser.yml
  .github/workflows/release_oxlint.yml
  .github/workflows/release_vscode.yml
Labels: merge

#3407 fix(linter): memorize visited block id in `neighbors_filtered_by_edge_weight`
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/pg.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
Labels: A-linter, A-semantic, merge

#3417 fix(website): hack `schemars` to render code snippet in markdown
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/json_schema.rs
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: A-linter, merge

#3395 fix(transformer): use UIDs in TS namespace transforms
  crates/oxc_semantic/src/scope.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-semantic, A-transformer

#3387 feat(transformer/typescript): if the binding exists, the identifier reference is not renamed
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3420 feat(atom): get &str from Atom<'a> with lifetime of 'a
  crates/oxc_span/src/atom.rs
Labels: C-enhancement

#3371 feat(transformer): support `targets` option of preset-env
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/env/data/@babel/compat_data/data/plugin_bugfixes.json
  crates/oxc_transformer/src/env/data/@babel/compat_data/data/plugins.json
  crates/oxc_transformer/src/env/data/babel.rs
  crates/oxc_transformer/src/env/data/core_js_compat/data.json
  crates/oxc_transformer/src/env/data/core_js_compat/entries.json
  crates/oxc_transformer/src/env/data/core_js_compat/modules_by_versions.json
  crates/oxc_transformer/src/env/data/mod.rs
  crates/oxc_transformer/src/env/mod.rs
  crates/oxc_transformer/src/env/options.rs
  crates/oxc_transformer/src/env/targets/mod.rs
  crates/oxc_transformer/src/env/targets/query.rs
  crates/oxc_transformer/src/env/targets/version.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/options.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/options/babel.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/src/options/transformer.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/src/constants.rs
  tasks/transform_conformance/src/test_case.rs
Labels: P-high, A-transformer

#3430 refactor(semantic): use a simpler way to resolve reference for ReferenceFlag::Type
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#3442 feat(linter/eslint): Implement no-div-regex
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_div_regex.rs
  crates/oxc_linter/src/snapshots/no_div_regex.snap
Labels: A-linter

#3437 feat(linter): eslint-plugin-jest/prefer-hooks-on-top
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_hooks_on_top.rs
  crates/oxc_linter/src/snapshots/prefer_hooks_on_top.snap
Labels: A-linter

#3439 feat(linter): eslint-plugin-jest/require-top-level-describe
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/require_top_level_describe.rs
  crates/oxc_linter/src/snapshots/require_top_level_describe.snap
Labels: A-linter

#3438 feat(linter): add `oxc/no-async-await` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/no_async_await.rs
  crates/oxc_linter/src/snapshots/no_async_await.snap
Labels: A-linter

#3450 fix(parser): parse const extends in arrow functions correctly
  crates/oxc_parser/src/js/arrow.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/oxc-3443.tsx
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_misc.snap
  tasks/coverage/transformer_misc.snap
Labels: A-parser

#3448 feat(transformer/typescript): report error that do not allow namespaces
  crates/oxc_transformer/src/typescript/diagnostics.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3449 chore(transform_conformance): skip some test cases
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/constants.rs
Labels: A-transformer

#3457 fix(linter/eslint): fix `require-await` false positives in `ForOfStatement`.
  crates/oxc_linter/src/rules/eslint/require_await.rs
Labels: A-linter, merge

#3431 fix(transformer): use UIDs for React imports
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3459 refactor(typescript/namespace): reuse TSModuleBlock's scope id
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3460 fix(transformer/typescript): variable declarations are not created when a function has a binding with the same name
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3467 chore(parser): code comment for cold trampoline function
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#3465 feat(oxc_codegen): preserve annotate comment
  Cargo.lock
  Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/benchmark/benches/sourcemap.rs
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/sourcemap.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-linter, A-minifier, A-transformer, A-codegen

#3469 fix(transformer/jsx-source): add filename statement only after inserting the source object
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
Labels: A-transformer

#3461 fix(parser): should parser error when function declaration has no name
  crates/oxc_linter/src/rules/eslint/array_callback_return/return_checker.rs
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
  crates/oxc_linter/src/rules/jsdoc/require_yields.rs
  crates/oxc_linter/src/snapshots/no_obj_calls.snap
  crates/oxc_linter/src/snapshots/require_yields.snap
  crates/oxc_module_lexer/tests/esm.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser

#3470 feat(tasks/coverage): turn on idempotency testing for transformer
  crates/oxc_transformer/src/lib.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer
