Repository oxc-project/oxc, pull requests merged in 2024-12, with the labels that each got.

#7556 refactor(linter): clean up APIs for `ModuleRecord`
  crates/oxc_linter/src/module_record.rs
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/rules/import/named.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
  crates/oxc_linter/src/rules/nextjs/no_before_interactive_script_outside_document.rs
  crates/oxc_linter/src/rules/nextjs/no_page_custom_font.rs
  crates/oxc_linter/src/rules/nextjs/no_unwanted_polyfillio.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/rules/unicorn/no_process_exit.rs
  crates/oxc_linter/src/utils/nextjs.rs
  crates/oxc_span/src/compact_str.rs
Labels: A-linter, C-cleanup

#7557 refactor(linter): clean up the runtime after the module record change
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup

#7558 perf(linter): use `OsString` for module cache hash
  crates/oxc_linter/src/service/module_cache.rs
Labels: A-linter, C-performance

#7560 fix(linter): false positive in `typescript/consistent-type-definitions`
  crates/oxc_linter/src/rules/typescript/consistent_type_definitions.rs
  crates/oxc_linter/src/snapshots/typescript_consistent_type_definitions.snap
Labels: C-bug, A-linter

#7561 refactor(linter): add capability of adding semantic data to module record
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/module_record.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter, C-cleanup, 0-merge, A-editor

#7562 docs(linter): fix config example headings
  crates/oxc_linter/src/config/settings/jsx_a11y.rs
  crates/oxc_linter/src/config/settings/mod.rs
  crates/oxc_linter/src/config/settings/next.rs
  crates/oxc_linter/src/config/settings/react.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: A-linter, 0-merge, C-docs

#7565 feat(transform_conformance): keep exec snapshot files
  tasks/transform_conformance/snapshots/babel_exec.snap.md
  tasks/transform_conformance/snapshots/oxc_exec.snap.md
  tasks/transform_conformance/src/exec.rs
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: C-enhancement, A-transformer, 0-merge

#7568 refactor(syntax): clean up `ModuleRecord`
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/rules/import/no_duplicates.rs
  crates/oxc_linter/src/rules/import/no_self_import.rs
  crates/oxc_linter/src/rules/vitest/no_import_node_test.rs
  crates/oxc_syntax/src/module_record.rs
Labels: A-linter, C-cleanup

#7573 chore(deps): remove `memoffset` dependency
  Cargo.lock
  Cargo.toml
  crates/oxc_traverse/Cargo.toml
  crates/oxc_traverse/scripts/lib/ancestor.mjs
  crates/oxc_traverse/src/generated/ancestor.rs
Labels: C-cleanup, 0-merge

#7566 fix(apps/oxlint): incorrect matching in `.oxlintignore`
  apps/oxlint/fixtures/issue_7566/.oxlintignore
  apps/oxlint/fixtures/issue_7566/tests/function/main.js
  apps/oxlint/fixtures/issue_7566/tests/main.js
  apps/oxlint/src/lint.rs
Labels: C-bug, A-cli

#7574 feat(linter): output rules to json array
  apps/oxlint/src/lint.rs
  crates/oxc_linter/src/lib.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge

#7576 refactor(syntax): remove `ModuleRecord::export_default_duplicated` because it is a syntax error
  crates/oxc_linter/src/module_record.rs
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_linter/src/rules/import/no_default_export.rs
  crates/oxc_parser/src/module_record.rs
  crates/oxc_syntax/src/module_record.rs
Labels: A-linter, A-parser, C-cleanup

#7577 refactor(syntax): remove `ModuleRecord::exported_bindings_duplicated` because it is a syntax error
  crates/oxc_linter/src/module_record.rs
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_linter/src/snapshots/import_export.snap
  crates/oxc_parser/src/module_record.rs
  crates/oxc_syntax/src/module_record.rs
Labels: A-linter, A-parser, C-cleanup

#7578 refactor(syntax): remove `ModuleRecord::export_default`
  crates/oxc_linter/src/module_record.rs
  crates/oxc_linter/src/rules/import/no_default_export.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/module_record.rs
  crates/oxc_syntax/src/module_record.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: A-linter, A-parser, C-cleanup

#7538 feat(oxc_transformer): support jsx pragma that are long member expressions
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/arbitrary_length_member_expr/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/arbitrary_length_member_expr/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/arbitrary_length_member_expr/output.js
Labels: C-enhancement, A-transformer, 0-merge

#7583 feat(syntax): add statement span to `ImportEntry` and `ExportEntry`
  crates/oxc_parser/src/module_record.rs
  crates/oxc_syntax/src/module_record.rs
Labels: C-enhancement, A-parser, 0-merge

#7585 fix(linter): no-unused-expressions false positive with arrow fn expressions
  crates/oxc_linter/src/rules/typescript/no_unused_expressions.rs
  crates/oxc_linter/src/snapshots/typescript_no_unused_expressions.snap
Labels: C-bug, A-linter

#7591 fix(span): fix clippy warning
  crates/oxc_span/src/source_type/mod.rs
Labels: C-bug, 0-merge

#7590 fix(napi/transform): respect `options.sourcemap` for id
  napi/transform/src/isolated_declaration.rs
  napi/transform/test/transform.test.ts
Labels: C-bug

#7595 feat(module_lexer)!: remove `oxc_module_lexer`
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/oxc_module_lexer/CHANGELOG.md
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_module_lexer/README.md
  crates/oxc_module_lexer/examples/module_lexer.rs
  crates/oxc_module_lexer/src/lib.rs
  crates/oxc_module_lexer/tests/integration/esm.rs
  crates/oxc_module_lexer/tests/integration/main.rs
  crates/oxc_module_lexer/tests/integration/typescript.rs
  napi/parser/Cargo.toml
  napi/parser/bindings.js
  napi/parser/index.d.ts
  napi/parser/src/lib.rs
  napi/parser/src/module_lexer.rs
  napi/parser/test/module_lexer.test.ts
Labels: C-enhancement

#7596 refactor(napi/parser): clean up code
  napi/parser/src/lib.rs
Labels: C-cleanup

#7593 test(oxc_transformer): define works differently with esbuild
  crates/oxc_transformer/tests/integrations/plugins/replace_global_defines.rs
Labels: A-transformer, C-test

#7533 refactor(transformer/class-properties): rename `class_binding`
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/es2022/class_properties/static_prop.rs
Labels: C-cleanup, A-transformer, 0-merge

#7531 refactor(transformer/class-properties): `shortcut_static_class` take `SymbolId`
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-cleanup, A-transformer, 0-merge

#7532 refactor(transformer/class-properties): `ResolvedPrivateProp` type
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-cleanup, A-transformer, 0-merge

#7587 refactor(transformer/class-properties): move creating temp var out of main loop
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-cleanup, A-transformer, 0-merge

#7588 docs(transformer/class-properties): add missing docs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
Labels: A-transformer, 0-merge, C-docs

#7589 refactor(transformer/class-properties): `PrivatePropsStack` type
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/es2022/class_properties/private_props.rs
Labels: C-cleanup, A-transformer, 0-merge

#7516 fix(transformer/class-properties): create temp var for class where required
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/class_bindings.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/es2022/class_properties/private_props.rs
  crates/oxc_transformer/src/es2022/class_properties/static_prop.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/babel_exec.snap.md
Labels: C-bug, A-transformer, 0-merge

#7592 refactor(transformer/class-properties): remove pointless method
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#7601 feat(napi/transform): add `TransformerOptions::assumptions`
  crates/oxc/src/napi/transform.rs
  napi/transform/index.d.ts
Labels: C-enhancement

#7600 refactor(prettier): Unified method of `Doc` generation
  crates/oxc_prettier/src/format/array.rs
  crates/oxc_prettier/src/format/arrow_function.rs
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/format/binaryish.rs
  crates/oxc_prettier/src/format/block.rs
  crates/oxc_prettier/src/format/call_arguments.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/class.rs
  crates/oxc_prettier/src/format/function.rs
  crates/oxc_prettier/src/format/function_parameters.rs
  crates/oxc_prettier/src/format/misc.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  crates/oxc_prettier/src/format/object.rs
  crates/oxc_prettier/src/format/statement.rs
  crates/oxc_prettier/src/format/template_literal.rs
  crates/oxc_prettier/src/format/ternary.rs
  crates/oxc_prettier/src/ir/builder.rs
  crates/oxc_prettier/src/ir/display.rs
  crates/oxc_prettier/src/ir/doc.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/needs_parens.rs
  crates/oxc_prettier/src/printer/mod.rs
  crates/oxc_prettier/src/utils/document.rs
Labels: C-cleanup, A-prettier

#7604 feat(sourcemap): move `oxc_sourcemap` to github.com/oxc-project/oxc-sourcemap
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/oxc_sourcemap/CHANGELOG.md
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_sourcemap/README.md
  crates/oxc_sourcemap/src/concat_sourcemap_builder.rs
  crates/oxc_sourcemap/src/decode.rs
  crates/oxc_sourcemap/src/encode.rs
  crates/oxc_sourcemap/src/error.rs
  crates/oxc_sourcemap/src/lib.rs
  crates/oxc_sourcemap/src/sourcemap.rs
  crates/oxc_sourcemap/src/sourcemap_builder.rs
  crates/oxc_sourcemap/src/sourcemap_visualizer.rs
  crates/oxc_sourcemap/src/token.rs
  crates/oxc_sourcemap/tests/fixtures/basic/test.js
  crates/oxc_sourcemap/tests/fixtures/basic/test.js.map
  crates/oxc_sourcemap/tests/fixtures/basic/visualizer.snap
  crates/oxc_sourcemap/tests/fixtures/esbuild/README.md
  crates/oxc_sourcemap/tests/fixtures/esbuild/example.js
  crates/oxc_sourcemap/tests/fixtures/esbuild/example.js.map
  crates/oxc_sourcemap/tests/fixtures/esbuild/visualizer.snap
  crates/oxc_sourcemap/tests/fixtures/swap/test.js
  crates/oxc_sourcemap/tests/fixtures/swap/test.js.map
  crates/oxc_sourcemap/tests/fixtures/swap/visualizer.snap
  crates/oxc_sourcemap/tests/main.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/sourcemap.rs
  tasks/coverage/Cargo.toml
Labels: C-enhancement, 0-merge

#7606 fix(linter): fix false positives in rules-of-hooks
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/react_rules_of_hooks.snap
Labels: C-bug, A-linter, 0-merge

#7608 feat(semantic): add `SymbolTable::add_resolved_reference` method
  crates/oxc_semantic/src/symbol.rs
Labels: C-enhancement, A-semantic, 0-merge

#7609 refactor(transformer/class-properties): rename misleadingly-named method
  crates/oxc_transformer/src/es2022/class_properties/static_prop.rs
Labels: C-cleanup, A-transformer, 0-merge

#7611 test(linter): port eslint tests to no-unused-expressions
  crates/oxc_linter/src/rules/typescript/no_unused_expressions.rs
  crates/oxc_linter/src/snapshots/typescript_no_unused_expressions.snap
Labels: A-linter, C-test

#7553 fix(oxc_transformer): correct generate `ThisExpr` and `import.meta` in jsx pragma
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/import_meta_pragma/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/import_meta_pragma/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/import_meta_pragma/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/this_expr_pragma/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/this_expr_pragma/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/misc/this_expr_pragma/output.js
Labels: C-bug, A-transformer, 0-merge

#7607 feat(linter)!: RulesOfHooks from nursery to correctness
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
Labels: C-enhancement, A-linter, 0-merge

#7614 refactor(oxc_napi): remove `source_map` - moved to its crate
  Cargo.lock
  Cargo.toml
  crates/oxc_napi/Cargo.toml
  crates/oxc_napi/src/isolated_declarations.rs
  crates/oxc_napi/src/lib.rs
  crates/oxc_napi/src/source_map.rs
  crates/oxc_napi/src/transform.rs
  napi/transform/Cargo.toml
  napi/transform/src/isolated_declaration.rs
  napi/transform/src/transformer.rs
  npm/oxc-parser/README.md
Labels: C-cleanup

#7615 fix(linter): fix false positives in exhaustive-deps
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
Labels: C-bug, A-linter, 0-merge

#7625 fix(linter): update reporting spans for exhaustive-deps
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
Labels: C-bug, A-linter, 0-merge

#7626 fix(linter): false positive in exhaustive-deps
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
Labels: C-bug, A-linter, 0-merge

#7634 feat(oxc): remove `oxc_napi` crate
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_napi/Cargo.toml
  crates/oxc_napi/src/isolated_declarations.rs
  crates/oxc_napi/src/lib.rs
  crates/oxc_napi/src/transform.rs
  napi/minify/package.json
  napi/parser/Cargo.toml
  napi/parser/index.d.ts
  napi/parser/index.js
  napi/parser/package.json
  napi/parser/src/convert.rs
  napi/parser/src/lib.rs
  napi/parser/src/types.rs
  napi/transform/Cargo.toml
  napi/transform/package.json
  napi/transform/src/isolated_declaration.rs
  napi/transform/src/lib.rs
  napi/transform/src/transformer.rs
  package.json
Labels: C-enhancement, 0-merge

#7622 fix(linter): detect typescript eslint alias rules
  apps/oxlint/fixtures/eslint_and_typescript_alias_rules/oxlint-eslint.json
  apps/oxlint/fixtures/eslint_and_typescript_alias_rules/oxlint-typescript.json
  apps/oxlint/fixtures/eslint_and_typescript_alias_rules/test.js
  apps/oxlint/src/lint.rs
  crates/oxc_linter/src/config/rules.rs
  crates/oxc_linter/src/utils/mod.rs
Labels: C-bug, A-linter, A-cli

#7624 fix(linter): move `no-unused-expressions` from TS to eslint
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_unused_expressions.rs
  crates/oxc_linter/src/snapshots/eslint_no_unused_expressions.snap
Labels: C-bug, A-linter, 0-merge

#7618 test(transformer/jsx): move tests setup into a macro
  crates/oxc_transformer/src/jsx/jsx_impl.rs
Labels: A-transformer, 0-merge, C-test

#7619 refactor(transformer/jsx): `Pragma::parse` take a `&str`
  crates/oxc_transformer/src/jsx/jsx_impl.rs
Labels: C-cleanup, A-transformer, 0-merge

#7620 perf(transformer/jsx): no string comparisons generating pragma expression
  crates/oxc_transformer/src/jsx/jsx_impl.rs
Labels: C-performance, A-transformer, 0-merge

#7627 refactor(linter): use `get_inner_expression` in `const-comparisons`
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
Labels: A-linter, C-cleanup, 0-merge

#7628 feat(linter): enhance `const-comparisons` for more cases
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/snapshots/oxc_const_comparisons.snap
Labels: C-enhancement, A-linter, 0-merge

#7630 feat(linter): report identical logical expressions in const-comparisons
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/rules/unicorn/prefer_negative_index.rs
  crates/oxc_linter/src/snapshots/oxc_const_comparisons.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: C-enhancement, A-linter, 0-merge

#7635 fix(semantic): syntax error for undeclared private field access
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  tasks/coverage/misc/fail/oxc-7582.js
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-bug, A-semantic, 0-merge

#7636 feat(semantic): syntax error for `delete object?.#a`
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-semantic, 0-merge

#7637 fix(codegen): print parentheses correctly for ClassHeritage
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/esbuild.rs
Labels: C-bug, A-codegen

#7639 refactor(prettier): Revive doc macro
  crates/oxc_prettier/src/comments/print.rs
  crates/oxc_prettier/src/format/array.rs
  crates/oxc_prettier/src/format/arrow_function.rs
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/format/binaryish.rs
  crates/oxc_prettier/src/format/block.rs
  crates/oxc_prettier/src/format/call_arguments.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/class.rs
  crates/oxc_prettier/src/format/function.rs
  crates/oxc_prettier/src/format/function_parameters.rs
  crates/oxc_prettier/src/format/misc.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  crates/oxc_prettier/src/format/object.rs
  crates/oxc_prettier/src/format/statement.rs
  crates/oxc_prettier/src/format/template_literal.rs
  crates/oxc_prettier/src/format/ternary.rs
  crates/oxc_prettier/src/ir/builder.rs
  crates/oxc_prettier/src/ir/doc.rs
  crates/oxc_prettier/src/ir/mod.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/printer/mod.rs
Labels: C-cleanup, A-prettier

#7640 fix(oxc_transform): oxc dot define is postfix of some MemberExpr
  crates/oxc_transformer/src/plugins/replace_global_defines.rs
  crates/oxc_transformer/tests/integrations/plugins/replace_global_defines.rs
Labels: C-bug, A-transformer

#7644 perf(parser): inline all token kind checks
  crates/oxc_parser/src/lexer/kind.rs
Labels: A-parser, C-performance, 0-merge

#7645 perf(parser): reorder `parse_statement` match conditions
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/statement.rs
Labels: A-parser, C-performance, 0-merge

#7646 refactor(parser): use `ModuleRecord::has_module_syntax` for setting sourceType
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/module_record.rs
Labels: A-parser, C-cleanup, 0-merge

#7649 fix(parser): better diagnostic for invalid `for await` syntax
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/statement.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-parser, 0-merge

#7559 feat(linter): Implement eslint:yoda
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/yoda.rs
  crates/oxc_linter/src/rules/unicorn/prefer_negative_index.rs
  crates/oxc_linter/src/snapshots/eslint_yoda.snap
  crates/oxc_linter/src/utils/unicorn.rs
Labels: C-enhancement, A-linter, A-ast

#7653 style(transformer/class-properties): reformat doc comments
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-cleanup, A-transformer, 0-merge

#7547 refactor(ast)!: change 'raw' from &str to Option<Atom>
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_keys.rs
  crates/oxc_linter/src/rules/eslint/no_loss_of_precision.rs
  crates/oxc_linter/src/rules/eslint/no_magic_numbers.rs
  crates/oxc_linter/src/rules/eslint/prefer_numeric_literals.rs
  crates/oxc_linter/src/rules/typescript/no_duplicate_enum_values.rs
  crates/oxc_linter/src/rules/unicorn/consistent_existence_index_check.rs
  crates/oxc_linter/src/rules/unicorn/no_zero_fractions.rs
  crates/oxc_linter/src/rules/unicorn/number_literal_case.rs
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_some.rs
  crates/oxc_linter/src/rules/unicorn/prefer_includes.rs
  crates/oxc_linter/src/utils/unicorn.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_minifier/src/node_util/mod.rs
  crates/oxc_minifier/tests/ecmascript/array_join.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_transformer/src/jsx/jsx_source.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_traverse/src/ast_operations/gather_node_parts.rs
  npm/oxc-types/types.d.ts
Labels: A-linter, A-parser, A-semantic, A-minifier, C-cleanup, A-ast, A-transformer, A-codegen, A-prettier, A-isolated-declarations

#7657 style(ast): import `Atom`
  crates/oxc_ast/src/serialize.rs
Labels: C-cleanup, A-ast, 0-merge

#7652 perf(transformer/class-properties): replace recursion with loop
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-performance, A-transformer, 0-merge

#7656 fix(transformer/class-properties): transform `delete` chain expression in static prop initializers
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/es2022/class_properties/static_prop.rs
Labels: C-bug, A-transformer, 0-merge

#7659 refactor(ast): shorten code
  crates/oxc_ast/src/serialize.rs
Labels: C-cleanup, A-ast, 0-merge

#7661 fix(estree): `raw: null` in ESTree AST for generated `BooleanLiteral`s
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/serialize.rs
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast, 0-merge

#7662 fix(estree): `raw: null` in ESTree AST for generated `NullLiteral`s
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/serialize.rs
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast, 0-merge

#7663 fix(estree): make type of `BigIntLiteral::raw` prop in ESTree AST optional
  crates/oxc_ast/src/ast/literal.rs
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast, 0-merge

#7654 refactor(linter): rename `is_same_reference` to `is_same_expression`
  crates/oxc_linter/src/rules/eslint/yoda.rs
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/rules/oxc/double_comparisons.rs
  crates/oxc_linter/src/rules/oxc/misrefactored_assign_op.rs
  crates/oxc_linter/src/rules/unicorn/no_length_as_slice_end.rs
  crates/oxc_linter/src/rules/unicorn/prefer_logical_operator_over_ternary.rs
  crates/oxc_linter/src/rules/unicorn/prefer_math_min_max.rs
  crates/oxc_linter/src/rules/unicorn/prefer_modern_math_apis.rs
  crates/oxc_linter/src/rules/unicorn/prefer_negative_index.rs
  crates/oxc_linter/src/utils/unicorn.rs
Labels: A-linter, C-cleanup, 0-merge

#7660 refactor(linter): use `BigIntLiteral::raw` field
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
Labels: A-linter, C-cleanup, 0-merge

#7670 fix(linter): ignore type references in `no-undef`
  crates/oxc_linter/src/rules/eslint/no_undef.rs
Labels: C-bug, A-linter

#7673 fix(oxc_transformer): alias `es2015` to `es6`
  crates/oxc_transformer/src/options/es_target.rs
  crates/oxc_transformer/tests/integrations/es_target.rs
  crates/oxc_transformer/tests/integrations/snapshots/es_target.snap
  napi/transform/test/transform.test.ts
Labels: C-bug, A-transformer

#7676 feat(syntax): add `ExportEntry::is_type`
  crates/oxc_linter/src/module_record.rs
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_parser/src/module_record.rs
  crates/oxc_syntax/src/module_record.rs
Labels: C-enhancement, A-linter, A-parser

#7675 feat(linter): map `.js` to `.ts` when resolving with tsconfig.json
  crates/oxc_linter/src/service/runtime.rs
Labels: C-enhancement, A-linter

#7677 feat(napi/parser): expose span positions of `import.meta`
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/module_record.rs
  crates/oxc_syntax/src/module_record.rs
  napi/parser/index.d.ts
  napi/parser/src/convert.rs
  napi/parser/src/types.rs
  napi/parser/test/__snapshots__/esm.test.ts.snap
  napi/parser/test/esm.test.ts
Labels: C-enhancement, A-parser

#7680 docs(linter): update rule documentation
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/eslint/no_void.rs
  crates/oxc_linter/src/rules/jest/consistent_test_it.rs
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
  crates/oxc_linter/src/rules/jest/no_conditional_in_test.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
Labels: A-linter, C-docs

#7678 test(minifier): reformat `minsize` table
  tasks/minsize/minsize.snap
  tasks/minsize/src/lib.rs
Labels: 0-merge, C-test

#7642 feat(traverse): add `TraverseCtx::generate_uid_in_current_hoist_scope_based_on_node`
  crates/oxc_traverse/src/context/mod.rs
Labels: C-enhancement, A-transformer, 0-merge

#7665 feat(transformer/var-declaration): add a series of `create_var*` methods
  crates/oxc_transformer/src/common/var_declarations.rs
Labels: C-enhancement, A-transformer, 0-merge

#7681 docs(linter): update rule documentation
  crates/oxc_linter/src/rules/oxc/bad_min_max_func.rs
  crates/oxc_linter/src/rules/oxc/missing_throw.rs
  crates/oxc_linter/src/rules/oxc/number_arg_out_of_range.rs
  crates/oxc_linter/src/rules/react/jsx_boolean_value.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/rules/react/no_render_return_value.rs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
  crates/oxc_linter/src/rules/unicorn/consistent_empty_array_spread.rs
  crates/oxc_linter/src/rules/unicorn/prefer_node_protocol.rs
  crates/oxc_linter/src/rules/unicorn/prefer_query_selector.rs
  crates/oxc_linter/src/rules/unicorn/text_encoding_identifier_case.rs
Labels: A-linter, C-docs

#7666 refactor(transformer): use `ctx.var_declarations.create_var*` methods
  crates/oxc_transformer/src/common/var_declarations.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2020/optional_chaining.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-cleanup, A-transformer, 0-merge

#7668 refactor(var-declarations): remove unnecessary `init` parameter from `insert_var`
  crates/oxc_transformer/src/common/var_declarations.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2022/class_properties/class.rs
Labels: C-cleanup, A-transformer, 0-merge

#7683 test(linter): add more tests fo rules-of-hooks
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/react_rules_of_hooks.snap
Labels: A-linter, 0-merge, C-test

#7684 docs(linter): update rule documentation
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/rules/jest/valid_title.rs
  crates/oxc_linter/src/rules/jsx_a11y/iframe_has_title.rs
  crates/oxc_linter/src/rules/react/no_children_prop.rs
Labels: A-linter, C-docs

#7664 refactor(transformer/class-properties): use `duplicate_object` in `transform_expression_to_wrap_nullish_check`
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-cleanup, A-transformer, 0-merge

#7685 refactor(transformer/class-properties): `duplicate_object_twice` method
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/es2022/class_properties/utils.rs
Labels: C-cleanup, A-transformer, 0-merge

#7686 fix(transformer/class-properties): create temp var for `this` in computed key
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/this-in-computed-key/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/this-in-computed-key/output.js
Labels: C-bug, A-transformer, 0-merge

#7679 fix(linter): panic in `yoda`
  crates/oxc_linter/src/rules/eslint/yoda.rs
Labels: C-bug, A-linter, 0-merge

#7691 feat(linter): change `react/rules-of-hooks` category to `pedantic`
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
Labels: C-enhancement, A-linter

#7693 deps: node v22.12.0
  .node-version
  package.json
  pnpm-lock.yaml
  tasks/transform_conformance/snapshots/babel_exec.snap.md
  tasks/transform_conformance/snapshots/oxc_exec.snap.md
Labels: A-transformer

#7697 feat(transformer/class-properties): support for transforming `AssignmentTarget`
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/es2022/mod.rs
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/babel_exec.snap.md
Labels: C-enhancement, A-transformer, 0-merge

#7702 refactor(transformer/class-properties): add TODO comments
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
Labels: C-cleanup, A-transformer, 0-merge

#7700 refactor(transformer/class-properties): shorten code
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-cleanup, A-transformer, 0-merge

#7701 refactor(transformer/class-properties): move code out of `transform_assignment_target`
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-cleanup, A-transformer, 0-merge

#7621 fix(oxc_transform): overlap replacement
  crates/oxc_transformer/src/plugins/replace_global_defines.rs
  crates/oxc_transformer/tests/integrations/plugins/replace_global_defines.rs
Labels: C-bug, A-transformer, 0-merge

#7705 fix(codegen): missing parens for `in` in `for in` loop init
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/unit.rs
Labels: C-bug, A-codegen, 0-merge

#7706 feat(parser)!: stage 3 `import source` and `import defer`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_content_hash.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_transformer/src/common/module_imports.rs
  crates/oxc_transformer/src/plugins/inject_global_variables.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/codegen_test262.snap
  tasks/coverage/snapshots/minifier_test262.snap
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/coverage/snapshots/transformer_test262.snap
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/test262/mod.rs
Labels: C-enhancement, A-parser, A-semantic, A-ast, A-transformer, A-codegen, 0-merge, A-isolated-declarations

#7715 feat(transform_conformance): custom reporter for exec test
  tasks/transform_conformance/reporter.mjs
  tasks/transform_conformance/snapshots/babel_exec.snap.md
  tasks/transform_conformance/src/exec.rs
Labels: C-enhancement, A-transformer

#7719 fix(linter): false positive in `eslint/yoda`
  crates/oxc_linter/src/rules/eslint/yoda.rs
  crates/oxc_linter/src/snapshots/eslint_yoda.snap
Labels: C-bug, A-linter

#7720 fix(linter): only resolve esm files for import plugin
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: C-bug, A-linter

#7722 test(transformer): fix exec test reporter
  tasks/transform_conformance/reporter.mjs
  tasks/transform_conformance/snapshots/babel_exec.snap.md
Labels: A-transformer, 0-merge, C-test

#7687 test(transformer/class-properties): exec test for `this` in computed key
  tasks/transform_conformance/snapshots/oxc_exec.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/this-in-computed-key/exec.js
Labels: A-transformer, 0-merge, C-test

#7688 test(transformer): update fixtures script support overrides
  tasks/transform_conformance/update_fixtures.js
Labels: A-transformer, 0-merge, C-test

#7689 test(transformer/class-properties): override fixtures
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/derived-multiple-supers/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/regression-T7364/output.mjs
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public-loose/foobar/options.json
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public-loose/foobar/reason.txt
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public-loose/super-expression/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/computed-toPrimitive/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-multiple-supers/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params-complex/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params-in-arrow/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/super-expression/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/regression/7371/options.json
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/regression/7371/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/regression/7371/reason.txt
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/regression/multiple-super-in-termary/output.js
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/babel_exec.snap.md
Labels: A-transformer, 0-merge, C-test

#7708 fix(transformer/class-properties): make `_super` function outside class strict mode
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params-complex/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params-in-arrow/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params/output.js
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/super-in-constructor-strict/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/super-in-constructor-strict/output.js
Labels: C-bug, A-transformer, 0-merge

#7709 fix(transformer/class-properties): fix `SymbolFlags` for `_super` function
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, A-transformer, 0-merge

#7710 refactor(transformer/class-properties): shorten output when `_super` function
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/derived-multiple-supers/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public-loose/super-expression/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/derived-multiple-supers/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public/super-expression/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/regression/7371/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/regression/multiple-super-in-termary/output.js
Labels: C-cleanup, A-transformer, 0-merge

#7711 refactor(transformer/class-properties): TODO comments for future optimizations
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
Labels: C-cleanup, A-transformer, 0-merge

#7712 test(transformer): fix merging options in fixtures update script
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/update_fixtures.js
Labels: A-transformer, 0-merge, C-test

#7713 test(transformer): add `just` script to update transformer test fixtures
  justfile
Labels: 0-merge, C-test

#7716 refactor(transformer/class-properties)!: rename `ClassPropertiesOptions::loose`
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#7707 test(transformer): transform conformance print code with double-space indent
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, 0-merge, C-test

#7723 test(linter): add regression tests for `import/namespace`
  crates/oxc_linter/fixtures/import/node_modules/acorn/acorn.d.mts
  crates/oxc_linter/fixtures/import/node_modules/acorn/acorn.d.ts
  crates/oxc_linter/fixtures/import/node_modules/acorn/acorn.js
  crates/oxc_linter/fixtures/import/node_modules/acorn/acorn.mjs
  crates/oxc_linter/fixtures/import/node_modules/acorn/package.json
  crates/oxc_linter/fixtures/import/package.json
  crates/oxc_linter/src/rules/import/namespace.rs
Labels: A-linter, C-test

#7727 feat(napi/transformer): add runtime helper mode
  crates/oxc_transformer/src/lib.rs
  napi/transform/index.d.ts
  napi/transform/index.js
  napi/transform/src/transformer.rs
  napi/transform/test/transform.test.ts
Labels: C-enhancement, A-transformer

#7728 refactor(napi/parser): enable `serialize` feature for `oxc_ast` only
  Cargo.lock
  napi/parser/Cargo.toml
Labels: C-cleanup

#7726 test(transformer/class-properties): override test output for `_super` in class constructor
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/super-expression/output.js
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: A-transformer, 0-merge, C-test

#7729 test(transformer/class-properties): override test output for `_super` in class constructor
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/assumption-setPublicClassFields/super-expression/output.js
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: A-transformer, 0-merge, C-test

#7731 test(linter): port `react-jsx-uses-vars` rules to no_unused_vars
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/react.rs
  crates/oxc_linter/src/snapshots/eslint_no_unused_vars@eslint-plugin-react.snap
Labels: C-enhancement, A-linter, C-test

#7732 chore(deps): update pnpm to v9.15.0
  package.json
  pnpm-lock.yaml
Labels: C-cleanup

#7735 fix(codegen): print quote correctly for directive
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/tester.rs
  crates/oxc_codegen/tests/integration/unit.rs
Labels: C-bug, A-codegen

#7738 refactor(linter): remove unused `serde` features
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_syntax/Cargo.toml
Labels: A-linter, C-cleanup

#7739 test(napi/transform): use the `expect` API instead of `assert`
  napi/transform/test/id.test.ts
  napi/transform/test/transform.test.ts
Labels: C-test

#7740 build(linter): fix feature unification
  crates/oxc_linter/Cargo.toml
Labels: A-linter

#7741 docs(transformer/class-properties): correct doc comment
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: A-transformer, 0-merge, C-docs

#7742 feat(linter): support `expectTypeOf`, `assert` and `assertType` in `vitest/expect-expect`
  crates/oxc_linter/src/rules/jest/expect_expect.rs
Labels: C-enhancement, A-linter

#7737 feat(napi/transform): return helpers information
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/lib.rs
  napi/transform/index.d.ts
  napi/transform/src/transformer.rs
  napi/transform/test/transform.test.ts
Labels: C-enhancement, A-transformer, 0-merge

#7743 test(transformer/class-properties): add more tests
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-logical-assignment/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-logical-assignment/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-logical-assignment/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-logical-assignment/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-logical-assignment/output.js
Labels: A-transformer, 0-merge, C-test

#7744 perf(transformer/logic-assignment-operator): inline `enter_expression` visitor
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
Labels: C-performance, A-transformer, 0-merge

#7747 refactor(transformer/class-properties): prefer `contains` to `intersects` for bitflags
  crates/oxc_transformer/src/es2022/class_properties/class.rs
Labels: C-cleanup, A-transformer, 0-merge

#7751 refactor(transformer): use `NONE` in AST builder calls
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/typescript/enum.rs
Labels: C-cleanup, A-transformer, 0-merge

#7752 refactor(isolated_declarations): use `NONE` in AST builder calls
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/module.rs
Labels: C-cleanup, 0-merge, A-isolated-declarations

#7754 refactor(transformer): introduce `TransformCtx::duplicate_expression`
  crates/oxc_transformer/src/common/duplicate.rs
  crates/oxc_transformer/src/common/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  crates/oxc_transformer/src/es2022/class_properties/utils.rs
Labels: C-cleanup, A-transformer, 0-merge

#7755 feat(semantic): add `SymbolTable::symbol_is_mutated` method
  crates/oxc_semantic/src/symbol.rs
Labels: C-enhancement, A-semantic, 0-merge

#7756 refactor(transformer): `duplicate_expression` take `mutated_symbol_needs_temp_var` param
  crates/oxc_transformer/src/common/duplicate.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-cleanup, A-transformer, 0-merge

#7757 refactor(transformer): `duplicate_expression` do not produce temp var for `super`
  crates/oxc_transformer/src/common/duplicate.rs
Labels: C-cleanup, A-transformer, 0-merge

#7745 fix(transformer/logic-assignment-operator): always create `IdentifierReference`s with `ReferenceId`
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-logical-assignment-operators/test/fixtures/computed-prop-identifier/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-logical-assignment-operators/test/fixtures/computed-prop-identifier/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-logical-assignment-operators/test/fixtures/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-logical-assignment-operators/test/fixtures/super-prop-computed/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-logical-assignment-operators/test/fixtures/super-prop-computed/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-logical-assignment-operators/test/fixtures/super-prop-static/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-logical-assignment-operators/test/fixtures/super-prop-static/output.js
Labels: C-bug, A-transformer, 0-merge

#7758 test(transformer): enable fixture overrides for `logical-assignment-operators` transform
  tasks/transform_conformance/update_fixtures.js
Labels: A-transformer, 0-merge, C-test

#7760 refactor(traverse)!: remove `TraverseCtx::is_static`
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: C-cleanup, A-transformer, 0-merge

#7717 feat(transformer/class-properties): support `private_fields_as_properties` assumption
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/compiler_assumptions.rs
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/derived-multiple-supers/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/foobar/options.json
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/foobar/reason.txt
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/nested-class-extends-computed-redeclared/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/super-expression/output.js
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/babel_exec.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/snapshots/oxc_exec.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template-static/exec.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template-static/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template-static/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template-static/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template/exec.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/private-loose-tagged-template/output.js
Labels: C-enhancement, A-ast, A-transformer, 0-merge

#7761 fix(codegen): print `delete 2e308` as `delete (0, Infinity)`
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/unit.rs
Labels: C-bug, A-codegen, 0-merge

#7629 feat(linter/no_restricted_imports): add the no_restricted_imports rules
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_restricted_imports.rs
  crates/oxc_linter/src/snapshots/eslint_no_restricted_imports.snap
Labels: C-enhancement, A-linter

#7764 feat(data_structures): add rope
  Cargo.lock
  crates/oxc_data_structures/Cargo.toml
  crates/oxc_data_structures/src/lib.rs
  crates/oxc_data_structures/src/rope.rs
  crates/oxc_language_server/Cargo.toml
  crates/oxc_language_server/src/linter.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/jsx/jsx_source.rs
  crates/oxc_transformer/src/jsx/mod.rs
Labels: C-enhancement, A-transformer, A-editor

#7748 fix(transformer/class-properties): output is not the same with Babel when callee has optional
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-bug, A-transformer, 0-merge

#7762 fix(transformer/class-properties): output is not the same with Babel when PrivateFieldExpression is optional
  crates/oxc_transformer/src/es2022/class_properties/private.rs
Labels: C-bug, A-transformer, 0-merge

#7763 refactor(transformer/class-properties): transform the remaining PrivateFieldExpression in ChainExpression first
  crates/oxc_transformer/src/es2022/class_properties/private.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-cleanup, A-transformer, 0-merge

#7749 test(transformer/class-properties): overrides optional-chain-related tests
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-before-member-call-with-transform/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-before-member-call/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-before-property-with-transform/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-before-property/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-member-optional-call/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-optional-member-call-with-transform/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-optional-member-call/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-optional-property-with-transform/output.js
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: A-transformer, 0-merge, C-test

#7766 style(data_structures): line breaks
  crates/oxc_data_structures/src/lib.rs
Labels: C-cleanup, 0-merge
