Repository oxc-project/oxc, pull requests merged in 2024-11, with the labels that each got.

#7027 feat(linter)!: report unmatched rules with error exit code
  apps/oxlint/src/lint.rs
  apps/oxlint/src/result.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_linter/src/builder.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/rules.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/tester.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge, A-editor

#7043 refactor(transformer/common): `VarDeclarations` insert either `var` or `let` statements
  crates/oxc_transformer/src/common/var_declarations.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/jsx/refresh.rs
Labels: C-cleanup, A-transformer, 0-merge

#6969 fix(ast): Fix `StaticMemberExpression.get_first_object`
  crates/oxc_ast/src/ast_impl/js.rs
  tasks/coverage/snapshots/transpile.snap
Labels: C-bug, A-ast

#7045 refactor(transformer): deserialize `BabelOptions::plugins`
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/options/babel/mod.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/src/babel/mod.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: C-cleanup, A-transformer, 0-merge

#7047 refactor(transformer): deserialize `BabelOptions::presets`
  crates/oxc_transformer/src/options/babel/mod.rs
  crates/oxc_transformer/src/options/babel/plugins.rs
  crates/oxc_transformer/src/options/babel/presets.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
  tasks/transform_conformance/src/test_case.rs
Labels: C-cleanup, A-transformer

#7048 refactor(transformer): deserialize `BabelOptions::compiler_assumptions`
  crates/oxc_transformer/src/options/babel/mod.rs
  crates/oxc_transformer/src/options/mod.rs
Labels: C-cleanup, A-transformer

#7049 refactor(transformer): flatten dir structure of options/babel/env
  crates/oxc_transformer/src/options/babel/env/mod.rs
  crates/oxc_transformer/src/options/babel/env/query.rs
  crates/oxc_transformer/src/options/babel/env/targets.rs
Labels: C-cleanup, A-transformer

#7051 refactor(transform): deserialize `BabelPreests::env` directly
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/babel/presets.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
Labels: C-cleanup, A-transformer

#7053 refactor(codegen): move options to its own file
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/options.rs
Labels: C-cleanup, A-codegen, 0-merge

#7052 fix(transformer/async-to-generator): output is incorrect when arrow function without params
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/arrow/without-params/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/arrow/without-params/output.js
Labels: C-bug, A-transformer, 0-merge

#7065 refactor(ast): `StaticMemberExpression::get_first_object` use loop instead of recursion
  crates/oxc_ast/src/ast_impl/js.rs
Labels: C-cleanup, A-ast, 0-merge

#7066 refactor(transformer): use `ctx.alloc` over `ctx.ast.alloc` where possible
  crates/oxc_transformer/src/es2017/async_to_generator.rs
Labels: C-cleanup, A-transformer, 0-merge

#7054 feat(codegen): print inline legal comments
  crates/oxc_ast/src/ast/comment.rs
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/options.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/main.rs
  crates/oxc_codegen/tests/integration/snapshots/legal_inline_comments.snap
Labels: C-enhancement, A-ast, A-codegen

#7058 feat(codegen): print eof legal comments
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/options.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/legal_eof_comments.snap
Labels: C-enhancement, A-codegen

#7055 refactor(transformer): use `*_with_scope_id` builder methods where possible
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: C-cleanup, A-ast, A-transformer, 0-merge

#7056 refactor(transformer): use `identifier_reference_with_reference_id` builder method
  crates/oxc_transformer/src/jsx/refresh.rs
Labels: C-cleanup, A-transformer, 0-merge

#7063 refactor(parser): add `ParserImpl::alloc` method
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, C-cleanup, 0-merge

#7076 refactor(ast_tools): output progress
  tasks/ast_tools/src/logger.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#7077 refactor(ast_tools): remove dead code
  tasks/ast_tools/src/rust_ast.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#7078 refactor(ast_tools): simplify module loading
  tasks/ast_tools/src/codegen.rs
  tasks/ast_tools/src/rust_ast.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#7079 refactor(ast_tools): shorten code
  tasks/ast_tools/src/codegen.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#7080 refactor(ast_tools): remove dead code
  tasks/ast_tools/src/rust_ast.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#7083 refactor(ast_tools): remove `LateCtx` abstraction
  tasks/ast_tools/src/codegen.rs
  tasks/ast_tools/src/derives/clone_in.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/derives/content_hash.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/derives/get_span.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/schema/defs.rs
  tasks/ast_tools/src/schema/mod.rs
  tasks/ast_tools/src/schema/serialize.rs
  tasks/ast_tools/src/util.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#7068 refactor(parser): do not use `AstBuilder::*_from_*` methods
  crates/oxc_parser/src/js/arrow.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, C-cleanup, 0-merge

#7069 refactor(traverse): do not use `AstBuilder::*_from_*` methods
  crates/oxc_traverse/src/context/bound_identifier.rs
Labels: C-cleanup, 0-merge

#7070 refactor(transformer): do not use `AstBuilder::*_from_*` methods
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/common/module_imports.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/plugins/inject_global_variables.rs
  crates/oxc_transformer/src/regexp/mod.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: C-cleanup, A-transformer, 0-merge

#7071 refactor(isolated_declarations): do not use `AstBuilder::*_from_*` methods
  crates/oxc_isolated_declarations/src/lib.rs
Labels: C-cleanup, 0-merge, A-isolated-declarations

#7072 refactor(minifier): do not use `AstBuilder::*_from_*` methods
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_minifier/src/ast_passes/statement_fusion.rs
  crates/oxc_minifier/src/keep_var.rs
Labels: A-minifier, C-cleanup, 0-merge

#7073 refactor(ast)!: remove `AstBuilder::*_from_*` methods
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#7081 fix(linter): remove confusing help text for now
  apps/oxlint/src/lint.rs
Labels: C-bug, A-cli

#7059 feat(codegen): print linked and external legal comment
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/options.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/main.rs
  crates/oxc_codegen/tests/integration/snapshots/legal_linked_comments.snap
Labels: C-enhancement, A-codegen, 0-merge

#7064 refactor(codegen): replace `daachorse` with string match for annotation comment
  Cargo.lock
  Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
Labels: C-cleanup, A-codegen

#7088 refactor(linter): remove unused CLI result types
  apps/oxlint/src/result.rs
Labels: A-cli, C-cleanup, 0-merge

#7089 feat(codegen): always print legal comments on its own line
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/legal_eof_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_inline_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_linked_comments.snap
Labels: C-enhancement, A-codegen

#7040 ci(transformer): enable unfinished plugins in benchmark
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
  tasks/benchmark/benches/transformer.rs
Labels: A-transformer, 0-merge

#7067 fix(linter): check is_reference_to_global_variable in `no-array-constructor` rule
  crates/oxc_linter/src/rules/eslint/no_array_constructor.rs
Labels: C-bug, A-linter

#7085 feat(editor/vscode): Support window/showMessage event
  editors/vscode/client/extension.ts
  editors/vscode/package.json
Labels: C-enhancement, A-editor

#7093 feat(linter): do not bail for unmatched rules yet
  apps/oxlint/src/lint.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_linter/src/builder.rs
  crates/oxc_linter/src/tester.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge, A-editor

#7091 feat(transformer): add `ESTarget`
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/src/regexp/options.rs
  crates/oxc_transformer/tests/es_target/mod.rs
  crates/oxc_transformer/tests/es_target/snapshots/es_target.snap
  crates/oxc_transformer/tests/mod.rs
  crates/oxc_transformer/tests/plugins/inject_global_variables.rs
  crates/oxc_transformer/tests/plugins/mod.rs
  crates/oxc_transformer/tests/plugins/replace_global_defines.rs
Labels: C-enhancement, A-transformer, 0-merge

#7099 test(transformer): use a single integration test for faster compilation
  crates/oxc_transformer/tests/integrations/es_target.rs
  crates/oxc_transformer/tests/integrations/main.rs
  crates/oxc_transformer/tests/integrations/plugins/inject_global_variables.rs
  crates/oxc_transformer/tests/integrations/plugins/mod.rs
  crates/oxc_transformer/tests/integrations/plugins/replace_global_defines.rs
  crates/oxc_transformer/tests/integrations/snapshots/es_target.snap
  crates/oxc_transformer/tests/integrations/targets.rs
Labels: A-transformer, C-test

#7100 fix(transformer): fix typescript globals being recognized as globals
  crates/oxc/src/compiler.rs
  napi/transform/index.d.ts
  napi/transform/test/transform.test.mjs
Labels: C-bug, 0-merge

#7103 fix(module_lexer): add missing `export * from 'foo';` case
  crates/oxc_module_lexer/src/lib.rs
  crates/oxc_module_lexer/tests/integration/esm.rs
  napi/parser/index.d.ts
  napi/parser/src/module_lexer.rs
  napi/parser/test/module_lexer.test.mjs
Labels: C-bug

#7104 refactor(ast_tools): rename `visitable` to `is_visitable`
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/rust_ast.rs
  tasks/ast_tools/src/schema/defs.rs
  tasks/ast_tools/src/schema/mod.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#7095 fix(linter): fix `is_method_call` with parentheses and chain expression
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat.rs
  crates/oxc_linter/src/snapshots/prefer_array_flat.snap
Labels: C-bug, A-linter

#7108 feat(codegen): improve printing of comments
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/jsodc.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_eof_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_inline_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_linked_comments.snap
Labels: C-enhancement, A-codegen, 0-merge

#7109 refactor(parser): remove `oxc_ecmascript` crate
  Cargo.lock
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/js/class.rs
Labels: A-parser, C-cleanup

#7111 feat(codegen): improvement printing of legal comments
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/legal_eof_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_inline_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_linked_comments.snap
Labels: C-enhancement, A-codegen, 0-merge

#7116 refactor(tasks/website): remove `scraper` dependency
  Cargo.lock
  Cargo.toml
  tasks/website/Cargo.toml
  tasks/website/src/linter/rules/mod.rs
  tasks/website/src/linter/rules/test.rs
Labels: C-cleanup

#7105 refactor(transformer/async-to-generator): move handling of `MethodDefinition`'s value to `exit_function`
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  crates/oxc_transformer/src/es2017/mod.rs
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-cleanup, A-transformer, 0-merge

#7114 feat(transform_conformance): add babel runtime to exec tests
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tasks/transform_conformance/package.json
  tasks/transform_conformance/snapshots/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: C-enhancement, A-transformer, 0-merge

#7117 fix(transformer/async_to_generator): fix checking if function is class method
  crates/oxc_transformer/src/es2017/async_to_generator.rs
Labels: C-bug, A-transformer, 0-merge

#7106 refactor(transformer/async-generator-functions): move handling of `MethodDefinition`'s value to `exit_function`
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
  crates/oxc_transformer/src/es2018/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: C-cleanup, A-transformer, 0-merge

#7107 refactor(transformer): move implementation of ArrowFunction to common/ArrowFunctionConverter
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/common/mod.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: C-cleanup, A-transformer, 0-merge

#7126 refactor(ast)!: `IdentifierReference::reference_id` return `ReferenceId`
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_linter/src/rules/eslint/no_throw_literal.rs
  crates/oxc_linter/src/rules/oxc/no_async_endpoint_handlers.rs
  crates/oxc_linter/src/rules/oxc/no_map_spread.rs
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
  crates/oxc_linter/src/rules/typescript/no_wrapper_object_types.rs
  crates/oxc_linter/src/rules/unicorn/consistent_function_scoping.rs
  crates/oxc_linter/src/utils/react_perf.rs
  crates/oxc_semantic/tests/conformance/test_identifier_reference.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-linter, A-semantic, C-cleanup, A-ast, A-transformer, 0-merge

#7127 feat(ast): methods on AST nodes to get `scope_id` etc
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/generated/get_id.rs
  crates/oxc_ast/src/lib.rs
  tasks/ast_tools/src/generators/get_id.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/main.rs
Labels: C-enhancement, A-ast, 0-merge, A-ast-tools

#7128 refactor(transformer): use `scope_id` etc methods
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
  crates/oxc_transformer/src/es2019/optional_catch_binding.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/module.rs
Labels: C-cleanup, A-transformer, 0-merge

#7129 refactor(traverse): use `symbol_id` etc methods
  crates/oxc_traverse/src/context/bound_identifier.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: C-cleanup, 0-merge

#7130 refactor(ast): use `scope_id` etc methods
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_kind_impl.rs
Labels: C-cleanup, A-ast, 0-merge

#7121 feat(transform_conformance): use node instead of bun for exec tests
  pnpm-lock.yaml
  tasks/transform_conformance/.gitignore
  tasks/transform_conformance/package.json
  tasks/transform_conformance/snapshots/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: C-enhancement, A-transformer

#7139 refactor(transformer): deserialize engine target strings to specific keys
  crates/oxc_transformer/src/options/babel/env/data/mod.rs
  crates/oxc_transformer/src/options/babel/env/mod.rs
  crates/oxc_transformer/src/options/babel/env/query.rs
  crates/oxc_transformer/src/options/babel/env/targets.rs
Labels: C-cleanup, A-transformer

#7142 refactor(transformer): change `Targets` to `EngineTargets`
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/babel/env/data/mod.rs
  crates/oxc_transformer/src/options/babel/env/mod.rs
  crates/oxc_transformer/src/options/babel/env/query.rs
  crates/oxc_transformer/src/options/babel/env/targets.rs
  crates/oxc_transformer/src/options/babel/mod.rs
  crates/oxc_transformer/src/options/engine_targets.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
Labels: C-cleanup, A-transformer

#7143 refactor(transformer): rename `Query` to `BrowserslistQuery`
  crates/oxc_transformer/src/options/babel/env/mod.rs
  crates/oxc_transformer/src/options/babel/env/targets.rs
  crates/oxc_transformer/src/options/babel/mod.rs
  crates/oxc_transformer/src/options/browserslist_query.rs
  crates/oxc_transformer/src/options/engine_targets.rs
  crates/oxc_transformer/src/options/mod.rs
Labels: C-cleanup, A-transformer

#7144 chore(deps): update rust crate criterion2 to v2
  Cargo.lock
  Cargo.toml
Labels: C-cleanup, 0-merge

#7113 feat(transformer): enable `ArrowFunctionConverter` in `async-to-generator` and `async-generator-functions` plugins
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/common/mod.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/babel_exec.snap.md
Labels: C-enhancement, A-transformer, 0-merge

#7125 feat(transformer/arrow-function-converter): move scope to changed scope for `this_var` if scope have changed
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-enhancement, A-transformer, 0-merge

#7131 refactor(transformer/async-generator-functions): remove useless code for handle await expression
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#7132 refactor(transformer/async-generator-functions): do not transform await expression where inside ArrowFunctionExpression
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
  crates/oxc_transformer/src/es2018/mod.rs
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-cleanup, A-transformer, 0-merge

#7134 refactor(transformer/async-generator-functions): do not transform yield expression where inside generator function
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-generator-functions/test/fixtures/generator-function/yield-regexp/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-generator-functions/test/fixtures/generator-function/yield-regexp/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-generator-functions/test/fixtures/options.json
Labels: C-cleanup, A-transformer, 0-merge

#7138 feat(transformer/async-to-generator): do not transform await expression if is not inside async function
  crates/oxc_transformer/src/es2017/async_to_generator.rs
Labels: C-enhancement, A-transformer, 0-merge

#7135 feat(transformer): turn on async_to_generator and async_generator_functions plugins in enable_all
  crates/oxc_transformer/src/options/env.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-enhancement, A-transformer, 0-merge

#7147 fix(transformer/async-generator-functions): transform incorrectly for `for await` if it's in LabeledStatement
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-generator-functions/test/fixtures/for-await/with-labeled-statement/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-generator-functions/test/fixtures/for-await/with-labeled-statement/output.js
Labels: C-bug, A-transformer, 0-merge

#7154 feat(ast)!: change `comment.span` to real position that contain `//` and `/*`
  crates/oxc_ast/src/ast/comment.rs
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/rules/eslint/default_case.rs
  crates/oxc_linter/src/rules/eslint/max_lines.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/sort_keys.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/ban_tslint_comment.rs
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
  crates/oxc_linter/src/rules/typescript/prefer_ts_expect_error.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/rules/unicorn/no_magic_array_flat_depth.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_undefined.rs
  crates/oxc_linter/src/utils/tree_shaking.rs
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_prettier/src/comments/mod.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_transformer/src/jsx/comments.rs
  crates/oxc_wasm/src/lib.rs
  napi/parser/src/lib.rs
  napi/parser/test/parse.test.mjs
Labels: C-enhancement, A-linter, A-parser, A-semantic, A-ast, A-transformer, A-codegen, A-prettier, A-isolated-declarations

#7148 fix(transformer/async-generator-functions): incorrect transformation for `for await` if it's not placed in a block
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-generator-functions/test/fixtures/for-await/with-if-statement/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-generator-functions/test/fixtures/for-await/with-if-statement/output.js
Labels: C-bug, A-transformer, 0-merge

#7155 refactor(linter): use `ctx.source_range(comment.content_span())` API
  crates/oxc_linter/src/rules/eslint/default_case.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/typescript/ban_tslint_comment.rs
  crates/oxc_linter/src/rules/typescript/prefer_ts_expect_error.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter, A-parser, A-semantic, C-cleanup, A-ast, A-transformer, A-codegen, A-prettier, 0-merge, A-isolated-declarations

#7158 refactor(transformer/optional-catch-binding): remove inactive `#[allow(clippy::unused_self)]` attr
  crates/oxc_transformer/src/es2019/optional_catch_binding.rs
Labels: C-cleanup, A-transformer, 0-merge

#7160 refactor(transformer/typescript): remove inactive `#[allow(clippy::unused_self)]` attr
  crates/oxc_transformer/src/typescript/annotations.rs
Labels: C-cleanup, A-transformer, 0-merge

#7162 refactor(transformer): remove unimplemented `EnvOptions::bugfixes`
  crates/oxc_transformer/src/options/babel/env/data/@babel/compat_data/data/plugin_bugfixes.json
  crates/oxc_transformer/src/options/babel/env/data/mod.rs
  crates/oxc_transformer/src/options/babel/env/mod.rs
  crates/oxc_transformer/src/options/env.rs
Labels: C-cleanup, A-transformer, 0-merge

#7159 refactor(transformer/jsx-self): remove unused `&self` function params
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/jsx/jsx_self.rs
  crates/oxc_transformer/src/jsx/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#7163 refactor(transformer/arrow-functions): correct comments
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#7164 refactor(transformer/arrow-functions): use `scope_id` method
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#7165 refactor(transformer/arrow-functions): remove unused `&mut self` function param
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#7166 refactor(transformer/async-to-generator): remove unused `&self` function param
  crates/oxc_transformer/src/es2017/async_to_generator.rs
Labels: C-cleanup, A-transformer, 0-merge

#7167 refactor(transformer/async-generator-function): remove inactive `#[allow(clippy::unused_self)]` attrs
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#7168 style(transformer/arrow-functions): semicolon after return statements
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#7169 refactor(transformer/arrow-functions): pass `ArenaBox` as function param
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#7172 refactor(transformer/async-generator-functions): use `clone` not `clone_in` on `LabelIdentifier`
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
Labels: C-cleanup, A-transformer, 0-merge

#7173 style(transformer/async-generator-functions): import `oxc_allocator::Vec` as `ArenaVec`
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
Labels: C-cleanup, A-transformer, 0-merge

#7170 refactor(transformer/async-generator-functions): simplify identifying whether within an async generator function
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#7149 feat(ast_tools): Add #[estree(append_to)], remove some custom serialization code
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_estree/Cargo.toml
  crates/oxc_estree/src/lib.rs
  crates/oxc_regular_expression/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/markers.rs
Labels: C-enhancement, A-ast, 0-merge, A-ast-tools

#7181 fix(editor/vscode): Update language client id to fix the resolution of the oxc.trace.server setting
  editors/vscode/client/extension.ts
Labels: C-bug, A-editor

#7183 chore(linter): correct links to docs in rules
  crates/oxc_linter/src/rules/import/max_dependencies.rs
  crates/oxc_linter/src/rules/import/no_amd.rs
  crates/oxc_linter/src/rules/import/no_commonjs.rs
Labels: A-linter, C-cleanup

#7156 feat(tasks/compat_data): init compat data task
  .gitignore
  Cargo.lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tasks/compat_data/.gitignore
  tasks/compat_data/Cargo.toml
  tasks/compat_data/README.md
  tasks/compat_data/build.js
  tasks/compat_data/chromium-to-electron.js
  tasks/compat_data/chromium-versions.js
  tasks/compat_data/package.json
  tasks/compat_data/plugin-features.js
  tasks/compat_data/src/lib.rs
  tasks/compat_data/src/main.rs
Labels: C-enhancement, 0-merge

#7182 feat(transformer): add features `ES2018NamedCapturingGroupsRegex` and `ES2018LookbehindRegex`
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/es_features.rs
  tasks/compat_data/README.md
  tasks/compat_data/build.js
  tasks/compat_data/data.json
  tasks/compat_data/es-features.js
  tasks/compat_data/src/main.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-enhancement, A-transformer, 0-merge

#7184 feat(transformer): warn BigInt when targeting < ES2020
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_transformer/src/es2020/mod.rs
  crates/oxc_transformer/src/es2020/options.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/es_features.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/tests/integrations/es_target.rs
  crates/oxc_transformer/tests/integrations/main.rs
  crates/oxc_transformer/tests/integrations/snapshots/es_target.snap
  crates/oxc_transformer/tests/integrations/targets.rs
  tasks/compat_data/data.json
  tasks/compat_data/es-features.js
Labels: C-enhancement, A-transformer, 0-merge

#7189 refactor(transformer): move `ESTarget` to its own file
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/es_target.rs
  crates/oxc_transformer/src/options/mod.rs
Labels: C-cleanup, A-transformer

#7191 refactor(transformer): add `impl TryFrom<EngineTargets> for EnvOptions`
  crates/oxc_transformer/src/options/babel/env/mod.rs
  crates/oxc_transformer/src/options/engine_targets.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/es_target.rs
Labels: C-cleanup, A-transformer

#7192 chore(transform_conformance): omit tests that we cannot pass right now
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/src/constants.rs
  tasks/transform_conformance/src/test_case.rs
Labels: C-cleanup, A-transformer

#6989 feat(linter): implement @typescript-eslint/no-unsafe-function-type
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_unsafe_function_type.rs
  crates/oxc_linter/src/snapshots/no_unsafe_function_type.snap
Labels: C-enhancement, A-linter

#7187 feat(linter): add `import/unambiguous` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/unambiguous.rs
  crates/oxc_linter/src/snapshots/unambiguous.snap
Labels: C-enhancement, A-linter

#7196 feat(editor/vscode): Replace existing output channel and trace output channel with a single LogOutputChannel
  editors/vscode/client/extension.ts
  editors/vscode/package.json
Labels: C-enhancement, A-editor

#7194 test(coverage): enable Babel es2022 tests
  tasks/coverage/snapshots/codegen_babel.snap
  tasks/coverage/snapshots/minifier_babel.snap
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/transformer_babel.snap
  tasks/coverage/src/babel/mod.rs
Labels: C-test

#7198 chore(transformer_conformance): only ignore root fixtures directory
  tasks/transform_conformance/.gitignore
Labels: C-cleanup, A-transformer, 0-merge

#7199 fix(transformer/async-to-generator): only transform object method in exit_function
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/object/method/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/object/method/output.js
Labels: C-bug, A-transformer, 0-merge

#7193 feat(transformer): add es target to `engineTargets`
  crates/oxc_transformer/src/options/engine_targets.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/es_features.rs
  crates/oxc_transformer/src/options/es_target.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/tests/integrations/targets.rs
  tasks/compat_data/src/lib.rs
Labels: C-enhancement, A-transformer, 0-merge

#7201 feat(transformer/async-to-generator): support inferring the function name from the ObjectPropertyValue's key
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/object/property-with-function/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/object/property-with-function/output.js
Labels: C-enhancement, A-transformer, 0-merge

#7171 fix(transformer/async-to-generator): incorrect transform when super expression is inside async method
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/es2017/mod.rs
  crates/oxc_transformer/src/es2018/mod.rs
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/assign/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/assign/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/computed-member/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/computed-member/output.js
Labels: C-bug, A-transformer, 0-merge

#7203 refactor(transformer/arrow-function-coverter): rename function name and add some comments to explain confusing parts.
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#7204 feat(isolated-declarations): support transform TSExportAssignment declaration
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/tests/fixtures/ts-export-assignment.ts
  crates/oxc_isolated_declarations/tests/snapshots/ts-export-assignment.snap
Labels: C-enhancement, 0-merge, A-isolated-declarations

#7210 feat(transformer): add esbuild comma separated target API `--target=es2020,chrome58`
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/options/babel/env/targets.rs
  crates/oxc_transformer/src/options/engine.rs
  crates/oxc_transformer/src/options/engine_targets.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/tests/integrations/es_target.rs
  crates/oxc_transformer/tests/integrations/snapshots/es_target.snap
Labels: C-enhancement, A-transformer, 0-merge

#7212 fix(types)!: append `rest` field into `elements` for objects and arrays to align with estree
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_estree/src/lib.rs
  crates/oxc_estree/src/ser.rs
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-bug, A-ast, 0-merge, A-ast-tools

#7213 feat(transformer)!: change API to take a `&TransformOptions` instead of `TransformOptions`
  crates/oxc/src/compiler.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/common/mod.rs
  crates/oxc_transformer/src/es2015/options.rs
  crates/oxc_transformer/src/es2016/options.rs
  crates/oxc_transformer/src/es2017/options.rs
  crates/oxc_transformer/src/es2018/options.rs
  crates/oxc_transformer/src/es2019/options.rs
  crates/oxc_transformer/src/es2020/options.rs
  crates/oxc_transformer/src/es2021/options.rs
  crates/oxc_transformer/src/jsx/comments.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/tests/integrations/es_target.rs
  crates/oxc_transformer/tests/integrations/main.rs
  crates/oxc_transformer/tests/integrations/targets.rs
  crates/oxc_wasm/src/lib.rs
  napi/transform/src/transformer.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/driver.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/transform_conformance/src/driver.rs
Labels: C-enhancement, A-transformer

#7215 refactor(semantic): rename `ancestors` to `ancestor_ids`
  crates/oxc_linter/src/rules/eslint/no_constructor_return.rs
  crates/oxc_linter/src/rules/eslint/no_new.rs
  crates/oxc_linter/src/rules/eslint/no_unsafe_finally.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
  crates/oxc_linter/src/rules/nextjs/no_duplicate_head.rs
  crates/oxc_linter/src/rules/oxc/bad_comparison_sequence.rs
  crates/oxc_linter/src/rules/oxc/missing_throw.rs
  crates/oxc_linter/src/rules/promise/prefer_await_to_then.rs
  crates/oxc_linter/src/rules/react/no_is_mounted.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/node.rs
Labels: A-linter, A-semantic, C-cleanup, 0-merge

#7216 refactor(semantic): rename `iter_parents` to `ancestors`
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/rules/eslint/no_cond_assign.rs
  crates/oxc_linter/src/rules/eslint/no_debugger.rs
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
  crates/oxc_linter/src/rules/eslint/no_extend_native.rs
  crates/oxc_linter/src/rules/eslint/no_extra_boolean_cast.rs
  crates/oxc_linter/src/rules/eslint/no_new_func.rs
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/usage.rs
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
  crates/oxc_linter/src/rules/import/no_commonjs.rs
  crates/oxc_linter/src/rules/jest/no_conditional_in_test.rs
  crates/oxc_linter/src/rules/nextjs/no_page_custom_font.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/rules/promise/no_callback_in_promise.rs
  crates/oxc_linter/src/rules/promise/prefer_await_to_callbacks.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/rules/react/no_direct_mutation_state.rs
  crates/oxc_linter/src/rules/typescript/no_explicit_any.rs
  crates/oxc_linter/src/rules/typescript/no_namespace.rs
  crates/oxc_linter/src/rules/unicorn/no_null.rs
  crates/oxc_linter/src/rules/unicorn/no_process_exit.rs
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_text_content.rs
  crates/oxc_linter/src/rules/vitest/no_conditional_tests.rs
  crates/oxc_linter/src/rules/vitest/prefer_each.rs
  crates/oxc_linter/src/rules/vitest/require_local_test_context_for_concurrent_snapshots.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/typescript.rs
  crates/oxc_semantic/src/node.rs
Labels: A-linter, A-semantic, C-cleanup, 0-merge

#7217 refactor(semantic): add `ancestor_kinds` iterator function
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
  crates/oxc_linter/src/rules/eslint/no_new_func.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers/fix_vars.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/jsx_a11y/heading_has_content.rs
  crates/oxc_linter/src/rules/node/no_exports_assign.rs
  crates/oxc_linter/src/rules/unicorn/explicit_length_check.rs
  crates/oxc_linter/src/rules/unicorn/no_null.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_text_content.rs
  crates/oxc_semantic/src/node.rs
Labels: A-linter, A-semantic, C-cleanup, 0-merge

#7188 feat(transformer): add `TransformOptions::module` option
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/babel/env/mod.rs
  crates/oxc_transformer/src/options/babel/mod.rs
  crates/oxc_transformer/src/options/env.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/src/options/module.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-enhancement, A-transformer, 0-merge

#7218 feat(transformer/babel): add support for trying to get the `Module` from `BabelPlugins`
  crates/oxc_transformer/src/options/babel/mod.rs
  crates/oxc_transformer/src/options/babel/plugins.rs
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/src/options/module.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-enhancement, C-cleanup, A-transformer, 0-merge

#7219 feat(ast)!: remove invalid expressions from `TSEnumMemberName`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_content_hash.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_linter/src/rules/typescript/no_duplicate_enum_values.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/stats.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_traverse/src/generated/walk.rs
  npm/oxc-types/types.d.ts
  tasks/coverage/misc/fail/oxc-4449-1.ts
  tasks/coverage/misc/fail/oxc-4449-2.ts
  tasks/coverage/misc/fail/oxc-4449-3.ts
  tasks/coverage/misc/fail/oxc-4449-4.ts
  tasks/coverage/misc/fail/oxc-4449-5.ts
  tasks/coverage/misc/fail/oxc-4449-6.ts
  tasks/coverage/misc/fail/oxc-4449.ts
  tasks/coverage/misc/pass/oxc-4449.ts
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-linter, A-parser, A-semantic, A-ast, A-transformer, A-codegen, A-prettier, A-isolated-declarations

#7220 refactor(ast)!: remove useless `ObjectProperty::init` field
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_content_hash.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/state.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_transformer/src/jsx/display_name.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/jsx/jsx_self.rs
  crates/oxc_transformer/src/jsx/jsx_source.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: A-parser, A-semantic, C-cleanup, A-ast, A-transformer, 0-merge

#7180 feat(linter): add `import/first` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/first.rs
  crates/oxc_linter/src/snapshots/first.snap
Labels: C-enhancement, A-linter

#7120 feat(linter): add jsx support for only-used-in-recursion
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/snapshots/only_used_in_recursion.snap
Labels: C-enhancement, A-linter, A-semantic, A-ast, A-transformer, A-ast-tools

#7214 feat(napi/parser): reexport `@oxc-project/types`
  napi/parser/header.js
  napi/parser/index.d.ts
  napi/parser/package.json
  napi/parser/src/module_lexer.rs
  napi/parser/test/module_lexer.test.ts
  napi/parser/test/parse.test.ts
  napi/parser/test/parser.test-d.ts
  napi/parser/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: C-enhancement

#7221 refactor(napi/transform): change test files to TypeScript
  napi/transform/test/id.test.ts
  napi/transform/test/transform.test.ts
Labels: C-cleanup

#7206 feat(transformer/typescript): support transform `export =` and `import = require(...)` when module is commonjs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/typescript/diagnostics.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-enhancement, A-transformer, 0-merge

#5546 refactor(ast): `AstKind::as_*` methods take `self`
  crates/oxc_ast/src/generated/ast_kind.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#7178 refactor(minifier): use `map` and `and_then` instead of let else
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, 0-merge

#7226 fix(transformer/helper-loader): incorrect `SymbolFlags` for default import when `SourceType` is script
  crates/oxc_transformer/src/common/helper_loader.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-transformer, 0-merge

#7228 chore(deps): update crate-ci/typos action to v1.27.3
  .github/workflows/ci.yml
Labels: C-cleanup

#7236 fix(codegen): print comments when block is empty
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/legal_eof_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_inline_comments.snap
  crates/oxc_codegen/tests/integration/snapshots/legal_linked_comments.snap
Labels: C-bug, A-codegen

#7244 feat(tasks/lint_rules): mark `eslint/no-undef-init` as done
  tasks/lint_rules/src/oxlint-rules.cjs
Labels: C-enhancement

#7247 fix(transformer): correct code comments
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
Labels: C-bug, A-transformer, 0-merge

#7151 feat(linter): react/exhaustive-deps
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react_hooks/exhaustive_deps.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_linter/src/snapshots/exhaustive_deps.snap
  crates/oxc_semantic/src/scope.rs
  tasks/benchmark/benches/linter.rs
Labels: C-enhancement, A-linter, A-semantic, 0-merge

#7249 fix(linter): react/exhaustive-deps update span for unknown deps diagnostic
  crates/oxc_linter/src/rules/react_hooks/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/exhaustive_deps.snap
Labels: C-bug, A-linter, 0-merge

#7250 refactor(ast)!: rename `TSEnumMemberName` enum variants
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_content_hash.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_linter/src/rules/typescript/prefer_enum_initializers.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_traverse/src/generated/walk.rs
Labels: A-linter, A-parser, C-cleanup, A-ast, A-transformer, A-codegen, A-prettier, 0-merge, A-isolated-declarations

#7255 docs(ast): correct doc comment for `StringLiteral`
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/generated/ast_builder.rs
Labels: A-ast, 0-merge, C-docs

#7241 fix(linter): fix false positive in eslint/no-cond-assign
  crates/oxc_linter/src/rules/eslint/no_cond_assign.rs
Labels: C-bug, A-linter, 0-merge

#7260 refactor(linter): temporarily remove unknown rules checking
  crates/oxc_linter/src/builder.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/rules.rs
Labels: A-linter, C-cleanup, 0-merge

#6974 feat(linter): support `overrides` config field
  Cargo.lock
  apps/oxlint/fixtures/overrides/.oxlintrc.json
  apps/oxlint/fixtures/overrides/other.jsx
  apps/oxlint/fixtures/overrides/test.js
  apps/oxlint/fixtures/overrides/test.ts
  apps/oxlint/src/lint.rs
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/builder.rs
  crates/oxc_linter/src/config/flat.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/overrides.rs
  crates/oxc_linter/src/config/oxlintrc.rs
  crates/oxc_linter/src/config/plugins.rs
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  crates/oxc_linter/src/table.rs
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: C-enhancement, A-linter, A-cli, 0-merge

#6977 feat(linter): implement typescript/no-empty-object-type
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_empty_object_type.rs
  crates/oxc_linter/src/snapshots/no_empty_object_type.snap
Labels: C-enhancement, A-linter

#7264 refactor(traverse): reorder imports
  crates/oxc_traverse/src/context/mod.rs
Labels: C-cleanup, 0-merge

#7267 docs(traverse): tidy doc comments for `TraverseCtx::is_static`
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: 0-merge, C-docs

#7270 refactor(ast): move `StringLiteral` definition higher up
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_content_hash.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_traverse/src/generated/traverse.rs
  crates/oxc_traverse/src/generated/walk.rs
  npm/oxc-types/types.d.ts
Labels: C-cleanup, A-ast, 0-merge

#7266 refactor(traverse)!: remove `TraverseCtx::clone_identifier_reference`
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_traverse/src/context/maybe_bound_identifier.rs
  crates/oxc_traverse/src/context/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#7263 feat(ast): serialize StringLiterals to ESTree without `raw`
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  npm/oxc-types/types.d.ts
Labels: C-enhancement, A-ast, 0-merge

#7271 style(ast): add line break
  crates/oxc_ast/src/serialize.rs
Labels: C-cleanup, A-ast, 0-merge

#7251 fix(linter): move `exhaustive-deps` to `react`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/exhaustive_deps.snap
Labels: C-bug, A-linter, 0-merge

#7232 feat(linter): support bind function case for compatibility with `promise/no-return-wrap`
  THIRD-PARTY-LICENSE
  crates/oxc_linter/src/rules/unicorn/no_useless_promise_resolve_reject.rs
  crates/oxc_linter/src/snapshots/no_useless_promise_resolve_reject.snap
Labels: C-enhancement, A-linter

#7277 refactor(semantic): shorten code
  crates/oxc_semantic/src/binder.rs
Labels: A-semantic, C-cleanup, 0-merge

#7274 chore(linter): add allowReject option to `unicorn/no-useless-promise-resolve-reject`
  crates/oxc_linter/src/rules/unicorn/no_useless_promise_resolve_reject.rs
Labels: A-linter, C-cleanup

#7283 fix(tasks): cargo clippy error on rust 1.82.0
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/layout.rs
Labels: C-bug, A-ast-tools

#7268 docs(transformer/nullish-coalescing): clarify doc comment
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
Labels: A-transformer, 0-merge, C-docs
