Repository oxc-project/oxc, pull requests merged in 2024-09, with the labels that each got.

#5376 refactor(linter/oxc): update rule docs for `erasing-op`
  crates/oxc_linter/src/rules/oxc/erasing_op.rs
Labels: A-linter, merge

#5380 chore: typo fix
  crates/oxc_index/src/macros.rs
  crates/oxc_parser/src/lexer/number.rs
Labels: A-parser

#5383 ci: autofix formatting relates jobs
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  justfile
Labels: A-cli

#5385 feat(span): add `CompactStr::to_compact_string` method
  crates/oxc_span/src/atom.rs
Labels: merge

#5321 feat(linter/vitest): implement prefer-to-be-object
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_object.rs
  crates/oxc_linter/src/snapshots/prefer_to_be_object.snap
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
Labels: A-linter

#5394 chore(prettier): Update conformance tests to Prettier v3.3.3
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/prettier_conformance/prettier.js.snap.md
  tasks/prettier_conformance/prettier.ts.snap.md
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier, merge

#5403 feat(semantic)!: add `ScopeTree:get_child_ids` API behind a runtime flag
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_semantic/tests/integration/scopes.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
Labels: A-semantic, merge

#5356 fix(transformer/arrow-functions): reaches `unreachable` when `<this.foo>` is inside an arrow function
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-arrow-functions/test/fixtures/with-this-member-expression/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-arrow-functions/test/fixtures/with-this-member-expression/output.js
Labels: A-transformer, merge

#5357 chore(ast)!: remove `get_object_identifier` and `get_object_identifier_mut`
  crates/oxc_ast/src/ast_impl/jsx.rs
Labels: A-ast, merge

#5358 feat(ast)!: remove `JSXMemberExpressionObject::Identifier` variant
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast_impl/jsx.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_traverse/src/context/ast_operations/gather_node_parts.rs
  crates/oxc_traverse/src/generated/walk.rs
  tasks/coverage/semantic_typescript.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
Labels: A-linter, A-parser, A-ast, A-transformer, A-codegen, merge

#5411 refactor(linter): `react/jsx_no_undef` rule `get_member_ident` do not return Option
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
Labels: A-linter, merge

#5377 feat(linter/oxc): add fixer for `erasing-op`
  crates/oxc_linter/src/rules/oxc/erasing_op.rs
Labels: C-enhancement, A-linter, merge

#5409 fix(traverse): `insert_scope_below` update child scopes records
  crates/oxc_semantic/src/scope.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-semantic, merge

#5410 feat(semantic): transform checker check child scope IDs
  crates/oxc/src/compiler.rs
  crates/oxc_semantic/src/post_transform_checker.rs
  tasks/coverage/semantic_babel.snap
  tasks/coverage/semantic_misc.snap
  tasks/coverage/semantic_test262.snap
  tasks/coverage/semantic_typescript.snap
  tasks/coverage/src/driver.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/driver.rs
Labels: A-semantic, A-transformer, merge

#5412 perf(transformer): remove an allocation from arrow functions transform
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer, merge

#5399 feat(transformer/typescript): support `rewrite_import_extensions` option
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/transformer.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/options.rs
  crates/oxc_transformer/src/typescript/rewrite_extensions.rs
  napi/transform/index.d.ts
  napi/transform/src/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-preset-typescript/test/fixtures/removeImportExtensions/input.ts
  tasks/transform_conformance/tests/babel-preset-typescript/test/fixtures/removeImportExtensions/options.json
  tasks/transform_conformance/tests/babel-preset-typescript/test/fixtures/removeImportExtensions/output.js
Labels: A-transformer, merge

#5304 feat(regular_expression): implement `Display` for `RegularExpression` type.
  crates/oxc_regular_expression/src/body_parser/parser.rs
  crates/oxc_regular_expression/src/body_parser/unicode.rs
  crates/oxc_regular_expression/src/display.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_regular_expression/src/surroage_pair.rs
Labels: A-parser, merge

#5278 feat(ast_tools): add dedicated `Derive` trait.
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast/src/ast/mod.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  tasks/ast_tools/src/codegen.rs
  tasks/ast_tools/src/derives/clone_in.rs
  tasks/ast_tools/src/derives/get_span.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/rust_ast.rs
  tasks/ast_tools/src/schema/defs.rs
  tasks/ast_tools/src/schema/mod.rs
Labels: A-ast, merge, A-ast-tools

#5280 refactor(syntax): use `generate_derive` for `CloneIn` in types outside of `oxc_ast` crate.
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast_macros/src/lib.rs
  crates/oxc_syntax/src/generated/derive_clone_in.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/number.rs
  crates/oxc_syntax/src/operator.rs
  crates/oxc_syntax/src/reference.rs
Labels: A-ast, merge, A-ast-tools

#5256 feat(ast, parser): add `oxc_regular_expression` types to the parser and AST.
  .github/.generated_ast_watch_list.yml
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/eslint/no_control_regex.rs
  crates/oxc_linter/src/rules/eslint/no_div_regex.rs
  crates/oxc_linter/src/rules/eslint/no_empty_character_class.rs
  crates/oxc_linter/src/rules/eslint/no_regex_spaces.rs
  crates/oxc_linter/src/rules/unicorn/no_hex_escape.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_replace_all.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/utils/unicorn.rs
  crates/oxc_parser/examples/regular_expression.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_regular_expression/Cargo.toml
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/generated/derive_clone_in.rs
  crates/oxc_regular_expression/src/lib.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/main.rs
Labels: A-linter, A-parser, A-ast, A-codegen, A-prettier, merge, A-ast-tools

#5370 feat(linter/node): implement no-exports-assign
  apps/oxlint/src/command/lint.rs
  apps/oxlint/src/lint/mod.rs
  crates/oxc_linter/src/options/mod.rs
  crates/oxc_linter/src/options/plugins.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/node/no_exports_assign.rs
  crates/oxc_linter/src/snapshots/no_exports_assign.snap
  crates/oxc_linter/src/tester.rs
  tasks/benchmark/benches/linter.rs
  tasks/website/src/linter/snapshots/cli.snap
  tasks/website/src/linter/snapshots/cli_terminal.snap
Labels: A-linter, A-cli

#5421 feat(index): impl rayon related to trait for IndexVec
  Cargo.lock
  crates/oxc_index/Cargo.toml
  crates/oxc_index/src/lib.rs
  crates/oxc_index/src/rayon_impl.rs
Labels: merge

#5407 fix(traverse): invalid variable name generated by `generate_uid_based_on_node`
  crates/oxc_traverse/src/context/identifier.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-nullish-coalescing-operator/test/fixtures/invalid-variable-name/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-nullish-coalescing-operator/test/fixtures/invalid-variable-name/output.js
Labels: A-transformer, merge, blocker

#5425 perf(syntax): optimize `is_identifier_name`
  crates/oxc_syntax/src/identifier.rs
Labels: merge

#5426 perf(syntax): further optimize `is_identifier_name`
  Cargo.lock
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/identifier.rs
Labels: merge

#5413 test(transformer): add tests for nested JSX `this` member expressions in arrow function transform
  tasks/transform_conformance/tests/babel-plugin-transform-arrow-functions/test/fixtures/with-this-member-expression/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-arrow-functions/test/fixtures/with-this-member-expression/output.js
Labels: A-transformer, merge

#5414 fix(transformer): do not create double reference in JSX transform
  crates/oxc_transformer/src/react/jsx.rs
  tasks/coverage/semantic_typescript.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
Labels: A-transformer, merge

#5422 refactor(transformer/typescript): move all entry points to implementation of Traverse trait
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer, merge

#5429 refactor(regular_expression): correct typo
  crates/oxc_regular_expression/src/body_parser/parser.rs
  crates/oxc_regular_expression/src/display.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_regular_expression/src/surrogate_pair.rs
Labels: merge

#5438 feat(codegen): print `type_parameters` in `TaggedTemplateExpression`
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/snapshots/ts.snap
  crates/oxc_codegen/tests/integration/ts.rs
Labels: A-codegen, merge

#5427 feat(ast): add `ContentEq` trait.
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast_macros/src/lib.rs
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/generated/derive_content_eq.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/cmp.rs
  crates/oxc_span/src/lib.rs
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_syntax/src/generated/derive_content_eq.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/number.rs
  crates/oxc_syntax/src/operator.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/main.rs
Labels: A-ast, merge, A-ast-tools

#5428 chore(linter/vitest): improve docs for vitest rules
  crates/oxc_linter/src/rules/vitest/no_conditional_tests.rs
  crates/oxc_linter/src/rules/vitest/no_import_node_test.rs
  crates/oxc_linter/src/rules/vitest/prefer_each.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_falsy.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_object.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_truthy.rs
  crates/oxc_linter/src/rules/vitest/require_local_test_context_for_concurrent_snapshots.rs
Labels: A-linter

#5402 perf(linter/react): add should_run conditions for react rules
  crates/oxc_linter/src/rules/react/jsx_boolean_value.rs
  crates/oxc_linter/src/rules/react/jsx_props_no_spread_multi.rs
Labels: A-linter

#5327 refactor(ast): remove `IdentifierName` from `TSThisParameter`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  tasks/ast_tools/src/derives/content_eq.rs
Labels: A-parser, A-ast, A-codegen, merge, A-ast-tools

#5439 feat(minifier): remove parenthesized expression for dce
  crates/oxc_minifier/src/options.rs
  crates/oxc_minifier/tests/ast_passes/remove_dead_code.rs
Labels: A-minifier, merge

#5415 feat(linter/react): implement `self-closing-comp`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/self_closing_comp.rs
  crates/oxc_linter/src/snapshots/self_closing_comp.snap
Labels: A-linter

#5417 refactor(linter): use "parsed pattern" in `no_div_regex` rule.
  Cargo.lock
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/eslint/no_div_regex.rs
Labels: A-linter, A-ast, merge

#5445 refactor(linter): simplify `eslint/radix` rule
  crates/oxc_linter/src/rules/eslint/radix.rs
Labels: A-linter, C-cleanup, merge

#5449 refactor(ast): use loop not recursion
  crates/oxc_ast/src/ast_impl/js.rs
Labels: A-ast, merge

#5464 refactor(ast): renumber `JSXMemberExpressionObject` discriminants
  crates/oxc_ast/src/ast/jsx.rs
Labels: A-ast, merge

#5446 fix(linter): `eslint/radix` rule correctly check for unbound symbols
  crates/oxc_linter/src/rules/eslint/radix.rs
  crates/oxc_linter/src/snapshots/radix.snap
Labels: A-linter, merge

#5447 refactor(ast): use loop instead of recursion
  crates/oxc_ast/src/ast_impl/js.rs
Labels: A-linter, A-ast, 0-merge

#5448 refactor(ast)!: rename `Expression::without_parentheses`
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_codegen/src/binary_expr_visitor.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_extra_boolean_cast.rs
  crates/oxc_linter/src/rules/eslint/no_self_assign.rs
  crates/oxc_linter/src/rules/eslint/prefer_exponentiation_operator.rs
  crates/oxc_linter/src/rules/eslint/prefer_numeric_literals.rs
  crates/oxc_linter/src/rules/eslint/radix.rs
  crates/oxc_linter/src/rules/nextjs/inline_script_id.rs
  crates/oxc_linter/src/rules/oxc/bad_replace_all_arg.rs
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/rules/oxc/erasing_op.rs
  crates/oxc_linter/src/rules/react/button_has_type.rs
  crates/oxc_linter/src/rules/react/jsx_boolean_value.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/rules/react/jsx_props_no_spread_multi.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_jsx_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_array_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_function_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_object_as_prop.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/rules/typescript/no_extra_non_null_assertion.rs
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/rules/unicorn/new_for_builtins.rs
  crates/oxc_linter/src/rules/unicorn/no_await_in_promise_methods.rs
  crates/oxc_linter/src/rules/unicorn/no_document_cookie.rs
  crates/oxc_linter/src/rules/unicorn/no_instanceof_array.rs
  crates/oxc_linter/src/rules/unicorn/no_length_as_slice_end.rs
  crates/oxc_linter/src/rules/unicorn/no_magic_array_flat_depth.rs
  crates/oxc_linter/src/rules/unicorn/no_negated_condition.rs
  crates/oxc_linter/src/rules/unicorn/no_new_buffer.rs
  crates/oxc_linter/src/rules/unicorn/no_object_as_default_parameter.rs
  crates/oxc_linter/src/rules/unicorn/no_this_assignment.rs
  crates/oxc_linter/src/rules/unicorn/no_unreadable_iife.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_length_check.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread/mod.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_some.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_remove.rs
  crates/oxc_linter/src/rules/unicorn/prefer_includes.rs
  crates/oxc_linter/src/rules/unicorn/prefer_modern_math_apis.rs
  crates/oxc_linter/src/rules/unicorn/prefer_native_coercion_functions.rs
  crates/oxc_linter/src/rules/unicorn/prefer_prototype_methods.rs
  crates/oxc_linter/src/rules/unicorn/prefer_set_size.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_linter/src/rules/unicorn/prefer_structured_clone.rs
  crates/oxc_linter/src/rules/unicorn/prefer_type_error.rs
  crates/oxc_linter/src/rules/unicorn/throw_new_error.rs
  crates/oxc_linter/src/utils/unicorn/boolean.rs
Labels: A-linter, A-ast, A-codegen, 0-merge

#5459 feat(semantic): check for parameter properties in constructor overloads
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_typescript.snap
Labels: C-enhancement, A-semantic, 0-merge

#5460 feat(semantic): check for non-declared, non-abstract class accessors without bodies
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: A-semantic, A-ast, 0-merge

#5461 feat(semantic): check for non-declared, non-abstract object accessors without bodies
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_typescript.snap
Labels: C-enhancement, A-semantic, A-ast, 0-merge

#5463 feat(semantic): check for initializers in ambient `VariableDeclaration`s
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_typescript.snap
Labels: C-enhancement, A-semantic, 0-merge

#5444 refactor(semantic): change the reference flag to `ReferenceFlags::Type` if it is used within a `TSTypeQuery`
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/tests/fixtures/oxc/type-declarations/signatures/property-with-type-import.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/class/declaration/type-reference.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-default-value.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-inline-value.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-named-value.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/instantiation-expressions/type-arguments2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/function2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/index-access3.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/signatures/property-computed-name.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/type-query-qualified.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/type-query-with-parameters.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/type-query.snap
  crates/oxc_syntax/src/reference.rs
Labels: A-semantic, 0-merge

#5450 fix(linter): `tree_shaking/no_side_effects_in_initialization` handle JSX correctly
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter, 0-merge

#5466 feat(ast)!: add `ThisExpression` variants to `JSXElementName` and `JSXMemberExpressionObject`
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast_impl/jsx.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
  crates/oxc_linter/src/rules/react/jsx_no_useless_fragment.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_traverse/src/context/ast_operations/gather_node_parts.rs
  crates/oxc_traverse/src/generated/walk.rs
  tasks/coverage/semantic_typescript.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
Labels: A-linter, A-parser, A-ast, A-transformer, A-codegen, 0-merge

#5467 fix(linter/tree-shaking): detect the correct export symbol resolution
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter, 0-merge

#5451 feat(ast): add `ContentHash` trait; remove noop `Hash` implementation from `Span`
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_ast/src/generated/derive_content_hash.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast_macros/src/lib.rs
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/generated/derive_content_hash.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/hash.rs
  crates/oxc_span/src/lib.rs
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_span/src/span/mod.rs
  crates/oxc_span/src/span/types.rs
  crates/oxc_syntax/src/generated/derive_content_hash.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/number.rs
  crates/oxc_syntax/src/operator.rs
  tasks/ast_tools/src/derives/content_hash.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/main.rs
Labels: A-linter, A-ast, 0-merge, A-ast-tools

#5462 refactor(ast, ast_tools): use full method path for generated derives trait calls.
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_content_hash.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_regular_expression/src/generated/derive_clone_in.rs
  crates/oxc_regular_expression/src/generated/derive_content_eq.rs
  crates/oxc_regular_expression/src/generated/derive_content_hash.rs
  crates/oxc_syntax/src/generated/derive_content_eq.rs
  tasks/ast_tools/src/derives/clone_in.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/derives/content_hash.rs
  tasks/ast_tools/src/derives/get_span.rs
Labels: C-enhancement, A-ast, 0-merge, A-ast-tools

#5468 refactor(ast): simplify `ContentEq` trait definition.
  crates/oxc_ast_macros/src/lib.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/cmp.rs
Labels: 0-merge

#5431 fix(ast, codegen, linter): panics in fixers.
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/integration/tester.rs
  crates/oxc_codegen/tests/integration/unit.rs
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/rules/eslint/no_control_regex.rs
  crates/oxc_linter/src/rules/eslint/no_empty_character_class.rs
  crates/oxc_linter/src/rules/eslint/no_regex_spaces.rs
  crates/oxc_linter/src/rules/unicorn/no_hex_escape.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_replace_all.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-linter, A-cli, A-ast, A-codegen, A-prettier, 0-merge

#5469 fix(regex): panic on displaying surrogated `UnicodeEscape` characters.
  crates/oxc_regular_expression/src/display.rs
Labels: 0-merge

#5474 feat(oxc_diagnostic): impl DerefMut for OxcDiagnostic
  crates/oxc_diagnostics/src/lib.rs
Labels: 0-merge

#5473 refactor(transformer/react): move all entry points to implementation of Traverse trait
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_self.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/refresh.rs
Labels: A-transformer, 0-merge

#5482 perf(transformer): pre-calculate unsupported flags in RegExp transform
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5483 perf(transformer): pre-calculate if unsupported patterns in RegExp transform
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5484 perf(transformer): store needed options only on `RegExp`
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5481 chore(linter/react_perf): improve docs for react_perf rules
  crates/oxc_linter/src/rules/react_perf/jsx_no_jsx_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_array_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_function_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_object_as_prop.rs
Labels: A-linter

#5485 refactor(linter): reduce nested if statements in eslint/no_this_before_super
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
Labels: A-linter, 0-merge

#5389 feat(linter/import): add no-dynamic-require rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_dynamic_require.rs
  crates/oxc_linter/src/snapshots/no_dynamic_require.snap
Labels: C-enhancement, A-linter

#5486 fix(transformer): RegExp transform don't transform all RegExps
  crates/oxc_transformer/src/regexp/mod.rs
  tasks/coverage/semantic_typescript.snap
Labels: A-transformer, 0-merge

#5480 refactor(semantic)!: remove `SymbolTable::get_symbol_id_from_name` and `SymbolTable::get_scope_id_from_name`
  crates/oxc_semantic/src/symbol.rs
Labels: A-semantic, 0-merge

#5476 refactor(span): use `Hasher` from `std`
  crates/oxc_span/src/hash.rs
Labels: 0-merge

#5478 docs(span): update docs about `ContentEq` `Vec` comparison speed
  crates/oxc_span/src/cmp.rs
Labels: 0-merge

#5492 refactor(transformer): RegExp transform do not take ownership of `Pattern` then reallocate it
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5494 fix(transformer): RegExp transform do not transform invalid regexps
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5496 refactor(transformer): RegExp transform report pattern parsing errors
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5498 refactor(transformer): clarify match in RegExp transform
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5499 refactor(transformer): re-order imports
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5491 feat(xtask): impl `as_ast_kind` method for each variant
  crates/oxc_ast/src/generated/ast_kind.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: A-ast, 0-merge, A-ast-tools

#5507 fix: add back lifetime
  crates/oxc_ast/src/generated/ast_kind.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: A-ast, 0-merge, A-ast-tools

#5510 test(linter/no-unused-vars): arrow functions in tagged templates
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
  crates/oxc_semantic/tests/integration/symbols.rs
Labels: A-linter, A-semantic

#5515 feat(allocator): add `AsMut` impl for `Box`
  crates/oxc_allocator/src/boxed.rs
Labels: 0-merge

#5517 fix(linter): handle loops in `getter-return` rule
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/snapshots/getter_return.snap
Labels: A-linter

#5521 chore: `clippy::allow_attributes`
  Cargo.toml
  tasks/ast_tools/src/codegen.rs
  tasks/ast_tools/src/derives/get_span.rs
  tasks/ast_tools/src/fmt.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/layout.rs
  tasks/ast_tools/src/markers.rs
  tasks/ast_tools/src/passes/calc_layout.rs
  tasks/ast_tools/src/passes/linker.rs
  tasks/ast_tools/src/rust_ast.rs
  tasks/ast_tools/src/util.rs
  tasks/benchmark/benches/sourcemap.rs
  tasks/benchmark/src/lib.rs
  tasks/coverage/src/driver.rs
  tasks/coverage/src/lib.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/prettier_conformance/src/lib.rs
Labels: A-prettier, 0-merge, A-ast-tools

#5512 style(linter): introduce the writing style from PR #5491 and reduce the if nesting
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/default_case.rs
  crates/oxc_linter/src/rules/eslint/for_direction.rs
  crates/oxc_linter/src/rules/eslint/no_async_promise_executor.rs
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/rules/eslint/no_template_curly_in_string.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/prefer_numeric_literals.rs
  crates/oxc_linter/src/rules/eslint/radix.rs
  crates/oxc_linter/src/rules/eslint/require_await.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_autofocus.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_redundant_roles.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_supports_aria_props.rs
  crates/oxc_linter/src/rules/nextjs/no_unwanted_polyfillio.rs
  crates/oxc_linter/src/rules/oxc/bad_min_max_func.rs
  crates/oxc_linter/src/rules/oxc/bad_replace_all_arg.rs
  crates/oxc_linter/src/rules/oxc/number_arg_out_of_range.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_jsx_as_prop.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
  crates/oxc_linter/src/rules/typescript/no_non_null_asserted_optional_chain.rs
  crates/oxc_linter/src/rules/unicorn/no_thenable.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_slice.rs
  crates/oxc_linter/src/rules/vitest/no_conditional_tests.rs
  crates/oxc_linter/src/utils/express.rs
  crates/oxc_semantic/tests/integration/scopes.rs
  crates/oxc_semantic/tests/integration/util/class_tester.rs
Labels: A-linter, A-semantic

#5520 ci: fix paths in the `.generated_ast_watch_list.yml`.
  .github/.generated_ast_watch_list.yml
  tasks/ast_tools/src/main.rs
Labels: A-ast-tools

#5523 fix(regular_expression): Handle unterminated character class
  crates/oxc_regular_expression/src/body_parser/mod.rs
  crates/oxc_regular_expression/src/body_parser/parser.rs
Labels: 0-merge

#5495 feat(transformer): add `TransformOptions::enable_all` method
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/options/transformer.rs
  tasks/benchmark/benches/transformer.rs
Labels: A-transformer

#5518 perf(transformer): memoize rope instance
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/utils.rs
Labels: A-transformer, 0-merge

#5519 refactor(ast_tools): add some minimal logging.
  .github/.generated_ast_watch_list.yml
  tasks/ast_tools/src/codegen.rs
  tasks/ast_tools/src/main.rs
Labels: 0-merge, A-ast-tools

#5525 fix(semantic): incorrect reference when `MemberExpression` used in `TSPropertySignature`
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/fixtures/oxc/type-declarations/signatures/property-with-type-import.snap
  crates/oxc_semantic/tests/fixtures/oxc/type-declarations/signatures/property-with-type-import.ts
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/signatures/property-computed-name2.snap
  tasks/coverage/semantic_typescript.snap
Labels: A-semantic, 0-merge

#5470 fix(linter): Don't mark binding rest elements as unused in TS function overloads
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
  crates/oxc_linter/src/snapshots/no_unused_vars@oxc-functions.snap
Labels: C-bug, A-linter

#5513 docs(linter): update docs `Examples` for linter rules
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_linter/src/rules/import/no_amd.rs
  crates/oxc_linter/src/rules/import/no_default_export.rs
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/rules/jsdoc/check_property_names.rs
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
  crates/oxc_linter/src/rules/jsdoc/implements_on_classes.rs
  crates/oxc_linter/src/rules/jsdoc/no_defaults.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_name.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_type.rs
  crates/oxc_linter/src/rules/jsdoc/require_property.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_name.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_type.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns_type.rs
  crates/oxc_linter/src/rules/jsdoc/require_yields.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/rules/oxc/bad_char_at_comparison.rs
  crates/oxc_linter/src/rules/oxc/bad_replace_all_arg.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/rules/typescript/consistent_indexed_object_style.rs
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/rules/unicorn/error_message.rs
  crates/oxc_linter/src/rules/unicorn/escape_case.rs
  crates/oxc_linter/src/rules/unicorn/explicit_length_check.rs
  crates/oxc_linter/src/rules/unicorn/new_for_builtins.rs
  crates/oxc_linter/src/rules/unicorn/no_abusive_eslint_disable.rs
  crates/oxc_linter/src/rules/unicorn/no_document_cookie.rs
  crates/oxc_linter/src/rules/unicorn/no_hex_escape.rs
  crates/oxc_linter/src/rules/unicorn/no_nested_ternary.rs
  crates/oxc_linter/src/rules/unicorn/no_new_array.rs
  crates/oxc_linter/src/rules/unicorn/no_this_assignment.rs
  crates/oxc_linter/src/rules/unicorn/no_typeof_undefined.rs
  crates/oxc_linter/src/rules/unicorn/no_unreadable_iife.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_promise_resolve_reject.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_switch_case.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_undefined.rs
  crates/oxc_linter/src/rules/unicorn/number_literal_case.rs
  crates/oxc_linter/src/rules/unicorn/prefer_add_event_listener.rs
  crates/oxc_linter/src/rules/unicorn/prefer_code_point.rs
  crates/oxc_linter/src/rules/unicorn/prefer_date_now.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_append.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_remove.rs
  crates/oxc_linter/src/rules/unicorn/prefer_includes.rs
  crates/oxc_linter/src/rules/unicorn/prefer_native_coercion_functions.rs
  crates/oxc_linter/src/rules/unicorn/prefer_number_properties.rs
  crates/oxc_linter/src/rules/unicorn/prefer_prototype_methods.rs
  crates/oxc_linter/src/rules/unicorn/prefer_set_size.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
  crates/oxc_linter/src/rules/unicorn/require_number_to_fixed_digits_argument.rs
  crates/oxc_linter/src/rules/unicorn/throw_new_error.rs
Labels: A-linter, C-docs

#5501 fix(transformer): RegExp transform handle `Term::Quantifier`
  crates/oxc_transformer/src/regexp/mod.rs
  tasks/transform_conformance/tests/esbuild-tests/test/fixtures/regexp/all-regex-plugins-enabled-by-targets/input.js
  tasks/transform_conformance/tests/esbuild-tests/test/fixtures/regexp/all-regex-plugins-enabled-by-targets/output.js
  tasks/transform_conformance/tests/esbuild-tests/test/fixtures/regexp/transform-named-capturing-groups-regex/input.js
  tasks/transform_conformance/tests/esbuild-tests/test/fixtures/regexp/transform-named-capturing-groups-regex/output.js
  tasks/transform_conformance/tests/esbuild-tests/test/fixtures/regexp/transform-unicode-property-regex/input.js
  tasks/transform_conformance/tests/esbuild-tests/test/fixtures/regexp/transform-unicode-property-regex/output.js
Labels: A-transformer, 0-merge

#5504 refactor(transformer): RegExp transform unbox early
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5508 fix(transformer): RegExp transform only set span on final expression
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer

#5514 docs(transformer): comment on RegExp transform for potential improvement
  crates/oxc_transformer/src/regexp/mod.rs
Labels: A-transformer, 0-merge

#5536 test(transformer): move RegExp transform conformance tests
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/constants.rs
  tasks/transform_conformance/tests/regexp/test/fixtures/all-regex-plugins-enabled-by-targets/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/all-regex-plugins-enabled-by-targets/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/all-regex-plugins-enabled-by-targets/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/igm/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/igm/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/igm/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-dotall-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-dotall-regex/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-dotall-regex/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-named-capturing-groups-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-named-capturing-groups-regex/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-named-capturing-groups-regex/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-sticky-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-sticky-regex/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-sticky-regex/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-property-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-property-regex/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-property-regex/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-regex/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-regex/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-sets-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-sets-regex/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-sets-regex/output.js
Labels: A-transformer, 0-merge

#5537 test(transformer): add trailing line breaks to conformance fixtures
  tasks/transform_conformance/tests/babel-plugin-transform-arrow-functions/test/fixtures/use-this-inside-blocks/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-arrow-functions/test/fixtures/use-this-inside-blocks/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-optional-catch-binding/test/fixtures/try-catch-shadow/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-optional-catch-binding/test/fixtures/try-catch-shadow/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/can-handle-implicit-arrow-returns/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/can-handle-implicit-arrow-returns/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/does-not-consider-require-like-methods-to-be-hocs/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/does-not-get-tripped-by-iifes/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/generates-signatures-for-function-declarations-calling-hooks/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/generates-signatures-for-function-expressions-calling-hooks/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/generates-signatures-for-function-expressions-calling-hooks/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/generates-valid-signature-for-exotic-ways-to-call-hooks/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-complex-definitions/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-higher-order-functions-that-are-not-hocs/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-hoc-definitions/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-unnamed-function-declarations/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-unnamed-function-declarations/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/includes-custom-hooks-into-the-signatures-when-commonjs-target-is-used/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/includes-custom-hooks-into-the-signatures-when-commonjs-target-is-used/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/includes-custom-hooks-into-the-signatures/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/only-registers-pascal-case-functions/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/only-registers-pascal-case-functions/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-capitalized-identifiers-in-hoc-calls/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-identifiers-used-in-jsx-at-definition-site/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-identifiers-used-in-react-create-element-at-definition-site/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-identifiers-used-in-react-create-element-at-definition-site/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-likely-hocs-with-inline-functions-1/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-likely-hocs-with-inline-functions-2/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-likely-hocs-with-inline-functions-2/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-likely-hocs-with-inline-functions-3/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-exported-function-declarations/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-exported-function-declarations/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-exported-named-arrow-functions/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-function-declarations/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-function-declarations/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-variable-declarations-with-arrow-functions/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-variable-declarations-with-function-expressions/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/supports-typescript-namespace-syntax/input.tsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/supports-typescript-namespace-syntax/output.ts
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/uses-custom-identifiers-for-refresh-reg-and-refresh-sig/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/uses-original-function-declaration-if-it-get-reassigned/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/computed-constant-value/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/elimination-declare/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/elimination-declare/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/export-elimination/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/export-elimination/output.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/redeclarations/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/redeclarations/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/all-regex-plugins-enabled-by-targets/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/all-regex-plugins-enabled-by-targets/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/igm/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/igm/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/igm/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-dotall-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-dotall-regex/output.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-sticky-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-regex/input.js
  tasks/transform_conformance/tests/regexp/test/fixtures/transform-unicode-sets-regex/output.js
Labels: A-transformer, 0-merge

#5540 style(editors): add trailing newline to `.prettierignore`
  editors/vscode/.prettierignore
Labels: 0-merge

#5535 feat(linter/eslint): implement no-alert
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_alert.rs
  crates/oxc_linter/src/snapshots/no_alert.snap
Labels: A-linter, 0-merge

#5542 style: add trailing line breaks to `package.json` files
  crates/oxc_linter/fixtures/import/package-named/package.json
  crates/oxc_linter/fixtures/import/package/package.json
  editors/vscode/package.json
  npm/oxc-parser/package.json
  npm/oxc-transform/package.json
  npm/oxlint/package.json
  tasks/coverage/src/runtime/package.json
Labels: A-linter, 0-merge

#5544 style: add trailing line breaks to JSON files
  apps/oxlint/fixtures/tsconfig/tsconfig.json
  crates/oxc_linter/fixtures/import/data.json
Labels: A-linter, A-cli, 0-merge

#5541 test: add trailing line breaks to conformance fixtures
  crates/oxc_isolated_declarations/tests/fixtures/arrow-function-return-type.ts
  crates/oxc_isolated_declarations/tests/fixtures/as-const.ts
  crates/oxc_isolated_declarations/tests/fixtures/async-function.ts
  crates/oxc_isolated_declarations/tests/fixtures/declare-global.ts
  crates/oxc_isolated_declarations/tests/fixtures/eliminate-imports.ts
  crates/oxc_isolated_declarations/tests/fixtures/empty-export.ts
  crates/oxc_isolated_declarations/tests/fixtures/empty-export2.ts
  crates/oxc_isolated_declarations/tests/fixtures/expando-function.ts
  crates/oxc_isolated_declarations/tests/fixtures/function-overloads.ts
  crates/oxc_isolated_declarations/tests/fixtures/function-parameters.ts
  crates/oxc_isolated_declarations/tests/fixtures/generator.ts
  crates/oxc_isolated_declarations/tests/fixtures/infer-expression.ts
  crates/oxc_isolated_declarations/tests/fixtures/infer-return-type.ts
  crates/oxc_isolated_declarations/tests/fixtures/infer-template-literal.ts
  crates/oxc_isolated_declarations/tests/fixtures/mapped-types.ts
  crates/oxc_isolated_declarations/tests/fixtures/non-exported-binding-elements.ts
  crates/oxc_isolated_declarations/tests/fixtures/set-get-accessor.ts
  crates/oxc_linter/fixtures/import/constants/index.js
  crates/oxc_linter/fixtures/import/deep-deprecated.js
  crates/oxc_linter/fixtures/import/deep-es7/d.js
  crates/oxc_linter/fixtures/import/deep/a.js
  crates/oxc_linter/fixtures/import/deep/c.js
  crates/oxc_linter/fixtures/import/deep/d.js
  crates/oxc_linter/fixtures/import/deep/default.js
  crates/oxc_linter/fixtures/import/empty-folder/anchor.txt
  crates/oxc_linter/fixtures/import/issue-195/Users.js
  crates/oxc_linter/fixtures/import/issue-370-commonjs-namespace/bar.js
  crates/oxc_linter/fixtures/import/issue-370-commonjs-namespace/foo.js
  crates/oxc_linter/fixtures/import/issue210.config.js
  crates/oxc_linter/fixtures/import/issue210.js
  crates/oxc_linter/fixtures/import/jsx/bar/baz.jsx
  crates/oxc_linter/fixtures/import/jsx/bar/index.js
  crates/oxc_linter/fixtures/import/jsx/bar/qux.jsx
  crates/oxc_linter/fixtures/import/jsx/re-export.js
  crates/oxc_linter/fixtures/import/named-trampoline.js
  crates/oxc_linter/fixtures/import/narcissist.js
  crates/oxc_linter/fixtures/import/no-unused-modules/file-destructured-2.js
  crates/oxc_linter/fixtures/import/no-unused-modules/file-p.js
  crates/oxc_linter/fixtures/import/node_modules/es6-module/index.js
  crates/oxc_linter/fixtures/import/node_modules/eslint-import-resolver-foo/index.js
  crates/oxc_linter/fixtures/import/oxc/indirect-export.js
  crates/oxc_linter/fixtures/import/test-module/index.js
  crates/oxc_linter/fixtures/import/test.giffy
  crates/oxc_linter/fixtures/import/unused-modules-reexport-crash/src/index.tsx
  crates/oxc_linter/fixtures/import/unused-modules-reexport-crash/src/magic/test.js
  crates/oxc_linter/fixtures/import/webpack.empty.config.js
  crates/oxc_semantic/tests/fixtures/oxc/jsx/element-name.jsx
  crates/oxc_semantic/tests/fixtures/oxc/jsx/member-expression.jsx
  crates/oxc_semantic/tests/fixtures/typescript-eslint/catch/scope.ts
  tasks/coverage/misc/fail/oxc-1942-1.ts
  tasks/coverage/misc/fail/oxc-1942-2.ts
  tasks/coverage/misc/fail/oxc-2394.ts
  tasks/coverage/misc/fail/oxc-4212-1.ts
  tasks/coverage/misc/fail/oxc-5036.js
  tasks/coverage/misc/pass/oxc-2394.ts
  tasks/coverage/misc/pass/oxc-3443.tsx
  tasks/coverage/src/runtime/runtime.js
Labels: A-linter, A-semantic, 0-merge, A-isolated-declarations

#5430 feat(linter/eslint): implement `sort-vars` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/sort_vars.rs
  crates/oxc_linter/src/snapshots/sort_vars.snap
Labels: C-enhancement, A-linter

#5539 docs(sourcemap): add trailing newline to README
  crates/oxc_sourcemap/README.md
Labels: 0-merge

#5547 refactor(ast): inline `AstKind::as_*` methods
  crates/oxc_ast/src/generated/ast_kind.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: A-ast, 0-merge, A-ast-tools

#5548 fix(linter/tree-shaking): align JSXMemberExpression's report
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter, 0-merge

#5549 refactor(linter): deduplicate code in `oxc/no-async-await`
  crates/oxc_linter/src/rules/oxc/no_async_await.rs
Labels: A-linter, C-cleanup, 0-merge

#5543 refactor(regular_expression): Align diagnostics
  crates/oxc_regular_expression/src/body_parser/mod.rs
  crates/oxc_regular_expression/src/body_parser/parser.rs
  crates/oxc_regular_expression/src/diagnostics.rs
  crates/oxc_regular_expression/src/flag_parser.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_regular_expression/src/literal_parser.rs
Labels: 0-merge

#5551 fix(codegen): do not print trailing commas for `ArrayExpression`
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/pure_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/ts.snap
  crates/oxc_codegen/tests/integration/unit.rs
  tasks/coverage/codegen_runtime_test262.snap
Labels: A-codegen, 0-merge

#5553 refactor(semantic)!: remove `source_type` argument from `SemanticBuilder::new`
  crates/oxc/src/compiler.rs
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_mangler/src/lib.rs
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/tests/plugins/inject_global_variables.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/src/post_transform_checker.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_semantic/tests/main.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_wasm/src/lib.rs
  napi/transform/src/transformer.rs
  tasks/benchmark/benches/linter.rs
  tasks/benchmark/benches/semantic.rs
  tasks/benchmark/benches/transformer.rs
Labels: A-linter, A-semantic, A-minifier, A-transformer, 0-merge

#5555 fix(coverage): apply `always_strict` to test262 and typescript per the specifcation
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_span/src/source_type/types.rs
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/src/suite.rs
  tasks/coverage/src/test262/mod.rs
  tasks/coverage/src/typescript/mod.rs
  tasks/website/src/linter/rules/test.rs
Labels: A-ast, 0-merge

#5554 refactor(transformer): shorten code in JSX transform
  crates/oxc_transformer/src/react/jsx.rs
Labels: A-transformer, 0-merge

#5561 test(linter/no-useless-spread): ensure spreads on identifiers pass
  crates/oxc_linter/src/rules/unicorn/no_useless_spread/mod.rs
Labels: A-linter, 0-merge

#4745 feat(linter): implement typescript/no-magic-numbers
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_magic_numbers.rs
  crates/oxc_linter/src/snapshots/no_magic_numbers.snap
Labels: C-enhancement, A-linter

#5565 fix(linter): typescript/no-magic-numbers: remove double minus for reporting negative bigint numbers
  crates/oxc_linter/src/rules/typescript/no_magic_numbers.rs
  crates/oxc_linter/src/snapshots/no_magic_numbers.snap
Labels: A-linter

#5556 feat(ast): add `JSXElementName::get_identifier` method
  crates/oxc_ast/src/ast_impl/jsx.rs
Labels: A-ast, 0-merge

#5558 feat(semantic): add `SymbolTable::delete_resolved_reference` method
  crates/oxc_semantic/src/symbol.rs
Labels: A-semantic, 0-merge

#5559 feat(traverse): add methods for deleting references
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-semantic, A-ast, 0-merge

#5560 fix(transformer): JSX transform delete references for `JSXClosingElement`s
  crates/oxc_transformer/src/react/jsx.rs
  tasks/coverage/semantic_babel.snap
  tasks/coverage/semantic_misc.snap
  tasks/coverage/semantic_typescript.snap
  tasks/transform_conformance/babel.snap.md
Labels: A-semantic, A-ast, A-transformer, 0-merge

#5574 refactor(ast_tools): remove unsafe code from logger.
  tasks/ast_tools/src/main.rs
Labels: 0-merge, A-ast-tools

#5576 fix(ast_tools, ci): watch `tasks/ast_tools` instead of `tasks/ast_codegen`.
  .github/.generated_ast_watch_list.yml
  tasks/ast_tools/src/main.rs
Labels: hotfix, A-ast-tools

#5573 refactor(ast_tools): only use type names to ignore fields in the `DeriveContentHash`.
  tasks/ast_tools/src/derives/content_hash.rs
Labels: 0-merge, A-ast-tools

#5577 refactor: enable clippy::ref_as_ptr
  Cargo.toml
  crates/oxc_ast/src/ast/macros.rs
  crates/oxc_index/src/idxslice.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_switch_case.rs
  crates/oxc_linter/src/rules/unicorn/prefer_event_target.rs
  crates/oxc_linter/src/rules/unicorn/prefer_regexp_test.rs
  crates/oxc_traverse/scripts/lib/walk.mjs
  crates/oxc_traverse/src/generated/walk.rs
  crates/oxc_traverse/src/lib.rs
Labels: A-linter, A-ast

#5571 feat(oxc_wasm): add `controlFlowDotString` to `oxc_wasm`
  crates/oxc_wasm/src/lib.rs
Labels: 0-merge

#5557 feat(oxc)!: add `SourceType::Unambiguous`; parse `.js` as unambiguous
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_span/src/source_type/types.rs
  tasks/coverage/misc/fail/oxc.js
  tasks/coverage/parser_misc.snap
Labels: A-parser, A-semantic, A-transformer, 0-merge

#5575 fix(coverage): parse typescript unambiguously
  tasks/coverage/parser_typescript.snap
  tasks/coverage/semantic_typescript.snap
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/transformer_typescript.snap
Labels: 0-merge

#5579 fix(coverage): parse babel unambiguously
  crates/oxc_transformer/src/options/babel.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/babel-16776-m.js
  tasks/coverage/misc/pass/babel-16776-s.js
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_misc.snap
  tasks/coverage/semantic_babel.snap
  tasks/coverage/semantic_misc.snap
  tasks/coverage/src/babel/mod.rs
  tasks/coverage/transformer_misc.snap
Labels: A-transformer, 0-merge

#5580 test(linter): add a passing case to no_undef
  crates/oxc_linter/src/rules/eslint/no_undef.rs
Labels: A-linter

#5582 fix(linter): fix no_unused_vars panic when encountering unicode
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers/mod.rs
Labels: A-linter, 0-merge

#5584 perf(linter): add `should_run` to check path only once to nextjs/no_typos
  crates/oxc_linter/src/rules/nextjs/no_typos.rs
Labels: A-linter

#5585 perf(linter): make `jsx_key` slightly faster
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter

#5443 feat(linter): implement `eslint/no-invalid-regexp`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_invalid_regexp.rs
  crates/oxc_linter/src/snapshots/no_invalid_regexp.snap
Labels: A-linter, 0-merge

#5589 fix(transform_conformance): only print semantic mismatch errors when output is correct
  crates/oxc_transformer/src/options/babel.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/driver.rs
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#5588 refactor(linter): jest prefer_strict_equal
  crates/oxc_linter/src/rules/jest/prefer_strict_equal.rs
Labels: A-linter, 0-merge

#5591 docs(linter): fix typos
  crates/oxc_linter/src/fixer/fix.rs
Labels: A-linter

#5593 refactor(linter): make fields of `LintServiceOptions` private
  apps/oxlint/src/lint/mod.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#5550 test(linter): add class method test cases for `oxc/no-async-await`
  crates/oxc_linter/src/rules/oxc/no_async_await.rs
  crates/oxc_linter/src/snapshots/no_async_await.snap
Labels: A-linter, 0-merge

#5599 chore(dprint): format toml files
  .cargo/config.toml
  .github/workflows/autofix.yml
  .taplo.toml
  .typos.toml
  Cargo.toml
  apps/oxlint/Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_cfg/Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_macros/Cargo.toml
  crates/oxc_mangler/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_prettier/Cargo.toml
  crates/oxc_regular_expression/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_sourcemap/Cargo.toml
  crates/oxc_span/Cargo.toml
  crates/oxc_syntax/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_traverse/Cargo.toml
  crates/oxc_wasm/Cargo.toml
  deny.toml
  dprint.json
  justfile
  napi/parser/Cargo.toml
  napi/transform/Cargo.toml
  tasks/ast_tools/Cargo.toml
  tasks/benchmark/Cargo.toml
  tasks/common/Cargo.toml
  tasks/coverage/Cargo.toml
  tasks/javascript_globals/Cargo.toml
  tasks/minsize/Cargo.toml
  tasks/prettier_conformance/Cargo.toml
  tasks/rulegen/Cargo.toml
  tasks/transform_conformance/Cargo.toml
  tasks/website/Cargo.toml
  wasm/parser/Cargo.toml
Labels: A-linter, A-parser, A-semantic, A-cli, A-minifier, A-ast, A-transformer, A-codegen, A-prettier, 0-merge, A-cfg, A-isolated-declarations, A-ast-tools

#5603 style(traverse): remove excess line break
  crates/oxc_traverse/src/context/scoping.rs
Labels: 0-merge

#5604 docs(traverse): correct code comment
  crates/oxc_traverse/src/context/scoping.rs
Labels: 0-merge

#5607 docs(traverse): correct code comment 2
  crates/oxc_traverse/src/context/scoping.rs
Labels: 0-merge

#5606 feat(span)!: change `SourceType::js` to `SourceType::cjs` and `SourceType::mjs`
  crates/oxc_codegen/tests/integration/tester.rs
  crates/oxc_codegen/tests/integration/ts.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_linter/src/partial_loader/astro.rs
  crates/oxc_linter/src/partial_loader/svelte.rs
  crates/oxc_linter/src/partial_loader/vue.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_module_lexer/tests/esm.rs
  crates/oxc_module_lexer/tests/typescript.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_span/src/source_type/mod.rs
  tasks/website/src/linter/rules/test.rs
Labels: A-linter, A-parser, A-semantic, A-minifier, A-codegen, 0-merge, A-isolated-declarations

#5609 refactor(span): move `CompactStr` into separate file
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/compact_str.rs
  crates/oxc_span/src/lib.rs
Labels: 0-merge

#5610 feat(span): `format_compact_str!` macro
  crates/oxc_span/src/compact_str.rs
  crates/oxc_span/src/lib.rs
Labels: 0-merge

#5612 fix(span): treat `.js` as `module` file (reverts the previous breaking change)
  crates/oxc_span/src/source_type/mod.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_misc.snap
  tasks/coverage/semantic_babel.snap
  tasks/coverage/semantic_misc.snap
  tasks/coverage/src/babel/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, 0-merge

#5139 refactor(oxlint): move cli-related exports to `cli` module
  apps/oxlint/src/lib.rs
  apps/oxlint/src/lint/mod.rs
  apps/oxlint/src/main.rs
  apps/oxlint/src/runner.rs
  apps/oxlint/src/walk.rs
  tasks/website/src/linter/cli.rs
Labels: A-cli, C-cleanup, 0-merge

#5602 refactor(linter): replace ast "compare by hash" to "compare by content"
  crates/oxc_linter/src/rules/eslint/no_dupe_else_if.rs
  crates/oxc_linter/src/rules/eslint/no_self_compare.rs
Labels: A-linter

#5617 refactor(linter): rename `Rule` trait method params
  crates/oxc_linter/src/rule.rs
Labels: A-linter, 0-merge

#5625 test(traverse): enable tests for `oxc_traverse` crate
  crates/oxc_traverse/Cargo.toml
Labels: 0-merge

#5615 fix(linter): `react/no_set_state` + `react/no_string_refs` rules find correct parent
  crates/oxc_linter/src/rules/react/no_set_state.rs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter, 0-merge

#5616 perf(linter): `react/no_set_state` + `react/no_string_refs` rules reduce iteration over ancestors
  crates/oxc_linter/src/rules/react/no_set_state.rs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter, 0-merge

#5618 perf(linter): `eslint/no_shadow_restricted_names` use `run_on_symbol`
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
Labels: A-linter, 0-merge

#5620 refactor(semantic)!: remove `SymbolTable::iter_rev`
  crates/oxc_semantic/src/symbol.rs
Labels: A-semantic, 0-merge
