Repository oxc-project/oxc, pull requests merged in 2024-01, with the labels that each got.

#1867 feat(linter): eslint-plugin-jsx-a11y mouse-events-have-key-events(correctness)
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/mouse_events_have_key_events.rs
  crates/oxc_linter/src/snapshots/mouse_events_have_key_events.snap
Labels: A-linter

#1860 fix(parser): error on source larger than 4 GiB
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lib.rs
Labels: A-parser

#1831 feat(linter): eslint-plugin-jsx-a11y prefer-tag-over-role rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/prefer_tag_over_role.rs
  crates/oxc_linter/src/snapshots/prefer_tag_over_role.snap
Labels: A-linter

#1874 fix(parser): terminate parsing if an EmptyParenthesizedExpression error occurs
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#1840 refactor(semantic): check duplicate parameters in Binder of FormalParameters
  crates/oxc_linter/src/rules/unicorn/no_array_for_each.rs
  crates/oxc_linter/src/snapshots/no_array_for_each.snap
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-semantic

#1882 feat(playground): visualize scope
  crates/oxc_semantic/src/scope.rs
  crates/oxc_wasm/src/lib.rs
  crates/oxc_wasm/src/options.rs
  website/playground/index.html
  website/playground/index.js
Labels: A-semantic

#1878 Prioritize ignored paths when linting
  crates/oxc_cli/fixtures/linter/.customignore
  crates/oxc_cli/src/lint/mod.rs
Labels: A-cli

#1876 refactor(linter): get js code slice from source code
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/vue_partial_loader.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter

#1886 feat(playground): visualize symbol
  Cargo.lock
  crates/oxc/Cargo.toml
  crates/oxc_index/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/symbol.rs
  crates/oxc_wasm/src/lib.rs
  crates/oxc_wasm/src/options.rs
  website/playground/editor.js
  website/playground/index.html
  website/playground/index.js
  website/playground/symbols.js
Labels: A-semantic

#1889 refactor(cli): improve the code around lint-staged handling
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/result.rs
Labels: A-cli

#1891 feat(linter): do not lint when vue file has no js section
  crates/oxc_cli/fixtures/vue/debugger.vue
  crates/oxc_cli/fixtures/vue/empty.vue
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter, A-cli

#1885 fix(parser): fix incorrectly identified directives
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lib.rs
Labels: A-parser

#1893 feat(linter): support astro front matter `---` block
  crates/oxc_cli/fixtures/astro/debugger.astro
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/partial_loader/astro_partial_loader.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/vue_partial_loader.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter, A-cli

#1877 feat(linter): no irregular whitespace
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_irregular_whitespace.rs
  crates/oxc_linter/src/snapshots/no_irregular_whitespace.snap
Labels: A-linter

#1895 perf(linter) reduce the number of diagnostics for no_sparse_arrays
  crates/oxc_linter/src/rules/eslint/no_sparse_arrays.rs
  crates/oxc_linter/src/snapshots/no_sparse_arrays.snap
Labels: A-linter

#1897 feat(linter): add support for multiple script tags from vue and stro
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/partial_loader/astro_partial_loader.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/vue_partial_loader.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter

#1898 feat(linter): parse multiple script tags in astro file
  crates/oxc_cli/fixtures/astro/debugger.astro
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/partial_loader/astro_partial_loader.rs
Labels: A-linter, A-cli

#1899 feat(linter): parse two script tags from vue
  crates/oxc_cli/fixtures/vue/debugger.vue
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/vue_partial_loader.rs
Labels: A-linter, A-cli

#1900 fix(linter): do not check empty file for vue / astro files
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
Labels: A-linter

#1902 refactor(semantic): improve ClassTable implmention and merge properties and methods to elements
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/class/builder.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/tests/classes.rs
  crates/oxc_semantic/tests/util/class_tester.rs
  crates/oxc_syntax/src/class.rs
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-semantic

#1904 fix(linter): fix vue parser not working for multiple scripts after <template>
  crates/oxc_linter/src/partial_loader/vue_partial_loader.rs
Labels: A-linter

#1906 feat(semantic): add current_scope_flags function in SemanticBuilder
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#1907 feat(semantic): allow reserved keyword defined in ts module block
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_syntax/src/scope.rs
  tasks/coverage/parser_typescript.snap
Labels: A-semantic

#1909 feat(linter): allow "-c" configuration
  crates/oxc_cli/fixtures/eslintrc_off/eslintrc.json
  crates/oxc_cli/fixtures/eslintrc_off/test.js
  crates/oxc_cli/fixtures/no_empty_allow_empty_catch/eslintrc.json
  crates/oxc_cli/fixtures/no_empty_allow_empty_catch/test.js
  crates/oxc_cli/fixtures/no_empty_disallow_empty_catch/eslintrc.json
  crates/oxc_cli/fixtures/no_empty_disallow_empty_catch/test.js
  crates/oxc_cli/src/lint/mod.rs
Labels: A-cli

#1913 fix(linter) fix eslint config for filename case
  crates/oxc_linter/src/rules/unicorn/filename_case.rs
Labels: A-linter

#1916 refactor(linter): rename *_partial_loader files
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/partial_loader/astro.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/vue.rs
Labels: A-linter

#1918 feat(linter): <script> part of svelte file
  crates/oxc_cli/fixtures/svelte/debugger.svelte
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/partial_loader/astro.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/svelte.rs
  crates/oxc_linter/src/partial_loader/vue.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter, A-cli

#1919 feat(linter): disable no-unused-labels for svelte
  crates/oxc_cli/fixtures/svelte/debugger.svelte
  crates/oxc_linter/src/rules/eslint/no_unused_labels.rs
Labels: A-linter, A-cli

#1875 feat(linter): no-unknown-property for eslint-plugin-react
  Cargo.lock
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_unknown_property.rs
  crates/oxc_linter/src/snapshots/no_unknown_property.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1923 feat(lsp): support vue, astro and svelte
  crates/oxc_language_server/src/linter.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_linter/src/partial_loader/astro.rs
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/svelte.rs
  crates/oxc_linter/src/partial_loader/vue.rs
  crates/oxc_linter/src/service.rs
  editors/vscode/client/extension.ts
  editors/vscode/package.json
Labels: A-linter

#1931 feat(linter) eslint-plugin-next google-font-display
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/nextjs/google_font_display.rs
  crates/oxc_linter/src/snapshots/google_font_display.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1932 feat(linter) eslint-plugin-next google-font-preconnect
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/google_font_preconnect.rs
  crates/oxc_linter/src/snapshots/google_font_preconnect.snap
Labels: A-linter

#1933 feat(linter) eslint-plugin-next inline-script-id
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/inline_script_id.rs
  crates/oxc_linter/src/snapshots/inline_script_id.snap
Labels: A-linter

#1934 feat(linter) eslint-plugin-next next-script-for-ga
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/next_script_for_ga.rs
  crates/oxc_linter/src/snapshots/next_script_for_ga.snap
Labels: A-linter

#1935 feat(linter) eslint-plugin-next no-assign-module-variable
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_assign_module_variable.rs
  crates/oxc_linter/src/snapshots/no_assign_module_variable.snap
Labels: A-linter

#1936 feat(linter) eslint-plugin-next no-async-client-component
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_async_client_component.rs
  crates/oxc_linter/src/snapshots/no_async_client_component.snap
Labels: A-linter

#1924 refactor(parser): parse BigInt lazily
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/token.rs
Labels: A-parser, A-ast, A-codegen, A-prettier

#1937 feat(linter) eslint-plugin-next no-css-tags
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_css_tags.rs
  crates/oxc_linter/src/snapshots/no_css_tags.snap
Labels: A-linter

#1926 refactor(parser): remove TokenValue::RegExp from `Token`
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/token.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser, A-ast

#1942 fix(parser): unexpected ts type annotation in get/set
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/misc/fail/oxc-1942-1.ts
  tasks/coverage/misc/fail/oxc-1942-2.ts
  tasks/coverage/parser_misc.snap
Labels: A-parser

#1945 refactor(parser): remove TokenValue::Number from Token
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/number.rs
  crates/oxc_parser/src/lexer/token.rs
Labels: A-parser

#1948 feat: nextjs plugin
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/rules/nextjs/google_font_display.rs
  crates/oxc_linter/src/rules/nextjs/google_font_preconnect.rs
  crates/oxc_linter/src/rules/nextjs/inline_script_id.rs
  crates/oxc_linter/src/rules/nextjs/next_script_for_ga.rs
  crates/oxc_linter/src/rules/nextjs/no_assign_module_variable.rs
  crates/oxc_linter/src/rules/nextjs/no_async_client_component.rs
  crates/oxc_linter/src/rules/nextjs/no_css_tags.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter, A-cli

#1951 feat(linter) eslint-plugin-next no-img-element
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_img_element.rs
  crates/oxc_linter/src/snapshots/no_img_element.snap
Labels: A-linter

#1950 ensure numbers without a raw are allocated during codegen
  crates/oxc_codegen/src/gen.rs
Labels: A-minifier, A-codegen, A-prettier

#1953 feat(linter) eslint-plugin-next no-sync-scripts
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_sync_scripts.rs
  crates/oxc_linter/src/snapshots/no_sync_scripts.snap
Labels: A-linter

#1954 feat(linter) eslint-plugin-next no-script-component-in-head
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_script_component_in_head.rs
  crates/oxc_linter/src/snapshots/no_script_component_in_head.snap
Labels: A-linter

#1955 feat(linter) add support for custom filenames in tests
  crates/oxc_linter/src/rules/jsx_a11y/aria_role.rs
  crates/oxc_linter/src/rules/jsx_a11y/html_has_lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_autofocus.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_distracting_elements.rs
  crates/oxc_linter/src/rules/unicorn/filename_case.rs
  crates/oxc_linter/src/snapshots/filename_case.snap
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#1957 feat(linter) eslint-plugin-next no-head-import-in-document
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_head_import_in_document.rs
  crates/oxc_linter/src/snapshots/no_head_import_in_document.snap
Labels: A-linter

#1949 feat(linter): eslint-plugin-jsx-a11y role-support-aria-props
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_support_aria_props.rs
  crates/oxc_linter/src/snapshots/role_support_aria_props.snap
Labels: A-linter

#1960 Revert "feat(linter): eslint-plugin-jsx-a11y role-support-aria-props"
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_support_aria_props.rs
  crates/oxc_linter/src/snapshots/role_support_aria_props.snap
Labels: A-linter

#1961 feat(linter): eslint-plugin-jsx-a11y role-support-aria-props
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_support_aria_props.rs
  crates/oxc_linter/src/snapshots/role_support_aria_props.snap
Labels: A-linter

#1962 refactor(parser): reduce `Token` size from 32 to 16 bytes
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/string_builder.rs
  crates/oxc_parser/src/lexer/token.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#1881 feat(linter): eslint-plugin-jsx-a11y role-has-required-aria-props rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_has_required_aria_props.rs
  crates/oxc_linter/src/snapshots/role_has_required_aria_props.snap
Labels: A-linter

#1964 fix(linter): Support cases where aria-hidden includes expressions
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1946 feat(linter): implement react/require-render-return
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/snapshots/require_render_return.snap
Labels: A-linter

#1971 refactor(linter): remove duplicate `get_jsx_attribute_name`
  crates/oxc_linter/src/rules/jsx_a11y/aria_props.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_unsupported_elements.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_support_aria_props.rs
  crates/oxc_linter/src/rules/react/no_unknown_property.rs
  crates/oxc_linter/src/utils/jsx_a11y.rs
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#1972 fix(linter): fix plugin name parsing when reading config file
  crates/oxc_linter/fixtures/eslint_config.json
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/snapshots/oxc_linter__config__test__parse_rules.snap
Labels: A-linter

#1968 refactor(formatter,linter,codegen): remove oxc_formatter
  .github/codecov.yml
  .github/workflows/conformance.yml
  Cargo.lock
  Cargo.toml
  MAINTENANCE.md
  crates/oxc/Cargo.toml
  crates/oxc/src/lib.rs
  crates/oxc_codegen/src/context.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_formatter/Cargo.toml
  crates/oxc_formatter/README.md
  crates/oxc_formatter/examples/formatter.rs
  crates/oxc_formatter/src/gen.rs
  crates/oxc_formatter/src/lib.rs
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/eslint/no_unsafe_negation.rs
  crates/oxc_linter/src/rules/jest/prefer_todo.rs
  crates/oxc_linter/src/rules/unicorn/no_instanceof_array.rs
  crates/oxc_linter/src/rules/unicorn/no_unnecessary_await.rs
  crates/oxc_linter/src/rules/unicorn/require_number_to_fixed_digits_argument.rs
  crates/oxc_linter/src/rules/unicorn/switch_case_braces.rs
  crates/oxc_wasm/Cargo.toml
  crates/oxc_wasm/src/lib.rs
  crates/oxc_wasm/src/options.rs
  website/playground/index.js
Labels: A-linter, A-codegen

#1966 feat(linter): support overriding oxlint rules by eslint config
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/snapshots/oxc_linter__config__test__parse_rules.snap
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter, A-cli

#1892 feat(linter): eslint-plugin-react: no-direct-mutation-state
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_direct_mutation_state.rs
  crates/oxc_linter/src/snapshots/no_direct_mutation_state.snap
Labels: A-linter

#1901 feat(linter): eslint-plugin-jsx-a11y autocomplete-valid
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/autocomplete_valid.rs
  crates/oxc_linter/src/snapshots/autocomplete_valid.snap
Labels: A-linter

#1967 feat(transform): support es2015 new target
  crates/oxc_semantic/src/scope.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/es2015/new_target.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-semantic, A-transformer

#1983 fix(linter): handle anonymous functional components in arrays that have a function body
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter

#1903 feat(linter): implement @typescript-eslint/triple-slash-reference
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_linter/src/snapshots/triple_slash_reference.snap
Labels: A-linter

#1984 fix(linter): allow eslintrc to add rule when overriding
  crates/oxc_cli/fixtures/no_undef/eslintrc.json
  crates/oxc_cli/fixtures/no_undef/test.js
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter, A-cli

#1989 feat(linter): support vue generic component
  crates/oxc_cli/fixtures/vue/debugger.vue
  crates/oxc_linter/src/partial_loader/vue.rs
Labels: A-linter, A-cli

#1992 feat(linter): add support for same rule name but different plugin names
  crates/oxc_cli/fixtures/typescript_eslint/eslintrc.json
  crates/oxc_cli/fixtures/typescript_eslint/test.js
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter, A-cli

#1979 feat(linter): eslint-plugin-jest: no-test-return-statement
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_test_return_statement.rs
  crates/oxc_linter/src/snapshots/no_test_return_statement.snap
Labels: A-linter

#1994 feat(transformer): support for transform TSImportEqualsDeclaration
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#1998 feat(ast): visit TSModuleReference
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  tasks/coverage/parser_typescript.snap
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#1999 refactor(parser): reduce work parsing regexps
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#1990 feat(transformer): call enter_node/leave_node in visit_xxx
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

#2000 fix: default visitor should visit prop init at `visit_object_property`
  crates/oxc_ast/src/visit_mut.rs
Labels: A-ast

#2002 refactor(parser): remove string builder from number parsing
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2005 refactor(parser): only allocate for escaped template strings
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/token.rs
Labels: A-parser

#2007 fix(parser): restore regex flag parsing
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2009 fix(linter) fix false positive for `erasing-op` in `0/0` case
  crates/oxc_linter/src/rules/oxc/erasing_op.rs
Labels: A-linter

#2008 refactor(parser): remove extraneous code from regex parsing
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2010 perf(parser): reduce `Token` size from 16 to 12 bytes
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/token.rs
Labels: A-parser

#2001 feat(transformer/typescript): remove import if only have type reference
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-semantic, A-transformer

#1976 feat(linter): eslint-plugin-jsx-a11y click-events-have-key-events
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/click_events_have_key_events.rs
  crates/oxc_linter/src/snapshots/click_events_have_key_events.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#2018 fix(prettier): Correctly format call expression arguments
  crates/oxc_prettier/src/format/call_expression.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#2015 feat(transformer/typescript): remove export specifier that import_kind is type
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2014 fix(prettier): Correctly print export declaration
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#2021 feat(ast): visit TSTypeQuery
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
Labels: A-ast

#1978 feat(linter): implement @next/next/no-typos
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_typos.rs
  crates/oxc_linter/src/snapshots/no_typos.snap
Labels: A-linter

#2006 feat(linter): implement @next/next/no-head-element
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_head_element.rs
  crates/oxc_linter/src/snapshots/no_head_element.snap
Labels: A-linter

#1997 feat(linter): implement @next/next/no-document-import-in-page
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/nextjs/no_document_import_in_page.rs
  crates/oxc_linter/src/snapshots/no_document_import_in_page.snap
Labels: A-linter

#2025 perf(parser): lexer match byte not char
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2012 feat(linter): eslint-plugin-jsx-a11y aria-activedescendant-has-tabindex
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_activedescendant_has_tabindex.rs
  crates/oxc_linter/src/snapshots/aria_activedescendant_has_tabindex.snap
Labels: A-linter

#2028 refactor(parser): remove noop code
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#1981 feat(linter): eslint-plugin-jsx-a11y no-redundant-roles rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_redundant_roles.rs
  crates/oxc_linter/src/snapshots/no_redundant_roles.snap
Labels: A-linter

#2003 Commutative undefined minify
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/tests/closure/fold_constants.rs
  crates/oxc_minifier/tests/oxc/folding.rs
Labels: A-minifier

#2031 fix(linter): keep rules disabled if the rule is not enabled in the config
  crates/oxc_cli/fixtures/no_console_off/eslintrc.json
  crates/oxc_cli/fixtures/no_console_off/test.js
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/config/mod.rs
Labels: A-linter, A-cli

#2032 fix(linter): false positive for filename_case where filename doesn't have a proper casing
  crates/oxc_linter/src/rules/unicorn/filename_case.rs
Labels: A-linter

#2037 ci: use miri to parser detect memory leak
  .github/workflows/miri.yml
  crates/oxc_parser/src/lib.rs
Labels: A-parser

#2046 perf(parser): lexer byte handlers consume ASCII chars faster
  Cargo.lock
  Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2040 build(linter): add new-react-perf rulegen task
  justfile
  tasks/rulegen/src/main.rs
  tasks/rulegen/src/template.rs
Labels: A-linter

#2039 refactor(parser): lexer handle unicode without branch
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2048 chore: say good bye to ezno
  .github/dependabot.yml
  Cargo.lock
  README.md
  crates/oxc_cli/Cargo.toml
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lib.rs
  crates/oxc_cli/src/main.rs
  crates/oxc_cli/src/type_check/mod.rs
  crates/oxc_type_synthesis/Cargo.toml
  crates/oxc_type_synthesis/examples/check.rs
  crates/oxc_type_synthesis/examples/demo.ts
  crates/oxc_type_synthesis/src/expressions.rs
  crates/oxc_type_synthesis/src/functions.rs
  crates/oxc_type_synthesis/src/interfaces.rs
  crates/oxc_type_synthesis/src/lib.rs
  crates/oxc_type_synthesis/src/statements_and_declarations.rs
  crates/oxc_type_synthesis/src/types.rs
  crates/oxc_wasm/Cargo.toml
  crates/oxc_wasm/src/lib.rs
  website/playground/index.html
  website/playground/index.js
Labels: A-cli, A-type-checking

#2049 feat(linter): remove the `--timings` feature
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule_timer.rs
  crates/oxc_macros/src/declare_all_lint_rules/mod.rs
Labels: A-linter, A-cli

#2051 refactor(linter): remove the `LintSettings` parameter from `LintContext::new`.
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

#2052 refactor(linter): move `LintSettings` to its own file
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/settings.rs
Labels: A-linter

#2065 fix(linter): s/consistent-type-export/consistent-type-exports
  crates/oxc_linter/src/rules/typescript/consistent_type_exports.rs
  crates/oxc_linter/src/snapshots/consistent_type_exports.snap
Labels: A-linter

#2062 feat(minifier): handle more expressions for side effects
  crates/oxc_minifier/src/compressor/ast_util.rs
Labels: A-minifier

#2066 refactor(parser): macro for ASCII byte handlers
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2055 feat(transformer/typescript): remove type only imports/exports correctly
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2056 feat(transformer/typescript): remove type-related exports
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#2057 fix(semantic): incorrect reference flag
  crates/oxc_semantic/src/builder.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-semantic, A-transformer

#2058 feat(transformer/typescript): keep imports if import specifiers is empty
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2069 chore(tasks): remove redundant directory after exec
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/src/ts_fixtures.rs
Labels: A-transformer

#2067 fix(codegen): add parenthesis in binary expression by precedence
  crates/oxc_codegen/src/gen.rs
  crates/oxc_minifier/tests/oxc/precedence.rs
  crates/oxc_syntax/src/operator.rs
  crates/oxc_syntax/src/precedence.rs
Labels: A-minifier, A-codegen

#2071 fix(linter): eslint-plugin-import no-named-as-default-member rule
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
Labels: A-linter

#2072 refactor(parser): combine token kinds for skipped tokens
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2068 feat(tasks): introduce tasks/lint_rules
  Cargo.lock
  tasks/lint_rules/Cargo.toml
  tasks/lint_rules/src/main.rs
Labels: A-cli

#2074 refactor(transformer/typescript): move the ExportNamedDeclaration logic to its function
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

#2075 feat(transformer/typescript): support transform namespace
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/typescript.snap.md
Labels: A-ast, A-transformer

#2076 feat(transformer/typescript): support transform exported TSModuleBlock
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/typescript.snap.md
Labels: A-transformer

#2077 feat(transformer/typescript): support only_remove_type_imports option
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2079 feat(transformer/typescript): improve function parameters name
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/typescript.snap.md
Labels: A-transformer

#2083 feat/tasks: expose linter RULES and use it for listing
  Cargo.lock
  crates/oxc_linter/src/lib.rs
  tasks/lint_rules/Cargo.toml
  tasks/lint_rules/src/generate_list/eslint.rs
  tasks/lint_rules/src/generate_list/mod.rs
Labels: A-linter

#2084 feat(linter): improve no_redeclare rule implementation
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
  crates/oxc_linter/src/snapshots/no_redeclare.snap
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-linter, A-semantic

#2089 fix(parser): fix crash on TSTemplateLiteralType in function return position
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/oxc-2087.ts
  tasks/coverage/parser_misc.snap
Labels: A-parser, A-ast

#2092 refactor(linter): perfect the scope linter
  crates/oxc_cli/Cargo.toml
  crates/oxc_linter/src/rules/jsx_a11y/scope.rs
  crates/oxc_linter/src/snapshots/scope.snap
  crates/oxc_wasm/Cargo.toml
Labels: A-linter, A-cli

#2088 refactor(semantic): improve declare symbol logic in FormalParameters
  crates/oxc_semantic/src/binder.rs
Labels: A-semantic

#2096 refactor(parser): remove useless string builder from jsx text lexer
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2097 chore(parser): explain the reason for omitting "}" and ">" in jsx text lexer
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2100 fix(linter) panic in prefer-native-coercion-function
  crates/oxc_linter/src/rules/unicorn/prefer_native_coercion_functions.rs
Labels: A-linter

#2090 feat/linter: (eslint-plugin-jest): no-restricted-matchers
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_restricted_matchers.rs
  crates/oxc_linter/src/snapshots/no_restricted_matchers.snap
Labels: A-linter

#2106 fix(linter): not use `new_inline` with flexible str
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
Labels: A-linter

#2091 feat(linter): eslint-plugin-jest: no-restricted-jest-methods
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_restricted_jest_methods.rs
  crates/oxc_linter/src/snapshots/no_restricted_jest_methods.snap
Labels: A-linter

#2101 Benchmarks for lexer
  crates/oxc_parser/src/lexer/token.rs
  crates/oxc_parser/src/lib.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/lexer.rs
Labels: A-parser

#2112 refactor(linter): complete img-redundant linter
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
  crates/oxc_linter/src/snapshots/img_redundant_alt.snap
Labels: A-linter

#2107 feat(linter): support eslint config in nextjs eslint
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/settings.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#2086 feat(linter): eslint-plugin-react-perf
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react_perf/no_jsx_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/no_new_array_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/no_new_function_as_props.rs
  crates/oxc_linter/src/rules/react_perf/no_new_object_as_prop.rs
  crates/oxc_linter/src/snapshots/no_jsx_as_prop.snap
  crates/oxc_linter/src/snapshots/no_new_array_as_prop.snap
  crates/oxc_linter/src/snapshots/no_new_function_as_props.snap
  crates/oxc_linter/src/snapshots/no_new_object_as_prop.snap
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/react_perf.rs
Labels: A-linter

#2114 refactor(semantic): add binder for FormalParameters and RestElement, replacing the binder for FormalParameters
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-linter, A-semantic, A-ast

#2116 refactor(ast): rename RestElement to BindingRestElement
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/syntax_directed_operations/bound_names.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/typescript/no_explicit_any.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-linter, A-parser, A-semantic, A-ast, A-codegen, A-prettier

#2121 feat(linter): eslint config jsonc support
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/fixtures/eslint_config.json
  crates/oxc_linter/src/config/errors.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/snapshots/oxc_linter__config__test__parse_rules.snap
Labels: A-linter

#2119 feat: introduce --react-perf-plugin CLI flag, update rules to correctness
  crates/oxc_cli/src/command.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/rules/react_perf/no_jsx_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/no_new_array_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/no_new_function_as_props.rs
  crates/oxc_linter/src/rules/react_perf/no_new_object_as_prop.rs
  crates/oxc_linter/src/tester.rs
  npm/oxlint/README.md
Labels: A-linter, A-cli

#2123 feat(linter): promote no-new-array to correctness with better help message
  crates/oxc_linter/src/rules/unicorn/no_new_array.rs
  crates/oxc_linter/src/snapshots/no_new_array.snap
Labels: A-linter

#2124 fix(linter): allow `[...new Array(n)]` in no-useless-spread
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/snapshots/no_useless_spread.snap
Labels: A-linter

#2109 feat(linter): linter-eslint-plugin-import/no-named-as-default
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_named_as_default.rs
  crates/oxc_linter/src/snapshots/no_named_as_default.snap
Labels: A-linter

#2131 fix(transformer): always create valid identifiers
  crates/oxc_transformer/src/es2015/function_name.rs
Labels: A-transformer

#2150 feat(codegen): move string test to codegen
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
Labels: A-minifier, A-codegen

#2139 feat(transformer): add decorators plugin
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  crates/oxc_transformer/src/proposals/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-ast, A-transformer

#2145 feat(transformer/decorators): support transform the class decorators in export declaration
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#2152 feat(transformer/decorators): support version 2023-05
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#2153 refactor(ast): improve simple_assignment_target_identifier and simple_assignment_target_member_expression method
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-ast, A-transformer

#2165 fix(linter): explicit-length-check inside ternary
  crates/oxc_linter/src/rules/unicorn/explicit_length_check.rs
  crates/oxc_linter/src/snapshots/explicit_length_check.snap
  crates/oxc_linter/src/utils/unicorn/boolean.rs
Labels: A-linter

#2149 feat(linter) eslint-plugin-react/jsx-no-target-blank
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_no_target_blank.rs
  crates/oxc_linter/src/snapshots/jsx_no_target_blank.snap
Labels: A-linter
