Repository oxc-project/oxc, pull requests merged in 2024-03, with the labels that each got.

#2547 fix(ast): missing visit JSXElementName enum
  crates/oxc_ast/src/visit.rs
Labels: A-ast

#2548 feat(tasks/transformer): enable typescript when the typescript plugin is provided
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2552 refactor(parser): simplify `byte_search` macro
  crates/oxc_parser/src/lexer/search.rs
Labels: A-parser

#2546 fix(semantic): jsx reference with an incorrect node id
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/nextjs/inline_script_id.rs
  crates/oxc_linter/src/rules/nextjs/no_script_component_in_head.rs
  crates/oxc_linter/src/rules/nextjs/no_title_in_document_head.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-linter, A-semantic

#2551 feat(transformer/typescript): support transform constructor method
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2553 refactor(parser): remove start params for `byte_search` macro arms
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/search.rs
  crates/oxc_parser/src/lexer/template.rs
  crates/oxc_parser/src/lexer/whitespace.rs
Labels: A-parser

#2561 refactor(ast) improve ExportDefaultDeclarationKind's is_typescript_syntax() method
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#2554 refactor(parser): small efficiencies in `byte_search` macro usage
  crates/oxc_parser/src/lexer/comment.rs
Labels: A-parser

#2555 refactor(parser): `byte_search` macro evaluate to matched byte
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/search.rs
  crates/oxc_parser/src/lexer/string.rs
  crates/oxc_parser/src/lexer/template.rs
  crates/oxc_parser/src/lexer/whitespace.rs
Labels: A-parser

#2543 Fix getter return rule
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
Labels: A-linter, A-ast

#2566 fix(ast): rename serialized fields to camel case
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#2572 fix(parser): don't parse null as a literal type
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#2573 fix(parser): set span end for TSEnumDeclaration
  crates/oxc_parser/src/ts/statement.rs
Labels: A-parser

#2570 fix(parser): TSConditionalType span start
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#2571 fix(ast): change TSMappedType.type_annotation from TSTypeAnnotation to TSType
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, A-ast

#2577 fix(ast): support FormalParameter.override
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-parser, A-ast, A-transformer

#2565 feat(codegen): add sourcemap
  .github/workflows/benchmark.yml
  Cargo.lock
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/sourcemap_builder.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/src/lib.rs
  tasks/coverage/src/sourcemap.rs
  tasks/coverage/src/suite.rs
Labels: A-codegen

#2579 fix(ast): support TSIndexSignature.readonly
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, A-ast

#2582 feat(napi/parser): expose `preserveParans` option
  crates/oxc_parser/src/lib.rs
  napi/parser/src/lib.rs
Labels: A-parser

#2574 fix(parser): parse empty method declaration as TSEmptyBodyFunctionExpression
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_parser/src/js/function.rs
  tasks/coverage/parser_typescript.snap
Labels: A-parser, A-ast

#2588 fix(ast): expose NumericLiteral.raw
  crates/oxc_ast/src/ast/literal.rs
Labels: A-ast

#2594 fix(parser): fix span start for TSExportAssignment
  crates/oxc_parser/src/js/module.rs
Labels: A-parser

#2595 fix(linter): exclude typescript syntax function in only_used_in_recursion
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
Labels: A-linter

#2583 fix(codegen): correct sourcemaps when unicode chars
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2584 fix(codegen): correct sourcemaps when Windows line breaks + unicode
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2578 fix(ast)!: align TSImportType with ESTree
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, A-ast, A-codegen

#2593 fix(parser): fix span start for TSModuleDeclaration
  crates/oxc_linter/src/rules/typescript/no_namespace.rs
  crates/oxc_parser/src/ts/statement.rs
Labels: A-linter, A-parser

#2590 fix(codegen): fix adding mapping to sourcemaps
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2591 perf(codegen): speed up building sourcemap line tables
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2597 perf(codegen): speed up generating sourcemap mappings
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2600 fix(parser): fix duplicated comments during parser rewind
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_parser/src/lib.rs
  tasks/coverage/prettier_babel.snap
  tasks/coverage/prettier_test262.snap
  tasks/coverage/prettier_typescript.snap
Labels: A-parser

#2601 feat(ast): add `AssignmentTargetRest`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_prettier/src/format/array.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/object.rs
Labels: A-parser, A-ast, A-codegen, A-prettier

#2602 refactor(codegen): clean up API around building sourcemaps
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/sourcemap_builder.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/eslint/no_unsafe_negation.rs
  crates/oxc_linter/src/rules/jest/prefer_todo.rs
  crates/oxc_linter/src/rules/unicorn/require_number_to_fixed_digits_argument.rs
  crates/oxc_linter/src/rules/unicorn/switch_case_braces.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/tester.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/sourcemap.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/src/ts_fixtures.rs
Labels: A-linter, A-minifier, A-transformer, A-codegen

#2581 feat(linter): eslint-plugin-jest: prefer-strict-equal
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_strict_equal.rs
  crates/oxc_linter/src/snapshots/prefer_strict_equal.snap
Labels: A-linter

#2603 feat(parser): parse decorators properly
  crates/oxc_parser/src/context.rs
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/oxc-2562.ts
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_misc.snap
  tasks/coverage/src/test262.rs
Labels: A-parser

#2521 Serialize identifiers to ESTree
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/serialize.rs
Labels: A-ast

#2604 fix(linter): avoid crash if no members in TSTypeLiteral in typescript/prefer-function-type
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
Labels: A-linter

#2580 feat(linter): eslint-plugin-jest: prefer-to-have-length
  Cargo.lock
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_to_have_length.rs
  crates/oxc_linter/src/rules/jest/prefer_todo.rs
  crates/oxc_linter/src/snapshots/prefer_to_have_length.snap
Labels: A-linter

#2607 fix(transformer/decorators): missing check private function
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2606 fix(parser): fix span end for TSEmptyBodyFunctionExpression
  crates/oxc_parser/src/js/function.rs
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#2610 feat(ast): serialize `BindingPattern` to estree
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#2611 fix(ast): temporary fix tsify not generating some typings
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsdoc.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/mod.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast

#2612 perf(parser): inline `end_span` and `parse_identifier_kind` which are on the hot path
  Cargo.toml
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/expression.rs
Labels: A-parser

#2618 fix(linter): correct example for no-obj-calls rule
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
Labels: A-linter

#2620 refactor: make `CompactStr` immutable
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_minifier/src/mangler/mod.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/lib.rs
Labels: A-linter, A-semantic, A-minifier

#2614 feat(semantic): move redeclare varaibles to symbol table
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/symbol.rs
Labels: A-linter, A-semantic

#2624 refactor(parser): improve parsing of `BindingPattern` in TypeScript
  crates/oxc_linter/src/snapshots/no_shadow_restricted_names.snap
  crates/oxc_linter/src/snapshots/no_this_alias.snap
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser, A-semantic

#2628 feat(span): remove `From<String>` and `From<Cow>` API because they create memory leak
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules/typescript/adjacent_overload_signatures.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/class/builder.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_semantic/tests/util/symbol_tester.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_transformer/src/es2015/duplicate_keys.rs
  crates/oxc_transformer/src/es2015/function_name.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  crates/oxc_transformer/src/react_jsx/mod.rs
  crates/oxc_transformer/src/regexp/regexp_flags.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/utils.rs
Labels: A-linter, A-semantic, A-minifier, A-ast, A-transformer

#2615 refactor(linter): improve the implementation of no_shadow_restricted_names based on symbols
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
Labels: A-linter, A-semantic

#2617 feat(linter): support check ImportNamespaceSpecifier in no_import_assign
  crates/oxc_linter/src/rules/eslint/no_import_assign.rs
  crates/oxc_linter/src/snapshots/no_import_assign.snap
Labels: A-linter

#2632 feat(prettier): print with_clause
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/object.rs
  tasks/prettier_conformance/prettier.js.snap.md
  tasks/prettier_conformance/src/ignore_list.rs
Labels: A-prettier

#2633 fix(prettier): print bare import
  crates/oxc_prettier/src/format/mod.rs
  tasks/coverage/prettier_babel.snap
  tasks/coverage/prettier_test262.snap
  tasks/prettier_conformance/prettier.js.snap.md
  tasks/prettier_conformance/prettier.ts.snap.md
Labels: A-prettier

#2636 feat(transformer/decorators): handling the coexistence of class decorators and member decorators
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/proposals/decorators.rs
Labels: A-ast, A-transformer

#2639 refactor: "wasm" feature enable "serde" feature
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/source_type.rs
  crates/oxc_span/src/span.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/node.rs
  crates/oxc_syntax/src/operator.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
Labels: A-semantic, A-ast

#2623 fix(semantic/jsdoc): Fix up builder
  crates/oxc_semantic/src/jsdoc/builder.rs
Labels: A-semantic

#2567 fix(ast): add `RestElement`s in serialized AST to elements array
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/serialize.rs
Labels: A-ast

#2465 feat: miette v7
  Cargo.lock
  Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_diagnostics/src/graphic_reporter.rs
  crates/oxc_diagnostics/src/graphical_theme.rs
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_linter/src/snapshots/array_type.snap
  crates/oxc_linter/src/snapshots/expect_expect.snap
  crates/oxc_linter/src/snapshots/google_font_display.snap
  crates/oxc_linter/src/snapshots/google_font_preconnect.snap
  crates/oxc_linter/src/snapshots/inline_script_id.snap
  crates/oxc_linter/src/snapshots/jsx_no_comment_textnodes.snap
  crates/oxc_linter/src/snapshots/new_for_builtins.snap
  crates/oxc_linter/src/snapshots/next_script_for_ga.snap
  crates/oxc_linter/src/snapshots/no_array_reduce.snap
  crates/oxc_linter/src/snapshots/no_assign_module_variable.snap
  crates/oxc_linter/src/snapshots/no_async_client_component.snap
  crates/oxc_linter/src/snapshots/no_conditional_expect.snap
  crates/oxc_linter/src/snapshots/no_css_tags.snap
  crates/oxc_linter/src/snapshots/no_duplicate_case.snap
  crates/oxc_linter/src/snapshots/no_duplicate_enum_values.snap
  crates/oxc_linter/src/snapshots/no_empty_file.snap
  crates/oxc_linter/src/snapshots/no_head_element.snap
  crates/oxc_linter/src/snapshots/no_head_import_in_document.snap
  crates/oxc_linter/src/snapshots/no_img_element.snap
  crates/oxc_linter/src/snapshots/no_irregular_whitespace.snap
  crates/oxc_linter/src/snapshots/no_namespace.snap
  crates/oxc_linter/src/snapshots/no_nonoctal_decimal_escape.snap
  crates/oxc_linter/src/snapshots/no_render_return_value.snap
  crates/oxc_linter/src/snapshots/no_return_await.snap
  crates/oxc_linter/src/snapshots/no_script_component_in_head.snap
  crates/oxc_linter/src/snapshots/no_sync_scripts.snap
  crates/oxc_linter/src/snapshots/no_title_in_document_head.snap
  crates/oxc_linter/src/snapshots/no_unescaped_entities.snap
  crates/oxc_linter/src/snapshots/no_unknown_property.snap
  crates/oxc_linter/src/snapshots/no_unsafe_declaration_merging.snap
  crates/oxc_linter/src/snapshots/no_unused_private_class_members.snap
  crates/oxc_linter/src/snapshots/no_useless_escape.snap
  crates/oxc_linter/src/snapshots/no_useless_promise_resolve_reject.snap
  crates/oxc_linter/src/snapshots/prefer_modern_math_apis.snap
  crates/oxc_linter/src/snapshots/require_render_return.snap
  crates/oxc_linter/src/snapshots/triple_slash_reference.snap
  crates/oxc_linter/src/tester.rs
  crates/oxc_parser/Cargo.toml
  crates/oxc_span/src/span.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-linter, A-parser

#2643 chore: Rust v1.76.0
  Cargo.toml
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_codegen/src/sourcemap_builder.rs
  rust-toolchain.toml
Labels: A-cli, A-codegen

#2649 feat(span): `impl<'a> PartialEq<str> for Atom<'a>`
  crates/oxc_linter/src/rules/unicorn/no_thenable.rs
  crates/oxc_span/src/atom.rs
Labels: A-linter

#2648 feat(linter) eslint: no-useless-rename
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_useless_rename.rs
  crates/oxc_linter/src/snapshots/no_useless_rename.snap
Labels: A-linter

#2650 New tool: oxc_module_lexer
  Cargo.lock
  Cargo.toml
  crates/oxc_module_lexer/Cargo.toml
  crates/oxc_module_lexer/README.md
  crates/oxc_module_lexer/examples/module_lexer.rs
  crates/oxc_module_lexer/src/lib.rs
  crates/oxc_module_lexer/tests/esm.rs
  crates/oxc_parser/src/js/module.rs
  napi/parser/Cargo.toml
  napi/parser/index.d.ts
  napi/parser/index.js
  napi/parser/package.json
  napi/parser/pnpm-lock.yaml
  napi/parser/src/lib.rs
  napi/parser/src/module_lexer.rs
  napi/parser/test_module_lexer.mjs
Labels: A-parser

#2652 fix(ast): fix serializing rest elements
  crates/oxc_ast/src/serialize.rs
Labels: A-ast

#2654 fix(parser)!: drop TSImportEqualsDeclaration.is_export
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-parser, A-ast, A-prettier

#2655 fix(parser): parse named rest element in type tuple
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_linter/src/rules/typescript/array_type.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-linter, A-parser, A-ast, A-codegen, A-prettier

#2651 refactor(ast): remove `Serialize` impls for Identifier types
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/serialize.rs
Labels: A-ast

#2659 fix(ast)!: rename BigintLiteral to BigIntLiteral
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-linter, A-parser, A-ast, A-codegen, A-prettier

#2660 fix(parser): fix span start for return type in function type
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#2662 feat(task): init eslint-plugin-tree-shaking rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization.rs
  justfile
  tasks/rulegen/src/main.rs
  tasks/rulegen/src/template.rs
Labels: A-linter

#2664 fix(ast): rename `TSIndexSignatureName` in JSON AST
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast

#2665 refactor(ast): import `Tsify` to shorten code
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_span/src/source_type.rs
  crates/oxc_span/src/span.rs
  crates/oxc_syntax/src/operator.rs
Labels: A-semantic, A-ast

#2668 fix(ast): fix TS type for `AssignmentTargetRest`
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#2669 refactor: reduce `cfg_attr` boilerplate with `SerAttrs` derive
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_macros/src/lib.rs
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/source_type.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/assumptions.rs
  crates/oxc_syntax/src/operator.rs
Labels: A-semantic, A-ast

#2670 fix(ast): add `type` field to TS types for `ObjectPattern` etc
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#2673 fix(parser): fix span for JSXEmptyExpression with comment
  crates/oxc_parser/src/jsx/mod.rs
Labels: A-parser

#2681 chore(parser): make sure all span.end >= span.start
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/list.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#2682 feat(linter): resolve ESM star exports
  crates/oxc_linter/src/service.rs
  crates/oxc_syntax/src/module_record.rs
Labels: A-linter

#2683 feat(linter): report side effect for array element in node_side_effects rule
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization.rs
Labels: A-linter

#2684 refactor(lint): split files for no_side_effects rule
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#2678 feat(linter/import): support check reexport binding in namespace
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/snapshots/namespace.snap
Labels: A-linter

#2686 fix(ast): parse rest parameter with the correct optional and type annotation syntax
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/binding.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#2687 fix(parser): improve lexing of jsx identifier to fix duplicated comments after jsx name
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/lexer/jsx.rs
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#2689 fix(parser): remove all duplicated comments in trivia builder
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/pass/oxc-2592.ts
  tasks/coverage/misc/pass/oxc-2674.tsx
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_misc.snap
  tasks/coverage/prettier_typescript.snap
Labels: A-parser

#2692 refactor(ast): refactor `Trivias` API - have less noise around it
  crates/oxc_ast/src/trivia.rs
  crates/oxc_cli/src/format/mod.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/ban_tslint_comment.rs
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
  crates/oxc_linter/src/rules/typescript/prefer_ts_expect_error.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_prettier/src/comments/print.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_transformer/src/react_jsx/options.rs
  crates/oxc_wasm/src/lib.rs
  napi/parser/src/lib.rs
  tasks/benchmark/benches/prettier.rs
  tasks/coverage/src/prettier.rs
  tasks/coverage/src/suite.rs
  tasks/prettier_conformance/src/lib.rs
Labels: A-linter, A-parser, A-semantic, A-cli, A-ast, A-transformer, A-prettier

#2698 refactor: derive `SerAttrs` on all AST types
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_span/src/span.rs
  crates/oxc_syntax/src/lib.rs
Labels: A-ast

#2699 fix(ast): correct TS type for `ArrayAssignmentTarget`
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#2696 chore(linter/tree_shaking): comment tree-shaking test code and remove ignore flag
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2697 feat(linter/tree_shaking): check assignment of identifier
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2701 chore: upgrade sourcemap 7.1.1
  Cargo.lock
  crates/oxc_codegen/Cargo.toml
Labels: A-codegen

#2666 feat(linter): eslint-plugin-jest rule `prefer-spy-on`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_spy_on.rs
  crates/oxc_linter/src/snapshots/prefer_spy_on.snap
Labels: A-linter

#2705 feat(ast): fill in missing ast visits
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
Labels: A-ast

#2694 fix(semantic/jsdoc): Support multibyte chars
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
Labels: A-semantic

#2702 feat(linter): eslint-plugin-jest: `prefer-to-be`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_to_be.rs
  crates/oxc_linter/src/rules/jest/prefer_to_have_length.rs
  crates/oxc_linter/src/snapshots/prefer_to_be.snap
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#2717 fix: `CallExpression` sourcemap
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_sourcemap.snap
Labels: A-codegen

#2716 feat: merge features `serde` and `wasm` to `serialize`
  Cargo.lock
  crates/oxc/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_index/Cargo.toml
  crates/oxc_macros/src/lib.rs
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/source_type.rs
  crates/oxc_span/src/span.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/assumptions.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/node.rs
  crates/oxc_syntax/src/operator.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
  crates/oxc_wasm/Cargo.toml
  napi/parser/Cargo.toml
  tasks/common/Cargo.toml
  tasks/coverage/Cargo.toml
  wasm/parser/Cargo.toml
Labels: A-parser, A-semantic, A-ast

#2718 refactor: remove unused dependencies
  Cargo.lock
  crates/oxc_minifier/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  napi/parser/Cargo.toml
Labels: A-semantic, A-minifier

#2715 feat(linter): add new property for `parse_jest_fn`
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
Labels: A-linter

#2706 feat(linter): Add settings.jsdoc
  crates/oxc_linter/src/config/settings/jsdoc.rs
  crates/oxc_linter/src/config/settings/jsx_a11y.rs
  crates/oxc_linter/src/config/settings/mod.rs
  crates/oxc_linter/src/config/settings/next.rs
  crates/oxc_linter/src/config/settings/react.rs
Labels: A-linter

#2727 perf(codegen): avoid unnecessary copy
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2728 perf(sourcemap): remove unnecessary binary search
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2731 chore: silence erroneous RA warnings for `Tsify`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_span/src/source_type.rs
  crates/oxc_span/src/span.rs
  crates/oxc_syntax/src/operator.rs
  crates/oxc_wasm/src/lib.rs
  wasm/parser/src/lib.rs
Labels: A-semantic, A-ast

#2703 feat(linter): eslint-plugin-jest: `prefer-expect-resolves`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_expect_resolves.rs
  crates/oxc_linter/src/snapshots/prefer_expect_resolves.snap
Labels: A-linter

#2736 implemented import/no-default-export
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_default_export.rs
  crates/oxc_linter/src/snapshots/no_default_export.snap
Labels: A-linter

#2735 feat(linter): eslint-plugin-jest: `prefer-to-contain`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_to_contain.rs
  crates/oxc_linter/src/snapshots/prefer_to_contain.snap
Labels: A-linter

#2739 feat(linter): eslint/max-lines
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/max_lines.rs
  crates/oxc_linter/src/snapshots/max_lines.snap
Labels: A-linter

#2741 feat(linter): eslint/no-with
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_with.rs
  crates/oxc_linter/src/snapshots/no_with.snap
Labels: A-linter

#2742 feat(linter): eslint/no-continue
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_continue.rs
  crates/oxc_linter/src/snapshots/no_continue.snap
Labels: A-linter

#2744 feat(linter): eslint/no-ternary
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_ternary.rs
  crates/oxc_linter/src/snapshots/no_ternary.snap
Labels: A-linter

#2743 feat(linter/tree-shaking): add cache for checking mutating identifiers
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
Labels: A-linter

#2720 feat(linter/import) implement no_unused_modules rule
  crates/oxc_linter/src/rules/import/no_unused_modules.rs
  crates/oxc_linter/src/snapshots/no_unused_modules.snap
Labels: A-linter

#2691 feat(linter/import): check ObjectPattern syntax in namespace
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/snapshots/namespace.snap
Labels: A-linter

#2746 feat(linter): eslint/guard-for-in
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/guard_for_in.rs
  crates/oxc_linter/src/snapshots/guard_for_in.snap
Labels: A-linter

#2712 feat(prettier/ts): print `type` keyword inside import specifier braces, fixes #2708
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#2749 feat(linter): eslint/max-params
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/max_params.rs
  crates/oxc_linter/src/snapshots/max_params.snap
Labels: A-linter

#2755 fix(linter): fix guard_for_in span error
  crates/oxc_linter/src/rules/eslint/guard_for_in.rs
  crates/oxc_linter/src/snapshots/guard_for_in.snap
Labels: A-linter

#2757 feat(linter): no_eq_null
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_eq_null.rs
  crates/oxc_linter/src/snapshots/no_eq_null.snap
Labels: A-linter

#2760 feat(linter): eslint/no-proto
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_proto.rs
  crates/oxc_linter/src/snapshots/no_proto.snap
Labels: A-linter

#2763 feat(linter): no_template_curly_in_string
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_template_curly_in_string.rs
  crates/oxc_linter/src/snapshots/no_template_curly_in_string.snap
Labels: A-linter

#2732 feat(linter/import) change the rule path to index.ts and add snapshot in export rule
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_linter/src/snapshots/export.snap
Labels: A-linter

#2756 feat(linter): default_param_last
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/default_param_last.rs
  crates/oxc_linter/src/snapshots/default_param_last.snap
Labels: A-linter

#2754 feat(linter): eslint-plugin-react checked-requires-onchange-or-readonly
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/checked_requires_onchange_or_readonly.rs
  crates/oxc_linter/src/snapshots/checked_requires_onchange_or_readonly.snap
Labels: A-linter

#2758 feat(linter): eslint/no-iterator
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_iterator.rs
  crates/oxc_linter/src/snapshots/no_iterator.snap
Labels: A-linter

#2721 feat(prettier/ts): better conformance
  crates/oxc_prettier/src/format/class.rs
  crates/oxc_prettier/src/format/function.rs
  crates/oxc_prettier/src/format/mod.rs
  tasks/coverage/prettier_babel.snap
  tasks/coverage/prettier_typescript.snap
  tasks/prettier_conformance/prettier.ts.snap.md
Labels: A-prettier

#2769 feat(linter/import) support check re-export in named
  crates/oxc_linter/src/rules/import/named.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/snapshots/named.snap
Labels: A-linter

#2772 feat(linter/tree-shaking): detect CallExpression in MemberExpression
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2773 feat: SourcemapVisualizer
  Cargo.lock
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/sourcemap_visualizer.rs
  tasks/coverage/src/sourcemap.rs
Labels: A-codegen

#2778 fix(linter/max-lines): only report codes that exceed the line limit
  crates/oxc_linter/src/rules/eslint/max_lines.rs
  crates/oxc_linter/src/snapshots/max_lines.snap
Labels: A-linter

#2767 feat(cli): wildcard expansion in paths for windows
  Cargo.lock
  Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_cli/src/command/format.rs
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/command/mod.rs
Labels: A-cli

#2781 chore: Rust v1.77.0
  Cargo.toml
  crates/oxc_cli/Cargo.toml
  crates/oxc_linter/src/config/settings/jsdoc.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/rules/jest/no_jasmine_globals.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/examples/multi-thread.rs
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/jsdoc/finder.rs
  crates/oxc_semantic/src/jsdoc/parser/utils.rs
  crates/oxc_transformer/src/typescript/mod.rs
  justfile
  rust-toolchain.toml
Labels: A-linter, A-parser, A-semantic, A-cli, A-transformer, A-prettier

#2788 chore: update sourcemap 8.0.0
  Cargo.lock
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2785 feat(semantic): distinguish type imports in ModuleRecord
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_syntax/src/module_record.rs
Labels: A-parser, A-semantic, A-ast

#2779 refactor(sourcemap): enable_source_map using Arc<str> instead of String
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/tester.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/sourcemap.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/src/ts_fixtures.rs
Labels: A-linter, A-minifier, A-transformer, A-codegen

#2764 refactor(ast): get rid of unsafe transmutation in VisitMut trait.
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/new_target.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-ast, A-transformer

#2792 fix(semantic): ModuleRecord's indirect_export_entires missing reexported imports
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/src/module_record/mod.rs
Labels: A-semantic

#2796 feat(transformer/typescript): remove `verbatim_module_syntax` option
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

#2793 fix(semantic): incorrect ExportEntry span for ExportAllDeclaration in ModuleRecord
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/src/module_record/mod.rs
Labels: A-semantic

#2791 refactor(ast): add walk functions to Visit trait.
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_module_lexer/src/lib.rs
  crates/oxc_parser/examples/visitor.rs
Labels: A-parser, A-ast

#2808 fix(tasks/transform-conformance) when the output file does not exist, the output content should be empty
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2810 ci: use `cargo-shear`
  .github/workflows/ci.yml
  Cargo.lock
  crates/oxc_parser/Cargo.toml
  tasks/coverage/Cargo.toml
Labels: A-parser

#2776 refactor(ast): add walk_mut functions
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast/src/visit/mod.rs
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/prepass.rs
  crates/oxc_module_lexer/src/lib.rs
  crates/oxc_parser/examples/visitor.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-parser, A-minifier, A-ast, A-transformer

#2817 chore: update snapshots
  tasks/coverage/codegen_babel.snap
  tasks/coverage/parser_babel.snap
  tasks/coverage/prettier_babel.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
Labels: A-transformer

#2797 feat(transformer): add transform literal for numeric literals.
  crates/oxc_transformer/src/es2015/literals.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, A-codegen

#2795 feat(transformer): numeric separator plugin.
  crates/oxc_codegen/src/gen.rs
  crates/oxc_transformer/src/es2015/literals.rs
  crates/oxc_transformer/src/es2021/mod.rs
  crates/oxc_transformer/src/es2021/numeric_separator.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-parser, A-ast, A-transformer, A-codegen

#2815 feat(semantic/jsdoc): Add `Span` for JSDoc, JSDocTag
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
  crates/oxc_semantic/src/jsdoc/parser/utils.rs
Labels: A-semantic

#2807 feat(linter): eslint-plugin-jest/no-untyped-mock-factory
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_untyped_mock_factory.rs
  crates/oxc_linter/src/snapshots/no_untyped_mock_factory.snap
Labels: A-linter

#2809 feat(linter/tree-shaking): check CallExpression when called
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#2823 chore(eslint/tree-shaking): add `NoEffect` explicitly
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/utils/tree_shaking.rs
  tasks/benchmark/Cargo.toml
Labels: A-linter

#2824 chore: remove cargo-machete package metadata
  crates/oxc_linter/Cargo.toml
  crates/oxc_minifier/Cargo.toml
  napi/parser/Cargo.toml
Labels: A-linter, A-minifier

#2826 chore: apply `cargo autoinherit`
  Cargo.toml
  crates/oxc_codegen/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  crates/oxc_span/Cargo.toml
  justfile
  napi/parser/Cargo.toml
  tasks/common/Cargo.toml
  tasks/coverage/Cargo.toml
  tasks/minsize/Cargo.toml
Labels: A-linter, A-parser, A-semantic, A-codegen

#2806 feat(linter): eslint-plugin-jest/prefer-comparison-matcher
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_called_with.rs
  crates/oxc_linter/src/rules/jest/prefer_comparison_matcher.rs
  crates/oxc_linter/src/rules/jest/prefer_spy_on.rs
  crates/oxc_linter/src/rules/jest/prefer_to_be.rs
  crates/oxc_linter/src/snapshots/prefer_comparison_matcher.snap
Labels: A-linter

#2834 fix(parser): add support for empty module declaration
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-parser, A-ast, A-transformer, A-codegen
