Repository oxc-project/oxc, pull requests merged in 2024-06, with the labels that each got.

#3495 chore: bump oxc-browserslist to 0.17.0
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_transformer/Cargo.toml
  crates/oxc_wasm/Cargo.toml
Labels: A-transformer

#3496 fix(semantic): set program scope_id for TS definition files
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#3436 feat(linter): eslint-plugin-jest/no-large-snapshot
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
  crates/oxc_linter/src/snapshots/no_large_snapshots.snap
Labels: A-linter

#3504 feat(linter/tree-shaking): support options
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#3514 fix(codegen): wrong escape string
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#3515 chore(codegen): print typescript code for typescript files
  crates/oxc_codegen/src/lib.rs
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/src/codegen.rs
Labels: A-codegen

#3516 fix(codegen): should be double quote for jsx attribute value
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

#3500 fix(transformer): output empty file for TS definition files
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-declaration-empty-output/input.d.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-declaration-empty-output/output.js
Labels: A-transformer

#3489 fix(transformer): use correct scope for TS namespaces
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer, merge

#3501 fix(transformer): TS namespace transform do not track var decl names
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/constants.rs
Labels: A-transformer, merge

#3520 refactor(traverse): `generate_uid` return `SymbolId`
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-semantic, A-transformer

#3521 perf(transformer): React JSX reuse same `Atom`s
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3522 perf(transformer): React JSX reduce allocations
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3523 fix(transformer): JSX set `symbol_id` on imports
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3525 refactor(codegen): reduce allocation for print_unquoted_str
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#3524 fix(transformer): JSX set `reference_id` on refs to imports
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_syntax/src/node.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-semantic, A-transformer

#3512 refactor(codegen): print indentation before directive
  crates/oxc_codegen/src/lib.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  tasks/coverage/codegen_sourcemap.snap
Labels: A-minifier, A-codegen

#3532 feat(transformer/typescript): handle namespace directive correctly
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

#3533 refactor(transformer/typescript): replace reference collector with symbols references
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/collector.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_traverse/src/lib.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-semantic, A-transformer

#3535 perf(transformer): avoid fragment update where possible
  crates/oxc_span/src/atom.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3531 feat(linter): add fixer for no-single-promise-in-promise-methods
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
Labels: C-enhancement, A-linter

#3536 improve(transformer): validate JSX pragma options
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

#3537 improve(transformer): validate JSX import source option
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

#3540 refactor(transformer): combine import and usage in JSX transform
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3541 refactor(transformer): remove `update_fragment` from JSX transform
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3549 fix(transformer): correct spans for JSX transform
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3550 refactor(transformer): pass `Rc`s by value
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

#3551 fix(transformer): store `react_importer` in `Bindings` in JSX transform
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3553 feat(coverage/transformer): handle @jsx option
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

#3451 improvement(semantic/cfg): better control flow for `WhileStatement`s.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-semantic

#3452 improvement(semantic/cfg): better control flow for `DoWhileStatement`s.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
Labels: A-semantic

#3453 improvement(semantic/cfg): better control flow for `ForStatement`s.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#3544 up(linter): add fixer for no-useless-fallback-in-spread rule
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/tester.rs
Labels: C-enhancement, A-linter

#3458 feat(linter/jsdoc): Implement require-returns-type rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns_type.rs
  crates/oxc_linter/src/snapshots/require_returns_type.snap
Labels: A-linter

#3556 chore(coverage, transformer_conformance): print all AST whether or not they are Typecript AST
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3462 improvement(semantic/cfg): better `break` and `continue` flow.
  Cargo.lock
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/context.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@break_from_a_label_in_global_scope.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@break_from_a_label_in_global_scope.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
Labels: A-linter, A-semantic

#3472 improvement(semantic/cfg): better CFG API
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/control_flow/mod.rs
Labels: A-linter, A-semantic

#3454 improvement(linter/react): use CFG for detecting cyclic subgraphs in `rules-of-hooks`.
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
Labels: A-linter, A-semantic

#3473 improvement(semantic/cfg): better throw control flow.
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

#3576 refactor(transformer): reduce cloning and referencing `Rc`s
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/options.rs
Labels: A-transformer

#3577 perf(transformer): faster checks if JSX plugin enabled
  crates/oxc_transformer/src/options/transformer.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-transformer

#3559 feat(transformer/typescript): remove typescript ast nodes
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#3561 feat(coverage): second transformer build does not print typescript
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-codegen

#3563 feat(transformer/typescript): remove more typescript ast nodes
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-ast, A-transformer

#3554 feat(linter/jsdoc): Implement require-param rule
  .typos.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/snapshots/require_param.snap
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter

#3583 up(linter): add fixer for no-useless-spread
  crates/oxc_ast/src/span.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_fallback_in_spread.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread.rs
  crates/oxc_linter/src/tester.rs
Labels: C-enhancement, A-linter, A-ast

#3586 refactor(semantic): pass `Rc` by value
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
Labels: A-semantic

#3587 refactor(linter): pass `Rc` by value
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

#3588 refactor(transformer): remove dead code
  crates/oxc_transformer/src/typescript/annotations.rs
Labels: A-transformer, merge

#3590 fix(linter): panic in jsdoc/require-param
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: C-bug, A-linter

#3592 up(span): port over more methods from TextRange
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/span.rs
Labels: C-enhancement

#3596 refactor(transformer): reduce branching in JSX transform
  crates/oxc_transformer/src/react/jsx/mod.rs
Labels: A-transformer

#3601 feat(linter/jsdoc): Implement require-param-type rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_type.rs
  crates/oxc_linter/src/snapshots/require_param_type.snap
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter

#3602 refactor(ast): make `AstBuilder` `Copy`
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/typescript/annotations.rs
Labels: A-ast, A-transformer

#3603 refactor(minifier): make `Prepass` `Copy`
  crates/oxc_minifier/src/compressor/prepass.rs
Labels: A-minifier

#3604 refactor(transformer): flatten file structure for React transform
  crates/oxc_transformer/src/react/diagnostics.rs
  crates/oxc_transformer/src/react/display_name.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_self.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/mod.rs
Labels: A-transformer

#3606 refactor(transformer): remove outdated comment
  crates/oxc_transformer/src/react/jsx_self.rs
Labels: A-transformer

#3617 refactor(transformer): fix indentation
  crates/oxc_transformer/src/options/transformer.rs
Labels: A-transformer, merge

#3618 refactor(transformer): comment for unimplemented `spec` option in arrow fns transform
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer, merge

#3580 refactor(transformer): replace `&’a Trivias` with `Rc<Trivias>`
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-linter, A-semantic, A-ast, A-transformer

#3610 refactor(transformer): move `BoundIdentifier` into helpers
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/helpers/bindings.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx.rs
Labels: A-ast, A-transformer

#3611 refactor(traverse): `generate_uid_in_root_scope` method
  crates/oxc_semantic/src/scope.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
Labels: A-semantic, A-transformer

#3612 fix(transformer): use UID for JSX source filename var
  crates/oxc_transformer/src/helpers/bindings.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/mod.rs
Labels: A-transformer

#3613 perf(transformer): create `Vec` with capacity
  crates/oxc_transformer/src/react/jsx_source.rs
Labels: A-transformer

#3614 fix(transformer): do not add `__source` for generated nodes
  crates/oxc_span/src/span.rs
  crates/oxc_transformer/src/react/jsx_source.rs
Labels: A-transformer

#3615 fix(transformer): JSX source calculate correct column when Unicode chars
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/utils.rs
Labels: A-transformer

#3616 perf(transformer): React display name transform reduce Atom allocations
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/react/display_name.rs
Labels: A-ast, A-transformer

#3568 feat(linter): add `eslint/sort-imports` rule
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
  crates/oxc_linter/src/snapshots/sort_imports.snap
Labels: A-linter, A-ast

#3621 feat(linter/jsdoc): Implement require-param-description
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_description.rs
  crates/oxc_linter/src/snapshots/require_param_description.snap
Labels: A-linter

#3585 feat(linter): eslint-plugin-jest/max-nested-describes
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
  crates/oxc_linter/src/snapshots/max_nested_describe.snap
Labels: A-linter

#3626 refactor(ast): replace recursion with loop
  crates/oxc_ast/src/ast/jsx.rs
Labels: A-ast

#3635 fix(ast): correct `visited_node` attr for strict mode of arrow fns
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast, merge

#3636 feat(linter/jsdoc): Implement require-param-name rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_param_name.rs
  crates/oxc_linter/src/snapshots/require_param_name.snap
Labels: A-linter

#3627 fix(transformer): arrow function transform alter `</this>`
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

#3605 feat(linter): typescript-eslint no-useless-empty-export
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
  crates/oxc_linter/src/snapshots/no_useless_empty_export.snap
Labels: C-enhancement, A-linter

#3630 fix(transformer): arrow func transform use correct spans
  crates/oxc_transformer/src/es2015/arrow_functions.rs
Labels: A-transformer

#3637 refactor(linter): add a `ctx.module_record()` method
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/rules/import/default.rs
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/rules/import/no_default_export.rs
  crates/oxc_linter/src/rules/import/no_duplicates.rs
  crates/oxc_linter/src/rules/import/no_named_as_default.rs
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
  crates/oxc_linter/src/rules/import/no_self_import.rs
  crates/oxc_linter/src/rules/import/no_unused_modules.rs
  crates/oxc_linter/src/rules/jest/no_export.rs
  crates/oxc_linter/src/rules/jest/no_mocks_import.rs
  crates/oxc_linter/src/rules/typescript/no_useless_empty_export.rs
  crates/oxc_linter/src/rules/unicorn/no_process_exit.rs
  crates/oxc_linter/src/utils/nextjs.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic, merge

#3638 feat!(ast): make `Trivias` clonable by adding `Arc`
  crates/oxc_ast/src/trivia.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_prettier/src/lib.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/module_record/mod.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
  tasks/benchmark/benches/prettier.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/prettier.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/transformer.rs
  tasks/prettier_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-linter, A-semantic, A-ast, A-transformer, A-codegen, A-prettier

#3633 fix(transformer): arrow func transform maintain scope ID
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

#3634 fix(transformer): arrow function transform use UIDs for `_this` vars
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/helpers/bindings.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

#3639 chore: remove trailing whitespaces for all files; add .editorconfig
  .editorconfig
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/rules/react/no_find_dom_node.rs
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_remove_event_listener.rs
  crates/oxc_linter/src/snapshots/jsx_key.snap
  crates/oxc_linter/src/snapshots/max_nested_describe.snap
  crates/oxc_linter/src/snapshots/no_duplicate_hooks.snap
  crates/oxc_linter/src/snapshots/prefer_hooks_on_top.snap
  crates/oxc_linter/src/snapshots/require_hook.snap
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
  crates/oxc_traverse/scripts/lib/parse.mjs
  tasks/minsize/minsize.snap
  tasks/transform_conformance/typescript.snap.md
  website/playground/symbols.js
Labels: A-linter, A-semantic, A-transformer

#3640 fix!(codegen): remove the unecessary 4th argument from `Codegen::new`
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/benchmark/benches/sourcemap.rs
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/sourcemap.rs
  tasks/coverage/src/transformer.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-linter, A-minifier, A-transformer, A-codegen, merge

#3455 feat(linter): implement @typescript-eslint/explicit-function-return-type
  .typos.toml
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/snapshots/explicit_function_return_type.snap
Labels: A-linter

#3644 chore: bump test262, babel and TypeScript submodules
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/README.md
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_test262.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/minifier_babel.snap
  tasks/coverage/minifier_test262.snap
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_test262.snap
  tasks/coverage/parser_typescript.snap
  tasks/coverage/prettier_babel.snap
  tasks/coverage/prettier_test262.snap
  tasks/coverage/prettier_typescript.snap
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_test262.snap
  tasks/coverage/transformer_typescript.snap
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/oxc_exec.snap.md
Labels: A-transformer

#3651 fix(semantic): Add Eq to CtxFlags
  crates/oxc_semantic/src/control_flow/builder/context.rs
Labels: A-semantic

#3594 feat(linter): add eslint/no-useless-constructor
  .typos.toml
  crates/oxc_allocator/src/arena.rs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
  crates/oxc_linter/src/snapshots/no_useless_constructor.snap
Labels: C-enhancement, A-linter, A-ast

#3653 build(website): use typescript
  website/package.json
  website/playground/editor.ts
  website/playground/index.html
  website/playground/index.ts
  website/playground/symbols.js
  website/playground/symbols.ts
  website/playground/traverseJson.ts
  website/pnpm-lock.yaml
  website/tsconfig.json
Labels: C-cleanup, javascript, A-website

#3623 fix(transformer): do not rename accessible identifier references
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/output.js
Labels: A-transformer

#3547 improvement(semantic/cfg): better control flow for switch statements.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
Labels: A-semantic

#3566 feat(semantic/cfg): add iteration instructions.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
Labels: A-linter, A-semantic

#3567 feat(semantic/cfg): add `Condition` instruction.
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/src/control_flow/dot.rs
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@cond_expr_in_arrow_fn.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@conditional_expression.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_else.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@if_stmt_in_for_in.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labeled_block_break.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@logical_expressions_short_circuit.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_in_while.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@switch_statement.js.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js-2.snap
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@while.js.snap
Labels: A-linter, A-semantic

#3659 refactor(coverage): align to typescript's test harness
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/mod.rs
Labels: merge

#3660 feat(coverage): TypeScript transpile runner prototype
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/mod.rs
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: merge

#3667 fix(semantic/cfg): correct unreachability propagation in try-finally.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
  crates/oxc_semantic/tests/integration/snapshots/integration__cfg__cfg_files@labelled_try_break.js-2.snap
Labels: A-linter, A-semantic

#3666 refactor(ast)!: remove `ExportDefaultDeclarationKind::TSEnumDeclaration`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-semantic, A-ast, A-codegen, A-prettier

#3670 chore(linter): add description to website rules generator
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/table.rs
Labels: A-linter

#3671 fix(semantic/cfg): discrete finalization path after `NewFunction`s.
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow/builder/mod.rs
Labels: A-linter, A-semantic, merge

#3672 fix(linter): edge case with infinite loops.
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
Labels: A-linter, merge

#3664 feat(transformer-dts): `--isolatedDeclarations` dts transform
  Cargo.lock
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer_dts/Cargo.toml
  crates/oxc_transformer_dts/examples/transformer.rs
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/context.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/function.rs
  crates/oxc_transformer_dts/src/inferrer.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_transformer_dts/src/module.rs
  crates/oxc_transformer_dts/src/return_type.rs
  crates/oxc_transformer_dts/src/scope.rs
  crates/oxc_transformer_dts/src/types.rs
Labels: A-ast, A-transformer, A-codegen, merge

#3674 feat(codegen)!: remove `CodegenOptions::enable_typescript`
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
  crates/oxc_minifier/tests/oxc/precedence.rs
  crates/oxc_transformer_dts/examples/transformer_dts.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-minifier, A-transformer, A-codegen

#3675 feat(coverage): add dts transform coverage test
  Cargo.lock
  Cargo.toml
  crates/oxc_transformer_dts/Cargo.toml
  crates/oxc_transformer_dts/examples/transformer_dts.rs
  crates/oxc_transformer_dts/src/context.rs
  crates/oxc_transformer_dts/src/lib.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/src/lib.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/coverage/transpile.snap
Labels: merge

#3678 fix(semantic/cfg): issue in unlabeled `Ctx`s.
  crates/oxc_semantic/src/control_flow/builder/context.rs
Labels: A-semantic, merge

#3677 refactor(semantic/cfg): remove unused types.
  crates/oxc_semantic/src/control_flow/mod.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-semantic, merge

#3676 perf(semantic/cfg): lower the visits in `neighbors_filtered_by_edge_weight`.
  crates/oxc_semantic/src/pg.rs
Labels: A-semantic, merge

#3679 refactor(transformer_dts): create a `Program` for codegen
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_transformer_dts/src/lib.rs
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: A-codegen

#3680 refactor(codegen): move `gen_ts` into `gen` to make searching things easier
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
Labels: A-codegen, merge

#3681 fix(ast): incorrect visit order in function
  crates/oxc_ast/src/visit/visit.rs
Labels: A-ast

#3683 feat(transformer-dts): transform namespace support
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/inferrer.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_transformer_dts/src/module.rs
  crates/oxc_transformer_dts/src/scope.rs
Labels: A-ast

#3686 feat(coverage): use oxc printend text for comparing dts transform
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/coverage/transpile.snap
Labels: merge

#3687 refactor(codegen): add `gen` method to ast nodes
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_codegen/src/gen.rs
Labels: A-ast, A-codegen, merge

#3688 feat(transformer-dts): report error for async function and generator
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
  crates/oxc_transformer_dts/src/inferrer.rs
  crates/oxc_transformer_dts/src/lib.rs
  crates/oxc_transformer_dts/src/return_type.rs
  crates/oxc_transformer_dts/src/scope.rs
  tasks/coverage/transpile.snap
Labels: A-ast

#3689 feat(transformer-dts): remove type annotation from private field
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_transformer_dts/src/class.rs
Labels: A-ast

#3690 feat(codegen): print accessibility for MethodDefinition
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

#3691 feat(coverage): transformer idempotency test
  crates/oxc_transformer/examples/transformer.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/transformer_babel.snap
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer, merge

#3693 fix(linter): do not run getter-return in typescript
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/snapshots/getter_return.snap
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#3694 refactor(semantic): expose 1 checker function instead of 2
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
Labels: A-semantic

#3695 feat(codegen): print TSImport remaining fields
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen, merge

#3696 feat(parser): display jsx mismatch error, e.g. `<Foo></Bar>`
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/jsx/mod.rs
  tasks/coverage/misc/fail/oxc-3528.jsx
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser

#3685 fix(traverse): change visit order for `Function`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-ast

#3699 feat(linter): add `@typescript-eslint/no-import-type-side_effects`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_import_type_side_effects.rs
  crates/oxc_linter/src/snapshots/no_import_type_side_effects.snap
Labels: A-linter, A-ast, merge

#3700 feat(linter): add `oxc/no-optional-chaining` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/no_optional_chaining.rs
  crates/oxc_linter/src/snapshots/no_optional_chaining.snap
Labels: A-linter, merge

#3710 feat(transformer-dts): transform enum support
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/span.rs
  crates/oxc_transformer_dts/Cargo.toml
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
  crates/oxc_transformer_dts/src/enum.rs
  crates/oxc_transformer_dts/src/lib.rs
Labels: A-ast

#3711 feat(transformer-dts): report error for super class
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer_dts/src/class.rs
  crates/oxc_transformer_dts/src/declaration.rs
  crates/oxc_transformer_dts/src/diagnostics.rs
Labels: A-ast

#3708 fix(codegen): improve typescript codegen
  .gitignore
  crates/oxc_ast/src/precedence.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/src/codegen.rs
Labels: A-parser, A-ast, A-codegen, merge

#3712 chore: make `println` and `eprintln` opt-in
  Cargo.toml
  apps/oxlint/src/lint/mod.rs
  apps/oxlint/src/result.rs
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_diagnostics/src/reporter/checkstyle.rs
  crates/oxc_diagnostics/src/reporter/json.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_module_lexer/examples/module_lexer.rs
  crates/oxc_parser/examples/multi-thread.rs
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/examples/visitor.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_sourcemap/src/sourcemap_visualizer.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer_dts/examples/transformer_dts.rs
  tasks/common/src/lib.rs
  tasks/coverage/src/lib.rs
  tasks/javascript_globals/src/main.rs
  tasks/minsize/src/lib.rs
  tasks/prettier_conformance/src/lib.rs
  tasks/rulegen/src/main.rs
  tasks/transform_conformance/src/lib.rs
  tasks/website/src/lib.rs
  tasks/website/src/main.rs
Labels: A-linter, A-parser, A-semantic, A-cli, A-minifier, A-transformer, A-codegen, A-prettier, merge

#3713 chore(transformer-dts): change crate to `oxc_isolated_declarations`
  Cargo.lock
  Cargo.toml
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/context.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_isolated_declarations/src/types.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: merge

#3715 refactor(isolated-declarations): decouple codegen
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_isolated_declarations/src/lib.rs
  tasks/coverage/src/typescript/transpile_runner.rs
Labels: A-codegen, merge

#3673 feat(linter): add `no-fallthrough`.
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/snapshots/no_fallthrough.snap
Labels: A-linter, merge

#3716 chore(oxlint): remove unused code (format command)
  apps/oxlint/src/command/format.rs
  apps/oxlint/src/command/ignore.rs
  apps/oxlint/src/command/lint.rs
  apps/oxlint/src/command/mod.rs
  apps/oxlint/src/lint/mod.rs
  apps/oxlint/src/main.rs
  tasks/website/Cargo.toml
  tasks/website/src/linter/cli.rs
  tasks/website/src/linter/snapshots/cli.snap
  tasks/website/src/linter/snapshots/cli_terminal.snap
Labels: A-cli, merge

#3719 refactor(isolated-declarations): remove `TransformDtsCtx`
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/context.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/return_type.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_isolated_declarations/src/types.rs
Labels: merge

#3720 feat(isolated-declarations): report errors that are consistent with typescript.
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/types.rs
Labels: merge

#3721 refactor(napi): change "isolated declarations" to "transform"
  Cargo.lock
  napi/transform/Cargo.toml
  napi/transform/build.rs
  napi/transform/index.d.ts
  napi/transform/index.js
  napi/transform/package.json
  napi/transform/pnpm-lock.yaml
  napi/transform/src/lib.rs
  napi/transform/test.mjs
Labels: merge

#3725 feat(isolated-declarations): inferring set accessor parameter type from get accessor return type
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/diagnostics.rs
  crates/oxc_isolated_declarations/src/function.rs
  crates/oxc_isolated_declarations/src/scope.rs
Labels: A-ast, merge

#3724 fix(minifier): respect `join_vars: false` option
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/tests/oxc/folding.rs
Labels: A-minifier, merge

#3723 feat(coverage): snapshot isolated declarations dts emit
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/coverage/transpile.snap
Labels: merge

#3729 feat(coverage): improve codegen
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_minifier/tests/closure/fold_conditions.rs
  crates/oxc_minifier/tests/closure/fold_constants.rs
  crates/oxc_minifier/tests/closure/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/esbuild/mod.rs
  crates/oxc_minifier/tests/oxc/code_removal.rs
  crates/oxc_minifier/tests/oxc/folding.rs
  crates/oxc_minifier/tests/oxc/precedence.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
  crates/oxc_minifier/tests/tdewolff/mod.rs
  crates/oxc_minifier/tests/terser/fixtures/debugger.js
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/transpile.snap
Labels: A-minifier, A-codegen

#3730 feat(isolated-declarations): create unique name for `_default`
  crates/oxc_isolated_declarations/src/module.rs
Labels: merge

#3731 feat(codegen): improve codegen formatting
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_runtime_test262.snap
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/src/runtime/v8_test262.status
  tasks/coverage/transpile.snap
Labels: A-codegen, merge

#3735 feat(codegen): improve codegen formatting
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  tasks/coverage/codegen_sourcemap.snap
  tasks/coverage/transpile.snap
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer, A-codegen, merge

#3740 feat(codegen)!: new code gen API
  Cargo.lock
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/annotation_comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_linter/src/fixer.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_wasm/src/lib.rs
  napi/transform/Cargo.toml
  napi/transform/src/lib.rs
  tasks/benchmark/benches/codegen_sourcemap.rs
  tasks/benchmark/benches/sourcemap.rs
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/sourcemap.rs
  tasks/coverage/src/transformer.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-linter, A-minifier, A-transformer, A-codegen, merge

#3737 refactor(semantic): make control flow generation optional.
  crates/oxc_cfg/src/lib.rs
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/react/require_render_return.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
Labels: A-linter, A-semantic

#3738 chore(semantic)!: no longer generate CFG by default.
  crates/oxc_linter/src/service.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/integration/cfg.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
Labels: A-linter, A-semantic

#3739 fix(isolated-declarations): function overloads reaching unreachable
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/src/lib.rs
Labels: merge

#3742 refactor(semantic): rename `cfg` macro to `control_flow`.
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, merge

#3746 chore(benchmark): enable `cfg` for linter benchmarks.
  tasks/benchmark/benches/linter.rs
Labels: merge

#3756 chore(isolated-declarations): add snapshot testing
  Cargo.lock
  crates/oxc_isolated_declarations/Cargo.toml
  crates/oxc_isolated_declarations/tests/fixtures/complex.ts
  crates/oxc_isolated_declarations/tests/fixtures/simple.ts
  crates/oxc_isolated_declarations/tests/mod.rs
  crates/oxc_isolated_declarations/tests/snapshots/complex.snap
  crates/oxc_isolated_declarations/tests/snapshots/simple.snap
Labels: merge

#3760 refactor(transformer): move and simplify TS enum transform entry point
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer, merge

#3762 refactor(transformer): simplify TS export assignment transform
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer, merge

#3764 refactor(transformer): move TSImportEqualsDeclaration transform code
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
Labels: A-transformer, merge

#3765 feat(oxc): export isolated-declarations
  Cargo.lock
  crates/oxc/Cargo.toml
  crates/oxc/src/lib.rs
Labels: merge
