Repository oxc-project/oxc, pull requests merged in 2024-10, with the labels that each got.

#6194 perf(allocator): use lower bound of size hint when creating Vecs from an iterator
  crates/oxc_allocator/src/vec.rs
Labels: C-performance, 0-merge

#6196 fix(linter): get correct source offsets for astro files
  crates/oxc_linter/src/loader/partial_loader/astro.rs
Labels: A-linter, 0-merge

#6198 feat(napi/transform): rename all mention of React to Jsx; remove mention of `Binding`
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/transformer.rs
  crates/oxc_transformer/src/react/comments.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
  napi/transform/index.d.ts
  napi/transform/src/options.rs
  tasks/coverage/src/tools/semantic.rs
  tasks/coverage/src/tools/transformer.rs
Labels: A-transformer

#6199 feat(transformer,minifier)!: move define and inject plugin from minifier to transformer
  Cargo.lock
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/plugins/mod.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/plugins/inject_global_variables.rs
  crates/oxc_transformer/src/plugins/mod.rs
  crates/oxc_transformer/src/plugins/replace_global_defines.rs
  crates/oxc_transformer/tests/mod.rs
  crates/oxc_transformer/tests/plugins/inject_global_variables.rs
  crates/oxc_transformer/tests/plugins/mod.rs
  crates/oxc_transformer/tests/plugins/replace_global_defines.rs
Labels: A-minifier, A-transformer

#6203 feat(minifier): minify unary plus negation.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, 0-merge

#6185 refactor(transformer): introduce `TopLevelStatements` common transform
  crates/oxc_transformer/src/common/mod.rs
  crates/oxc_transformer/src/common/top_level_statements.rs
  crates/oxc_transformer/src/common/var_declarations.rs
  crates/oxc_transformer/src/context.rs
Labels: A-transformer, 0-merge

#6181 fix(isolated-declarations): false positive for function with a type asserted parameters
  crates/oxc_isolated_declarations/src/inferrer.rs
  crates/oxc_isolated_declarations/tests/fixtures/function-parameters.ts
  crates/oxc_isolated_declarations/tests/snapshots/function-parameters.snap
Labels: 0-merge, A-isolated-declarations

#6188 fix(transformer): fix inserting `require` with `front` option
  crates/oxc_transformer/src/common/module_imports.rs
Labels: A-transformer, 0-merge

#6190 refactor(transformer): rename methods
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_source.rs
Labels: A-transformer, 0-merge

#6191 refactor(transformer): insert `import` statement or `require` depending on source type
  crates/oxc_transformer/src/common/module_imports.rs
  crates/oxc_transformer/src/react/jsx.rs
Labels: A-transformer, 0-merge

#6192 perf(transformer): look up `SymbolId` for `require` only once
  crates/oxc_transformer/src/common/module_imports.rs
Labels: A-transformer, 0-merge

#6209 refactor(transformer): use AstBuilder instance from TraverseCtx
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_self.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/refresh.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-transformer, 0-merge

#6152 perf(transformer): parse options from comments only once
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/comments.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/options.rs
Labels: A-transformer, 0-merge

#6206 feat(data_structures): add `oxc_data_structures` crate; add stack
  Cargo.lock
  Cargo.toml
  crates/oxc_data_structures/Cargo.toml
  crates/oxc_data_structures/src/lib.rs
  crates/oxc_data_structures/src/stack/capacity.rs
  crates/oxc_data_structures/src/stack/common.rs
  crates/oxc_data_structures/src/stack/mod.rs
  crates/oxc_data_structures/src/stack/non_empty.rs
  crates/oxc_data_structures/src/stack/non_null.rs
  crates/oxc_data_structures/src/stack/sparse.rs
  crates/oxc_data_structures/src/stack/standard.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/common/var_declarations.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/lib.rs
Labels: A-transformer

#6207 feat(minifier): handle positive `NaN` and `Infinity`.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, 0-merge

#6213 refactor(allocator): remove unnecessary `Vec` impl
  crates/oxc_allocator/src/vec.rs
Labels: 0-merge

#6216 feat(data_structures): add `as_slice` + `as_mut_slice` methods to stacks
  crates/oxc_data_structures/src/stack/common.rs
  crates/oxc_data_structures/src/stack/non_empty.rs
  crates/oxc_data_structures/src/stack/standard.rs
Labels: 0-merge

#6217 refactor(traverse): `TraverseAncestry` use `NonEmptyStack`
  Cargo.lock
  crates/oxc_traverse/Cargo.toml
  crates/oxc_traverse/src/context/ancestry.rs
Labels: 0-merge

#6218 refactor(data_structures): add debug assertion to `SparseStack`
  crates/oxc_data_structures/src/stack/sparse.rs
Labels: 0-merge

#6212 feat(napi/transform): add `define` option
  napi/transform/index.d.ts
  napi/transform/src/options.rs
  napi/transform/src/transformer.rs
Labels: 0-merge

#6219 refactor(data_structures): remove `is_empty` methods for non-empty stacks
  crates/oxc_data_structures/src/stack/non_empty.rs
  crates/oxc_data_structures/src/stack/sparse.rs
Labels: 0-merge

#6220 refactor(data_structures): `NonEmptyStack::len` hint that `len` is never 0
  crates/oxc_data_structures/src/stack/non_empty.rs
Labels: 0-merge

#6224 fix(transformer): fix memory leak in `ReplaceGlobalDefines`
  crates/oxc_transformer/src/plugins/replace_global_defines.rs
Labels: A-transformer, 0-merge

#6222 ci(minifier): minifier benchmark measure only the minifier itself
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/minifier.rs
Labels: 0-merge

#6228 test(linter): invalid `eslint/no-unused-vars` options
  crates/oxc_linter/src/rules/eslint/no_unused_vars/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/options.rs
Labels: A-linter, C-cleanup, 0-merge

#6229 docs(linter): improve docs for `eslint/getter-return`
  crates/oxc_linter/src/rules/eslint/getter_return.rs
Labels: A-linter, 0-merge, C-docs

#6231 refactor(transformer): `VarDeclarations` common transform: check if at top level with `ctx.parent()`
  crates/oxc_transformer/src/common/var_declarations.rs
Labels: A-transformer, 0-merge

#4305 feat(linter): eslint/no-else-return
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_else_return.rs
  crates/oxc_linter/src/snapshots/no_else_return.snap
Labels: A-linter

#6230 fix(linter): improve the fixer of `prefer-namespace-keyword`
  crates/oxc_linter/src/rules/typescript/prefer_namespace_keyword.rs
  crates/oxc_linter/src/snapshots/prefer_namespace_keyword.snap
Labels: A-linter

#6214 feat(minifier): support subtraction assignment.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, 0-merge

#6242 refactor(transformer): rename var in `VarDeclarations` common transform
  crates/oxc_transformer/src/common/var_declarations.rs
Labels: A-transformer, 0-merge

#6234 refactor(regular_expression): Misc fixes
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/ast_impl/display.rs
  crates/oxc_regular_expression/src/ast_impl/mod.rs
  crates/oxc_regular_expression/src/ast_impl/visit.rs
  crates/oxc_regular_expression/src/body_parser/parser.rs
  crates/oxc_regular_expression/src/body_parser/state.rs
  crates/oxc_regular_expression/src/flags_parser.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_regular_expression/src/literal_parser.rs
  crates/oxc_regular_expression/src/span_factory.rs
Labels: A-ast, 0-merge

#6233 feat(minifier): fold demical bitwise not for bigint.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier

#6245 feat(minifier): scaffold peephole replace known methods.
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  crates/oxc_minifier/src/compressor.rs
Labels: A-minifier, 0-merge

#6243 refactor(transformer): move functionality of common transforms into stores
  crates/oxc_transformer/src/common/module_imports.rs
  crates/oxc_transformer/src/common/top_level_statements.rs
  crates/oxc_transformer/src/common/var_declarations.rs
Labels: A-transformer

#6235 feat(minifier): bitwise not in exceeded value.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, 0-merge

#6251 refactor(transformer)!: remove `source_type` param from `Transformer::new`
  crates/oxc/src/compiler.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_wasm/src/lib.rs
  napi/transform/src/context.rs
  napi/transform/src/transformer.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: A-transformer, 0-merge

#6253 refactor(parser)!: treat unambiguous files containing TS export assignments as modules
  crates/oxc_parser/src/js/module.rs
Labels: A-parser, 0-merge

#6197 feat(linter): allow fixing in files with source offsets
  crates/oxc_language_server/src/linter.rs
  crates/oxc_linter/src/service.rs
Labels: A-linter, 0-merge

#6262 refactor(regular_expression)!: Simplify public APIs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_linter/src/rules/eslint/no_control_regex.rs
  crates/oxc_linter/src/rules/eslint/no_invalid_regexp.rs
  crates/oxc_linter/src/rules/eslint/no_regex_spaces.rs
  crates/oxc_linter/src/snapshots/no_invalid_regexp.snap
  crates/oxc_parser/examples/regular_expression.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_regular_expression/examples/parse_literal.rs
  crates/oxc_regular_expression/examples/regex_visitor.rs
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/ast_impl/display.rs
  crates/oxc_regular_expression/src/body_parser/mod.rs
  crates/oxc_regular_expression/src/diagnostics.rs
  crates/oxc_regular_expression/src/flags_parser.rs
  crates/oxc_regular_expression/src/generated/derive_clone_in.rs
  crates/oxc_regular_expression/src/generated/derive_content_eq.rs
  crates/oxc_regular_expression/src/generated/derive_content_hash.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_regular_expression/src/literal_parser.rs
  crates/oxc_regular_expression/src/options.rs
  crates/oxc_regular_expression/src/parser/mod.rs
  crates/oxc_regular_expression/src/parser/parser_impl.rs
  crates/oxc_regular_expression/src/parser/reader.rs
  crates/oxc_regular_expression/src/parser/span_factory.rs
  crates/oxc_regular_expression/src/parser/state.rs
  crates/oxc_regular_expression/src/parser/unicode.rs
  crates/oxc_regular_expression/src/parser/unicode_property.rs
  crates/oxc_transformer/src/regexp/mod.rs
  tasks/coverage/src/driver.rs
Labels: A-linter, A-parser, A-ast, A-transformer, 0-merge

#6237 fix(minifier): handle exceeded shifts.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, 0-merge

#6263 fix(linter): correct false positive in `unicorn/prefer-string-replace-all`
  crates/oxc_linter/src/rules/unicorn/prefer_string_replace_all.rs
Labels: A-linter

#6252 test(minifier): enable null comparison with bigint.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, 0-merge

#6261 fix(minifier): should not handle the strict operation for bool comparison.
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier, 0-merge

#6268 feat(oxc): add napi transform options
  Cargo.lock
  crates/oxc/Cargo.toml
  crates/oxc/src/napi/isolated_declarations.rs
  crates/oxc/src/napi/mod.rs
  crates/oxc/src/napi/source_map.rs
  crates/oxc/src/napi/transform.rs
  napi/parser/Cargo.toml
  napi/parser/src/lib.rs
  napi/transform/Cargo.toml
  napi/transform/src/context.rs
  napi/transform/src/isolated_declaration.rs
  napi/transform/src/lib.rs
  napi/transform/src/transformer.rs
Labels: 0-merge

#6272 docs(linter): add docs for `ContextHost` and `LintContext`
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/context/mod.rs
Labels: A-linter, 0-merge

#6273 refactor(linter): make jest/vitest rule mapping more clear
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter, C-cleanup, 0-merge

#6276 perf(linter): do not concat vec in `no-useless-length-check`
  crates/oxc_linter/src/rules/unicorn/no_useless_length_check.rs
Labels: A-linter, 0-merge

#6277 fix(oxc_transformer): define `import.meta` and `import.meta.*`
  crates/oxc_transformer/src/plugins/replace_global_defines.rs
  crates/oxc_transformer/tests/plugins/replace_global_defines.rs
Labels: A-transformer, 0-merge

#6127 refactor(linter): move shared function from utils to rule
  crates/oxc_linter/src/rules/vitest/prefer_to_be_falsy.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_truthy.rs
  crates/oxc_linter/src/utils/vitest.rs
Labels: A-linter, C-cleanup

#6282 refactor(transformer): prefer `create_bound_reference_id` to `create_reference_id`
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/react/refresh.rs
  crates/oxc_transformer/src/typescript/enum.rs
Labels: A-transformer, 0-merge

#6283 fix(minifier): correct the reference link
  crates/oxc_minifier/src/ast_passes/collapse_variable_declarations.rs
  crates/oxc_minifier/src/ast_passes/exploit_assigns.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier

#6286 test(transformer): transform checker output symbol name for mismatches
  crates/oxc_semantic/src/post_transform_checker.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: A-semantic, A-transformer, 0-merge

#6287 test(transformer): tidy up transform checker
  crates/oxc_semantic/src/post_transform_checker.rs
Labels: A-semantic, A-transformer, 0-merge

#6288 ci(transformer): move post-transform checker to tasks crate
  Cargo.lock
  Cargo.toml
  crates/oxc_semantic/src/lib.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/src/driver.rs
  tasks/transform_checker/Cargo.toml
  tasks/transform_checker/src/lib.rs
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/src/driver.rs
Labels: A-semantic, A-transformer, 0-merge

#6289 fix(transformer): logical assignment operator transform: fix reference IDs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: A-transformer, 0-merge

#6293 refactor(transformer): move `BoundIdentifier` into `oxc_traverse` crate
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_traverse/src/context/bound_identifier.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/lib.rs
Labels: A-transformer, 0-merge

#6295 refactor(transformer): nullish coalescing transform: no cloning identifier references
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
Labels: A-transformer, 0-merge

#6296 refactor(transformer): logical assignment transform: reduce identifier cloning
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
Labels: A-transformer, 0-merge

#6297 refactor(transformer): exponentiation transform: reduce identifier cloning
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Labels: A-transformer, 0-merge

#6298 feat(oxc,napi/transform): napi/transform use oxc compiler pipeline
  Cargo.lock
  crates/oxc/src/compiler.rs
  crates/oxc/src/napi/transform.rs
  napi/transform/Cargo.toml
  napi/transform/src/context.rs
  napi/transform/src/isolated_declaration.rs
  napi/transform/src/transformer.rs
  tasks/coverage/src/driver.rs
  tasks/transform_conformance/src/driver.rs
Labels: A-transformer, 0-merge

#6132 feat(editors/vscode): update VSCode extention to use project's language server
  editors/vscode/.prettierrc
  editors/vscode/client/extension.ts
  editors/vscode/tsconfig.json
Labels: C-enhancement, A-linter, 0-merge

#6299 refactor(transformer): use `Option::get_or_insert_with`
  crates/oxc_transformer/src/plugins/inject_global_variables.rs
  crates/oxc_transformer/src/react/jsx_source.rs
Labels: A-transformer, 0-merge

#6300 fix(transformer): exponentiation transform: fix duplicate symbols
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: A-transformer, 0-merge

#6301 refactor(transformer): exponentiation transform: break up into functions
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Labels: A-transformer, 0-merge

#6302 fix(transformer): exponentiation transform: do not assume `Math` is not a local var
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Labels: A-transformer, 0-merge

#6303 refactor(semantic): dereference IDs as quickly as possible
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/node.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_semantic/tests/integration/util/class_tester.rs
  crates/oxc_semantic/tests/integration/util/symbol_tester.rs
  crates/oxc_semantic/tests/main.rs
Labels: A-semantic, 0-merge

#6304 refactor(semantic): rename vars from `ast_node_id` to `node_id`
  crates/oxc_semantic/src/checker/typescript.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/src/node.rs
  crates/oxc_semantic/tests/integration/util/class_tester.rs
Labels: A-semantic, 0-merge

#6307 refactor(napi): use vitest
  .github/workflows/ci.yml
  napi/minify/package.json
  napi/parser/package.json
  napi/parser/parse.bench.mjs
  napi/parser/test.mjs
  napi/parser/test/module_lexer.test.mjs
  napi/parser/test/parse.test.mjs
  napi/parser/test_module_lexer.mjs
  napi/transform/package.json
  napi/transform/test.mjs
  napi/transform/test/id.test.mjs
  napi/transform/test/transform.test.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 0-merge

#6309 feat(napi/transform): add `lang` option to change source type
  crates/oxc/src/napi/transform.rs
  napi/transform/index.d.ts
  napi/transform/src/errors.rs
  napi/transform/src/isolated_declaration.rs
  napi/transform/src/transformer.rs
  napi/transform/test/id.test.mjs
  napi/transform/test/transform.test.mjs
Labels: 0-merge

#6310 refactor(codegen)!: change to `CodegenReturn::code` and `CodegenReturn::map`
  crates/oxc/src/compiler.rs
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/integration/main.rs
  crates/oxc_codegen/tests/integration/tester.rs
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_isolated_declarations/tests/deno/mod.rs
  crates/oxc_isolated_declarations/tests/mod.rs
  crates/oxc_minifier/examples/mangler.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/tester.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/tests/plugins/inject_global_variables.rs
  crates/oxc_transformer/tests/plugins/mod.rs
  crates/oxc_transformer/tests/plugins/replace_global_defines.rs
  crates/oxc_wasm/src/lib.rs
  napi/minify/src/lib.rs
  napi/transform/src/isolated_declaration.rs
  napi/transform/src/transformer.rs
  tasks/benchmark/benches/codegen.rs
  tasks/benchmark/benches/sourcemap.rs
  tasks/coverage/src/driver.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/driver.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-minifier, A-transformer, A-codegen, 0-merge, A-isolated-declarations

#6305 refactor(linter): rename vars from `ast_node_id` to `node_id`
  crates/oxc_linter/src/rules/eslint/max_classes_per_file.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
Labels: A-linter, 0-merge

#6312 feat(napi/transform): perform dce after define plugin
  crates/oxc/src/compiler.rs
  napi/transform/test/transform.test.mjs
Labels: 0-merge

#6059 feat(prettier): indent for class definition
  crates/oxc_prettier/src/format/class.rs
Labels: A-prettier

#6313 fix(transformer): exponentiation transform: do not replace object when private property
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/bail-private-properties/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/bail-private-properties/output.js
Labels: A-transformer, 0-merge

#6315 docs(transformer): exponentiation transform: update doc comments
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Labels: A-transformer, 0-merge

#6316 refactor(transformer): exponentiation transform: split into 2 paths
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Labels: A-transformer, 0-merge

#6317 refactor(traverse): function to get var name from node
  crates/oxc_traverse/src/ast_operations/gather_node_parts.rs
  crates/oxc_traverse/src/ast_operations/identifier.rs
  crates/oxc_traverse/src/ast_operations/mod.rs
  crates/oxc_traverse/src/context/ast_operations/mod.rs
  crates/oxc_traverse/src/context/identifier.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/lib.rs
Labels: 0-merge

#6318 fix(transformer): exponentiation transform: fix temp var names
  .typos.toml
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-identifier/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-identifier/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-member-expression/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-member-expression/output.js
Labels: A-transformer, 0-merge

#6324 refactor(syntax): remove some unsafe code creating IDs
  crates/oxc_syntax/src/node.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
Labels: 0-merge

#6314 feat(cfg): color-code edges in CFG dot diagrams
  crates/oxc_cfg/src/dot.rs
  crates/oxc_cfg/src/lib.rs
  crates/oxc_semantic/src/dot.rs
  crates/oxc_semantic/tests/integration/snapshots/argument_map.snap
  crates/oxc_semantic/tests/integration/snapshots/arrow_expressions.snap
  crates/oxc_semantic/tests/integration/snapshots/assignment_operators.snap
  crates/oxc_semantic/tests/integration/snapshots/break_from_a_label_in_global_scope.snap
  crates/oxc_semantic/tests/integration/snapshots/class.snap
  crates/oxc_semantic/tests/integration/snapshots/class_extend_super.snap
  crates/oxc_semantic/tests/integration/snapshots/cond_expr_in_arrow_fn.snap
  crates/oxc_semantic/tests/integration/snapshots/conditional_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/do_while_break.snap
  crates/oxc_semantic/tests/integration/snapshots/expression_spread.snap
  crates/oxc_semantic/tests/integration/snapshots/fn_return_obj_expr_with_computed_key.snap
  crates/oxc_semantic/tests/integration/snapshots/for_in.snap
  crates/oxc_semantic/tests/integration/snapshots/function_as_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/function_in_finally.snap
  crates/oxc_semantic/tests/integration/snapshots/if_else.snap
  crates/oxc_semantic/tests/integration/snapshots/if_stmt_in_for_in.snap
  crates/oxc_semantic/tests/integration/snapshots/import_as_function.snap
  crates/oxc_semantic/tests/integration/snapshots/index_into_object_with_symbol_as_arg.snap
  crates/oxc_semantic/tests/integration/snapshots/indexing_into_class_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/infix_operators.snap
  crates/oxc_semantic/tests/integration/snapshots/labeled_block_break.snap
  crates/oxc_semantic/tests/integration/snapshots/labelled_try_break.snap
  crates/oxc_semantic/tests/integration/snapshots/logical_expressions_short_circuit.snap
  crates/oxc_semantic/tests/integration/snapshots/member_access_with_numbered_index.snap
  crates/oxc_semantic/tests/integration/snapshots/member_access_with_unreachable.snap
  crates/oxc_semantic/tests/integration/snapshots/nested_computed_member_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/new_and_meta.snap
  crates/oxc_semantic/tests/integration/snapshots/new_class_then_call_fn.snap
  crates/oxc_semantic/tests/integration/snapshots/object_in_computer_member_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/parenthesized_and_sequence_expr.snap
  crates/oxc_semantic/tests/integration/snapshots/private_in.snap
  crates/oxc_semantic/tests/integration/snapshots/simple_spread.snap
  crates/oxc_semantic/tests/integration/snapshots/spread_in_a_spread.snap
  crates/oxc_semantic/tests/integration/snapshots/string.snap
  crates/oxc_semantic/tests/integration/snapshots/switch_in_while.snap
  crates/oxc_semantic/tests/integration/snapshots/switch_statement.snap
  crates/oxc_semantic/tests/integration/snapshots/template_literal.snap
  crates/oxc_semantic/tests/integration/snapshots/template_string.snap
  crates/oxc_semantic/tests/integration/snapshots/two_functions.snap
  crates/oxc_semantic/tests/integration/snapshots/unary_operator.snap
  crates/oxc_semantic/tests/integration/snapshots/while.snap
  crates/oxc_semantic/tests/integration/snapshots/yield_as_statement_and_expression.snap
Labels: C-enhancement, A-semantic, 0-merge, A-cfg

#6319 refactor(cfg): move block data types to separate file
  crates/oxc_cfg/src/block.rs
  crates/oxc_cfg/src/lib.rs
Labels: C-cleanup, 0-merge, A-cfg

#6320 feat(cfg): derive more base traits for CFG blocks
  crates/oxc_cfg/src/block.rs
Labels: 0-merge, A-cfg

#6327 fix(linter): improve docs and diagnostics message for no-else-return
  crates/oxc_linter/src/rules/eslint/no_else_return.rs
  crates/oxc_linter/src/snapshots/no_else_return.snap
Labels: C-bug, A-linter, 0-merge, C-docs

#6257 feat(minifier): fold array and object constructors
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, 0-merge

#6328 docs(traverse): remove erroneous doc comment
  crates/oxc_traverse/src/context/mod.rs
Labels: 0-merge

#6329 fix(transformer): exponentiation transform: fix temp var names
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-identifier/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-identifier/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-member-expression/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-member-expression/output.js
Labels: A-transformer, 0-merge

#6269 test(minifier): add arithmetic tests for fold constants.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, 0-merge

#6330 fix(transformer): exponentiation transform: fix reference flags
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: A-transformer, 0-merge

#6280 feat(minifier): minify basic arithmetic calculations.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, 0-merge

#6331 refactor(minifier): use ctx.ast.vec instead of Vec::new.
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier, 0-merge

#6336 fix(linter): fix regression when parsing ts in vue files
  apps/oxlint/fixtures/vue/debugger.vue
  crates/oxc_linter/src/service.rs
Labels: A-linter, A-cli

#6337 perf(linter): reuse allocator when there are multiple source texts
  crates/oxc_linter/src/service.rs
Labels: A-linter, 0-merge

#6338 refactor(transformer): exponentiation transform: no cloning
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Labels: A-transformer, 0-merge

#6321 refactor(cfg)!: make BasicBlock::unreachable private
  crates/oxc_cfg/src/block.rs
  crates/oxc_cfg/src/builder/mod.rs
  crates/oxc_cfg/src/dot.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/dot.rs
Labels: A-linter, A-semantic, 0-merge, A-cfg

#6322 refactor(cfg): add type alias for Graph
  crates/oxc_cfg/src/builder/mod.rs
  crates/oxc_cfg/src/lib.rs
Labels: 0-merge, A-cfg

#6348 fix(linter): `no-else-return` fixer fails when `else` has no trailing whitespace
  crates/oxc_linter/src/rules/eslint/no_else_return.rs
  crates/oxc_linter/src/snapshots/no_else_return.snap
Labels: C-bug, A-linter, 0-merge

#6323 refactor(cfg): use IndexVec for storing basic blocks
  Cargo.lock
  crates/oxc_cfg/Cargo.toml
  crates/oxc_cfg/src/block.rs
  crates/oxc_cfg/src/builder/context.rs
  crates/oxc_cfg/src/builder/mod.rs
  crates/oxc_cfg/src/lib.rs
  crates/oxc_cfg/src/visit.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/src/node.rs
Labels: A-linter, A-semantic, 0-merge, A-cfg

#6349 fix(linter): friendly diagnostic messages for `no-else-return`
  crates/oxc_linter/src/rules/eslint/no_else_return.rs
  crates/oxc_linter/src/snapshots/no_else_return.snap
Labels: C-enhancement, A-linter, 0-merge

#6341 refactor(traverse): add helper methods to `BoundIdentifier`
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/react/jsx_source.rs
  crates/oxc_transformer/src/react/refresh.rs
  crates/oxc_traverse/src/context/bound_identifier.rs
Labels: A-transformer, 0-merge

#6343 refactor(transformer): exponentiation transform: do not wrap in `SequenceExpression` if not needed
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-used-result/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-used-result/output.js
Labels: A-transformer, 0-merge

#6344 refactor(transformer): exponentiation transform: rename methods
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
Labels: A-transformer, 0-merge

#6345 feat(transformer): exponentiation transform: support private fields
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/bail-private-properties/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/bail-private-properties/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/private-properties/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/private-properties/output.js
Labels: A-transformer, 0-merge

#6346 test(transformer): fix indentation in transformer test fixtures
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-member-expression/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/private-properties/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/private-properties/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/can-handle-implicit-arrow-returns/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/does-not-consider-require-like-methods-to-be-hocs/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/does-not-get-tripped-by-iifes/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/emit-full-signatures-option/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/generates-signatures-for-function-declarations-calling-hooks/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/generates-signatures-for-function-expressions-calling-hooks/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/generates-valid-signature-for-exotic-ways-to-call-hooks/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-complex-definitions/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-higher-order-functions-that-are-not-hocs/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/ignores-hoc-definitions/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/includes-custom-hooks-into-the-signatures-when-commonjs-target-is-used/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/includes-custom-hooks-into-the-signatures/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/nested-member-expression-with-hooks/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-capitalized-identifiers-in-hoc-calls/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-identifiers-used-in-jsx-at-definition-site/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-identifiers-used-in-react-create-element-at-definition-site/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-likely-hocs-with-inline-functions-1/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-likely-hocs-with-inline-functions-2/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-likely-hocs-with-inline-functions-3/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-exported-function-declarations/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-exported-named-arrow-functions/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-variable-declarations-with-arrow-functions/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/registers-top-level-variable-declarations-with-function-expressions/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/supports-typescript-namespace-syntax/input.tsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/uses-custom-identifiers-for-refresh-reg-and-refresh-sig/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/refresh/uses-original-function-declaration-if-it-get-reassigned/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/static-children/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/static-children/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/unicode/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/enum-member-reference/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/export-elimination/output.ts
  tasks/transform_conformance/tests/regexp/test/fixtures/all-regex-plugins-enabled-by-targets/options.json
  tasks/transform_conformance/tests/regexp/test/fixtures/igm/options.json
Labels: A-transformer, 0-merge

#6355 fix(parser): should regard comments where after `=` as leading comments of next token
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
Labels: A-parser, 0-merge

#6356 fix(codegen): converts line comment to block comment if it is a `PURE` comment
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/tests/integration/pure_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/pure_comments.snap
Labels: A-codegen, 0-merge

#6357 chore(codegen): add more tests for comments from esbuild
  crates/oxc_codegen/tests/integration/pure_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/pure_comments.snap
Labels: A-codegen, 0-merge

#6352 fix(parser): string `ImportSpecifier`s for type imports
  crates/oxc_parser/src/js/module.rs
  crates/oxc_semantic/tests/integration/modules.rs
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-parser, A-semantic, 0-merge

#6353 refactor(parser): provide better error messages for `const` modifiers on class elements
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: A-parser, A-semantic, 0-merge

#6359 chore(minifier): align test name with closure-compiler
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier

#6003 feat(parser)!: use `BindingIdentifier` for `namespace` declaration names
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  crates/oxc_traverse/src/generated/walk.rs
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-parser, A-semantic, A-ast, A-transformer, 0-merge

#6368 chore(deps): update rust crates
  Cargo.lock
Labels: 0-merge

#6366 chore(deps): update crate-ci/typos action to v1.26.0
  .github/workflows/ci.yml
Labels: 0-merge

#6365 chore(deps): update pnpm to v9.12.1
  package.json
  tasks/benchmark/codspeed/package.json
  wasm/parser/package.json
Labels: 0-merge

#6367 chore(deps): update vscode npm packages
  editors/vscode/package.json
  pnpm-lock.yaml
Labels: 0-merge

#6375 chore(traverse): add JSDoc type hints to JS codegen scripts
  crates/oxc_traverse/scripts/build.mjs
  crates/oxc_traverse/scripts/lib/ancestor.mjs
  crates/oxc_traverse/scripts/lib/parse.mjs
  crates/oxc_traverse/scripts/lib/scopes_collector.mjs
  crates/oxc_traverse/scripts/lib/traverse.mjs
  crates/oxc_traverse/scripts/lib/utils.mjs
  crates/oxc_traverse/scripts/lib/walk.mjs
Labels: C-cleanup, 0-merge

#6120 feat(linter): configure by category in config files
  crates/oxc_linter/src/builder.rs
  crates/oxc_linter/src/config/categories.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/oxlintrc.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: C-enhancement, A-linter, 0-merge

#6379 feat(minifier): fold literal object constructors on window
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier

#6377 fix(linter): move `eslint/sort-keys` to `style` category
  crates/oxc_linter/src/rules/eslint/sort_keys.rs
Labels: A-linter, 0-merge

#6378 test(linter): make sure all auto-fixing rules have fixer test
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/rules/eslint/no_unexpected_multiline.rs
  crates/oxc_linter/src/rules/eslint/no_unsafe_negation.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/eslint.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/typescript_eslint.rs
  crates/oxc_linter/src/rules/eslint/valid_typeof.rs
  crates/oxc_linter/src/rules/jest/no_test_prefixes.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/no_explicit_any.rs
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter, 0-merge

#6376 feat(linter): add suggestions for `no-plusplus`
  crates/oxc_linter/src/rules/eslint/no_plusplus.rs
Labels: C-enhancement, A-linter, 0-merge

#6351 fix(semantic): `TSConditionalType` scope enter/exit locations
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional-nested.snap
  crates/oxc_semantic/tests/integration/scopes.rs
  crates/oxc_traverse/src/generated/walk.rs
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-semantic, A-ast, 0-merge, A-ast-tools

#6372 feat(isolated-declarations): impl `Default` for options
  crates/oxc_isolated_declarations/src/lib.rs
Labels: 0-merge, A-isolated-declarations

#6374 refactor(isolated-declarations): mark return struct as non exhaustive
  README.md
  crates/oxc_isolated_declarations/src/lib.rs
Labels: C-cleanup, 0-merge, A-isolated-declarations

#6332 feat(minifier): arithmetic operations for infinity.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, 0-merge

#6335 refactor(minifier): use builtin get_number_value.
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, 0-merge

#6394 fix(linter/no-unused-vars): false positive for functions and classes in arrays
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
  crates/oxc_linter/src/snapshots/no_unused_vars@oxc-used-declarations.snap
Labels: C-bug, A-linter, 0-merge

#6395 fix(linter/no-unused-vars): false positive in some default export cases
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
Labels: C-bug, A-linter, 0-merge

#6397 fix(linter/no-unused-vars): false positives in TS type assertions
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/usage.rs
Labels: A-linter, 0-merge

#6389 refactor(linter): improve labels and help message for `eslint/no-useless-constructor`
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
  crates/oxc_linter/src/snapshots/no_useless_constructor.snap
Labels: A-linter, 0-merge

#6390 test(linter/no-useless-constructor): add cases for initializers in subclass constructors
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
Labels: A-linter, 0-merge

#6398 perf(linter): use `CompactStr` in `no-bitwise`
  crates/oxc_linter/src/rules/eslint/no_bitwise.rs
Labels: A-linter, 0-merge

#6396 fix(regular_expression): Flatten Spans on regex AST nodes
  crates/oxc_regular_expression/src/ast.rs
Labels: 0-merge

#6399 perf(linter): use `CompactStr` in `no-console`
  crates/oxc_linter/src/rules/eslint/no_console.rs
Labels: A-linter, 0-merge

#6400 perf(linter): use `CompactStr` in `expect-expect`
  crates/oxc_linter/src/rules/jest/expect_expect.rs
Labels: A-linter, 0-merge

#6401 perf(linter): use `CompactStr` in `no-hooks`
  crates/oxc_linter/src/rules/jest/no_hooks.rs
Labels: A-linter, 0-merge

#6402 perf(linter): use `CompactStr` in `no-large-snapshots`
  crates/oxc_linter/src/rules/jest/no_large_snapshots.rs
Labels: A-linter, 0-merge

#6411 feat(coverage): add `ContentEq` test for regular_expression
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/src/driver.rs
Labels: good first issue, 0-merge

#6403 perf(linter): use `CompactStr` for `get_node_name` in Jest rules
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jest/no_standalone_expect.rs
  crates/oxc_linter/src/rules/jest/require_hook.rs
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter, 0-merge

#6405 perf(linter): use `CompactStr` in `prefer-lowercase-title`
  crates/oxc_linter/src/rules/jest/prefer_lowercase_title.rs
Labels: A-linter, 0-merge

#6406 perf(linter): use `CompactStr` in `valid-title`
  crates/oxc_linter/src/rules/jest/valid_title.rs
Labels: A-linter, 0-merge

#6407 perf(linter): Replace `ToString::to_string` with `CompactStr` in remaining rules
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/jsx_a11y/heading_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/mouse_events_have_key_events.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_redundant_roles.rs
  crates/oxc_linter/src/rules/promise/spec_only.rs
  crates/oxc_linter/src/rules/react/jsx_boolean_value.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
Labels: A-linter, 0-merge

#6415 fix(regular_expression): Fix CharacterClass negative codegen
  crates/oxc_regular_expression/src/ast_impl/display.rs
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/semantic_test262.snap
Labels: 0-merge

#6418 test(minifier): port all replace_known_methods tests.
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
Labels: A-minifier, 0-merge

#6419 feat(minifier): implement calculations for NumberValue
  crates/oxc_minifier/src/node_util/mod.rs
  crates/oxc_minifier/src/node_util/number_value.rs
Labels: A-minifier, 0-merge

#6421 test(minifier): add all test cases for `collapse_variable_declarations`
  crates/oxc_minifier/src/ast_passes/collapse_variable_declarations.rs
Labels: A-minifier

#6420 test(minifier): port the rest of tests
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier, 0-merge

#6075 refactor(oxc): ban index methods on std::str::Chars
  .github/workflows/ci.yml
  crates/oxc_linter/src/rules/nextjs/no_typos.rs
Labels: A-linter

#6422 feat(minifier): implement block stmt support for `StatementFusion`
  crates/oxc_minifier/src/ast_passes/statement_fusion.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, 0-merge

#6410 feat(regular_expression): Support RegExp Modifiers
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/ast_impl/display.rs
  crates/oxc_regular_expression/src/diagnostics.rs
  crates/oxc_regular_expression/src/generated/derive_clone_in.rs
  crates/oxc_regular_expression/src/generated/derive_content_eq.rs
  crates/oxc_regular_expression/src/generated/derive_content_hash.rs
  crates/oxc_regular_expression/src/parser/mod.rs
  crates/oxc_regular_expression/src/parser/parser_impl.rs
  tasks/coverage/snapshots/codegen_test262.snap
  tasks/coverage/snapshots/minifier_test262.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/transformer_test262.snap
  tasks/coverage/src/test262/mod.rs
Labels: A-ast, 0-merge
