Repository oxc-project/oxc, pull requests merged in 2024-04, with the labels that each got.

#2881 fix(ast): `FinallyClause` won't get visited as `BlockStatement` anymore.
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_linter/src/rules/eslint/no_empty.rs
  crates/oxc_linter/src/rules/eslint/no_unsafe_finally.rs
  crates/oxc_linter/src/rules/unicorn/empty_brace_spaces.rs
Labels: A-linter, A-ast

#2878 chore: add changelogs via git cliff
  .typos.toml
  cliff.toml
  crates/oxc/CHANGELOG.md
  crates/oxc_allocator/CHANGELOG.md
  crates/oxc_ast/CHANGELOG.md
  crates/oxc_codegen/CHANGELOG.md
  crates/oxc_diagnostics/CHANGELOG.md
  crates/oxc_index/CHANGELOG.md
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_parser/CHANGELOG.md
  crates/oxc_semantic/CHANGELOG.md
  crates/oxc_sourcemap/CHANGELOG.md
  crates/oxc_span/CHANGELOG.md
  crates/oxc_syntax/CHANGELOG.md
  crates/oxc_transformer/CHANGELOG.md
Labels: A-parser, A-semantic, A-minifier, A-ast, A-transformer, A-codegen

#2882 feat(linter/tree-shaking): support `ArrayExpression` and `ArrayPattern`
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2883 feat(linter/tree-shaking): support ArrowFunctionExpression
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2891 fix(semantic): flag function expressions with `SymbolFlags::Function`
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/tests/symbols.rs
Labels: C-bug, A-semantic

#2890 feat(linter/tree-shaking): support ThisExpression and NewExpression
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#2889 fix(sourcemap): using serde_json::to_string to quote sourcemap string
  crates/oxc_codegen/examples/sourcemap.rs
  crates/oxc_sourcemap/src/concat_sourcemap_builder.rs
  crates/oxc_sourcemap/src/encode.rs
  crates/oxc_sourcemap/src/sourcemap.rs
  crates/oxc_sourcemap/src/sourcemap_builder.rs
  tasks/benchmark/benches/sourcemap.rs
Labels: A-codegen

#2864 feat(linter): eslint-plugin-jest/prefer-mock-promise-sorthand
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_mock_promise_shorthand.rs
  crates/oxc_linter/src/snapshots/prefer_mock_promise_shorthand.snap
Labels: A-linter

#2894 refactor(codegen): make codegen sourcemap builder clearer
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2895 chore: avoid unsafe code search original name
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen

#2893 feat(linter): Implement jsdoc/empty-tags
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
  crates/oxc_linter/src/snapshots/empty_tags.snap
Labels: A-linter

#2642 feat(linter): Implement jsdoc/check-access
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/snapshots/check_access.snap
  crates/oxc_semantic/src/jsdoc/mod.rs
  crates/oxc_semantic/src/jsdoc/parser/mod.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

#2896 fix(semantic): symbols inside functions and classes incorrectly flagged as exported
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/modules.rs
  crates/oxc_semantic/tests/util/symbol_tester.rs
  crates/oxc_syntax/src/module_record.rs
Labels: C-bug, A-semantic

#2789 feat(linter): @typescript-eslint/prefer-for-of
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/prefer_for_of.rs
  crates/oxc_linter/src/snapshots/prefer_for_of.snap
Labels: A-linter

#2901 feat(linter/tree-shaking): check `this` in different environment
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2902 feat(linter/tree-shaking): support try-catch and AwaitExpression
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2906 fix(linter): svelte partial loader handle generics (#2875)
  crates/oxc_linter/src/partial_loader/mod.rs
  crates/oxc_linter/src/partial_loader/svelte.rs
  crates/oxc_linter/src/partial_loader/vue.rs
Labels: A-linter

#2907 fix(linter): handle self closing script tags in astro partial loader (#2017)
  crates/oxc_linter/src/partial_loader/astro.rs
Labels: A-linter

#2905 feat(linter/import): Add `ignoreTypes` option for the `import/no-cycle` rule
  crates/oxc_linter/fixtures/import/cycles/typescript/ts-types-depth-two.ts
  crates/oxc_linter/fixtures/import/cycles/typescript/ts-types-only-importing-multiple-types.ts
  crates/oxc_linter/fixtures/import/cycles/typescript/ts-types-only-importing-type.ts
  crates/oxc_linter/fixtures/import/cycles/typescript/ts-types-some-type-imports.ts
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/snapshots/no_cycle.snap
Labels: A-linter

#2922 feat(linter/tree-shaking): support part BinaryExpression
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#2924 fix(linter): import/no-cycle ignore type-only imports
  crates/oxc_linter/fixtures/import/cycles/typescript/ts-depth-type-and-value-imports.ts
  crates/oxc_linter/fixtures/import/cycles/typescript/ts-value.ts
  crates/oxc_linter/src/rules/import/no_cycle.rs
Labels: A-linter

#2921 feat(transformer): add react preset
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
  crates/oxc_transformer/src/react_jsx_source/mod.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2925 fix(cli): if format is json do not print summary information (#2899)
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_cli/src/result.rs
  crates/oxc_diagnostics/src/service.rs
Labels: A-cli

#2929 feat(transformer): add transform callback methods
  crates/oxc_transformer/src/decorators/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

#2917 refactor(semantic/jsdoc): Rework JSDoc struct for better Span handling
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
  crates/oxc_linter/src/snapshots/check_access.snap
  crates/oxc_linter/src/snapshots/empty_tags.snap
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/jsdoc/parser/mod.rs
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
  crates/oxc_semantic/src/jsdoc/parser/utils.rs
Labels: A-linter, A-semantic

#2931 feat(transformer): add transform context to all plugins
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/decorators/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-transformer

#2938 feat(oxc_ast): add missing ast visits for types
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit/visit.rs
Labels: A-ast

#2937 feat(transformer): implement plugin-transform-react-display-name top-down
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2940 fix(cli): fix `oxlint --format json` yields 0 files to lint
  crates/oxc_cli/src/command/lint.rs
Labels: A-cli

#2941 feat(transformer): add filename
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/transformer.rs
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/src/ts_fixtures.rs
Labels: A-transformer

#2942 feat(transformer): transform TypeScript namespace
  Cargo.lock
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/typescript.snap.md
Labels: A-ast, A-transformer

#2935 feat(linter): Add --jsdoc-plugin flag
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/options.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter, A-cli

#2946 feat(transformer): implement react-jsx-self
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-ast, A-transformer

#2943 Make ast types covariant over the allocator lifetime.
  Cargo.lock
  Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_allocator/src/arena.rs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/eslint/no_self_assign.rs
  crates/oxc_linter/src/rules/jest/prefer_to_be.rs
  crates/oxc_linter/src/rules/jest/prefer_to_have_length.rs
  crates/oxc_linter/src/rules/react/no_direct_mutation_state.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/unicorn/no_thenable.rs
  crates/oxc_linter/src/rules/unicorn/prefer_event_target.rs
  crates/oxc_linter/src/rules/unicorn/prefer_modern_dom_apis.rs
  crates/oxc_linter/src/rules/unicorn/prefer_regexp_test.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_parser/examples/multi-thread.rs
  crates/oxc_prettier/src/doc.rs
  crates/oxc_semantic/src/class/builder.rs
  tasks/rulegen/src/main.rs
Labels: A-linter, A-parser, A-semantic, A-minifier, A-ast, A-codegen, A-prettier

#2948 feat(transformer): implement react-jsx-source
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-transformer

#2949 refactor(transformer): clean up some code
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/decorators/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/src/lib.rs
Labels: A-transformer

#2950 feat(transformer): add the most basic plugin toggles
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2951 feat(transformer): start on TypeScript annotation removal
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#2962 feat(linter) eslint-plugin-unicorn no single promise in promise methods
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
  crates/oxc_linter/src/snapshots/no_single_promise_in_promise_methods.snap
Labels: A-linter

#2963 feat(linter) eslint-plugin-unicorn no await in promise methods
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_await_in_promise_methods.rs
  crates/oxc_linter/src/snapshots/no_await_in_promise_methods.snap
Labels: A-linter

#2961 feat(transformer): react jsx transform
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
  tasks/common/src/babel.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-ast, A-transformer

#2964 feat(linter/tree-shaking): support Class
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#2965 feat(linter/tree-shaking): support ConditionalExpression
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#2969 fix(transformer): fix incorrect jsx unicode text handling
  crates/oxc_transformer/src/react/jsx/mod.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/unicode/input.jsx
  tasks/transform_conformance/tests/babel-plugin-transform-react-jsx/test/fixtures/unicode/output.js
Labels: A-transformer

#2968 fix(transformer): turn on react preset by default
  crates/oxc_transformer/src/react/options.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2966 feat(transformer): apply jsx self and source plugin inside jsx transform
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2972 fix(transformer): deserialize ReactJsxRuntime with camelCase
  crates/oxc_transformer/src/react/options.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2973 feat(linter): add missing test cases to no-empty-interface and add config
  crates/oxc_linter/src/rules/typescript/no_empty_interface.rs
  crates/oxc_linter/src/snapshots/no_empty_interface.snap
Labels: A-linter

#2967 feat(transform_conformance): skip plugins we don't support yet
  crates/oxc_transformer/src/react/options.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2974 feat(transformer): add diagnostics to react transform
  crates/oxc_transformer/src/react/jsx/diagnostics.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/options.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2977 feat(transform_conformance): skip tests with plugin.js
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2978 feat(transform_conformance): skip tests with plugin.js
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2979 fix(linter/no-empty-interface): add missing test
  crates/oxc_linter/src/rules/typescript/no_empty_interface.rs
  crates/oxc_linter/src/snapshots/no_empty_interface.snap
Labels: A-linter

#2980 feat(transform_conformance): handle deserialization errors
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2982 feat(transform_conformance): drop all babel 7 specific tests
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2960 feat(semantic/jsdoc): Handle optional type syntax for type name part
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/jsdoc/parser/utils.rs
Labels: A-semantic

#2990 refactor(transform_conformance): correctly handle BABEL_8_BREAKING
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2991 refactor(transformer): remove boilerplate code around decorators to reduce noise
  crates/oxc_transformer/src/decorators/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#2993 feat(codegen): correctly print type-only imports/exports
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#2994 feat(linter/tree-shaking): support DoWhileStatement and IfStatement
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#2995 feat(transformer/typescript): correct elide imports/exports statements
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/collector.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2989 feat(linter): Implement plugin-jsdoc/check-property-names
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/check_property_names.rs
  crates/oxc_linter/src/snapshots/check_property_names.snap
Labels: A-linter

#2997 feat(transformer/typescript): support for transform enum
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/utils.rs
  tasks/transform_conformance/typescript.snap.md
Labels: A-transformer

#2998 feat(transformer/typescript): support for transform TSImportEqualsDeclaration
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3002 fix(transformer): react `development` default value should be false
  crates/oxc_transformer/src/react/options.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3000 feat(transformer): add "_jsxFileName" variable in jsx source plugin
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/common/src/babel.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3003 feat(transform_conformance): skip windows tests
  tasks/common/src/babel.rs
  tasks/common/src/lib.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3005 fix(transformer/typescript): modifiers should not be removed
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3007 feat(transformer_conformance): enable typescript when the typescript plugin is present
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3008 chore(transform_conformance): ignore more unsupported plugins
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-transformer

#3011 feat(linter/jsdoc): Implement require-property rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_property.rs
  crates/oxc_linter/src/snapshots/require_property.snap
Labels: A-linter

#3009 feat(transformer/react): reports duplicate __self/__source prop error
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/diagnostics.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/diagnostics.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3012 fix(transformer): `TypeScriptOptions` deserialize should fallback to default
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3013 feat(linter/jsdoc): Implement require-property-(type|name|description) rules
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_name.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_type.rs
  crates/oxc_linter/src/snapshots/require_property_description.snap
  crates/oxc_linter/src/snapshots/require_property_name.snap
  crates/oxc_linter/src/snapshots/require_property_type.snap
Labels: A-linter

#3018 feat(transformer/typescript): insert this assignment after the super call
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#3021 feat(transformer/typescript): report error for export = <value>
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/diagnostics.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3016 feat(linter/jsdoc): Update settings.jsdoc method
  crates/oxc_linter/src/config/settings/jsdoc.rs
Labels: A-linter

#3017 fix(semantic/jsdoc): Skip parsing `@` inside of backticks
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
Labels: A-semantic

#2874 feat(linter): eslint/max-len
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/max_len.rs
  crates/oxc_linter/src/snapshots/max_len.snap
Labels: A-linter

#3023 feat(linter): remove import/no-unresolved
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_unresolved.rs
  tasks/lint_rules/src/oxlint-rules.cjs
Labels: A-linter

#3024 feat(linter): support `oxlint-disable` alongside `eslint-disable`
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#3026 refactor(prettier): simplify import
  crates/oxc_prettier/src/format/template_literal.rs
Labels: A-prettier

#3028 refactor: remove redundant imports to fix some of clippy warnings.
  crates/oxc_cli/src/lint/mod.rs
  tasks/coverage/src/suite.rs
Labels: A-cli

#3031 refactor(ast): implement same traits on all fieldless enums
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_syntax/src/lib.rs
Labels: A-ast

#3032 feat(semantic): add root node to the `AstNodes` structure.
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/node.rs
Labels: A-semantic

#3035 fix(linter): fix crashing with `unwrap` in import/no-cycle
  crates/oxc_linter/src/rules/import/no_cycle.rs
Labels: A-linter

#3036 fix(parser): fix comment typos
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser

#3037 refactor(linter): improve the ergonomics around `ESlintConfig`
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/rules/jsdoc/check_property_names.rs
  crates/oxc_linter/src/rules/jsdoc/require_property.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_name.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_type.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_is_valid.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_activedescendant_has_tabindex.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_role.rs
  crates/oxc_linter/src/rules/jsx_a11y/autocomplete_valid.rs
  crates/oxc_linter/src/rules/jsx_a11y/click_events_have_key_events.rs
  crates/oxc_linter/src/rules/jsx_a11y/heading_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/html_has_lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/iframe_has_title.rs
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_autofocus.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_distracting_elements.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_redundant_roles.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_has_required_aria_props.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_supports_aria_props.rs
  crates/oxc_linter/src/rules/jsx_a11y/scope.rs
  crates/oxc_linter/src/rules/react/jsx_no_target_blank.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter

#3038 feat(linter): support eslint globals
  crates/oxc_cli/fixtures/no_undef/eslintrc.json
  crates/oxc_cli/fixtures/no_undef/test.js
  crates/oxc_linter/src/config/globals.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rules/eslint/no_undef.rs
  crates/oxc_linter/src/snapshots/no_undef.snap
Labels: A-linter, A-cli

#3039 feat(cli): implement `--format unix`
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/reporter.rs
  crates/oxc_diagnostics/src/service.rs
Labels: A-cli

#3044 feat(cli): implement `--format checkstyle`
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/reporter.rs
  crates/oxc_diagnostics/src/service.rs
Labels: A-cli

#3046 fix(semantic): correctly resolve identifiers inside parameter initializers
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/scopes.rs
  crates/oxc_syntax/src/node.rs
Labels: A-semantic

#3049 feat(ast): add `CatchParameter` node
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/eslint/no_useless_catch.rs
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/rules/unicorn/prefer_optional_catch_binding.rs
  crates/oxc_linter/src/snapshots/prefer_optional_catch_binding.snap
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_semantic/src/binder.rs
Labels: A-linter, A-parser, A-semantic, A-ast, A-codegen, A-prettier

#3050 fix(semantic): correctly resolve identifiers inside catch parameter initializers
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/scopes.rs
Labels: A-semantic

#3051 perf(ast): reduce indirection in AST types
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, A-ast

#3061 perf(ast): box `ImportDeclarationSpecifier` enum variants
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_transformer/src/helpers/module_imports.rs
Labels: A-parser, A-ast, A-transformer

#3058 perf(ast): box enum variants
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_role.rs
  crates/oxc_linter/src/rules/jsx_a11y/html_has_lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/iframe_has_title.rs
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/mouse_events_have_key_events.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_access_key.rs
  crates/oxc_linter/src/rules/nextjs/no_before_interactive_script_outside_document.rs
  crates/oxc_linter/src/rules/nextjs/no_unwanted_polyfillio.rs
  crates/oxc_linter/src/rules/react/button_has_type.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_jsx_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_array_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_function_as_prop.rs
  crates/oxc_linter/src/rules/react_perf/jsx_no_new_object_as_prop.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_self/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
Labels: A-linter, A-parser, A-ast, A-transformer

#3065 perf(ast): box typescript enum variants.
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_transformer/src/typescript/module.rs
Labels: A-linter, A-parser, A-ast, A-transformer

#3052 feat(linter/tree-shaking): support `ExportDefaultDeclaration`
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#3030 feat(linter): no barrel file.
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/oxc/no_barrel_file.rs
  crates/oxc_linter/src/snapshots/no_barrel_file.snap
Labels: A-linter

#3064 refactor(linter/import/no_cycle): use ModuleGraphVisitor.
  crates/oxc_linter/src/rules/import/no_cycle.rs
Labels: A-linter

#3045 feat(linter): implement fixer for `typescript-eslint/consistent-type-definitions`
  crates/oxc_linter/src/rules/typescript/consistent_type_definitions.rs
Labels: A-linter

#3070 feat(linter): eslint/no-await-in-loop
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_await_in_loop.rs
  crates/oxc_linter/src/snapshots/no_await_in_loop.snap
Labels: A-linter

#3073 fix(ast): do not include `trailing_comma` in JSON AST
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/serialize.rs
Labels: A-ast

#3072 feat(linter/tree-shaking): support ExportNamedDeclaration
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#3076 feat(ast): add `callee_name` method to the `CallExpression`.
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#3029 feat(linter/jsdoc): Implement check-tag-names rule
  crates/oxc_linter/src/config/settings/jsdoc.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
  crates/oxc_linter/src/snapshots/check_tag_names.snap
Labels: A-linter

#3082 chore(tasks): observe nursery rule in benchmark
  crates/oxc_linter/src/rules/oxc/no_barrel_file.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter

#3084 fix(semantic): allow `root_node` to be empty for empty trees.
  crates/oxc_linter/src/rules/oxc/no_barrel_file.rs
  crates/oxc_semantic/src/node.rs
Labels: A-linter, A-semantic

#3085 fix(semantic): revert test code pushed to the main by accident.
  crates/oxc_linter/src/rules/oxc/no_barrel_file.rs
  crates/oxc_semantic/src/node.rs
Labels: A-linter, A-semantic

#3087 improvement(linter/nextjs): use `root_node` method in `no_async_client_component` rule.
  crates/oxc_linter/src/rules/nextjs/no_async_client_component.rs
Labels: A-linter

#3088 improvement(linter/ts): use `root_node` method in the `triple_slash_reference` rule.
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
Labels: A-linter

#3089 improvement(linter/tree_shaking): use `root_node` in the `no_side_effects_in_initialization` rule.
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
Labels: A-linter

#3090 improvement(linter/unicorn): use `root_node` method in the `no_empty_file` rule.
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
Labels: A-linter

#3091 improvement(linter/unicorn): use `root_node` method in the `no_process_exit` rule.
  crates/oxc_linter/src/rules/unicorn/no_process_exit.rs
Labels: A-linter

#3081 feat(linter/jsdoc): Implement `implements-on-classes` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/implements_on_classes.rs
  crates/oxc_linter/src/snapshots/implements_on_classes.snap
Labels: A-linter

#3093 feat(semantic): report namespace related errors
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_typescript.snap
Labels: A-semantic

#3092 chore(index): fork `index_vec` crate.
  Cargo.lock
  Cargo.toml
  THIRD-PARTY-LICENSE
  crates/oxc_index/Cargo.toml
  crates/oxc_index/example_generated/example_generated.rs
  crates/oxc_index/src/example_generated.rs
  crates/oxc_index/src/idxslice.rs
  crates/oxc_index/src/indexing.rs
  crates/oxc_index/src/lib.rs
  crates/oxc_index/src/macros.rs
  crates/oxc_index/tests/test.rs
Labels: dependencies

#3025 feat(transformer): implement typescript namespace
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/syntax_directed_operations/bound_names.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/typescript.snap.md
Labels: A-ast, A-transformer

#3101 refactor(ast): remove duplicate `TSNamedTupleMember` representation
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/visit/visit.rs
  crates/oxc_ast/src/visit/visit_mut.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_parser/src/ts/list.rs
Labels: A-parser, A-ast, A-codegen

#3098 feat(linter/jsdoc): Implement no-defaults rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jsdoc/no_defaults.rs
  crates/oxc_linter/src/snapshots/no_defaults.snap
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
Labels: A-linter, A-semantic

#3103 chore: make `oxc_index` dependency on `serde` optional.
  crates/oxc_index/Cargo.toml
Labels: dependencies

#3106 fix(index): add `example_generated` to create the docs.
  crates/oxc_index/Cargo.toml
Labels: dependencies

#3097 feat(linter): typescript-eslint/prefer-enum-initializers
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/prefer_enum_initializers.rs
  crates/oxc_linter/src/snapshots/prefer_enum_initializers.snap
Labels: A-linter

#3110 feat(linter): eslint-plugin-jest/require-hook
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/require_hook.rs
  crates/oxc_linter/src/snapshots/require_hook.snap
Labels: A-linter

#3107 feat(linter): add more "ban-ts-comment" test cases.
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/snapshots/ban_ts_comment.snap
Labels: A-linter

#3112 refactor(prettier): reduce recursion
  crates/oxc_prettier/src/format/call_arguments.rs
Labels: A-prettier

#3109 refactor(linter/jsdoc): Misc improvements
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/rules/jsdoc/check_property_names.rs
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
  crates/oxc_linter/src/rules/jsdoc/implements_on_classes.rs
  crates/oxc_linter/src/rules/jsdoc/no_defaults.rs
  crates/oxc_linter/src/rules/jsdoc/require_property.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_name.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_type.rs
  crates/oxc_linter/src/utils/jsdoc.rs
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter

#3119 chore(linter/tree-shaking): uncomment function and identifier test cases
  crates/oxc_index/Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: A-linter

#3120 deps(allocator): disable `serde` dep by default
  crates/oxc_allocator/Cargo.toml
  crates/oxc_allocator/src/arena.rs
  crates/oxc_ast/Cargo.toml
Labels: A-ast

#3124 refactor(syntax): use `FxHashMap` for `ModuleRecord::request_modules`
  Cargo.lock
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/snapshots/no_duplicates.snap
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/module_record.rs
Labels: A-linter

#3083 feat(transformer): add arrow-functions plugin
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/es2015/options.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/babel_exec.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3102 refactor(transformer/typescript): reimplementation of Enum conversion based on Babel
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/conversions.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/utils.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/main.rs
  tasks/transform_conformance/src/ts_fixtures.rs
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/computed-constant-value/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/computed-constant-value/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/options.json
Labels: A-transformer

#3130 refactor(syntax): move number related functions to number module
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/number.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/typescript/enum.rs
Labels: A-linter, A-parser, A-semantic, A-minifier, A-ast, A-transformer, A-codegen

#3131 feat(syntax): add `ToJsString` trait for f64
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/serialize.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/number.rs
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/typescript/enum.rs
Labels: A-ast, A-transformer

#3132 feat(syntax): add `ToJsInt32` trait for f64
  crates/oxc_syntax/src/number.rs
  crates/oxc_transformer/src/typescript/conversions.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-linter, A-parser, A-semantic, A-minifier, A-ast, A-transformer, A-codegen

#3129 fix(transformer/arrow-functions): should not transform `this` in class
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#3135 feat(transform_conformance): handle parse error
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3136 chore(transform_conformance): skip transform-destructuring
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/src/lib.rs
Labels: A-transformer

#3138 feat(linter/tree-shaking): support import statement
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#3139 feat(linter/tree-shaking): support JSX
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/listener_map.rs
  crates/oxc_linter/src/rules/tree_shaking/no_side_effects_in_initialization/mod.rs
  crates/oxc_linter/src/snapshots/no_side_effects_in_initialization.snap
Labels: A-linter

#3140 refactor(transformer): remove the requirement of `Semantic`
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/display_name/mod.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/jsx_source/mod.rs
  crates/oxc_transformer/src/react/options.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/src/transformer.rs
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer

#3141 feat(transformer/react): enable jsx plugin when development is true
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_transformer/src/react/jsx/mod.rs
  crates/oxc_transformer/src/react/mod.rs
  crates/oxc_transformer/src/react/options.rs
Labels: A-ast, A-transformer

#3145 refactor(coverage): avoid an `String::from_utf8` over head during serialization
  crates/oxc_ast/src/serialize.rs
  tasks/coverage/src/suite.rs
Labels: A-ast
