Repository oxc-project/oxc, pull requests merged in 2024-02, with the labels that each got.

#2243 refactor(parser): consume chars when parsing surrogate pair escape
  crates/oxc_parser/src/lexer/unicode.rs
Labels: A-parser

#2238 feat(transformer/decorators): support method decorator and is not static
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#2210 feat(semantic): track cfg index per ast node
  crates/oxc_linter/src/rules/eslint/getter_return.rs
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/control_flow.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/node.rs
  crates/oxc_semantic/src/pg.rs
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@class_extend_super.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@class_extend_super.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@fn_return_obj_expr_with_computed_key.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@fn_return_obj_expr_with_computed_key.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@if_else.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@if_else.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labelled_try_break.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labelled_try_break.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@member_access_with_numbered_index.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@member_access_with_numbered_index.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@member_access_with_unreachable.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@member_access_with_unreachable.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@nested_computed_member_expression.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@nested_computed_member_expression.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@private_in.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@private_in.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@simple_spread.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@simple_spread.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@spread_in_a_spread.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@spread_in_a_spread.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@switch_statement.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@switch_statement.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@two_functions.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@two_functions.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@while.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@while.js.snap
Labels: A-linter, A-semantic

#2245 fix(lexer): correct the span for irregular whitespaces
  crates/oxc_linter/src/rules/eslint/no_irregular_whitespace.rs
  crates/oxc_linter/src/snapshots/no_irregular_whitespace.snap
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/unicode.rs
Labels: A-linter, A-parser

#2246 feat(transformer/decorators): support for static and private member decorators
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#2247 feat(ast): remove expression property from Function
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-parser, A-ast, A-transformer

#2250 fix(oxc_semantic): proper traversal of try statements
  crates/oxc_linter/src/snapshots/empty_brace_spaces.snap
  crates/oxc_linter/src/snapshots/no_empty.snap
  crates/oxc_linter/src/snapshots/no_return_await.snap
  crates/oxc_linter/src/snapshots/no_unsafe_finally.snap
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/pg.rs
  crates/oxc_semantic/tests/cfg_fixtures/do_while_break.js
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@do_while_break.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@do_while_break.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@function_in_finally.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@function_in_finally.js.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labeled_block_break.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labelled_try_break.js-2.snap
  crates/oxc_semantic/tests/snapshots/cfg__cfg_files@labelled_try_break.js.snap
  tasks/coverage/parser_test262.snap
Labels: A-semantic

#2249 refactor(transformer/decorators): optimizing code with ast.private_field
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/proposals/decorators.rs
Labels: A-ast, A-transformer

#2234 feat(linter): complete custom components setting
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/settings.rs
  crates/oxc_linter/src/rules/react/jsx_no_target_blank.rs
  tasks/rulegen/src/main.rs
Labels: A-linter

#2260 feat(ast): remove generator property from ArrowFunction
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
  crates/oxc_linter/src/rules/eslint/require_yield.rs
  crates/oxc_linter/src/rules/unicorn/prefer_native_coercion_functions.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-linter, A-parser, A-ast, A-transformer

#2261 feat(semantic): report error on optional variable declaration in TypeScript
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/misc/fail/oxc-2253.ts
  tasks/coverage/parser_misc.snap
Labels: A-semantic

#2263 feat(semantic): check optional parameters
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: A-semantic, A-ast

#2264 feat(semantic): check parameters property
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: A-semantic

#2265 feat(codegen): keep shorthand in ObjectPattern and ObjectProperty
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

#2268 fix(transformer): update snapshot
  tasks/transform_conformance/typescript.snap.md
Labels: A-transformer, A-codegen

#2271 chore(parser): add visitor example
  crates/oxc_parser/examples/visitor.rs
Labels: A-parser

#2273 feat(semantic): report no class name error
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/misc/fail/oxc-2144.js
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_typescript.snap
Labels: A-semantic

#2277 fix(linter): AllowFunction doesn't support generator
  crates/oxc_linter/src/rules/eslint/require_yield.rs
Labels: A-linter

#2278 fix(codegen): print space before with clause in import
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#2254 feat(linter): Implement no_this_before_super with cfg
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/snapshots/no_this_before_super.snap
Labels: A-linter

#2291 fix(linter): fix no_dupe_keys false postive on similar key names
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_keys.rs
  crates/oxc_linter/src/rules/typescript/adjacent_overload_signatures.rs
  crates/oxc_linter/src/snapshots/adjacent_overload_signatures.snap
Labels: A-linter, A-ast

#2293 refactor(ast): fix BigInt memory leak by removing it
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/eslint/no_compare_neg_zero.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_keys.rs
  crates/oxc_linter/src/snapshots/no_dupe_class_members.snap
  crates/oxc_linter/src/snapshots/no_dupe_keys.snap
  crates/oxc_minifier/src/compressor/ast_util.rs
  crates/oxc_minifier/src/compressor/fold.rs
  crates/oxc_minifier/tests/closure/fold_constants.rs
  crates/oxc_parser/src/js/expression.rs
Labels: A-linter, A-parser, A-minifier, A-ast, A-codegen

#2294 feat(span): fix memory leak by implementing inlineable string for oxc_allocator
  .github/workflows/miri.yml
  Cargo.lock
  Cargo.toml
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/atom.rs
Labels: A-semantic

#2300 fix(semantic): remove ignore cases
  crates/oxc_semantic/tests/symbols.rs
Labels: A-semantic

#2301 refactor(parser): name byte handler functions
  crates/oxc_parser/src/lexer/byte_handlers.rs
Labels: A-parser

#2307 feat(semantic): apply ImportSpecifier's binder and remove ModuleDeclaration's binder
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
Labels: A-linter, A-semantic

#2309 feat(semantic): report unexpected type annotation in ArrayPattern
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/parser_babel.snap
Labels: A-semantic

#2311 fix(semantic): remove unnecessary SymbolFlags::Import
  crates/oxc_semantic/src/binder.rs
  crates/oxc_syntax/src/symbol.rs
Labels: A-semantic

#2313 feat(linter): promote `no-this-before-super` to correctness
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
Labels: A-linter

#2316 feat(semantic): report parameter related errors for setter/getter
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/parser_babel.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser, A-semantic, A-ast

#2317 feat(ast): enter AstKind::ExportDefaultDeclaration, AstKind::ExportNamedDeclaration and AstKind::ExportAllDeclaration
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_linter/src/rules/eslint/no_inner_declarations.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-linter, A-semantic, A-ast

#2320 feat(prettier): Support TSExportAssignment
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/module.rs
Labels: A-prettier

#2321 feat(prettier): Support TSImportEqualsDeclaration
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#2284 chore(linter): Add more tests for ESLintConfig
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/options.rs
Labels: A-linter

#2288 refactor(parser): lexer replace `Chars` with `Source`
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/jsx.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/punctuation.rs
  crates/oxc_parser/src/lexer/regex.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lexer/string.rs
  crates/oxc_parser/src/lexer/string_builder.rs
  crates/oxc_parser/src/lexer/template.rs
  crates/oxc_parser/src/lexer/typescript.rs
  crates/oxc_parser/src/lexer/unicode.rs
Labels: A-parser

#2326 chore(linter); add regression case for require-yield
  crates/oxc_linter/src/rules/eslint/require_yield.rs
Labels: A-linter

#2292 feat: add typescript-eslint rule array-type
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/array_type.rs
  crates/oxc_linter/src/snapshots/array_type.snap
Labels: A-linter

#2329 feat(semantic): add export binding for ExportDefaultDeclarations in module record
  crates/oxc_linter/src/rules/import/export.rs
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/tests/symbols.rs
Labels: A-linter, A-semantic

#2330 fix(codegen): format new expression + call expression with the correct parentheses
  crates/oxc_codegen/src/context.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#2331 feat(codegen): avoid printing comma in ArrayAssignmentTarget if the elements is empty
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_runtime_test262.snap
Labels: A-codegen

#2332 chore: update prettier to v3.2.5
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/prettier_conformance/src/spec.rs
Labels: A-prettier

#2333 feat(tasks/prettier): add some information for debug no spec calls
  tasks/prettier_conformance/src/lib.rs
  tasks/prettier_conformance/src/spec.rs
Labels: A-prettier

#2339 refactor(parser): wrapper type for parser
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/js/list.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/list.rs
  crates/oxc_parser/src/ts/declaration.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser

#2342 fix(linter): add missing typescript-eslint(_) prefix for some errors
  crates/oxc_linter/src/rules/typescript/array_type.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/snapshots/array_type.snap
  crates/oxc_linter/src/snapshots/ban_ts_comment.snap
Labels: A-linter

#2340 parser(refactor): promise only one `Source` on a thread at a time
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/declaration.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/lexer.rs
Labels: A-parser

#2341 refactor(parser): make `Source::set_position` safe
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser

#2325 refactor(linter/config): Use serde::Deserialize for config parsing
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/env.rs
  crates/oxc_linter/src/config/errors.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/rules.rs
  crates/oxc_linter/src/config/settings.rs
  crates/oxc_linter/src/config/settings/jsx_a11y.rs
  crates/oxc_linter/src/config/settings/mod.rs
  crates/oxc_linter/src/config/settings/next.rs
  crates/oxc_linter/src/config/settings/react.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options.rs
  crates/oxc_linter/src/rules/react/jsx_no_target_blank.rs
  crates/oxc_linter/src/tester.rs
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#2344 refactor(parser): fix outdated comment
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser

#2334 fix(prettier): printing value instead of key in BindingProperty
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#2347 refactor(prettier): s/nodes/stack
  crates/oxc_prettier/src/lib.rs
  crates/oxc_prettier/src/needs_parens.rs
Labels: A-prettier

#2350 refactor(parser): all pointer manipulation through `SourcePosition`
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser

#2351 refactor(parser): macro for ASCII identifier byte handlers
  crates/oxc_parser/src/lexer/byte_handlers.rs
Labels: A-parser

#2352 perf(parser): lex identifiers as bytes not chars
  Cargo.lock
  Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/search.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lexer/string_builder.rs
  crates/oxc_parser/src/lexer/unicode.rs
Labels: A-parser

#2363 fix(linter): `getter-return` false positive with TypeScript syntax
  crates/oxc_linter/src/rules/eslint/getter_return.rs
Labels: A-linter

#2346 fix(codegen): format new expession + import expression with the correct parentheses
  crates/oxc_ast/src/precedence.rs
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_runtime_test262.snap
Labels: A-ast, A-codegen

#2359 fix(linter/jsx_a11y): Ensure plugin settings are used
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_is_valid.rs
  crates/oxc_linter/src/rules/jsx_a11y/heading_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/iframe_has_title.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_aria_hidden_on_focusable.rs
  crates/oxc_linter/src/rules/jsx_a11y/prefer_tag_over_role.rs
  crates/oxc_linter/src/snapshots/alt_text.snap
  crates/oxc_linter/src/snapshots/anchor_has_content.snap
  crates/oxc_linter/src/snapshots/anchor_is_valid.snap
  crates/oxc_linter/src/snapshots/heading_has_content.snap
  crates/oxc_linter/src/snapshots/iframe_has_title.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#2357 perf(parser): lex strings as bytes
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lexer/string.rs
Labels: A-parser

#2367 fix(prettier): flatten all binary expressions for now
  crates/oxc_prettier/src/format/binaryish.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#2370 feat(prettier): print rest parameters
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_prettier/src/format/function_parameters.rs
  crates/oxc_prettier/src/format/object.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#2366 perf(parser): optimize lexing strings
  crates/oxc_parser/src/lexer/search.rs
  crates/oxc_parser/src/lexer/string.rs
Labels: A-parser

#2372 refactor(parser): extend `byte_search` macro
  crates/oxc_parser/src/lexer/search.rs
Labels: A-parser

#2373 refactor(parser): add methods to `Source` + `SourcePosition`
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser

#2374 perf(parser): consume single-line comments faster
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser

#2375 feat(parser): recover from `async x [newline] => x`
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/parser_babel.snap
  tasks/prettier_conformance/prettier.snap.md
Labels: A-parser, A-prettier

#2378 refactor(prettier): clean up implementation of object key
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/options.rs
Labels: A-prettier

#2379 feat(prettier): print newlines between array expression elements
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_prettier/src/format/array.rs
  crates/oxc_prettier/src/lib.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-ast, A-prettier

#2380 fix(prettier): print strings as raw strings
  crates/oxc_prettier/src/format/mod.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#2358 feat(linter): eslint-plugin-jest: prefer-equality-matcher
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/prefer_equality_matcher.rs
  crates/oxc_linter/src/snapshots/prefer_equality_matcher.snap
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#2376 perf(lint/no_var_requires): quicker way to check if the `IdentifierReference` point to a global variable
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/typescript/no_var_requires.rs
Labels: A-linter

#2381 refactor(prettier): remove `BinaryishLeft`
  crates/oxc_prettier/src/binaryish.rs
  crates/oxc_prettier/src/format/binaryish.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#2382 feat(pretter): implement `print_binaryish_expressions`
  crates/oxc_prettier/src/format/binaryish.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#2377 perf(parser): consume multi-line comments faster
  Cargo.lock
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser

#2387 fix(prettier): semi colon after class property
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_prettier/src/format/class.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-ast, A-prettier

#2388 feat(prettier): handle binaryish expression in return statement
  crates/oxc_prettier/src/format/binaryish.rs
  tasks/prettier_conformance/prettier.snap.md
Labels: A-prettier

#2384 feat(linter): eslint-plugin-jest require-to-throw-message
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/require_to_throw_message.rs
  crates/oxc_linter/src/snapshots/require_to_throw_message.snap
Labels: A-linter

#2390 refactor(prettier): improve `Group` API
  crates/oxc_prettier/src/doc.rs
  crates/oxc_prettier/src/format/array.rs
  crates/oxc_prettier/src/format/assignment.rs
  crates/oxc_prettier/src/format/binaryish.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/function_parameters.rs
  crates/oxc_prettier/src/format/mod.rs
  crates/oxc_prettier/src/format/object.rs
  crates/oxc_prettier/src/macros.rs
Labels: A-prettier

#2391 fix(codegen): lower the level of precedence in TaggedTemplateExpression
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/mod.rs
Labels: A-codegen

#2386 fix(parser): incorrect parsing of class accessor property name
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/codegen_runtime_test262.snap
Labels: A-parser

#2393 refactor(prettier): add call_arguments.rs
  crates/oxc_prettier/src/format/call_arguments.rs
  crates/oxc_prettier/src/format/call_expression.rs
  crates/oxc_prettier/src/format/mod.rs
Labels: A-prettier

#2399 chore(ast): add some documentation links
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#2401 refactor: remove global allocator from non-user facing apps
  Cargo.lock
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/examples/minifier.rs
  tasks/coverage/Cargo.toml
  tasks/coverage/src/main.rs
  tasks/minsize/Cargo.toml
  tasks/minsize/src/lib.rs
  tasks/prettier_conformance/Cargo.toml
  tasks/prettier_conformance/src/main.rs
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/src/main.rs
Labels: A-minifier, A-transformer, A-prettier

#2407 fix(codegen): when `async` is on the left-hand side of a for-of, wrap it in parentheses
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_runtime_test262.snap
Labels: A-codegen

#2408 feat(linter): detect jest file by default glob pattern
  crates/oxc_linter/src/rules/jest/no_export.rs
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter

#2404 linter: implement from_configuration for jsx-a11y autocomplete-valid
  crates/oxc_linter/src/rules/jsx_a11y/autocomplete_valid.rs
Labels: A-linter

#2389 fix(linter/jsx_a11y): Refactor jsx-a11y related utils and its usage
  crates/oxc_linter/src/rules/jsx_a11y/alt_text.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/click_events_have_key_events.rs
  crates/oxc_linter/src/rules/jsx_a11y/heading_has_content.rs
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
  crates/oxc_linter/src/rules/react/no_unknown_property.rs
  crates/oxc_linter/src/snapshots/anchor_has_content.snap
  crates/oxc_linter/src/utils/react.rs
Labels: A-linter

#2371 feat: add Typescript ban-tslint-comment
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/ban_tslint_comment.rs
  crates/oxc_linter/src/snapshots/ban_tslint_comment.snap
Labels: A-linter

#2411 refactor(semantic): check directive by current_scope_id
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic

#2414 refactor(semantic): reduce allocation in resolve_references_for_current_scope
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#2415 refactor(parser): catch all illegal UTF-8 bytes
  crates/oxc_parser/src/lexer/byte_handlers.rs
Labels: A-parser

#2419 perf(semantic): reduce visit parent nodes in resolve_reference_usages
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-semantic

#2410 feat(linter): Implement `unicorn/no-process-exit` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_process_exit.rs
  crates/oxc_linter/src/snapshots/no_process_exit.snap
Labels: A-linter

#2423 refactor(semantic): delete the redundant code in binder
  crates/oxc_semantic/src/binder.rs
Labels: A-semantic

#2424 refactor(linter): get arrow expression by scope_id in no_render_return_value
  crates/oxc_linter/src/rules/react/no_render_return_value.rs
  crates/oxc_syntax/src/scope.rs
Labels: A-linter

#2417 chore(deps): update `bumpalo` crate
  Cargo.lock
  Cargo.toml
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/string.rs
Labels: A-parser

#2426 refactor(transformer/decorators): move get_decorator_info inside the decorators
  crates/oxc_transformer/src/proposals/decorators.rs
Labels: A-transformer

#2429 refactor(ast): update TSImportType parameter to argument
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, A-ast

#2433 fix(semantic): incorrect reference flag for MemberExpression assign
  crates/oxc_linter/src/rules/eslint/no_const_assign.rs
  crates/oxc_linter/src/rules/eslint/no_global_assign.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-linter, A-semantic

#2436 feat(parser): parse import attributes in TSImportType
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/ts/list.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/codegen_misc.snap
  tasks/coverage/misc/fail/oxc-2394.ts
  tasks/coverage/misc/pass/oxc-2394.ts
  tasks/coverage/parser_misc.snap
  tasks/coverage/prettier_misc.snap
Labels: A-parser, A-ast

#2427 refactor(transformer/decorators): if it is a private method definition, transform it
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2439 perf(parser): `byte_search` macro always unroll main loop
  crates/oxc_parser/src/lexer/search.rs
Labels: A-parser

#2441 refactor(parser): correct comment
  crates/oxc_parser/src/lexer/search.rs
Labels: A-parser

#2440 refactor(parser): `continue_if` in `byte_search` macro not unsafe
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/search.rs
Labels: A-parser

#2443 feat(codegen): configurable typescript codegen
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_linter/src/context.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/tester.rs
  crates/oxc_wasm/src/lib.rs
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_test262.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/src/codegen.rs
  tasks/coverage/src/minifier.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/suite.rs
  tasks/minsize/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/src/ts_fixtures.rs
Labels: A-linter, A-minifier, A-transformer, A-codegen

#2447 refactor(cli): split the `command` files
  crates/oxc_cli/src/command/format.rs
  crates/oxc_cli/src/command/ignore.rs
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/command/mod.rs
Labels: A-cli

#2448 refactor(cli): remove the codeowners feature
  Cargo.lock
  crates/oxc_cli/Cargo.toml
  crates/oxc_cli/src/codeowners.rs
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/command/mod.rs
  crates/oxc_cli/src/lib.rs
  crates/oxc_cli/src/lint/mod.rs
Labels: A-cli

#2449 refactor(cli): move `--rules` into `LintOptions`
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/command/mod.rs
  crates/oxc_cli/src/lint/mod.rs
Labels: A-cli

#2445 feat(semantic): add static property, ElementKind::Getter, ElementKind::Setter in ClassTable
  crates/oxc_semantic/src/class/builder.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_syntax/src/class.rs
Labels: A-semantic

#2446 refactor(linter): improve implementation of no_dupe_class_members based on ClassTable
  crates/oxc_linter/src/rules/eslint/no_dupe_class_members.rs
  crates/oxc_linter/src/snapshots/no_dupe_class_members.snap
Labels: A-linter

#2450 feat(cli): add `--format` option
  crates/oxc_cli/src/command/lint.rs
Labels: A-cli

#2451 feat(cli,diagnostics): add json reporter
  crates/oxc_cli/src/command/mod.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_diagnostics/src/reporter.rs
  crates/oxc_diagnostics/src/service.rs
Labels: A-cli

#2452 feat(diagnostics): implement json reporter
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_diagnostics/src/reporter.rs
  crates/oxc_diagnostics/src/service.rs
Labels: A-cli

#2453 refactor(linter): simplify getting ImportDefaultSpecifier
  crates/oxc_linter/src/rules/nextjs/inline_script_id.rs
Labels: A-linter

#2454 refactor: remove `panic!` from examples
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_linter/examples/linter.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/examples/visitor.rs
  crates/oxc_prettier/examples/prettier.rs
  crates/oxc_semantic/examples/cfg.rs
  crates/oxc_semantic/examples/simple.rs
Labels: A-linter, A-parser, A-semantic, A-minifier, A-codegen, A-prettier

#2460 feat(Codegen): Improve codegen
  .gitignore
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/mod.rs
  crates/oxc_minifier/tests/closure/substitute_alternate_syntax.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_syntax/src/keyword.rs
  crates/oxc_syntax/src/lib.rs
  tasks/coverage/codegen_babel.snap
  tasks/coverage/codegen_test262.snap
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/src/codegen.rs
Labels: A-parser, A-minifier, A-codegen

#2413 feat(linter) eslint: no-new-wrappers
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_new_wrappers.rs
  crates/oxc_linter/src/snapshots/no_new_wrappers.snap
Labels: A-linter

#2428 feat(linter): eslint no-nonoctal-decimal-escape
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_nonoctal_decimal_escape.rs
  crates/oxc_linter/src/snapshots/no_nonoctal_decimal_escape.snap
Labels: A-linter

#2337 feat(linter): typescript-eslint: prefer-function-type
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
  crates/oxc_linter/src/snapshots/prefer_function_type.snap
Labels: A-linter

#2470 feat(linter): add boilerplace code for import/namespace,no_deprecated,no_unused_modules
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/import/no_deprecated.rs
  crates/oxc_linter/src/rules/import/no_unused_modules.rs
  crates/oxc_linter/src/snapshots/namespace.snap
Labels: A-linter

#2473 feat(transformer/decorators): transform getter function
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2471 feat(linter): continue working on no_cycle
  crates/oxc_linter/src/rules/import/no_cycle.rs
  crates/oxc_linter/src/snapshots/no_cycle.snap
Labels: A-linter

#2475 feat(linter): eslint-plugin-import/no_unresolved
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_unresolved.rs
  crates/oxc_linter/src/snapshots/no_unresolved.snap
Labels: A-linter

#2476 feat(linter): add boilerplate for eslint-plugin-import/no_duplicates
  crates/oxc_linter/fixtures/import/foo.js
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_duplicates.rs
  crates/oxc_linter/src/snapshots/no_duplicates.snap
Labels: A-linter

#2477 feat(linter): eslint-plugin-react void-dom-elements-no-children
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/void_dom_elements_no_children.rs
  crates/oxc_linter/src/snapshots/void_dom_elements_no_children.snap
Labels: A-linter

#2478 fix(linter): fix import plugin hanging when ignored modules are imported
  crates/oxc_linter/src/service.rs
Labels: A-linter

#2479 feat(linter): handle built-in modules in import/no_unresolved
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/import/no_unresolved.rs
Labels: A-linter

#2480 feat(transformer/decorators): insert instanceBrand function
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-ast, A-transformer

#2482 feat(linter): initialize resolver lazily and automatically read tsconfig.json for now
  crates/oxc_linter/src/service.rs
Labels: A-linter

#2485 fix(parser): fix missing end span from `TSTypeAliasDeclaration`
  crates/oxc_parser/src/ts/statement.rs
  tasks/prettier_conformance/prettier.ts.snap.md
Labels: A-parser, A-prettier

#2487 feat(ast): add `TSModuleDeclaration.kind`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/ts/statement.rs
Labels: A-parser, A-ast

#2435 feat(linter): implement @typescript-eslint/prefer-ts-expect-error
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/prefer_ts_expect_error.rs
  crates/oxc_linter/src/snapshots/prefer_ts_expect_error.snap
Labels: A-linter

#2437 fix(semantic): Refactor jsdoc finding
  crates/oxc_linter/src/context.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/mod.rs
Labels: A-linter, A-semantic

#2489 chore(linter): add tests no import/no-deprecated
  crates/oxc_linter/src/rules/import/no_deprecated.rs
  crates/oxc_linter/src/snapshots/no_deprecated.snap
Labels: A-linter

#2490 fix(semantic): Should return nearest JSDoc
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/mod.rs
Labels: A-semantic

#2493 feat(linter): handle cjs `module.exports = {} as default export
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_linter/src/rules/import/default.rs
  crates/oxc_linter/src/snapshots/default.snap
  crates/oxc_semantic/src/module_record/builder.rs
Labels: A-linter, A-semantic, A-ast

#2494 fix(linter): improve import/no-named-as-default
  crates/oxc_linter/src/rules/import/no_named_as_default.rs
  crates/oxc_linter/src/snapshots/no_named_as_default.snap
  crates/oxc_semantic/src/module_record/builder.rs
  crates/oxc_semantic/tests/symbols.rs
  crates/oxc_syntax/src/module_record.rs
Labels: A-linter, A-semantic

#2496 feat(ast): update arrow_expression to arrow_function_expression
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/proposals/decorators.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-parser, A-ast, A-transformer

#2506 Fix few serialization issues
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  napi/parser/index.d.ts
  napi/parser/src/lib.rs
Labels: A-ast

#2509 refactor(ast): remove `TSEnumBody`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_builder.rs
  crates/oxc_ast/src/ast_kind.rs
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_codegen/src/gen_ts.rs
  crates/oxc_linter/src/rules/typescript/no_duplicate_enum_values.rs
  crates/oxc_transformer/src/typescript/mod.rs
Labels: A-linter, A-ast, A-transformer, A-codegen

#2511 fix(codegen): remove redundant semicolon in PropertyDefinition
  crates/oxc_codegen/src/gen.rs
Labels: A-codegen

#2508 fix(semantic): add export symbol flag to identifiers in export declarations
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/symbols.rs
Labels: A-semantic

#2486 feat(transformer/decorators): insert only one private in expression
  crates/oxc_transformer/src/proposals/decorators.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#2512 fix(linter): Correct configuration file parsing for jsx-no-useless-fragment
  crates/oxc_linter/src/rules/react/jsx_no_useless_fragment.rs
Labels: A-linter

#2513 fix(semantic): incorrect scope for switch statement
  crates/oxc_ast/src/visit.rs
  crates/oxc_ast/src/visit_mut.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/scopes.rs
Labels: A-semantic, A-ast

#2517 refactor: replace InlinableString with CompactString for `Atom`
  Cargo.lock
  crates/oxc_semantic/src/binder.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/atom.rs
Labels: A-semantic

#2519 chore: fix clippy warnings
  crates/oxc_linter/src/rules/jest/no_jasmine_globals.rs
  crates/oxc_linter/src/rules/jsx_a11y/autocomplete_valid.rs
  crates/oxc_linter/src/rules/jsx_a11y/iframe_has_title.rs
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
  crates/oxc_linter/src/rules/nextjs/no_css_tags.rs
  crates/oxc_linter/src/rules/unicorn/error_message.rs
  crates/oxc_linter/src/rules/unicorn/no_console_spaces.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/regex.rs
  crates/oxc_parser/src/lexer/template.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_transformer/src/es2015/duplicate_keys.rs
  crates/oxc_transformer/src/es2015/function_name.rs
  crates/oxc_transformer/src/es2015/instanceof.rs
  crates/oxc_transformer/src/es2015/new_target.rs
  crates/oxc_transformer/src/es2015/shorthand_properties.rs
  crates/oxc_transformer/src/es2015/template_literals.rs
  crates/oxc_transformer/src/es2019/json_strings.rs
  crates/oxc_transformer/src/es2019/optional_catch_binding.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/es3/property_literals.rs
  crates/oxc_transformer/src/regexp/regexp_flags.rs
Labels: A-linter, A-parser, A-transformer

#2522 fix(ast): few serialization issues
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast

#2523 refactor(span): move base54 method to mangler
  crates/oxc_minifier/src/mangler/mod.rs
  crates/oxc_span/src/atom.rs
Labels: A-minifier

#2526 feat(cli,linter): provide tsconfig path from the cli
  crates/oxc_cli/src/command/lint.rs
  crates/oxc_cli/src/lint/mod.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/service.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter, A-cli

#2529 feat(transformer): call build module record
  crates/oxc_semantic/src/builder.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/tester.rs
  crates/oxc_wasm/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
  tasks/transform_conformance/src/ts_fixtures.rs
Labels: A-semantic, A-transformer

#2528 perf(parser): lex JSX strings with `memchr`
  crates/oxc_parser/src/lexer/jsx.rs
  crates/oxc_parser/src/lexer/string.rs
Labels: A-parser
