Repository oxc-project/oxc, pull requests merged in 2024-08, with the labels that each got.

#4591 feat(linter/eslint): implement fixer for prefer-numeric-literals
  crates/oxc_linter/src/rules/eslint/prefer_numeric_literals.rs
  crates/oxc_linter/src/snapshots/prefer_numeric_literals.snap
Labels: A-linter

#4594 fix(linter): missing return in no-obj-calls recursion
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
Labels: C-bug, A-linter, merge

#4596 perf(sourcemap): keep local copy of previous token in VLQ encode
  crates/oxc_sourcemap/src/encode.rs
Labels: merge

#4590 fix(linter): improve the boundary for eslint/for-direction
  crates/oxc_linter/src/rules/eslint/for_direction.rs
Labels: A-linter

#4599 refactor(ast): remove defunct `visit_as` + `visit_args` attrs from `#[ast]` macro
  crates/oxc_ast_macros/src/lib.rs
Labels: merge

#4373 feat(ast, ast_macros): apply stable repr to all `#[ast]` enums
  Cargo.lock
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/macros.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_ast_macros/src/lib.rs
Labels: A-ast, merge

#4608 fix(linter/eslint): drop quotes around max-params lint warning
  crates/oxc_linter/src/rules/eslint/max_params.rs
  crates/oxc_linter/src/snapshots/max_params.snap
Labels: A-linter

#4604 perf(linter): make img-redundant-alt only build a regex once
  crates/oxc_linter/src/rules/jsx_a11y/img_redundant_alt.rs
Labels: A-linter, C-performance, merge

#4609 feat(ast): `GetSpanMut` trait
  crates/oxc_ast/src/generated/span.rs
  crates/oxc_span/src/lib.rs
  crates/oxc_span/src/span.rs
  tasks/ast_codegen/src/generators/impl_get_span.rs
Labels: A-ast, merge

#4612 refactor(parser): use `ast_builder` in more places.
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, merge

#4613 feat(linter/react): implement react-jsx-boolean-value
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_boolean_value.rs
  crates/oxc_linter/src/snapshots/jsx_boolean_value.snap
Labels: A-linter

#4617 fix(ast_codegen): detect "complex" type wrappers
  tasks/ast_codegen/src/util.rs
Labels: merge

#4614 refactor(ast): make AST structs `repr(C)`.
  crates/oxc_ast_macros/src/lib.rs
Labels: A-ast, merge

#4615 feat(ast_codegen): add alignment and size data to the schema.
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/lib.rs
  tasks/ast_codegen/src/defs.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/layout.rs
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/passes/calc_layout.rs
  tasks/ast_codegen/src/passes/mod.rs
  tasks/ast_codegen/src/schema.rs
  tasks/ast_codegen/src/util.rs
Labels: A-ast, merge

#4619 chore: fix mistake in configuring `deny.toml` V2
  deny.toml
Labels: merge

#4620 test(ast): fix `assert_layouts.rs` offset tests on 32bit platforms.
  crates/oxc_ast/src/generated/assert_layouts.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
Labels: A-ast, merge

#4624 chore: make `test-wasm32-unknown-unknown` run unconditionally.
  .github/workflows/ci.yml
Labels: merge

#4621 refactor(ast): put `assert_layouts.rs` behind `debug_assertions`
  crates/oxc_ast/src/lib.rs
Labels: A-ast, merge

#4552 feat(ast): implement missing Clone, Hash, and Display traits for literals
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_impl/literal.rs
Labels: A-ast

#4603 perf(linter): change react rules and utils to use `Cow` and `CompactStr` instead of `String`
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/settings/jsx_a11y.rs
  crates/oxc_linter/src/config/settings/mod.rs
  crates/oxc_linter/src/config/settings/react.rs
  crates/oxc_linter/src/rules/jsx_a11y/autocomplete_valid.rs
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_aria_hidden_on_focusable.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_distracting_elements.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_supports_aria_props.rs
  crates/oxc_linter/src/rules/react/jsx_no_target_blank.rs
  crates/oxc_linter/src/rules/react/no_unknown_property.rs
  crates/oxc_linter/src/rules/typescript/no_this_alias.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/atom.rs
  tasks/benchmark/Cargo.toml
Labels: A-linter, C-performance, merge

#4610 fix(parser): parse `assert` keyword in `TSImportAttributes`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_traverse/src/ancestor.rs
  crates/oxc_traverse/src/walk.rs
  tasks/coverage/parser_misc.snap
  tasks/coverage/parser_typescript.snap
Labels: A-parser, A-ast, A-codegen, merge

#4605 fix(linter/eslint): Fix invalid regexp in no_regex_spaces test
  crates/oxc_linter/src/rules/eslint/no_regex_spaces.rs
Labels: A-linter

#4051 docs(ast): improve AST node documentation
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast

#4581 feat(transformer_conformance): test `ScopeTree` and `SymbolTable` for correctness after transformation
  Cargo.lock
  tasks/transform_conformance/Cargo.toml
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/semantic.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, merge

#4625 refactor(minifier): ast passes infrastructure
  Cargo.lock
  crates/oxc_codegen/src/gen.rs
  crates/oxc_minifier/examples/dce.rs
  crates/oxc_minifier/src/ast_passes/collapse.rs
  crates/oxc_minifier/src/ast_passes/fold_constants.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/src/ast_passes/remove_parens.rs
  crates/oxc_minifier/src/ast_passes/remove_syntax.rs
  crates/oxc_minifier/src/ast_passes/substitute_alternate_syntax.rs
  crates/oxc_minifier/src/ast_util.rs
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/src/compressor/mod.rs
  crates/oxc_minifier/src/compressor/util.rs
  crates/oxc_minifier/src/folder/util.rs
  crates/oxc_minifier/src/keep_var.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/options.rs
  crates/oxc_minifier/src/tri.rs
  crates/oxc_minifier/src/ty.rs
  crates/oxc_minifier/tests/closure/fold_conditions.rs
  crates/oxc_minifier/tests/closure/fold_constants.rs
  crates/oxc_minifier/tests/closure/mod.rs
  crates/oxc_minifier/tests/closure/printer.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/oxc/code_removal.rs
  crates/oxc_minifier/tests/oxc/folding.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/minifier.rs
  tasks/coverage/codegen_typescript.snap
  tasks/coverage/minifier_test262.snap
  tasks/coverage/src/minifier.rs
Labels: A-minifier, A-codegen, merge

#4618 feat(linter/eslint): implement func-names
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/snapshots/func_names.snap
Labels: A-linter

#4630 fix(linter): panic on invalid lang in `a11y/lang`.
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/snapshots/lang.snap
Labels: A-linter, merge

#4632 fix(semantic/jsdoc): panic on parsing `type_name_comment`.
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
Labels: A-semantic, merge

#4634 perf(sourcemap): `ConcatSourceMapBuilder` extend `source_contents` in separate loop
  crates/oxc_sourcemap/src/concat_sourcemap_builder.rs
Labels: merge

#4638 perf(sourcemap): reduce string copying in `ConcatSourceMapBuilder`
  crates/oxc_sourcemap/src/concat_sourcemap_builder.rs
Labels: merge

#4633 perf(sourcemap): speed up VLQ encoding
  crates/oxc_sourcemap/src/encode.rs
Labels: merge

#4642 fix(semantic/jsdoc): Handle whitespace absence
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_tag.rs
  crates/oxc_semantic/src/jsdoc/parser/utils.rs
Labels: A-semantic, merge

#4641 perf(codegen): `u32` indexes in `LineOffsetTable` for source maps
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen, merge

#4646 fix(linter): invalid tags in rule docs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_is_valid.rs
Labels: A-linter, merge

#4549 fix(transformer/typescript): incorrect `SymbolFlags` for jsx imports
  crates/oxc_transformer/src/react/jsx.rs
  tasks/transform_conformance/babel.snap.md
  tasks/transform_conformance/oxc.snap.md
Labels: A-transformer

#4550 fix(transformer/typescript) shadowed imports have not been removed
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/transform_conformance/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/redeclarations/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/redeclarations/output.js
Labels: A-transformer

#4647 fix(linter): invalid binary expression with overflow
  crates/oxc_linter/src/utils/tree_shaking.rs
Labels: C-bug, A-linter, merge

#3959 feat(minifier): implement dot define for member expressions
  crates/oxc_minifier/src/ast_passes/replace_global_defines.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/oxc/replace_global_defines.rs
Labels: A-minifier, merge

#4666 fix(linter): no-multi-str in jsx
  crates/oxc_linter/src/rules/eslint/no_multi_str.rs
Labels: A-linter

#4665 fix(linter): fix false positives in no-confusing-non-null-assertion
  crates/oxc_linter/src/rules/typescript/no_confusing_non_null_assertion.rs
  crates/oxc_linter/src/snapshots/no_confusing_non_null_assertion.snap
Labels: A-linter

#4667 fix(minifier): various fixes to pass minifier conformance
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/ast_passes/remove_syntax.rs
  crates/oxc_minifier/src/ast_util.rs
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/src/keep_var.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
  tasks/coverage/minifier_test262.snap
Labels: A-minifier, merge

#4664 refactor(semantic): simplify inherit scope flags from parent scope
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/scope.rs
Labels: A-semantic, merge

#4674 refactor(semantic): simplify setting scope flags
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic

#4658 fix(transformer/react): the `require` IdentifierReference does not have a `reference_id`
  crates/oxc_transformer/src/helpers/module_imports.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/react/jsx.rs
  crates/oxc_transformer/src/react/mod.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer, merge

#4671 build(deps): compile insta in release mode
  Cargo.toml
Labels: A-linter, C-performance

#4673 perf(linter): reduce String allocations and clones
  crates/oxc_linter/src/config/env.rs
  crates/oxc_linter/src/config/settings/jsdoc.rs
  crates/oxc_linter/src/config/settings/next.rs
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
  crates/oxc_linter/src/rules/jest/consistent_test_it.rs
  crates/oxc_linter/src/rules/jest/expect_expect.rs
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/rules/jsdoc/check_property_names.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns.rs
  crates/oxc_linter/src/rules/jsdoc/require_yields.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_promise_resolve_reject.rs
  crates/oxc_linter/src/rules/unicorn/prefer_node_protocol.rs
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter, C-performance, merge

#4675 fix(syntax): prevent creating invalid u32 IDs
  crates/oxc_syntax/src/node.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
Labels: merge

#4643 perf(codegen): reduce size of `LineOffsetTable`
  Cargo.lock
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: A-codegen, merge

#4592 refactor: overhaul napi transformer package
  Cargo.lock
  napi/transform/Cargo.toml
  napi/transform/index.d.ts
  napi/transform/index.js
  napi/transform/src/context.rs
  napi/transform/src/isolated_declaration.rs
  napi/transform/src/lib.rs
  napi/transform/src/options.rs
  napi/transform/src/transformer.rs
Labels: javascript, A-transformer, merge, A-isolated-declarations

#4659 fix(semantic): incorrect `scope_id` for catch parameter symbols
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/symbol.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-semantic, A-transformer

#4660 fix(transformer/typescript): incorrect enum-related `symbol_id`/`reference_id`
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/transform_conformance/babel.snap.md
Labels: A-transformer

#4676 fix(codegen): print raw if value is number is Infinity
  crates/oxc_codegen/examples/codegen.rs
  crates/oxc_codegen/src/gen.rs
  tasks/coverage/codegen_typescript.snap
Labels: A-codegen

#4677 perf(minifier): only visit arrow expression after dropping `console.log`
  Cargo.lock
  crates/oxc_minifier/src/ast_passes/remove_syntax.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/minifier.rs
Labels: A-minifier

#4678 fix(minifier): temporarily fix shadowed `undefined` variable
  crates/oxc_minifier/src/ast_util.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
  tasks/coverage/minifier_test262.snap
Labels: A-minifier

#4680 fix(minifier): fix `keep_var` keeping vars from arrow functions
  Cargo.toml
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/src/keep_var.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
  tasks/benchmark/Cargo.toml
Labels: A-minifier

#4684 refactor(traverse): enter node before entering scope
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  crates/oxc_traverse/scripts/lib/walk.mjs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
  crates/oxc_traverse/src/walk.rs
Labels: A-transformer

#4686 fix(transformer): strip TS statements from for in/of statement bodies
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/coverage/transformer_typescript.snap
Labels: A-transformer

#4692 refactor(traverse)!: replace `find_ancestor` with `ancestors` returning iterator
  crates/oxc_transformer/src/react/display_name.rs
  crates/oxc_transformer/src/react/jsx_self.rs
  crates/oxc_traverse/src/compile_fail_tests.rs
  crates/oxc_traverse/src/context/ancestry.rs
  crates/oxc_traverse/src/context/mod.rs
Labels: A-transformer

#4693 refactor(traverse)!: replace `find_scope` with `ancestor_scopes` returning iterator
  crates/oxc_transformer/src/react/jsx_self.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
  crates/oxc_traverse/src/lib.rs
Labels: A-transformer

#4689 refactor(ast): add explicit enum discriminants.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/jsx.rs
Labels: A-ast, merge

#4691 refactor(syntax): add explicit enum discriminants to AST related types.
  crates/oxc_syntax/src/number.rs
  crates/oxc_syntax/src/operator.rs
Labels: merge

#4690 refactor(ast_codegen): disallow implicit enum discriminants on `#[ast]` types.
  tasks/ast_codegen/src/schema/defs.rs
  tasks/ast_codegen/src/schema/mod.rs
Labels: merge

#4694 feat(ast_codegen): process AST-related `syntax` types.
  .github/workflows/ci.yml
  Cargo.lock
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/number.rs
  crates/oxc_syntax/src/operator.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/passes/calc_layout.rs
Labels: A-ast, merge

#4696 feat(ast_codegen, span): process `SourceType` through ast_codegen.
  .github/workflows/ci.yml
  Cargo.lock
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_span/Cargo.toml
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_span/src/source_type/types.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/passes/calc_layout.rs
  tasks/ast_codegen/src/rust_ast.rs
  tasks/ast_codegen/src/schema/defs.rs
  tasks/ast_codegen/src/schema/mod.rs
Labels: A-ast, merge

#4702 refactor(span): reduce #[cfg_attr] boilerplate in type defs
  crates/oxc_span/src/source_type/types.rs
  crates/oxc_span/src/span.rs
Labels: merge

#4703 feat(ast_codegen, span): process `Span` through ast_codegen
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_span/src/source_type/types.rs
  crates/oxc_span/src/span/mod.rs
  crates/oxc_span/src/span/types.rs
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/passes/calc_layout.rs
Labels: A-ast, merge

#4706 fix(ci): run `ast_changes` CI job if `span` def file changes
  .github/workflows/ci.yml
Labels: merge

#4708 refactor(ast_codegen): list input files explicitly
  tasks/ast_codegen/src/main.rs
Labels: merge

#4709 refactor(ast_codegen): reorder imports
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/passes/calc_layout.rs
  tasks/ast_codegen/src/passes/mod.rs
  tasks/ast_codegen/src/schema/defs.rs
  tasks/ast_codegen/src/schema/mod.rs
Labels: merge

#4710 refactor(linter): clean up eslint/func_names
  crates/oxc_linter/src/rules/eslint/func_names.rs
Labels: A-linter, C-cleanup

#4716 docs(linter): correct docs for no-unused-vars
  crates/oxc_linter/src/rules/eslint/no_unused_vars/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/options.rs
Labels: A-linter

#4711 feat(ast): allow conversion from TSAccessibility into &'static str
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_isolated_declarations/src/class.rs
Labels: A-linter, A-ast, merge, A-isolated-declarations

#4712 refactor(ast): use correct lifetimes for name-related methods
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_isolated_declarations/src/class.rs
Labels: A-ast, merge, A-isolated-declarations

#4713 fix(linter/func-names): handle ts accessibility when reporting missing names
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/snapshots/func_names.snap
Labels: A-linter, merge

#4717 feat(semantic): impl GetSpan for AstNode
  crates/oxc_semantic/src/node.rs
Labels: A-semantic, merge

#4721 fix(linter): block in eslint/no_cond_assign
  crates/oxc_linter/src/rules/eslint/no_cond_assign.rs
Labels: A-linter

#4679 feat(linter): add fixer for eslint/for-direction
  crates/oxc_linter/src/rules/eslint/for_direction.rs
Labels: C-enhancement, A-linter

#4714 feat(linter): add fixer for eslint/func_names
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/snapshots/func_names.snap
  crates/oxc_linter/src/tester.rs
Labels: A-linter, A-ast, merge

#4722 fix(minifier): avoid removing function declaration from `KeepVar`
  crates/oxc_ast_macros/Cargo.toml
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/src/keep_var.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
  tasks/minsize/minsize.snap
Labels: A-minifier

#4724 refactor(minifier): clean up tests
  crates/oxc_minifier/tests/closure/fold_conditions.rs
  crates/oxc_minifier/tests/closure/reorder_constant_expression.rs
  crates/oxc_minifier/tests/closure/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/oxc/booleans.rs
  crates/oxc_minifier/tests/oxc/code_removal.rs
  crates/oxc_minifier/tests/oxc/folding.rs
  crates/oxc_minifier/tests/oxc/remove_dead_code.rs
  crates/oxc_minifier/tests/snapshots/addition_folding.snap
Labels: A-minifier, merge

#4723 chore(linter): mark many rules as fix-pending
  crates/oxc_linter/src/rules/eslint/no_empty.rs
  crates/oxc_linter/src/rules/eslint/no_extra_boolean_cast.rs
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
  crates/oxc_linter/src/rules/eslint/no_iterator.rs
  crates/oxc_linter/src/rules/eslint/no_label_var.rs
  crates/oxc_linter/src/rules/eslint/no_var.rs
  crates/oxc_linter/src/rules/eslint/require_await.rs
  crates/oxc_linter/src/rules/eslint/symbol_description.rs
  crates/oxc_linter/src/rules/eslint/valid_typeof.rs
  crates/oxc_linter/src/rules/oxc/missing_throw.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_some.rs
  crates/oxc_linter/src/rules/unicorn/prefer_date_now.rs
  crates/oxc_linter/src/rules/unicorn/prefer_modern_math_apis.rs
  crates/oxc_linter/src/rules/unicorn/prefer_native_coercion_functions.rs
  crates/oxc_linter/src/rules/unicorn/prefer_optional_catch_binding.rs
  crates/oxc_linter/src/rules/unicorn/prefer_regexp_test.rs
  crates/oxc_linter/src/rules/unicorn/prefer_set_size.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_slice.rs
  crates/oxc_linter/src/rules/unicorn/prefer_type_error.rs
  crates/oxc_linter/src/rules/unicorn/require_array_join_separator.rs
  crates/oxc_linter/src/rules/unicorn/text_encoding_identifier_case.rs
  crates/oxc_linter/src/rules/unicorn/throw_new_error.rs
Labels: A-linter, merge

#4727 fix(linter): fixer for eslint/for-direction
  crates/oxc_linter/src/rules/eslint/for_direction.rs
Labels: A-linter

#4725 refactor(minifier): use `oxc_traverse` for AST passes
  Cargo.lock
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/ast_passes/collapse.rs
  crates/oxc_minifier/src/ast_passes/fold_constants.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/remove_dead_code.rs
  crates/oxc_minifier/src/ast_passes/remove_syntax.rs
  crates/oxc_minifier/src/ast_passes/substitute_alternate_syntax.rs
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/lib.rs
Labels: A-minifier, merge

#4729 feat(span): implement `CloneIn` for the AST-related items.
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_span/src/span/mod.rs
Labels: merge

#4730 feat(syntax): derive `CloneIn` for the AST-related items.
  Cargo.lock
  crates/oxc_ast_macros/src/lib.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/number.rs
  crates/oxc_syntax/src/operator.rs
  crates/oxc_syntax/src/reference.rs
Labels: merge

#4728 feat(ast_codegen): support for `generate_derive` marker.
  crates/oxc_ast_macros/src/lib.rs
  tasks/ast_codegen/src/schema/defs.rs
  tasks/ast_codegen/src/schema/mod.rs
Labels: merge

#4731 feat(ast_codegen): add `derive_clone_in` generator.
  crates/oxc_ast/src/generated/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/schema/defs.rs
Labels: A-ast, merge

#4732 feat(ast): derive `CloneIn` for AST types, using `generate_derive`.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/lib.rs
Labels: A-ast, merge

#4738 refactor(ast): use type identifier instead of `CloneIn::Cloned` GAT.
  crates/oxc_ast/src/generated/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
Labels: A-ast, merge

#4735 refactor(ast, ast_codegen): use `generate_derive` for implementing `GetSpan` and `GetSpanMut` traits.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/lib.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
  tasks/ast_codegen/src/generators/impl_get_span.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/main.rs
Labels: A-ast, merge

#4737 chore(ci): generate `.generated_ast_watch_list.yml`
  .github/.generated_ast_watch_list.yml
  .github/workflows/ci.yml
  tasks/ast_codegen/src/main.rs
Labels: A-ast, merge

#4743 refactor(ast_codegen): flatten code
  tasks/ast_codegen/src/generators/derive_clone_in.rs
Labels: merge

#4734 refactor(minifier): add `NodeUtil` trait for accessing symbols on ast nodes
  crates/oxc_minifier/src/ast_passes/fold_constants.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_util.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/node_util/check_for_state_change.rs
  crates/oxc_minifier/src/node_util/is_literal_value.rs
  crates/oxc_minifier/src/node_util/may_have_side_effects.rs
  crates/oxc_minifier/src/node_util/mod.rs
  crates/oxc_minifier/src/node_util/number_value.rs
  crates/oxc_minifier/tests/ast_passes/remove_dead_code.rs
  tasks/coverage/minifier_test262.snap
Labels: A-minifier, merge

#4757 refactor(ast_codegen): simplify `derive_get_span` generator
  tasks/ast_codegen/src/generators/derive_get_span.rs
Labels: merge

#4758 feat(linter): add fixer for eslint/no-eq-null
  crates/oxc_linter/src/rules/eslint/no_eq_null.rs
Labels: A-linter

#4755 feat(linter/eslint-plugin-vitest): implement prefer-to-be-truthy
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/jest/consistent_test_it.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
  crates/oxc_linter/src/rules/jest/prefer_hooks_in_order.rs
  crates/oxc_linter/src/rules/jest/prefer_lowercase_title.rs
  crates/oxc_linter/src/rules/jest/require_top_level_describe.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_truthy.rs
  crates/oxc_linter/src/snapshots/prefer_to_be_truthy.snap
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/vitest.rs
Labels: A-linter

#4761 refactor(ast_codegen): consistent import order
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
Labels: A-ast

#4762 refactor(ast_codegen): consistent `endl!` position
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: merge

#4763 refactor(ast_codegen): re-order imports
  tasks/ast_codegen/src/generators/mod.rs
Labels: merge

#4764 refactor(ast_codegen): remove `Generator::name` and `Pass::name` methods
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/generators/visit.rs
  tasks/ast_codegen/src/passes/calc_layout.rs
  tasks/ast_codegen/src/passes/linker.rs
  tasks/ast_codegen/src/passes/mod.rs
Labels: merge

#4747 fix(ast, ast_codegen): use `generate_derive` instead of visitable for generating span derives.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
Labels: A-ast, merge

#4769 refactor(ast_codegen): replace Windows-style line breaks with Unix-style
  crates/oxc_ast_macros/src/lib.rs
  crates/oxc_macros/src/lib.rs
Labels: merge

#4768 refactor(linter): replace Windows-style line breaks with Unix-style in test fixture
  crates/oxc_linter/fixtures/import/named-and-default-export.js
Labels: A-linter, merge

#4766 fix(ast_macros): raise compile error on invalid `generate_derive` input.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast_macros/src/lib.rs
Labels: A-ast, merge

#4765 refactor(linter): simplify NoObjCalls resolution logic
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
Labels: A-linter, merge

#4770 feat(linter/eslint-plugin-vitest): implement prefer-to-be-falsy
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_falsy.rs
  crates/oxc_linter/src/rules/vitest/prefer_to_be_truthy.rs
  crates/oxc_linter/src/snapshots/prefer_to_be_falsy.snap
  crates/oxc_linter/src/utils/vitest.rs
Labels: A-linter

#4772 feat(linter): add fixer for jsx_ally/no_aria_hidden_on_focusable
  crates/oxc_linter/src/rules/jsx_a11y/no_aria_hidden_on_focusable.rs
Labels: A-linter

#4773 refactor(ast): `oxc_ast` crate re-export AST types from other crates
  crates/oxc_ast/src/ast/mod.rs
Labels: A-ast, merge

#4774 refactor(ast_codegen): remove unnecessary imports from generated files
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: A-ast, merge

#4775 refactor(ast_codegen): move formatting regex definitions
  tasks/ast_codegen/src/fmt.rs
Labels: merge

#4777 refactor(ast_codegen): use doc comments instead of `insert!`
  tasks/ast_codegen/src/fmt.rs
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: merge

#4778 refactor(ast_codegen): use doc comments instead of `endl!`
  tasks/ast_codegen/src/fmt.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: merge

#4779 refactor(ast_codegen): re-order code in `fmt` module
  tasks/ast_codegen/src/fmt.rs
  tasks/ast_codegen/src/main.rs
Labels: merge

#4781 refactor(ast_codegen): line breaks between types in layout assertions
  crates/oxc_ast/src/generated/assert_layouts.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
Labels: A-ast, merge

#4782 refactor(ast_codegen): remove excess space from start of doc comments
  tasks/ast_codegen/src/schema/mod.rs
Labels: merge

#4784 refactor(ast_codegen): alter JSON schema format
  tasks/ast_codegen/src/main.rs
  tasks/ast_codegen/src/schema/defs.rs
  tasks/ast_codegen/src/schema/mod.rs
Labels: merge

#4785 refactor(ast_codegen): trim `r#` from start of field names
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/schema/mod.rs
  tasks/ast_codegen/src/util.rs
Labels: merge

#4786 refactor(ast_codegen): replace `///@@` with `///@@line_break`
  tasks/ast_codegen/src/fmt.rs
  tasks/ast_codegen/src/generators/assert_layouts.rs
  tasks/ast_codegen/src/generators/ast_builder.rs
  tasks/ast_codegen/src/generators/ast_kind.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_get_span.rs
  tasks/ast_codegen/src/generators/mod.rs
  tasks/ast_codegen/src/generators/visit.rs
Labels: merge

#4780 feat(linter): add fixer for unicorn/no-length-as-slice-end
  crates/oxc_linter/src/rules/unicorn/no_length_as_slice_end.rs
Labels: A-linter

#4598 feat(linter/eslint-plugin-promise): implement valid-params
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/promise/no_new_statics.rs
  crates/oxc_linter/src/rules/promise/valid_params.rs
  crates/oxc_linter/src/snapshots/valid_params.snap
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/promise.rs
Labels: A-linter

#4787 perf(linter): optmize allocations in jest fn parsing
  crates/oxc_linter/src/utils/jest/parse_jest_fn.rs
Labels: A-linter, C-performance, merge

#4640 feat(website): auto-generate rule docs pages
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_is_valid.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_distracting_elements.rs
  crates/oxc_linter/src/rules/jsx_a11y/scope.rs
  crates/oxc_linter/src/rules/nextjs/no_duplicate_head.rs
  crates/oxc_linter/src/rules/typescript/no_this_alias.rs
  crates/oxc_linter/src/rules/typescript/no_unnecessary_type_constraint.rs
  crates/oxc_linter/src/table.rs
  tasks/website/src/linter/rules/doc_page.rs
  tasks/website/src/linter/rules/html.rs
  tasks/website/src/linter/rules/mod.rs
  tasks/website/src/linter/rules/table.rs
  tasks/website/src/main.rs
Labels: A-linter, A-website, merge

#4759 feat(minifier): add `InjectGlobalVariables` plugin (`@rollup/plugin-inject`)
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/plugins/inject_global_variables.rs
  crates/oxc_minifier/src/plugins/mod.rs
  crates/oxc_minifier/src/plugins/replace_global_defines.rs
  crates/oxc_minifier/tests/plugins/inject_global_variables.rs
  crates/oxc_minifier/tests/plugins/mod.rs
Labels: A-minifier, merge

#4318 feat(linter): implement `eslint-plugin-promise/no-return-in-finally, prefer-await-to-then` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/promise/no_return_in_finally.rs
  crates/oxc_linter/src/rules/promise/prefer_await_to_then.rs
  crates/oxc_linter/src/snapshots/no_return_in_finally.snap
  crates/oxc_linter/src/snapshots/prefer_await_to_then.snap
Labels: C-enhancement, A-linter

#4791 feat(linter): overhaul unicorn/no-useless-spread
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread/const_eval.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread/mod.rs
  crates/oxc_linter/src/snapshots/no_useless_spread.snap
  crates/oxc_span/src/span/mod.rs
Labels: C-enhancement, A-linter, merge

#4808 fix(transformer/typescript): generated assignment for constructor arguments with access modifiers should be injected to the top of the constructor
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/class-constructor-arguments/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/class-constructor-arguments/output.js
Labels: A-transformer, merge

#4802 perf(minifier): avoid repeated `Atom` creation in `InjectGlobalVariables`
  crates/oxc_minifier/src/plugins/inject_global_variables.rs
Labels: A-minifier, merge

#4803 perf(minifier): `InjectGlobalVariables` only add to `replaced_dot_defines` once for each
  crates/oxc_minifier/src/plugins/inject_global_variables.rs
Labels: A-minifier, merge

#4801 feat(linter): add fixer for unicorn prefer-string-replace-all
  crates/oxc_linter/src/rules/unicorn/prefer_string_replace_all.rs
  crates/oxc_linter/src/snapshots/prefer_string_replace_all.snap
Labels: A-linter, merge

#4718 feat(linter): start fixer for no-unused-vars
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/diagnostic.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
  crates/oxc_linter/src/snapshots/no_unused_vars@oxc-arguments.snap
  crates/oxc_linter/src/snapshots/no_unused_vars@oxc-classes.snap
  crates/oxc_linter/src/snapshots/no_unused_vars@oxc-vars-destructure.snap
  crates/oxc_linter/src/snapshots/no_unused_vars@oxc-vars-simple.snap
  crates/oxc_linter/src/snapshots/no_unused_vars@typescript-eslint.snap
  crates/oxc_linter/src/tester.rs
Labels: C-enhancement, A-linter, merge

#4806 feat(linter) add suggestion fix for oxc missing throw
  crates/oxc_linter/src/rules/oxc/missing_throw.rs
Labels: A-linter, merge

#4814 refactor(linter): use Option to reduce nested level in `eslint/getter-return`
  crates/oxc_linter/src/rules/eslint/getter_return.rs
Labels: A-linter, C-cleanup

#4715 feat(linter): add fix emoji to rules table and doc pages
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/table.rs
  justfile
  tasks/website/src/linter/rules/doc_page.rs
  tasks/website/src/linter/rules/html.rs
  tasks/website/src/linter/rules/mod.rs
  tasks/website/src/linter/rules/table.rs
  tasks/website/src/linter/rules/test.rs
Labels: C-enhancement, A-linter, A-website, merge

#4810 feat(allocator): introduce `Address`
  crates/oxc_allocator/src/arena.rs
  crates/oxc_allocator/src/lib.rs
Labels: merge

#4816 feat(linter) support arrow functions in oxc only used in recursion
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/snapshots/only_used_in_recursion.snap
Labels: C-bug, A-linter, merge

#4823 chore: add 'just fix' command
  justfile
Labels: C-cleanup, merge

#4824 chore: alias `new-typescript-rule` to `new-ts-rule`
  justfile
Labels: C-cleanup, merge

#4825 chore(linter): update docs for `declare_oxc_lint!`
  crates/oxc_macros/src/lib.rs
Labels: A-linter, merge, C-docs

#4812 refactor(ast_codegen): Simplify `InnerMarkers`.
  tasks/ast_codegen/src/generators/ast_kind.rs
  tasks/ast_codegen/src/generators/visit.rs
  tasks/ast_codegen/src/markers.rs
  tasks/ast_codegen/src/schema/defs.rs
  tasks/ast_codegen/src/schema/mod.rs
Labels: merge

#4819 refactor(ast, ast_codegen): `CloneIn` implementations now initialize semantic related cells with `Default` value.
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast_macros/src/lib.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
  tasks/ast_codegen/src/markers.rs
  tasks/ast_codegen/src/schema/defs.rs
  tasks/ast_codegen/src/schema/mod.rs
Labels: A-ast, merge

#4829 refactor(ast_codegen): add line break to generated code
  crates/oxc_ast/src/generated/derive_clone_in.rs
  tasks/ast_codegen/src/generators/derive_clone_in.rs
Labels: A-ast, merge

#4831 refactor(linter): clean up jsx-a11y/anchor-is-valid
  crates/oxc_ast/src/ast_impl/jsx.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_is_valid.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_span/src/atom.rs
Labels: A-linter, A-ast, merge

#4826 feat(vscode): provide config's schema to oxlint config files
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  editors/vscode/package.json
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: A-linter

#4838 chore(deps): update rust crate criterion2 to v1
  Cargo.lock
  Cargo.toml
Labels: merge

#4842 fix(minifier): temporarily bail constant folding for tagged template
  crates/oxc_minifier/src/ast_passes/fold_constants.rs
  crates/oxc_minifier/tests/ast_passes/fold_constants.rs
Labels: A-minifier, merge

#4844 feat(linter): add fixer for unicorn/prefer-array-flat-map
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
Labels: A-linter

#4850 docs(semantic): improve documentation
  crates/oxc_semantic/examples/simple.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/reference.rs
  crates/oxc_semantic/src/scope.rs
  crates/oxc_semantic/tests/integration/scopes.rs
  crates/oxc_syntax/src/reference.rs
Labels: A-semantic, merge, C-docs

#4858 fix(ast): do not include `scope_id` fields in JSON AST
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast

#4847 refactor(linter/no-unused-vars): split fixer logic into multiple files
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers/fix_symbol.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers/fix_vars.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
Labels: A-linter, C-cleanup, merge

#4848 fix(linter/no-unused-vars): do not delete function expressions when fixing
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers/fix_vars.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
Labels: A-linter, merge
