Repository oxc-project/oxc, pull requests merged in 2025-07, with the labels that each got.

#11989 test(coverage/typescript): Update `9xxx`, `17xxx` error codes handling
  tasks/coverage/snapshots/codegen_typescript.snap
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/transformer_typescript.snap
  tasks/coverage/src/typescript/mod.rs
Labels: C-test

#12002 fix(linter): panic in `consistent-type-imports` when the source contains a `{`
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
Labels: C-bug, A-linter

#12001 fix(semantic): panic when brackets are unmatched
  crates/oxc_semantic/src/jsdoc/parser/jsdoc.rs
  crates/oxc_semantic/src/jsdoc/parser/utils.rs
Labels: C-bug, A-semantic

#12007 refactor(ast/estree): remove temp vars for `ranges` from serializer
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize/js.rs
  crates/oxc_ast/src/serialize/jsx.rs
  crates/oxc_ast/src/serialize/literal.rs
  crates/oxc_ast/src/serialize/mod.rs
  crates/oxc_ast/src/serialize/ts.rs
  crates/oxc_syntax/src/generated/derive_estree.rs
  napi/parser/src/generated/derive_estree.rs
  tasks/ast_tools/src/derives/estree.rs
Labels: C-cleanup, A-ast, A-ast-tools

#11923 feat(formatter): support printing assignment-like
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/formatter/trivia.rs
  crates/oxc_formatter/src/parentheses/expression.rs
  crates/oxc_formatter/src/utils/assignment_like.rs
  crates/oxc_formatter/src/utils/mod.rs
  crates/oxc_formatter/src/write/arrow_function_expression.rs
  crates/oxc_formatter/src/write/binary_like_expression.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/variable_declaration.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-formatter

#11991 feat(formatter): complete printing arrow function expression
  crates/oxc_formatter/src/options.rs
  crates/oxc_formatter/src/parentheses/expression.rs
  crates/oxc_formatter/src/utils/member_chain/simple_argument.rs
  crates/oxc_formatter/src/write/arrow_function_expression.rs
  crates/oxc_formatter/src/write/call_arguments.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/parameter_list.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-formatter

#12028 fix(codegen): fix sourcemap for template literals
  crates/oxc_codegen/src/gen.rs
Labels: C-bug, A-codegen

#12029 fix(minifier): always escape `$` when concatenating template literals
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier

#12032 refactor(linter): remove a branch
  crates/oxc_linter/src/ast_util.rs
Labels: A-linter, C-cleanup

#12033 docs(allocator): update comments about `bumpalo` version
  Cargo.toml
  crates/oxc_allocator/src/from_raw_parts.rs
Labels: 0-merge, C-docs

#12036 refactor(codegen): clarify comments
  crates/oxc_codegen/src/lib.rs
Labels: C-cleanup, A-codegen, 0-merge

#12037 perf(codegen): remove branch
  crates/oxc_codegen/src/str.rs
Labels: C-performance, A-codegen

#12022 refactor(ast): remove `AstKind` for `ModuleDeclaration`
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format_write.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/ignored.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/nextjs/no_document_import_in_page.rs
  crates/oxc_linter/src/rules/nextjs/no_head_import_in_document.rs
  crates/oxc_linter/src/rules/nextjs/no_script_component_in_head.rs
  crates/oxc_linter/src/rules/nextjs/no_title_in_document_head.rs
  crates/oxc_linter/src/rules/nextjs/no_typos.rs
  crates/oxc_linter/src/rules/unicorn/no_thenable.rs
  crates/oxc_linter/src/rules/unicorn/prefer_node_protocol.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  crates/oxc_semantic/tests/fixtures/oxc/ts/exports/default/type-alias.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/exports/named/interface-heritage.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/exports/named/type-and-non-type.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/functions/return-type.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/interfaces/property-with-type-import.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/issue-7879.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/namespaces/value-module.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/default-type.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/default2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/equals1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/equals3-type.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/equals4-type.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/named-dual.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/named2-type.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/named2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/named3-type.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/named3.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/type-inline.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/type.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/default.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/named-alias.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/named.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/namespace.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-default-value.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-default.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-inline-value.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-inline.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-named-value.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/import/type-named.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/namespaced-attribute.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/declaration-merging/class-namespace.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/declaration-merging/function-namespace.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/external-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/name-shadowed-in-body.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/namespace.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/self-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/interface-heritage2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/type-query-with-parameters.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: A-linter, A-semantic, C-cleanup, A-ast, A-ast-tools, A-formatter

#12043 refactor(semantic): remove redundant code handling reference flags
  crates/oxc_semantic/src/builder.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: A-semantic, C-cleanup

#12044 refactor(linter/no-unused-vars): simplify check for export nodes
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
Labels: A-linter, C-cleanup

#12041 perf(codegen): reduce branches printing `TemplateLiteral`s
  crates/oxc_codegen/src/gen.rs
Labels: C-performance, A-codegen

#12047 feat(codegen): preserve comments for lingui /*i18n*/
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/comments.rs
Labels: C-enhancement, A-codegen

#12040 perf(codegen): optimize printing strings
  crates/oxc_codegen/src/lib.rs
Labels: C-performance, A-codegen

#12055 refactor(ast): fix misspelling
  crates/oxc_ast/src/ast_impl/js.rs
Labels: C-cleanup, A-ast

#12051 fix(linter): Fix inconsistent behavior in `no-duplicate-imports` rule
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/snapshots/eslint_no_duplicate_imports.snap
Labels: C-bug, A-linter

#12056 perf(ast): call `Expression::without_parentheses` only once
  crates/oxc_ast/src/ast_impl/js.rs
Labels: C-performance, A-ast

#12054 fix(napi/parser): remove non-existent methods from TS type defs
  napi/parser/bindings.js
  napi/parser/index.d.ts
  napi/parser/parser.wasi-browser.js
  napi/parser/parser.wasi.cjs
  napi/parser/src/raw_transfer.rs
Labels: C-bug

#12052 feat(linter): introduce `ExternalLinter` struct
  .cargo/config.toml
  Cargo.lock
  apps/oxlint/src/lib.rs
  apps/oxlint/src/lint.rs
  apps/oxlint/src/main.rs
  apps/oxlint/src/runner.rs
  apps/oxlint/src/tester.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/external_linter.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/tester.rs
  napi/oxlint2/src/bindings.d.ts
  napi/oxlint2/src/index.js
  napi/oxlint2/src/lib.rs
  napi/playground/index.d.ts
  napi/playground/src/lib.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge, A-editor

#12064 docs(linter): add good/bad example for `nextjs/no-document-import-in-pages`
  crates/oxc_linter/src/rules/nextjs/no_document_import_in_page.rs
Labels: A-linter, 0-merge, C-docs

#12063 perf(linter): replace `unicode-segmentation` crate with `icu_segmenter`
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/eslint/id_length.rs
Labels: A-linter, C-performance

#12059 docs(linter): add bad/good example for `nextjs/no-head-element`
  crates/oxc_linter/src/rules/nextjs/no_head_element.rs
Labels: A-linter, C-docs

#12060 perf(linter): check for filename before running `nextjs/no-head-import-in-document` rule
  crates/oxc_linter/src/rules/nextjs/no_head_import_in_document.rs
Labels: A-linter, C-performance

#12061 docs(linter): add good/bad example for `nextjs/no-head-import-in-document`
  crates/oxc_linter/src/rules/nextjs/no_head_import_in_document.rs
Labels: A-linter, C-docs

#12062 perf(linter): check filepath before running `nextjs/no-head-element`
  crates/oxc_linter/src/rules/nextjs/no_head_element.rs
Labels: A-linter, C-performance

#12070 refactor(linter): shorten code
  crates/oxc_linter/src/config/oxlintrc.rs
Labels: A-linter, C-cleanup, 0-merge

#12076 docs(allocator): improve doc comments for `AllocatorPool`
  crates/oxc_allocator/src/pool.rs
Labels: C-docs

#12067 test(coverage/typescript): Update `7xxx` error codes handling
  tasks/coverage/snapshots/codegen_typescript.snap
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/transformer_typescript.snap
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/mod.rs
Labels: 0-merge, C-test

#12088 refactor(napi/parser): move files
  .github/generated/ast_changes_watch_list.yml
  napi/parser/bench.bench.mjs
  napi/parser/generated/lazy/constructors.js
  napi/parser/generated/lazy/types.js
  napi/parser/generated/lazy/walk.js
  napi/parser/package.json
  napi/parser/raw-transfer/lazy.js
  napi/parser/raw-transfer/visitor.js
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-cleanup, A-ast-tools

#12089 refactor(napi/parser): lazy deser: remove `construct` function
  napi/parser/generated/lazy/constructors.js
  napi/parser/generated/lazy/walk.js
  napi/parser/raw-transfer/lazy.js
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-cleanup, A-ast-tools

#12091 docs(linter): add docs for `nextjs/no-script-component-in-head`
  crates/oxc_linter/src/rules/nextjs/no_script_component_in_head.rs
Labels: A-linter, C-docs

#12094 perf(semantic): implement `FusedIterator` for `AstNodeParentIter`
  crates/oxc_semantic/src/node.rs
Labels: A-semantic, C-performance

#12106 chore(deps): bump `javascript-globals` and `oxc-browserslist`
  Cargo.lock
  Cargo.toml
Labels: C-cleanup

#12109 fix(napi/parser): lazy visit: correct error messages
  napi/parser/raw-transfer/visitor.js
Labels: C-bug

#12111 fix(codegen): wrap comment and object literal with parens to avoid invalid syntax
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/comments.rs
Labels: C-bug, A-codegen

#12110 refactor(linter): simplify `unicorn/require-post-message-target-origin`
  crates/oxc_linter/src/rules/unicorn/require_post_message_target_origin.rs
  crates/oxc_linter/src/snapshots/unicorn_require_post_message_target_origin.snap
Labels: A-linter, C-cleanup

#12114 feat(codegen)!: introduce `CommentOptions`
  crates/oxc_ast/src/ast/comment.rs
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/options.rs
  crates/oxc_codegen/tests/integration/comments.rs
  crates/oxc_isolated_declarations/examples/isolated_declarations.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_transformer_plugins/src/module_runner_transform.rs
  napi/playground/src/lib.rs
  napi/transform/src/isolated_declaration.rs
  napi/transform/test/id.test.ts
  tasks/coverage/src/typescript/transpile_runner.rs
  tasks/transform_conformance/src/driver.rs
  tasks/transform_conformance/src/test_case.rs
Labels: C-enhancement, A-minifier, A-ast, A-transformer, A-codegen, A-isolated-declarations

#11358 perf(parser): speed up simple lookaheads by introducing `Lexer::peek_token`
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, C-performance

#12116 refactor(linter): rename `LintPlugins` to `BuiltinLintPlugins`
  apps/oxlint/src/command/lint.rs
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/overrides.rs
  crates/oxc_linter/src/config/oxlintrc.rs
  crates/oxc_linter/src/config/plugins.rs
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/tester.rs
  tasks/website/src/linter/rules/doc_page.rs
Labels: A-linter, A-cli, C-cleanup

#12078 feat(minifier): implement `Number` known methods
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
Labels: C-enhancement, A-minifier

#12117 feat(linter): introduce `LintPlugins` to store builtin + custom plugins
  apps/oxlint/src/command/lint.rs
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/config/overrides.rs
  crates/oxc_linter/src/config/oxlintrc.rs
  crates/oxc_linter/src/config/plugins.rs
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  crates/oxc_linter/src/tester.rs
  npm/oxlint/configuration_schema.json
Labels: C-enhancement, A-linter, A-parser, A-cli

#12120 test(oxlint2): dont reject if oxlint fails
  napi/oxlint2/test/e2e.test.ts
Labels: C-test

#12124 chore(deps): oxc-browserslist v2.0.9
  Cargo.lock
Labels: C-cleanup

#12126 fix(mangler): handle var redecl scopes
  crates/oxc_mangler/src/lib.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_minifier/tests/mangler/snapshots/mangler.snap
Labels: C-bug, A-minifier

#12123 refactor(semantic,linter): assert that Program is always the first node
  crates/oxc_linter/src/rules/eslint/no_eval.rs
  crates/oxc_linter/src/rules/eslint/no_unreachable.rs
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
  crates/oxc_linter/src/rules/import/exports_last.rs
  crates/oxc_linter/src/rules/import/first.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
  crates/oxc_linter/src/rules/nextjs/no_async_client_component.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/rules/unicorn/no_process_exit.rs
  crates/oxc_semantic/src/node.rs
  crates/oxc_syntax/src/node.rs
  tasks/coverage/src/driver.rs
Labels: A-linter, A-semantic, C-cleanup

#12133 refactor(oxlint2): introduce `force_test_reporter` feature for consistent graphical outputs
  apps/oxlint/Cargo.toml
  apps/oxlint/src/lint.rs
  apps/oxlint/src/output_formatter/default.rs
  crates/oxc_linter/Cargo.toml
  napi/oxlint2/Cargo.toml
  napi/oxlint2/package.json
Labels: A-linter, A-cli, C-cleanup

#11980 feat(linter): load custom JS plugins
  Cargo.lock
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/config_builder.rs
  napi/oxlint2/src/index.js
  napi/oxlint2/test/__snapshots__/e2e.test.ts.snap
  napi/oxlint2/test/e2e.test.ts
  napi/oxlint2/test/fixtures/basic_custom_plugin/.oxlintrc.json
  napi/oxlint2/test/fixtures/basic_custom_plugin/test_plugin/index.js
  napi/oxlint2/test/fixtures/missing_custom_plugin/.oxlintrc.json
  napi/playground/Cargo.toml
Labels: C-enhancement, A-linter, A-cli, 0-merge, A-editor

#12144 test(napi/oxlint): add trailing line breaks to test fixture files
  napi/oxlint2/test/fixtures/basic_custom_plugin/.oxlintrc.json
  napi/oxlint2/test/fixtures/missing_custom_plugin/.oxlintrc.json
Labels: C-test

#12138 perf(linter/no-constructor-return): optimize loop
  crates/oxc_linter/src/rules/eslint/no_constructor_return.rs
Labels: A-linter, C-performance

#12137 perf(semantic): dereference `parent_id`s to slice only once
  crates/oxc_semantic/src/node.rs
Labels: A-semantic, C-performance

#12153 chore(deps): oxc-browserslist v2.0.10
  Cargo.lock
Labels: C-cleanup

#12149 test(napi/oxlint): test linting with built-in rules
  napi/oxlint2/test/__snapshots__/e2e.test.ts.snap
  napi/oxlint2/test/e2e.test.ts
  napi/oxlint2/test/fixtures/built_in_errors/.oxlintrc.json
  napi/oxlint2/test/fixtures/built_in_errors/index.js
  napi/oxlint2/test/fixtures/built_in_no_errors/.oxlintrc.json
  napi/oxlint2/test/fixtures/built_in_no_errors/index.js
Labels: C-test

#12141 refactor(linter): feature gate `load_external_plugin` by both `oxlint2` and `disable_oxlint2` features
  crates/oxc_linter/src/config/config_builder.rs
Labels: A-linter, C-cleanup

#12148 refactor(linter): rename `plugin_name` to `plugin_specifier`
  crates/oxc_linter/src/config/config_builder.rs
Labels: A-linter, C-cleanup

#12158 perf(napi/parser): optimize raw transfer deserializer for `TSClassImplements`
  crates/oxc_ast/src/serialize/ts.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-performance, A-ast

#12169 refactor(transformer/styled_components): move clippy attr
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12172 refactor(transformer/styled_components): make unreachable branch `unreachable!`
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12173 perf(transformer/styled_components): mark `enter_expression` as `#[inline]`
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-performance, A-transformer

#12174 style(transformer/styled_components): reduce indentation
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12189 refactor(ecmascript): move `is_less_than` to its own file
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_ecmascript/src/is_less_than.rs
  crates/oxc_ecmascript/src/lib.rs
Labels: C-cleanup

#12180 refactor(transformer/plugins): don't store `PluginOptions`
  crates/oxc_transformer/src/plugins/mod.rs
Labels: C-cleanup, A-transformer, 0-merge

#12182 docs(transformer/styled-components): add some comments
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: A-transformer, C-docs

#12191 perf(transformer/styled-components): reduce string comparisons
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-performance, A-transformer

#12195 perf(transformer/styled-components): cache more of component IDs
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-performance, A-transformer

#12196 perf(transformer/styled-components): generate file path hash in `InlineString`
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-performance, A-transformer

#12207 test(transformer/styled-components): fix memory leak
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: A-transformer, C-test

#12209 refactor(oxlint): adjust ignore patterns by counting bytes instead of chars
  apps/oxlint/src/lint.rs
Labels: A-cli, C-cleanup

#12205 docs(allocator): extend doc comments for `Vec` and `RawVec`
  crates/oxc_allocator/src/vec2/mod.rs
  crates/oxc_allocator/src/vec2/raw_vec.rs
Labels: C-docs

#12206 fix(allocator)!: remove `vec!` macro
  crates/oxc_allocator/src/vec2/mod.rs
Labels: C-bug

#12164 perf(semantic,linter): simplify implementation and uses of ancestors iterators
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/rules/eslint/func_style.rs
  crates/oxc_linter/src/rules/eslint/init_declarations.rs
  crates/oxc_linter/src/rules/eslint/max_depth.rs
  crates/oxc_linter/src/rules/eslint/max_nested_callbacks.rs
  crates/oxc_linter/src/rules/eslint/no_cond_assign.rs
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/rules/eslint/no_constructor_return.rs
  crates/oxc_linter/src/rules/eslint/no_debugger.rs
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
  crates/oxc_linter/src/rules/eslint/no_eval.rs
  crates/oxc_linter/src/rules/eslint/no_extend_native.rs
  crates/oxc_linter/src/rules/eslint/no_extra_boolean_cast.rs
  crates/oxc_linter/src/rules/eslint/no_labels.rs
  crates/oxc_linter/src/rules/eslint/no_new.rs
  crates/oxc_linter/src/rules/eslint/no_new_func.rs
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/usage.rs
  crates/oxc_linter/src/rules/eslint/no_useless_constructor.rs
  crates/oxc_linter/src/rules/import/no_commonjs.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
  crates/oxc_linter/src/rules/jest/prefer_each.rs
  crates/oxc_linter/src/rules/nextjs/no_img_element.rs
  crates/oxc_linter/src/rules/oxc/bad_comparison_sequence.rs
  crates/oxc_linter/src/rules/oxc/missing_throw.rs
  crates/oxc_linter/src/rules/promise/no_callback_in_promise.rs
  crates/oxc_linter/src/rules/promise/no_nesting.rs
  crates/oxc_linter/src/rules/promise/no_return_wrap.rs
  crates/oxc_linter/src/rules/promise/prefer_await_to_callbacks.rs
  crates/oxc_linter/src/rules/promise/prefer_await_to_then.rs
  crates/oxc_linter/src/rules/react/jsx_key.rs
  crates/oxc_linter/src/rules/react/no_array_index_key.rs
  crates/oxc_linter/src/rules/react/no_is_mounted.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/rules/typescript/no_namespace.rs
  crates/oxc_linter/src/rules/unicorn/no_accessor_recursion.rs
  crates/oxc_linter/src/rules/unicorn/no_null.rs
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_find.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_text_content.rs
  crates/oxc_linter/src/rules/unicorn/prefer_global_this.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_mangler/src/keep_names.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/typescript.rs
  crates/oxc_semantic/src/node.rs
Labels: A-linter, A-semantic, C-performance

#12199 fix(transformer/styled-components): should use source path to generate file hash when the path is absoulte path
  crates/oxc_transformer/src/plugins/styled_components.rs
  napi/transform/test/transform.test.ts
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/add-identifier-and-display-name/output.js
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/add-identifier/output.js
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/ignore-external-styled-import/output.jsx
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/minify-single-line-comments-with-interpolations/output.js
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/track-the-imported-variable/output.js
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/use-directory-name/output.js
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/use-file-name/output.js
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/use-namespace/output.js
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/work-with-hoisted-default-as-import/output.js
Labels: C-bug, A-transformer

#12192 fix(linter): Fix inconsistent behavior in `no-duplicate-imports` rule
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
  crates/oxc_linter/src/snapshots/eslint_no_duplicate_imports.snap
Labels: C-bug, A-linter

#12211 fix(transformer/styled-components): template literal expressions order is wrong after minification
  crates/oxc_transformer/src/plugins/styled_components.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/plugin-styled-components/test/fixtures/styled-components/minify-single-line-comments-with-interpolations/output.js
Labels: C-bug, A-transformer

#12198 refactor(transformer/styled-components): do not allocate temp data into arena
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12214 refactor(transformer/styled-components): fix typo
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12217 refactor(transformer/styled-components): use `Atom` everywhere
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12218 perf(transformer/styled-components): pass `Atom` instead of `Option<Atom>`
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-performance, A-transformer

#12233 docs(ast_tools): add comment that `Span` should not be removed from black list for `AstKind` generation
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-docs, A-ast-tools

#12212 fix(transformer/legacy-decorator): decorated fields with the `declare` modifier are not transformed
  crates/oxc_transformer/src/decorator/legacy/metadata.rs
  crates/oxc_transformer/src/decorator/legacy/mod.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/class.rs
  crates/oxc_transformer/src/typescript/mod.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/fields-with-declare-modifier/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/fields-with-declare-modifier/output.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/fields-with-declare-modifier/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/fields-with-declare-modifier/output.ts
Labels: C-bug, P-high, A-transformer

#12235 feat(minifier): remove unused `-1n`
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: C-enhancement, A-minifier

#12236 feat(minifier): constant fold small integer multiplication (n <= 255)
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#12237 refactor(minifier): move tests around
  crates/oxc_minifier/src/peephole/collapse_variable_declarations.rs
  crates/oxc_minifier/src/peephole/minimize_exit_points.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/statement_fusion.rs
  crates/oxc_minifier/tests/peephole/collapse_variable_declarations.rs
  crates/oxc_minifier/tests/peephole/minimize_exit_points.rs
  crates/oxc_minifier/tests/peephole/mod.rs
  crates/oxc_minifier/tests/peephole/oxc.rs
  crates/oxc_minifier/tests/peephole/statement_fusion.rs
Labels: A-minifier, C-cleanup

#12238 feat(tasks/minsize): generate a quick diff for inspection
  Cargo.lock
  justfile
  tasks/minsize/Cargo.toml
  tasks/minsize/src/lib.rs
Labels: C-enhancement, 0-merge

#12241 refactor(linter/js-plugins): rename `specifiers` to `paths`
  crates/oxc_linter/src/external_plugin_store.rs
Labels: A-linter, C-cleanup

#12243 refactor(linter/js-plugins): use `u32` for IDs
  crates/oxc_linter/src/external_plugin_store.rs
  crates/oxc_linter/src/lib.rs
Labels: A-linter, C-cleanup

#12244 refactor(napi/oxlint): rename vars
  napi/oxlint2/src/index.js
Labels: C-cleanup

#12245 refactor(napi/oxlint): replace arrow functions with methods
  napi/oxlint2/src/index.js
Labels: C-cleanup

#12247 perf(linter/js-plugins): use hashmap `Entry` API + remove temp `Vec`
  crates/oxc_linter/src/config/rules.rs
Labels: A-linter, C-performance

#12248 perf(linter/js-plugins): do not copy `Vec`
  crates/oxc_linter/src/config/config_store.rs
Labels: A-linter, C-performance

#12260 fix(linter): Report implicit config parse errors (#12258)
  apps/oxlint/fixtures/auto_config_parse_error/.oxlintrc.json
  apps/oxlint/fixtures/auto_config_parse_error/debugger.js
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__auto_config_parse_error_debugger.js@oxlint.snap
Labels: C-bug, A-cli

#12193 feat(semantic): build semantic for `.d.ts` files
  crates/oxc_semantic/src/builder.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-enhancement, A-semantic, 0-merge

#12267 refactor(ast_tools): introduce `StructDef::field_by_name` method
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/schema/defs/struct.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#12271 refactor(napi/parser): do not compile raw transfer code on WASM
  napi/parser/src/lib.rs
  napi/parser/src/raw_transfer.rs
  napi/parser/src/raw_transfer_types.rs
Labels: C-cleanup

#12272 refactor(allocator): disable fixed size allocators on unsupported platforms
  crates/oxc_allocator/src/fixed_size.rs
  crates/oxc_allocator/src/lib.rs
  crates/oxc_allocator/src/pool.rs
Labels: C-cleanup, 0-merge

#12273 refactor(napi/parser): correct comment about raw transfer buffer size
  napi/parser/src/raw_transfer.rs
Labels: C-cleanup, 0-merge

#12208 fix(semantic): allow assigning to `eval` and `arguments` in ambient context
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-semantic

#12278 refactor(allocator): fixed size allocator leave space for metadata after arena
  crates/oxc_allocator/src/fixed_size.rs
  crates/oxc_allocator/src/generated/fixed_size_constants.rs
  napi/parser/src/generated/raw_transfer_constants.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-cleanup, A-ast-tools

#12185 fix(transformer/object-rest-spread): arrow function expressions with object rest patterns
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/with-arrow-function-expression/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/with-arrow-function-expression/output.js
Labels: C-bug, A-transformer

#12159 test(coverage/typescript): Exclude more non-testable units
  tasks/coverage/snapshots/codegen_typescript.snap
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/coverage/snapshots/transformer_typescript.snap
  tasks/coverage/src/typescript/meta.rs
  tasks/coverage/src/typescript/mod.rs
Labels: C-test

#12280 perf(semantic): inline `SemanticBuilder::pop_ast_node`
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, C-performance

#12256 perf(transformer/styled-components): remove quasis and expressions in batch
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-performance, A-transformer

#12285 fix(linter): false positive with unknown plugins when unmatched eslint rule
  crates/oxc_linter/src/config/rules.rs
Labels: C-bug, A-linter

#12281 feat(formatter): complete printing function
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/write/arrow_function_expression.rs
  crates/oxc_formatter/src/write/call_arguments.rs
  crates/oxc_formatter/src/write/function.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/ast_tools/src/generators/formatter/format.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-ast-tools, A-formatter

#12252 refactor(ast): remove `AstKind` for `AssignmentTarget`
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format_write.rs
  crates/oxc_linter/src/rules/eslint/no_extend_native.rs
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/usage.rs
  crates/oxc_linter/src/rules/eslint/no_useless_rename.rs
  crates/oxc_linter/src/rules/import/no_commonjs.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/rules/oxc/no_rest_spread_properties.rs
  crates/oxc_linter/src/rules/unicorn/no_accessor_recursion.rs
  crates/oxc_linter/src/rules/unicorn/no_unreadable_array_destructuring.rs
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_text_content.rs
  crates/oxc_linter/src/snapshots/import_no_commonjs.snap
  crates/oxc_linter/src/snapshots/unicorn_no_accessor_recursion.snap
  crates/oxc_mangler/src/keep_names.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/tests/fixtures/oxc/js/assignments/array.snap
  crates/oxc_semantic/tests/fixtures/oxc/js/assignments/nested-assignment.snap
  crates/oxc_semantic/tests/fixtures/oxc/js/assignments/object.snap
  crates/oxc_semantic/tests/fixtures/oxc/js/assignments/read-write-operators.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/assignments/left-hand.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/class/declaration/method-param-default.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/destructuring/array-assignment.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/destructuring/object-assignment.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-assertion/assignment/angle-bracket-assignment.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-assertion/assignment/as-assignment.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-assertion/assignment/non-null-assignment.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: A-linter, A-semantic, C-cleanup, A-ast, A-ast-tools, A-formatter

#12293 fix(linter/no-empty-file): false positive with empty file with triple slash directive
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
Labels: C-bug, A-linter

#12299 fix(allocator): fix `FixedSizeAllocator` pointer maths
  crates/oxc_allocator/src/fixed_size.rs
Labels: C-bug, 0-merge

#12283 refactor(transform/styled-components): rename var
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12307 refactor(allocator): improve documentation on pointer alignment
  crates/oxc_allocator/src/fixed_size.rs
Labels: C-cleanup, 0-merge

#12301 refactor(parser): shorten code
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, C-cleanup

#12302 refactor(parser): remove unnecessary `unbox`
  crates/oxc_parser/src/js/arrow.rs
Labels: A-parser, C-cleanup

#12294 feat(data_structures): `SliceIterExt` extension trait
  crates/oxc_data_structures/Cargo.toml
  crates/oxc_data_structures/src/lib.rs
  crates/oxc_data_structures/src/slice_iter_ext.rs
Labels: C-enhancement, A-transformer

#12295 refactor(transform/styled-components): use `SliceIterExt`
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: C-cleanup, A-transformer

#12296 refactor(codegen): use `SliceIterExt` in string printer
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/str.rs
Labels: C-cleanup, A-codegen

#12297 refactor(estree): use `SliceIterExt` in string serializer
  crates/oxc_estree/Cargo.toml
  crates/oxc_estree/src/serialize/strings.rs
Labels: C-cleanup

#12288 fix(semantic): allow `arguments`/`eval` as argument name inside `TSFunctionType`
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/misc/pass/arguments-eval.d.ts
  tasks/coverage/snapshots/codegen_misc.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/transformer_misc.snap
Labels: C-bug, A-semantic

#12312 fix(transformer_plugins/replace_global_defines): handle `declare const`
  crates/oxc_transformer_plugins/src/replace_global_defines.rs
  crates/oxc_transformer_plugins/tests/integrations/replace_global_defines.rs
Labels: C-bug

#12289 fix(semantic): allow `arguments`/`eval` as argument name inside `TSMethodSignature`
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/misc/pass/arguments-eval.d.ts
Labels: C-bug, A-linter, A-parser, A-semantic, A-cli, A-transformer, A-codegen

#12290 fix(semantic): allow `arguments`/`eval` as spread argument name inside `TSMethodSignature`, `TSFunctionType`
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/misc/pass/arguments-eval.d.ts
Labels: C-bug, A-semantic

#12291 fix(semantic): allow `arguments`/`eval` as name of `TSTypeAliasDeclaration`, `TSInterfaceDeclaration`
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/misc/pass/arguments-eval.d.ts
Labels: C-bug, A-semantic

#12318 feat(minifier): remove unused function declaration
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/tests/peephole/dead_code_elimination.rs
  crates/oxc_minifier/tests/peephole/mod.rs
  napi/minify/test/terser.test.ts
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#12322 refactor(minifier): move `State` to a separate file
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/normalize.rs
  crates/oxc_minifier/src/state.rs
Labels: A-minifier, C-cleanup

#12323 chore(linter): disable linting `.d.ts` files for now
  crates/oxc_linter/src/lib.rs
Labels: A-linter, C-cleanup

#12324 feat(linter): load custom JS plugins configured in overrides
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/overrides.rs
  napi/oxlint2/test/__snapshots__/e2e.test.ts.snap
  napi/oxlint2/test/e2e.test.ts
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides/.oxlintrc.json
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides/index.js
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides/test_plugin/index.js
Labels: C-enhancement, A-linter

#12328 refactor(linter): remove dead code
  crates/oxc_linter/src/config/config_builder.rs
Labels: A-linter, C-cleanup

#12327 chore(linter): disable linting `.d.ts` files for now
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
Labels: A-linter, C-cleanup, 0-merge

#12303 refactor(semantic): refactor `check_binding_identifier`
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic, C-cleanup

#12304 perf(semantic): reduce match arms in `check_binding_identifier`
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic, C-performance

#12334 style(linter): re-order imports
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/loader/partial_loader/astro.rs
  crates/oxc_linter/src/loader/partial_loader/mod.rs
  crates/oxc_linter/src/loader/partial_loader/svelte.rs
  crates/oxc_linter/src/module_graph_visitor.rs
  crates/oxc_linter/src/options/mod.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/service/mod.rs
  crates/oxc_linter/src/service/offset_to_position.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_linter/src/tester.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/jsdoc.rs
  crates/oxc_linter/src/utils/unicorn.rs
  crates/oxc_linter/src/utils/vitest.rs
Labels: A-linter, C-cleanup, 0-merge

#12331 refactor(linter): remove `ModuleContentOwner` abstraction
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup

#12332 refactor(linter): clarify usage of `Allocator` and `AllocatorGuard`
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup

#12333 perf(linter): enable `union` feature of `smallvec` crate
  Cargo.toml
Labels: C-performance, 0-merge

#12338 feat(ast_tools): support `NonNull` pointers in structs
  tasks/ast_tools/src/derives/dummy.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/generators/formatter/ast_nodes.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
  tasks/ast_tools/src/generators/scopes_collector.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/parse/parse.rs
  tasks/ast_tools/src/schema/defs/mod.rs
  tasks/ast_tools/src/schema/defs/pointer.rs
  tasks/ast_tools/src/schema/defs/type.rs
  tasks/ast_tools/src/schema/extensions/layout.rs
  tasks/ast_tools/src/schema/mod.rs
Labels: C-enhancement, A-ast-tools

#12346 refactor(minifier): unify access `CompressOptions` through `ctx.state`
  crates/oxc/src/compiler.rs
  crates/oxc_minifier/examples/dce.rs
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/options.rs
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_logical_expression.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/src/state.rs
  crates/oxc_minifier/src/tester.rs
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/peephole/dead_code_elimination.rs
  crates/oxc_transformer_plugins/tests/integrations/replace_global_defines.rs
  tasks/benchmark/benches/minifier.rs
Labels: A-minifier, C-cleanup

#12347 chore(deps): `oxc-sourcemap` v4.0
  Cargo.lock
  Cargo.toml
  napi/minify/Cargo.toml
  napi/transform/Cargo.toml
Labels: C-cleanup

#12351 fix(minifier): improve remove unused variable declaration
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/remove_unused_variable_declaration.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/src/state.rs
  crates/oxc_minifier/src/tester.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier

#12360 fix(linter/prefer-array-flat-map): error for `.flat(1.0)`
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
  crates/oxc_linter/src/snapshots/unicorn_prefer_array_flat_map.snap
Labels: C-bug, A-linter, 0-merge

#12359 chore(linter/prefer-array-flat-map): move category to performance
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
Labels: A-linter, C-cleanup

#12337 fix(linter/exhaustive-deps): better diagnostics for missing dependencies
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
  crates/oxc_span/src/span.rs
Labels: C-bug, A-linter

#12364 fix(minifier): remove more unused assignment expressions
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_variable_declaration.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier

#12367 refactor(minifier): do not remove unused assignment expression yet
  crates/oxc_minifier/src/peephole/remove_unused_variable_declaration.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, C-cleanup

#12370 refactor(linter): move running external rules into feature-gated function
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/lib.rs
Labels: A-linter, C-cleanup, 0-merge

#12371 refactor(linter): make unwrap unconditional
  crates/oxc_linter/src/lib.rs
Labels: A-linter, C-cleanup

#12309 refactor(allocator): move all fixed size allocator code into 1 file
  crates/oxc_allocator/src/lib.rs
  crates/oxc_allocator/src/pool.rs
  crates/oxc_allocator/src/pool_fixed_size.rs
Labels: C-cleanup, 0-merge

#12377 chore(pnpm): enable `verifyDepsBeforeRun: install`
  pnpm-workspace.yaml
Labels: C-cleanup

#12330 feat(allocator): add `Allocator::end_ptr` method
  crates/oxc_allocator/src/from_raw_parts.rs
Labels: C-enhancement

#12379 refactor(ast_tools, allocator, napi/parser): rename vars
  crates/oxc_allocator/src/generated/fixed_size_constants.rs
  crates/oxc_allocator/src/pool_fixed_size.rs
  napi/parser/src/generated/raw_transfer_constants.rs
  napi/parser/src/raw_transfer.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: A-linter, C-cleanup, A-ast-tools
