Repository oxc-project/oxc, pull requests merged in 2025-06, with the labels that each got.

#11413 perf(parser): parse `let` declaration without token peek
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/ts/statement.rs
Labels: A-parser, C-performance

#11419 perf(parser): parse `const` declaration without token peek
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/modifiers.rs
Labels: A-parser, C-performance

#11416 perf(parser): optimize around `eat_decorators`
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/ts/statement.rs
Labels: A-parser, C-performance

#11421 perf(parser): parse jsx open fragment without token peek
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/jsx/mod.rs
Labels: A-parser, C-performance

#11424 refactor(parser): Reduce backtracking for assertion signature parsing
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, C-cleanup

#11432 refactor(parser): Reduce backtracking during postfix type parsing
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, C-cleanup

#11405 fix(linter/switch-case-braces): align the logic with `unicorn`
  crates/oxc_linter/src/rules/unicorn/switch_case_braces.rs
  crates/oxc_linter/src/snapshots/unicorn_switch_case_braces.snap
Labels: C-bug, A-linter

#11434 fix(estree): Update `add_ts_def` types in oxc-types
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-bug, A-ast-tools

#11385 fix(estree): Use consistent field order in serialization
  crates/oxc_ast/src/serialize/js.rs
  crates/oxc_ast/src/serialize/ts.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-ast

#11448 test(editor): fix test for auto `fixAll` on save
  editors/vscode/fixtures/fixall_with_code_actions_on_save/expected.txt
Labels: A-editor, C-test

#11449 test(ast/estree): bump `acorn-test262` dependency
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/snapshots/estree_acorn_jsx.snap
Labels: 0-merge, C-test

#11450 test(ast/estree): conformance tests check field order in TS-ESTree AST
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/src/tools/estree.rs
Labels: 0-merge, C-test

#11451 chore(codegen): Fix typo jsodc → jsdoc in codegen tests
  crates/oxc_codegen/tests/integration/comments.rs
  crates/oxc_codegen/tests/integration/snapshots/jsdoc.snap
Labels: C-cleanup, A-codegen

#11437 fix(linter): improve `eslint/no-loss-of-precision`
  crates/oxc_linter/src/rules/eslint/no_loss_of_precision.rs
Labels: C-bug, A-linter

#11461 fix(parser): fix decorator placed incorrectly in initializers
  crates/oxc_codegen/tests/integration/js.rs
  crates/oxc_codegen/tests/integration/main.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/function.rs
Labels: C-bug, A-parser, A-codegen

#11463 fix(ast/estree): fix field order of `PropertyKey` constructor in raw transfer TS-ESTree AST
  crates/oxc_ast/src/serialize/js.rs
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-ast

#11462 refactor(language_server): simplify `workspace/didChangeConfiguration` call
  crates/oxc_language_server/src/main.rs
Labels: C-cleanup, 0-merge, A-editor

#11471 feat(napi): add webcontainer fallback to transform and minify packages
  napi/minify/index.js
  napi/minify/package.json
  napi/minify/patch.mjs
  napi/minify/webcontainer-fallback.js
  napi/transform/index.js
  napi/transform/package.json
  napi/transform/patch.mjs
  napi/transform/webcontainer-fallback.js
Labels: C-enhancement, 0-merge

#11475 perf(parser): Skip `try_parse` when current token is not an identifier
  crates/oxc_parser/src/ts/types.rs
Labels: A-parser, C-performance, C-cleanup

#11477 fix(coverage): handle errors correctly on multi-file ts test cases
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/src/suite.rs
  tasks/coverage/src/typescript/mod.rs
Labels: C-bug

#11481 fix(ast/estree): make error objects via raw transfer match standard transfer
  crates/oxc_ast_macros/src/generated/structs.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  napi/parser/src/generated/assert_layouts.rs
  napi/parser/src/generated/derive_estree.rs
  napi/parser/src/raw_transfer.rs
  napi/parser/src/raw_transfer_types.rs
  napi/parser/test/parse-raw.test.ts
Labels: C-bug

#11482 feat(parser): syntax errors for decorators appearing in conflicting places
  crates/oxc_codegen/tests/integration/js.rs
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/state.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/misc/fail/oxc-11472.js
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-enhancement, A-parser, A-codegen

#11491 feat(parser): produce syntax error for decorators in incorrect places
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/statement.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-parser

#11492 fix(minifier): fix incorrect span when performing collapse variable declarations
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/peephole/collapse_variable_declarations.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
Labels: C-bug, A-minifier

#11493 fix(parser): fix panic while parsing `async await => {}` in module
  crates/oxc_parser/examples/parser.rs
  crates/oxc_parser/src/js/arrow.rs
  tasks/coverage/misc/fail/oxc-11487.mjs
  tasks/coverage/misc/pass/oxc-11487.cjs
  tasks/coverage/snapshots/codegen_misc.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/transformer_misc.snap
Labels: C-bug, A-parser

#11488 fix(parser): handle `import {type as as}` correctly
  crates/oxc_codegen/tests/integration/ts.rs
  crates/oxc_parser/src/js/module.rs
  tasks/coverage/misc/fail/oxc-11484.ts
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-bug, A-parser, A-codegen

#11494 fix(ast): emit parameter decorators in js estree
  crates/oxc_ast/src/ast/js.rs
Labels: C-bug, A-ast

#11497 fix(ast): restore `#[ts]` attribute to `FormalParameter` `decorators` field
  crates/oxc_ast/src/ast/js.rs
Labels: C-bug, A-ast

#11455 fix(linter): add missing `allowArrowFunctions` option for eslint/func-style
  crates/oxc_linter/src/rules/eslint/func_style.rs
  crates/oxc_linter/src/snapshots/eslint_func_style.snap
Labels: C-bug, C-enhancement, A-linter

#11496 feat(parser): produce syntax error for decorators on overload
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-enhancement, A-parser, A-transformer

#11499 docs(ast): correct and improve docs for `BindingPattern`
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast, C-docs

#11500 fix(ast/estree): remove repeat fields from `BindingPattern` in TS-ESTree AST
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize/js.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast

#11502 feat(parser): produce syntax error for `satisfies` and `as` in js files
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/operator.rs
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-parser

#11503 refactor(language_server): convert only once uri to path when creating `ServerLinter`
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/tester.rs
Labels: C-cleanup, A-editor

#11508 fix(linter): improve diagnostic message for no-unsafe-declaration-merging
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
  crates/oxc_linter/src/snapshots/typescript_no_unsafe_declaration_merging.snap
Labels: C-bug, A-linter

#11509 fix(linter): improve diagnostic message when function name is referenced
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/snapshots/eslint_func_names.snap
  crates/oxc_linter/src/snapshots/eslint_max_lines_per_function.snap
Labels: C-bug, A-linter

#11512 fix(linter): misplaced backtick in eslint/radix diagnostic
  crates/oxc_linter/src/rules/eslint/radix.rs
  crates/oxc_linter/src/snapshots/eslint_radix.snap
Labels: C-bug, A-linter

#11513 fix(linter): misplaced backtick in unicorn/prefer-dom-node-dataset diagnostic
  crates/oxc_linter/src/rules/unicorn/prefer_dom_node_dataset.rs
  crates/oxc_linter/src/snapshots/unicorn_prefer_dom_node_dataset.snap
Labels: C-bug, A-linter

#11514 fix(linter): misplaced backtick in jest/no-conditional-expect diagnostic
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/snapshots/jest_no_conditional_expect.snap
Labels: C-bug, A-linter

#11515 fix(linter): fix message in react/rules-of-hooks diagnostic
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/react_rules_of_hooks.snap
Labels: C-bug, A-linter

#11516 fix(linter): improve message in react/prefer-es6-class diagnostic
  crates/oxc_linter/src/rules/react/prefer_es6_class.rs
  crates/oxc_linter/src/snapshots/react_prefer_es6_class.snap
Labels: C-bug, A-linter

#11518 fix(linter): add missing article to oxc/bad-array-method-on-arguments diagnostic
  crates/oxc_linter/src/rules/oxc/bad_array_method_on_arguments.rs
  crates/oxc_linter/src/snapshots/oxc_bad_array_method_on_arguments.snap
Labels: C-bug, A-linter

#11521 fix(linter): grammer in eslint/no-redeclare diagnostic
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
  crates/oxc_linter/src/snapshots/eslint_no_redeclare.snap
Labels: C-bug, A-linter

#11522 fix(linter): grammer in jest/valid-expect diagnostic
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/snapshots/jest_valid_expect.snap
Labels: C-bug, A-linter

#11524 feat(linter)!: add more info to json reporter
  apps/oxlint/src/output_formatter/json.rs
  apps/oxlint/src/snapshots/fixtures__output_formatter_diagnostic_--format=json test.js@oxlint.snap
  apps/oxlint/src/tester.rs
  crates/oxc_diagnostics/src/reporter.rs
Labels: C-enhancement, A-linter, A-cli

#11529 fix(linter): misplaced backtick in unicorn/no-array-for-each diagnostic
  crates/oxc_linter/src/rules/unicorn/no_array_for_each.rs
  crates/oxc_linter/src/snapshots/unicorn_no_array_for_each.snap
Labels: C-bug, A-linter

#11536 refactor(ast_tools): shorten code in raw transfer codegen
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-cleanup, A-ast-tools

#11537 fix(parser): fix parsing of `import source` and `import defer`
  crates/oxc_parser/src/js/module.rs
  tasks/coverage/misc/fail/oxc-11532.js
  tasks/coverage/misc/pass/oxc-11532-1.js
  tasks/coverage/misc/pass/oxc-11532-2.js
  tasks/coverage/snapshots/codegen_misc.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/transformer_misc.snap
Labels: C-bug, A-parser

#11541 feat(parser): add better debug impl for `Token`
  crates/oxc_parser/src/lexer/token.rs
Labels: C-enhancement, A-parser

#11539 fix(parser): correct `TemplateTail::to_str` from `$}` to `}`
  crates/oxc_parser/src/lexer/kind.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser

#11543 fix(linter): misplaced backtick in no-object-constructor test case
  crates/oxc_linter/src/rules/eslint/no_object_constructor.rs
  crates/oxc_linter/src/snapshots/eslint_no_object_constructor.snap
Labels: C-bug, A-linter

#11544 fix(linter): misplaced backtick in exhaustive-deps test case
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
Labels: C-bug, A-linter

#11547 fix(linter): false negative in jsx-a11y/aria-role
  crates/oxc_linter/src/rules/jsx_a11y/aria_role.rs
  crates/oxc_linter/src/snapshots/jsx_a11y_aria_role.snap
Labels: C-bug, A-linter

#11551 docs(linter): cleanup docs for multiple linter rules
  crates/oxc_linter/src/rules/eslint/no_magic_numbers.rs
  crates/oxc_linter/src/rules/eslint/no_negated_condition.rs
  crates/oxc_linter/src/rules/eslint/no_undefined.rs
  crates/oxc_linter/src/rules/eslint/valid_typeof.rs
Labels: A-linter, C-docs

#11540 fix(parser): report error on malformed template expressions
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/misc/fail/oxc-11538.js
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser

#11552 refactor(linter): use one instance of rope per file
  crates/oxc_linter/src/service/offset_to_position.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup

#11560 fix(linter/no-magic-numbers): fix typo in error message
  crates/oxc_linter/src/rules/eslint/no_magic_numbers.rs
Labels: C-bug, A-linter

#11408 refactor(mangler): use external allocator
  crates/oxc_mangler/src/lib.rs
  tasks/benchmark/benches/minifier.rs
Labels: A-minifier, C-cleanup

#11409 refactor(mangler): use bump allocator for internal storage
  crates/oxc_mangler/src/lib.rs
Labels: C-cleanup

#11564 feat(ast)!: add `value` field to `BigIntLiteral`
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize/literal.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/js.rs
  crates/oxc_ecmascript/Cargo.toml
  crates/oxc_ecmascript/src/to_big_int.rs
  crates/oxc_ecmascript/src/to_string.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_keys.rs
  crates/oxc_linter/src/rules/eslint/no_magic_numbers.rs
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
  crates/oxc_linter/src/snapshots/eslint_no_dupe_class_members.snap
  crates/oxc_linter/src/snapshots/eslint_no_dupe_keys.snap
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/tests/ecmascript/array_join.rs
  crates/oxc_minifier/tests/ecmascript/to_string.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lexer/number.rs
  crates/oxc_semantic/src/dot.rs
  crates/oxc_traverse/src/ast_operations/gather_node_parts.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  tasks/coverage/snapshots/estree_test262.snap
Labels: C-enhancement, A-linter, A-parser, A-semantic, A-minifier, C-cleanup, A-ast, A-codegen, A-formatter

#11565 perf(ecmascript): faster parsing integers
  crates/oxc_ecmascript/src/string_to_big_int.rs
  crates/oxc_ecmascript/src/string_to_number.rs
  crates/oxc_ecmascript/src/to_big_int.rs
Labels: C-performance

#11567 refactor(parser): store export entries in arena
  crates/oxc_parser/src/module_record.rs
Labels: A-parser, C-performance, C-cleanup

#11572 docs(editor/vscode): fix typo in README
  editors/vscode/README.md
Labels: C-docs, A-editor

#11555 feat(minifier): annotate more pure constructors
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/normalize.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, 0-merge

#11559 refactor(editor): use pattern for textDocument filter
  editors/vscode/client/extension.ts
  editors/vscode/fixtures/file_extensions/debugger.astro
  editors/vscode/fixtures/file_extensions/debugger.cjs
  editors/vscode/fixtures/file_extensions/debugger.cts
  editors/vscode/fixtures/file_extensions/debugger.js
  editors/vscode/fixtures/file_extensions/debugger.jsx
  editors/vscode/fixtures/file_extensions/debugger.mjs
  editors/vscode/fixtures/file_extensions/debugger.mts
  editors/vscode/fixtures/file_extensions/debugger.svelte
  editors/vscode/fixtures/file_extensions/debugger.ts
  editors/vscode/fixtures/file_extensions/debugger.tsx
  editors/vscode/fixtures/file_extensions/debugger.vue
  editors/vscode/tests/e2e_server.spec.ts
Labels: C-cleanup, A-editor

#11581 chore(release): oxlint v1.0 stable
  Cargo.lock
  apps/oxlint/CHANGELOG.md
  apps/oxlint/Cargo.toml
  crates/oxc_language_server/CHANGELOG.md
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/CHANGELOG.md
  editors/vscode/package.json
  npm/oxlint/CHANGELOG.md
  npm/oxlint/package.json
Labels: A-linter, A-cli, C-cleanup, A-editor

#11535 refactor(ast): get jsx types out of AstKind exceptions
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_linter/src/rules/eslint/no_multi_str.rs
  crates/oxc_linter/src/rules/eslint/no_useless_escape.rs
  crates/oxc_linter/src/rules/import/namespace.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_props.rs
  crates/oxc_linter/src/rules/nextjs/inline_script_id.rs
  crates/oxc_linter/src/rules/nextjs/no_duplicate_head.rs
  crates/oxc_linter/src/rules/nextjs/no_script_component_in_head.rs
  crates/oxc_linter/src/rules/nextjs/no_title_in_document_head.rs
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/rules/react/no_children_prop.rs
  crates/oxc_linter/src/rules/react/no_string_refs.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_raw.rs
  crates/oxc_linter/src/rules/unicorn/text_encoding_identifier_case.rs
  crates/oxc_linter/src/utils/react_perf.rs
  crates/oxc_semantic/src/checker/typescript.rs
  crates/oxc_semantic/tests/fixtures/oxc/jsx/element-name.snap
  crates/oxc_semantic/tests/fixtures/oxc/jsx/member-expression.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/attribute-spread.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/attribute.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/children.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/component-namespaced1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/component-namespaced2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/component.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/fragment-children.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/generic-type-param.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/namespaced-attribute.snap
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: A-linter, A-semantic, C-cleanup, A-ast, A-ast-tools, A-formatter

#11550 refactor(linter): simplify implementation of `eslint/no-lonely-if`
  crates/oxc_linter/src/rules/eslint/no_lonely_if.rs
Labels: A-linter, C-cleanup

#11589 fix(linter): improve span diagnostic loc within react/rules-of-hooks
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/snapshots/react_rules_of_hooks.snap
Labels: C-bug, A-linter

#11597 refactor(ast): create AstKinds for jsdoc types
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/format.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-cleanup, A-ast, A-ast-tools, A-formatter

#11511 refactor(formatter): core revamp
  .github/generated/ast_changes_watch_list.yml
  crates/oxc_formatter/src/formatter/context.rs
  crates/oxc_formatter/src/formatter/formatter.rs
  crates/oxc_formatter/src/formatter/mod.rs
  crates/oxc_formatter/src/formatter/parent_stack.rs
  crates/oxc_formatter/src/formatter/state.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/generated/format_write.rs
  crates/oxc_formatter/src/lib.rs
  crates/oxc_formatter/src/parentheses/assignment.rs
  crates/oxc_formatter/src/parentheses/expression.rs
  crates/oxc_formatter/src/parentheses/mod.rs
  crates/oxc_formatter/src/utils/mod.rs
  crates/oxc_formatter/src/write/array_element_list.rs
  crates/oxc_formatter/src/write/array_expression.rs
  crates/oxc_formatter/src/write/arrow_function_expression.rs
  crates/oxc_formatter/src/write/assignment_pattern_property_list.rs
  crates/oxc_formatter/src/write/binary_like_expression.rs
  crates/oxc_formatter/src/write/binding_property_list.rs
  crates/oxc_formatter/src/write/block_statement.rs
  crates/oxc_formatter/src/write/call_arguments.rs
  crates/oxc_formatter/src/write/class.rs
  crates/oxc_formatter/src/write/function.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/object_like.rs
  crates/oxc_formatter/src/write/object_pattern_like.rs
  crates/oxc_formatter/src/write/parameter_list.rs
  crates/oxc_formatter/src/write/semicolon.rs
  crates/oxc_formatter/src/write/type_parameters.rs
  crates/oxc_formatter/src/write/utils/array.rs
  crates/oxc_formatter/src/write/utils/statement_body.rs
  crates/oxc_formatter/src/write/variable_declaration.rs
  tasks/ast_tools/src/generators/formatter/ast_nodes.rs
  tasks/ast_tools/src/generators/formatter/format.rs
  tasks/ast_tools/src/generators/formatter/format_write.rs
  tasks/ast_tools/src/generators/formatter/mod.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/parse/parse.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/defs/type.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-cleanup, A-ast, A-ast-tools, A-formatter

#11603 chore(coverage): ignore `.DS_Store`
  tasks/coverage/src/suite.rs
Labels: C-cleanup, 0-merge

#11602 fix(linter): add missing `additional_hooks` option to exhaustive-deps
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
Labels: C-bug, A-linter

#11604 refactor(parser): rewrite decorator parsing
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/state.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/misc/pass/oxc-11593.ts
  tasks/coverage/snapshots/codegen_misc.snap
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/transformer_misc.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: A-parser, C-cleanup, A-transformer, A-codegen

#11605 refactor(parser): improve `TSModuleDeclaration` parsing
  crates/oxc_linter/src/rules/typescript/prefer_namespace_keyword.rs
  crates/oxc_linter/src/snapshots/typescript_prefer_namespace_keyword.snap
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/misc/fail/oxc-11592-1.ts
  tasks/coverage/misc/fail/oxc-11592-2.ts
  tasks/coverage/misc/fail/oxc-11592-3.ts
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: A-linter, A-parser, C-cleanup

#11583 refactor(napi/parser): move raw transfer code into separate directory
  napi/parser/index.js
  napi/parser/package.json
  napi/parser/raw-transfer/index.js
Labels: C-cleanup, 0-merge

#11595 feat(napi/parser): add lazy deserialization
  .github/generated/ast_changes_watch_list.yml
  napi/parser/generated/deserialize/lazy.js
  napi/parser/index.js
  napi/parser/package.json
  napi/parser/raw-transfer/eager.js
  napi/parser/raw-transfer/index.js
  napi/parser/raw-transfer/lazy.js
  napi/parser/test/parse-raw.test.ts
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
  tasks/ast_tools/src/main.rs
Labels: C-enhancement, A-ast-tools

#11616 refactor(napi/parser): use "construct" instead of "deserialize" in lazy deserializer
  napi/parser/generated/deserialize/lazy.js
  napi/parser/raw-transfer/lazy.js
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-cleanup, A-ast-tools

#11611 test(napi/parser): run raw transfer tests on multiple threads
  napi/parser/package.json
  napi/parser/test/parse-raw-common.mjs
  napi/parser/test/parse-raw-worker.mjs
  napi/parser/test/parse-raw.test.ts
  pnpm-lock.yaml
Labels: 0-merge, C-test

#11624 feat(parser): produce syntax error for decorator in class methods in js
  crates/oxc_parser/src/js/function.rs
  tasks/coverage/misc/fail/oxc-11485.js
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-enhancement, A-parser

#11623 refactor(parser): remove rewind in hot path for parsing `for (let`
  crates/oxc_parser/src/js/statement.rs
Labels: A-parser, C-cleanup

#11625 fix(parser): parse decorator on `abstract class`
  crates/oxc_codegen/tests/integration/ts.rs
  crates/oxc_parser/src/js/statement.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, A-parser, A-transformer, A-codegen

#11626 fix(parser): don't parse a single "webpack" word as a webpack magic comment
  crates/oxc_parser/src/lexer/trivia_builder.rs
Labels: C-bug, A-parser, 0-merge

#11586 chore(napi)!: drop support for NodeJS before v20 in `oxc-parser`
  napi/parser/package.json
Labels: C-cleanup

#11630 fix(parser): parse `@x() @y() export default abstract class {}`
  crates/oxc_codegen/tests/integration/ts.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-bug, A-parser, A-codegen, 0-merge

#11633 perf(linter/no-inner-declarations): remove unnecessary code and reduce branches
  crates/oxc_linter/src/rules/eslint/no_inner_declarations.rs
Labels: A-linter, C-performance

#11635 style(ast): import `Span` at top level
  crates/oxc_semantic/src/node.rs
Labels: A-semantic, C-cleanup, 0-merge

#11636 test(napi/parser): env var to run lazy deserialization tests
  napi/parser/test/parse-raw.test.ts
Labels: C-test

#11643 refactor(parser): remove rewind in hot path for parsing `?.something` and `?.[`
  crates/oxc_parser/src/js/expression.rs
Labels: A-parser, C-performance, C-cleanup

#11653 perf(parser): add early returns when eating modifiers before decorators
  crates/oxc_parser/src/modifiers.rs
Labels: A-parser, C-performance

#11641 perf(parser,semantic): improve handling of diagnostics
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/typescript_eslint.rs
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
  crates/oxc_linter/src/rules/unicorn/no_accessor_recursion.rs
  crates/oxc_linter/src/snapshots/typescript_explicit_function_return_type.snap
  crates/oxc_linter/src/snapshots/unicorn_no_accessor_recursion.snap
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: A-linter, A-parser, A-semantic, C-performance

#11665 docs(linter): document options for the `typescript/array-type` rule
  crates/oxc_linter/src/rules/typescript/array_type.rs
Labels: A-linter, C-docs

#11651 fix(linter): add missing menuitemradio and menutitemcheckbox roles
  crates/oxc_linter/src/rules/jsx_a11y/role_has_required_aria_props.rs
  crates/oxc_linter/src/snapshots/jsx_a11y_role_has_required_aria_props.snap
Labels: C-bug, A-linter

#11666 fix(parser): parse `TSTypePredicate` correctly
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/misc/pass/oxc-11659.d.ts
  tasks/coverage/snapshots/codegen_misc.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/transformer_misc.snap
Labels: C-bug, A-parser, 0-merge

#11670 docs(allocator): improve `Allocator` code examples
  crates/oxc_allocator/src/allocator.rs
Labels: 0-merge, C-docs

#11645 feat(language_server): add `unusedDisableDirectives` option
  crates/oxc_language_server/README.md
  crates/oxc_language_server/fixtures/linter/unused_disabled_directives/test.js
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/options.rs
  crates/oxc_language_server/src/snapshots/fixtures_linter_unused_disabled_directives@test.js.snap
  crates/oxc_language_server/src/worker.rs
  editors/vscode/README.md
  editors/vscode/client/WorkspaceConfig.ts
  editors/vscode/package.json
  editors/vscode/tests/WorkspaceConfig.spec.ts
Labels: C-enhancement, 0-merge, A-editor

#11678 perf(napi/parser): lazily deserialize `Vec`s
  napi/parser/generated/deserialize/lazy.js
  napi/parser/package.json
  napi/parser/raw-transfer/node-array.js
  napi/parser/test/lazy-deserialization.test.ts
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-performance, 0-merge, A-ast-tools

#11679 fix(napi/parser): lazy deserializer block class constructors correctly
  napi/parser/generated/deserialize/lazy.js
  napi/parser/package.json
  napi/parser/raw-transfer/lazy-common.js
  napi/parser/raw-transfer/node-array.js
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-bug, A-ast-tools

#11686 refactor(linter): shorten Span construction
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/rules/eslint/curly.rs
  crates/oxc_linter/src/rules/eslint/default_case_last.rs
  crates/oxc_linter/src/rules/eslint/max_lines.rs
  crates/oxc_linter/src/rules/eslint/no_await_in_loop.rs
  crates/oxc_linter/src/rules/eslint/no_continue.rs
  crates/oxc_linter/src/rules/eslint/no_invalid_regexp.rs
  crates/oxc_linter/src/rules/eslint/no_label_var.rs
  crates/oxc_linter/src/rules/eslint/no_multi_str.rs
  crates/oxc_linter/src/rules/eslint/no_proto.rs
  crates/oxc_linter/src/rules/eslint/no_script_url.rs
  crates/oxc_linter/src/rules/eslint/no_ternary.rs
  crates/oxc_linter/src/rules/eslint/no_var.rs
  crates/oxc_linter/src/rules/eslint/no_with.rs
  crates/oxc_linter/src/rules/eslint/radix.rs
  crates/oxc_linter/src/rules/import/consistent_type_specifier_style.rs
  crates/oxc_linter/src/rules/import/no_empty_named_blocks.rs
  crates/oxc_linter/src/rules/jest/no_focused_tests.rs
  crates/oxc_linter/src/rules/oxc/no_const_enum.rs
  crates/oxc_linter/src/rules/react/no_unescaped_entities.rs
  crates/oxc_linter/src/rules/typescript/adjacent_overload_signatures.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_definitions.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
  crates/oxc_linter/src/rules/typescript/no_extra_non_null_assertion.rs
  crates/oxc_linter/src/rules/typescript/no_import_type_side_effects.rs
  crates/oxc_linter/src/rules/typescript/no_misused_new.rs
  crates/oxc_linter/src/rules/typescript/no_namespace.rs
  crates/oxc_linter/src/rules/unicorn/no_await_in_promise_methods.rs
  crates/oxc_linter/src/rules/unicorn/no_lonely_if.rs
  crates/oxc_linter/src/rules/unicorn/no_static_only_class.rs
  crates/oxc_linter/src/rules/unicorn/no_unnecessary_await.rs
  crates/oxc_linter/src/rules/unicorn/number_literal_case.rs
  crates/oxc_linter/src/rules/unicorn/require_array_join_separator.rs
  crates/oxc_linter/src/rules/unicorn/switch_case_braces.rs
Labels: A-linter, C-cleanup

#11693 fix(linter): use fixer::noop in dangerous cases for eslint/no-var
  crates/oxc_linter/src/rules/eslint/no_var.rs
Labels: C-bug, A-linter

#11685 refactor(parser): shorten Span construction
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/jsx.rs
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser, C-cleanup

#11687 refactor(semantic): shorten Span construction
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/jsdoc/builder.rs
  crates/oxc_semantic/src/jsdoc/parser/jsdoc_parts.rs
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
Labels: A-semantic, C-cleanup

#11688 refactor(isolated-declarations): shorten Span construction
  crates/oxc_isolated_declarations/src/function.rs
Labels: C-cleanup, A-isolated-declarations

#11689 refactor(regular-expression): shorten Span construction
  crates/oxc_regular_expression/src/parser/reader/string_literal_parser/parser_impl.rs
  napi/parser/src/raw_transfer_types.rs
Labels: C-cleanup

#11696 refactor(parser): move empty ts type parameter checks to parser
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: A-parser, A-semantic, C-cleanup

#11697 perf(napi/parser): lazy deser: avoid changing shape of `NodeArray` prototype
  napi/parser/raw-transfer/node-array.js
Labels: C-performance

#11698 perf(napi/parser): lazy deser: remove `getInternal` function in `NodeArray`
  napi/parser/raw-transfer/node-array.js
Labels: C-performance

#11699 fix(napi/parser): lazy deser: remove outdated comments
  napi/parser/raw-transfer/node-array.js
Labels: C-bug

#11702 test(napi/parser): lazy deser: tests for introspection of `NodeArray`s
  napi/parser/raw-transfer/node-array.js
  napi/parser/test/lazy-deserialization.test.ts
Labels: 0-merge, C-test

#11706 test(linter): update testsuite for `no-undef`
  crates/oxc_linter/src/rules/eslint/no_undef.rs
Labels: A-linter, C-test

#11717 feat(parser): forbid `declare` on class getter and setter
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-parser

#11721 fix(linter/no-undef): false negative with unresolved ref after type ref
  crates/oxc_linter/src/rules/eslint/no_undef.rs
  crates/oxc_linter/src/snapshots/eslint_no_undef.snap
Labels: C-bug, A-linter, 0-merge

#11727 feat(parser): emit diagnostic for modifiers on static block
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-parser

#11684 refactor(ast): don't generate AstKind for ArrayExpressionElement
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format_write.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/eslint/prefer_object_spread.rs
  crates/oxc_linter/src/rules/jest/valid_expect.rs
  crates/oxc_linter/src/rules/unicorn/consistent_empty_array_spread.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_spread/mod.rs
  crates/oxc_semantic/tests/fixtures/oxc/js/assignments/nested-assignment.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: A-linter, A-semantic, C-cleanup, A-ast, A-ast-tools, A-formatter

#11711 feat(ast): add `AstKind` for `WithClause`
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
Labels: C-enhancement, A-ast, 0-merge, A-ast-tools, A-formatter

#11724 feat(ast): Add AstKind to `TSIndexSignature` node
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/class/declaration/index-signature.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional4.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional5.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/signatures/index-sig.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-semantic, C-cleanup, A-ast, A-ast-tools, A-formatter

#11725 feat(ast): Add AstKind to ` TSCallSignatureDeclaration` node
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/signatures/call-generics.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/signatures/call.snap
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-semantic, C-cleanup, A-ast, A-ast-tools, A-formatter

#11726 feat(ast): Add AstKind to `TSTypePredicate` node
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/arrow/type-predicate-asserts2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/arrow/type-predicate1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/arrow/type-predicate2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/function-declaration/type-predicate-asserts2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/function-declaration/type-predicate1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/function-declaration/type-predicate2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/function-expression/type-predicate-asserts2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/function-expression/type-predicate1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/functions/function-expression/type-predicate2.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-semantic, C-cleanup, A-ast, A-ast-tools, A-formatter

#11710 feat(playground): Allow specifying a JSON string as the linter config
  crates/oxc_linter/src/config/oxlintrc.rs
  napi/playground/index.d.ts
  napi/playground/src/lib.rs
  napi/playground/src/options.rs
Labels: C-enhancement, A-linter

#11737 feat(parser): introduce `ParserImpl::token_source` method
  crates/oxc_parser/src/cursor.rs
Labels: C-enhancement, A-parser, 0-merge

#11741 docs(linter): fix typo in import/no-namespace
  crates/oxc_linter/src/rules/import/no_namespace.rs
Labels: A-linter, 0-merge, C-docs

#11744 fix(linter): typo in typescript/consistent-index-object-style
  crates/oxc_linter/src/rules/typescript/consistent_indexed_object_style.rs
  crates/oxc_linter/src/snapshots/typescript_consistent_indexed_object_style.snap
Labels: C-bug, A-linter

#11714 refactor(language_server): Use rule name directly from OxcCode instead of parsing out of the stringified version of OxcCode
  crates/oxc_language_server/src/code_actions.rs
  crates/oxc_language_server/src/linter/error_with_position.rs
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
Labels: C-cleanup, A-editor

#11745 refactor(ast): add `TSArrayType` as `AstKind`
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_linter/src/rules/typescript/array_type.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-annotation/parameter-rest.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/params/array-pattern.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/params/rest-element.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/tuple-labelled-rest.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: A-linter, A-semantic, C-cleanup, A-ast, 0-merge, A-ast-tools, A-formatter

#11750 chore(editor): skip ts lib check
  editors/vscode/tsconfig.json
Labels: C-cleanup, 0-merge, A-editor

#11749 feat(ast): Add AstKind to TSTupleType node
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-annotation/parameter-array-destructure.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-annotation/variable-array-destructure.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/tuple-labelled-rest.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/tuple-labelled.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/tuple-rest.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/tuple.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-semantic, A-ast, A-ast-tools, A-formatter

#11752 feat(ast): Add AstKind to TSRestType node
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/tuple-labelled-rest.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/tuple-rest.snap
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-semantic, A-ast, A-ast-tools, A-formatter

#11759 refactor(allocator): re-order code
  crates/oxc_allocator/src/pool.rs
Labels: C-cleanup, 0-merge

#11763 fix(ast/estree): remove custom serializer for `MethodDefinition` `key` field
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize/js.rs
  napi/parser/generated/deserialize/ts.js
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#11764 feat(ast): Add AstKind to AccessorProperty node
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-ast, A-ast-tools, A-formatter

#11765 feat(ast): Add AstKind to ImportAttribute node
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-ast, A-ast-tools, A-formatter

#11758 feat(ast, semantic): implement `GetAddress` for `AstKind` and `AstNode`
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_semantic/src/node.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-semantic, A-ast, A-ast-tools

#11761 perf(allocator): reduce operations while `Mutex` lock is held in `AllocatorPool`
  crates/oxc_allocator/src/pool.rs
Labels: C-performance

#11753 perf(ast/estree): faster serializing strings to JSON
  crates/oxc_estree/src/serialize/strings.rs
Labels: C-performance, 0-merge

#11756 test(ast/estree): more tests for escaping strings in JSON
  crates/oxc_estree/src/serialize/strings.rs
Labels: C-test

#11755 perf(parser): optimize code around parsing delimited list and object
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/object.rs
Labels: A-parser, C-performance

#11769 feat(napi): add `aarch64-linux-android` target
  .github/workflows/reusable_release_napi.yml
  napi/minify/package.json
  napi/parser/package.json
  napi/transform/package.json
Labels: C-enhancement

#11775 refactor(semantic): rename function params
  crates/oxc_semantic/src/is_global_reference.rs
Labels: A-semantic, C-cleanup, 0-merge

#11778 refactor(ast_tools): remove unused imports
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-cleanup, A-ast-tools

#11743 fix(napi): upgrade mimalloc-safe to 0.1.53
  Cargo.lock
  Cargo.toml
Labels: C-bug

#11695 feat(sema/check): ts setters cannot have initializers
  crates/oxc_linter/src/rules/eslint/no_setter_return.rs
  crates/oxc_linter/src/snapshots/eslint_no_setter_return.snap
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-linter, A-parser

#11694 feat(sema/check): check for reserved type names
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-semantic

#11771 refactor(minifier): make `Ctx` take `&mut TraverseCtx`
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/peephole/convert_to_dotted_properties.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  crates/oxc_minifier/src/peephole/minimize_for_statement.rs
  crates/oxc_minifier/src/peephole/minimize_if_statement.rs
  crates/oxc_minifier/src/peephole/minimize_logical_expression.rs
  crates/oxc_minifier/src/peephole/minimize_not_expression.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/normalize.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, A-transformer

#11790 fix(linter/no-console): false negative when `console.*` methods are used as args to functions
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/snapshots/eslint_no_console.snap
Labels: C-bug, A-linter, 0-merge

#11794 refactor(ast/estree): add `#[estree]` attrs to `RegExpFlagsAlias`
  crates/oxc_ast/src/ast/literal.rs
  napi/parser/generated/deserialize/lazy.js
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-cleanup, A-ast, A-ast-tools

#11808 refactor(napi/parser): rename file
  napi/parser/bench.bench.mjs
  napi/parser/package.json
  napi/parser/raw-transfer/common.js
  napi/parser/raw-transfer/eager.js
  napi/parser/raw-transfer/lazy.js
Labels: C-cleanup

#11813 refactor(napi/parser): re-order code
  napi/parser/index.js
Labels: C-cleanup

#11810 refactor(ecmascript): move `get_constant_value_for_reference_id` to `IsGlobalReference` trait
  crates/oxc_ecmascript/src/array_join.rs
  crates/oxc_ecmascript/src/constant_evaluation/is_int32_or_uint32.rs
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_ecmascript/src/constant_evaluation/value.rs
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_ecmascript/src/is_global_reference.rs
  crates/oxc_ecmascript/src/side_effects/context.rs
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_ecmascript/src/to_big_int.rs
  crates/oxc_ecmascript/src/to_boolean.rs
  crates/oxc_ecmascript/src/to_number.rs
  crates/oxc_ecmascript/src/to_numeric.rs
  crates/oxc_ecmascript/src/to_primitive.rs
  crates/oxc_ecmascript/src/to_string.rs
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/to_boolean.rs
  crates/oxc_minifier/tests/ecmascript/to_number.rs
  crates/oxc_minifier/tests/ecmascript/to_string.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: A-minifier, C-cleanup

#11817 perf(napi/parser): do not lazily create `TextEncoder`
  napi/parser/raw-transfer/common.js
Labels: C-performance

#11799 perf(parser): avoid redundant Kind checks when parsing for loops
  crates/oxc_parser/src/js/statement.rs
Labels: A-parser, C-performance
