Repository oxc-project/oxc, pull requests merged in 2025-04, with the labels that each got.

#10141 fix(linter): span disable directive correctly on next line
  crates/oxc_linter/src/disable_directives.rs
Labels: C-bug, A-linter

#10150 test(transformer/legacy-decorator): enable `class-properties` plugin for class-related tests
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties-unnamed-default-export/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties-unnamed-default-export/options.json
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties-unnamed-default-export/output.js
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties/options.json
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties/output.js
Labels: A-transformer, C-test

#10153 refactor(transformer/legacy-decorator): split the transforming decorated class into two parts and run them in `exit_class` and `exit_statement` respectively
  crates/oxc_transformer/src/decorator/legacy/mod.rs
  crates/oxc_transformer/src/decorator/mod.rs
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/with-class-private-properties/output.js
Labels: C-cleanup, A-transformer

#10154 fix(transformer/legacy-decorator): do not emit decorator metadata if the class is not decorated or it is typescript syntax
  crates/oxc_transformer/src/decorator/legacy/metadata.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/typescript-syntax/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/typescript-syntax/output.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/without-decorator/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/without-decorator/output.js
Labels: C-bug, A-transformer

#9946 fix(transformer): `TransformOptions::enable_all` enable decorator transform
  crates/oxc_transformer/src/options/mod.rs
  tasks/benchmark/benches/transformer.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-transformer

#10161 fix(semantic): reserved words cannot be used as class binding in script code
  crates/oxc_semantic/src/builder.rs
  tasks/coverage/snapshots/parser_test262.snap
Labels: C-bug, A-semantic

#10162 fix(parser): correct the method's `FormalParameterKind` to `UniqueFormalParameters`
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser

#10133 test(editor): add E2E Diagnostics test
  editors/vscode/client/extension.spec.ts
  editors/vscode/client/test-helpers.ts
Labels: 0-merge, A-editor, C-test

#10163 feat(minifier): compress `foo == true` into `foo == 1`
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#10164 feat(minifier): compress `if (foo, !!bar)` to `if (foo, bar)`
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#10172 fix(transformer/typescript): redeclaration of `namespace` with `enum` causes syntax error
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/namespace/redeclaration-with-enum/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/namespace/redeclaration-with-enum/output.js
Labels: C-bug, A-transformer, 0-merge

#10177 perf(minifier): avoid cloning `Cow` and allocating `Atom`
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
Labels: A-minifier, C-performance, 0-merge

#10181 docs(lexer): fix doc comment
  crates/oxc_parser/src/lexer/template.rs
Labels: A-parser, C-docs

#10067 fix(ast/estree): Fix `AccessorProperty` node
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10046 perf(codegen): speed up printing `StringLiteral`s
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/str.rs
Labels: C-performance, A-codegen

#10183 perf(ast/estree): faster checking if bytes are ASCII
  crates/oxc_estree/src/serialize/strings.rs
Labels: C-performance

#10185 fix(minifier): keep side effect in `String::replace` argument
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
Labels: C-bug, A-minifier

#10017 fix(ast/estree): Add `TSEnumBody` to `TSEnumDeclaration.body`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10134 fix(ast/estree): Better align program span start
  crates/oxc_ast/src/serialize.rs
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10195 refactor(ast/estree): alter `Program` start span with converter
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
Labels: C-cleanup, A-ast, 0-merge

#10192 fix(ast/estree): Add ts-estree fields to `FormalParametersRest` custom serializer
  crates/oxc_ast/src/serialize.rs
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10197 refactor(ast/estree): simplify static converters
  crates/oxc_ast/src/serialize.rs
Labels: C-cleanup, A-ast, 0-merge

#10193 fix(ast/estree): Fix `BindingProperty`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10198 style(all): remove unnecessary semi-colons
  apps/oxlint/src/lint.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_cfg/src/dot.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/sourcemap_builder.rs
  crates/oxc_diagnostics/src/reporter.rs
  crates/oxc_formatter/src/formatter/buffer.rs
  crates/oxc_formatter/src/formatter/printer/mod.rs
  crates/oxc_formatter/src/formatter/trivia.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/signatures.rs
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_for_statement.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/typescript.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/tests/integration/util/class_tester.rs
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/decorator/legacy/metadata.rs
  crates/oxc_transformer/src/decorator/legacy/mod.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  crates/oxc_transformer/src/es2020/optional_chaining.rs
  crates/oxc_transformer/src/es2022/class_properties/instance_prop_init.rs
  crates/oxc_transformer/src/es2022/class_properties/private_field.rs
  crates/oxc_transformer/src/es2022/class_properties/super_converter.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/options/babel/env/targets.rs
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/coverage/src/main.rs
  tasks/prettier_conformance/src/spec.rs
Labels: A-parser, A-semantic, A-cli, A-minifier, C-cleanup, A-ast, A-transformer, A-codegen, A-cfg, A-isolated-declarations, A-editor, A-formatter

#10199 refactor(minifier): prefer `is_empty()` over `len() == 0`
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
Labels: A-minifier, C-cleanup

#10200 fix(ast/estree): Fix `TSImportType`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10145 feat(ast_tools): support `#[estree(skip)]` for enum varient
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#10146 fix(span/estree): skip `ModuleKind::Unambiguous` varient for `estree`
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_span/src/source_type/mod.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
Labels: C-bug

#10138 test(editor): add e2e tests for creating oxlint configurations on the fly
  editors/vscode/.vscode-test.mjs
  editors/vscode/client/extension.spec.ts
  editors/vscode/client/test-helpers.ts
Labels: 0-merge, A-editor, C-test

#9961 fix(transfomer/using): remove use of child ids
  crates/oxc_semantic/src/scoping.rs
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, A-semantic, A-transformer

#10211 fix(transformer/using): transform using declarations in try block
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/try-catch/input.js
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/try-catch/options.json
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/try-catch/output.js
Labels: C-bug, A-transformer

#10203 feat(editor): add named fixes for code actions
  apps/oxlint/src/snapshots/_-D correctness fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__linter__eslintrc.json fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__directories-config.json fixtures__overrides@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__astro__debugger.astro@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__svelte__debugger.svelte@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__debugger.vue@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__auto_config_detection_debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--disable-nested-config@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_overrides_same_directory@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__linter_debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_-A no-console@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__output_formatter_diagnostic_--format=default test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__output_formatter_diagnostic_--format=json test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__report_unused_directives_-c .oxlintrc.json --report-unused-disable-directives test.js@oxlint.snap
  crates/oxc_language_server/src/linter/error_with_position.rs
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
  crates/oxc_language_server/src/linter/snapshots/fixtures_linter_astro_debugger.astro.snap
  crates/oxc_language_server/src/linter/snapshots/fixtures_linter_svelte_debugger.svelte.snap
  crates/oxc_language_server/src/linter/snapshots/fixtures_linter_vue_debugger.vue.snap
  crates/oxc_language_server/src/main.rs
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/rules/eslint/no_debugger.rs
  crates/oxc_linter/src/snapshots/eslint_no_debugger.snap
  editors/vscode/client/extension.spec.ts
Labels: C-enhancement, A-linter, A-cli, C-cleanup, A-editor

#10213 refactor(codegen): Do not print useless comma for TSEnumMember
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/snapshots/jsodc.snap
  crates/oxc_codegen/tests/integration/snapshots/minify.snap
  crates/oxc_codegen/tests/integration/snapshots/ts.snap
  crates/oxc_isolated_declarations/tests/snapshots/export-declare-declarations.snap
Labels: C-cleanup, A-codegen, A-isolated-declarations

#10169 feat(allocator): add `TakeIn::take_in_box` method
  crates/oxc_allocator/src/take_in.rs
Labels: C-enhancement

#10170 refactor(transformer, minifier): replace `AstBuilder::move_xxxx` methods with `TakeIn` trait
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_minifier/src/peephole/convert_to_dotted_properties.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  crates/oxc_minifier/src/peephole/minimize_for_statement.rs
  crates/oxc_minifier/src/peephole/minimize_if_statement.rs
  crates/oxc_minifier/src/peephole/minimize_logical_expression.rs
  crates/oxc_minifier/src/peephole/minimize_not_expression.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/src/peephole/normalize.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/decorator/legacy/metadata.rs
  crates/oxc_transformer/src/decorator/legacy/mod.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2020/optional_chaining.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/computed_key.rs
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
  crates/oxc_transformer/src/es2022/class_properties/private_field.rs
  crates/oxc_transformer/src/es2022/class_properties/private_method.rs
  crates/oxc_transformer/src/es2022/class_properties/static_block_and_prop_init.rs
  crates/oxc_transformer/src/es2022/class_properties/super_converter.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_transformer/src/typescript/namespace.rs
Labels: A-parser, A-minifier, C-cleanup, A-transformer, A-isolated-declarations

#10171 feat(ast)!: remove all `AstBuilder::move_xxxx` methods
  crates/oxc_ast/src/ast_builder_impl.rs
Labels: C-enhancement, A-ast

#10218 docs(rules/react): adding missing code block ending
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
Labels: A-linter, C-docs

#10216 chore(transformer): expose es20xx options
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/lib.rs
Labels: C-cleanup, A-transformer

#10212 feat(ast_tools): derive `Hash` for `AstType`
  crates/oxc_ast/src/generated/ast_kind.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-ast, A-ast-tools

#10219 refactor(ast_tools): use `write_it!` macro
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#10220 refactor(ast_tools): shorten `write_it!` macro invocations
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#10221 perf(ast_tools): reduce `String` allocations
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-performance, 0-merge, A-ast-tools

#10227 refactor(ast_tools): shorten code
  tasks/ast_tools/src/output/yaml.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#10229 perf(website): combine multiple `writeln!` calls
  tasks/website/src/linter/rules/doc_page.rs
Labels: C-performance, 0-merge

#10230 perf(formatter): remove `write!` macro where unnecessary
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/formatter/diagnostics.rs
  crates/oxc_formatter/src/formatter/format_element/mod.rs
  crates/oxc_formatter/src/formatter/token_text.rs
  crates/oxc_formatter/src/options.rs
Labels: C-performance, 0-merge, A-formatter

#10232 perf(linter): remove `write!` macro where unnecessary
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/globals.rs
  crates/oxc_linter/src/config/plugins.rs
  crates/oxc_linter/src/loader/mod.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
Labels: A-linter, C-performance

#10233 perf(regular_expression): remove `write!` macro where unnecessary
  crates/oxc_regular_expression/src/ast_impl/display.rs
Labels: C-performance, 0-merge

#10236 perf(cfg, diagnostics, lexer, syntax, tasks): remove `write!` macro where unnecessary
  crates/oxc_cfg/src/dot.rs
  crates/oxc_diagnostics/src/lib.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_syntax/src/es_target.rs
  tasks/rulegen/src/main.rs
  tasks/website/src/linter/rules/html.rs
Labels: A-parser, C-performance, A-cfg

#10238 feat(ast_tools): add `IF_JS_REGEX` comments for `raw_deser` impls
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#10234 perf(ast): remove `write!` macro where unnecessary
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_impl/literal.rs
Labels: C-performance, A-ast, 0-merge

#10235 fix(ast): fix `Display` impl for `RegExpFlags`
  crates/oxc_ast/src/ast_impl/literal.rs
Labels: C-bug, A-ast

#10241 test(ast/estree): add tests for JSX via raw transfer
  napi/parser/test/parse-raw.test.ts
Labels: C-test

#10245 refactor(traverse): remove repeated code
  crates/oxc_traverse/src/context/scoping.rs
Labels: C-cleanup, 0-merge

#10246 perf(ast_tools): speed up `GetIdGenerator`
  tasks/ast_tools/src/generators/get_id.rs
Labels: C-performance, 0-merge, A-ast-tools

#10248 refactor(ast_tools): generate `ChildScopesCollector` in `oxc_ast_tools`
  .github/generated/ast_changes_watch_list.yml
  crates/oxc_traverse/scripts/build.mjs
  crates/oxc_traverse/scripts/lib/scopes_collector.mjs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/scopes_collector.rs
  tasks/ast_tools/src/main.rs
Labels: C-cleanup, A-ast-tools

#10225 fix(linter): run `react/no-children-props` only when react framework is found
  crates/oxc_linter/src/rules/react/no_children_prop.rs
  crates/oxc_linter/src/tester.rs
Labels: C-bug, A-linter, 0-merge

#10224 fix(linter): rule `no-restricted-imports` allow combination of `paths` and `patterns`
  crates/oxc_linter/src/rules/eslint/no_restricted_imports.rs
  crates/oxc_linter/src/snapshots/eslint_no_restricted_imports.snap
Labels: C-bug, A-linter

#10247 perf(linter): avoid cloning filters by refactoring functions to take references
  apps/oxlint/src/lint.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_linter/src/config/config_builder.rs
Labels: A-linter, A-cli, C-performance, A-editor

#10226 feat(language_server): add `fix_kind` flag
  crates/oxc_language_server/README.md
  crates/oxc_language_server/src/main.rs
  editors/vscode/client/extension.spec.ts
Labels: C-enhancement, 0-merge, A-editor

#10243 docs(editor): add readme block for possible configurations
  editors/vscode/README.md
  editors/vscode/package.json
Labels: C-docs, A-editor

#10250 refactor(ast_tools): split `AstKind` black list into 2 lists for structs and enums
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#10251 fix(linter): fix `rule_id` for some diagnostics formats
  apps/oxlint/src/output_formatter/checkstyle.rs
  apps/oxlint/src/snapshots/fixtures__output_formatter_diagnostic_--format=checkstyle test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__output_formatter_diagnostic_--format=github test.js@oxlint.snap
  crates/oxc_diagnostics/src/reporter.rs
Labels: C-bug, A-cli

#10258 docs(linter): rule `eslint/eqeqeq` add "null" & "smart" options
  crates/oxc_linter/src/rules/eslint/eqeqeq.rs
Labels: A-linter, C-docs

#10263 style(ast): reformat `AstBuilder` doc comments
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: C-cleanup, A-ast, A-ast-tools

#10264 chore(all): enable needless continue clippy rule
  Cargo.toml
  crates/oxc_linter/src/disable_directives.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/rules/eslint/func_style.rs
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
  crates/oxc_linter/src/rules/eslint/no_setter_return.rs
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/allowed.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/ignored.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/usage.rs
  crates/oxc_linter/src/rules/eslint/sort_keys.rs
  crates/oxc_linter/src/rules/jest/no_test_return_statement.rs
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
  crates/oxc_linter/src/rules/jsdoc/require_returns.rs
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/rules/promise/no_return_in_finally.rs
  crates/oxc_linter/src/rules/promise/no_return_wrap.rs
  crates/oxc_linter/src/rules/promise/param_names.rs
  crates/oxc_linter/src/rules/unicorn/escape_case.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_fetch_options.rs
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
  crates/oxc_linter/src/rules/unicorn/prefer_negative_index.rs
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/jsx/comments.rs
Labels: A-linter, C-cleanup, A-transformer

#10265 test(tools): `just test` run tests with `--all-features`
  justfile
Labels: C-test

#10262 chore(tasks/e2e): separate e2e package from workspace
  .github/workflows/ci.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tasks/e2e/package.json
  tasks/e2e/pnpm-lock.yaml
  tasks/e2e/pnpm-workspace.yaml
Labels: C-cleanup, 0-merge

#10266 feat(ast_tools): record `TypeId` of containers on types
  tasks/ast_tools/src/parse/parse.rs
  tasks/ast_tools/src/schema/defs/box.rs
  tasks/ast_tools/src/schema/defs/cell.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/defs/mod.rs
  tasks/ast_tools/src/schema/defs/option.rs
  tasks/ast_tools/src/schema/defs/primitive.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/defs/vec.rs
Labels: C-enhancement, A-ast-tools

#10267 refactor(ast)!: remove unnecessary `AstBuilder::alloc_*` methods
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: C-cleanup, A-ast, A-ast-tools

#10269 fix(rulegen): use `get_inner_expression` for getting rules
  tasks/rulegen/src/main.rs
Labels: C-bug

#10270 chore(oxlint): improve feature and build command
  .cargo/config.toml
  .github/workflows/release_oxlint.yml
  crates/oxc_linter/Cargo.toml
Labels: A-linter, C-cleanup

#10271 perf(linter): replace `phf_set` with `array` in `eslint/no-import-assign`
  crates/oxc_linter/src/rules/eslint/no_import_assign.rs
Labels: A-linter, C-performance

#10274 perf(linter): replace `phf_set` with `array` in `globals`
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules/eslint/prefer_exponentiation_operator.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_unsupported_elements.rs
  crates/oxc_linter/src/rules/unicorn/new_for_builtins.rs
  crates/oxc_linter/src/rules/unicorn/no_document_cookie.rs
  crates/oxc_linter/src/rules/unicorn/prefer_number_properties.rs
Labels: A-linter, C-performance, 0-merge

#10277 perf(ast_tools): reduce repeated work in generator for `Visit`
  tasks/ast_tools/src/generators/visit.rs
Labels: C-performance, 0-merge, A-ast-tools

#10278 style(ast): reformat AST types
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: C-cleanup, A-ast

#10279 feat(linter): add messages for complex fixes
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/rules/eslint/prefer_object_spread.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_has_content.rs
  crates/oxc_linter/src/rules/oxc/only_used_in_recursion.rs
  crates/oxc_linter/src/rules/react/jsx_props_no_spread_multi.rs
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
  crates/oxc_linter/src/rules/typescript/no_import_type_side_effects.rs
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
  crates/oxc_linter/src/rules/unicorn/catch_error_name.rs
  crates/oxc_linter/src/rules/unicorn/consistent_existence_index_check.rs
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
  crates/oxc_linter/src/rules/unicorn/prefer_negative_index.rs
  crates/oxc_linter/src/rules/unicorn/prefer_regexp_test.rs
  crates/oxc_linter/src/rules/unicorn/prefer_set_has.rs
  crates/oxc_linter/src/rules/unicorn/prefer_set_size.rs
  crates/oxc_linter/src/snapshots/typescript_consistent_type_imports.snap
  crates/oxc_linter/src/snapshots/unicorn_catch_error_name.snap
  crates/oxc_linter/src/snapshots/unicorn_consistent_existence_index_check.snap
  crates/oxc_linter/src/snapshots/unicorn_prefer_negative_index.snap
  crates/oxc_linter/src/snapshots/unicorn_prefer_set_size.snap
Labels: C-enhancement, A-linter, 0-merge

#10281 perf(linter): replace `phf_set` with `array` in `react/iframe-missing-sandbox`
  crates/oxc_linter/src/rules/react/iframe_missing_sandbox.rs
Labels: A-linter, C-performance, 0-merge

#10280 test(linter): ensure complex fixes have messages
  crates/oxc_linter/src/context/mod.rs
  crates/oxc_linter/src/fixer/fix.rs
Labels: A-linter, 0-merge, C-test

#10188 feat(tasks/e2e): add bundled frameworks
  tasks/e2e/package.json
  tasks/e2e/pnpm-lock.yaml
  tasks/e2e/test/e2e-dom.test.ts
  tasks/e2e/test/e2e.test.ts
  tasks/e2e/test/utils.ts
Labels: C-enhancement

#10189 feat(tasks/e2e): add utility libraries
  tasks/e2e/package.json
  tasks/e2e/pnpm-lock.yaml
  tasks/e2e/test/e2e-dom.test.ts
  tasks/e2e/test/e2e.test.ts
  tasks/e2e/test/utils.ts
Labels: C-enhancement

#10242 perf(codegen): optimize `Codegen::print_list` method
  crates/oxc_codegen/src/lib.rs
Labels: C-performance, A-codegen

#10282 fix(linter): `jsdoc/require-param`: skip rule if any doc has `@type` tag
  crates/oxc_linter/src/rules/jsdoc/require_param.rs
Labels: C-bug, A-linter

#10244 feat(minifier): compress assignment to prefix increment
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier

#10167 perf(transformer): do not update options from comments when `only_remove_type_imports` is enabled
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/retain-jsx-pragm/input.tsx
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/retain-jsx-pragm/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/with-only-remove-import-types/input.tsx
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/with-only-remove-import-types/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/with-only-remove-import-types/output.js
Labels: C-performance, A-transformer

#10286 feat(transformer): enable `using` by default
  crates/oxc_transformer/src/options/mod.rs
  napi/transform/src/transformer.rs
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/src/test_case.rs
Labels: C-enhancement, A-transformer

#10288 fix(ast_tools): output line break after parsing error
  tasks/ast_tools/src/output/javascript.rs
  tasks/ast_tools/src/output/rust.rs
Labels: C-bug, A-ast-tools

#10295 fix(ast/estree): add TS fields to `LabelIdentifier`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10293 perf(linter): replace `phf_set` with `array` in `eslint/valid-typeof`
  crates/oxc_linter/src/rules/eslint/valid_typeof.rs
Labels: A-linter, C-performance

#10294 perf(linter): replace `phf_set` with `array` in `react/no-array-index-key`
  crates/oxc_linter/src/rules/react/no_array_index_key.rs
Labels: A-linter, C-performance, 0-merge

#10296 perf(linter): replace `phf_set` with `array` in `eslint/array-callback-return`
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
Labels: A-linter, C-performance

#10297 perf(linter): replace `phf_set` with `array` in `jest/no-restricted-matchers`
  crates/oxc_linter/src/rules/jest/no_restricted_matchers.rs
Labels: A-linter, C-performance

#10301 perf(minifier): reduce allocations
  crates/oxc_minifier/src/peephole/minimize_statements.rs
Labels: A-minifier, C-performance, 0-merge

#10305 perf(linter): replace `phf_set` with `array` in `jsdoc/require-returns`
  crates/oxc_linter/src/rules/jsdoc/require_returns.rs
Labels: A-linter, C-performance

#10304 perf(linter): replace `phf_set` with `array` in `jsdoc/empty-tags`
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
Labels: A-linter, C-performance

#10303 perf(linter): replace `phf_set` with `array` in `jsdoc/check-access`
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
Labels: A-linter, C-performance

#10302 perf(linter): replace `phf_set` with `array` in `jest/prefer-jest-mocked`
  crates/oxc_linter/src/rules/jest/prefer_jest_mocked.rs
Labels: A-linter, C-performance

#10308 test(ast/estree): bump `acorn-test262` submodule
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/snapshots/estree_acorn_jsx.snap
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-test

#10256 perf(language_server): only restart internal linter once when multiple config changes detected
  crates/oxc_language_server/src/main.rs
Labels: C-performance, 0-merge, A-editor

#10157 fix(linter): nested configuration directory resolution
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__nested_config_package3-deep-config@oxlint.snap
Labels: C-bug, A-cli

#10259 refactor(linter): update comments, improve tests, add variant All to LintFilterKind
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/options/filter.rs
Labels: A-linter, C-cleanup

#10311 fix(minifier): panic when compressing `a ? b() : b()`
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
Labels: C-bug, A-minifier

#10315 fix(ast/estree): fix span for `TemplateElement` in TS AST
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10316 refactor(ast/estree): simplify serialization for `JSXOpeningFragment`
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/serialize.rs
  npm/oxc-types/types.d.ts
Labels: C-cleanup, A-ast, 0-merge

#10323 fix(transformer/react): correct comment
  crates/oxc_transformer/src/jsx/jsx_impl.rs
Labels: C-bug, A-transformer, 0-merge

#10257 refactor(language_server): make server more error resistance by falling back to default config
  crates/oxc_language_server/src/main.rs
Labels: C-cleanup, 0-merge, A-editor

#10328 fix(ast): Handle `TSThisType` in `TSTypePredicate`
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-parser

#10327 fix(estree): Rename `TSInstantiationExpression`.`type_parameters` to `type_arguments`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-parser, A-ast, A-codegen

#10289 refactor(ast_tools): change methods to free functions in `Visit` generator
  tasks/ast_tools/src/generators/visit.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#10290 refactor(ast_tools): make visit call generator functions generic
  tasks/ast_tools/src/generators/visit.rs
Labels: C-cleanup, A-ast-tools

#10291 refactor(ast_tools): move limit for inlining to a const in `Visit` generator
  tasks/ast_tools/src/generators/visit.rs
Labels: C-cleanup, A-ast-tools

#10284 feat(ast)!: Re-introduce `TSEnumBody` AST node
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/generated/derive_take_in.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_ast_visit/src/generated/utf8_to_utf16_converter.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_linter/src/rules/typescript/no_duplicate_enum_values.rs
  crates/oxc_linter/src/rules/typescript/prefer_enum_initializers.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_fetch_options.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_semantic/src/checker/typescript.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-enum/external-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-enum/literal-member-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-enum/member-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-enum/self-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/signatures/method-computed-name2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/signatures/property-computed-name2.snap
  crates/oxc_semantic/tests/integration/scopes.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/traverse.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
Labels: C-enhancement, A-linter, A-parser, A-semantic, A-cli, A-minifier, A-ast, A-transformer, A-codegen, A-cfg, A-isolated-declarations, A-ast-tools, A-editor, A-formatter

#10174 fix(linter): Make extended configs properly inherit plugins
  crates/oxc_linter/fixtures/extends_config/plugins/child_no_plugins.json
  crates/oxc_linter/fixtures/extends_config/plugins/child_with_plugins.json
  crates/oxc_linter/fixtures/extends_config/plugins/parent.json
  crates/oxc_linter/src/config/config_builder.rs
Labels: C-bug, A-linter

#10092 feat(ast)!: Add `computed` property to `TSEnumMember` and `TSEnumMemberName::TemplateString`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_address.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-enhancement, A-parser, A-ast, A-transformer, A-codegen, A-isolated-declarations

#10333 feat(transformer): enable `using` by default
  crates/oxc_transformer/src/options/mod.rs
  crates/oxc_transformer/src/proposals/options.rs
  napi/transform/src/transformer.rs
Labels: C-enhancement, A-transformer

#10325 refactor(linter): add `AriaProperty` enum
  crates/oxc_linter/src/globals.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_props.rs
  crates/oxc_linter/src/rules/jsx_a11y/role_supports_aria_props.rs
Labels: A-linter, C-cleanup, 0-merge

#10326 refactor(linter): remove duplicate ARIA property lists
  crates/oxc_linter/src/rules/jsx_a11y/aria_unsupported_elements.rs
  crates/oxc_linter/src/rules/react/no_unknown_property.rs
Labels: A-linter, C-cleanup

#10335 perf(linter): replace `phf_set` with `array` in `utils::promise`
  crates/oxc_linter/src/rules/promise/no_new_statics.rs
  crates/oxc_linter/src/rules/promise/spec_only.rs
  crates/oxc_linter/src/utils/promise.rs
Labels: A-linter, C-performance

#10336 perf(linter): replace `phf_set` with `array` in `nextjs/no-typos`
  crates/oxc_linter/src/rules/nextjs/no_typos.rs
Labels: A-linter, C-performance, 0-merge

#10338 feat(codegen): preserve code coverage ignore comments (e.g. `v8 ignore`)
  crates/oxc_ast/src/ast/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/comments.rs
  crates/oxc_codegen/tests/integration/jsdoc.rs
  crates/oxc_codegen/tests/integration/legal_comments.rs
  crates/oxc_codegen/tests/integration/main.rs
  crates/oxc_codegen/tests/integration/snapshots/coverage.snap
  crates/oxc_parser/src/lexer/trivia_builder.rs
Labels: C-enhancement, A-parser, A-ast, A-codegen

#10341 perf(codegen): reduce checks printing strings
  crates/oxc_codegen/src/str.rs
Labels: C-performance, A-codegen, 0-merge

#10353 docs(allocator): fix quotes in comment
  crates/oxc_allocator/src/string.rs
Labels: 0-merge, C-docs

#10330 feat(linter): add import/group-exports rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/group_exports.rs
  crates/oxc_linter/src/snapshots/import_group_exports.snap
Labels: C-enhancement, A-linter

#10357 perf(linter): use `binary_search` for arrays with more than `7` elements
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_linter/src/rules/eslint/valid_typeof.rs
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_unsupported_elements.rs
  crates/oxc_linter/src/rules/jsx_a11y/no_noninteractive_tabindex.rs
  crates/oxc_linter/src/rules/promise/no_new_statics.rs
  crates/oxc_linter/src/rules/promise/spec_only.rs
  crates/oxc_linter/src/rules/react/iframe_missing_sandbox.rs
  crates/oxc_linter/src/rules/react/no_array_index_key.rs
  crates/oxc_linter/src/utils/promise.rs
Labels: A-linter, C-performance, 0-merge

#10364 test(language_server): add test for `import` plugin integration
  crates/oxc_language_server/fixtures/linter/cross_module/.oxlintrc.json
  crates/oxc_language_server/fixtures/linter/cross_module/debugger.ts
  crates/oxc_language_server/fixtures/linter/cross_module/dep-a.ts
  crates/oxc_language_server/fixtures/linter/cross_module/dep-b.ts
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/linter/snapshots/fixtures_linter_cross_module_debugger.ts.snap
  crates/oxc_language_server/src/linter/snapshots/fixtures_linter_cross_module_dep-a.ts.snap
Labels: A-editor, C-test

#10343 fix(semantic): do not declare a `Symbol` for an `ModuleDeclaration` where the `id` is not a `BindingIdentifier`
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/import.snap
  crates/oxc_semantic/tests/integration/symbols.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-bug, A-semantic, A-transformer, 0-merge

#10350 fix(semantic): incorrect `SymbolFlags` of `TSModuleDeclaration`
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/declaration-merging/class-namespace.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/declaration-merging/function-namespace.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/external-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/name-shadowed-in-body.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/namespace.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/scope.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/self-ref.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/interface-heritage2.snap
  crates/oxc_semantic/tests/integration/symbols.rs
  crates/oxc_syntax/src/symbol.rs
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, A-semantic, A-ast, A-transformer

#10355 feat(semantic): add `SymbolFlags::Ambient` for declaration with `declare` modifier
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/decorators/class-deco-with-object-param.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/this-jsxidentifier.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/literal-type3.snap
  crates/oxc_syntax/src/symbol.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-enhancement, A-semantic, A-transformer

#10349 refactor(transformer/typescript): simplify `TypeScriptAnnotations::has_value_reference` method
  crates/oxc_transformer/src/typescript/annotations.rs
Labels: A-semantic, C-cleanup, A-ast, A-transformer

#10356 feat(transformer): eliminate `ExportSpecifier` where refers to a `declare` declaration
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-enhancement, A-transformer

#10346 refactor(ast): Add `TSEnumMemberName` variant to replace `computed` field
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_address.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_traverse/scripts/lib/walk.mjs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  tasks/ast_tools/src/generators/visit.rs
Labels: A-parser, C-cleanup, A-ast, A-codegen, A-isolated-declarations, A-ast-tools

#10358 fix(estree): Rename `JSDocXxxType` to `TSJSDocXxxType`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast

#10369 perf(linter): replace `phf_set` with `array` in `utils::jest`
  crates/oxc_linter/src/utils/jest.rs
Labels: A-linter, C-performance, 0-merge

#10354 feat(formatter): leading and trailing comments
  crates/oxc_formatter/src/formatter/builders.rs
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/formatter/context.rs
  crates/oxc_formatter/src/formatter/formatter.rs
  crates/oxc_formatter/src/formatter/trivia.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/ast_tools/src/generators/formatter.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-parser, A-ast-tools, A-formatter

#10363 fix(parser): Handle `JSDocUnknownType` correctly
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser, A-ast

#10365 test(transformer/typescript): override namespace/empty-removed test
  tasks/transform_conformance/overrides/babel-plugin-transform-typescript/test/fixtures/namespace/empty-removed/output.mjs
Labels: A-transformer, 0-merge, C-test

#10372 test(oxlint): add test for nested and extended configuration with import plugin
  apps/oxlint/fixtures/cross_module_extended_config/.oxlintrc.json
  apps/oxlint/fixtures/cross_module_extended_config/config/.oxlintrc.json
  apps/oxlint/fixtures/cross_module_extended_config/dep-a.ts
  apps/oxlint/fixtures/cross_module_extended_config/dep-b.ts
  apps/oxlint/fixtures/cross_module_nested_config/dep-a.ts
  apps/oxlint/fixtures/cross_module_nested_config/dep-b.ts
  apps/oxlint/fixtures/cross_module_nested_config/folder/.oxlintrc.json
  apps/oxlint/fixtures/cross_module_nested_config/folder/folder-dep-a.ts
  apps/oxlint/fixtures/cross_module_nested_config/folder/folder-dep-b.ts
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__cross_module_extended_config_@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__cross_module_nested_config_@oxlint.snap
Labels: A-cli, 0-merge, C-test

#10375 perf(linter): replace `phf_set` with `array` in `react/jsx-key`
  crates/oxc_linter/src/rules/react/jsx_key.rs
Labels: A-linter, C-performance

#10376 perf(linter): replace `phf_set` with `array` in `unicorn/prefer-spread`
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
Labels: A-linter, C-performance

#10377 perf(linter): replace `phf_set` with `array` in `unicorn/no-array-for-each`
  crates/oxc_linter/src/rules/unicorn/no_array_for_each.rs
Labels: A-linter, C-performance

#10374 feat(formatter): object-like + separated items
  crates/oxc_formatter/src/formatter/builders.rs
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/formatter/mod.rs
  crates/oxc_formatter/src/formatter/separated.rs
  crates/oxc_formatter/src/lib.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/object_like.rs
  napi/playground/src/lib.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-formatter

#10379 refactor(formatter): remove source map
  crates/oxc_formatter/src/formatter/mod.rs
  crates/oxc_formatter/src/formatter/printer/mod.rs
Labels: C-cleanup, A-formatter

#10380 feat(formatter): fill in more implementations
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/formatter/formatter.rs
  crates/oxc_formatter/src/write/block_statement.rs
  crates/oxc_formatter/src/write/if_statement.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/variable_declaration.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-formatter

#10384 perf(linter): replace `phf_set` with `array` in `unicorn/prefer-native-coercion-functions`
  crates/oxc_linter/src/rules/unicorn/prefer_native_coercion_functions.rs
Labels: A-linter, C-performance

#10383 refactor(linter): extract common logic from `jsdoc/require-yields` and `jsdoc/require-returns`
  crates/oxc_linter/src/rules/jsdoc/require_returns.rs
  crates/oxc_linter/src/rules/jsdoc/require_yields.rs
  crates/oxc_linter/src/utils/jsdoc.rs
Labels: A-linter, C-cleanup

#10347 fix(transformer/module_runner): hoist export
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
  napi/transform/test/moduleRunnerTransform.test.ts
Labels: C-bug, A-transformer, 0-merge

#10366 refactor(transformer/typescript): do not need to go through `TSModuleDeclaration` if is a `NamespaceModule`
  crates/oxc_syntax/src/symbol.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/overrides/babel-plugin-transform-typescript/test/fixtures/namespace/empty-removed/output.mjs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-cleanup, A-transformer, 0-merge

#10359 refactor(transformer/typescript): remove unnecessary specific handling of `TSModuleDeclaration` transformation
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-cleanup, A-transformer

#10381 test(editor): refactor tests to use fixtures
  editors/vscode/.oxlintrc.json
  editors/vscode/client/extension.spec.ts
  editors/vscode/client/test-helpers.ts
  editors/vscode/fixtures/debugger/debugger.js
  editors/vscode/fixtures/debugger_empty_config/.oxlintrc.json
  editors/vscode/fixtures/debugger_empty_config/debugger.js
Labels: 0-merge, A-editor, C-test

#10385 fix(language_server): diable nested configuration when config path is provided
  crates/oxc_language_server/src/main.rs
Labels: C-bug, A-editor

#10389 fix(parser): `ExportNamedDeclaration.exportKind` should be `type` for `declare` declaration
  crates/oxc_codegen/src/gen.rs
  crates/oxc_parser/src/js/module.rs
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-parser, A-codegen
