Repository oxc-project/oxc, pull requests merged in 2025-01, with the labels that each got.

#8204 test(linter): fix some oxlint tests on windows
  apps/oxlint/src/lint.rs
Labels: C-bug, A-cli, C-test

#8205 feat(minifier): reverse negated conditional exprs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  crates/oxc_minifier/tests/ast_passes/mod.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8206 feat(minifier): handle conditional expr with boolean lit
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8207 feat(minifier): imprve conditional expr minification with boolean lit
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8208 feat(minifier): imprve more conditional expr minification with boolean lit
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8211 fix(minifier): remove incorrect fold `Expression::AssignmentExpression`
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  tasks/minsize/minsize.snap
Labels: C-bug

#8213 chore(tasks/coverage): do not run minifier in `script` mode
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/test262/mod.rs
  tasks/coverage/src/tools/codegen.rs
  tasks/coverage/src/tools/minifier.rs
  tasks/coverage/src/tools/prettier.rs
  tasks/coverage/src/tools/semantic.rs
  tasks/coverage/src/tools/transformer.rs
Labels: C-cleanup

#8209 feat(minifier): minimize logical exprs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8215 feat(linter): catch more cases in const-comparisons
  crates/oxc_linter/src/rules/oxc/const_comparisons.rs
  crates/oxc_linter/src/snapshots/oxc_const_comparisons.snap
Labels: C-enhancement, A-linter

#8214 fix(linter): fix `ignorePattern` config for windows
  apps/oxlint/src/lint.rs
  apps/oxlint/src/walk.rs
  crates/oxc_linter/src/config/oxlintrc.rs
  justfile
Labels: C-bug, A-linter, A-cli

#8210 feat(minifier): add `RemoveUnusedCode`
  Cargo.lock
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/remove_unused_code.rs
  crates/oxc_minifier/src/compressor.rs
  tasks/coverage/snapshots/minifier_test262.snap
  tasks/coverage/src/runtime/mod.rs
  tasks/coverage/src/test262/mod.rs
  tasks/coverage/src/tools/minifier.rs
  tasks/minsize/minsize.snap
  tasks/minsize/src/lib.rs
Labels: C-enhancement, A-minifier, 0-merge

#8212 feat(minifier): add `ConvertToDottedProperties`
  crates/oxc_minifier/src/ast_passes/convert_to_dotted_properties.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, 0-merge

#8221 feat(minifier): optional catch binding when catch param is unused
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_minifier/src/ast_passes/remove_unused_code.rs
  crates/oxc_minifier/src/compressor.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8222 feat(parser): missing initializer in destructuring declaration inside for loop head
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/mod.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/ts/statement.rs
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-parser

#8224 fix(tasks/lint_rules): sync unicorn rules with eslint rules
  tasks/lint_rules/src/main.cjs
  tasks/lint_rules/src/oxlint-rules.cjs
Labels: C-bug

#8223 refactor(linter): remove remapping for plugin name in diagnostics
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/snapshots/jest_consistent_test_it.snap
  crates/oxc_linter/src/snapshots/jest_expect_expect.snap
  crates/oxc_linter/src/snapshots/jest_no_alias_methods.snap
  crates/oxc_linter/src/snapshots/jest_no_commented_out_tests.snap
  crates/oxc_linter/src/snapshots/jest_no_conditional_expect.snap
  crates/oxc_linter/src/snapshots/jest_no_conditional_in_test.snap
  crates/oxc_linter/src/snapshots/jest_no_disabled_tests.snap
  crates/oxc_linter/src/snapshots/jest_no_identical_title.snap
  crates/oxc_linter/src/snapshots/jest_no_restricted_jest_methods.snap
  crates/oxc_linter/src/snapshots/jest_no_test_prefixes.snap
  crates/oxc_linter/src/snapshots/jest_prefer_hooks_in_order.snap
  crates/oxc_linter/src/snapshots/jest_valid_describe_callback.snap
  crates/oxc_linter/src/snapshots/jest_valid_expect.snap
Labels: A-linter, C-cleanup

#8226 feat(minifier): fold `if(x)return;y` -> `if(!x)y`
  crates/oxc_minifier/src/ast_passes/minimize_exit_points.rs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  crates/oxc_minifier/tests/ast_passes/mod.rs
  tasks/minsize/minsize.snap
  tasks/minsize/src/lib.rs
Labels: C-enhancement, A-minifier

#8227 feat(minifier): minimize all variants of `typeof x == 'undefined'`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8228 feat(minifier): statement fusion switch cases; improved minimize exit poitns
  crates/oxc_minifier/src/ast_passes/minimize_exit_points.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/statement_fusion.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8229 feat(minifier): minimize `foo ? foo : bar` and `foo ? bar : foo`
  Cargo.toml
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8231 refactor(minifier): move all conditional minification logic to minimze_conditions
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, 0-merge

#8233 fix(minifier): fix incorrect return value for `(x ? true : y)`
  Cargo.toml
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier, 0-merge

#8234 feat(minifier): remove last redundant `return` statement
  crates/oxc_minifier/src/ast_passes/minimize_exit_points.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8235 feat(minifier): restore conditional minification and fix edge case
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8238 feat(minifier): improve minimizing conditionals
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8239 refactor(minifier): improve constant fold numbers
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/node_util/mod.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, C-cleanup

#8240 feat(minifier): always put literals on the rhs of equal op `1==x` => `x==1`
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, A-ast

#8241 feat(mininifier): minimize variants of `a instanceof b == true`
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8242 fix(minifier): fix panic in `peephole_minimize_conditions`
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: C-bug, A-minifier

#8243 chore(minifier): disable `RemoveUnusedCode`
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/remove_unused_code.rs
  crates/oxc_minifier/src/compressor.rs
  tasks/coverage/snapshots/minifier_test262.snap
  tasks/minsize/minsize.snap
Labels: A-minifier, C-cleanup

#8244 feat(minifier): minsize `!!!foo ? bar : baz` -> `foo ? baz : bar`
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8245 feat(minifier): minimize `Number` constructor
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: C-enhancement, A-minifier

#8246 feat(minifier): constant fold `'x'.toString()` and `true.toString()`
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: C-enhancement, A-minifier, 0-merge

#8247 feat(minifier): minimize `~undefined`, `~null`, `~true`, `~false`
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: C-enhancement, A-minifier

#8248 feat(minifier): constant fold `String.fromCharCode`
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
Labels: C-enhancement, A-minifier, 0-merge

#8034 refactor(linter): refactor `LintBuilder` to prep for nested configs
  apps/oxlint/src/lint.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/options/mod.rs
  crates/oxc_linter/src/table.rs
  crates/oxc_linter/src/tester.rs
  crates/oxc_wasm/src/lib.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge, A-editor

#8250 test(minifier): enable some passing tests
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: A-minifier, 0-merge, C-test

#8251 feat(minifier): improve minimizing conditional expressions
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: C-enhancement, A-minifier, 0-merge

#8253 feat(minifier): compress more property keys
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_minifier/src/ast_passes/convert_to_dotted_properties.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, A-ast

#8252 feat(minifier): improve constant evaluation
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8258 fix(codegen): print parenthesis on negative bigint lit when neccessary
  crates/oxc_codegen/src/gen.rs
Labels: C-bug, A-codegen, 0-merge

#8256 feat(minifier): minimize unary expression statements
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  crates/oxc_syntax/src/operator.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8260 fix(minifier): handle arrow fn expressions correctly in `is_in_boolean_context`
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: C-bug, A-minifier, 0-merge

#8261 feat(minifier): improve minimizing unary not expressions
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8262 feat(minifier): remove unused arrow function expressions
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
Labels: C-enhancement, A-minifier, 0-merge

#8266 feat(minifier): flatten spread args in call expressions
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, 0-merge

#8267 feat(minifier): minify call expressionsto `Number`
  crates/oxc_ecmascript/src/to_number.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, 0-merge

#8268 feat(minifier): compress loose equals undefined
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, 0-merge

#8270 feat(minifier): fold `BigInt(1n)` -> `1n`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier

#8269 refactor(prettier): Refactor printing statements
  crates/oxc_prettier/src/format/js.rs
Labels: C-cleanup, A-prettier

#8272 feat(minifier): compress property key `{[1]: _}` -> {1: _}
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier

#8273 refactor(ast): simplify `get_identifier_reference` of `TSType` and `TSTypeName`
  crates/oxc_ast/src/ast_impl/ts.rs
  crates/oxc_isolated_declarations/src/scope.rs
  crates/oxc_linter/src/rules/typescript/array_type.rs
Labels: A-linter, C-cleanup, A-ast, 0-merge, A-isolated-declarations

#8277 feat(minifier): fold `if(x >> y == 0){}` -> `if(!(x >> y)){}`
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: C-enhancement, A-minifier

#8278 fix(minifier): do not fold literals in `-0 != +0`
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier

#8141 fix(transformer/typescript): should strip import specifiers type with `only_remove_type_imports`
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-bug, A-transformer

#8282 refactor(minifier): move optional catch param to peephole_substitute_alternate_syntax
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_minifier/src/ast_passes/remove_unused_code.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, C-cleanup

#8284 refactor(ecmascript): remove unnecessary `use` statement
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
Labels: C-cleanup, 0-merge

#8286 docs(ast): fix doc comment
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast, 0-merge, C-docs

#8287 test(transformer): remove repeated code from fixtures updating script
  tasks/transform_conformance/update_fixtures.mjs
Labels: A-transformer, 0-merge, C-test

#8296 style(span): reformat code
  crates/oxc_span/src/cmp.rs
Labels: C-cleanup, 0-merge

#8285 refactor(transformer): elide lifetimes where possible
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/common/mod.rs
  crates/oxc_transformer/src/common/module_imports.rs
  crates/oxc_transformer/src/common/statement_injector.rs
  crates/oxc_transformer/src/common/top_level_statements.rs
  crates/oxc_transformer/src/common/var_declarations.rs
  crates/oxc_transformer/src/context.rs
  crates/oxc_transformer/src/es2015/arrow_functions.rs
  crates/oxc_transformer/src/es2015/mod.rs
  crates/oxc_transformer/src/es2016/exponentiation_operator.rs
  crates/oxc_transformer/src/es2016/mod.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  crates/oxc_transformer/src/es2017/mod.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/mod.rs
  crates/oxc_transformer/src/es2018/mod.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  crates/oxc_transformer/src/es2020/mod.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2020/optional_chaining.rs
  crates/oxc_transformer/src/es2021/logical_assignment_operators.rs
  crates/oxc_transformer/src/es2021/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_properties/class_details.rs
  crates/oxc_transformer/src/es2022/class_properties/computed_key.rs
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
  crates/oxc_transformer/src/es2022/class_properties/instance_prop_init.rs
  crates/oxc_transformer/src/es2022/class_properties/mod.rs
  crates/oxc_transformer/src/es2022/class_properties/private_field.rs
  crates/oxc_transformer/src/es2022/class_properties/private_method.rs
  crates/oxc_transformer/src/es2022/class_properties/prop_decl.rs
  crates/oxc_transformer/src/es2022/class_properties/static_block_and_prop_init.rs
  crates/oxc_transformer/src/es2022/class_properties/super_converter.rs
  crates/oxc_transformer/src/es2022/mod.rs
  crates/oxc_transformer/src/jsx/display_name.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/jsx/jsx_self.rs
  crates/oxc_transformer/src/jsx/jsx_source.rs
  crates/oxc_transformer/src/jsx/mod.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/plugins/inject_global_variables.rs
  crates/oxc_transformer/src/plugins/replace_global_defines.rs
  crates/oxc_transformer/src/regexp/mod.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/mod.rs
  crates/oxc_transformer/src/typescript/module.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  crates/oxc_transformer/src/typescript/options.rs
Labels: C-cleanup, A-transformer, 0-merge

#8280 refactor(ast)!: remove `FromIn<Expression> for Statement`
  crates/oxc_ast/src/ast_impl/js.rs
Labels: C-cleanup, A-ast, 0-merge

#8281 refactor(ast): `AstBuilder` enum builder methods use `alloc_*` methods
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8283 refactor(ast)!: no unneccesary trailing underscores on `AstBuilder` method names
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/util.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8288 refactor(lexer): rename function param
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser, C-cleanup, 0-merge

#8289 refactor(lexer): replace `#[allow]` with `#[expect]`
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/jsx.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/number.rs
  crates/oxc_parser/src/lexer/search.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lexer/template.rs
Labels: A-parser, C-cleanup, 0-merge

#8290 style(lexer): reorder imports
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/jsx.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/numeric.rs
  crates/oxc_parser/src/lexer/regex.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lexer/string.rs
  crates/oxc_parser/src/lexer/template.rs
  crates/oxc_parser/src/lexer/unicode.rs
Labels: A-parser, C-cleanup, 0-merge

#8301 feat(minifier): compress typeof addition string
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: C-enhancement, A-minifier, 0-merge

#8302 feat(minifier): minify typeof in binary expressions
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8303 feat(minifier): remove logical nots when arg is a delete expression
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: C-enhancement, A-minifier, 0-merge

#8304 feat(minifier): minimize double negated binary expressions
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: C-enhancement, A-minifier, 0-merge

#8305 feat(minifier): minify sequence expressions
  crates/oxc_ecmascript/src/side_effects/check_for_state_change.rs
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
Labels: C-enhancement, A-minifier, 0-merge

#8306 refactor(minifier): clean up `peephole_replace_known_methods`
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
Labels: A-minifier, C-cleanup

#8307 feat(prettier): Print tagged template literal
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/format/print/literal.rs
  crates/oxc_prettier/src/format/print/template_literal.rs
  crates/oxc_prettier/src/format/typescript.rs
  crates/oxc_prettier/src/ir/display.rs
  crates/oxc_prettier/src/ir/doc.rs
  crates/oxc_prettier/src/macros.rs
  crates/oxc_prettier/src/printer/mod.rs
  crates/oxc_prettier/src/utils/document.rs
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-prettier

#8308 feat(minifier): fold `.toString()`
  crates/oxc_ecmascript/src/to_boolean.rs
  crates/oxc_ecmascript/src/to_string.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  crates/oxc_minifier/src/node_util/mod.rs
Labels: C-enhancement, A-minifier

#8291 refactor(lexer): make `handle_byte` a method of `Lexer`
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/mod.rs
Labels: A-parser, C-cleanup, 0-merge

#8292 test(lexer): assert size of `Token` in 32-bit WASM
  crates/oxc_parser/src/lexer/token.rs
Labels: A-parser, 0-merge, C-test

#8293 refactor(lexer): tighten safety of lexer by always including lifetime on `SourcePosition`
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/identifier.rs
  crates/oxc_parser/src/lexer/source.rs
  crates/oxc_parser/src/lexer/template.rs
Labels: A-parser, C-cleanup, 0-merge

#8294 fix(lexer): `Source` is not `Clone`
  crates/oxc_parser/src/lexer/source.rs
Labels: C-bug, A-parser, 0-merge

#8309 feat(minifier): minimize empty `try` statement
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
Labels: C-enhancement, A-minifier

#8310 feat(minifier): minimize `(x = 1) === 1` -> `(x = 1) == 1`
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8311 feat(minifier): minimize `do{}while(true)` -> `do;while(true)`
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/unit.rs
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, A-codegen

#8316 feat(minifier): minimize `x["0"]` -> x[0]
  crates/oxc_minifier/src/ast_passes/convert_to_dotted_properties.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_minifier/src/node_util/mod.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, A-codegen, 0-merge

#8024 fix(transformer/arrow-functions): `_this = this` should be inserted after super call expression
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/foobar/options.json
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/foobar/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/private-loose/foobar/reason.txt
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public-loose/foobar/options.json
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public-loose/foobar/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-class-properties/test/fixtures/public-loose/foobar/reason.txt
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/class/this-after-super-nested/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/class/this-after-super-nested/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/class/this-after-super-with-async-arrow-function/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/class/this-after-super-with-async-arrow-function/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/class/this-after-super/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/class/this-after-super/output.js
Labels: C-bug, A-transformer, 0-merge

#8324 refactor(minifier): handle big int values later
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: A-minifier, C-cleanup

#8313 feat(minifier): remove `new` from `new Error`/`new Function`/`new RegExp`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8314 feat(minifier): compress `a = a + b` to `a += b`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_syntax/src/operator.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8315 feat(minifier): compress `a || (a = b)` to `a ||= b`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_syntax/src/operator.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8317 refactor(transformer/arrow-functions): shorten `AstBuilder` call
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8318 perf(transformer/arrow-functions): use `NonEmptyStack` instead of `Stack`
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-performance, A-transformer, 0-merge

#8271 chore(linter): add vscode debugger launch config
  .vscode/launch.json
Labels: C-cleanup

#8319 refactor(transformer/arrow-functions): rename lifetime
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8320 refactor(transformer/arrow-functions): reorder visitor methods
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8321 refactor(transformer/arrow-functions): do not inline non-trivial visitor method
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8322 perf(transformer/arrow-functions): reduce size of inlined visitor
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-performance, A-transformer, 0-merge

#8323 refactor(transformer/arrow-functions): reduce repeated code
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8328 refactor(transformer/arrow-functions): add TODO comments
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8327 refactor(minifier): clean up `peephole_substitute_alternate_syntax`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, 0-merge

#8332 feat(minifier): minimize `!0 + null !== 1` -> `!0 + null != 1`
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
Labels: C-enhancement, A-minifier, 0-merge

#8333 feat(minifier): remove label statement with empty body
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
Labels: C-enhancement, A-minifier, 0-merge

#8337 refactor(prettier): Update tasks/prettier to correctly handle snapshots
  Cargo.lock
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/format/print/block.rs
  tasks/prettier_conformance/Cargo.toml
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
  tasks/prettier_conformance/src/lib.rs
  tasks/prettier_conformance/src/main.rs
  tasks/prettier_conformance/src/options.rs
  tasks/prettier_conformance/src/spec.rs
Labels: C-cleanup, A-prettier

#8339 feat(minifier): fold object spread `({ ...null })` -> `({})`
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: C-enhancement, A-minifier, 0-merge

#8340 feat(minifier): remove empty IIFE
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
Labels: C-enhancement, A-minifier

#8343 feat(minifier): compress `new Array(7n)` -> `[7n]`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, 0-merge

#8344 feat(minifier): compress `new Array(2)` -> `[,,]`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8346 refactor(minifier): clean up
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/src/ast_passes/convert_to_dotted_properties.rs
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/normalize.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  crates/oxc_minifier/src/ast_passes/peephole_replace_known_methods.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/lib.rs
Labels: A-minifier, C-cleanup

#8347 test(minifier): add anonymous function test case for logical expression to logical assignment compression
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier, 0-merge, C-test

#8348 fix(codegen): fix white space issue with do statements
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/unit.rs
Labels: C-bug, A-codegen

#8345 feat(minifier): merge assign expression in conditional expression
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, A-ast, 0-merge

#8338 refactor(transformer/arrow-function): create a new ident instead of clone
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8356 docs(data_structures): improve docs for stack types
  crates/oxc_data_structures/src/stack/mod.rs
  crates/oxc_data_structures/src/stack/non_empty.rs
  crates/oxc_data_structures/src/stack/sparse.rs
  crates/oxc_data_structures/src/stack/standard.rs
Labels: 0-merge, C-docs

#8331 fix(transformer/arrow-functions): store `super_methods` on a `Stack` to fix nested async methods
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, A-transformer, 0-merge

#8357 refactor(transformer/class-properties): simplify determining if class is declaration
  crates/oxc_transformer/src/es2022/class_properties/class.rs
Labels: C-cleanup, A-transformer, 0-merge

#8354 fix(transformer/typescript): create `Reference` for `Infinity`
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, A-transformer, 0-merge

#8358 chore(tasks/coverage): fix test262 cases to run on windows
  Cargo.lock
  tasks/coverage/Cargo.toml
  tasks/coverage/src/test262/mod.rs
Labels: C-cleanup

#8349 refactor(minifier): remove the buggy `minimize_exit_points` implementation
  crates/oxc_minifier/src/ast_passes/minimize_exit_points.rs
  crates/oxc_minifier/tests/ast_passes/mod.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, C-cleanup, 0-merge

#8351 feat(minifier): port esbuild conditional expr minification
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8360 fix(transformer/private-methods): no temp var for class when unused private methods
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-private-methods/test/fixtures/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-private-methods/test/fixtures/unused-methods/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-private-methods/test/fixtures/unused-methods/output.js
Labels: C-bug, A-transformer, 0-merge

#8361 fix(transformer/private-methods): create brand binding `var` in hoist scope
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-transformer, 0-merge

#8362 fix(transformer/private-methods): fix panic if instance private accessor in class
  crates/oxc_transformer/src/es2022/class_properties/class.rs
Labels: C-bug, A-transformer, 0-merge

#8363 refactor(transformer/private-methods): TODO comments
  crates/oxc_transformer/src/es2022/class_properties/class.rs
Labels: C-cleanup, A-transformer, 0-merge

#8364 refactor(transformer/private-methods): simplify finding parent statement of class expression
  crates/oxc_transformer/src/es2022/class_properties/class.rs
Labels: C-cleanup, A-transformer, 0-merge

#8366 feat(minifier): compress `a.b || (a.b = c)` to `a.b ||= c`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8367 feat(minifier): compress `a.b = a.b + c` to `a.b += c`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8368 feat(minifier): compress `x = x || 1` to `x ||= 1`
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8371 fix(minifier): do not remove shadowned `undefined` in return statement
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-bug, A-minifier

#8373 fix(minifier): computed property key `prototype` cannot be changed
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: C-bug, A-minifier

#8374 fix(codegen): fix incorrect minified `return 1n` output
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/unit.rs
Labels: C-bug, A-codegen

#8375 fix(minifier): do not fold object comparisons
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_fold_constants.rs
Labels: C-bug, A-minifier

#8376 fix(semantic): report error for super property appearing in function body
  crates/oxc_semantic/src/checker/javascript.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-semantic, 0-merge

#8377 refactor(semantic): check super usage based on scope
  crates/oxc_semantic/src/checker/javascript.rs
Labels: A-semantic, C-cleanup, 0-merge

#8379 refactor(prettier): Make `hardline!` to return `Doc`
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/format/print/array.rs
  crates/oxc_prettier/src/format/print/block.rs
  crates/oxc_prettier/src/format/print/call_arguments.rs
  crates/oxc_prettier/src/format/print/class.rs
  crates/oxc_prettier/src/format/print/function_parameters.rs
  crates/oxc_prettier/src/format/print/statement.rs
  crates/oxc_prettier/src/format/typescript.rs
  crates/oxc_prettier/src/macros.rs
Labels: C-cleanup, A-prettier

#8378 fix(minifier): `instanceof` has error throwing side effect
  crates/oxc_ecmascript/src/side_effects/check_for_state_change.rs
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  crates/oxc_syntax/src/operator.rs
Labels: C-bug, A-minifier

#8380 refactor(minifier): change ast passes order, `!in_fixed_loop` happen last
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, 0-merge

#8352 feat(minifier): `a != null ? a : b` -> `a ?? b`
  crates/oxc_minifier/src/ast_passes/mod.rs
  crates/oxc_minifier/src/ast_passes/peephole_minimize_conditions.rs
  crates/oxc_minifier/src/compressor.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8386 refactor(transformer/arrow-functions): reorder assertions
  crates/oxc_transformer/src/common/arrow_function_converter.rs
Labels: C-cleanup, A-transformer, 0-merge

#8329 refactor(linter): split `unicorn/prefer-spread` and `eslint/prefer-spread` into own rules
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/prefer_spread.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
  crates/oxc_linter/src/snapshots/eslint_prefer_spread.snap
  crates/oxc_linter/src/snapshots/unicorn_prefer_spread.snap
Labels: A-linter, C-cleanup

#8388 fix(allocator): fix lifetimes on `IntoIterator` for `Vec`
  crates/oxc_allocator/src/vec.rs
Labels: C-bug, 0-merge

#8389 feat(allocator): implement `IntoIterator` for `&mut Vec`
  crates/oxc_allocator/src/vec.rs
  crates/oxc_minifier/src/ast_passes/peephole_remove_dead_code.rs
  crates/oxc_minifier/src/ast_passes/peephole_substitute_alternate_syntax.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_traverse/scripts/lib/walk.mjs
  crates/oxc_traverse/src/generated/walk.rs
Labels: C-enhancement, A-parser, A-minifier, A-transformer, 0-merge

#8355 fix(transformer/typescript): create `Reference` for `require`
  crates/oxc_transformer/src/typescript/module.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-bug, A-transformer, 0-merge

#8382 fix(transformer/arrow-functions): outer `super()` in nested class
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/outer-super-in-nested-class/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/outer-super-in-nested-class/output.js
Labels: C-bug, A-transformer, 0-merge

#8394 chore(deps): bump MSRV to 1.79
  Cargo.toml
Labels: C-cleanup, 0-merge

#8397 style(transformer/private-methods): rename var
  crates/oxc_transformer/src/es2022/class_properties/private_method.rs
Labels: C-cleanup, A-transformer, 0-merge

#8390 refactor(linter): remove glob for windows
  Cargo.lock
  Cargo.toml
  apps/oxlint/Cargo.toml
  apps/oxlint/src/command/lint.rs
  apps/oxlint/src/command/mod.rs
  apps/oxlint/src/lint.rs
Labels: A-cli, C-cleanup

#8398 docs(transformer/private-methods): amend comments
  crates/oxc_transformer/src/es2022/class_properties/private_method.rs
Labels: A-transformer, 0-merge, C-docs

#8399 style(transformer/private-methods): move comments
  crates/oxc_transformer/src/es2022/class_properties/private_field.rs
Labels: C-cleanup, A-transformer, 0-merge

#8400 refactor(transformer/private-methods): remove unnecessary clone
  crates/oxc_transformer/src/es2022/class_properties/private_field.rs
Labels: C-cleanup, A-transformer, 0-merge

#8393 test(transformer/arrow-functions): add decorators to test
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/outer-super-in-nested-class/input.js
  tasks/transform_conformance/tests/babel-plugin-transform-async-to-generator/test/fixtures/super/outer-super-in-nested-class/output.js
Labels: A-transformer, 0-merge, C-test

#8404 docs(minifier): clarify assumptions for compressor
  crates/oxc_minifier/README.md
Labels: A-minifier, C-docs

#8392 refactor(transformer/class-properties): TODO comments
  crates/oxc_transformer/src/es2022/class_properties/private_method.rs
  crates/oxc_transformer/src/es2022/class_properties/static_block_and_prop_init.rs
Labels: C-cleanup, A-transformer, 0-merge
