Repository oxc-project/oxc, pull requests merged in 2025-08, with the labels that each got.

#12696 refactor(linter): use `u32` to keep track of last fixed source text position
  crates/oxc_linter/src/fixer/mod.rs
Labels: A-linter, C-cleanup, 0-merge

#12614 fix(parser): validate inner expression of type assertions in assignment targets
  crates/oxc_linter/src/rules/typescript/no_confusing_non_null_assertion.rs
  crates/oxc_linter/src/snapshots/typescript_no_confusing_non_null_assertion.snap
  crates/oxc_parser/src/js/grammar.rs
  tasks/coverage/misc/fail/oxc-12612-1.ts
  tasks/coverage/misc/fail/oxc-12612-2.ts
  tasks/coverage/misc/fail/oxc-12612-3.ts
  tasks/coverage/misc/fail/oxc-12612-4.ts
  tasks/coverage/misc/pass/oxc-12612.ts
  tasks/coverage/snapshots/codegen_misc.snap
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/transformer_misc.snap
Labels: C-bug, A-linter, A-parser

#12676 perf(semantic): remove function stack
  crates/oxc_semantic/Cargo.toml
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, C-performance, 0-merge

#12712 feat(formatter): correctly print comments for `IfStatement`
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/write/block_statement.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/utils/statement_body.rs
  tasks/ast_tools/src/generators/formatter/ast_nodes.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, 0-merge, A-ast-tools, A-formatter

#12714 refactor(semantic): fix typo in comment
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, C-cleanup, 0-merge

#12718 fix(linter/explicit-function-return-types): update default values in ExplicitFunctionReturnTypeConfig
  crates/oxc_linter/src/rules/typescript/explicit_function_return_type.rs
Labels: C-bug, A-linter

#12716 refactor(parser): shorten `AstBuilder` calls
  crates/oxc_parser/src/js/grammar.rs
Labels: A-parser, C-cleanup, 0-merge

#12740 docs(ast): improve docs for `ImportSpecifier`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/ast_builder.rs
Labels: A-ast, 0-merge, C-docs

#12659 refactor(semantic): `ArrowFunctionExpression` leave scope before leaving node
  crates/oxc_semantic/src/builder.rs
Labels: A-semantic, C-cleanup, 0-merge

#12741 refactor(ast)!: introduce `WithClauseKeyword`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast_macros/src/generated/structs.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  napi/parser/generated/lazy/constructors.js
  napi/parser/generated/lazy/walk.js
Labels: A-parser, C-cleanup, A-ast, A-codegen, A-formatter

#12751 test(napi/parser): ensure `target` dir exists
  napi/parser/test/parse-raw.test.ts
Labels: 0-merge, C-test

#12713 fix(transformer/typescript): remove properties with definite assignment assertion
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/typescript/definite-assignment-assertion/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/typescript/definite-assignment-assertion/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/remove-definite-assignment-assertion/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/remove-definite-assignment-assertion/output.js
Labels: C-bug, A-transformer

#12749 chore(ci): remove paths ignore list in CI task
  .github/workflows/ci.yml
Labels: C-cleanup, 0-merge

#12750 test(napi): compile tests in debug mode
  napi/minify/package.json
  napi/oxlint2/package.json
  napi/parser/package.json
  napi/playground/package.json
  napi/transform/package.json
Labels: 0-merge, C-test

#12753 feat(napi/minify): make `MinifyOptions` pub
  napi/minify/src/lib.rs
Labels: C-enhancement

#12760 fix(linter): default options for `eslint/new-cap`
  crates/oxc_linter/src/rules/eslint/new_cap.rs
  crates/oxc_linter/tests/rule_configuration_test.rs
Labels: C-bug, A-linter

#12761 fix(linter): default options for `eslint/no-unneeded-ternary`
  crates/oxc_linter/src/rules/eslint/no_unneeded_ternary.rs
  crates/oxc_linter/tests/rule_configuration_test.rs
Labels: C-bug, A-linter

#12772 fix(transformer/class-properties): preserve computed keys if they may have side effects when `remove_class_fields_without_initializer` is enabled
  crates/oxc_transformer/src/es2022/class_properties/computed_key.rs
  crates/oxc_transformer/src/es2022/class_properties/prop_decl.rs
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/typescript/class-fields-with-computed-key/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-class-properties/test/fixtures/typescript/class-fields-with-computed-key/output.js
Labels: C-bug, A-transformer, 0-merge

#12773 chore(deps): bump `oxc-browserslist`
  Cargo.lock
Labels: C-cleanup

#12783 fix(linter/import/extensions): update Default implementation for ExtensionsConfig
  crates/oxc_linter/src/rules/import/extensions.rs
  crates/oxc_linter/tests/rule_configuration_test.rs
Labels: C-bug, A-linter

#12784 fix(linter/import/no-anonymous-default-export): update Default implementation for `NoAnonymousDefaultExport` config
  crates/oxc_linter/src/rules/import/no_anonymous_default_export.rs
  crates/oxc_linter/tests/rule_configuration_test.rs
Labels: C-bug, A-linter

#12785 fix(linter/jest/no-deprecated-functions): update Default implementation for `JestConfig`
  crates/oxc_linter/src/rules/jest/no_deprecated_functions.rs
  crates/oxc_linter/tests/rule_configuration_test.rs
Labels: C-bug, A-linter

#12787 fix(linter/jest/prefer-lowercase-title): update Default implementation for `PreferLowercaseTitleConfig`
  crates/oxc_linter/src/rules/jest/prefer_lowercase_title/mod.rs
  crates/oxc_linter/tests/rule_configuration_test.rs
Labels: C-bug, A-linter

#12788 fix(linter/react/jsx-filename-case): update Default implementation for `JsxFilenameExtensionConfig`
  crates/oxc_linter/src/rules/react/jsx_filename_extension.rs
  crates/oxc_linter/tests/rule_configuration_test.rs
Labels: C-bug, A-linter

#12754 test(oxlint): add `Tester::test_fix` mehod
  apps/oxlint/src/lint.rs
  apps/oxlint/src/tester.rs
Labels: A-cli, 0-merge, C-test

#12758 fix(linter): apply fix span offset after fixing the section source text
  apps/oxlint/fixtures/fix_argument/fix.js
  apps/oxlint/fixtures/fix_argument/fix.vue
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/_-A all fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter@oxlint.snap
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: C-bug, A-linter, A-cli

#12502 refactor(linter): store `ExternalRuleId` in `OxlintOverrides` not raw names
  apps/oxlint/src/lint.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/tester.rs
  napi/oxlint2/test/__snapshots__/e2e.test.ts.snap
  napi/oxlint2/test/e2e.test.ts
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides_missing_rule/.oxlintrc.json
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides_missing_rule/index.js
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides_missing_rule/test_plugin/index.js
  napi/playground/src/lib.rs
  tasks/benchmark/benches/linter.rs
Labels: A-linter, A-cli, C-cleanup, A-editor

#12484 feat(vscode/language_server): add `tsConfigPath` option
  crates/oxc_language_server/README.md
  crates/oxc_language_server/fixtures/linter/ts_path_alias/.oxlintrc.json
  crates/oxc_language_server/fixtures/linter/ts_path_alias/deep/src/dep-a.ts
  crates/oxc_language_server/fixtures/linter/ts_path_alias/deep/src/dep-b.ts
  crates/oxc_language_server/fixtures/linter/ts_path_alias/deep/tsconfig.json
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/options.rs
  crates/oxc_language_server/src/snapshots/fixtures_linter_ts_path_alias@deep_src_dep-a.ts.snap
  crates/oxc_language_server/src/worker.rs
  editors/vscode/README.md
  editors/vscode/client/WorkspaceConfig.ts
  editors/vscode/fixtures/changing_tsconfig_path/.oxlintrc.json
  editors/vscode/fixtures/changing_tsconfig_path/deep/src/dep-a.ts
  editors/vscode/fixtures/changing_tsconfig_path/deep/src/dep-b.ts
  editors/vscode/fixtures/changing_tsconfig_path/deep/tsconfig.json
  editors/vscode/package.json
  editors/vscode/tests/WorkspaceConfig.spec.ts
  editors/vscode/tests/e2e_server.spec.ts
Labels: C-enhancement, 0-merge, A-editor

#12805 feat(linter/jsx-a11y): add support for mapped attributes in label association checks
  apps/oxlint/src/snapshots/_-A all --print-config@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__print_config__ban_rules__eslintrc.json -A all -D eqeqeq --print-config@oxlint.snap
  crates/oxc_linter/src/config/settings/jsx_a11y.rs
  crates/oxc_linter/src/config/settings/mod.rs
  crates/oxc_linter/src/rules/jsx_a11y/label_has_associated_control.rs
  crates/oxc_linter/src/snapshots/jsx_a11y_label_has_associated_control.snap
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: C-enhancement, A-linter, A-cli

#12814 fix(linter/no-empty-function): respect allow options for functions and arrow functions
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
Labels: C-bug, A-linter

#12820 fix(linter/explicit-module-boundary-types): debug assertion fail with top level return
  crates/oxc_linter/src/rules/typescript/explicit_module_boundary_types.rs
Labels: C-bug, A-linter

#12819 fix(linter/no-throw-literal): fix unconditional recursion in `could_be_error`
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/no_throw_literal.rs
Labels: C-bug, A-linter, 0-merge

#12815 style(linter/no-empty-function): order match arms consistently
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
Labels: A-linter, C-cleanup, 0-merge

#12799 feat(ast)!: remove `IdentifierReference` from `qualifier` field of `TSImportType`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_address.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast/src/generated/derive_take_in.rs
  crates/oxc_ast_macros/src/generated/structs.rs
  crates/oxc_ast_visit/src/generated/utf8_to_utf16_converter.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/generated/format_write.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/import-type-with-type-params.snap
  crates/oxc_semantic/tests/integration/modules.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/traverse.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  napi/parser/generated/lazy/constructors.js
  napi/parser/generated/lazy/types.js
  napi/parser/generated/lazy/walk.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-enhancement, A-parser, A-semantic, A-ast, A-codegen, A-formatter

#12801 fix(estree): fix serialization of `TSImportTypeQualifier`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize/ts.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#12800 test(linter/no-undef): add test case for `TSImportType`
  crates/oxc_linter/src/rules/eslint/no_undef.rs
Labels: A-linter, C-test

#12812 refactor(semantic): improve unused label tracking and add debug assertions
  crates/oxc_linter/src/rules/eslint/no_unused_labels.rs
  crates/oxc_linter/src/snapshots/eslint_no_unused_labels.snap
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/label.rs
Labels: A-linter, A-semantic, C-cleanup, 0-merge

#12826 chore(deps): bump `oxc-browserslist`
  Cargo.lock
  crates/oxc_transformer/src/options/es_features.rs
  tasks/compat_data/src/lib.rs
Labels: C-cleanup, A-transformer

#12806 refactor(parser): add `StatementContext::TopLevelStatementList`
  crates/oxc_parser/src/context.rs
  crates/oxc_parser/src/js/statement.rs
Labels: A-parser, C-cleanup

#12807 perf(parser): register `import` / `export` statements in module record directly
  crates/oxc_parser/src/context.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/module_record.rs
Labels: A-parser, C-performance

#12745 perf(codegen): write indent in chunks of 32 bytes
  crates/oxc_data_structures/src/code_buffer.rs
Labels: C-performance

#12808 refactor(ast)!: remove `ExportDefaultDeclaration` `exported` field
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/module_record.rs
  crates/oxc_semantic/tests/fixtures/oxc/ts/exports/default/type-alias.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/default-type.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/export/default2.snap
  crates/oxc_transformer/src/decorator/legacy/mod.rs
  crates/oxc_transformer_plugins/src/module_runner_transform.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  napi/parser/generated/lazy/constructors.js
  napi/parser/generated/lazy/walk.js
Labels: A-parser, A-semantic, C-cleanup, A-ast, A-transformer, 0-merge, A-isolated-declarations, A-formatter

#12827 test(coverage/typescript): Update `2461-2540` error codes handling
  tasks/coverage/snapshots/codegen_typescript.snap
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/coverage/snapshots/transformer_typescript.snap
  tasks/coverage/src/typescript/mod.rs
Labels: C-test

#12828 fix(linter/func-style): fix more false positives
  crates/oxc_linter/src/rules/eslint/func_style.rs
  crates/oxc_linter/src/snapshots/eslint_func_style.snap
Labels: C-bug, A-linter

#12831 perf(lexer): improve byte_handlers for `!` and `?`
  crates/oxc_parser/src/lexer/byte_handlers.rs
Labels: A-parser, C-performance

#12830 fix(codegen): wrap parens for `TSUnionType`
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/tests/fixtures/union-type.ts
  crates/oxc_isolated_declarations/tests/snapshots/union-type.snap
  tasks/coverage/snapshots/transpile.snap
Labels: C-bug, A-codegen, A-isolated-declarations

#11365 feat(linter): add eslint/no-unassigned-vars rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_unassigned_vars.rs
  crates/oxc_linter/src/snapshots/eslint_no_unassigned_vars.snap
Labels: C-enhancement, A-linter, A-cli

#12832 chore(linter/no-unassigned-vars): move to category to `correctness`
  apps/oxlint/src/snapshots/_--ignore-path fixtures__linter__.customignore --no-ignore fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_--ignore-pattern _____.js --ignore-pattern _____.vue fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin -A all -D no-cycle fixtures__flow__@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin fixtures__flow__index.mjs@oxlint.snap
  apps/oxlint/src/snapshots/_--vitest-plugin -c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-D correctness fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W correctness -A no-debugger fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__eslintrc_env__eslintrc_no_env.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__no_undef__eslintrc.json fixtures__no_undef__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_env__eslintrc_env_browser.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_off__eslintrc.json fixtures__eslintrc_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__linter__eslintrc.json fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_console_off__eslintrc.json fixtures__no_console_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_allow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_allow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_disallow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_disallow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.js -c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.ts -c fixtures__overrides__.oxlintrc.json fixtures__overrides__other.jsx@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__directories-config.json fixtures__overrides@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json --disable-typescript-plugin fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__astro__debugger.astro@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__js_as_jsx.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__svelte__debugger.svelte@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__debugger.vue@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__empty.vue@oxlint.snap
  apps/oxlint/src/snapshots/_foo.asdf@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__ignore_directory_-c eslintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__with_oxlintrc_-c .__test__eslintrc.json --ignore-pattern _.ts .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__disable_eslint_and_unicorn_alias_rules_-c .oxlintrc-eslint.json test.js -c .oxlintrc-unicorn.json test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config extends_rules_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config relative_paths__extends_extends_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--disable-nested-config@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__ignore_file_current_dir_ .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import-cycle_--import-plugin -D import__no-cycle@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import_-c .oxlintrc.json test.js -c .oxlintrc-import-x.json test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_10394_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_11054_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_11644_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__linter_debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_env_globals_-c .oxlintrc.json .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_with_plugin_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__report_unused_directives_-c .oxlintrc.json --report-unused-disable-directives test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__two_rules_with_same_rule_name_-c .oxlintrc.json test.js@oxlint.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_svelte@debugger.svelte.snap
  crates/oxc_linter/src/rules/eslint/no_unassigned_vars.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge, A-editor

#12829 fix(minifier): fix `KATAKANA MIDDLE DOT` syntax error for unicode 4.1 to 15
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/peephole/convert_to_dotted_properties.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: C-bug, A-minifier, 0-merge

#12555 test(parser): track number of allocations
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  crates/oxc_allocator/Cargo.toml
  crates/oxc_allocator/src/alloc.rs
  crates/oxc_allocator/src/allocator.rs
  justfile
  tasks/track_memory_allocations/Cargo.toml
  tasks/track_memory_allocations/README.md
  tasks/track_memory_allocations/allocs_parser.snap
  tasks/track_memory_allocations/src/lib.rs
  tasks/track_memory_allocations/src/main.rs
Labels: A-parser, 0-merge, C-test

#12848 fix(minifier): keep classes with static properties + side effect initializer
  crates/oxc_minifier/src/peephole/remove_unused_declaration.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: C-bug, A-minifier, 0-merge

#12854 fix(rulegen): tests with backslash should be raw string literals
  tasks/rulegen/src/main.rs
Labels: C-bug, 0-merge

#12871 chore(ecmascript): add missing `unsafe` block to inline assembly call
  crates/oxc_ecmascript/src/to_int_32.rs
Labels: C-cleanup, 0-merge

#12872 chore(ecmascript): add missing cfg attributes to supress dead code warnings
  crates/oxc_ecmascript/src/to_int_32.rs
Labels: C-cleanup

#12485 feat(oxlint): add `tsgolint` integration
  .github/workflows/ci.yml
  apps/oxlint/fixtures/tsgolint/no-floating-promises/.oxlintrc.json
  apps/oxlint/fixtures/tsgolint/no-floating-promises/index.ts
  apps/oxlint/fixtures/tsgolint/tsconfig.json
  apps/oxlint/src/command/lint.rs
  apps/oxlint/src/lib.rs
  apps/oxlint/src/lint.rs
  apps/oxlint/src/result.rs
  apps/oxlint/src/snapshots/_fixtures__tsgolint --type-aware@oxlint.snap
  apps/oxlint/src/tsgolint.rs
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_floating_promises.rs
  crates/oxc_linter/src/rules/typescript/no_misused_promises.rs
  npm/oxlint/scripts/generate-packages.mjs
  package.json
  pnpm-lock.yaml
  tasks/website/src/linter/snapshots/cli.snap
  tasks/website/src/linter/snapshots/cli_terminal.snap
Labels: C-enhancement, A-linter, A-cli, A-minifier

#12875 fix(linter): prevent category rules from being reapplied to already-configured plugins in overrides
  crates/oxc_linter/src/config/config_store.rs
Labels: C-bug, A-linter, 0-merge

#12809 fix(formatter): printing VariableDeclarator is incorrect when it is part of ForStatement
  crates/oxc_formatter/src/write/variable_declaration.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
Labels: C-bug, 0-merge, A-formatter

#12877 fix(linter/jest/expect-expect): add support for expect in array expressions
  crates/oxc_linter/src/rules/jest/expect_expect.rs
Labels: C-bug, A-linter

#12878 test(linter/new-cap): add tests for `Intl.DateTimeFormat`
  crates/oxc_linter/src/rules/eslint/new_cap.rs
Labels: A-linter, C-test

#12836 feat(formatter): correct comments printing between function name with params and between function params with body
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/formatter/trivia.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/write/arrow_function_expression.rs
  crates/oxc_formatter/src/write/block_statement.rs
  crates/oxc_formatter/src/write/function.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/ast_tools/src/generators/formatter/format.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-ast-tools, A-formatter

#12843 refactor(formatter): simplify the use of FormatSeparatedIter
  crates/oxc_formatter/src/formatter/formatter.rs
  crates/oxc_formatter/src/write/array_element_list.rs
  crates/oxc_formatter/src/write/assignment_pattern_property_list.rs
  crates/oxc_formatter/src/write/binding_property_list.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/parameter_list.rs
  crates/oxc_formatter/src/write/type_parameters.rs
  crates/oxc_formatter/src/write/variable_declaration.rs
Labels: C-cleanup, A-formatter

#12863 refactor(linter/label-has-associated-control): remove unnecessary globset
  crates/oxc_linter/src/rules/jsx_a11y/label_has_associated_control.rs
Labels: A-linter, C-cleanup, 0-merge

#12890 refactor(linter): allow marking rule as a tsgolint rule
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/typescript/no_floating_promises.rs
  crates/oxc_linter/src/rules/typescript/no_misused_promises.rs
  crates/oxc_macros/src/declare_all_lint_rules.rs
  crates/oxc_macros/src/declare_oxc_lint.rs
  crates/oxc_macros/src/lib.rs
Labels: A-linter, C-cleanup

#12895 refactor(all): add missing lifetimes in function return types
  apps/oxlint/src/output_formatter/xml_utils.rs
  crates/oxc_allocator/src/pool.rs
  crates/oxc_allocator/src/pool_fixed_size.rs
  crates/oxc_allocator/src/vec2/mod.rs
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast_visit/src/utf8_to_utf16.rs
  crates/oxc_ecmascript/src/private_bound_identifiers.rs
  crates/oxc_formatter/src/formatter/format_element/mod.rs
  crates/oxc_formatter/src/formatter/formatter.rs
  crates/oxc_formatter/src/formatter/token/string.rs
  crates/oxc_formatter/src/formatter/trivia.rs
  crates/oxc_linter/src/config/settings/jsdoc.rs
  crates/oxc_linter/src/rules/unicorn/numeric_separators_style.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/scoping.rs
  crates/oxc_semantic/tests/integration/util/mod.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  tasks/ast_tools/src/parse/attr.rs
Labels: A-linter, A-semantic, A-cli, C-cleanup, A-ast, A-transformer, 0-merge, A-ast-tools, A-formatter

#12897 docs(transformer/styled-components): remove duplicate backtick
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: A-transformer, 0-merge, C-docs

#12899 docs(transformer): improve doc comment formatting
  crates/oxc_transformer/src/plugins/styled_components.rs
Labels: A-transformer, 0-merge, C-docs

#12904 docs(data_structures): add stacks to README
  crates/oxc_data_structures/README.md
Labels: 0-merge, C-docs

#12888 fix(linter): `react/jsx-curly-brace-presence` report for JSXAttributeItem with quote char inside
  crates/oxc_linter/src/rules/react/jsx_curly_brace_presence.rs
  crates/oxc_linter/src/snapshots/react_jsx_curly_brace_presence.snap
Labels: C-bug, A-linter, 0-merge

#12900 chore(deps): raise MSRV to 1.87.0
  Cargo.toml
  crates/oxc_data_structures/src/pointer_ext.rs
Labels: C-cleanup, 0-merge

#12903 refactor(data_structures)!: remove `PointerExt` trait
  Cargo.lock
  Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_allocator/src/from_raw_parts.rs
  crates/oxc_allocator/src/string_builder.rs
  crates/oxc_ast_visit/Cargo.toml
  crates/oxc_ast_visit/src/utf8_to_utf16.rs
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/src/str.rs
  crates/oxc_data_structures/Cargo.toml
  crates/oxc_data_structures/README.md
  crates/oxc_data_structures/src/lib.rs
  crates/oxc_data_structures/src/pointer_ext.rs
  crates/oxc_data_structures/src/stack/common.rs
  crates/oxc_estree/Cargo.toml
  crates/oxc_estree/src/serialize/strings.rs
  crates/oxc_parser/Cargo.toml
  crates/oxc_parser/src/lexer/source.rs
Labels: A-parser, C-cleanup, A-codegen, 0-merge

#12911 test(oxlint): skip `--type--aware` test for `big-endian`
  apps/oxlint/src/lint.rs
Labels: A-cli, 0-merge, C-test

#12921 test(coverage): clarify code
  tasks/coverage/src/runtime/mod.rs
  tasks/transform_conformance/src/lib.rs
  tasks/transform_conformance/src/test_case.rs
Labels: A-transformer, 0-merge, C-test

#12922 refactor(website): clarify code
  tasks/website/src/linter/cli.rs
Labels: C-cleanup, 0-merge

#12930 refactor(ast_tools/formatter): compile list of no following nodes as `TypeId`s
  tasks/ast_tools/src/generators/formatter/ast_nodes.rs
Labels: C-cleanup, A-ast-tools

#12931 refactor(tasks/track_memory_allocations): shorten code
  tasks/track_memory_allocations/src/lib.rs
Labels: C-cleanup

#12936 refactor(allocator): do not make `Allocator::bump` field public
  crates/oxc_allocator/src/alloc.rs
  crates/oxc_allocator/src/allocator.rs
Labels: C-cleanup

#12937 refactor(allocator): move allocation tracking code into own module
  crates/oxc_allocator/README.md
  crates/oxc_allocator/src/alloc.rs
  crates/oxc_allocator/src/allocator.rs
  crates/oxc_allocator/src/lib.rs
  crates/oxc_allocator/src/tracking.rs
  tasks/track_memory_allocations/src/lib.rs
Labels: C-cleanup

#12932 fix(oxlint): run `tsgolint.CMD` under windows
  apps/oxlint/src/lint.rs
  apps/oxlint/src/tsgolint.rs
Labels: C-bug, A-cli

#12938 feat(minifier): fold `(!0).toString()` to `true`
  crates/oxc_ecmascript/src/constant_evaluation/call_expr.rs
  crates/oxc_ecmascript/src/constant_evaluation/value.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
Labels: C-enhancement, A-minifier, 0-merge

#12924 test(linter): add test for extended configs and overrides for tsgolint
  apps/oxlint/fixtures/tsgolint/config-test.json
  apps/oxlint/fixtures/tsgolint/extended-config.json
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__tsgolint_--type-aware -c config-test.json@oxlint.snap
Labels: A-cli, 0-merge, C-test

#12951 feat(minifier): `new Date()` has `ValueType::Object`
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
Labels: C-enhancement, A-minifier, 0-merge

#12952 refactor(ecmascript): change `IsGlobalReference` to `GlobalContext`
  crates/oxc_ecmascript/CHANGELOG.md
  crates/oxc_ecmascript/src/array_join.rs
  crates/oxc_ecmascript/src/constant_evaluation/is_int32_or_uint32.rs
  crates/oxc_ecmascript/src/constant_evaluation/value.rs
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_ecmascript/src/global_context.rs
  crates/oxc_ecmascript/src/lib.rs
  crates/oxc_ecmascript/src/side_effects/context.rs
  crates/oxc_ecmascript/src/to_big_int.rs
  crates/oxc_ecmascript/src/to_boolean.rs
  crates/oxc_ecmascript/src/to_number.rs
  crates/oxc_ecmascript/src/to_numeric.rs
  crates/oxc_ecmascript/src/to_primitive.rs
  crates/oxc_ecmascript/src/to_string.rs
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/return_checker.rs
  crates/oxc_linter/src/rules/eslint/yoda.rs
  crates/oxc_linter/src/utils/react.rs
  crates/oxc_minifier/CHANGELOG.md
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/tests/ecmascript/array_join.rs
  crates/oxc_minifier/tests/ecmascript/is_int32_or_uint32.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/to_boolean.rs
  crates/oxc_minifier/tests/ecmascript/to_number.rs
  crates/oxc_minifier/tests/ecmascript/to_string.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
Labels: A-linter, A-minifier, C-cleanup, A-transformer, 0-merge

#12953 refactor(minifier,ecmascript): clean up `is_global_reference`
  crates/oxc_ecmascript/src/constant_evaluation/call_expr.rs
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_ecmascript/src/global_context.rs
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_ecmascript/src/to_boolean.rs
  crates/oxc_ecmascript/src/to_number.rs
  crates/oxc_ecmascript/src/to_string.rs
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/mod.rs
  crates/oxc_minifier/tests/ecmascript/to_boolean.rs
  crates/oxc_minifier/tests/ecmascript/to_number.rs
  crates/oxc_minifier/tests/ecmascript/to_string.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: A-minifier, C-cleanup

#12882 refactor(codegen): remove the redundant `base_len` variable
  crates/oxc_codegen/src/lib.rs
Labels: C-cleanup, A-codegen

#12521 perf(lexer): only check for hashbang at start of file
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lib.rs
  tasks/benchmark/benches/lexer.rs
Labels: A-parser, C-performance, 0-merge

#12957 feat(minifier): logical assignment with sequential
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_logical_expression.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#12958 refactor(minifier): clean up `try_compress_typeof_undefined`
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, A-ast, 0-merge

#12927 fix(linter): fix no-fallthrough rule, when the default condition is not last
  crates/oxc_linter/src/rules/eslint/no_fallthrough.rs
Labels: C-bug, A-linter

#12969 refactor(minifier): change AST in-place instead of returning `Option<Expression>`
  AGENTS.md
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup

#12881 feat(formatter): correct comments printing for `SwitchStatement`
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/switch_statement.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
Labels: C-enhancement, 0-merge, A-formatter

#12983 test(linter/expect-expect): add test case for calling expect as return arg
  crates/oxc_linter/src/rules/jest/expect_expect.rs
Labels: A-linter, C-test

#12984 fix(linter/tsgolint): report an error if tsgolint executable failed to spawn
  apps/oxlint/src/tsgolint.rs
Labels: C-bug, A-cli

#12989 docs(ci): fix typos
  .github/workflows/ci.yml
Labels: C-docs

#12991 fix(linter): update warn_correctness to correctly warn when using vitest plugin
  crates/oxc_linter/src/config/config_builder.rs
Labels: C-bug, A-linter

#13000 refactor(minfier): single match expression
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, 0-merge

#13001 test(oxlint): enable tsgolint test with config parameter for windows
  apps/oxlint/src/lint.rs
Labels: A-cli, C-test

#12963 feat(linter): add dangerous suggestion for `jsx-a11y/tabindex-no-positive`
  crates/oxc_linter/src/rules/jsx_a11y/tabindex_no_positive.rs
Labels: C-enhancement, A-linter, 0-merge

#13026 feat(minifier): `.minify` and `.dce` methods; run dce in loop
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/compressor.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/tests/peephole/dead_code_elimination.rs
  napi/minify/src/lib.rs
  napi/playground/src/lib.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/minsize/src/lib.rs
Labels: C-enhancement, A-minifier

#13028 refactor(minifier): use the original vec in-place in `minimize_statements`
  crates/oxc_minifier/src/peephole/minimize_statements.rs
Labels: A-minifier, C-cleanup

#13044 refactor(minifier): inline statement methods
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_declaration.rs
  tasks/minsize/minsize.snap
Labels: A-minifier, C-cleanup

#13048 feat(codegen): allow attaching comment to the top of the file.
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/comments.rs
Labels: C-enhancement, A-codegen, 0-merge

#13023 feat(linter/consistent-type-specifier-style): add fixer for `top-level` style config
  crates/oxc_linter/src/rules/import/consistent_type_specifier_style.rs
Labels: C-enhancement, A-linter

#12980 feat(formatter): support `AssignmentLike::ObjectProperty` and `AssignmentLike::PropertyDefinition`
  crates/oxc_formatter/src/generated/ast_nodes.rs
  crates/oxc_formatter/src/utils/assignment_like.rs
  crates/oxc_formatter/src/utils/mod.rs
  crates/oxc_formatter/src/utils/object.rs
  crates/oxc_formatter/src/utils/string_utils.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/utils/mod.rs
  tasks/ast_tools/src/generators/formatter/ast_nodes.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-ast-tools, A-formatter

#13018 feat(formatter): complete printing `Class` and `decorators`
  crates/oxc_formatter/src/formatter/builders.rs
  crates/oxc_formatter/src/formatter/comments/mod.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/parentheses/expression.rs
  crates/oxc_formatter/src/write/class.rs
  crates/oxc_formatter/src/write/decorators.rs
  crates/oxc_formatter/src/write/export_declarations.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/type_parameters.rs
  tasks/ast_tools/src/generators/formatter/format.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-ast-tools, A-formatter

#13054 perf(codegen): reduce memory allocations in `generate_line_offset_tables`
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: C-performance, A-codegen, 0-merge

#13032 fix(linter): prevent unsound use of `Allocator` across threads
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
  crates/oxc_linter/src/service/mod.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_linter/src/tester.rs
Labels: C-bug, A-linter, 0-merge, A-editor

#13056 perf(codegen): further reduce memory allocations in `generate_line_offset_tables`
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: C-performance, A-codegen, 0-merge

#13078 perf(minifier): no need to collect references if AST is not changed
  crates/oxc_minifier/src/peephole/mod.rs
Labels: A-minifier, C-performance

#13080 refactor(minifier): clean up `remove_unused_expression`
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: A-minifier, C-cleanup

#13082 feat(minifier): mark more global constructors as side-effect free
  Cargo.lock
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/Cargo.toml
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-enhancement, A-minifier

#13087 fix(tsgolint): handle non-zero exit status from tsgolint process
  apps/oxlint/src/tsgolint.rs
Labels: C-bug, A-cli, 0-merge

#13083 fix(linter): fix whitespace handling in disable directives
  crates/oxc_linter/src/disable_directives.rs
Labels: C-bug, A-linter

#13085 fix(tasks): allocation tracker prevent counter overflow
  tasks/track_memory_allocations/src/lib.rs
Labels: C-bug, 0-merge

#13081 fix(linter/array-callback-return): fix handling of default case in switch statements for array-callback-return rule
  crates/oxc_linter/src/rules/eslint/array_callback_return/mod.rs
  crates/oxc_linter/src/rules/eslint/array_callback_return/return_checker.rs
Labels: C-bug, A-linter

#13062 fix(linter): do not count type-aware rules, when not enabled
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/_--ignore-path fixtures__linter__.customignore --no-ignore fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_--ignore-pattern _____.js --ignore-pattern _____.vue fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin -A all -D no-cycle fixtures__flow__@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin fixtures__flow__index.mjs@oxlint.snap
  apps/oxlint/src/snapshots/_--vitest-plugin -c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-D correctness fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W correctness -A no-debugger fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__eslintrc_env__eslintrc_no_env.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__no_undef__eslintrc.json fixtures__no_undef__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_env__eslintrc_env_browser.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_off__eslintrc.json fixtures__eslintrc_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__linter__eslintrc.json fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_console_off__eslintrc.json fixtures__no_console_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_allow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_allow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_disallow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_disallow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.js -c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.ts -c fixtures__overrides__.oxlintrc.json fixtures__overrides__other.jsx@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__directories-config.json fixtures__overrides@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__astro__debugger.astro@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__js_as_jsx.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__svelte__debugger.svelte@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__debugger.vue@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__empty.vue@oxlint.snap
  apps/oxlint/src/snapshots/_foo.asdf@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__ignore_directory_-c eslintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__with_oxlintrc_-c .__test__eslintrc.json --ignore-pattern _.ts .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config extends_rules_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config relative_paths__extends_extends_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--disable-nested-config@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__ignore_file_current_dir_ .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import-cycle_--import-plugin -D import__no-cycle@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_10394_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_11054_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_11644_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__linter_debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_env_globals_-c .oxlintrc.json .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_with_plugin_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__report_unused_directives_-c .oxlintrc.json --report-unused-disable-directives test.js@oxlint.snap
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/lib.rs
Labels: C-bug, A-linter, A-cli, 0-merge

#13072 refactor(linter): avoid unnecessary var initialization
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup, 0-merge

#13073 refactor(linter): dereference `Allocator` from `AllocatorGuard`
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup

#13074 refactor(linter): rename var for consistency
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup

#13104 docs(allocator): document all cargo features
  crates/oxc_allocator/README.md
  crates/oxc_allocator/src/lib.rs
Labels: 0-merge, C-docs

#13100 refactor(ast): shorten serialize code using let chains
  crates/oxc_ast/src/serialize/mod.rs
Labels: C-cleanup, A-ast, 0-merge

#13064 fix(ci): avoid code injection via template expansion
  .github/actions/clone-submodules/action.yml
Labels: C-bug

#13113 fix(minifier): keep `Array` reference id when compressing `Array()`
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: C-bug, A-minifier

#13117 feat(linter): add eslint/prefer-template rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/prefer_template.rs
  crates/oxc_linter/src/snapshots/eslint_prefer_template.snap
Labels: C-enhancement, A-linter

#13114 feat(minifier): rewrite `arguments` copy loops to spread syntax
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#13123 refactor(tasks): always explicitly initialize Rayon thread pool
  tasks/coverage/src/main.rs
Labels: C-cleanup, 0-merge

#13124 refactor(allocator): harden safety of `FixedSizeAllocator::new`
  crates/oxc_allocator/src/pool_fixed_size.rs
Labels: C-cleanup, 0-merge

#13122 refactor(linter): always explicitly initialize Rayon thread pool
  apps/oxlint/src/command/lint.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#13128 refactor(allocator): remove `Default` impl for `AllocatorPool`
  crates/oxc_allocator/src/pool.rs
  crates/oxc_allocator/src/pool_fixed_size.rs
Labels: C-cleanup, 0-merge

#13129 refactor(allocator): rename vars and comments in `AllocatorPool`
  crates/oxc_allocator/src/pool.rs
  crates/oxc_allocator/src/pool_fixed_size.rs
Labels: C-cleanup

#13127 refactor(linter): pass cwd instead of `LintServiceOptions` into `TsGoLintState`
  apps/oxlint/src/lint.rs
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#13132 refactor(linter): fix dead code warnings when compiling `napi/oxlint2`
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup, 0-merge

#13131 refactor(linter): pass paths to `TsGoLintState.lint` method
  apps/oxlint/src/lint.rs
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#13116 feat(ecmascript): treat `[...arguments]` as side effect free
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-enhancement, A-minifier, 0-merge

#13060 refactor(minfier): consistent method names
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  crates/oxc_minifier/src/peephole/minimize_not_expression.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: A-minifier, C-cleanup, 0-merge

#13086 feat(minifier): mark more known global methods as side-effect free
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
  crates/oxc_minifier/tests/peephole/obscure_edge_cases.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#12210 feat(linter): support `ignorePatterns` for nested configs
  Cargo.lock
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension__main.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__with_oxlintrc_-c .__test__eslintrc.json --ignore-pattern _.ts .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__ignore_file_current_dir_ .@oxlint.snap
  crates/oxc_language_server/fixtures/linter/ignore_patterns/.oxlintrc.json
  crates/oxc_language_server/fixtures/linter/ignore_patterns/another_config/.oxlintrc.json
  crates/oxc_language_server/fixtures/linter/ignore_patterns/another_config/not-ignored-file.ts
  crates/oxc_language_server/fixtures/linter/ignore_patterns/ignored-file.ts
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/snapshots/fixtures_linter_ignore_patterns@another_config_not-ignored-file.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_ignore_patterns@ignored-file.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_root_ignore_patterns@ignored-file.ts.snap
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/service/mod.rs
  editors/vscode/.oxlintrc.json
  napi/oxlint2/test/fixtures/basic_custom_plugin/.oxlintrc.json
  napi/oxlint2/test/fixtures/basic_custom_plugin_many_files/.oxlintrc.json
  napi/oxlint2/test/fixtures/basic_custom_plugin_multiple_rules/.oxlintrc.json
  napi/oxlint2/test/fixtures/basic_custom_plugin_warn_severity/.oxlintrc.json
  napi/oxlint2/test/fixtures/context_properties/.oxlintrc.json
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides/.oxlintrc.json
  napi/oxlint2/test/fixtures/custom_plugin_via_overrides_missing_rule/.oxlintrc.json
Labels: C-enhancement, A-linter, A-cli, A-editor

#13133 refactor(napi/parser): move creating JS buffer into separate function
  napi/oxlint2/src/lib.rs
Labels: C-cleanup, 0-merge

#13134 feat(allocator): add `data_end_ptr` and `set_cursor_ptr` methods to `Allocator`
  crates/oxc_allocator/src/from_raw_parts.rs
Labels: C-enhancement, 0-merge

#13142 refactor(allocator, napi/parser): use `usize::is_multiple_of`
  crates/oxc_allocator/src/from_raw_parts.rs
  napi/parser/src/raw_transfer.rs
Labels: C-cleanup, 0-merge

#13140 refactor(linter): `message_to_message_with_position` helper function
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup, 0-merge

#13145 perf(napi/parser): raw transfer: reduce maths complexity
  napi/parser/src/raw_transfer.rs
Labels: C-performance, 0-merge

#13144 refactor(linter): add impl for `TsGoLintDiagnostic` into `Message`
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, C-cleanup, 0-merge

#13148 feat(oxlint): oxlint v0.0.3
  apps/oxlint/src/snapshots/fixtures__tsgolint_--type-aware no-floating-promises -c config-test.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__tsgolint_--type-aware no-floating-promises@oxlint.snap
  package.json
  pnpm-lock.yaml
Labels: C-enhancement, A-cli

#13153 fix(npm/oxlint): make `oxlint-tsgolint` truly optional
  npm/oxlint/scripts/generate-packages.mjs
Labels: C-bug

#13139 docs(allocator): correct and expand safety comments on `Allocator` methods
  crates/oxc_allocator/src/from_raw_parts.rs
  crates/oxc_allocator/src/pool_fixed_size.rs
Labels: 0-merge, C-docs

#13190 perf(codegen): faster splitting comments into lines
  crates/oxc_codegen/src/comment.rs
Labels: C-performance, A-codegen, 0-merge

#13194 fix(oxlint)!: do not ignore hidden dot directories by default
  apps/oxlint/fixtures/dot_folder/.a_dot_folder/index.ts
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__dot_folder_@oxlint.snap
  apps/oxlint/src/walk.rs
Labels: C-bug, A-cli, 0-merge

#13212 refactor(estree): add `#[repr(transparent)]` to config structs
  crates/oxc_estree/src/serialize/config.rs
Labels: C-cleanup

#13201 fix(linter/prefer-for-of): false positive with diff member expression
  crates/oxc_linter/src/rules/typescript/prefer_for_of.rs
  crates/oxc_linter/src/snapshots/typescript_prefer_for_of.snap
Labels: C-bug, A-linter, 0-merge

#13040 fix(allocator): remove `Clone` impl from `Vec`
  crates/oxc_allocator/src/vec2/mod.rs
Labels: C-bug
