Repository oxc-project/oxc, pull requests merged in 2025-10, with the labels that each got.

#14218 fix(mangler): mangle private class members used in nested classes properly
  crates/oxc_codegen/src/gen.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_minifier/tests/mangler/snapshots/private_member_mangling.snap
Labels: C-bug, A-minifier, A-codegen, 0-merge

#14217 fix(minifier): keep private class members used in nested classes
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_unused_private_members.rs
  crates/oxc_minifier/src/state.rs
Labels: C-bug, A-minifier, 0-merge

#14186 fix(minifier): remove `continue` in the end of for-in / for-of
  crates/oxc_minifier/src/peephole/minimize_statements.rs
Labels: C-bug, A-minifier, 0-merge

#14279 test(linter/plugins): test `createOnce` returning no visitor functions
  apps/oxlint/test/fixtures/definePlugin/.oxlintrc.json
  apps/oxlint/test/fixtures/definePlugin/eslint.config.js
  apps/oxlint/test/fixtures/definePlugin/eslint.snap.md
  apps/oxlint/test/fixtures/definePlugin/output.snap.md
  apps/oxlint/test/fixtures/definePlugin/plugin.ts
  apps/oxlint/test/fixtures/definePlugin_and_defineRule/.oxlintrc.json
  apps/oxlint/test/fixtures/definePlugin_and_defineRule/eslint.config.js
  apps/oxlint/test/fixtures/definePlugin_and_defineRule/eslint.snap.md
  apps/oxlint/test/fixtures/definePlugin_and_defineRule/output.snap.md
  apps/oxlint/test/fixtures/definePlugin_and_defineRule/plugin.ts
  apps/oxlint/test/fixtures/defineRule/.oxlintrc.json
  apps/oxlint/test/fixtures/defineRule/eslint.config.js
  apps/oxlint/test/fixtures/defineRule/eslint.snap.md
  apps/oxlint/test/fixtures/defineRule/output.snap.md
  apps/oxlint/test/fixtures/defineRule/plugin.ts
Labels: A-linter, A-cli, 0-merge, C-test

#14280 refactor(linter/plugins): convert `Node` type to interface
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/src-js/plugins/fix.ts
  apps/oxlint/src-js/plugins/types.ts
Labels: A-linter, A-cli, C-cleanup, 0-merge

#14266 fix(linter/react-hooks): fix diagnostic message for literal in dependency array
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
Labels: C-bug, A-linter, 0-merge

#14272 feat(linter): add `vue/define-props-destructuring` rule
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/vue/define_props_destructuring.rs
  crates/oxc_linter/src/snapshots/vue_define_props_destructuring.snap
Labels: C-enhancement, A-linter, 0-merge

#14283 fix(tasks/rulegen): trim quotes from filename
  tasks/rulegen/src/main.rs
Labels: C-bug, A-linter, 0-merge

#14284 feat(linter): add `vue/prefer-import-from-vue` rule
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/vue/prefer_import_from_vue.rs
  crates/oxc_linter/src/snapshots/vue_prefer_import_from_vue.snap
Labels: C-enhancement, A-linter

#14286 perf(linter/plugins): use singleton for `SourceCode`
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/test/fixtures/sourceCode/output.snap.md
  apps/oxlint/test/fixtures/sourceCode/plugin.ts
Labels: A-linter, A-cli, C-performance, 0-merge

#14288 perf(linter/plugins): deserialize AST on demand
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/sourceCode_late_access/.oxlintrc.json
  apps/oxlint/test/fixtures/sourceCode_late_access/files/1.js
  apps/oxlint/test/fixtures/sourceCode_late_access/files/2.js
  apps/oxlint/test/fixtures/sourceCode_late_access/output.snap.md
  apps/oxlint/test/fixtures/sourceCode_late_access/plugin.ts
  apps/oxlint/test/fixtures/sourceCode_late_access_after_only/.oxlintrc.json
  apps/oxlint/test/fixtures/sourceCode_late_access_after_only/files/1.js
  apps/oxlint/test/fixtures/sourceCode_late_access_after_only/files/2.js
  apps/oxlint/test/fixtures/sourceCode_late_access_after_only/output.snap.md
  apps/oxlint/test/fixtures/sourceCode_late_access_after_only/plugin.ts
Labels: A-linter, A-cli, C-performance, 0-merge

#14289 feat(linter/plugins): implement `SourceCode#visitorKeys` property
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/test/fixtures/sourceCode/output.snap.md
  apps/oxlint/test/fixtures/sourceCode/plugin.ts
Labels: C-enhancement, A-linter, A-cli

#14051 refactor(linter): introduce `LintRunner`
  apps/oxlint/src/lint.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/lint_runner.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#14296 refactor(tsgolint): remove always `Some` option wrapper
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, C-cleanup

#14302 perf(linter/plugins): initialize `lineStartOffsets` as `[0]`
  apps/oxlint/src-js/plugins/source_code.ts
Labels: A-linter, A-cli, C-performance, 0-merge

#14297 refactor(tsgolint): use an iterator for tsgolint message parsing
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, C-cleanup, 0-merge

#14303 feat(linter/plugins): implement `SourceCode#getIndexFromLoc` and `getLocFromIndex`
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/test/fixtures/sourceCode/output.snap.md
  apps/oxlint/test/fixtures/sourceCode/plugin.ts
Labels: C-enhancement, A-linter, A-cli, 0-merge

#14304 feat(linter/plugins): accept diagnostics with `loc`
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/diagnostic_loc/.oxlintrc.json
  apps/oxlint/test/fixtures/diagnostic_loc/files/index.js
  apps/oxlint/test/fixtures/diagnostic_loc/output.snap.md
  apps/oxlint/test/fixtures/diagnostic_loc/plugin.ts
Labels: C-enhancement, A-linter, A-cli, 0-merge

#14300 refactor(tsgolint): make parsing `TsGoLintMessage` parsing errors an enum
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, C-cleanup, 0-merge

#14301 fix(tsgolint): report errors if we fail to parse tsgolint diagnostic messages
  crates/oxc_linter/src/tsgolint.rs
Labels: C-bug, A-linter, 0-merge

#14309 refactor(ast_tools): remove extraneous file
  tasks/ast_tools/node_modules/@typescript-eslint/visitor-keys
Labels: C-cleanup, 0-merge, A-ast-tools

#14315 fix(mangler): allow using typescript keywords as variable names
  Cargo.lock
  crates/oxc_mangler/Cargo.toml
  crates/oxc_mangler/src/lib.rs
  tasks/minsize/minsize.snap
Labels: C-bug, 0-merge

#14323 test(transformer): enable `export-type-star-from` test
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/src/constants.rs
Labels: A-transformer, 0-merge, C-test

#14254 feat(rust): oxc-index-vec v4.0
  Cargo.lock
  Cargo.toml
  crates/oxc_cfg/Cargo.toml
  crates/oxc_cfg/src/dot.rs
  crates/oxc_cfg/src/lib.rs
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/sourcemap_builder.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/eslint/no_useless_backreference.rs
  crates/oxc_linter/src/rules/jest/max_expects.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_mangler/Cargo.toml
  crates/oxc_mangler/src/lib.rs
  crates/oxc_semantic/src/scoping.rs
  crates/oxc_semantic/tests/main.rs
  crates/oxc_syntax/Cargo.toml
  crates/oxc_syntax/src/comment_node.rs
  crates/oxc_syntax/src/node.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
  napi/playground/Cargo.toml
  napi/playground/src/lib.rs
  tasks/ast_tools/Cargo.toml
  tasks/ast_tools/src/parse/load.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-enhancement, A-linter, A-semantic, A-codegen, 0-merge, A-cfg, A-ast-tools

#14211 feat(allocator): add `HashMap::from_iter_in`
  crates/oxc_allocator/src/hash_map.rs
Labels: C-enhancement, 0-merge

#14329 docs(allocator/hashmap): add comments to `HashMap::from_iter_in`
  crates/oxc_allocator/src/hash_map.rs
Labels: 0-merge, C-docs

#14308 refactor(napi/parser): minify syntax in raw transfer deserializers
  Cargo.lock
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  tasks/ast_tools/Cargo.toml
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: A-parser, C-cleanup, A-ast-tools

#14313 refactor(napi/parser): simplify raw transfer deserializer codegen
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: A-parser, C-cleanup, A-ast, 0-merge, A-ast-tools

#14321 feat(linter/plugins): include `range` field in AST
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/src-js/plugins/fix.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/test/fixtures/context_properties/plugin.ts
  apps/oxlint/test/fixtures/createOnce/plugin.ts
  apps/oxlint/test/fixtures/definePlugin/plugin.ts
  apps/oxlint/test/fixtures/definePlugin_and_defineRule/plugin.ts
  apps/oxlint/test/fixtures/defineRule/plugin.ts
  apps/oxlint/test/fixtures/estree/output.snap.md
  apps/oxlint/test/fixtures/estree/plugin.ts
  apps/oxlint/test/fixtures/fixes/plugin.ts
  apps/oxlint/test/fixtures/sourceCode/plugin.ts
  apps/oxlint/test/fixtures/sourceCode_late_access/plugin.ts
  apps/oxlint/test/fixtures/sourceCode_late_access_after_only/plugin.ts
  apps/oxlint/test/fixtures/utf16_offsets/output.snap.md
  apps/oxlint/test/fixtures/utf16_offsets/plugin.ts
Labels: C-enhancement, A-linter, A-cli

#14336 refactor(ast_tools/raw_transfer): remove support for flattening enums
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#14337 refactor(ast_tools/raw_transfer): simplify generating struct deserializer preamble
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-cleanup, A-ast-tools

#14343 refactor(ast_tools/raw_transfer): generate deserializers in loop
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#14345 feat(linter/plugins): add `parent` field to AST nodes
  .github/generated/ast_changes_watch_list.yml
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/parent/.oxlintrc.json
  apps/oxlint/test/fixtures/parent/files/index.js
  apps/oxlint/test/fixtures/parent/output.snap.md
  apps/oxlint/test/fixtures/parent/plugin.ts
  napi/parser/generated/deserialize/ts_range_parent_no_parens.js
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-enhancement, A-linter, A-parser, A-cli, A-ast-tools

#14346 feat(linter/plugins): implement `SourceCode#getAncestors`
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/test/fixtures/parent/output.snap.md
  apps/oxlint/test/fixtures/parent/plugin.ts
Labels: C-enhancement, A-linter, A-cli

#14325 fix(parser): forbid abstract class members with implementation in parser instead of semantic
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/misc/fail/oxc-14013.ts
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser, A-semantic

#14349 refactor(linter/plugins): share `ast` between files
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/source_code.ts
Labels: A-linter, A-cli, C-cleanup, 0-merge

#14352 refactor(linter/plugins): `SourceCode#getText` use `range`
  apps/oxlint/src-js/plugins/source_code.ts
Labels: A-linter, A-cli, C-cleanup

#14353 refactor(linter/plugins): export AST types direct from `oxlint` package
  .github/generated/ast_changes_watch_list.yml
  apps/oxlint/package.json
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/generated/types.d.ts
  apps/oxlint/src-js/generated/visitor.d.ts
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/scope.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/test/fixtures/sourceCode/plugin.ts
  apps/oxlint/test/fixtures/sourceCode_late_access/plugin.ts
  pnpm-lock.yaml
  tasks/ast_tools/src/generators/estree_visit.rs
  tasks/ast_tools/src/generators/typescript.rs
Labels: A-linter, A-cli, C-cleanup, A-ast-tools

#14354 fix(linter/plugins): make `range` field non-optional on AST types
  apps/oxlint/src-js/generated/types.d.ts
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/src-js/plugins/fix.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/test/compile-visitor.test.ts
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-bug, A-linter, A-cli, A-ast-tools

#14355 feat(linter/plugins): add `loc` field getter to all AST nodes
  .github/generated/ast_changes_watch_list.yml
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/generated/types.d.ts
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/location.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/test/compile-visitor.test.ts
  apps/oxlint/test/fixtures/context_properties/plugin.ts
  apps/oxlint/test/fixtures/createOnce/plugin.ts
  apps/oxlint/test/fixtures/definePlugin/plugin.ts
  apps/oxlint/test/fixtures/definePlugin_and_defineRule/plugin.ts
  apps/oxlint/test/fixtures/defineRule/plugin.ts
  apps/oxlint/test/fixtures/estree/output.snap.md
  apps/oxlint/test/fixtures/estree/plugin.ts
  apps/oxlint/test/fixtures/sourceCode/plugin.ts
  apps/oxlint/test/fixtures/sourceCode_late_access/plugin.ts
  apps/oxlint/test/fixtures/sourceCode_late_access_after_only/plugin.ts
  apps/oxlint/test/fixtures/utf16_offsets/output.snap.md
  apps/oxlint/test/fixtures/utf16_offsets/plugin.ts
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/js_parent.js
  napi/parser/generated/deserialize/js_range.js
  napi/parser/generated/deserialize/js_range_parent.js
  napi/parser/generated/deserialize/ts.js
  napi/parser/generated/deserialize/ts_parent.js
  napi/parser/generated/deserialize/ts_range.js
  napi/parser/generated/deserialize/ts_range_loc_parent_no_parens.js
  napi/parser/generated/deserialize/ts_range_parent.js
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-enhancement, A-linter, A-parser, A-cli, 0-merge, A-ast-tools

#14328 fix(linter): fix flaky import/no_cycle test
  crates/oxc_linter/src/module_graph_visitor.rs
Labels: C-bug, A-linter, 0-merge

#14366 chore(tasks/lint_rules): add unsupported promise/no-native
  tasks/lint_rules/src/oxlint-rules.mjs
Labels: C-cleanup

#14305 fix(tasks/lint_rules): update import syntax for `eslint-plugin-react-hooks`
  tasks/lint_rules/src/eslint-rules.mjs
Labels: C-bug

#14306 chore(tasks/lint_rules): unsupport more vue rules
  tasks/lint_rules/src/oxlint-rules.mjs
Labels: C-cleanup, 0-merge

#14369 fix(linter/no-useless-undefined): correctly respect `checkArguments` option
  crates/oxc_linter/src/rules/unicorn/no_useless_undefined.rs
Labels: C-bug, A-linter

#14361 fix(mangler): mangle private class members in subsequent classes correctly
  Cargo.lock
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_mangler/Cargo.toml
  crates/oxc_mangler/src/lib.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_minifier/tests/mangler/snapshots/private_member_mangling.snap
Labels: C-bug, A-minifier, A-codegen

#14362 fix(mangler): avoid reusing same mangled names in the outer class
  crates/oxc_mangler/src/lib.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_minifier/tests/mangler/snapshots/private_member_mangling.snap
Labels: C-bug, A-minifier

#14373 refactor(linter/plugins): bundle walker and AST types map
  .github/generated/ast_changes_watch_list.yml
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/generated/types.js
  apps/oxlint/src-js/generated/walk.js
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/visitor.ts
  apps/oxlint/test/compile-visitor.test.ts
  tasks/ast_tools/src/generators/estree_visit.rs
Labels: A-linter, A-cli, C-cleanup, A-ast-tools

#14374 refactor(linter/plugins): remove build-time dependency on `napi/parser`
  .github/generated/ast_changes_watch_list.yml
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/generated/deserialize.js
  apps/oxlint/src-js/generated/keys.js
  apps/oxlint/src-js/plugins/source_code.ts
  tasks/ast_tools/src/generators/estree_visit.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: A-linter, A-cli, C-cleanup, A-ast-tools

#14376 refactor(napi/parser, linter/plugins): minify walker code
  apps/oxlint/src-js/generated/walk.js
  napi/parser/generated/visit/walk.js
  tasks/ast_tools/src/generators/estree_visit.rs
Labels: A-linter, A-parser, A-cli, C-cleanup, A-ast-tools

#14378 perf(language_server): create less `ExternalPluginStore`s
  crates/oxc_language_server/src/linter/server_linter.rs
Labels: C-performance, 0-merge, A-editor

#14381 release(oxlint): v1.20.0
  Cargo.lock
  apps/oxlint/CHANGELOG.md
  apps/oxlint/Cargo.toml
  apps/oxlint/package.json
  apps/oxlint/src-js/bindings.js
  crates/oxc_language_server/CHANGELOG.md
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/CHANGELOG.md
  editors/vscode/package.json
  npm/oxlint/CHANGELOG.md
  npm/oxlint/package.json
Labels: A-linter, A-cli, A-editor

#14384 refactor(napi/parser, linter/plugins): rename `types.js` to `type_ids.js`
  .github/generated/ast_changes_watch_list.yml
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/generated/type_ids.js
  apps/oxlint/src-js/plugins/visitor.ts
  apps/oxlint/test/compile-visitor.test.ts
  napi/parser/generated/lazy/type_ids.js
  napi/parser/generated/visit/type_ids.js
  napi/parser/package.json
  napi/parser/src-js/raw-transfer/visitor.js
  napi/parser/src-js/visit/visitor.js
  tasks/ast_tools/src/generators/estree_visit.rs
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: A-linter, A-parser, A-cli, C-cleanup, 0-merge, A-ast-tools

#14385 refactor(linter/plugins): convert generated files to TS
  .github/generated/ast_changes_watch_list.yml
  apps/oxlint/src-js/generated/constants.ts
  apps/oxlint/src-js/generated/type_ids.ts
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/source_code.ts
  apps/oxlint/src-js/plugins/visitor.ts
  apps/oxlint/test/compile-visitor.test.ts
  tasks/ast_tools/src/generators/estree_visit.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: A-linter, A-cli, C-cleanup, A-ast-tools

#14391 test(napi/parser): increase timeout on slow test
  napi/parser/test/parse-raw.test.ts
Labels: A-parser, 0-merge, C-test

#14388 fix(package.json): fix quotes for windows compat
  package.json
Labels: C-bug, 0-merge

#14390 feat(parser): use typescript for raw transfer tests
  napi/parser/test/parse-raw-common.ts
  napi/parser/test/parse-raw-worker.ts
  napi/parser/test/parse-raw.test.ts
  napi/parser/test/typescript-make-units-from-test.ts
  napi/parser/tsconfig.json
Labels: C-enhancement, A-parser, 0-merge

#14109 feat(formatter/sort-imports): Wrap `ImportDeclaration` with `JsLabels`
  crates/oxc_formatter/examples/sort_imports.rs
  crates/oxc_formatter/src/lib.rs
  crates/oxc_formatter/src/write/import_declaration.rs
Labels: C-enhancement, A-formatter

#14292 feat(formatter/sort-imports): Add options.order: asc|desc
  crates/oxc_formatter/examples/sort_imports.rs
  crates/oxc_formatter/src/ir_transform/sort_imports.rs
  crates/oxc_formatter/src/options.rs
  crates/oxc_formatter/tests/ir_transform/sort_imports.rs
Labels: C-enhancement, A-formatter

#14293 feat(formatter/sort-imports): Implement options.sortSideEffects: bool
  crates/oxc_formatter/src/ir_transform/sort_imports.rs
  crates/oxc_formatter/tests/ir_transform/_sort-imports-tests.ref.snap
  crates/oxc_formatter/tests/ir_transform/sort_imports.rs
Labels: C-enhancement, A-formatter

#14367 feat(formatter/sort-imports): Implement options.ignoreCase: bool
  crates/oxc_formatter/examples/sort_imports.rs
  crates/oxc_formatter/src/ir_transform/sort_imports.rs
  crates/oxc_formatter/src/options.rs
  crates/oxc_formatter/tests/ir_transform/sort_imports.rs
Labels: C-enhancement, A-formatter

#14397 perf(parser): optimize comment annotation parsing
  crates/oxc_parser/src/lexer/trivia_builder.rs
Labels: A-parser, C-performance, 0-merge

#14403 perf(parser): cache `has_separator()` result in literal parsing
  crates/oxc_parser/src/js/expression.rs
Labels: A-parser, C-performance

#14412 ci(napi): remove redundant step from workflow + add comment
  .github/workflows/ci.yml
  apps/oxlint/test/eslint-compat.test.ts
Labels: A-linter, A-cli, 0-merge

#14414 fix(oxlint): ignore fixtures dir for vitest
  apps/oxlint/vitest.config.ts
Labels: C-bug, A-linter, A-cli, 0-merge

#14418 perf(linter/plugins): avoid private methods
  apps/oxlint/src-js/plugins/context.ts
Labels: A-linter, A-cli, C-performance, 0-merge

#14419 feat(linter/plugins): support interpolation in normal diagnostic `message`
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/message_interpolation/.oxlintrc.json
  apps/oxlint/test/fixtures/message_interpolation/files/index.js
  apps/oxlint/test/fixtures/message_interpolation/output.snap.md
  apps/oxlint/test/fixtures/message_interpolation/plugin.ts
Labels: C-enhancement, A-linter, A-cli, 0-merge

#14421 refactor(linter/plugins): remove default value from `Context` constructor
  apps/oxlint/src-js/plugins/context.ts
Labels: A-linter, A-cli, C-cleanup, 0-merge

#14422 refactor(linter/plugins): allow nullish values as `message` or `messageId`
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/context.ts
Labels: A-linter, A-cli, C-cleanup

#14434 refactor(ast_tools): refactor generating visitor type files
  tasks/ast_tools/src/generators/estree_visit.rs
Labels: C-cleanup, A-ast-tools

#14435 feat(linter/plugins): support selectors DSL
  apps/oxlint/package.json
  apps/oxlint/src-js/generated/type_ids.ts
  apps/oxlint/src-js/generated/visitor.d.ts
  apps/oxlint/src-js/plugins/selector.ts
  apps/oxlint/src-js/plugins/visitor.ts
  apps/oxlint/test/compile-visitor.test.ts
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/selector/.oxlintrc.json
  apps/oxlint/test/fixtures/selector/files/index.js
  apps/oxlint/test/fixtures/selector/output.snap.md
  apps/oxlint/test/fixtures/selector/plugin.ts
  pnpm-lock.yaml
  tasks/ast_tools/src/generators/estree_visit.rs
Labels: C-enhancement, A-linter, A-cli, A-ast-tools

#14057 fix(language_server): use the first Span of the message as the primary Diagnostic range
  crates/oxc_language_server/src/linter/error_with_position.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/snapshots/fixtures_linter_issue_9958@issue.ts.snap
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/lsp.rs
Labels: C-bug, A-linter, A-editor

#14429 refactor(linter/language_server): `oxc_linter::TsgoLinter::run_source` returns `Message`
  crates/oxc_language_server/src/linter/tsgo_linter.rs
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, C-cleanup, 0-merge, A-editor
