Repository oxc-project/oxc, pull requests merged in 2025-05, with the labels that each got.

#10730 test(language_server): refactor tester to use WorkspaceWorker
  crates/oxc_language_server/fixtures/linter/deny_no_console/.oxlintrc.json
  crates/oxc_language_server/fixtures/linter/deny_no_console/hello_world.js
  crates/oxc_language_server/fixtures/linter/no_errors/.oxlintrc.json
  crates/oxc_language_server/fixtures/linter/no_errors/hello_world.js
  crates/oxc_language_server/fixtures/linter/regexp_feature/.oxlintrc.json
  crates/oxc_language_server/src/linter/mod.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/linter/snapshots/fixtures_linter_cross_module_nested_config_dep-a.ts.snap
  crates/oxc_language_server/src/linter/snapshots/fixtures_linter_hello_world.js@no_errors.snap
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/snapshots/fixtures_linter_astro@debugger.astro.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module@debugger.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_extended_config@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_nested_config@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_nested_config@folder_folder-dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_deny_no_console@hello_world.js.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_invalid_syntax@debugger.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_issue_9958@issue.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_no_errors@hello_world.js.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_regexp_feature@index.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_svelte@debugger.svelte.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_vue@debugger.vue.snap
  crates/oxc_language_server/src/tester.rs
  crates/oxc_language_server/src/worker.rs
Labels: A-editor, C-test

#10722 feat(span): introduce `format_atom!` macro
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/lib.rs
Labels: C-enhancement, 0-merge

#10739 fix(parser): Check comma in JSX expr lazily
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-parser, A-semantic

#10721 perf(transformer/jsx): skip creating temp `String`
  crates/oxc_transformer/src/jsx/jsx_impl.rs
Labels: C-performance, A-transformer, 0-merge

#10723 perf(transformer/regexp): avoid copying string data and temp `String`
  crates/oxc_transformer/src/regexp/mod.rs
Labels: C-performance, A-transformer

#10732 perf(isolated_declaration): avoid copying string data
  crates/oxc_isolated_declarations/src/literal.rs
Labels: C-performance, A-isolated-declarations

#10740 fix(linter): skip linting vue <script> where `lang` is not js / ts
  crates/oxc_linter/src/loader/partial_loader/vue.rs
  crates/oxc_span/src/source_type/mod.rs
Labels: C-bug, A-linter

#10733 perf(minifier): avoid temp `String`s and copying string data
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: A-minifier, C-performance, 0-merge

#10743 chore(tests): remove unneeded clones from lsp tests
  crates/oxc_language_server/src/tester.rs
Labels: C-cleanup, 0-merge, A-editor

#10746 feat(ast_tools): support `#[estree(via)]` on fieldless enum variants
  crates/oxc_syntax/src/generated/derive_estree.rs
  crates/oxc_syntax/src/serialize.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-enhancement, A-ast-tools

#10747 refactor(ast/estree): remove custom serializer for `TSMappedTypeModifierOperator`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
Labels: C-cleanup, A-ast

#10754 fix(linter): make require post message target origin a fixer a suggestion
  crates/oxc_linter/src/rules/unicorn/require_post_message_target_origin.rs
Labels: C-bug, A-linter, 0-merge

#10752 perf(napi/transform): do not create temp `String`
  napi/transform/src/transformer.rs
Labels: C-performance

#10741 chore(lsp): derive `Debug` for some more structs
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/service/offset_to_position.rs
Labels: A-linter, C-cleanup, 0-merge

#10755 refactor(traverse): remove `get_unique_name_impl`
  crates/oxc_traverse/src/context/scoping.rs
Labels: C-cleanup, 0-merge

#10682 feat(linter/no-extra-boolean-cast): implement auto-fixer
  crates/oxc_linter/src/rules/eslint/no_extra_boolean_cast.rs
  crates/oxc_macros/src/declare_oxc_lint.rs
Labels: C-enhancement, A-linter, 0-merge

#10735 refactor(ast)!: `AstBuilder` methods require an `Atom` with correct lifetime
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_linter/src/rules/unicorn/prefer_string_starts_ends_with.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_transformer/src/jsx/jsx_source.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/regexp/mod.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer_plugins/src/inject_global_variables.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: A-linter, A-minifier, C-cleanup, A-ast, A-transformer, 0-merge, A-isolated-declarations, A-ast-tools

#10737 feat(ast_tools): `AstBuilder` generator support types with more than 1 `Atom` field
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: C-enhancement, A-ast, A-ast-tools

#10744 test(lsp): include fixed content in lsp snapshots
  crates/oxc_language_server/src/snapshots/fixtures_linter_astro@debugger.astro.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module@debugger.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_extended_config@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_nested_config@folder_folder-dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_deny_no_console@hello_world.js.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_invalid_syntax@debugger.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_issue_9958@issue.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_regexp_feature@index.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_svelte@debugger.svelte.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_vue@debugger.vue.snap
  crates/oxc_language_server/src/tester.rs
Labels: A-editor, C-test

#10742 fix(lsp): incorrect quick fix offset in vue files
  crates/oxc_language_server/src/snapshots/fixtures_linter_astro@debugger.astro.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_svelte@debugger.svelte.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_vue@debugger.vue.snap
  crates/oxc_linter/src/service/runtime.rs
Labels: C-bug, A-linter, A-editor

#10750 fix(formatter): do not ignore result of `write!`
  crates/oxc_formatter/src/write/mod.rs
Labels: C-bug, 0-merge, A-formatter

#10749 refactor(ast)!: remove `TSMappedTypeModifierOperator::None` variant
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
Labels: A-parser, C-cleanup, A-ast, A-codegen, A-formatter

#10756 fix(parser): fix panic when the parser tries to re-lex `>>`
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/misc/fail/oxc-10639.js
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser

#10753 perf(transformer, linter): use `format_compact_str!`
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_transformer_plugins/src/inject_global_variables.rs
Labels: A-linter, C-performance

#10506 feat(linter): add react/forward_ref_uses_ref
  apps/oxlint/src/snapshots/_--ignore-path fixtures__linter__.customignore --no-ignore fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_--ignore-pattern _____.js --ignore-pattern _____.vue fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin -A all -D no-cycle fixtures__flow__@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin fixtures__flow__index.mjs@oxlint.snap
  apps/oxlint/src/snapshots/_--vitest-plugin -c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-D correctness fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W correctness -A no-debugger fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__eslintrc_env__eslintrc_no_env.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__no_undef__eslintrc.json fixtures__no_undef__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_env__eslintrc_env_browser.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_off__eslintrc.json fixtures__eslintrc_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__linter__eslintrc.json fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_console_off__eslintrc.json fixtures__no_console_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_allow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_allow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_disallow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_disallow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.js -c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.ts -c fixtures__overrides__.oxlintrc.json fixtures__overrides__other.jsx@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__directories-config.json fixtures__overrides@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__astro__debugger.astro@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__svelte__debugger.svelte@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__debugger.vue@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__empty.vue@oxlint.snap
  apps/oxlint/src/snapshots/_foo.asdf@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__ignore_directory_-c eslintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__with_oxlintrc_-c .__test__eslintrc.json --ignore-pattern _.ts .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config extends_rules_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config relative_paths__extends_extends_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--disable-nested-config@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__ignore_file_current_dir_ .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import-cycle_--import-plugin -D import__no-cycle@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__linter_debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_--config oxlint-no-console.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_-A no-console --config oxlint-no-console.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_env_globals_-c .oxlintrc.json .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__report_unused_directives_-c .oxlintrc.json --report-unused-disable-directives test.js@oxlint.snap
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/forward_ref_uses_ref.rs
  crates/oxc_linter/src/snapshots/react_forward_ref_uses_ref.snap
Labels: C-enhancement, A-linter, A-cli

#10745 perf(transformer/regexp): inline `enter_expression`
  crates/oxc_transformer/src/regexp/mod.rs
Labels: C-performance, A-transformer

#10748 perf(transformer/regexp): do not store parsed regexp
  crates/oxc_transformer/src/regexp/mod.rs
Labels: C-performance, A-transformer

#10759 perf(transformer): faster UID generation
  crates/oxc_traverse/src/context/mod.rs
  crates/oxc_traverse/src/context/scoping.rs
  crates/oxc_traverse/src/context/uid.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/overrides/babel-plugin-transform-typescript/test/fixtures/namespace/same-name/output.mjs
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-identifier/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-exponentiation-operator/test/fixtures/assign-to-member-expression/output.js
Labels: C-performance, A-transformer

#10757 feat(allocator): add `String::set_len` method
  crates/oxc_allocator/src/string.rs
Labels: C-enhancement, 0-merge

#10774 refactor(isolated_declarations): shorten code
  crates/oxc_isolated_declarations/src/literal.rs
Labels: C-cleanup, A-isolated-declarations

#10771 perf(semantic): reuse `Atom`
  crates/oxc_semantic/src/scoping.rs
Labels: A-semantic, C-performance, 0-merge

#10768 feat(codegen): expose `with_source_text` function
  crates/oxc_codegen/src/lib.rs
Labels: C-enhancement, A-codegen, 0-merge

#10769 fix(linter): fix panic when doing code gen on regexp
  crates/oxc_codegen/src/lib.rs
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
Labels: C-bug, A-linter, A-codegen

#10670 feat(allocator/vec2): introduce `extend_desugared` method as `extend` internal implementation
  crates/oxc_allocator/src/vec2/mod.rs
Labels: C-enhancement

#10675 perf(allocator/vec2): resolve performance regression for `extend` by marking reserve as `#[cold]` and `#[inline(never)]`
  crates/oxc_allocator/src/vec2/mod.rs
Labels: C-performance

#10686 perf(allocator/vec2): calling `Bump::grow` or `Bump::shrink` at the call site directly instead of calling `realloc`
  crates/oxc_allocator/src/vec2/raw_vec.rs
Labels: A-parser, C-performance

#9855 feat(allocator/vec2): add specialized `grow_one` method
  crates/oxc_allocator/src/vec2/raw_vec.rs
Labels: C-enhancement, 0-merge

#9856 perf(allocator/vec2): replace `self.reserve(1)` calls with `self.grow_one()` for better efficiency
  crates/oxc_allocator/src/vec2/mod.rs
  crates/oxc_allocator/src/vec2/raw_vec.rs
Labels: A-linter, A-cli, C-performance, 0-merge, A-editor

#10701 feat(allocator/vec2): align `RawVec::reserve` with standard library implementation
  crates/oxc_allocator/src/vec2/raw_vec.rs
Labels: C-enhancement

#9857 perf(allocator/vec2): align min amortized cap size with `std`
  crates/oxc_allocator/src/vec2/raw_vec.rs
Labels: C-performance

#10767 chore(ci): only run macos on main
  .github/workflows/ci.yml
Labels: C-cleanup

#10785 fix(napi/minify): need to remove all comments
  napi/minify/src/lib.rs
  napi/minify/src/options.rs
  napi/minify/test/minify.test.ts
Labels: C-bug

#10761 refactor(language_server): move functions related to `ServerLinter` to `ServerLinter`
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, 0-merge, A-editor

#10787 fix(ast/estree): fix raw deser for `TSTypeReference`
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-ast

#10786 fix(ast/estree): for TS type def for `BigIntLiteral`
  crates/oxc_ast/src/serialize.rs
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast

#10790 fix(codegen): make `source_text` an option, avoid panic
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
Labels: C-bug, A-codegen

#10792 feat(minifier): inline nested spread object literals
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier

#10793 fix(minifier): keep string spread in object literals as-is
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-bug, A-minifier

#10794 feat(minifier): remove function expressions passed to object spreads
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier

#10795 feat(minifier): inline object literal including __proto__ with spread operator
  crates/oxc_minifier/src/peephole/fold_constants.rs
Labels: C-enhancement, A-minifier

#10791 perf(parser): use visitor instead of JSON.parse reviver
  napi/parser/generate-visitor-keys.mjs
  napi/parser/generated/visitor-keys.cjs
  napi/parser/generated/visitor-keys.mjs
  napi/parser/package.json
  napi/parser/wrap.cjs
  napi/parser/wrap.mjs
  pnpm-lock.yaml
Labels: C-performance

#10808 fix(linter/no-unused-vars): Recognize parameters used in await/yield expressions within comma expressions
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/usage.rs
Labels: C-bug, A-linter

#10813 perf(napi/parser): simplify recursion and avoid function calls in fixup visitor
  napi/parser/wrap.cjs
  napi/parser/wrap.mjs
Labels: C-performance

#10814 perf(language_server): use `simdutf8` when reading files from file system
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/utils/mod.rs
Labels: A-linter, C-performance, 0-merge, A-editor

#10810 fix(language_server): return server version `initialize` response
  crates/oxc_language_server/src/main.rs
Labels: C-bug, 0-merge, A-editor

#10821 fix(ast_tools): generate valid output for `#[estree(skip)]` on enum variants with fields
  tasks/ast_tools/src/derives/estree.rs
Labels: C-bug, 0-merge, A-ast-tools

#10817 fix(napi/parser): expose visitor keys files in NPM package
  napi/parser/package.json
Labels: C-bug

#10820 perf(napi/parser): faster fixup of `BigInt`s and `RegExp`s
  crates/oxc_ast/src/serialize.rs
  crates/oxc_estree/Cargo.toml
  crates/oxc_estree/src/serialize/config.rs
  crates/oxc_estree/src/serialize/mod.rs
  crates/oxc_estree/src/serialize/sequences.rs
  crates/oxc_estree/src/serialize/structs.rs
  napi/parser/generate-visitor-keys.mjs
  napi/parser/generated/visitor-keys.cjs
  napi/parser/generated/visitor-keys.mjs
  napi/parser/package.json
  napi/parser/src/lib.rs
  napi/parser/src/types.rs
  napi/parser/wrap.cjs
  napi/parser/wrap.mjs
  pnpm-lock.yaml
  tasks/benchmark/benches/parser.rs
  tasks/coverage/src/driver.rs
Labels: C-performance, A-ast

#10824 fix(linter/no-unused-vars): fixer cannot delete usused for in/of iterators
  crates/oxc_linter/src/rules/eslint/no_unused_vars/fixers/fix_vars.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/tests/oxc.rs
Labels: C-bug, A-linter

#10815 feat(language_server): provide commands / code actions for unopened files
  crates/oxc_language_server/src/worker.rs
  editors/vscode/client/extension.spec.ts
Labels: C-enhancement, A-editor

#10826 feat(linter): add unicorn/no-unnecessary-slice-end rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/no_unnecessary_slice_end.rs
  crates/oxc_linter/src/snapshots/unicorn_no_unnecessary_slice_end.snap
Labels: C-enhancement, A-linter

#10827 fix(linter): add missing option to `no-shadow-restricted-names`
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_linter/src/snapshots/eslint_no_shadow_restricted_names.snap
Labels: C-bug, A-linter, 0-merge

#10828 refactor(linter): able to use custom file system in runtime
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-cleanup, 0-merge

#10829 test(linter): use `TesterFileSystem` for `Runtime`s filesystem
  crates/oxc_linter/src/service/mod.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter, 0-merge, C-test

#10836 refactor(oxlint): avoid result unwrap
  apps/oxlint/src/lint.rs
Labels: A-cli, C-cleanup

#10847 chore(CODEOWNERS): update
  .github/CODEOWNERS
Labels: C-cleanup

#10773 feat(linter): regex/no-useless-backreference
  apps/oxlint/src/snapshots/_--ignore-path fixtures__linter__.customignore --no-ignore fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_--ignore-pattern _____.js --ignore-pattern _____.vue fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin -A all -D no-cycle fixtures__flow__@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin fixtures__flow__index.mjs@oxlint.snap
  apps/oxlint/src/snapshots/_--vitest-plugin -c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-D correctness fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W correctness -A no-debugger fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__eslintrc_env__eslintrc_no_env.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__no_undef__eslintrc.json fixtures__no_undef__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_env__eslintrc_env_browser.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_off__eslintrc.json fixtures__eslintrc_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__linter__eslintrc.json fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_console_off__eslintrc.json fixtures__no_console_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_allow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_allow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_disallow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_disallow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.js -c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.ts -c fixtures__overrides__.oxlintrc.json fixtures__overrides__other.jsx@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__directories-config.json fixtures__overrides@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json --disable-typescript-plugin fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__astro__debugger.astro@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__svelte__debugger.svelte@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__debugger.vue@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__empty.vue@oxlint.snap
  apps/oxlint/src/snapshots/_foo.asdf@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__ignore_directory_-c eslintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__with_oxlintrc_-c .__test__eslintrc.json --ignore-pattern _.ts .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__disable_eslint_and_unicorn_alias_rules_-c .oxlintrc-eslint.json test.js -c .oxlintrc-unicorn.json test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config extends_rules_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config relative_paths__extends_extends_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--disable-nested-config@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__ignore_file_current_dir_ .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import-cycle_--import-plugin -D import__no-cycle@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import_-c .oxlintrc.json test.js -c .oxlintrc-import-x.json test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__linter_debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_--config oxlint-no-console.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_-A no-console --config oxlint-no-console.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_env_globals_-c .oxlintrc.json .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__report_unused_directives_-c .oxlintrc.json --report-unused-disable-directives test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__two_rules_with_same_rule_name_-c .oxlintrc.json test.js@oxlint.snap
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_useless_backreference.rs
  crates/oxc_linter/src/snapshots/eslint_no_useless_backreference.snap
Labels: C-enhancement, A-linter, A-cli, 0-merge

#10846 refactor(regular_expression): Move `impl GetSpan` to separate file
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/ast_impl/mod.rs
  crates/oxc_regular_expression/src/ast_impl/span.rs
Labels: C-bug, C-cleanup

#10762 refactor(language_server): move `gitignore_glob` to `ServerLinter`
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, A-editor

#10850 perf(data_structures): optimize `InlineString`
  crates/oxc_data_structures/Cargo.toml
  crates/oxc_data_structures/src/inline_string.rs
Labels: C-performance, 0-merge

#10856 feat(data_structures): add `InlineString::as_mut_str` method
  crates/oxc_data_structures/src/inline_string.rs
Labels: C-enhancement, 0-merge

#10855 refactor(estree): remove regular expression types from ESTree AST
  .github/generated/ast_changes_watch_list.yml
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_regular_expression/Cargo.toml
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/generated/derive_estree.rs
  crates/oxc_regular_expression/src/lib.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
Labels: C-cleanup, A-ast, 0-merge

#10859 fix(parser): set the correct context for class property initializer
  crates/oxc_codegen/tests/integration/ts.rs
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/transformer_babel.snap
Labels: C-bug, A-parser, A-codegen

#10848 refactor(ast/estree): generalize concatenating fields with `Concat2`
  crates/oxc_allocator/src/vec.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_estree/src/lib.rs
  crates/oxc_estree/src/ser.rs
  crates/oxc_estree/src/serialize/concat.rs
  crates/oxc_estree/src/serialize/mod.rs
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_syntax/src/generated/derive_estree.rs
  napi/parser/src/generated/derive_estree.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/schema/defs/type.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#10862 refactor(ast/estree): use `#[estree(prepend_to)]`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: C-cleanup, A-ast, 0-merge

#10775 refactor(language_server): move `nested_configs` to `ServerLinter`
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, A-editor

#10776 refactor(language_server): move the initialization of `ServerLinter` into a separate call
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/tester.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, A-editor

#10865 chore(CODEOWNERS): add @sysix to `oxc_language_server`
  .github/CODEOWNERS
Labels: C-cleanup

#10864 fix(ast/estree): reorder fields for TS `Identifier` types in TS-ESTree AST
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast

#10863 refactor(ast): remove quotes from `#[estree(append_to)]` attributes
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
Labels: C-cleanup, A-ast, 0-merge

#10867 fix(playground): fix display of ESTree AST
  napi/playground/src/lib.rs
Labels: C-bug, 0-merge

#10860 refactor(linter): extract nested config searching to a fn
  apps/oxlint/src/lint.rs
Labels: A-cli, C-cleanup, 0-merge

#10866 fix(parser): fix rhs precedence while parsing `PrivateInExpression`
  crates/oxc_codegen/tests/integration/ts.rs
  crates/oxc_parser/src/js/expression.rs
  tasks/transform_conformance/snapshots/babel_exec.snap.md
Labels: C-bug, A-parser, A-transformer, A-codegen, 0-merge

#10868 fix(linter): mark fixer as dangerous for erasing-op
  crates/oxc_linter/src/rules/oxc/erasing_op.rs
Labels: C-bug, A-linter

#10789 feat(language_server): request for workspace configuration when client did not send them in `initialize`
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/worker.rs
  editors/vscode/client/extension.ts
Labels: C-enhancement, A-editor

#10869 refactor(ast/estree): print header and footer on JSON AST with fixes on separate lines
  crates/oxc_estree/src/serialize/mod.rs
Labels: C-cleanup, 0-merge

#10705 docs(linter): improve docs for jsdoc/require-property
  crates/oxc_linter/src/rules/jsdoc/require_property.rs
Labels: A-linter, C-docs

#10872 test(ast/estree): bump `acorn-test262`
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/snapshots/estree_acorn_jsx.snap
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-test

#10873 fix(ast/estree): remove `TSImportTypeOptions` custom serializer
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast, 0-merge

#10874 fix(ast/estree): fix `optional` field of `TSMappedType` in TS-ESTree AST
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_typescript.snap
Labels: C-bug, A-ast

#10876 fix(ast/estree): fix TS type def for `RegExpLiteral`
  crates/oxc_ast/src/ast/literal.rs
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast, 0-merge

#10878 fix(ast): fix field order for `AccessorProperty`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
Labels: C-bug, A-parser, A-ast, 0-merge, A-isolated-declarations

#10880 refactor(parser): refactor parse member expression
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/snapshots/codegen_typescript.snap
  tasks/coverage/snapshots/estree_typescript.snap
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/coverage/snapshots/transformer_typescript.snap
  tasks/coverage/src/typescript/meta.rs
Labels: A-parser, C-cleanup, 0-merge

#10881 fix(ast)!: fix field order for `JSXElement` and `JSXFragment`
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/children.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/jsx/namespaced-attribute.snap
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-parser, A-semantic, A-ast

#10882 fix(ast)!: fix field order for `JSXOpeningElement`
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-parser, A-ast

#10870 feat(parser): `accessor` modifier cannot be used with `readonly` and `declare` modifier.
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-enhancement, A-parser, A-transformer, 0-merge

#10886 feat(napi): add `x86_64-unknown-freebsd` and `riscv64gc-unknown-linux-gnu` builds
  .github/workflows/reusable_release_napi.yml
  napi/minify/package.json
  napi/parser/package.json
  napi/transform/package.json
Labels: C-enhancement

#10861 refactor(linter): move around some config store logic
  Cargo.lock
  apps/oxlint/src/lint.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/tester.rs
  napi/playground/Cargo.toml
  napi/playground/src/lib.rs
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/linter.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge, A-editor

#10888 fix(allocator): `Allocator::from_raw_parts` do not use const assertion for endianness test
  crates/oxc_allocator/src/from_raw_parts.rs
Labels: C-bug, 0-merge

#10889 fix(ast)!: re-order fields of `TaggedTemplateExpression`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/type-parameters/tagged-template.snap
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-parser, A-semantic, A-ast

#10894 feat(napi/parser): expose module record data for `export default interface`
  crates/oxc_parser/src/module_record.rs
  napi/parser/test/esm.test.ts
Labels: C-enhancement, A-parser

#10896 fix(linter): false positive with `withResolvers` in prefer-await-to-then
  crates/oxc_linter/src/rules/promise/prefer_await_to_then.rs
Labels: C-bug, A-linter

#10897 perf(language_server): do not request for configuration when all workers are ready
  crates/oxc_language_server/src/main.rs
Labels: C-performance, A-editor

#10898 refactor(language_server): remove `OnceCell` from `WorkspaceWorker.root_uri`
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/tester.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, 0-merge, A-editor

#10893 fix(ast)!: fix field order for `NewExpression`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_transformer/src/es2022/class_properties/class.rs
  crates/oxc_transformer/src/regexp/mod.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-parser, A-ast, A-transformer, 0-merge

#10902 fix(ast)!: fix field order for `PropertyDefinition`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-parser, A-ast, A-transformer, A-isolated-declarations

#10909 refactor(ecmascript): remove outdated todo comment
  crates/oxc_ecmascript/src/to_string.rs
Labels: C-cleanup

#10903 docs(ast): improve docs for `TSImportType`
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast, 0-merge, C-docs

#10906 fix(ast)!: fix field order for `TSTypeAssertion`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_dummy.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_semantic/tests/fixtures/oxc/ts/assignments/left-hand.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-assertion/angle-bracket.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-assertion/assignment/angle-bracket-assignment.snap
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-parser, A-semantic, A-ast

#10914 docs(linter): fix a few incorrect backticks in `no_restricted_imports`
  crates/oxc_linter/src/rules/eslint/no_restricted_imports.rs
Labels: A-linter, C-docs

#10915 chore(linter): minimize website diff
  tasks/website/src/linter/rules/doc_page.rs
  tasks/website/src/linter/rules/mod.rs
Labels: C-cleanup

#10907 refactor(language_server): avoid cloning linter by taking reference in LintService
  apps/oxlint/src/lint.rs
  crates/oxc_language_server/src/linter/isolated_lint_handler.rs
  crates/oxc_linter/src/service/mod.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_linter/src/tester.rs
Labels: A-linter, A-cli, C-cleanup, A-editor

#10908 fix(linter/no-img-element): improve diagnostic and docs
  crates/oxc_linter/src/rules/nextjs/no_img_element.rs
  crates/oxc_linter/src/snapshots/nextjs_no_img_element.snap
Labels: C-bug, A-linter

#10838 fix(transformer/typescript): panic when using `removeClassFieldsWithoutInitializer` and private class members
  crates/oxc_transformer/src/typescript/class.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-private-field-with-remove-class-fields-without-initializer/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-private-field-with-remove-class-fields-without-initializer/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/ts-private-field-with-remove-class-fields-without-initializer/output.js
Labels: C-bug, A-transformer, 0-merge

#10919 fix(semantic): dont parse `@` as jsdoc tags inside `[`/`]`
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
Labels: C-bug, A-linter, A-semantic

#10797 fix(linter/no-extraneous-class): improve docs, reporting and code refactor
  crates/oxc_linter/src/rules/typescript/no_extraneous_class.rs
  crates/oxc_linter/src/snapshots/typescript_no_extraneous_class.snap
Labels: C-bug, A-linter, 0-merge

#10917 refactor(syntax): rename `NameSpaceModule` to `NamespaceModule`
  crates/oxc_linter/src/rules/eslint/no_unused_vars/mod.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/usage.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/ts-module/declaration-merging/namespace-variable.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/interface-heritage2.snap
  crates/oxc_semantic/tests/integration/symbols.rs
  crates/oxc_syntax/src/symbol.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: A-linter, A-semantic, C-cleanup, A-transformer, 0-merge

#10858 feat(linter): add import/consistent-type-specifier-style rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/consistent_type_specifier_style.rs
  crates/oxc_linter/src/snapshots/import_consistent_type_specifier_style.snap
Labels: C-enhancement, A-linter

#10918 fix(semantic, syntax): TS value module cannot be referenced as type
  crates/oxc_semantic/tests/fixtures/oxc/ts/namespaces/value-module.snap
  crates/oxc_semantic/tests/fixtures/oxc/ts/namespaces/value-module.ts
  crates/oxc_syntax/src/symbol.rs
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-bug, A-linter, A-semantic, A-transformer, 0-merge

#10922 fix(semantic): correctly handle nested brackets in jsdoc parsing
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
  crates/oxc_semantic/src/jsdoc/parser/parse.rs
Labels: C-bug, A-linter, A-semantic

#10798 feat(linter/no-extraneous-class): add conditional fixer
  crates/oxc_linter/src/rules/typescript/no_extraneous_class.rs
  crates/oxc_linter/src/snapshots/typescript_no_extraneous_class.snap
Labels: C-enhancement, A-linter

#10927 feat(linter): add --format gitlab for gitlab code quality reports
  apps/oxlint/src/output_formatter/gitlab.rs
  apps/oxlint/src/output_formatter/mod.rs
Labels: C-enhancement, A-cli

#10932 fix(linter): add `gitlab` to linter `--help` docs
  apps/oxlint/src/command/lint.rs
  tasks/website/src/linter/snapshots/cli.snap
  tasks/website/src/linter/snapshots/cli_terminal.snap
Labels: C-bug, A-cli, 0-merge

#10936 refactor(parser): make `Token` fields private
  crates/oxc_parser/src/cursor.rs
  crates/oxc_parser/src/js/arrow.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/module.rs
  crates/oxc_parser/src/js/object.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lexer/byte_handlers.rs
  crates/oxc_parser/src/lexer/comment.rs
  crates/oxc_parser/src/lexer/jsx.rs
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/punctuation.rs
  crates/oxc_parser/src/lexer/regex.rs
  crates/oxc_parser/src/lexer/string.rs
  crates/oxc_parser/src/lexer/template.rs
  crates/oxc_parser/src/lexer/token.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_parser/src/lexer/typescript.rs
  crates/oxc_parser/src/lexer/unicode.rs
  crates/oxc_parser/src/lexer/whitespace.rs
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/benchmark/benches/lexer.rs
Labels: A-parser, C-cleanup

#10937 refactor(codegen): make `Statement::Gen` code more compact
  crates/oxc_codegen/src/gen.rs
Labels: C-cleanup, A-codegen

#10924 fix(ast/estree): fix `TSModuleDeclaration` raw deserializer
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-ast, 0-merge

#10940 refactor(language_server): use `Arc` for `diagnostic_report_map`
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, A-editor

#10890 refactor(language_server): new configuration structure for `initialize` and `workspace/didChangeConfiguration`
  crates/oxc_language_server/README.md
  crates/oxc_language_server/src/main.rs
  editors/vscode/client/extension.ts
Labels: C-cleanup, 0-merge, A-editor

#10928 feat(linter): implement react/forbid-elements
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/forbid_elements.rs
  crates/oxc_linter/src/snapshots/react_forbid_elements.snap
Labels: C-enhancement, A-linter

#10875 feat(language_server/editor): support multi workspace folders
  crates/oxc_language_server/README.md
  crates/oxc_language_server/src/main.rs
  editors/vscode/README.md
  editors/vscode/client/ConfigService.ts
  editors/vscode/client/VSCodeConfig.spec.ts
  editors/vscode/client/VSCodeConfig.ts
  editors/vscode/client/WorkspaceConfig.spec.ts
  editors/vscode/client/WorkspaceConfig.ts
  editors/vscode/client/extension.ts
  editors/vscode/client/test-helpers.ts
  editors/vscode/package.json
Labels: C-enhancement, 0-merge, A-editor

#10930 feat(language_server): better fallback handling when passing invalid `Options` values
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/options.rs
  editors/vscode/README.md
Labels: C-enhancement, 0-merge, A-editor

#10947 docs(linter): fix incorrect backticks of fenced code blocks
  crates/oxc_linter/src/rules/eslint/no_bitwise.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/rules/jsx_a11y/anchor_is_valid.rs
  crates/oxc_linter/src/rules/jsx_a11y/lang.rs
  crates/oxc_regular_expression/src/parser/pattern_parser/character.rs
  tasks/prettier_conformance/src/spec.rs
Labels: A-linter, C-docs, A-formatter

#10957 chore(deps): lock file maintenance rust crates
  Cargo.lock
  Cargo.toml
Labels: C-cleanup

#10960 chore(linter): move `typescript/consistent-type-imports` our of nursery
  crates/oxc_linter/src/rules/typescript/consistent_type_imports.rs
Labels: A-linter, C-cleanup

#10961 fix(ast/estree): fix field order and type def for `RestElement` in `FormalParameters`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/ts.js
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast, 0-merge

#10962 fix(ast/estree): fix field order for `FormalParameter`
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-ast, 0-merge

#10959 fix(linter): improve diagnostics for no-control-regex
  crates/oxc_linter/src/rules/eslint/no_control_regex.rs
  crates/oxc_linter/src/snapshots/eslint_no_control_regex.snap
  crates/oxc_linter/src/snapshots/eslint_no_control_regex@capture-group-indexing.snap
Labels: C-bug, A-linter, 0-merge

#10958 feat(napi): add arm musl
  .github/workflows/reusable_release_napi.yml
  napi/minify/package.json
  napi/parser/package.json
  napi/transform/package.json
Labels: C-enhancement

#10953 fix(estree): Ensure the same key order for `AssignmentPattern`
  crates/oxc_ast/src/serialize.rs
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-ast

#10967 refactor(ast/estree): split custom serializers into multiple files
  .github/generated/ast_changes_watch_list.yml
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_ast/src/serialize/basic.rs
  crates/oxc_ast/src/serialize/js.rs
  crates/oxc_ast/src/serialize/jsx.rs
  crates/oxc_ast/src/serialize/literal.rs
  crates/oxc_ast/src/serialize/mod.rs
  crates/oxc_ast/src/serialize/ts.rs
  tasks/ast_tools/src/main.rs
Labels: C-cleanup, A-ast, A-ast-tools

#10968 docs(ast/estree): standardize doc comments for ESTree serializers
  crates/oxc_ast/src/serialize/js.rs
  crates/oxc_ast/src/serialize/ts.rs
Labels: A-ast, 0-merge, C-docs

#10971 fix(ast/estree): fix `raw_deser` for `TSMappedTypeOptional` serializer
  crates/oxc_ast/src/serialize/ts.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-bug, A-ast, 0-merge

#10891 docs(ast): fix docs for `ExportSpecifier`
  crates/oxc_ast/src/ast/js.rs
Labels: A-ast, C-docs

#10975 refactor(linter): remove nested match statements in no-restricted-imports
  crates/oxc_linter/src/rules/eslint/no_restricted_imports.rs
Labels: A-linter, C-cleanup

#10966 fix(transformer): Always update jsx options from comments
  crates/oxc_transformer/src/lib.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/issue-10956/input.tsx
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/issue-10956/options.json
  tasks/transform_conformance/tests/babel-plugin-transform-typescript/test/fixtures/jsx/issue-10956/output.js
Labels: C-bug, A-transformer

#10973 refactor(ast/estree): add semi-colon
  crates/oxc_ast/src/serialize/jsx.rs
Labels: C-cleanup, A-ast

#10974 perf(ast/estree): streamline raw deserializer for `WithClause`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize/js.rs
  napi/parser/generated/deserialize/js.js
  napi/parser/generated/deserialize/ts.js
Labels: C-performance, A-ast

#10986 refactor(ast_tools): shorten code in generator for `Utf8ToUtf16Converter`
  tasks/ast_tools/src/generators/utf8_to_utf16.rs
Labels: C-cleanup, A-ast-tools

#10987 refactor(ast_visit): descriptive method param names in `Utf8ToUtf16Converter`
  crates/oxc_ast_visit/src/generated/utf8_to_utf16_converter.rs
  tasks/ast_tools/src/generators/utf8_to_utf16.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#10982 fix(language_server): normalize oxlintrc config path
  crates/oxc_language_server/src/linter/server_linter.rs
Labels: C-bug, A-editor
