Repository oxc-project/oxc, pull requests merged in 2025-03, with the labels that each got.

#9441 chore(linter): add `statement_span` to `ExportEntry`
  crates/oxc_linter/src/module_record.rs
Labels: A-linter, C-cleanup, 0-merge

#9442 fix(linter): rule `no-restricted-imports` use right span for exports statements
  crates/oxc_linter/src/rules/eslint/no_restricted_imports.rs
  crates/oxc_linter/src/snapshots/eslint_no_restricted_imports.snap
Labels: C-bug, A-linter, 0-merge

#9423 refactor(linter): improve `eslint/no-new`
  crates/oxc_linter/src/rules/eslint/no_new.rs
  crates/oxc_linter/src/snapshots/eslint_no_new.snap
Labels: A-linter, C-cleanup

#9455 feat(napi/parser)!: remove `parse_without_return` API
  napi/parser/bindings.js
  napi/parser/index.d.ts
  napi/parser/src/lib.rs
Labels: C-enhancement

#9435 fix(linter): skip `no-absolute-path` tests on windows
  crates/oxc_linter/src/rules/import/no_absolute_path.rs
Labels: C-bug, A-linter

#9454 feat(linter): support allowable method diagnostic for eslint/no-console
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/snapshots/eslint_no_console.snap
Labels: C-enhancement, A-linter, 0-merge

#9456 feat(minifier): support binary expression in `remove_unused_expression`
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_not_expression.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier, 0-merge

#9457 fix(minifier): call mark_current_function_as_changed in remove_unused_expression
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-bug, A-minifier, 0-merge

#9458 fix(minifier): skip `try_fold_stmt_in_boolean_context` on `ExpressionStatement`
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier, 0-merge

#9459 feat(minifier): compress `a != null && a.b()` to `a?.b()` in `remove_unused_expression`
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: C-enhancement, A-minifier, 0-merge

#9460 feat(napi/parser): return semantic errors
  napi/parser/Cargo.toml
  napi/parser/index.d.ts
  napi/parser/src/lib.rs
  napi/parser/src/types.rs
  napi/parser/test/parse.test.ts
  npm/oxc-parser/README.md
Labels: C-enhancement, 0-merge

#9463 feat(minifier): support extracting arguments in pure calls in `remove_unused_expression`
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: C-enhancement, A-minifier, 0-merge

#9464 refactor(minifier): move `try_fold_iife` to `remove_unused_expression`
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: A-minifier, C-cleanup, 0-merge

#9465 feat(minifier): inline simple IIFEs in `remove_unused_expression`
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_minifier/src/peephole/normalize.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: C-enhancement, A-minifier, A-ast, 0-merge

#9466 feat(minifier): remove unused expression in for init and update
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/tests/peephole/mod.rs
Labels: C-enhancement, A-minifier, 0-merge

#9467 feat(minifier): use `remove_unused_expression` in `try_fold_sequence_expression` in `remove_dead_code`
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/tests/peephole/mod.rs
Labels: C-enhancement, A-minifier, 0-merge

#9470 docs(linter): add end code tag on rule doc
  crates/oxc_linter/src/rules/jest/consistent_test_it.rs
Labels: A-linter, C-docs

#9404 feat(linter): add react/no-namespace rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/no_namespace.rs
  crates/oxc_linter/src/snapshots/react_no_namespace.snap
Labels: C-enhancement, A-linter

#9471 fix(linter): get next offset by char for `curly` rule
  crates/oxc_linter/src/rules/eslint/curly.rs
Labels: C-bug, A-linter

#9379 feat(parser): support V8 intrinsics
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/macros.rs
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_address.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast_visit/src/generated/utf8_to_utf16_converter.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/tester.rs
  crates/oxc_codegen/tests/integration/unit.rs
  crates/oxc_linter/src/rules/eslint/no_unused_expressions.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/lib.rs
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/format/jsx.rs
  crates/oxc_prettier/src/format/print/call_arguments.rs
  crates/oxc_prettier/src/format/print/call_expression.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/traverse.rs
  crates/oxc_traverse/src/generated/walk.rs
  crates/oxc_wasm/src/lib.rs
  crates/oxc_wasm/src/options.rs
  npm/oxc-types/types.d.ts
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-linter, A-parser, A-ast, A-codegen, A-prettier

#9469 docs(linter): add example of how configure rule
  crates/oxc_linter/src/config/oxlintrc.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: A-linter, C-docs

#9482 chore(linter): remove deprecated `eslint/no-spaced-func` rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_spaced_func.rs
  crates/oxc_linter/src/snapshots/eslint_no_spaced_func.snap
Labels: A-linter, C-cleanup

#9477 fix(minifier): don't inline IIFE with parameters
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: C-bug, A-minifier, 0-merge

#9478 fix(ecmascript): fix may_have_side_effects for `${a() === b}`
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-bug, A-minifier, 0-merge

#9479 fix(parser): mark expression as pure in chain expression
  crates/oxc_codegen/tests/integration/unit.rs
  crates/oxc_parser/src/js/expression.rs
Labels: C-bug, A-parser, A-codegen, 0-merge

#9480 feat(ecmascript): handle pure call expression in chain expressions
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-enhancement, A-minifier, 0-merge

#9492 feat(parser): apply pure to rhs of binary expression
  crates/oxc_codegen/tests/integration/unit.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_parser/src/js/expression.rs
Labels: C-enhancement, A-parser, A-minifier, A-codegen

#9371 feat(transformer): support `ModuleRunnerTransform`
  Cargo.lock
  crates/oxc_transformer/Cargo.toml
  crates/oxc_transformer/src/decorator/legacy/metadata.rs
  crates/oxc_transformer/src/plugins/mod.rs
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
  crates/oxc_transformer/src/utils/ast_builder.rs
Labels: C-enhancement, A-transformer

#9490 fix(transformer/legacy-decorator): metadata incorrectly wrapped by decorateParam
  crates/oxc_transformer/src/decorator/legacy/metadata.rs
  napi/transform/test/transform.test.ts
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, A-transformer, 0-merge

#9491 fix(transformer/legacy-decorator): incorrect check for potentially non-existent ident
  crates/oxc_transformer/src/decorator/legacy/metadata.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/bound-type-reference/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/bound-type-reference/output.js
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/unbound-type-reference/input.ts
  tasks/transform_conformance/tests/legacy-decorators/test/fixtures/oxc/metadata/unbound-type-reference/output.js
Labels: C-bug, A-transformer, 0-merge

#9496 feat(parser,codegen)!: parse and print`#__NO_SIDE_EFFECTS__`
  crates/oxc_ast/src/ast/comment.rs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/integration/snapshots/pure_comments.snap
  crates/oxc_codegen/tests/integration/unit.rs
  crates/oxc_parser/src/js/expression.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/js/statement.rs
  crates/oxc_parser/src/lexer/mod.rs
  crates/oxc_parser/src/lexer/trivia_builder.rs
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
  crates/oxc_transformer/src/utils/ast_builder.rs
  crates/oxc_traverse/src/generated/ancestor.rs
Labels: C-enhancement, A-parser, A-ast, A-transformer, A-codegen

#9499 fix(parser): correctly fail parsing when parsing `foo.bar?.`
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/misc/fail/oxc-9497.js
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-bug, A-parser, 0-merge

#9505 fix(transformer/optional-chaning): keep `this` when transforming `this.f?.()`
  crates/oxc_transformer/src/es2020/optional_chaining.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-optional-chaining/test/fixtures/oxc/keep-this/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-optional-chaining/test/fixtures/oxc/keep-this/output.js
  tasks/transform_conformance/tests/babel-plugin-transform-optional-chaining/test/fixtures/oxc/options.json
Labels: C-bug, A-transformer, 0-merge

#9508 fix(ecmascript): fix toString for negative numbers
  crates/oxc_ecmascript/src/to_string.rs
  crates/oxc_minifier/tests/ecmascript/to_string.rs
Labels: C-bug, A-minifier, 0-merge

#9503 fix(minifier): correctly remove dead code in `try` with `finally`
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
Labels: C-bug, A-minifier, 0-merge

#9502 feat(minifier): support if with side effects in dead code elimination
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/tests/peephole/dead_code_elimination.rs
  crates/oxc_minifier/tests/peephole/mod.rs
Labels: C-enhancement, A-minifier, 0-merge

#9509 feat(ast_tools): add `GetLayout` and `GetOffset` traits
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/extensions/layout.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#9511 fix(ast_tools/typescript): take field renaming into account when inserting `type` field
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-bug, 0-merge, A-ast-tools

#9514 fix(parser): parse `@__NO_SIDE_EFFECTS__` between `export default` and `async function`
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/pure_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/pure_comments.snap
  crates/oxc_parser/src/js/module.rs
Labels: C-bug, A-parser, A-codegen, 0-merge

#9515 refactor(ast_tools): `write_it!` macro
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/utils.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#9518 fix(codegen): do not print comments when only `annotation_comments` is enabled
  crates/oxc_codegen/src/options.rs
Labels: C-bug, A-codegen, 0-merge

#9501 refactor(codegen): simplify printing comments between arguments in call-like expressions
  crates/oxc_codegen/src/comment.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
Labels: C-cleanup, A-codegen, 0-merge

#9217 feat(linter): add support for `extends` property in oxlintrc
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/oxlintrc.rs
  crates/oxc_linter/src/snapshots/schema_json.snap
  npm/oxlint/configuration_schema.json
  tasks/website/src/linter/snapshots/schema_markdown.snap
Labels: C-enhancement, A-linter, A-cli, 0-merge

#9308 feat(linter): inherit `rules` via the extended config files
  apps/oxlint/fixtures/extends_config/console.js
  apps/oxlint/fixtures/extends_config/empty_config.json
  apps/oxlint/fixtures/extends_config/extends_invalid_config.json
  apps/oxlint/fixtures/extends_config/extends_rules_config.json
  apps/oxlint/fixtures/extends_config/invalid_config.json
  apps/oxlint/fixtures/extends_config/rules_config.json
  apps/oxlint/fixtures/extends_config/rules_multiple/allow_all.json
  apps/oxlint/fixtures/extends_config/rules_multiple/deny_all.json
  apps/oxlint/fixtures/extends_config/rules_multiple/warn_all.json
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__extends_config_--config extends_rules_config.json console.js@oxlint.snap
  crates/oxc_language_server/src/main.rs
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/tester.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge, A-editor

#9472 fix(linter): support nested extending
  apps/oxlint/fixtures/extends_config/relative_paths/extends_extends_config.json
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__extends_config_--config relative_paths__extends_extends_config.json console.js@oxlint.snap
  crates/oxc_linter/src/config/config_builder.rs
Labels: C-bug, A-linter, A-cli, 0-merge, A-editor

#9473 feat(linter): allowing `plugins` to be extended with `extends`
  apps/oxlint/fixtures/extends_config/plugins/jest.json
  apps/oxlint/fixtures/extends_config/plugins/react.json
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/config_store.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge

#9475 feat(linter): allow adding more overrides via `extends` configs
  apps/oxlint/fixtures/extends_config/overrides/.oxlintrc.json
  apps/oxlint/fixtures/extends_config/overrides/jsx.json
  apps/oxlint/fixtures/extends_config/overrides/test.ts
  apps/oxlint/fixtures/extends_config/overrides/test.tsx
  apps/oxlint/fixtures/extends_config/overrides/typescript.json
  apps/oxlint/fixtures/extends_config/overrides_same_directory/.oxlintrc.json
  apps/oxlint/fixtures/extends_config/overrides_same_directory/config/.oxlintrc.json
  apps/oxlint/fixtures/extends_config/overrides_same_directory/config/test.js
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__extends_config_--experimental-nested-config overrides@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--experimental-nested-config overrides_same_directory@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_overrides@oxlint.snap
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/overrides.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge

#9476 fix(linter): do not output number of rules with nested configs
  apps/oxlint/src/lint.rs
  apps/oxlint/src/output_formatter/default.rs
  apps/oxlint/src/output_formatter/mod.rs
  apps/oxlint/src/snapshots/_--ignore-path fixtures__issue_7566__.oxlintignore fixtures__issue_7566__tests__main.js fixtures__issue_7566__tests__function__main.js@oxlint.snap
  apps/oxlint/src/snapshots/_--ignore-path fixtures__linter__.customignore fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension__main.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--experimental-nested-config overrides@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--experimental-nested-config overrides_same_directory@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_--experimental-nested-config -A no-console@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__nested_config_--experimental-nested-config@oxlint.snap
  crates/oxc_linter/src/lib.rs
Labels: C-bug, A-linter, A-cli, 0-merge

#9513 test(linter): remove test dependency on oxlint
  apps/oxlint/fixtures/extends_config/empty_config.json
  crates/oxc_linter/fixtures/extends_config/console.js
  crates/oxc_linter/fixtures/extends_config/extends_invalid_config.json
  crates/oxc_linter/fixtures/extends_config/extends_rules_config.json
  crates/oxc_linter/fixtures/extends_config/invalid_config.json
  crates/oxc_linter/fixtures/extends_config/overrides/.oxlintrc.json
  crates/oxc_linter/fixtures/extends_config/overrides/jsx.json
  crates/oxc_linter/fixtures/extends_config/overrides/test.ts
  crates/oxc_linter/fixtures/extends_config/overrides/test.tsx
  crates/oxc_linter/fixtures/extends_config/overrides/typescript.json
  crates/oxc_linter/fixtures/extends_config/plugins/jest.json
  crates/oxc_linter/fixtures/extends_config/plugins/react.json
  crates/oxc_linter/fixtures/extends_config/rules_config.json
  crates/oxc_linter/fixtures/extends_config/rules_multiple/allow_all.json
  crates/oxc_linter/fixtures/extends_config/rules_multiple/deny_all.json
  crates/oxc_linter/fixtures/extends_config/rules_multiple/warn_all.json
  crates/oxc_linter/src/config/config_builder.rs
Labels: A-linter, A-cli, 0-merge, C-test

#9417 feat(ast): add `AstBuilder::*_with_pure` etc methods
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: C-enhancement, A-linter, A-ast, 0-merge, A-ast-tools

#9534 fix(parser): fix false positive parsing optional member expr
  crates/oxc_parser/src/js/expression.rs
  tasks/coverage/misc/fail/oxc-9525-1.js
  tasks/coverage/misc/fail/oxc-9525-2.js
  tasks/coverage/misc/fail/oxc-9525-3.js
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-bug, A-parser, 0-merge

#9533 feat(minifier): apply `__NO_SIDE_EFFECTS__`
  crates/oxc_minifier/src/peephole/normalize.rs
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/symbol.rs
Labels: C-enhancement, A-semantic, A-minifier, 0-merge

#9526 fix(transformer/optional-chaining): fix context of optional chain call
  crates/oxc_transformer/src/es2020/optional_chaining.rs
  tasks/transform_conformance/overrides/babel-plugin-transform-optional-chaining/test/fixtures/assumption-noDocumentAll/memoize/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-optional-chaining/test/fixtures/general/memoize-loose/output.js
  tasks/transform_conformance/overrides/babel-plugin-transform-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-function-call-loose/output.js
  tasks/transform_conformance/snapshots/babel_exec.snap.md
  tasks/transform_conformance/tests/babel-plugin-transform-optional-chaining/test/fixtures/oxc/keep-this/input.ts
  tasks/transform_conformance/tests/babel-plugin-transform-optional-chaining/test/fixtures/oxc/keep-this/output.js
Labels: C-bug, A-transformer, 0-merge

#9536 refactor(transformer/object-rest-spread): use `helper_call` instead of `helper_load` + `call_expression`
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
Labels: C-cleanup, A-transformer, 0-merge

#9538 refactor(transformer): shorten code for using `*_with_scope_id` methods
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/decorator/legacy/mod.rs
  crates/oxc_transformer/src/es2018/async_generator_functions/for_await.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  crates/oxc_transformer/src/es2020/nullish_coalescing_operator.rs
  crates/oxc_transformer/src/es2022/class_properties/constructor.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
  crates/oxc_transformer/src/typescript/annotations.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/utils/ast_builder.rs
Labels: C-cleanup, A-transformer, 0-merge

#9516 feat(ast/estree): raw transfer (experimental)
  .github/.generated_ast_watch_list.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/oxc/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_allocator/src/allocator.rs
  crates/oxc_allocator/src/from_raw_parts.rs
  crates/oxc_allocator/src/lib.rs
  crates/oxc_ast/src/ast/comment.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_syntax/src/generated/assert_layouts.rs
  crates/oxc_syntax/src/generated/derive_estree.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/module_record.rs
  crates/oxc_syntax/src/serialize.rs
  napi/parser/Cargo.toml
  napi/parser/bench.bench.mjs
  napi/parser/bindings.js
  napi/parser/deserialize.js
  napi/parser/index.d.ts
  napi/parser/index.js
  napi/parser/src/generated/assert_layouts.rs
  napi/parser/src/generated/derive_estree.rs
  napi/parser/src/lib.rs
  napi/parser/src/raw_transfer.rs
  napi/parser/src/raw_transfer_types.rs
  napi/parser/test/parse-raw.test.ts
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/generators/utf8_to_utf16.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
  tasks/ast_tools/src/schema/extensions/layout.rs
  tasks/ast_tools/src/schema/mod.rs
  tasks/ast_tools/src/utils.rs
Labels: C-enhancement, A-ast, 0-merge, A-ast-tools

#9520 feat(ast/estree)!: option to return JS-only AST
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast/src/serialize.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  napi/parser/index.d.ts
  napi/parser/index.js
  napi/parser/src/lib.rs
  napi/parser/src/raw_transfer.rs
  napi/parser/src/types.rs
  napi/parser/test/parse.test.ts
  npm/oxc-parser/README.md
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/main.rs
Labels: C-enhancement, A-ast, 0-merge, A-ast-tools

#9521 test(ast/estree): speed up raw transfer tests
  napi/parser/test/parse-raw.test.ts
Labels: 0-merge, C-test

#9522 fix(ast/estree): raw transfer support `showSemanticErrors` option
  napi/parser/src/raw_transfer.rs
  napi/parser/test/parse-raw.test.ts
Labels: C-bug, 0-merge

#9532 feat(transformer, napi/transform): expose `moduleRunnerTransform` function
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
  napi/transform/index.d.ts
  napi/transform/index.js
  napi/transform/src/transformer.rs
  napi/transform/test/moduleRunnerTransform.test.ts
Labels: C-enhancement, A-transformer, 0-merge

#9544 refactor(linter): improve `promise/no-nesting`
  crates/oxc_linter/src/rules/promise/no_nesting.rs
  crates/oxc_linter/src/snapshots/promise_no_nesting.snap
Labels: A-linter, C-cleanup

#9545 docs(linter): improve the documentation of `typescript-no-namespace`
  crates/oxc_linter/src/rules/typescript/no_namespace.rs
  crates/oxc_linter/src/snapshots/typescript_no_namespace.snap
Labels: A-linter, C-docs

#9539 feat(minifier): merge throw statements at the end
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#9540 test(minifier): enable some esbuild tests
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: A-minifier, 0-merge, C-test

#9542 test(minifier): enable some tests in peephole directory
  crates/oxc_minifier/src/peephole/collapse_variable_declarations.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
Labels: A-minifier, 0-merge, C-test

#9519 ci(benchmarks): benchmark NAPI parser
  .github/workflows/benchmark.yml
  napi/parser/bench.bench.mjs
  napi/parser/package.json
  napi/parser/vitest.config.mts
  pnpm-lock.yaml
Labels: 0-merge

#9546 feat(ast/estree): ESTree AST `ExportNamedDeclaration` always have `attributes` field
  .github/actions/clone-submodules/action.yml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  justfile
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
Labels: C-enhancement, A-ast, 0-merge

#9547 feat(ast/estree): `Property` have consistent field order
  .github/actions/clone-submodules/action.yml
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  justfile
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
Labels: C-enhancement, A-ast, 0-merge

#9548 refactor(ast): `RegExpFlags::to_string` return flags in alphabetical order
  crates/oxc_ast/src/ast_impl/literal.rs
Labels: C-cleanup, A-ast, 0-merge

#9549 feat(data_structures): move `InlineString` into `oxc_data_structures` crate
  Cargo.lock
  crates/oxc_data_structures/src/inline_string.rs
  crates/oxc_data_structures/src/lib.rs
  crates/oxc_mangler/Cargo.toml
  crates/oxc_mangler/src/base54.rs
  crates/oxc_mangler/src/lib.rs
Labels: C-enhancement, 0-merge

#9550 perf(ast, codegen, transformer): avoid allocations when converting `RegExpFlags` to string
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_transformer/src/regexp/mod.rs
  tasks/coverage/src/driver.rs
Labels: C-performance, A-ast, A-transformer, A-codegen, 0-merge

#9551 refactor(ast/estree): simplify serializing `RegExpLiteral`s
  .github/actions/clone-submodules/action.yml
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  justfile
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#9552 perf(mangler): use shorter `InlineString`
  crates/oxc_mangler/Cargo.toml
  crates/oxc_mangler/src/base54.rs
  crates/oxc_mangler/src/lib.rs
Labels: C-performance, 0-merge

#9543 test(minifier): enable some tests in minimize_conditions
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
Labels: A-minifier, 0-merge, C-test

#9488 feat(linter): Add `promise/prefer-catch`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/promise/prefer_catch.rs
  crates/oxc_linter/src/snapshots/promise_prefer_catch.snap
Labels: C-enhancement, A-linter

#9553 fix(parser): parsing errors occur when type parameters are followed by `as` or `satisfies`
  crates/oxc_parser/src/lexer/kind.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/misc/pass/oxc-9541.ts
  tasks/coverage/snapshots/codegen_misc.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/transformer_misc.snap
Labels: C-bug, A-parser, 0-merge

#9562 feat(minifier): keep indirect access more precisely
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  crates/oxc_minifier/tests/peephole/mod.rs
Labels: C-enhancement, A-minifier, 0-merge

#9564 ci(ast_tools): move AST changes watch list file
  .github/generated/ast_changes_watch_list.yml
  .github/workflows/ci.yml
  dprint.json
  tasks/ast_tools/src/main.rs
Labels: 0-merge, A-ast-tools

#9565 refactor(ast_tools): add `Output::yaml_watch_list` method
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/output/yaml.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#9568 refactor(linter): improve `unicorn/escape-case`
  crates/oxc_linter/src/rules/unicorn/escape_case.rs
Labels: A-linter, C-cleanup, 0-merge

#9567 fix(semantic): insert binding into correct scope for TSInferType
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional-nested.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional3.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional4.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional5.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/infer-type-constraint.snap
  crates/oxc_syntax/src/scope.rs
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: C-bug, A-semantic, A-ast, 0-merge, A-isolated-declarations

#9559 feat(ast)!: add `scope_id` to `TSFunctionType`
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/get_id.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_isolated_declarations/tests/fixtures/eliminate-imports.ts
  crates/oxc_isolated_declarations/tests/snapshots/eliminate-imports.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/decorators/class-deco-with-object-param.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional3.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/conditional5.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/function-generics1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/function-generics2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/function1.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/function2.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/params/array-pattern.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/params/object-pattern.snap
  crates/oxc_semantic/tests/fixtures/typescript-eslint/type-declaration/function/params/rest-element.snap
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/scopes_collector.rs
  crates/oxc_traverse/src/generated/walk.rs
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/semantic_misc.snap
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-bug, C-enhancement, A-semantic, A-ast, A-transformer, 0-merge, A-isolated-declarations

#9577 test(minifier): test var decl in catch clause edge case
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: A-minifier, C-test

#9575 docs(linter): Improve the documentation of `typescript-consistent-type-definitions`
  crates/oxc_linter/src/rules/typescript/consistent_type_definitions.rs
Labels: A-linter, C-docs

#9579 fix(rulegen): make finding end of module also work on windows
  tasks/rulegen/src/main.rs
Labels: C-bug

#9329 feat(allocator): add `String::from_strs_array_in`
  crates/oxc_allocator/src/string.rs
Labels: C-enhancement

#9586 feat(parser): disallow `TSInstantiationExpression` in `SimpleAssignmentTarget`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/macros.rs
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_address.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_linter/src/rules/oxc/misrefactored_assign_op.rs
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/grammar.rs
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/needs_parens.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_babel.snap
  tasks/coverage/snapshots/transformer_babel.snap
  tasks/coverage/snapshots/transformer_typescript.snap
  tasks/transform_conformance/snapshots/babel.snap.md
Labels: C-enhancement, A-linter, A-parser, A-semantic, A-ast, A-transformer, A-codegen, A-prettier, 0-merge

#9400 feat(ast): add `AstBuilder::atom_from_strs_array`
  crates/oxc_ast/src/ast_builder_impl.rs
Labels: C-enhancement, A-ast, 0-merge

#9401 refactor(transformer): combine strings by `ctx.ast.atom_from_array`
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/es2022/class_properties/private_field.rs
  crates/oxc_transformer/src/es2022/class_static_block.rs
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
Labels: C-cleanup, A-transformer

#9590 chore(deps): bump napi
  Cargo.lock
  pnpm-workspace.yaml
Labels: C-cleanup

#9591 refactor(semantic): remove `CompactStr` usage from `ClassTable`
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/class/builder.rs
  crates/oxc_semantic/src/class/table.rs
  crates/oxc_semantic/src/lib.rs
Labels: A-semantic, C-cleanup, 0-merge

#9592 refactor(semantic): move `IsGlobalReference` to its own file
  crates/oxc_semantic/src/is_global_reference.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/symbol.rs
Labels: A-semantic, C-cleanup, 0-merge

#9594 feat(minifier): allow compressing computed constructor/prototype keys precisely
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier, 0-merge

#9595 feat(minifier): allow compressing computed __proto__ more precisely
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier

#9596 docs(linter): Improve the documentation of `eslint-no-func-assign`
  crates/oxc_linter/src/rules/eslint/no_func_assign.rs
  crates/oxc_linter/src/snapshots/eslint_no_func_assign.snap
Labels: A-linter, C-docs

#9597 docs(linter): Improve the docs and add test cases for `eslint-no-shadow-restricted-names`
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_linter/src/snapshots/eslint_no_shadow_restricted_names.snap
Labels: A-linter, C-docs

#9603 feat(ecmascript): support integer index access for array and string in `may_have_side_effects`
  crates/oxc_ecmascript/src/lib.rs
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_ecmascript/src/to_integer_index.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-enhancement, A-minifier, 0-merge

#9604 feat(minifier): compress constant integer index access
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier, A-ast

#9605 fix(ecmascript): `(foo() + "").length` may have a side effect
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-bug, A-minifier

#9602 feat(minifier): compress `[] + string` to `string`
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier, 0-merge

#9606 feat(minifier): place `void 0` on right hand side if possible
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier, 0-merge

#9481 feat(linter): add import/no-anonymous-default-export rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/no_anonymous_default_export.rs
  crates/oxc_linter/src/snapshots/import_no_anonymous_default_export.snap
Labels: C-enhancement, A-linter

#9578 feat(linter): add import/exports-last
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/import/exports_last.rs
  crates/oxc_linter/src/snapshots/import_exports_last.snap
Labels: C-enhancement, A-linter

#9608 fix(minifier): remove names from functions / classes in normal pass to make the minifier idempotent
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/peephole/mod.rs
Labels: C-bug, A-minifier, 0-merge

#9610 docs(linter): Better docs for `typescript-no-non-null-asserted-nullish-coalescing` rule
  crates/oxc_linter/src/rules/typescript/no_non_null_asserted_nullish_coalescing.rs
Labels: A-linter, C-docs

#9609 docs(linter): Improve the docs and add test case for `typescript-no-extra-non-null-assertion`
  crates/oxc_linter/src/rules/typescript/no_extra_non_null_assertion.rs
  crates/oxc_linter/src/snapshots/typescript_no_extra_non_null_assertion.snap
Labels: A-linter, C-docs

#9612 docs(linter): Improve the documentation of `eslint-no-console`
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/snapshots/eslint_no_console.snap
Labels: A-linter, C-docs

#9622 fix(parser): fix end span for `using` declaration
  crates/oxc_parser/src/js/declaration.rs
  crates/oxc_parser/src/js/statement.rs
Labels: C-bug, A-parser

#9623 fix(parser): parse asi after class accessor property
  crates/oxc_parser/src/js/class.rs
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser

#9626 fix(linter): fix example lint declaration and macro syntax
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
  crates/oxc_linter/src/rules/jsx_a11y/aria_unsupported_elements.rs
  crates/oxc_macros/src/lib.rs
Labels: C-bug, A-linter

#9625 chore(linter): include plugin name in panic message of Tester for easier troubleshooting
  crates/oxc_linter/src/tester.rs
Labels: A-linter, C-cleanup

#9614 refactor(semantic): add `Scoping` to `Semantic`
  crates/oxc_semantic/src/binder.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/checker/javascript.rs
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/scoping.rs
Labels: A-semantic, C-cleanup

#9624 refactor(linter): access scoping from `ctx` directly
  crates/oxc_linter/src/context/mod.rs
  crates/oxc_linter/src/rules/eslint/max_classes_per_file.rs
  crates/oxc_linter/src/rules/eslint/max_lines_per_function.rs
  crates/oxc_linter/src/rules/eslint/no_await_in_loop.rs
  crates/oxc_linter/src/rules/eslint/no_class_assign.rs
  crates/oxc_linter/src/rules/eslint/no_const_assign.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_empty.rs
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
  crates/oxc_linter/src/rules/eslint/no_empty_static_block.rs
  crates/oxc_linter/src/rules/eslint/no_ex_assign.rs
  crates/oxc_linter/src/rules/eslint/no_func_assign.rs
  crates/oxc_linter/src/rules/eslint/no_import_assign.rs
  crates/oxc_linter/src/rules/eslint/no_lone_blocks.rs
  crates/oxc_linter/src/rules/eslint/no_magic_numbers.rs
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_linter/src/rules/eslint/no_this_before_super.rs
  crates/oxc_linter/src/rules/eslint/no_unused_labels.rs
  crates/oxc_linter/src/rules/eslint/no_unused_private_class_members.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/mod.rs
  crates/oxc_linter/src/rules/eslint/sort_imports.rs
  crates/oxc_linter/src/rules/import/named.rs
  crates/oxc_linter/src/rules/import/no_named_as_default_member.rs
  crates/oxc_linter/src/rules/jest/no_commented_out_tests.rs
  crates/oxc_linter/src/rules/jest/no_conditional_expect.rs
  crates/oxc_linter/src/rules/jsdoc/check_access.rs
  crates/oxc_linter/src/rules/jsdoc/check_property_names.rs
  crates/oxc_linter/src/rules/jsdoc/check_tag_names.rs
  crates/oxc_linter/src/rules/jsdoc/empty_tags.rs
  crates/oxc_linter/src/rules/jsdoc/require_property.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_description.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_name.rs
  crates/oxc_linter/src/rules/jsdoc/require_property_type.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/rules/react/jsx_curly_brace_presence.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/rules/typescript/ban_ts_comment.rs
  crates/oxc_linter/src/rules/typescript/ban_tslint_comment.rs
  crates/oxc_linter/src/rules/typescript/no_non_null_asserted_nullish_coalescing.rs
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
  crates/oxc_linter/src/rules/typescript/prefer_function_type.rs
  crates/oxc_linter/src/rules/typescript/prefer_ts_expect_error.rs
  crates/oxc_linter/src/rules/typescript/triple_slash_reference.rs
  crates/oxc_linter/src/rules/unicorn/consistent_existence_index_check.rs
  crates/oxc_linter/src/rules/unicorn/empty_brace_spaces.rs
  crates/oxc_linter/src/rules/unicorn/no_empty_file.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_fetch_options.rs
  crates/oxc_linter/src/rules/unicorn/no_magic_array_flat_depth.rs
  crates/oxc_linter/src/rules/unicorn/no_single_promise_in_promise_methods.rs
  crates/oxc_linter/src/rules/unicorn/no_thenable.rs
  crates/oxc_linter/src/rules/unicorn/no_useless_undefined.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
Labels: A-linter, C-cleanup

#9628 refactor(semantic)!: make `Scoping` methods consistent
  crates/oxc_linter/src/ast_util.rs
  crates/oxc_linter/src/rules/eslint/no_func_assign.rs
  crates/oxc_linter/src/rules/eslint/no_import_assign.rs
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
  crates/oxc_linter/src/rules/eslint/no_redeclare.rs
  crates/oxc_linter/src/rules/eslint/no_shadow_restricted_names.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/symbol.rs
  crates/oxc_linter/src/rules/nextjs/no_duplicate_head.rs
  crates/oxc_linter/src/rules/oxc/no_accumulating_spread.rs
  crates/oxc_linter/src/rules/oxc/no_async_endpoint_handlers.rs
  crates/oxc_linter/src/rules/oxc/no_map_spread.rs
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/rules/typescript/no_non_null_asserted_nullish_coalescing.rs
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
  crates/oxc_linter/src/rules/unicorn/consistent_existence_index_check.rs
  crates/oxc_linter/src/rules/unicorn/consistent_function_scoping.rs
  crates/oxc_linter/src/rules/unicorn/no_invalid_fetch_options.rs
  crates/oxc_linter/src/rules/unicorn/no_thenable.rs
  crates/oxc_linter/src/rules/unicorn/prefer_spread.rs
  crates/oxc_linter/src/utils/jest.rs
  crates/oxc_linter/src/utils/react_perf.rs
  crates/oxc_mangler/src/lib.rs
  crates/oxc_semantic/src/builder.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/scoping.rs
  crates/oxc_semantic/tests/conformance/test_symbol_declaration.rs
  crates/oxc_semantic/tests/integration/scopes.rs
  crates/oxc_semantic/tests/main.rs
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/es2017/async_to_generator.rs
  crates/oxc_transformer/src/es2018/object_rest_spread.rs
  crates/oxc_transformer/src/es2022/class_properties/instance_prop_init.rs
  crates/oxc_transformer/src/jsx/refresh.rs
  crates/oxc_transformer/src/typescript/enum.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  crates/oxc_traverse/src/context/scoping.rs
  crates/oxc_wasm/src/lib.rs
  tasks/transform_checker/src/lib.rs
Labels: A-linter, A-semantic, C-cleanup, A-transformer

#9629 fix(semantic)!: make `Scoping::references` private
  crates/oxc_semantic/src/scoping.rs
Labels: C-bug, A-semantic

#9631 refactor(napi): remove `npm/oxc-*/` npm packages
  .github/workflows/release_napi_minify.yml
  .github/workflows/release_napi_parser.yml
  .github/workflows/release_napi_transform.yml
  .github/workflows/reusable_release_napi.yml
  napi/minify/README.md
  napi/minify/package.json
  napi/parser/README.md
  napi/parser/package.json
  napi/transform/README.md
  napi/transform/package.json
  npm/oxc-minify/CHANGELOG.md
  npm/oxc-minify/package.json
  npm/oxc-parser/.gitignore
  npm/oxc-parser/CHANGELOG.md
  npm/oxc-parser/package.json
  npm/oxc-transform/CHANGELOG.md
  npm/oxc-transform/package.json
  oxc_release.toml
  pnpm-lock.yaml
  tasks/e2e/package.json
  tasks/e2e/test/utils.ts
Labels: C-cleanup

#9638 fix(linter): false positive in `unicorn/escape-case`
  crates/oxc_linter/src/rules/unicorn/escape_case.rs
Labels: C-bug, A-linter

#9635 refactor(linter): improve `eslint/no-self-assign`
  crates/oxc_linter/src/rules/eslint/no_self_assign.rs
Labels: A-linter, C-cleanup

#9632 fix(linter): rule `eslint/no-unsafe-optional-chaining`
  crates/oxc_linter/src/rules/eslint/no_unsafe_optional_chaining.rs
  crates/oxc_linter/src/snapshots/eslint_no_unsafe_optional_chaining.snap
Labels: C-bug, A-linter

#9474 feat(linter): add react/jsx-filename-extension rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_filename_extension.rs
  crates/oxc_linter/src/snapshots/react_jsx_filename_extension.snap
Labels: C-enhancement, A-linter

#9639 refactor(allocator): refactor and improve safty comments of `String::from_strs_array_in`
  crates/oxc_allocator/src/string.rs
Labels: C-cleanup

#9640 docs(allocator): add safety constraint for `String::from_raw_parts_in`
  crates/oxc_allocator/src/string.rs
Labels: C-docs

#9651 fix(napi/parser): disable raw transfer on unsupported platforms
  napi/parser/index.js
Labels: C-bug

#9643 refactor(linter): fewer nested if lets in `jsx-a11y-media-has-caption`
  crates/oxc_linter/src/rules/jsx_a11y/media_has_caption.rs
Labels: A-linter

#9652 fix(parser): fix end span for optional binding pattern without type annotation
  crates/oxc_parser/src/js/binding.rs
  crates/oxc_parser/src/js/declaration.rs
Labels: C-bug, A-parser

#9627 refactor(linter): improve `eslint/no-duplicate-imports`
  crates/oxc_linter/src/rules/eslint/no_duplicate_imports.rs
Labels: A-linter, C-cleanup

#9653 feat(parser): apply `preserveParens` to `TSParenthesizedType`
  crates/oxc_parser/src/lib.rs
  crates/oxc_parser/src/ts/types.rs
  napi/parser/index.d.ts
  napi/parser/src/types.rs
  napi/parser/test/parse.test.ts
Labels: C-enhancement, A-parser, 0-merge

#9658 docs(linter): Improve docs for `eslint-guard-for-in`
  crates/oxc_linter/src/rules/eslint/guard_for_in.rs
Labels: A-linter, C-docs

#9661 fix(transformer): fix module runner transform of export default expression
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
Labels: C-bug, A-transformer, 0-merge

#9537 feat(linter): Add `promise/no-return-wrap`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/promise/no_return_wrap.rs
  crates/oxc_linter/src/snapshots/promise_no_return_wrap.snap
Labels: C-enhancement, A-linter

#9669 fix(Cargo.toml): bump `env_logger` to replace `humantime` with `jiff`
  Cargo.lock
  Cargo.toml
Labels: C-bug

#9310 feat(transformer): transform explicit resource management
  crates/oxc_transformer/examples/transformer.rs
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
  crates/oxc_transformer/src/proposals/mod.rs
  pnpm-lock.yaml
  tasks/coverage/snapshots/semantic_typescript.snap
  tasks/transform_conformance/package.json
  tasks/transform_conformance/snapshots/babel.snap.md
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/src/constants.rs
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/for-of-no-block/input.js
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/for-of-no-block/options.json
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/for-of-no-block/output.js
  tasks/transform_conformance/update_fixtures.mjs
Labels: C-enhancement, A-transformer

#9650 perf(allocator): remove overflow checks from `String::from_strs_array_in`
  Cargo.lock
  crates/oxc_allocator/Cargo.toml
  crates/oxc_allocator/src/string.rs
Labels: C-performance

#9673 refactor(transformer/using): add more comments and amend some
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
Labels: C-cleanup, A-transformer, 0-merge

#9383 feat(linter): a new multi-file analysis runtime
  Cargo.lock
  Cargo.toml
  apps/oxlint/src/lint.rs
  apps/oxlint/src/walk.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/service/mod.rs
  crates/oxc_linter/src/service/module_cache.rs
  crates/oxc_linter/src/service/runtime.rs
  crates/oxc_linter/src/tester.rs
Labels: C-bug, C-enhancement, A-linter, A-cli

#9674 refactor(transformer/using): shorten `AstBuilder` calls
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
Labels: C-cleanup, A-transformer

#9684 feat(linter): add unicorn/require-post-message-target-origin rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/unicorn/require_post_message_target_origin.rs
  crates/oxc_linter/src/snapshots/unicorn_require_post_message_target_origin.snap
Labels: C-enhancement, A-linter

#9685 perf(linter): use `OsStr` for faster path comparison and hashing
  crates/oxc_linter/src/module_graph_visitor.rs
  crates/oxc_linter/src/rules/import/no_cycle.rs
Labels: A-linter, C-performance

#9686 perf(transformer/module_runner): use `itoa` to convert `u32` to string
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
Labels: C-performance, A-transformer, 0-merge

#9687 docs(transformer/module_runner): reformat module doc comment
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
Labels: A-transformer, C-docs

#9675 refactor(transformer/using): remove `.into()`
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
Labels: C-cleanup, A-transformer, 0-merge

#9677 refactor(transformer/using): rename vars
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
Labels: C-cleanup, A-transformer

#9678 test(transformer/using): failing test for class name
  tasks/transform_conformance/snapshots/oxc.snap.md
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/export-class-name/input.js
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/export-class-name/options.json
  tasks/transform_conformance/tests/babel-plugin-proposal-explicit-resource-management/test/fixtures/export-class-name/output.js
Labels: A-transformer, C-test

#9680 perf(transformer/using): inline `enter_statement`
  crates/oxc_transformer/src/proposals/explicit_resource_management.rs
Labels: C-performance, A-transformer

#9580 refactor(ast/estree): remove unused `custom_ts_def`
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#9574 feat(ast/estree): export `Node` union type
  napi/parser/test/parser.test-d.ts
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-enhancement, A-ast-tools

#9688 ci(benchmarks): remove NAPI parser benchmarks
  .github/workflows/benchmark.yml
Labels: 0-merge

#9693 fix(linter): Add missing fail cases in eslint/no-self-compare
  crates/oxc_linter/src/rules/eslint/no_self_compare.rs
  crates/oxc_linter/src/snapshots/eslint_no_self_compare.snap
Labels: C-bug, A-linter

#9665 fix(ast): change `ImportExpression::attributes` to `options`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_ast_visit/src/generated/visit.rs
  crates/oxc_ast_visit/src/generated/visit_mut.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_prettier/src/format/print/call_arguments.rs
  crates/oxc_transformer/src/plugins/module_runner_transform.rs
  crates/oxc_traverse/src/generated/ancestor.rs
  crates/oxc_traverse/src/generated/walk.rs
  napi/parser/deserialize-js.js
  napi/parser/deserialize-ts.js
Labels: C-bug, A-ast, A-transformer, A-codegen, A-prettier, 0-merge

#9659 fix(linter): Add missing fail cases in `eslint-no-array-constructor`
  crates/oxc_linter/src/rules/eslint/no_array_constructor.rs
  crates/oxc_linter/src/snapshots/eslint_no_array_constructor.snap
Labels: C-bug, A-linter
