Repository oxc-project/oxc, pull requests merged in 2025-09, with the labels that each got.

#13494 fix(parser): reset popped lexer errors when rewinding
  crates/oxc_parser/src/lexer/mod.rs
  tasks/coverage/misc/fail/oxc-12816.ts
  tasks/coverage/snapshots/parser_misc.snap
Labels: C-bug, A-parser

#13448 fix(linter): parse regex inside `new RegExp()` with parentheses
  crates/oxc_linter/src/rules/eslint/no_control_regex.rs
  crates/oxc_linter/src/snapshots/eslint_no_control_regex.snap
  crates/oxc_linter/src/utils/regex.rs
Labels: C-bug, A-linter, 0-merge

#13516 refactor(eslint/default-param-last): simplify implementation and enhance readability
  crates/oxc_linter/src/rules/eslint/default_param_last.rs
Labels: A-linter, C-cleanup

#13490 fix(language_server): include the diagnostic of the other linter
  crates/oxc_language_server/src/linter/server_linter.rs
  editors/vscode/fixtures/lint_on_run/.oxlintrc.json
  editors/vscode/fixtures/lint_on_run/onType.ts
  editors/vscode/tests/e2e_server.spec.ts
  editors/vscode/tests/test-helpers.ts
Labels: C-bug, 0-merge, A-editor

#13514 refactor(language_server): only store one instance of a diagnostic
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, 0-merge, A-editor

#13417 refactor(eslint/block-scoped-var): clean up implementation and improve documentation
  crates/oxc_linter/src/rules/eslint/block_scoped_var.rs
Labels: A-linter, C-cleanup

#13523 feat(napi/playground): add more options
  justfile
  napi/playground/Cargo.toml
  napi/playground/index.d.ts
  napi/playground/src/lib.rs
  napi/playground/src/options.rs
Labels: C-enhancement

#13528 ci(miri): run Miri on `oxc_allocator` crate
  .github/workflows/miri.yml
Labels: 0-merge

#13534 fix(linter): `unicorn/prefer-array-flat-map` ignore `React.Children`
  crates/oxc_linter/src/rules/unicorn/prefer_array_flat_map.rs
Labels: C-bug, A-linter, 0-merge

#13535 chore(lint): don't ignore vscode test files
  editors/vscode/tests/test-helpers.ts
  oxlintrc.json
Labels: C-cleanup, 0-merge, A-editor

#13545 chore(lint): don't ignore `tasks/lint_rules` files
  oxlintrc.json
  tasks/lint_rules/src/main.mjs
  tasks/lint_rules/src/oxlint-rules.mjs
Labels: C-cleanup, 0-merge

#13541 fix(rust): fix missing docs
  .claude/settings.local.json
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_ast/src/trivia.rs
  crates/oxc_codegen/src/context.rs
Labels: C-bug, A-ast, A-codegen

#13529 refactor(eslint/default-case-last): simplify default case last check in switch statement
  crates/oxc_linter/src/rules/eslint/default_case_last.rs
Labels: A-linter, C-cleanup

#13554 fix(transformer): don't ignore the entity after a stray '&'
  crates/oxc_transformer/src/jsx/jsx_impl.rs
Labels: C-bug, A-transformer

#13506 perf(allocator): remove bounds checks in `CloneIn` for `Vec`
  crates/oxc_allocator/src/clone_in.rs
Labels: C-performance

#13137 feat(semantic): add ability to lookup if AST contains any node kinds
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_semantic/src/ast_types_bitset.rs
  crates/oxc_semantic/src/lib.rs
  crates/oxc_semantic/src/node.rs
  tasks/ast_tools/src/generators/ast_kind.rs
Labels: C-enhancement, A-semantic, A-ast, 0-merge, A-ast-tools

#13532 refactor(eslint/for-direction): clean up implementation and improve documentation
  crates/oxc_linter/src/rules/eslint/for_direction.rs
Labels: A-linter, C-cleanup

#13138 perf(linter): skip rules that do not have any relevant node types
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/rule.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_macros/src/declare_all_lint_rules.rs
  crates/oxc_macros/src/declare_oxc_lint.rs
  crates/oxc_semantic/src/ast_types_bitset.rs
  crates/oxc_semantic/src/lib.rs
  tasks/linter_codegen/Cargo.toml
  tasks/linter_codegen/src/main.rs
Labels: A-linter, A-semantic, C-performance, 0-merge

#13564 fix(linter): output `eslint-plugin-vue` for vue diagnostics
  crates/oxc_linter/src/context/mod.rs
  crates/oxc_linter/src/snapshots/vue_valid_define_emits.snap
Labels: C-bug, A-linter, 0-merge

#13574 perf(linter): reduce indirection
  crates/oxc_linter/src/lib.rs
Labels: A-linter, A-semantic, C-performance, 0-merge

#13576 refactor(linter_codegen): simplify matching "or" patterns
  tasks/linter_codegen/src/main.rs
Labels: A-linter, C-cleanup

#13578 perf(linter): store rules by AST type in a boxed array
  crates/oxc_linter/src/lib.rs
Labels: A-linter, C-performance

#13590 refactor(linter/tsgolint): report an error if the tsgolint exe could not be found
  apps/oxlint/src/lint.rs
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#13432 feat(napi/parser)!: change `oxc-parser` to ESM
  .github/generated/ast_changes_watch_list.yml
  dprint.json
  napi/oxlint2/package.json
  napi/oxlint2/scripts/build.js
  napi/oxlint2/src-js/generated/constants.cjs
  napi/oxlint2/src-js/generated/constants.mjs
  napi/oxlint2/src-js/index.ts
  napi/oxlint2/src-js/visitor.ts
  napi/oxlint2/test/compile-visitor.test.ts
  napi/oxlint2/tsdown.config.ts
  napi/parser/bench.bench.mjs
  napi/parser/bindings.mjs
  napi/parser/generated/constants.js
  napi/parser/generated/constants.mjs
  napi/parser/generated/deserialize/js.mjs
  napi/parser/generated/deserialize/ts.mjs
  napi/parser/generated/lazy/constructors.mjs
  napi/parser/generated/lazy/types.mjs
  napi/parser/generated/lazy/walk.mjs
  napi/parser/index.mjs
  napi/parser/package.json
  napi/parser/patch.mjs
  napi/parser/raw-transfer/common.mjs
  napi/parser/raw-transfer/eager.mjs
  napi/parser/raw-transfer/lazy-common.mjs
  napi/parser/raw-transfer/lazy.mjs
  napi/parser/raw-transfer/node-array.mjs
  napi/parser/raw-transfer/supported.mjs
  napi/parser/raw-transfer/visitor.mjs
  napi/parser/test/esm.test.ts
  napi/parser/test/lazy-deserialization.test.ts
  napi/parser/test/parse-raw-worker.mjs
  napi/parser/test/parse-raw.test.ts
  napi/parser/test/parse.test.ts
  napi/parser/test/typescript-make-units-from-test.mjs
  napi/parser/test/worker.mjs
  napi/parser/wrap.cjs
  tasks/ast_tools/src/generators/raw_transfer.rs
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-enhancement, A-ast-tools

#13594 refactor(ast_tools): remove dead code from raw transfer codegen
  tasks/ast_tools/src/generators/raw_transfer_lazy.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#13595 docs(semantic): make doc tests for `AstNode::contains_any` etc runnable
  crates/oxc_semantic/src/node.rs
Labels: A-semantic, 0-merge, C-docs

#13526 fix(parser): improve diagnostics around modifier checks
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/js/class.rs
  crates/oxc_parser/src/js/function.rs
  crates/oxc_parser/src/modifiers.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/misc/fail/oxc-11713-13.ts
  tasks/coverage/misc/fail/oxc-11713-23.ts
  tasks/coverage/misc/fail/oxc-11713-24.ts
  tasks/coverage/misc/fail/oxc-11713-25.ts
  tasks/coverage/misc/fail/oxc-11713-26.ts
  tasks/coverage/misc/fail/oxc-11713-27.ts
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-bug, A-parser

#13607 feat(oxfmt): Support more extensions from linguist-languages
  Cargo.lock
  apps/oxfmt/Cargo.toml
  apps/oxfmt/src/format.rs
  apps/oxfmt/src/service.rs
  apps/oxfmt/src/walk.rs
Labels: C-enhancement, 0-merge

#13618 refactor(all): remove `pub` from modules with no exports
  crates/oxc_allocator/src/lib.rs
  crates/oxc_ast/src/lib.rs
  crates/oxc_formatter/src/formatter/trivia.rs
  crates/oxc_formatter/src/lib.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_regular_expression/src/lib.rs
  crates/oxc_span/src/lib.rs
  crates/oxc_syntax/src/lib.rs
  napi/parser/src/lib.rs
Labels: A-linter, C-cleanup, A-ast, A-formatter

#13619 refactor(allocator/pool): move `AllocatorPool` into own directory
  .github/generated/ast_changes_watch_list.yml
  crates/oxc_allocator/src/lib.rs
  crates/oxc_allocator/src/pool/fixed_size.rs
  crates/oxc_allocator/src/pool/mod.rs
  crates/oxc_allocator/src/pool/standard.rs
  tasks/ast_tools/src/main.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#13621 refactor(allocator/pool): share `AllocatorGuard` between pool impls
  crates/oxc_allocator/src/pool/fixed_size.rs
  crates/oxc_allocator/src/pool/mod.rs
  crates/oxc_allocator/src/pool/standard.rs
Labels: C-cleanup

#13624 refactor(allocator/pool): `AllocatorPool::new` always create standard pool
  crates/oxc_allocator/src/pool/mod.rs
  crates/oxc_allocator/src/pool/standard.rs
Labels: C-cleanup

#13625 refactor(allocator/pool)!: remove `disable_fixed_size` Cargo feature
  apps/oxlint/Cargo.toml
  crates/oxc_allocator/Cargo.toml
  crates/oxc_allocator/README.md
  crates/oxc_allocator/src/lib.rs
  crates/oxc_allocator/src/pool/mod.rs
  crates/oxc_allocator/src/pool/standard.rs
Labels: A-cli, C-cleanup

#13626 refactor(linter/plugins): remove `disable_oxlint2` Cargo feature
  apps/oxlint/Cargo.toml
  apps/oxlint/src/lib.rs
  apps/oxlint/src/lint.rs
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/config_store.rs
  crates/oxc_linter/src/external_linter.rs
  crates/oxc_linter/src/lib.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, A-cli, C-cleanup

#13639 perf(linter): remove unnecessary `should_run` check
  crates/oxc_linter/src/lib.rs
Labels: A-linter, C-performance

#13635 fix(minifier): disallow merging assignments to let declarations when TDZ error would be introduced
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/tests/peephole/merge_assignments_to_declarations.rs
  tasks/track_memory_allocations/allocs_minifier.snap
Labels: C-bug, A-minifier, 0-merge

#13640 refactor(linter/plugins): rename var
  napi/oxlint2/src/lib.rs
Labels: C-cleanup, 0-merge

#13642 fix(linter): update `RuleRunner` impl after merge
  crates/oxc_linter/src/generated/rule_runner_impls.rs
Labels: C-bug, A-linter

#13643 feat(oxfmt): Implement -l, -c output options
  apps/oxfmt/src/command.rs
  apps/oxfmt/src/format.rs
  apps/oxfmt/src/reporter.rs
  apps/oxfmt/src/service.rs
Labels: C-enhancement, 0-merge

#13644 chore(linter/no-non-null-asserted-optional-chain): make fixer a suggestion not a fix
  crates/oxc_language_server/src/snapshots/fixtures_linter_issue_9958@issue.ts.snap
  crates/oxc_linter/src/rules/typescript/no_non_null_asserted_optional_chain.rs
Labels: A-linter, C-cleanup, 0-merge, A-editor

#13661 build(napi/oxlint): do not fully minify JS code
  napi/oxlint2/tsdown.config.ts
Labels: A-linter, 0-merge

#13730 feat(parser): adds typescript rule for empty argument list
  crates/oxc_linter/src/rules/typescript/array_type.rs
  crates/oxc_linter/src/snapshots/typescript_array_type.snap
  crates/oxc_parser/src/diagnostics.rs
  crates/oxc_parser/src/ts/types.rs
  tasks/coverage/misc/fail/oxc-13617-1.ts
  tasks/coverage/misc/fail/oxc-13617-2.ts
  tasks/coverage/misc/fail/oxc-13617-3.ts
  tasks/coverage/misc/fail/oxc-13617-4.ts
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_misc.snap
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-linter, A-parser

#13745 refactor(linter): move `oxlint` application code into separate module
  apps/oxlint/src/lib.rs
  apps/oxlint/src/run.rs
Labels: A-cli, C-cleanup, 0-merge

#13752 fix(minifier): remove unused long array expressions
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: C-bug, A-minifier, 0-merge

#13751 feat(minifier): remove `typeof` guarded global access expressions
  crates/oxc_minifier/src/peephole/remove_unused_expression.rs
Labels: C-enhancement, A-minifier, 0-merge

#13746 fix(formatter): add parentheses for `TSFunctionType` inside `TSUnionType`
  crates/oxc_formatter/src/parentheses/mod.rs
  crates/oxc_formatter/src/parentheses/ts_type.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-bug, A-formatter

#13456 fix(linter/react/jsx-handler-names): do not detect the function name within the inline-function's body block
  crates/oxc_linter/src/rules/react/jsx_handler_names.rs
  crates/oxc_linter/src/snapshots/react_jsx_handler_names.snap
Labels: C-bug, A-linter

#13734 fix(editor): don't allow `oxc.path.server` for untrusted workspaces
  editors/vscode/client/extension.ts
  editors/vscode/package.json
Labels: C-bug, 0-merge, A-editor

#13740 fix(editor): restrict servers paths for `oxc.path.server`
  editors/vscode/client/ConfigService.ts
  editors/vscode/client/PathValidator.ts
  editors/vscode/tests/ConfigService.spec.ts
  editors/vscode/tests/PathValidator.spec.ts
Labels: C-bug, A-editor

#13763 fix(linter/no-undef): false positive with `arguments` in functions
  crates/oxc_linter/src/rules/eslint/no_undef.rs
  crates/oxc_linter/src/snapshots/eslint_no_undef.snap
Labels: C-bug, A-linter

#13761 chore(compat_data): update compat-table to latest commit
  tasks/compat_data/package.json
Labels: C-cleanup, A-transformer, 0-merge

#13772 chore(diagnostics): fix `cargo doc` warning
  crates/oxc_diagnostics/src/service.rs
Labels: C-cleanup

#13769 fix(minifier): don't inline single use variables that are not literals to for statement initializers
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/tests/peephole/inline_single_use_variable.rs
  tasks/track_memory_allocations/allocs_minifier.snap
Labels: C-bug, A-minifier, 0-merge

#13770 test(minifier): merge variable declarations into for statement initializers
  crates/oxc_minifier/src/peephole/minimize_statements.rs
Labels: A-minifier, 0-merge, C-test

#13775 perf(parser): cache redundant token operations in hot paths
  crates/oxc_parser/src/js/expression.rs
Labels: A-parser, C-performance, 0-merge

#12977 feat(linter): add eslint/class-methods-use-this rule
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/class_methods_use_this.rs
  crates/oxc_linter/src/snapshots/eslint_class_methods_use_this.snap
Labels: C-enhancement, A-linter

#13627 refactor(language_server): split options for linting and formatting
  crates/oxc_language_server/src/formatter/mod.rs
  crates/oxc_language_server/src/formatter/options.rs
  crates/oxc_language_server/src/linter/mod.rs
  crates/oxc_language_server/src/linter/options.rs
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/options.rs
  crates/oxc_language_server/src/tester.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-cleanup, 0-merge, A-editor

#13748 feat(linter): add `preserve-caught-error` rule
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/preserve_caught_error.rs
  crates/oxc_linter/src/snapshots/eslint_preserve_caught_error.snap
Labels: C-enhancement, A-linter, A-cli

#13792 fix(formatter): add parentheses for `TSUnionType` inside `TSArrayType`
  crates/oxc_formatter/src/parentheses/ts_type.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-bug, A-formatter

#13780 docs(linter): add IntelliJ to the list of editors
  editors/README.md
Labels: C-docs, A-editor

#13799 chore(pnpm): apply minimumReleaseAge: 1 day to reduce risk
  pnpm-workspace.yaml
Labels: C-cleanup

#13804 fix(formatter): Add parentheses for `TSFunctionType` and `TSConstructorType` inside `TSConditionalType`
  crates/oxc_formatter/src/parentheses/ts_type.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-bug, A-transformer, A-formatter

#13797 test(oxfmt): Enable changing `cwd` during tests
  apps/oxfmt/src/format.rs
  apps/oxfmt/src/service.rs
  apps/oxfmt/tests/mod.rs
  apps/oxfmt/tests/snapshots/_--check tests__fixtures__multiple_files__simple.js tests__fixtures__multiple_files__arrow.js --check tests__fixtures__multiple_files --check tests__fixtures__multiple_files___.js --check 'tests__fixtures__multiple_files___.js'@oxfmt.snap
  apps/oxfmt/tests/snapshots/tests__fixtures__multiple_files_--check simple.js arrow.js --check . --check@oxfmt.snap
  apps/oxfmt/tests/snapshots/tests__fixtures__single_file_--check simple.js --list-different simple.js@oxfmt.snap
  apps/oxfmt/tests/tester.rs
Labels: 0-merge, C-test

#13824 release(oxfmt): v0.2.0
  Cargo.lock
  apps/oxfmt/CHANGELOG.md
  apps/oxfmt/Cargo.toml
  crates/oxc_formatter/CHANGELOG.md
  crates/oxc_formatter/Cargo.toml
  npm/oxfmt/CHANGELOG.md
  npm/oxfmt/package.json
Labels: A-formatter

#13827 fix(linter): keep message when merging composite fixes
  crates/oxc_linter/src/fixer/fix.rs
Labels: C-bug, A-linter, 0-merge

#13828 refactor(linter): derive inmpls for `PartialEq`, `Eq` over manual ones
  crates/oxc_linter/src/fixer/fix.rs
  crates/oxc_linter/src/fixer/mod.rs
  crates/oxc_linter/src/tsgolint.rs
Labels: A-linter, C-cleanup, 0-merge

#13830 fix(linter/no-unsafe-declaration-merging): always mark first span as primary
  apps/oxlint/fixtures/disable_directive_issue_13311/.oxlintrc.json
  apps/oxlint/fixtures/disable_directive_issue_13311/test.jsx
  apps/oxlint/fixtures/disable_directive_issue_13311/test2.d.ts
  apps/oxlint/fixtures/exhaustive_deps_disable_directive_issue_13311/.oxlintrc.json
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__disable_directive_issue_13311_test.jsx test2.d.ts@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__exhaustive_deps_disable_directive_issue_13311_test.jsx@oxlint.snap
  crates/oxc_linter/src/rules/typescript/no_unsafe_declaration_merging.rs
Labels: C-bug, A-linter, A-cli

#13724 test(linter): add debug assertions for skipping rules
  crates/oxc_linter/src/context/host.rs
  crates/oxc_linter/src/lib.rs
Labels: A-linter, 0-merge, C-test

#13832 fix(linter): drop `rules` to allow mutable access to `ctx_host` in `run_external_rules`
  crates/oxc_linter/src/lib.rs
Labels: C-bug, A-linter, 0-merge

#13833 release(oxlint): v1.16.0
  Cargo.lock
  apps/oxlint/CHANGELOG.md
  apps/oxlint/Cargo.toml
  crates/oxc_language_server/CHANGELOG.md
  crates/oxc_language_server/Cargo.toml
  crates/oxc_linter/CHANGELOG.md
  crates/oxc_linter/Cargo.toml
  editors/vscode/CHANGELOG.md
  editors/vscode/package.json
  npm/oxlint/CHANGELOG.md
  npm/oxlint/package.json
Labels: A-linter, A-cli, A-editor

#13825 fix(formatter): Add parentheses inside `UpdateExpression`
  crates/oxc_formatter/src/parentheses/expression.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-bug, A-formatter

#13806 fix(formatter): Add parentheses for `PrivateInExpression` in super class
  crates/oxc_formatter/src/parentheses/expression.rs
  tasks/coverage/snapshots/formatter_babel.snap
Labels: C-bug, A-formatter

#13844 docs(oxfmt): The current version does not work; DO NOT USE.
  npm/oxfmt/README.md
Labels: C-docs

#13812 feat(tasks/coverage): shows parse errors and mismatch information for the formatter
  tasks/coverage/snapshots/formatter_babel.snap
  tasks/coverage/snapshots/formatter_misc.snap
  tasks/coverage/snapshots/formatter_test262.snap
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/coverage/src/tools/formatter.rs
Labels: C-enhancement, 0-merge

#13807 refactor(linter/plugins): import named in tests
  apps/oxlint/test/e2e.test.ts
Labels: A-cli, C-cleanup, 0-merge

#13811 test(linter/plugins): check `this` is undefined in visit functions
  apps/oxlint/test/fixtures/context_properties/test_plugin/index.js
Labels: A-linter, A-cli, C-test

#13853 ci(pr): add package labels for changes to `napi` and `apps`
  .github/labeler.yml
Labels: 0-merge

#13867 docs(parser): document is_on_new_line and read_bool performance characteristics
  crates/oxc_parser/src/lexer/token.rs
Labels: A-parser, 0-merge, C-docs

#13868 feat(napi/playground): add configurable semantic error checking
  napi/playground/index.d.ts
  napi/playground/src/lib.rs
  napi/playground/src/options.rs
Labels: C-enhancement, 0-merge

#13869 feat(napi/playground): add configurable CFG generation
  napi/playground/index.d.ts
  napi/playground/src/lib.rs
  napi/playground/src/options.rs
Labels: C-enhancement, 0-merge

#13870 fix(napi/playground): linter always require cfg
  napi/playground/src/lib.rs
Labels: C-bug

#13871 feat(napi/playground): convert to ES modules and consolidate build scripts
  napi/playground/index.js
  napi/playground/package.json
Labels: C-enhancement

#13365 feat(linter): add `eslint/no-misleading-character-class`
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/no_misleading_character_class.rs
  crates/oxc_linter/src/snapshots/eslint_no_misleading_character_class.snap
Labels: C-enhancement, A-linter, 0-merge

#13881 feat(napi/transform): add async transform function
  napi/transform/index.d.ts
  napi/transform/index.js
  napi/transform/src/transformer.rs
  napi/transform/test/transform.test.ts
  napi/transform/transform.wasi-browser.js
  napi/transform/transform.wasi.cjs
Labels: C-enhancement, A-transformer, 0-merge

#13818 perf(linter): use unstable sort where possible
  crates/oxc_linter/src/config/config_builder.rs
  crates/oxc_linter/src/config/ignore_matcher.rs
  crates/oxc_linter/src/rules/eslint/sort_keys.rs
  crates/oxc_linter/src/rules/jest/consistent_test_it.rs
  crates/oxc_linter/src/rules/jest/max_nested_describe.rs
  crates/oxc_linter/src/rules/jest/no_duplicate_hooks.rs
  crates/oxc_linter/src/rules/jest/no_identical_title.rs
  crates/oxc_linter/src/rules/jest/prefer_hooks_on_top.rs
  crates/oxc_linter/src/rules/jest/require_top_level_describe.rs
  crates/oxc_linter/src/rules/react/style_prop_object.rs
  crates/oxc_linter/src/snapshots/jest_max_nested_describe.snap
  crates/oxc_linter/src/snapshots/jest_no_duplicate_hooks.snap
Labels: A-linter, C-performance

#13889 fix(napi): rebuild bindings file for NAPI packages
  napi/minify/index.js
  napi/parser/bindings.mjs
  napi/transform/index.js
Labels: C-bug, A-parser, A-minifier, A-transformer, 0-merge

#13886 refactor(napi/parser): remove outdated comment
  napi/parser/wrap.mjs
Labels: A-parser, C-cleanup, 0-merge

#13887 fix(napi/parser): fix example
  napi/parser/example.mjs
Labels: C-bug, A-parser

#13897 fix(allocator): fix lint warning building WASM
  crates/oxc_allocator/src/pool/mod.rs
Labels: C-bug

#13884 feat(formatter): keep parser options consistent for all formatter usages
  crates/oxc_formatter/examples/formatter.rs
  tasks/benchmark/benches/formatter.rs
  tasks/coverage/snapshots/formatter_babel.snap
  tasks/coverage/src/tools/formatter.rs
  tasks/prettier_conformance/src/lib.rs
Labels: C-enhancement, 0-merge, A-formatter

#13838 perf(oxfmt): Walk and format at the same time
  apps/oxfmt/src/format.rs
  apps/oxfmt/src/service.rs
  apps/oxfmt/src/walk.rs
  apps/oxfmt/tests/snapshots/_--check --no-error-on-unmatched-pattern __non__existent__file.js --check __non__existent__file.js@oxfmt.snap
Labels: A-cli, C-performance, 0-merge, A-formatter

#13913 perf(linter): replace `for (... of ...)` loops
  apps/oxlint/src-js/plugins/load.ts
  apps/oxlint/src-js/plugins/visitor.ts
Labels: A-linter, A-cli, C-performance, 0-merge

#13914 refactor(linter): remove double reference in vue/require-typed-ref
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules/vue/require_typed_ref.rs
Labels: A-linter, C-cleanup

#13915 refactor(linter): remove double reference in vue/jsx-no-undef
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules/react/jsx_no_undef.rs
Labels: A-linter, C-cleanup

#13918 fix(napi/parser): move `browser.js` file
  napi/parser/src-js/browser.js
Labels: C-bug, A-parser, 0-merge

#13929 test(editor): fix test setup
  editors/vscode/package.json
  editors/vscode/rolldown.config.ts
Labels: 0-merge, A-editor, C-test

#13925 feat(tasks/coverage): add node compat table tests for minifier
  .github/actions/clone-submodules/clone-parallel.sh
  crates/oxc_minifier/README.md
  justfile
  tasks/coverage/snapshots/minifier_node_compat.snap
  tasks/coverage/src/driver.rs
  tasks/coverage/src/lib.rs
  tasks/coverage/src/node_compat_table/mod.rs
  tasks/coverage/src/suite.rs
  tasks/coverage/src/tools/minifier.rs
Labels: C-enhancement, A-minifier, 0-merge

#13876 feat(npm/oxlint): convert to ES modules
  apps/oxlint/scripts/build.js
  crates/oxc_allocator/Cargo.toml
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast_visit/Cargo.toml
  crates/oxc_diagnostics/Cargo.toml
  crates/oxc_parser/Cargo.toml
  crates/oxc_semantic/Cargo.toml
  npm/oxlint/bin/oxc_language_server
  npm/oxlint/bin/oxlint
  npm/oxlint/package.json
Labels: C-enhancement, A-linter, A-parser, A-semantic, A-cli, A-ast, 0-merge

#13895 fix(build): bump package version in `apps/oxlint` in pre-release workflow
  .github/workflows/reusable_prepare_release.yml
  oxc_release.toml
Labels: C-bug, 0-merge

#13939 chore(deps): bump oxc-browserslist and oxc-sourcemap
  Cargo.lock
Labels: C-cleanup

#13948 refactor(ast_tools): move `StructOrEnum` into schema module
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/schema/defs/mod.rs
Labels: C-cleanup, A-ast-tools

#13956 fix(napi/playground): only mangle if mangle option is enabled
  napi/playground/src/lib.rs
Labels: C-bug, 0-merge

#13951 feat(minifier): only apply `arguments` copy loop transformation in strict mode
  crates/oxc_minifier/docs/ASSUMPTIONS.md
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
Labels: C-enhancement, A-minifier, 0-merge

#13700 feat(language_server): introduce `ServerFormatter`
  Cargo.lock
  crates/oxc_language_server/Cargo.toml
  crates/oxc_language_server/README.md
  crates/oxc_language_server/src/capabilities.rs
  crates/oxc_language_server/src/file_system.rs
  crates/oxc_language_server/src/formatter/mod.rs
  crates/oxc_language_server/src/formatter/options.rs
  crates/oxc_language_server/src/formatter/server_formatter.rs
  crates/oxc_language_server/src/linter/error_with_position.rs
  crates/oxc_language_server/src/main.rs
  crates/oxc_language_server/src/options.rs
  crates/oxc_language_server/src/tester.rs
  crates/oxc_language_server/src/worker.rs
Labels: C-enhancement, 0-merge, A-editor

#13923 feat(editor): add `oxc.fmt.experimental` flag
  editors/vscode/README.md
  editors/vscode/client/WorkspaceConfig.ts
  editors/vscode/fixtures/formatting/formatting.ts
  editors/vscode/package.json
  editors/vscode/tests/WorkspaceConfig.spec.ts
  editors/vscode/tests/e2e_server.spec.ts
Labels: C-enhancement, 0-merge, A-editor

#13968 fix(linter/plugins): avoid lint warnings compiling WASM or big-endian
  apps/oxlint/src/run.rs
Labels: C-bug, A-linter, A-cli, 0-merge

#13975 fix(codegen): add missing dot when printing import.defer and import.source
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/js.rs
Labels: C-bug, A-codegen, 0-merge

#13978 refactor(napi/parser): itemize files in `package.json`
  napi/parser/package.json
Labels: A-parser, C-cleanup, 0-merge

#13979 ci(release): fix release workflow for NAPI packages
  .github/workflows/reusable_release_napi.yml
  napi/parser/scripts/build-browser-bundle.mjs
Labels: A-parser, 0-merge

#13973 docs(ast): document `JSDocUnknownType`
  crates/oxc_ast/src/ast/ts.rs
Labels: A-ast, 0-merge, C-docs

#13896 fix(linter): report correct diagnostic count on minified files
  crates/oxc_diagnostics/src/service.rs
Labels: C-bug

#13966 test(language_server): add `test_and_snapshot_multiple_file`
  crates/oxc_language_server/src/linter/server_linter.rs
  crates/oxc_language_server/src/snapshots/fixtures_linter_astro@debugger.astro.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module@debugger.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_extended_config@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_nested_config@dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_cross_module_nested_config@dep-a.ts_folder__folder-dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_deny_no_console@hello_world.js.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_ignore_patterns@ignored-file.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_ignore_patterns@ignored-file.ts_another_config__not-ignored-file.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_invalid_syntax@debugger.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_issue_9958@issue.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_lint_on_run_on_save@on-save.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_lint_on_run_on_save@on-type.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_lint_on_run_on_type@on-save-no-type-aware.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_lint_on_run_on_type@on-save.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_lint_on_run_on_type@on-type.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_multiple_suggestions@forward_ref.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_no_errors@hello_world.js.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_regexp_feature@index.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_svelte@debugger.svelte.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_ts_path_alias@deep__src__dep-a.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_tsgolint@no-floating-promises__index.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_unused_disabled_directives@test.js.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_vue@debugger.vue.snap
  crates/oxc_language_server/src/tester.rs
Labels: 0-merge, A-editor, C-test

#13986 test(language_server): skip formatter test on windows
  crates/oxc_language_server/src/formatter/server_formatter.rs
Labels: 0-merge, A-editor, C-test

#13892 feat(formatter): implement formatting for `TSAsExpression` and `TSSatisfiesExpression`
  crates/oxc_formatter/src/write/as_or_satisfies_expression.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, 0-merge, A-formatter

#13893 feat(formatter): implement formatting for `TSUnionType`
  crates/oxc_formatter/src/formatter/comments.rs
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/parentheses/ts_type.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/union_type.rs
  tasks/ast_tools/src/generators/formatter/format.rs
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, 0-merge, A-ast-tools, A-formatter

#13910 feat(formatter): implement formatting for `TSIntersectiontype`
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/write/intersection_type.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/ast_tools/src/generators/formatter/format.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-ast-tools, A-formatter

#13911 feat(formatter): implement formatting for `TSTypeAssertion`
  crates/oxc_formatter/src/write/mod.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-formatter

#13928 fix(formatter): missing semicolon for `declare` function
  crates/oxc_formatter/src/write/function.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-bug, A-formatter

#13903 perf(codegen): unroll loop in `SourcemapBuilder::update_generated_line_and_column`
  crates/oxc_codegen/src/sourcemap_builder.rs
Labels: C-performance, A-codegen

#13874 feat(npm/runtime): convert to ES modules
  npm/runtime/package.json
Labels: C-enhancement, 0-merge

#13930 feat(napi/parser): add AST walker
  .github/generated/ast_changes_watch_list.yml
  napi/parser/README.md
  napi/parser/generated/visit/types.mjs
  napi/parser/generated/visit/visitor.d.ts
  napi/parser/generated/visit/walk.mjs
  napi/parser/package.json
  napi/parser/src-js/header.d.ts
  napi/parser/src-js/header.js
  napi/parser/src-js/index.d.ts
  napi/parser/src-js/index.mjs
  napi/parser/src-js/visit/index.mjs
  napi/parser/src-js/visit/visitor.mjs
  napi/parser/test/parse.test.ts
  napi/parser/test/visit.test.ts
  tasks/ast_tools/src/generators/estree_visit.rs
Labels: C-enhancement, A-parser, A-ast-tools

#13940 feat(napi/parser): add `deserializeProgramOnly` deserializer function
  napi/parser/generated/deserialize/js.mjs
  napi/parser/generated/deserialize/ts.mjs
  tasks/ast_tools/src/generators/raw_transfer.rs
Labels: C-enhancement, A-parser, A-ast-tools

#13942 feat(linter/plugins): ESTree-compatible AST for JS plugins
  apps/oxlint/scripts/build.js
  apps/oxlint/src-js/plugins/lint.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/src-js/plugins/visitor.ts
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  apps/oxlint/test/compile-visitor.test.ts
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/basic_custom_plugin_multiple_rules/.oxlintrc.json
  apps/oxlint/test/fixtures/basic_custom_plugin_multiple_rules/test_plugin/index.js
  apps/oxlint/test/fixtures/estree/.oxlintrc.json
  apps/oxlint/test/fixtures/estree/index.ts
  apps/oxlint/test/fixtures/estree/test_plugin/index.js
  apps/oxlint/tsconfig.json
Labels: C-enhancement, A-linter, A-parser, A-cli, A-ast-tools

#14006 fix(linter): support let-chains in codegen node type detection
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  tasks/linter_codegen/src/if_else_detector.rs
Labels: C-bug, A-linter, 0-merge

#14012 refactor(napi/parser): freeze `visitorKeys` export
  napi/parser/generated/visit/keys.mjs
  tasks/ast_tools/src/generators/estree_visit.rs
Labels: A-parser, C-cleanup, 0-merge, A-ast-tools

#14061 test(linter/plugins): test returning `false` from `before` hook skips visitation in ESLint
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  apps/oxlint/test/__snapshots__/eslint-compat.test.ts.snap
  apps/oxlint/test/fixtures/define/.oxlintrc.json
  apps/oxlint/test/fixtures/define/eslint.config.js
  apps/oxlint/test/fixtures/define/test_plugin/index.js
Labels: A-linter, A-cli, C-test

#14062 fix(linter/plugins): `defineRule` call `createOnce` lazily
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/load.ts
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  apps/oxlint/test/__snapshots__/eslint-compat.test.ts.snap
  apps/oxlint/test/fixtures/createOnce/test_plugin/index.js
  apps/oxlint/test/fixtures/define/test_plugin/index.js
Labels: C-bug, A-linter, A-cli

#14064 test(linter/plugins): rename test
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  apps/oxlint/test/__snapshots__/eslint-compat.test.ts.snap
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/eslint-compat.test.ts
  apps/oxlint/test/fixtures/defineRule/.oxlintrc.json
  apps/oxlint/test/fixtures/defineRule/eslint.config.js
  apps/oxlint/test/fixtures/defineRule/files/1.js
  apps/oxlint/test/fixtures/defineRule/files/2.js
  apps/oxlint/test/fixtures/defineRule/test_plugin/index.js
Labels: A-linter, A-cli, C-test

#14026 feat(minifier): remove unused private class members
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_unused_private_members.rs
  crates/oxc_minifier/src/state.rs
  tasks/track_memory_allocations/allocs_minifier.snap
Labels: C-enhancement, A-minifier

#14027 feat(mangler): mangle private class members
  crates/oxc/src/compiler.rs
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_mangler/src/lib.rs
  crates/oxc_minifier/examples/mangler.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_minifier/tests/mangler/snapshots/private_member_mangling.snap
Labels: C-enhancement, A-minifier, A-codegen

#14066 fix(linter): Fix false positive in `vue/no-required-prop-with-default`
  crates/oxc_linter/src/rules/vue/no_required_prop_with_default.rs
Labels: C-bug, A-linter

#14019 feat(formatter): implement formatting for `TSTupletype`
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/tuple_type.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, 0-merge, A-formatter

#14021 fix(formatter): missing parenthesis for `NewExpression` whose callee is a `TSNonNullExpression` with `TaggedTemplateExpression`
  crates/oxc_formatter/src/parentheses/expression.rs
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-bug, A-formatter

#14022 fix(formatter): correct preserving parentheses for `TSXXXType` nodes
  crates/oxc_formatter/src/generated/format.rs
  crates/oxc_formatter/src/parentheses/ts_type.rs
  crates/oxc_formatter/src/write/mod.rs
  tasks/ast_tools/src/generators/formatter/format.rs
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-bug, A-ast-tools, A-formatter

#14023 feat(formatter): correct printing for `TSConditionalType`
  crates/oxc_formatter/src/formatter/comments.rs
  crates/oxc_formatter/src/utils/conditional.rs
  crates/oxc_formatter/src/utils/expression.rs
  crates/oxc_formatter/src/utils/format_node_without_trailing_comments.rs
  crates/oxc_formatter/src/utils/mod.rs
  crates/oxc_formatter/src/write/binary_like_expression.rs
  crates/oxc_formatter/src/write/class.rs
  crates/oxc_formatter/src/write/jsx/mod.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/template.rs
  tasks/coverage/snapshots/formatter_typescript.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-ast-tools, A-formatter

#14024 feat(formatter): correct printing for `Class`
  crates/oxc_formatter/src/utils/assignment_like.rs
  crates/oxc_formatter/src/utils/object.rs
  crates/oxc_formatter/src/write/class.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/semicolon.rs
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, A-ast-tools, A-formatter

#14040 feat(formatter): implement formatting for `TSTypeAliasDeclaration`
  crates/oxc_formatter/src/utils/assignment_like.rs
  crates/oxc_formatter/src/utils/mod.rs
  crates/oxc_formatter/src/utils/typescript.rs
  crates/oxc_formatter/src/write/call_arguments.rs
  crates/oxc_formatter/src/write/intersection_type.rs
  crates/oxc_formatter/src/write/mod.rs
  crates/oxc_formatter/src/write/type_parameters.rs
  crates/oxc_formatter/src/write/union_type.rs
  tasks/coverage/snapshots/formatter_misc.snap
  tasks/prettier_conformance/snapshots/prettier.ts.snap.md
Labels: C-enhancement, 0-merge, A-formatter

#14073 perf(linter/plugins): load methods of globals into local vars
  apps/oxlint/src-js/index.ts
  apps/oxlint/src-js/plugins/load.ts
  apps/oxlint/src-js/plugins/visitor.ts
Labels: A-linter, A-cli, C-performance, 0-merge

#14028 feat(data_structures): add `Stack::clear`
  crates/oxc_data_structures/src/stack/standard.rs
Labels: C-enhancement

#14050 refactor(linter): rename `LintRunner` to `CliRunner`
  apps/oxlint/src/lib.rs
  apps/oxlint/src/lint.rs
  apps/oxlint/src/run.rs
  apps/oxlint/src/tester.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#14041 feat(linter/exhaustive-deps): add support for `useEffectEvent`
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
Labels: C-enhancement, A-linter

#14085 refactor(linter): move imports
  crates/oxc_linter/src/lib.rs
Labels: A-linter, C-cleanup, 0-merge

#14086 fix(linter/plugins): validate type of `before` and `after` hooks
  apps/oxlint/src-js/plugins/load.ts
Labels: C-bug, A-linter, A-cli, 0-merge

#13527 refactor(eslint/eqeqeq): clean up implementation and improve documentation
  crates/oxc_linter/src/rules/eslint/eqeqeq.rs
Labels: A-linter, C-cleanup

#12165 feat(linter): add react/jsx-pascal-case rule
  crates/oxc_linter/src/generated/rule_runner_impls.rs
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/react/jsx_pascal_case.rs
  crates/oxc_linter/src/snapshots/react_jsx_pascal_case.snap
Labels: C-enhancement, A-linter

#14091 chore(pnpm): add `@oxc-project/*` to `minimumReleaseAgeExclude`
  pnpm-workspace.yaml
Labels: C-cleanup

#14088 perf(ci): skip benchmarks for unaffected components
  .github/scripts/generate-benchmark-matrix.js
  .github/workflows/benchmark.yml
Labels: A-minifier, C-performance

#14099 feat(linter): move `no-unused-expressions` to correctness
  apps/oxlint/src/snapshots/_--ignore-path fixtures__linter__.customignore --no-ignore fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_--ignore-pattern _____.js --ignore-pattern _____.vue fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin -A all -D no-cycle fixtures__flow__@oxlint.snap
  apps/oxlint/src/snapshots/_--import-plugin fixtures__flow__index.mjs@oxlint.snap
  apps/oxlint/src/snapshots/_--vitest-plugin -c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-D correctness fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W correctness -A no-debugger fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__eslintrc_env__eslintrc_no_env.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-W no-undef -c fixtures__no_undef__eslintrc.json fixtures__no_undef__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__config_ignore_patterns__ignore_extension__eslintrc.json fixtures__config_ignore_patterns__ignore_extension__main.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_env__eslintrc_env_browser.json fixtures__eslintrc_env__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_off__eslintrc.json fixtures__eslintrc_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__eslintrc_vitest_replace__eslintrc.json fixtures__eslintrc_vitest_replace__foo.test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__linter__eslintrc.json fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_console_off__eslintrc.json fixtures__no_console_off__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_allow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_allow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__no_empty_disallow_empty_catch__eslintrc.json -W no-empty fixtures__no_empty_disallow_empty_catch__test.js@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.js -c fixtures__overrides__.oxlintrc.json fixtures__overrides__test.ts -c fixtures__overrides__.oxlintrc.json fixtures__overrides__other.jsx@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__overrides__directories-config.json fixtures__overrides@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json --disable-typescript-plugin fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__astro__debugger.astro@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js fixtures__linter__nan.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__linter__js_as_jsx.js@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__svelte__debugger.svelte@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__debugger.vue@oxlint.snap
  apps/oxlint/src/snapshots/_fixtures__vue__empty.vue@oxlint.snap
  apps/oxlint/src/snapshots/_foo.asdf@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__ignore_directory_-c eslintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__config_ignore_patterns__with_oxlintrc_-c .__test__eslintrc.json --ignore-pattern _.ts .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__disable_eslint_and_unicorn_alias_rules_-c .oxlintrc-eslint.json test.js -c .oxlintrc-unicorn.json test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__dot_folder_@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config extends_rules_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--config relative_paths__extends_extends_config.json console.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__extends_config_--disable-nested-config@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import-cycle_--import-plugin -D import__no-cycle@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__import_-c .oxlintrc.json test.js -c .oxlintrc-import-x.json test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_10394_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_11054_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__issue_11644_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__linter_debugger.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_env_globals_-c .oxlintrc.json .@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__overrides_with_plugin_-c .oxlintrc.json@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__report_unused_directives_-c .oxlintrc.json --report-unused-disable-directives test.js@oxlint.snap
  apps/oxlint/src/snapshots/fixtures__two_rules_with_same_rule_name_-c .oxlintrc.json test.js@oxlint.snap
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  crates/oxc_language_server/src/snapshots/fixtures_linter_tsgolint@no-floating-promises__index.ts.snap
  crates/oxc_linter/src/rules/eslint/no_unused_expressions.rs
  crates/oxc_linter/src/snapshots/eslint_no_unused_expressions.snap
Labels: C-enhancement, A-linter, A-cli, 0-merge, A-editor

#14103 refactor(linter): `preserve-caught-errors`: rename config and add docs
  crates/oxc_linter/src/rules/eslint/preserve_caught_error.rs
Labels: A-linter, C-cleanup

#14094 feat(linter/plugins): support fixes
  apps/oxlint/src-js/plugins/context.ts
  apps/oxlint/src-js/plugins/fix.ts
  apps/oxlint/src-js/plugins/load.ts
  apps/oxlint/src-js/plugins/types.ts
  apps/oxlint/test/__snapshots__/e2e.test.ts.snap
  apps/oxlint/test/e2e.test.ts
  apps/oxlint/test/fixtures/fixes/.oxlintrc.json
  apps/oxlint/test/fixtures/fixes/index.js
  apps/oxlint/test/fixtures/fixes/test_plugin/index.js
  crates/oxc_linter/src/external_linter.rs
  crates/oxc_linter/src/lib.rs
Labels: C-enhancement, A-linter, A-cli, 0-merge
