Repository oxc-project/oxc, pull requests merged in 2025-02, with the labels that each got.

#8819 fix(vscode): fix commands by reverting commit `259a47b`
  editors/vscode/client/ConfigService.ts
  editors/vscode/client/commands.ts
  editors/vscode/client/extension.ts
  editors/vscode/client/findBinary.ts
  editors/vscode/package.json
Labels: C-bug, A-editor

#8216 feat(linter): implement `eslint/prefer-object-spread`
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/prefer_object_spread.rs
  crates/oxc_linter/src/snapshots/eslint_prefer_object_spread.snap
Labels: C-enhancement, A-linter

#8815 feat(semantic): report error for empty JSX attribute expression
  crates/oxc_semantic/src/checker/mod.rs
  crates/oxc_semantic/src/checker/typescript.rs
  tasks/coverage/snapshots/parser_typescript.snap
Labels: C-enhancement, A-semantic, 0-merge

#8816 docs(ast): correct documentation for `JSXExpression::EmptyExpression`
  crates/oxc_ast/src/ast/jsx.rs
Labels: A-ast, 0-merge, C-docs

#8821 test(oxlint): test two real rules with same name but from different plugins
  apps/oxlint/fixtures/disable_eslint_and_unicorn_alias_rules/.oxlintrc-eslint.json
  apps/oxlint/fixtures/disable_eslint_and_unicorn_alias_rules/.oxlintrc-unicorn.json
  apps/oxlint/fixtures/disable_eslint_and_unicorn_alias_rules/test.js
  apps/oxlint/fixtures/two_rules_with_same_rule_name/.oxlintrc.json
  apps/oxlint/fixtures/two_rules_with_same_rule_name/test.js
  apps/oxlint/src/lint.rs
  apps/oxlint/src/snapshots/fixtures__two_rules_with_same_rule_name_-c .oxlintrc.json test.js@oxlint.snap
Labels: A-cli, C-test

#8820 docs(ast): add documentation for all remaining JS AST methods
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_ast/src/ast_kind_impl.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/declaration.rs
  crates/oxc_isolated_declarations/src/lib.rs
  crates/oxc_linter/src/rules/eslint/func_names.rs
  crates/oxc_linter/src/rules/eslint/no_empty_function.rs
  crates/oxc_linter/src/rules/eslint/no_plusplus.rs
  crates/oxc_linter/src/rules/eslint/no_unused_vars/binding_pattern.rs
  crates/oxc_linter/src/rules/nextjs/no_page_custom_font.rs
  crates/oxc_linter/src/rules/oxc/no_async_endpoint_handlers.rs
  crates/oxc_linter/src/rules/promise/prefer_await_to_callbacks.rs
  crates/oxc_linter/src/rules/react/no_array_index_key.rs
  crates/oxc_linter/src/rules/react/rules_of_hooks.rs
  crates/oxc_linter/src/utils/express.rs
  crates/oxc_transformer/src/typescript/namespace.rs
  tasks/prettier_conformance/src/spec.rs
Labels: A-linter, A-ast, A-transformer, A-prettier, A-isolated-declarations, C-docs

#8822 refactor(minifier): extract `extract_id_or_assign_to_id` method
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
Labels: A-minifier, C-cleanup, A-ast, 0-merge

#8825 refactor(ast): make generated code for `Visit` more understandable
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  tasks/ast_tools/src/generators/visit.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8830 refactor(ast): remove excess line breaks from generated code
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_address.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_syntax/src/generated/derive_clone_in.rs
  crates/oxc_syntax/src/generated/derive_content_eq.rs
  tasks/ast_tools/src/derives/mod.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8823 feat(minifier): compress `(a = _a) != null ? a : b` and `(a = _a) != null ? a.b() : undefined`
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, A-ast, 0-merge

#8832 refactor(linter): replace MIME guessing with extension check
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/config/oxlintrc.rs
Labels: A-linter, A-cli, C-cleanup, 0-merge

#8833 refactor(linter): remove usage of `url` crate
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/Cargo.toml
  crates/oxc_linter/src/rules/nextjs/google_font_display.rs
  crates/oxc_linter/src/rules/nextjs/no_unwanted_polyfillio.rs
  crates/oxc_linter/src/utils/mod.rs
  crates/oxc_linter/src/utils/url.rs
  tasks/common/Cargo.toml
  tasks/common/src/test_file.rs
Labels: A-linter, C-cleanup, 0-merge

#8831 perf(linter): use parallel iterator directly instead of iter and parallel bridge
  crates/oxc_linter/src/service/mod.rs
  crates/oxc_linter/src/service/runtime.rs
Labels: A-linter, C-performance

#8835 chore(minifier): correct links to esbuild
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
Labels: A-minifier, C-cleanup

#8834 fix(codegen): Emit this parameters of class methods
  crates/oxc_codegen/src/gen.rs
  crates/oxc_isolated_declarations/tests/fixtures/eliminate-imports.ts
  crates/oxc_isolated_declarations/tests/snapshots/eliminate-imports.snap
Labels: C-bug, A-codegen, A-isolated-declarations

#8836 test(minifier): fail tests when parse fails
  crates/oxc_minifier/tests/mod.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: A-minifier, 0-merge, C-test

#8837 fix(minifier): mark as changed when `else if` was converted to `if`
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/tests/peephole/mod.rs
Labels: C-bug, A-minifier, 0-merge

#8756 feat(linter): Junit reporter
  apps/oxlint/src/output_formatter/checkstyle.rs
  apps/oxlint/src/output_formatter/junit.rs
  apps/oxlint/src/output_formatter/mod.rs
  apps/oxlint/src/output_formatter/xml_utils.rs
  apps/oxlint/src/snapshots/fixtures__output_formatter_diagnostic_--format=junit test.js@oxlint.snap
Labels: C-enhancement, A-cli

#8829 refactor(codegen): accept SymbolTable instead of Mangler
  Cargo.lock
  crates/oxc/src/compiler.rs
  crates/oxc_codegen/Cargo.toml
  crates/oxc_codegen/src/lib.rs
  crates/oxc_mangler/src/lib.rs
  crates/oxc_minifier/examples/mangler.rs
  crates/oxc_minifier/examples/minifier.rs
  crates/oxc_minifier/src/lib.rs
  crates/oxc_minifier/tests/mangler/mod.rs
  crates/oxc_semantic/src/symbol.rs
  crates/oxc_wasm/src/lib.rs
  napi/minify/src/lib.rs
  tasks/coverage/src/runtime/mod.rs
  tasks/minsize/src/lib.rs
Labels: A-semantic, A-minifier, C-cleanup, A-codegen

#8810 feat(minifier): complete `MangleIf`
  crates/oxc_ast/src/ast_impl/js.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/statement_fusion.rs
  crates/oxc_minifier/tests/peephole/dead_code_elimination.rs
  crates/oxc_minifier/tests/peephole/mod.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, A-ast, 0-merge

#8840 fix(linter): correctly replace rule severity with duplicate rule name configurations
  apps/oxlint/fixtures/typescript_eslint/eslintrc.json
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json --disable-typescript-plugin fixtures__typescript_eslint__test.ts@oxlint.snap
  apps/oxlint/src/snapshots/_-c fixtures__typescript_eslint__eslintrc.json fixtures__typescript_eslint__test.ts@oxlint.snap
  crates/oxc_linter/src/config/rules.rs
Labels: C-bug, A-linter, A-cli

#8843 refactor(minifier): break up methods into different files
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  crates/oxc_minifier/src/peephole/minimize_if_statement.rs
  crates/oxc_minifier/src/peephole/minimize_not_expression.rs
  crates/oxc_minifier/src/peephole/mod.rs
Labels: A-minifier, C-cleanup

#8844 refactor(ast_tools): re-vamp `oxc_ast_tools`
  .github/.generated_ast_watch_list.yml
  Cargo.lock
  crates/oxc_ast/src/generated/assert_layouts.rs
  tasks/ast_tools/Cargo.toml
  tasks/ast_tools/src/codegen.rs
  tasks/ast_tools/src/derives/clone_in.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/derives/get_address.rs
  tasks/ast_tools/src/derives/get_span.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/generators/get_id.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/layout.rs
  tasks/ast_tools/src/logger.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/markers.rs
  tasks/ast_tools/src/output/javascript.rs
  tasks/ast_tools/src/output/mod.rs
  tasks/ast_tools/src/output/rust.rs
  tasks/ast_tools/src/parse/attr.rs
  tasks/ast_tools/src/parse/load.rs
  tasks/ast_tools/src/parse/mod.rs
  tasks/ast_tools/src/parse/parse.rs
  tasks/ast_tools/src/parse/skeleton.rs
  tasks/ast_tools/src/passes/calc_layout.rs
  tasks/ast_tools/src/passes/linker.rs
  tasks/ast_tools/src/passes/mod.rs
  tasks/ast_tools/src/rust_ast.rs
  tasks/ast_tools/src/schema/defs.rs
  tasks/ast_tools/src/schema/defs/box.rs
  tasks/ast_tools/src/schema/defs/cell.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/defs/mod.rs
  tasks/ast_tools/src/schema/defs/option.rs
  tasks/ast_tools/src/schema/defs/primitive.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/defs/type.rs
  tasks/ast_tools/src/schema/defs/vec.rs
  tasks/ast_tools/src/schema/derives.rs
  tasks/ast_tools/src/schema/extensions/clone_in.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
  tasks/ast_tools/src/schema/extensions/kind.rs
  tasks/ast_tools/src/schema/extensions/layout.rs
  tasks/ast_tools/src/schema/extensions/span.rs
  tasks/ast_tools/src/schema/extensions/visit.rs
  tasks/ast_tools/src/schema/file.rs
  tasks/ast_tools/src/schema/get_generics.rs
  tasks/ast_tools/src/schema/get_ident.rs
  tasks/ast_tools/src/schema/mod.rs
  tasks/ast_tools/src/schema/serialize.rs
  tasks/ast_tools/src/schema/to_type.rs
  tasks/ast_tools/src/util.rs
  tasks/ast_tools/src/utils.rs
Labels: C-cleanup, A-ast, A-ast-tools

#8846 feat(minifier): implement minimize for statement
  crates/oxc_minifier/src/peephole/minimize_for_statement.rs
  crates/oxc_minifier/src/peephole/mod.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8839 feat(codegen): prefer backquotes over double / single quotes
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/src/lib.rs
  crates/oxc_codegen/tests/integration/snapshots/minify.snap
  crates/oxc_codegen/tests/integration/snapshots/ts.snap
  crates/oxc_codegen/tests/integration/ts.rs
  crates/oxc_codegen/tests/integration/unit.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-codegen, 0-merge

#8443 feat(minifier): minify `String::concat` into template literal
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, A-codegen, 0-merge

#8848 refactor(prettier): Verify printing object
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/format/print/block.rs
  crates/oxc_prettier/src/format/print/class.rs
  crates/oxc_prettier/src/format/print/function.rs
  crates/oxc_prettier/src/format/print/object.rs
  crates/oxc_prettier/src/format/print/property.rs
  crates/oxc_prettier/src/format/typescript.rs
Labels: C-cleanup, A-prettier

#8847 feat(minifier): `for (;;) { var x }` -> `for (;;) var x;`
  crates/oxc_minifier/src/peephole/collapse_variable_declarations.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8850 refactor(ast_tools): shorten code for reading file
  tasks/ast_tools/src/output/mod.rs
  tasks/ast_tools/src/parse/load.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8851 feat(ast_tools): do not overwrite files if no changes
  tasks/ast_tools/src/output/mod.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#8852 feat(ast_tools): generate list of helper attributes in `oxc_ast_macros` crate
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast_macros/src/lib.rs
  tasks/ast_tools/src/codegen.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/output/mod.rs
  tasks/ast_tools/src/output/rust.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#8853 docs(ast_macros): update docs
  crates/oxc_ast_macros/src/lib.rs
Labels: 0-merge, C-docs

#8849 feat(minifier): minimize `!!(boolean_expr)` -> `boolean_expr`
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8859 refactor(ast_tools): shorten code
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8860 refactor(ast_tools): rename vars
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/generators/get_id.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/main.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8873 docs(ast): do not include `r#` prefix in doc comments for `AstBuilder` methods
  crates/oxc_ast/src/generated/ast_builder.rs
  tasks/ast_tools/src/generators/ast_builder.rs
Labels: A-ast, 0-merge, C-docs, A-ast-tools

#8862 refactor(ast): remove unneeded lint attrs from generated code
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  crates/oxc_regular_expression/src/generated/derive_content_eq.rs
  crates/oxc_regular_expression/src/generated/derive_estree.rs
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_syntax/src/generated/derive_content_eq.rs
  crates/oxc_syntax/src/generated/derive_estree.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/visit.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8863 refactor(ast): re-order generated code
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_ast/src/generated/ast_kind.rs
  crates/oxc_ast/src/generated/derive_clone_in.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/generated/derive_get_address.rs
  crates/oxc_ast/src/generated/derive_get_span.rs
  crates/oxc_ast/src/generated/derive_get_span_mut.rs
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/main.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8857 feat(minifier): minimize block statements
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
  crates/oxc_minifier/src/peephole/statement_fusion.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier

#8864 refactor(ast): shorten generated code for numbers
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_regular_expression/src/generated/derive_estree.rs
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_syntax/src/generated/derive_estree.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/utils.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8865 feat(ast_tools): Support `NonZero*` primitives
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/parse/parse.rs
  tasks/ast_tools/src/schema/extensions/layout.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#8866 feat(ast_tools): allow defining foreign types with `#[ast(foreign = ...)]`
  tasks/ast_tools/src/parse/load.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#8867 refactor(syntax): add `#[ast]` attr to semantic ID types
  .github/.generated_ast_watch_list.yml
  Cargo.lock
  crates/oxc_ast/Cargo.toml
  crates/oxc_ast/src/generated/assert_layouts.rs
  crates/oxc_syntax/src/lib.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8868 refactor(ast): communicate type of `RegExpFlags` to `oxc_ast_tools` with alias type
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/generated/assert_layouts.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8869 refactor(span)!: export `ContentEq` trait from root of `oxc_span` crate
  crates/oxc_ast/src/ast/comment.rs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
  crates/oxc_ast_macros/src/ast.rs
  crates/oxc_linter/src/rules/eslint/no_dupe_else_if.rs
  crates/oxc_linter/src/rules/eslint/no_duplicate_case.rs
  crates/oxc_linter/src/rules/eslint/no_extend_native.rs
  crates/oxc_linter/src/rules/eslint/no_self_compare.rs
  crates/oxc_linter/src/rules/eslint/no_useless_call.rs
  crates/oxc_linter/src/rules/eslint/prefer_spread.rs
  crates/oxc_linter/src/utils/unicorn.rs
  crates/oxc_minifier/src/ctx.rs
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_regular_expression/src/ast.rs
  crates/oxc_regular_expression/src/generated/derive_content_eq.rs
  crates/oxc_span/src/atom.rs
  crates/oxc_span/src/lib.rs
  crates/oxc_span/src/source_type/mod.rs
  crates/oxc_span/src/span/types.rs
  crates/oxc_syntax/src/generated/derive_content_eq.rs
  crates/oxc_syntax/src/number.rs
  crates/oxc_syntax/src/operator.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/coverage/src/driver.rs
Labels: A-linter, A-minifier, C-cleanup, A-ast, 0-merge, A-ast-tools

#8870 feat(ast_tools): generate mapping of trait name to crate in `oxc_ast_macros`
  .github/.generated_ast_watch_list.yml
  crates/oxc_ast_macros/src/ast.rs
  crates/oxc_ast_macros/src/generated/mod.rs
  crates/oxc_ast_macros/src/lib.rs
  tasks/ast_tools/src/derives/clone_in.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/derives/get_address.rs
  tasks/ast_tools/src/derives/get_span.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/main.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#8871 refactor(ast): rename `#[estree(always_flatten)]` attr to `#[estree(flatten)]`
  crates/oxc_span/src/span/types.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8874 feat(ast_tools): allow attrs on types which do not derive the trait
  tasks/ast_tools/src/parse/attr.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#8875 refactor(ast): `#[content_eq(skip)]` attr
  crates/oxc_ast_macros/src/lib.rs
  crates/oxc_span/src/span/types.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/extensions/content_eq.rs
  tasks/ast_tools/src/schema/mod.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8876 refactor(ast): move `#[clone_in(default)]` to types
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
  tasks/ast_tools/src/derives/clone_in.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/extensions/clone_in.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8877 refactor(ast): move `#[estree(skip)]` to types
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_syntax/src/reference.rs
  crates/oxc_syntax/src/scope.rs
  crates/oxc_syntax/src/symbol.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8878 refactor(ast): use `=` syntax for `#[scope]` attrs
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_traverse/scripts/lib/parse.mjs
  tasks/ast_tools/src/generators/visit.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8880 refactor(ast): derive `ContentEq` on literal types
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ast/src/generated/derive_content_eq.rs
Labels: C-cleanup, A-ast, 0-merge

#8885 refactor(prettier): Verify printing (new|call|import)_expr
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/format/print/call_arguments.rs
  crates/oxc_prettier/src/format/print/call_expression.rs
Labels: C-cleanup, A-prettier

#8855 feat(ecmascript): complete may_have_side_effects
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/README.md
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/statement_fusion.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/mod.rs
Labels: C-enhancement, A-minifier, 0-merge

#8894 feat(linter): add suggestion fixer for `eslint/no-iterator`
  crates/oxc_linter/src/rules/eslint/no_iterator.rs
Labels: C-enhancement, A-linter

#8858 feat(oxc_language_server): implement `oxc.fixAll` workspace command
  crates/oxc_language_server/Cargo.toml
  crates/oxc_language_server/README.md
  crates/oxc_language_server/src/capabilities.rs
  crates/oxc_language_server/src/commands.rs
  crates/oxc_language_server/src/main.rs
  editors/vscode/client/extension.ts
Labels: C-enhancement, A-editor

#8881 refactor(ast_tools): parse attributes more deeply
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/parse/attr.rs
  tasks/ast_tools/src/parse/mod.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-cleanup, A-ast-tools

#8882 feat(ast): improve TS type definitions for appended fields
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-enhancement, A-ast-tools

#8883 refactor(ast): shorten generated code for `GetSpan`
  crates/oxc_ast/src/generated/derive_get_span.rs
  tasks/ast_tools/src/derives/get_span.rs
Labels: C-cleanup, A-ast, A-ast-tools

#8887 feat(ast_tools): get extra params for visitor methods from `#[visit(args)]` attr
  crates/oxc_ast/src/ast/js.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/schema/extensions/visit.rs
Labels: C-enhancement, A-ast, A-ast-tools

#8888 refactor(ast_tools): shorten code
  tasks/ast_tools/src/parse/parse.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8889 refactor(ast): record plural names in `#[plural]` attr
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast_macros/src/lib.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/main.rs
  tasks/ast_tools/src/parse/parse.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/defs/vec.rs
  tasks/ast_tools/src/schema/extensions/visit.rs
  tasks/ast_tools/src/utils.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8890 refactor(ast)!: name `AstBuilder` enum builders after variant name not type name
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_ast/src/generated/ast_builder.rs
  crates/oxc_isolated_declarations/src/class.rs
  crates/oxc_isolated_declarations/src/enum.rs
  crates/oxc_isolated_declarations/src/module.rs
  crates/oxc_isolated_declarations/src/types.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_parser/src/jsx/mod.rs
  crates/oxc_parser/src/ts/statement.rs
  crates/oxc_parser/src/ts/types.rs
  crates/oxc_transformer/src/es2022/class_properties/prop_decl.rs
  crates/oxc_transformer/src/jsx/display_name.rs
  crates/oxc_transformer/src/jsx/jsx_impl.rs
  crates/oxc_transformer/src/jsx/jsx_self.rs
  crates/oxc_transformer/src/jsx/jsx_source.rs
  crates/oxc_transformer/src/plugins/inject_global_variables.rs
  crates/oxc_transformer/src/typescript/enum.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/schema/defs/enum.rs
Labels: A-parser, A-minifier, C-cleanup, A-ast, A-transformer, 0-merge, A-isolated-declarations, A-ast-tools

#8891 refactor(ast): generate `Visit` methods in order of type definitions
  crates/oxc_ast/src/generated/visit.rs
  crates/oxc_ast/src/generated/visit_mut.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/schema/mod.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8892 refactor(ast_tools): reorder code in `Visit` generator
  tasks/ast_tools/src/generators/visit.rs
Labels: C-cleanup, A-ast-tools

#8893 refactor(ast_tools): rename `is_visited` to `has_visitor`
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/ast_kind.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/schema/extensions/visit.rs
Labels: C-cleanup, A-ast-tools

#8895 refactor(ast_tools): improve correctness and performance of idents
  Cargo.lock
  tasks/ast_tools/Cargo.toml
  tasks/ast_tools/src/derives/clone_in.rs
  tasks/ast_tools/src/derives/content_eq.rs
  tasks/ast_tools/src/derives/get_span.rs
  tasks/ast_tools/src/generators/ast_builder.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/schema/extensions/visit.rs
  tasks/ast_tools/src/utils.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8897 refactor(ast): override TS type defs with `#[estree(custom_ts_def)]` attribute on type
  crates/oxc_ast/custom_types.d.ts
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/jsx.rs
  crates/oxc_ast/src/ast/literal.rs
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8898 refactor(ast): estree `via` on struct fields implement `From`
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  tasks/ast_tools/src/derives/estree.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8900 refactor(span): combine `Span` type and impls in 1 file
  .github/.generated_ast_watch_list.yml
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_span/src/span.rs
  crates/oxc_span/src/span/types.rs
  tasks/ast_tools/src/main.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8772 fix(ast): serialize `Function.params` like estree
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/ast/ts.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/test/__snapshots__/parse.test.ts.snap
  napi/parser/test/parse.test.ts
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast

#8904 refactor(ast): generated `Serialize` impls flatten struct fields
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_regular_expression/src/generated/derive_estree.rs
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_syntax/src/generated/derive_estree.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8886 refactor(prettier): Verify AST nodes round 2
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/lib.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
Labels: C-cleanup, A-prettier

#8899 fix(ast): fix lifetimes on custom `Serialize` impls
  crates/oxc_ast/src/serialize.rs
Labels: C-bug, A-ast, 0-merge

#8908 feat(data_structures): add `first` and `first_mut` methods to stack types
  crates/oxc_data_structures/src/stack/non_empty.rs
  crates/oxc_data_structures/src/stack/sparse.rs
  crates/oxc_data_structures/src/stack/standard.rs
  crates/oxc_transformer/src/common/arrow_function_converter.rs
  crates/oxc_transformer/src/typescript/enum.rs
Labels: C-enhancement, A-transformer, 0-merge

#8911 refactor(data_structures)!: rename `Stack::last_unchecked_mut` method
  crates/oxc_data_structures/src/stack/sparse.rs
  crates/oxc_data_structures/src/stack/standard.rs
Labels: C-cleanup, 0-merge

#8902 fix(oxc_laguage_server): code actions if report range overlap request
  crates/oxc_language_server/src/main.rs
Labels: C-bug, A-editor

#8910 feat(prettier): Update print_array()
  crates/oxc_prettier/src/format/print/array.rs
  crates/oxc_prettier/src/format/print/call_arguments.rs
  tasks/prettier_conformance/snapshots/prettier.js.snap.md
Labels: C-enhancement, A-prettier

#8916 refactor(prettier): Clean up
  crates/oxc_prettier/src/format/js.rs
  crates/oxc_prettier/src/format/print/block.rs
  crates/oxc_prettier/src/format/print/call_arguments.rs
  crates/oxc_prettier/src/format/print/module.rs
  crates/oxc_prettier/src/format/print/property.rs
  crates/oxc_prettier/src/format/print/statement.rs
  crates/oxc_prettier/src/format/print/template_literal.rs
Labels: C-cleanup, A-prettier

#8921 fix(ast): estree compat `MemberExpression`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  napi/parser/test/__snapshots__/parse.test.ts.snap
  napi/parser/test/parse.test.ts
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-bug, A-ast, A-ast-tools

#8919 fix(ast): estree compat `Program.sourceType`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  napi/parser/test/parse.test.ts
  npm/oxc-types/types.d.ts
Labels: C-bug, A-ast

#8923 refactor(ast_tools): make `AttrPart::List` never empty
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/parse/attr.rs
  tasks/ast_tools/src/parse/parse.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8924 refactor(ast_tools): add helper methods to `AttrPartListElement`
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/parse/attr.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8925 refactor(ast_tools): store lists as `Vec`s not `Option<Vec>`s
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/generators/mod.rs
  tasks/ast_tools/src/generators/visit.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
  tasks/ast_tools/src/schema/extensions/visit.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8926 refactor(ast): rename `#[estree(add_entry)]` to `#[estree(add_fields)]`
  crates/oxc_ast/src/ast/js.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8914 fix(oxc_transformer): avoid const unwrap in base64 length calc
  crates/oxc_transformer/src/jsx/refresh.rs
Labels: C-bug, A-transformer

#8933 refactor(ast_tools): remove `Def::file_id` method, add `StructDef::file` and `EnumDef::file` methods instead
  tasks/ast_tools/src/derives/mod.rs
  tasks/ast_tools/src/schema/defs/box.rs
  tasks/ast_tools/src/schema/defs/cell.rs
  tasks/ast_tools/src/schema/defs/enum.rs
  tasks/ast_tools/src/schema/defs/mod.rs
  tasks/ast_tools/src/schema/defs/option.rs
  tasks/ast_tools/src/schema/defs/primitive.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/defs/type.rs
  tasks/ast_tools/src/schema/defs/vec.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8934 fix(ast_tools): do not flatten struct fields inline if fields are inaccessible from crate where `Serialize` impl is generated
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/schema/defs/struct.rs
  tasks/ast_tools/src/schema/defs/type.rs
Labels: C-bug, 0-merge, A-ast-tools

#8935 feat(ast_tools/typescript): define fields inline for flattened types with only a single field
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-enhancement, 0-merge, A-ast-tools

#8936 refactor(ast): simplify serializing `SourceType`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  crates/oxc_span/src/generated/derive_estree.rs
  crates/oxc_span/src/source_type/mod.rs
  npm/oxc-types/types.d.ts
Labels: C-cleanup, A-ast, 0-merge

#8937 refactor(ast): simplify serializing literal types
  crates/oxc_ast/src/ast/literal.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  crates/oxc_ast/src/serialize.rs
  npm/oxc-types/types.d.ts
Labels: C-cleanup, A-ast, 0-merge

#8938 refactor(ast): shorten TS type definitions for enums
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/generators/typescript.rs
Labels: C-cleanup, 0-merge, A-ast-tools

#8939 refactor(ast): introduce `#[estree(ts_alias)]` attr and use it on `Elision`
  crates/oxc_ast/src/ast/js.rs
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8940 refactor(ast): shorten code for `impl Serialize for Elision`
  crates/oxc_ast/src/serialize.rs
Labels: C-cleanup, A-ast, 0-merge

#8920 fix(linter): correct the `is_reference_to_global_variable`
  crates/oxc_linter/src/config/globals.rs
  crates/oxc_linter/src/config/mod.rs
  crates/oxc_linter/src/context/mod.rs
  crates/oxc_linter/src/rules/eslint/no_alert.rs
  crates/oxc_linter/src/rules/eslint/no_console.rs
  crates/oxc_linter/src/rules/eslint/no_constant_binary_expression.rs
  crates/oxc_linter/src/rules/eslint/no_new_native_nonconstructor.rs
  crates/oxc_linter/src/rules/eslint/no_new_wrappers.rs
  crates/oxc_linter/src/rules/eslint/no_obj_calls.rs
  crates/oxc_linter/src/rules/eslint/no_restricted_globals.rs
  crates/oxc_linter/src/rules/eslint/prefer_exponentiation_operator.rs
  crates/oxc_linter/src/rules/eslint/prefer_object_spread.rs
  crates/oxc_linter/src/rules/eslint/symbol_description.rs
  crates/oxc_linter/src/rules/eslint/valid_typeof.rs
  crates/oxc_linter/src/rules/jest/no_disabled_tests.rs
  crates/oxc_linter/src/rules/promise/avoid_new.rs
  crates/oxc_linter/src/rules/promise/no_new_statics.rs
  crates/oxc_linter/src/rules/react/exhaustive_deps.rs
  crates/oxc_linter/src/rules/unicorn/new_for_builtins.rs
  crates/oxc_linter/src/snapshots/jest_no_disabled_tests.snap
Labels: C-bug, A-linter

#8909 feat(linter): add init-declarations rule
  crates/oxc_linter/src/rules.rs
  crates/oxc_linter/src/rules/eslint/init_declarations.rs
  crates/oxc_linter/src/snapshots/eslint_init_declarations.snap
Labels: C-enhancement, A-linter

#8946 feat(tasks/coverage): estree test262 conformance runner
  .gitignore
  justfile
  tasks/coverage/snapshots/estree_test262.snap
  tasks/coverage/src/lib.rs
  tasks/coverage/src/main.rs
  tasks/coverage/src/tools/estree.rs
  tasks/coverage/src/tools/mod.rs
Labels: C-enhancement

#8941 test(minifier): enable esbuild constant evaluation tests
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: A-minifier, 0-merge, C-test

#8942 fix(minifier): fix comparison of strings with unicode characters
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-bug, A-minifier, 0-merge

#8951 test(ecmascript): add test for `ValueType` and update document
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/tests/ecmascript/mod.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: A-minifier, 0-merge, C-test

#8954 fix(ecmascript): `ValueType::from` for unknown value should return Undetermined instead of Number
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier, 0-merge

#8955 feat(ecmascript): `ValueType::from` for bitwise not operator
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: C-enhancement, A-minifier, 0-merge

#8956 fix(ecmascript): fix `ValueType::from` for numeric binary operators
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/minimize_expression_in_boolean_context.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-bug, A-minifier, 0-merge

#8957 feat(minifier): remove unnecessary unary `+` inside numeric binary operators
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/src/peephole/replace_known_methods.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8931 chore(build): bump MSRV to 1.81.0
  Cargo.toml
Labels: C-cleanup, 0-merge

#8943 feat(minifier): fold simple literals passed to unary `+`
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier

#8944 feat(minifier): fold complicated array literals passed to unary `+`
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
Labels: C-enhancement, A-minifier

#8947 feat(minifier): fold typeof `{ foo }` when `foo` is declared
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
Labels: C-enhancement, A-minifier

#8948 feat(minifier): fold `typeof (() => {})` to `'function'`
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
Labels: C-enhancement, A-minifier

#8949 feat(minifier): fold `typeof class {}` to `'function'`
  crates/oxc_ecmascript/src/constant_evaluation/mod.rs
  crates/oxc_minifier/src/peephole/fold_constants.rs
Labels: C-enhancement, A-minifier

#8952 fix(rulegen): log error when rule test fetch fails
  tasks/rulegen/src/main.rs
Labels: C-bug

#8968 fix(codegen): parenthesis is lacking when a pure comment is placed before a function expression inside a call expression
  crates/oxc_codegen/src/gen.rs
  crates/oxc_codegen/tests/integration/pure_comments.rs
  crates/oxc_codegen/tests/integration/snapshots/pure_comments.snap
Labels: C-bug, A-codegen, 0-merge

#8959 fix(ecmascript): fix `ValueType::from` for `AssignmentExpression`
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: C-bug, A-minifier, 0-merge

#8960 test(ecmascript): add tests for `ValueType` for undetermined cases
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: A-minifier, 0-merge, C-test

#8961 feat(ecmascript): support more simple expressions by `ValueType::from`
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: C-enhancement, A-minifier, 0-merge

#8962 feat(ecmascript): `ValueType::from` for parenthesized expressions
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: C-enhancement, A-minifier, 0-merge

#8964 feat(ecmascript): `ValueType::from` for PrivateInExpression
  crates/oxc_ecmascript/src/constant_evaluation/value_type.rs
  crates/oxc_minifier/tests/ecmascript/value_type.rs
Labels: C-enhancement, A-minifier, 0-merge

#8929 fix(mangler, prettier, ast_tools): remove methods which are unstable in our MSRV
  crates/oxc_mangler/src/lib.rs
  tasks/ast_tools/src/generators/assert_layouts.rs
  tasks/prettier_conformance/src/lib.rs
Labels: C-bug, A-prettier, 0-merge, A-ast-tools

#8958 chore(deps): bump test262 and acorn-test262 conformance fixtures
  .github/actions/clone-submodules/action.yml
  justfile
  tasks/coverage/snapshots/codegen_test262.snap
  tasks/coverage/snapshots/estree_test262.snap
  tasks/coverage/snapshots/minifier_test262.snap
  tasks/coverage/snapshots/parser_test262.snap
  tasks/coverage/snapshots/prettier_test262.snap
  tasks/coverage/snapshots/semantic_test262.snap
  tasks/coverage/snapshots/transformer_test262.snap
Labels: C-cleanup, 0-merge

#8965 fix(tasks/coverage): convert spans to UTF16 in estree conformance runner
  tasks/coverage/snapshots/estree_test262.snap
  tasks/coverage/src/tools/estree.rs
Labels: C-bug, 0-merge

#8966 feat(tasks): add `just` command `test-estree`
  justfile
Labels: C-enhancement, 0-merge

#8967 feat(tasks): ESTree conformance runner print JSON diff
  tasks/coverage/src/tools/estree.rs
Labels: C-enhancement, 0-merge

#8896 chore(oxc_macros): remove commented-out unused code
  crates/oxc_macros/src/declare_oxc_lint.rs
  crates/oxc_macros/src/lib.rs
Labels: C-cleanup

#8963 fix(linter): `no-global-assign` look into `globals` config
  crates/oxc_linter/src/context/mod.rs
  crates/oxc_linter/src/javascript_globals.rs
  crates/oxc_linter/src/rules/eslint/no_global_assign.rs
  crates/oxc_linter/src/snapshots/eslint_no_global_assign.snap
Labels: C-bug, A-linter, 0-merge

#8928 perf(ast): assume `serde_json` output is valid UTF8 string
  crates/oxc_ast/src/serialize.rs
  tasks/coverage/src/driver.rs
Labels: C-performance, A-ast, 0-merge

#8113 fix(linter): rule `no-restricted-imports`: improve diagnostics
  crates/oxc_linter/src/rules/eslint/no_restricted_imports.rs
  crates/oxc_linter/src/snapshots/eslint_no_restricted_imports.snap
Labels: C-bug, A-linter

#8978 docs(linter): add prettier-ignore where formatting ruins code
  crates/oxc_linter/src/rules/eslint/no_nonoctal_decimal_escape.rs
  crates/oxc_linter/src/rules/unicorn/escape_case.rs
Labels: A-linter, 0-merge, C-docs

#8979 docs(linter): add autogenerated usage for each rule
  tasks/website/src/linter/rules/doc_page.rs
Labels: 0-merge, C-docs

#8976 test(ast): remove old ast snapshot tests
  napi/parser/test/__snapshots__/parse.test.ts.snap
  napi/parser/test/parse.test.ts
Labels: 0-merge, C-test

#8901 feat(minifier): improve `mangleFor`
  crates/oxc_minifier/src/peephole/minimize_for_statement.rs
  crates/oxc_minifier/src/peephole/minimize_statements.rs
  crates/oxc_minifier/tests/peephole/esbuild.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8614 feat(transformer): support for transforming legacy decorator
  crates/oxc_ast/src/ast_builder_impl.rs
  crates/oxc_transformer/src/common/helper_loader.rs
  crates/oxc_transformer/src/decorator/legacy_decorator.rs
  crates/oxc_transformer/src/decorator/mod.rs
  crates/oxc_transformer/src/decorator/options.rs
  crates/oxc_transformer/src/lib.rs
  crates/oxc_transformer/src/options/babel/plugins.rs
  crates/oxc_transformer/src/options/mod.rs
  napi/transform/src/transformer.rs
  tasks/transform_conformance/snapshots/oxc.snap.md
Labels: C-enhancement, A-ast, A-transformer, 0-merge

#8972 fix(ast): estree compat `Function`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_test262.snap
  tasks/coverage/src/tools/estree.rs
Labels: C-bug, A-ast, 0-merge

#8953 refactor(ast): support `#[estree(ts_alias)]` attr on enums and use it on `RegExpPattern` and `RegExpFlags`
  crates/oxc_ast/src/ast/literal.rs
  tasks/ast_tools/src/derives/estree.rs
  tasks/ast_tools/src/generators/typescript.rs
  tasks/ast_tools/src/schema/extensions/estree.rs
Labels: C-cleanup, A-ast, 0-merge, A-ast-tools

#8973 fix(ast): estree compat `UnaryExpression`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_test262.snap
Labels: C-bug, A-ast, 0-merge

#8974 fix(ast): estree compat `Property`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  npm/oxc-types/types.d.ts
  tasks/coverage/snapshots/estree_test262.snap
Labels: C-bug, A-ast, 0-merge

#8975 fix(ast): estree compat `CatchClause`
  crates/oxc_ast/src/ast/js.rs
  crates/oxc_ast/src/generated/derive_estree.rs
  npm/oxc-types/types.d.ts
  tasks/ast_tools/src/generators/typescript.rs
  tasks/coverage/snapshots/estree_test262.snap
Labels: C-bug, A-ast, 0-merge, A-ast-tools

#8985 feat(linter): support es2025 env
  crates/oxc_linter/src/javascript_globals.rs
  tasks/javascript_globals/src/main.rs
Labels: C-enhancement, A-linter, 0-merge

#8989 fix(ecmascript): fix may_have_side_effects for unary expressions
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-bug, A-minifier, 0-merge

#8990 feat(ecmascript): support arrays and objects for unary expression may_have_side_effects
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-enhancement, A-minifier, 0-merge

#8991 fix(ecmascript): fix may_have_side_effects for binary expressions
  crates/oxc_ast/src/ast_impl/literal.rs
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-bug, A-minifier, A-ast, 0-merge

#8992 chore(ecmascript): add comment about the side effect of `ToString(Symbol)`
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
Labels: C-cleanup, 0-merge

#8993 feat(ecmascript): detect objects without overridden `toString`/`valueOf`/`Symbol.toPrimitive`
  crates/oxc_ecmascript/src/side_effects/may_have_side_effects.rs
  crates/oxc_minifier/tests/ecmascript/may_have_side_effects.rs
Labels: C-enhancement, A-minifier, 0-merge

#8995 refactor(minifier): extract `symbols().symbol_is_used(symbol_id)`
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  crates/oxc_semantic/src/symbol.rs
Labels: A-semantic, A-minifier, C-cleanup, 0-merge

#8996 feat(minifier): remove unused function expression with name by remove_dead_code
  crates/oxc_minifier/src/peephole/remove_dead_code.rs
Labels: C-enhancement, A-minifier, 0-merge

#8997 feat(minifier): remove name from function / class expressions
  crates/oxc_minifier/README.md
  crates/oxc_minifier/src/peephole/minimize_conditional_expression.rs
  crates/oxc_minifier/src/peephole/minimize_conditions.rs
  crates/oxc_minifier/src/peephole/substitute_alternate_syntax.rs
  tasks/minsize/minsize.snap
Labels: C-enhancement, A-minifier, 0-merge

#8999 chore(deps): update crate-ci/typos action to v1.29.5
  .github/workflows/ci.yml
Labels: C-cleanup, 0-merge

#9000 chore(deps): update github-actions
  .github/actions/pnpm/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/cargo_llvm_lines.yml
  .github/workflows/ci.yml
  .github/workflows/ci_security.yml
  .github/workflows/link_check.yml
  .github/workflows/release_oxlint.yml
  .github/workflows/release_vscode.yml
  .github/workflows/reusable_release_napi.yml
Labels: C-cleanup, 0-merge

#9001 chore(deps): update npm packages
  pnpm-lock.yaml
Labels: C-cleanup, 0-merge, A-editor

#9002 chore(deps): update rust crates
  Cargo.lock
  Cargo.toml
  crates/oxc_linter/src/snapshots/eslint_no_global_assign.snap
  crates/oxc_linter/src/snapshots/import_no_duplicates.snap
  crates/oxc_linter/src/snapshots/jest_no_confusing_set_timeout.snap
  crates/oxc_linter/src/snapshots/jest_no_identical_title.snap
  crates/oxc_linter/src/snapshots/jest_prefer_lowercase_title@jest.snap
  crates/oxc_linter/src/snapshots/react_exhaustive_deps.snap
  crates/oxc_semantic/tests/integration/snapshots/argument_map.snap
  crates/oxc_semantic/tests/integration/snapshots/arrow_expressions.snap
  crates/oxc_semantic/tests/integration/snapshots/assignment_operators.snap
  crates/oxc_semantic/tests/integration/snapshots/break_from_a_label_in_global_scope.snap
  crates/oxc_semantic/tests/integration/snapshots/class.snap
  crates/oxc_semantic/tests/integration/snapshots/class_extend_super.snap
  crates/oxc_semantic/tests/integration/snapshots/cond_expr_in_arrow_fn.snap
  crates/oxc_semantic/tests/integration/snapshots/conditional_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/do_while_break.snap
  crates/oxc_semantic/tests/integration/snapshots/expression_spread.snap
  crates/oxc_semantic/tests/integration/snapshots/fn_return_obj_expr_with_computed_key.snap
  crates/oxc_semantic/tests/integration/snapshots/for_in.snap
  crates/oxc_semantic/tests/integration/snapshots/function_as_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/function_in_finally.snap
  crates/oxc_semantic/tests/integration/snapshots/if_else.snap
  crates/oxc_semantic/tests/integration/snapshots/if_stmt_in_for_in.snap
  crates/oxc_semantic/tests/integration/snapshots/import_as_function.snap
  crates/oxc_semantic/tests/integration/snapshots/index_into_object_with_symbol_as_arg.snap
  crates/oxc_semantic/tests/integration/snapshots/indexing_into_class_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/infix_operators.snap
  crates/oxc_semantic/tests/integration/snapshots/labeled_block_break.snap
  crates/oxc_semantic/tests/integration/snapshots/labelled_try_break.snap
  crates/oxc_semantic/tests/integration/snapshots/logical_expressions_short_circuit.snap
  crates/oxc_semantic/tests/integration/snapshots/member_access_with_numbered_index.snap
  crates/oxc_semantic/tests/integration/snapshots/member_access_with_unreachable.snap
  crates/oxc_semantic/tests/integration/snapshots/nested_computed_member_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/new_and_meta.snap
  crates/oxc_semantic/tests/integration/snapshots/new_class_then_call_fn.snap
  crates/oxc_semantic/tests/integration/snapshots/object_in_computer_member_expression.snap
  crates/oxc_semantic/tests/integration/snapshots/parenthesized_and_sequence_expr.snap
  crates/oxc_semantic/tests/integration/snapshots/private_in.snap
  crates/oxc_semantic/tests/integration/snapshots/simple_spread.snap
  crates/oxc_semantic/tests/integration/snapshots/spread_in_a_spread.snap
  crates/oxc_semantic/tests/integration/snapshots/string.snap
  crates/oxc_semantic/tests/integration/snapshots/switch_in_while.snap
  crates/oxc_semantic/tests/integration/snapshots/switch_statement.snap
  crates/oxc_semantic/tests/integration/snapshots/template_literal.snap
  crates/oxc_semantic/tests/integration/snapshots/template_string.snap
  crates/oxc_semantic/tests/integration/snapshots/two_functions.snap
  crates/oxc_semantic/tests/integration/snapshots/unary_operator.snap
  crates/oxc_semantic/tests/integration/snapshots/while.snap
  crates/oxc_semantic/tests/integration/snapshots/yield_as_statement_and_expression.snap
  tasks/coverage/snapshots/parser_babel.snap
  tasks/coverage/snapshots/parser_typescript.snap
  tasks/coverage/snapshots/semantic_typescript.snap
Labels: A-linter, A-semantic, C-cleanup, 0-merge
